﻿/*!
 * FullCalendar v2.3.2 Stylesheet
 * Docs & License: http://fullcalendar.io/
 * (c) 2015 Adam Shaw
 */
.fc {
    direction: ltr;
    text-align: left;
}

.fc-rtl {
    text-align: right;
}

body .fc {
    /* extra precedence to overcome jqui */
    font-size: 1em;
}

/* Colors
--------------------------------------------------------------------------------------------------*/
.fc-unthemed th,
.fc-unthemed td,
.fc-unthemed thead,
.fc-unthemed tbody,
.fc-unthemed .fc-divider,
.fc-unthemed .fc-row,
.fc-unthemed .fc-popover {
    border-color: #ddd;
}

.fc-unthemed .fc-popover {
    background-color: #fff;
}

.fc-unthemed .fc-divider,
.fc-unthemed .fc-popover .fc-header {
    background: #eee;
}

.fc-unthemed .fc-popover .fc-header .fc-close {
    color: #666;
}

.fc-unthemed .fc-today {
    background: #fcf8e3;
}

.fc-highlight {
    /* when user is selecting cells */
    background: #bce8f1;
    opacity: .3;
    filter: alpha(opacity=30);
    /* for IE */
}

.fc-bgevent {
    /* default look for background events */
    background: #8fdf82;
    opacity: .3;
    filter: alpha(opacity=30);
    /* for IE */
}

.fc-nonbusiness {
    /* default look for non-business-hours areas */
    /* will inherit .fc-bgevent's styles */
    background: #d7d7d7;
}

/* Icons (inline elements with styled text that mock arrow icons)
--------------------------------------------------------------------------------------------------*/
.fc-icon {
    display: inline-block;
    width: 1em;
    height: 1em;
    line-height: 1em;
    font-size: 1em;
    text-align: center;
    overflow: hidden;
    font-family: "Courier New", Courier, monospace;
    /* don't allow browser text-selection */
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/*
Acceptable font-family overrides for individual icons:
	"Arial", sans-serif
	"Times New Roman", serif

NOTE: use percentage font sizes or else old IE chokes
*/
.fc-icon:after {
    position: relative;
    margin: 0 -1em;
    /* ensures character will be centered, regardless of width */
}

.fc-icon-left-single-arrow:after {
    content: "\02039";
    font-weight: bold;
    font-size: 200%;
    top: -7%;
    left: 3%;
}

.fc-icon-right-single-arrow:after {
    content: "\0203A";
    font-weight: bold;
    font-size: 200%;
    top: -7%;
    left: -3%;
}

.fc-icon-left-double-arrow:after {
    content: "\000AB";
    font-size: 160%;
    top: -7%;
}

.fc-icon-right-double-arrow:after {
    content: "\000BB";
    font-size: 160%;
    top: -7%;
}

.fc-icon-left-triangle:after {
    content: "\25C4";
    font-size: 125%;
    top: 3%;
    left: -2%;
}

.fc-icon-right-triangle:after {
    content: "\25BA";
    font-size: 125%;
    top: 3%;
    left: 2%;
}

.fc-icon-down-triangle:after {
    content: "\25BC";
    font-size: 125%;
    top: 2%;
}

.fc-icon-x:after {
    content: "\000D7";
    font-size: 200%;
    top: 6%;
}

/* Buttons (styled <button> tags, normalized to work cross-browser)
--------------------------------------------------------------------------------------------------*/
.fc button {
    /* force height to include the border and padding */
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    /* dimensions */
    margin: 0;
    height: 2.1em;
    padding: 0 .6em;
    /* text & cursor */
    font-size: 1em;
    /* normalize */
    white-space: nowrap;
    cursor: pointer;
}

/* Firefox has an annoying inner border */
.fc button::-moz-focus-inner {
    margin: 0;
    padding: 0;
}

.fc-state-default {
    /* non-theme */
    border: 1px solid;
}

.fc-state-default.fc-corner-left {
    /* non-theme */
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}

.fc-state-default.fc-corner-right {
    /* non-theme */
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}

/* icons in buttons */
.fc button .fc-icon {
    /* non-theme */
    position: relative;
    top: -0.05em;
    /* seems to be a good adjustment across browsers */
    margin: 0 .2em;
    vertical-align: middle;
}

/*
  button states
  borrowed from twitter bootstrap (http://twitter.github.com/bootstrap/)
*/
.fc-state-default {
    background-color: #f5f5f5;
    background-image: -moz-linear-gradient(top, #ffffff, #e6e6e6);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#e6e6e6));
    background-image: -webkit-linear-gradient(top, #ffffff, #e6e6e6);
    background-image: -o-linear-gradient(top, #ffffff, #e6e6e6);
    background-image: linear-gradient(to bottom, #ffffff, #e6e6e6);
    background-repeat: repeat-x;
    border-color: #e6e6e6 #e6e6e6 #bfbfbf;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    color: #333;
    text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
}

.fc-state-hover,
.fc-state-down,
.fc-state-active,
.fc-state-disabled {
    color: #333333;
    background-color: #e6e6e6;
}

.fc-state-hover {
    color: #333333;
    text-decoration: none;
    background-position: 0 -15px;
    -webkit-transition: background-position 0.1s linear;
    -moz-transition: background-position 0.1s linear;
    -o-transition: background-position 0.1s linear;
    transition: background-position 0.1s linear;
}

.fc-state-down,
.fc-state-active {
    background-color: #cccccc;
    background-image: none;
    box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
}

.fc-state-disabled {
    cursor: default;
    background-image: none;
    opacity: 0.65;
    filter: alpha(opacity=65);
    box-shadow: none;
}

/* Buttons Groups
--------------------------------------------------------------------------------------------------*/
.fc-button-group {
    display: inline-block;
}

/*
every button that is not first in a button group should scootch over one pixel and cover the
previous button's border...
*/
.fc .fc-button-group > * {
    /* extra precedence b/c buttons have margin set to zero */
    float: left;
    margin: 0 0 0 -1px;
}

.fc .fc-button-group > :first-child {
    /* same */
    margin-left: 0;
}

/* Popover
--------------------------------------------------------------------------------------------------*/
.fc-popover {
    position: absolute;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);
}

.fc-popover .fc-header {
    /* TODO: be more consistent with fc-head/fc-body */
    padding: 2px 4px;
}

.fc-popover .fc-header .fc-title {
    margin: 0 2px;
}

.fc-popover .fc-header .fc-close {
    cursor: pointer;
}

.fc-ltr .fc-popover .fc-header .fc-title,
.fc-rtl .fc-popover .fc-header .fc-close {
    float: left;
}

.fc-rtl .fc-popover .fc-header .fc-title,
.fc-ltr .fc-popover .fc-header .fc-close {
    float: right;
}

/* unthemed */
.fc-unthemed .fc-popover {
    border-width: 1px;
    border-style: solid;
}

.fc-unthemed .fc-popover .fc-header .fc-close {
    font-size: .9em;
    margin-top: 2px;
}

/* jqui themed */
.fc-popover > .ui-widget-header + .ui-widget-content {
    border-top: 0;
    /* where they meet, let the header have the border */
}

/* Misc Reusable Components
--------------------------------------------------------------------------------------------------*/
.fc-divider {
    border-style: solid;
    border-width: 1px;
}

hr.fc-divider {
    height: 0;
    margin: 0;
    padding: 0 0 2px;
    /* height is unreliable across browsers, so use padding */
    border-width: 1px 0;
}

.fc-clear {
    clear: both;
}

.fc-bg,
.fc-bgevent-skeleton,
.fc-highlight-skeleton,
.fc-helper-skeleton {
    /* these element should always cling to top-left/right corners */
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
}

.fc-bg {
    bottom: 0;
    /* strech bg to bottom edge */
}

.fc-bg table {
    height: 100%;
    /* strech bg to bottom edge */
}

/* Tables
--------------------------------------------------------------------------------------------------*/
.fc table {
    width: 100%;
    table-layout: fixed;
    border-collapse: collapse;
    border-spacing: 0;
    font-size: 1em;
    /* normalize cross-browser */
}

.fc th {
    text-align: center;
    padding: 4px;
    background-color: #eeeeee;
    background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/PjxzdmcgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB3aWR0aD0iMTAwJSIgaGVpZ2h0PSIxMDAlIiB2aWV3Qm94PSIwIDAgMSAxIiBwcmVzZXJ2ZUFzcGVjdFJhdGlvPSJub25lIj48bGluZWFyR3JhZGllbnQgaWQ9Imxlc3NoYXQtZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPjxzdG9wIG9mZnNldD0iMCUiIHN0b3AtY29sb3I9IiNmMmYyZjIiIHN0b3Atb3BhY2l0eT0iMSIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2ZhZmFmYSIgc3RvcC1vcGFjaXR5PSIxIi8+PC9saW5lYXJHcmFkaWVudD48cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2xlc3NoYXQtZ2VuZXJhdGVkKSIgLz48L3N2Zz4=);
    background-image: -webkit-linear-gradient(top, #f2f2f2 0, #fafafa 100%);
    background-image: -moz-linear-gradient(top, #f2f2f2 0, #fafafa 100%);
    background-image: -o-linear-gradient(top, #f2f2f2 0, #fafafa 100%);
    background-image: linear-gradient(to bottom, #f2f2f2 0, #fafafa 100%);
    font-size: 12px;
}

.fc th,
.fc td {
    border-style: solid;
    border-width: 1px;
    vertical-align: top;
}

.fc td.fc-today {
    border-style: double;
    /* overcome neighboring borders */
}

/* Fake Table Rows
--------------------------------------------------------------------------------------------------*/
.fc .fc-row {
    /* extra precedence to overcome themes w/ .ui-widget-content forcing a 1px border */
    /* no visible border by default. but make available if need be (scrollbar width compensation) */
    border-style: solid;
    border-width: 0;
}

.fc-row table {
    /* don't put left/right border on anything within a fake row.
         the outer tbody will worry about this */
    border-left: 0 hidden transparent;
    border-right: 0 hidden transparent;
    /* no bottom borders on rows */
    border-bottom: 0 hidden transparent;
}

.fc-row:first-child table {
    border-top: 0 hidden transparent;
    /* no top border on first row */
}

/* Day Row (used within the header and the DayGrid)
--------------------------------------------------------------------------------------------------*/
.fc-row {
    position: relative;
}

.fc-row .fc-bg {
    z-index: 1;
}

/* highlighting cells & background event skeleton */
.fc-row .fc-bgevent-skeleton,
.fc-row .fc-highlight-skeleton {
    bottom: 0;
    /* stretch skeleton to bottom of row */
}

.fc-row .fc-bgevent-skeleton table,
.fc-row .fc-highlight-skeleton table {
    height: 100%;
    /* stretch skeleton to bottom of row */
}

.fc-row .fc-highlight-skeleton td,
.fc-row .fc-bgevent-skeleton td {
    border-color: transparent;
}

.fc-row .fc-bgevent-skeleton {
    z-index: 2;
}

.fc-row .fc-highlight-skeleton {
    z-index: 3;
}

/*
row content (which contains day/week numbers and events) as well as "helper" (which contains
temporary rendered events).
*/
.fc-row .fc-content-skeleton {
    position: relative;
    z-index: 4;
    padding-bottom: 2px;
    /* matches the space above the events */
}

.fc-row .fc-helper-skeleton {
    z-index: 5;
}

.fc-row .fc-content-skeleton td,
.fc-row .fc-helper-skeleton td {
    /* see-through to the background below */
    background: none;
    /* in case <td>s are globally styled */
    border-color: transparent;
    /* don't put a border between events and/or the day number */
    border-bottom: 0;
}

.fc-row .fc-content-skeleton tbody td,
.fc-row .fc-helper-skeleton tbody td {
    /* don't put a border between event cells */
    border-top: 0;
}

/* Scrolling Container
--------------------------------------------------------------------------------------------------*/
.fc-scroller {
    /* this class goes on elements for guaranteed vertical scrollbars */
    overflow-y: scroll;
    overflow-x: hidden;
}

.fc-scroller > * {
    /* we expect an immediate inner element */
    position: relative;
    /* re-scope all positions */
    width: 100%;
    /* hack to force re-sizing this inner element when scrollbars appear/disappear */
    overflow: hidden;
    /* don't let negative margins or absolute positioning create further scroll */
}

/* Global Event Styles
--------------------------------------------------------------------------------------------------*/
.fc-event {
    position: relative;
    /* for resize handle and other inner positioning */
    display: block;
    /* make the <a> tag block */
    font-size: .85em;
    line-height: 1.3;
    border-radius: 3px;
    border: 1px solid #3a87ad;
    /* default BORDER color */
    background-color: #3a87ad;
    /* default BACKGROUND color */
    font-weight: normal;
    /* undo jqui's ui-widget-header bold */
}

/* overpower some of bootstrap's and jqui's styles on <a> tags */
.fc-event,
.fc-event:hover,
.ui-widget .fc-event {
    color: #262626;
    /* default TEXT color */
    text-decoration: none;
    /* if <a> has an href */
}

.fc-event[href],
.fc-event.fc-draggable {
    cursor: pointer;
    /* give events with links and draggable events a hand mouse pointer */
}

.fc-not-allowed,
.fc-not-allowed .fc-event {
    /* to override an event's custom cursor */
    cursor: not-allowed;
}

.fc-event .fc-bg {
    /* the generic .fc-bg already does position */
    z-index: 1;
    background: #fff;
    opacity: .25;
    filter: alpha(opacity=25);
    /* for IE */
}

.fc-event .fc-content {
    position: relative;
    z-index: 2;
}

.fc-event .fc-resizer {
    position: absolute;
    z-index: 3;
}

/* Horizontal Events
--------------------------------------------------------------------------------------------------*/
/* events that are continuing to/from another week. kill rounded corners and butt up against edge */
.fc-h-event,
.fc-v-event {
    border-width: 0 0 0 4px;
    margin-bottom: 3px;
    border-radius: 2px;
    padding: 5px 15px 5px 2px;
    background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/PjxzdmcgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB3aWR0aD0iMTAwJSIgaGVpZ2h0PSIxMDAlIiB2aWV3Qm94PSIwIDAgMSAxIiBwcmVzZXJ2ZUFzcGVjdFJhdGlvPSJub25lIj48bGluZWFyR3JhZGllbnQgaWQ9Imxlc3NoYXQtZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPjxzdG9wIG9mZnNldD0iMCUiIHN0b3AtY29sb3I9IiNmZmZmZmYiIHN0b3Atb3BhY2l0eT0iMSIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2VkZWRlZCIgc3RvcC1vcGFjaXR5PSIxIi8+PC9saW5lYXJHcmFkaWVudD48cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2xlc3NoYXQtZ2VuZXJhdGVkKSIgLz48L3N2Zz4=);
    background-image: -webkit-linear-gradient(top, #ffffff 0, #ededed 100%);
    background-image: -moz-linear-gradient(top, #ffffff 0, #ededed 100%);
    background-image: -o-linear-gradient(top, #ffffff 0, #ededed 100%);
    background-image: linear-gradient(to bottom, #ffffff 0, #ededed 100%);
    box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.1);
}

.fc-v-event {
    border-width: 4px 0 0 0;
}

.fc-ltr .fc-h-event.fc-not-start,
.fc-rtl .fc-h-event.fc-not-end {
    margin-left: 0;
    border-left-width: 0;
    padding-left: 1px;
    /* replace the border with padding */
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

.fc-ltr .fc-h-event.fc-not-end,
.fc-rtl .fc-h-event.fc-not-start {
    margin-right: 0;
    border-right-width: 0;
    padding-right: 1px;
    /* replace the border with padding */
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

/* resizer */
.fc-h-event .fc-resizer {
    /* positioned it to overcome the event's borders */
    top: -1px;
    bottom: -1px;
    left: -1px;
    right: -1px;
    width: 5px;
}

/* left resizer  */
.fc-ltr .fc-h-event .fc-start-resizer,
.fc-ltr .fc-h-event .fc-start-resizer:before,
.fc-ltr .fc-h-event .fc-start-resizer:after,
.fc-rtl .fc-h-event .fc-end-resizer,
.fc-rtl .fc-h-event .fc-end-resizer:before,
.fc-rtl .fc-h-event .fc-end-resizer:after {
    right: auto;
    /* ignore the right and only use the left */
    cursor: w-resize;
}

/* right resizer */
.fc-ltr .fc-h-event .fc-end-resizer,
.fc-ltr .fc-h-event .fc-end-resizer:before,
.fc-ltr .fc-h-event .fc-end-resizer:after,
.fc-rtl .fc-h-event .fc-start-resizer,
.fc-rtl .fc-h-event .fc-start-resizer:before,
.fc-rtl .fc-h-event .fc-start-resizer:after {
    left: auto;
    /* ignore the left and only use the right */
    cursor: e-resize;
}

/* DayGrid events
----------------------------------------------------------------------------------------------------
We use the full "fc-day-grid-event" class instead of using descendants because the event won't
be a descendant of the grid when it is being dragged.
*/
.fc-day-grid-event {
    margin: 1px 2px 0;
    /* spacing between events and edges */
    padding: 8px 10px;
}

.fc-day-grid-event .fc-content {
    /* force events to be one-line tall */
    white-space: nowrap;
    overflow: hidden;
}

.fc-day-grid-event .fc-time {
    font-weight: bold;
    display: block;
}

.fc-day-grid-event .fc-resizer {
    /* enlarge the default hit area */
    left: -3px;
    right: -3px;
    width: 7px;
}

/* Event Limiting
--------------------------------------------------------------------------------------------------*/
/* "more" link that represents hidden events */
a.fc-more {
    margin: 1px 3px;
    font-size: .85em;
    cursor: pointer;
    text-decoration: none;
}

a.fc-more:hover {
    text-decoration: underline;
}

.fc-limited {
    /* rows and cells that are hidden because of a "more" link */
    display: none;
}

/* popover that appears when "more" link is clicked */
.fc-day-grid .fc-row {
    z-index: 1;
    /* make the "more" popover one higher than this */
}

.fc-more-popover {
    z-index: 2;
    width: 220px;
}

.fc-more-popover .fc-event-container {
    padding: 10px;
}

/* Toolbar
--------------------------------------------------------------------------------------------------*/
.fc-toolbar {
    text-align: center;
    padding: 10px 0;
}

.fc-toolbar h2 {
    font-size: 16px;
    font-weight: bold !important;
}

.fc-toolbar .fc-left {
    float: left;
}

.fc-toolbar .fc-right {
    float: right;
}

.fc-toolbar .fc-center {
    display: inline-block;
}

/* the things within each left/right/center section */
.fc .fc-toolbar > * > * {
    /* extra precedence to override button border margins */
    float: left;
    margin-left: .75em;
}

/* the first thing within each left/center/right section */
.fc .fc-toolbar > * > :first-child {
    /* extra precedence to override button border margins */
    margin-left: 0;
}

/* title text */
.fc-toolbar h2 {
    margin: 0;
}

/* button layering (for border precedence) */
.fc-toolbar button {
    position: relative;
}

.fc-toolbar .fc-state-hover,
.fc-toolbar .ui-state-hover {
    z-index: 2;
}

.fc-toolbar .fc-state-down {
    z-index: 3;
}

.fc-toolbar .fc-state-active,
.fc-toolbar .ui-state-active {
    z-index: 4;
}

.fc-toolbar button:focus {
    z-index: 5;
}

/* View Structure
--------------------------------------------------------------------------------------------------*/
/* undo twitter bootstrap's box-sizing rules. normalizes positioning techniques */
/* don't do this for the toolbar because we'll want bootstrap to style those buttons as some pt */
.fc-view-container *,
.fc-view-container *:before,
.fc-view-container *:after {
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
}

.fc-view,
.fc-view > table {
    /* so dragged elements can be above the view's main element */
    position: relative;
    z-index: 1;
}

/* BasicView
--------------------------------------------------------------------------------------------------*/
/* day row structure */
.fc-basicWeek-view .fc-content-skeleton,
.fc-basicDay-view .fc-content-skeleton {
    /* we are sure there are no day numbers in these views, so... */
    padding-top: 1px;
    /* add a pixel to make sure there are 2px padding above events */
    padding-bottom: 1em;
    /* ensure a space at bottom of cell for user selecting/clicking */
}

.fc-basic-view .fc-body .fc-row {
    min-height: 4em;
    /* ensure that all rows are at least this tall */
}

/* a "rigid" row will take up a constant amount of height because content-skeleton is absolute */
.fc-row.fc-rigid {
    overflow: hidden;
}

.fc-row.fc-rigid .fc-content-skeleton {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
}

/* week and day number styling */
.fc-basic-view .fc-week-number,
.fc-basic-view .fc-day-number {
    padding: 0 2px;
}

.fc-basic-view td.fc-week-number span,
.fc-basic-view td.fc-day-number {
    padding-top: 2px;
    padding-bottom: 2px;
}

.fc-basic-view .fc-week-number {
    text-align: center;
}

.fc-basic-view .fc-week-number span {
    /* work around the way we do column resizing and ensure a minimum width */
    display: inline-block;
    min-width: 1.25em;
}

.fc-ltr .fc-basic-view .fc-day-number {
    text-align: right;
}

.fc-rtl .fc-basic-view .fc-day-number {
    text-align: left;
}

.fc-bg .fc-other-month {
    background-image: 8121991 !important;
    background-image: -webkit-linear-gradient(-45deg, rgba(0, 0, 0, 0.03) 25%, transparent 25%, transparent 50%, rgba(0, 0, 0, 0.03) 50%, rgba(0, 0, 0, 0.03) 75%, transparent 75%, transparent) !important;
    background-image: -moz-linear-gradient(-45deg, rgba(0, 0, 0, 0.03) 25%, transparent 25%, transparent 50%, rgba(0, 0, 0, 0.03) 50%, rgba(0, 0, 0, 0.03) 75%, transparent 75%, transparent) !important;
    background-image: -o-linear-gradient(-45deg, rgba(0, 0, 0, 0.03) 25%, transparent 25%, transparent 50%, rgba(0, 0, 0, 0.03) 50%, rgba(0, 0, 0, 0.03) 75%, transparent 75%, transparent) !important;
    background-image: linear-gradient(135deg, rgba(0, 0, 0, 0.03) 25%, transparent 25%, transparent 50%, rgba(0, 0, 0, 0.03) 50%, rgba(0, 0, 0, 0.03) 75%, transparent 75%, transparent) !important;
    background-color: #ffffff !important;
    background-size: 20px 20px;
}

/* AgendaView all-day area
--------------------------------------------------------------------------------------------------*/
.fc-agenda-view .fc-day-grid {
    position: relative;
    z-index: 2;
    /* so the "more.." popover will be over the time grid */
}

.fc-agenda-view .fc-day-grid .fc-row {
    min-height: 3em;
    /* all-day section will never get shorter than this */
}

.fc-agenda-view .fc-day-grid .fc-row .fc-content-skeleton {
    padding-top: 1px;
    /* add a pixel to make sure there are 2px padding above events */
    padding-bottom: 1em;
    /* give space underneath events for clicking/selecting days */
}

/* TimeGrid axis running down the side (for both the all-day area and the slot area)
--------------------------------------------------------------------------------------------------*/
.fc .fc-axis {
    /* .fc to overcome default cell styles */
    vertical-align: middle;
    padding: 0 4px;
    white-space: nowrap;
}

.fc-ltr .fc-axis {
    text-align: right;
}

.fc-rtl .fc-axis {
    text-align: left;
}

.ui-widget td.fc-axis {
    font-weight: normal;
    /* overcome jqui theme making it bold */
}

/* TimeGrid Structure
--------------------------------------------------------------------------------------------------*/
.fc-time-grid-container,
.fc-time-grid {
    /* so slats/bg/content/etc positions get scoped within here */
    position: relative;
    z-index: 1;
}

.fc-time-grid {
    min-height: 100%;
    /* so if height setting is 'auto', .fc-bg stretches to fill height */
}

.fc-time-grid table {
    /* don't put outer borders on slats/bg/content/etc */
    border: 0 hidden transparent;
}

.fc-time-grid > .fc-bg {
    z-index: 1;
}

.fc-time-grid .fc-slats,
.fc-time-grid > hr {
    /* the <hr> AgendaView injects when grid is shorter than scroller */
    position: relative;
    z-index: 2;
}

.fc-time-grid .fc-bgevent-skeleton,
.fc-time-grid .fc-content-skeleton {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
}

.fc-time-grid .fc-bgevent-skeleton {
    z-index: 3;
}

.fc-time-grid .fc-highlight-skeleton {
    z-index: 4;
}

.fc-time-grid .fc-content-skeleton {
    z-index: 5;
}

.fc-time-grid .fc-helper-skeleton {
    z-index: 6;
}

/* TimeGrid Slats (lines that run horizontally)
--------------------------------------------------------------------------------------------------*/
.fc-time-grid .fc-slats td {
    height: 1.5em;
    border-bottom: 0;
    /* each cell is responsible for its top border */
}

.fc-time-grid .fc-slats .fc-minor td {
    border-top-style: dotted;
}

.fc-time-grid .fc-slats .ui-widget-content {
    /* for jqui theme */
    background: none;
    /* see through to fc-bg */
}

/* TimeGrid Highlighting Slots
--------------------------------------------------------------------------------------------------*/
.fc-time-grid .fc-highlight-container {
    /* a div within a cell within the fc-highlight-skeleton */
    position: relative;
    /* scopes the left/right of the fc-highlight to be in the column */
}

.fc-time-grid .fc-highlight {
    position: absolute;
    left: 0;
    right: 0;
    /* top and bottom will be in by JS */
}

/* TimeGrid Event Containment
--------------------------------------------------------------------------------------------------*/
.fc-time-grid .fc-event-container,
.fc-time-grid .fc-bgevent-container {
    /* a div within a cell within the fc-bgevent-skeleton */
    position: relative;
}

.fc-ltr .fc-time-grid .fc-event-container {
    /* space on the sides of events for LTR (default) */
    margin: 0 2.5% 0 2px;
}

.fc-rtl .fc-time-grid .fc-event-container {
    /* space on the sides of events for RTL */
    margin: 0 2px 0 2.5%;
}

.fc-time-grid .fc-event,
.fc-time-grid .fc-bgevent {
    position: absolute;
    z-index: 1;
    /* scope inner z-index's */
}

.fc-time-grid .fc-bgevent {
    /* background events always span full width */
    left: 0;
    right: 0;
}

/* Generic Vertical Event
--------------------------------------------------------------------------------------------------*/
.fc-v-event.fc-not-start {
    /* events that are continuing from another day */
    /* replace space made by the top border with padding */
    border-top-width: 0;
    padding-top: 1px;
    /* remove top rounded corners */
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.fc-v-event.fc-not-end {
    /* replace space made by the top border with padding */
    border-bottom-width: 0;
    padding-bottom: 1px;
    /* remove bottom rounded corners */
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

/* TimeGrid Event Styling
----------------------------------------------------------------------------------------------------
We use the full "fc-time-grid-event" class instead of using descendants because the event won't
be a descendant of the grid when it is being dragged.
*/
.fc-time-grid-event {
    overflow: hidden;
    /* don't let the bg flow over rounded corners */
}

.fc-time-grid-event .fc-time,
.fc-time-grid-event .fc-title {
    padding: 0 1px;
}

.fc-time-grid-event .fc-time {
    font-size: .85em;
    white-space: nowrap;
}

/* short mode, where time and title are on the same line */
.fc-time-grid-event.fc-short .fc-content {
    /* don't wrap to second line (now that contents will be inline) */
    white-space: nowrap;
}

.fc-time-grid-event.fc-short .fc-time,
.fc-time-grid-event.fc-short .fc-title {
    /* put the time and title on the same line */
    display: inline-block;
    vertical-align: top;
}

.fc-time-grid-event.fc-short .fc-time span {
    display: none;
    /* don't display the full time text... */
}

.fc-time-grid-event.fc-short .fc-time:before {
    content: attr(data-start);
    /* ...instead, display only the start time */
}

.fc-time-grid-event.fc-short .fc-time:after {
    content: "\000A0-\000A0";
    /* seperate with a dash, wrapped in nbsp's */
}

.fc-time-grid-event.fc-short .fc-title {
    font-size: .85em;
    /* make the title text the same size as the time */
    padding: 0;
    /* undo padding from above */
}

/* resizer */
.fc-time-grid-event .fc-resizer {
    left: 0;
    right: 0;
    bottom: 0;
    height: 8px;
    overflow: hidden;
    line-height: 8px;
    font-size: 11px;
    font-family: monospace;
    text-align: center;
    cursor: s-resize;
}

.fc-time-grid-event .fc-resizer:after {
    content: "=";
}

.fc-event {
    margin-bottom: 2px;
}

.fc-event .fc-title {
    font-weight: 600;
}

.external-event {
    border-left: 4px solid #2dc3e8;
    margin-bottom: 10px;
    border-radius: 2px;
    padding: 5px 15px 5px 5px;
    background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/PjxzdmcgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB3aWR0aD0iMTAwJSIgaGVpZ2h0PSIxMDAlIiB2aWV3Qm94PSIwIDAgMSAxIiBwcmVzZXJ2ZUFzcGVjdFJhdGlvPSJub25lIj48bGluZWFyR3JhZGllbnQgaWQ9Imxlc3NoYXQtZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPjxzdG9wIG9mZnNldD0iMCUiIHN0b3AtY29sb3I9IiNmZmZmZmYiIHN0b3Atb3BhY2l0eT0iMSIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2VkZWRlZCIgc3RvcC1vcGFjaXR5PSIxIi8+PC9saW5lYXJHcmFkaWVudD48cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2xlc3NoYXQtZ2VuZXJhdGVkKSIgLz48L3N2Zz4=);
    background-image: -webkit-linear-gradient(top, #ffffff 0, #ededed 100%);
    background-image: -moz-linear-gradient(top, #ffffff 0, #ededed 100%);
    background-image: -o-linear-gradient(top, #ffffff 0, #ededed 100%);
    background-image: linear-gradient(to bottom, #ffffff 0, #ededed 100%);
    box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.1);
    font-size: 12px;
}

/*#region Tasks*/
.task-container {
    position: relative;
    padding: 0;
}

.task-container .task-search {
    padding: 15px 16px 15px;
    background-color: #f3f3f3;
    border-bottom: 1px solid #eeeeee;
}

.task-container .task-search input {
    border-color: #e5e5e5 !important;
    -webkit-border-radius: 3px !important;
    -webkit-background-clip: padding-box !important;
    -moz-border-radius: 3px !important;
    -moz-background-clip: padding !important;
    border-radius: 3px !important;
    background-clip: padding-box !important;
}

.task-container .tasks-list {
    list-style: none;
    padding: 0;
}

.task-container .tasks-list .task-item {
    position: relative;
    height: 150px;
    border-bottom: 1px solid #e5e5e5;
}

.task-container .tasks-list .task-item:last-child {
    border-bottom: 0px;
}

.task-container .tasks-list .task-item:hover {
    background-color: #f5f5f5;
}

.task-container .tasks-list .task-item .task-check {
    position: absolute;
    top: 20px;
    left: 15px;
    margin-right: 5px;
}

.task-container .tasks-list .task-item .task-state {
    position: absolute;
    top: 19px;
    left: 45px;
}

.task-container .tasks-list .task-item .task-state .label {
    padding: 6px;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.task-container .tasks-list .task-item .task-time {
    position: absolute;
    top: 20px;
    right: 20px;
    font-size: 11px;
    color: #999999;
}

.task-container .tasks-list .task-item .task-body {
    position: absolute;
    top: 60px;
    left: 45px;
    padding-right: 25px;
    height: 40px;
    overflow: hidden;
    line-height: 22px;
}

.task-container .tasks-list .task-item .task-creator {
    position: absolute;
    top: 115px;
    left: 45px;
}

.task-container .tasks-list .task-item .task-creator a {
    font-size: 13px;
    color: #11a9cc;
}

.task-container .tasks-list .task-item .task-creator a:hover {
    text-decoration: none;
}

.task-container .tasks-list .task-item .task-assignedto {
    position: absolute;
    top: 115px;
    right: 20px;
    font-size: 13px;
    color: #999999;
}

@media (max-width: 1200px) {
    .task-container .tasks-list .task-item {
        height: 130px;
    }

    .task-container .tasks-list .task-item .task-creator,
    .task-container .tasks-list .task-item .task-assignedto {
        top: 95px;
    }
}

@media (max-width: 600px) {
    .task-container .tasks-list .task-item {
        height: 150px;
    }

    .task-container .tasks-list .task-item .task-creator,
    .task-container .tasks-list .task-item .task-assignedto {
        top: 115px;
    }
}

@media (max-width: 335px) {
    .task-container .tasks-list .task-item {
        height: 175px;
    }

    .task-container .tasks-list .task-item .task-assignedto {
        top: 140px;
        right: auto;
        left: 45px;
    }
}

/*#region Tickets*/
.tickets-container {
    position: relative;
    padding: 25px 25px;
    background-color: #f5f5f5;
}

.tickets-container .tickets-list {
    list-style: none;
    padding: 0;
    margin-bottom: 0;
}

.tickets-container .tickets-list .ticket-item {
    position: relative;
    background-color: #ffffff;
    -webkit-box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
    -webkit-border-radius: 3px;
    -webkit-background-clip: padding-box;
    -moz-border-radius: 3px;
    -moz-background-clip: padding;
    border-radius: 3px;
    background-clip: padding-box;
    margin-bottom: 8px;
    padding: 0 15px;
    vertical-align: top;
}

.tickets-container .tickets-list .ticket-item:last-child {
    margin-bottom: 0;
}

.tickets-container .tickets-list .ticket-item .ticket-user {
    height: 50px;
    padding: 10px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.tickets-container .tickets-list .ticket-item .ticket-user .user-avatar {
    width: 30px;
    height: 30px;
    -webkit-border-radius: 3px;
    -webkit-background-clip: padding-box;
    -moz-border-radius: 3px;
    -moz-background-clip: padding;
    border-radius: 3px;
    background-clip: padding-box;
}

.tickets-container .tickets-list .ticket-item .ticket-user .user-name {
    margin-left: 5px;
    font-size: 13px;
}

.tickets-container .tickets-list .ticket-item .ticket-user .user-at {
    margin-left: 2px;
    color: #cccccc;
    font-size: 13px;
}

.tickets-container .tickets-list .ticket-item .ticket-user .user-company {
    margin-left: 2px;
    color: #999999;
}

.tickets-container .tickets-list .ticket-item .ticket-time {
    line-height: 30px;
    height: 50px;
    padding: 10px;
}

.tickets-container .tickets-list .ticket-item .ticket-time i {
    color: #cccccc;
}

.tickets-container .tickets-list .ticket-item .ticket-time .time {
    color: #999999;
    font-size: 11px;
    text-transform: uppercase;
}

.tickets-container .tickets-list .ticket-item .ticket-type {
    line-height: 30px;
    height: 50px;
    padding: 10px;
}

.tickets-container .tickets-list .ticket-item .ticket-type .type {
    color: #999999;
    font-size: 11px;
    text-transform: uppercase;
}

.tickets-container .tickets-list .ticket-item .ticket-state {
    position: absolute;
    top: 13px;
    right: -12px;
    height: 24px;
    width: 24px;
    -webkit-border-radius: 50%;
    -webkit-background-clip: padding-box;
    -moz-border-radius: 50%;
    -moz-background-clip: padding;
    border-radius: 50%;
    background-clip: padding-box;
    background-color: #e5e5e5;
    text-align: center;
    -webkit-box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
    border: 2px solid #ffffff;
}

.tickets-container .tickets-list .ticket-item .ticket-state i {
    font-size: 13px;
    color: #ffffff;
    line-height: 20px;
}

.tickets-container .tickets-list .ticket-item .divider {
    position: absolute;
    top: 0;
    left: 0;
    height: 50px;
    width: 1px;
    background-color: #eeeeee;
    display: inline-block;
}

@media (max-width: 1200px) {
    .tickets-container .tickets-list .ticket-item .ticket-user {
        border-bottom: 1px solid #eeeeee;
    }
}

@media (max-width: 768px) {
    .tickets-container .tickets-list .ticket-item .ticket-time {
        border-bottom: 1px solid #eeeeee;
    }
}

/*#region Dashboard Box*/
.dashboard-box {
    background-color: #ffffff;
    -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
    margin-bottom: 30px;
}

.dashboard-box .box-header {
    background-color: #ffffff;
    padding: 20px;
    position: relative;
}

.dashboard-box .box-header .deadline {
    position: absolute;
    top: -3px;
    right: 20px;
    -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
    padding: 5px 10px;
    border-top: 3px solid #2dc3e8;
    color: #999999;
    font-size: 12px;
}

.dashboard-box .box-progress {
    padding: 0;
    position: relative;
}

.dashboard-box .box-progress .progress {
    margin-bottom: 0;
}

.dashboard-box .box-progress .progress .progress-bar {
    position: relative;
}

.dashboard-box .box-progress .progress .progress-bar:after {
    content: '';
    width: 9px;
    height: 9px;
    position: absolute;
    right: 0;
    top: 0;
    background-color: #a0d468;
}

.dashboard-box .box-progress .progress-handle {
    position: absolute;
    top: -31px;
    -lh-property: 0;
    left: -webkit-calc(20% - 35px);
    left: -moz-calc(20% - 35px);
    left: calc(20% - 35px);;
    width: 60px;
    height: 25px;
    background-color: #2dc3e8;
    padding: 2px 5px;
    font-size: 11px;
    line-height: 20px;
    text-align: center;
    text-transform: uppercase;
    color: #ffffff;
    -webkit-border-radius: 3px;
    -webkit-background-clip: padding-box;
    -moz-border-radius: 3px;
    -moz-background-clip: padding;
    border-radius: 3px;
    background-clip: padding-box;
}

.dashboard-box .box-progress .progress-handle:after {
    position: absolute;
    display: block;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
    content: " ";
    bottom: -13px;
    left: 23px;
    border-bottom-width: 0;
    border-top-color: #2dc3e8;
    border-width: 7px;
}

.dashboard-box .box-tabbs {
    background-color: #fbfbfb;
}

.dashboard-box .box-tabbs .tabbable .nav-tabs li {
    background-color: #ffffff;
}

.dashboard-box .box-tabbs .tabbable .nav-tabs li:first-child.active a {
    border-left: 0px;
}

.dashboard-box .box-tabbs .tabbable .nav-tabs li:last-child.active a {
    border-right: 0px;
}

.dashboard-box .box-tabbs .tabbable .nav-tabs li.active a {
    -webkit-box-shadow: none !important;
    -moz-box-shadow: none !important;
    box-shadow: none !important;
    border-top: 0 !important;
    border-right: 1px solid #e5e5e5;
    border-left: 1px solid #e5e5e5;
    background-color: #ffffff;
}

.dashboard-box .box-tabbs .tabbable .tab-content {
    margin-top: 1px;
    background-color: #ffffff;
}

.dashboard-box .box-tabbs .tabbable .tab-content .databox {
    margin-bottom: 20px;
}

.dashboard-box .box-visits .row {
    margin: 0;
}

.dashboard-box .box-visits .row > div {
    padding: 0 !important;
}

.dashboard-box .box-visits .row > div:last-child .databox {
    border-right: 0;
}

.dashboard-box .box-visits .row > div .notification {
    border: 1px solid #e5e5e5;
    border-left: 0;
    border-bottom: 0;
    height: 68px;
    padding: 18px 15px;
}

.dashboard-box .box-visits .row > div .notification .notification-icon {
    float: left;
}

.dashboard-box .box-visits .row > div .notification .notification-icon i {
    width: 34px;
    height: 34px;
    text-align: center;
    line-height: 34px;
    margin-right: 10px;
    font-size: 16px;
    border-radius: 50%;
}

.dashboard-box .box-visits .row > div .notification .notification-icon i:hover {
    cursor: pointer;
}

.dashboard-box .box-visits .row > div .notification .notification-body {
    float: left;
}

.dashboard-box .box-visits .row > div .notification .notification-body .title {
    display: block;
    font-size: 13px;
}

.dashboard-box .box-visits .row > div .notification .notification-body .description {
    display: block;
    font-size: 10px;
    color: #999999;
}

.dashboard-box .box-visits .row > div .notification .notification-extra {
    float: right;
    text-align: right;
}

.dashboard-box .box-visits .row > div .notification .notification-extra i {
    font-size: 14px;
}

.dashboard-box .box-visits .row > div .notification .notification-extra .description {
    display: block;
    font-size: 10px;
    color: #999999;
}

@media (max-width: 767px) {
    .dashboard-box .box-tabbs .tabbable .tab-content #visits .visits-databoxes > div:last-child .databox {
        border-bottom: 1px solid #e5e5e5;
    }

    .dashboard-box .box-tabbs .tabbable .tab-content #visits .visits-databoxes > div .databox {
        border-bottom: 0;
        border-right: 0;
    }
}

/*#region Orders*/
.orders-container {
    position: relative;
    padding: 0px;
    background-color: #ffffff;
    -webkit-box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
    margin-bottom: 30px;
}

.orders-container .orders-header {
    position: relative;
    height: 43px;
    padding: 14px 10px;
    border-bottom: 1px solid #e5e5e5;
    background-color: #fbfbfb;
}

.orders-container .orders-header h6 {
    margin: 0;
}

.orders-container .orders-list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.orders-container .orders-list .order-item {
    position: relative;
    padding: 7px 10px;
    vertical-align: top;
    border-bottom: 1px solid #e5e5e5;
}

.orders-container .orders-list .order-item:before {
    display: none;
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: -4px;
    width: 4px;
    max-width: 4px;
    overflow: hidden;
    background-color: #2dc3e8;
}

.orders-container .orders-list .order-item:hover {
    background-color: #fbfbfb;
}

.orders-container .orders-list .order-item:hover:before {
    display: block;
}

.orders-container .orders-list .order-item.top:hover:before {
    background-color: #fb6e52;
}

.orders-container .orders-list .order-item.top .item-more {
    color: #fb6e52;
}

.orders-container .orders-list .order-item .item-left {
    padding-right: 0;
}

.orders-container .orders-list .order-item .item-left .item-booker {
    margin: 6px 0;
    color: #666666;
}

.orders-container .orders-list .order-item .item-left .item-time {
    font-size: 11px;
    margin-bottom: 2px;
    color: #999999;
}

.orders-container .orders-list .order-item .item-right {
    padding-left: 0;
    text-align: center;
}

.orders-container .orders-list .order-item .item-right .item-price {
    font-size: 13px;
    margin: 17px auto;
    color: #666666;
}

.orders-container .orders-list .order-item .item-more {
    position: absolute;
    right: -10px;
    -lh-property: 0;
    top: -webkit-calc(50% - 13px);
    top: -moz-calc(50% - 13px);
    top: calc(50% - 13px);;
    width: 25px;
    height: 25px;
    font-size: 14px;
    text-align: center;
    border-radius: 50%;
    background-color: #ffffff;
    border: 3px solid #ffffff;
    vertical-align: middle;
    color: #2dc3e8;
    -webkit-box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
}

.orders-container .orders-list .order-item .item-more i {
    font-size: 17px;
    display: inline-block;
    font-family: 'FontAwesome';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
}

.orders-container .orders-list .order-item .item-more i:before {
    content: "\f105" /*rtl:"\f104"*/;
}

.orders-container .orders-footer {
    position: relative;
    background-color: white;
    height: 34px;
    padding: 7px;
    text-align: center;
    background-color: #fbfbfb;
}

.orders-container .orders-footer a {
    margin: 0 auto;
    font-size: 11px;
    color: #999999;
    font-weight: 500;
}

.orders-container .orders-footer a:hover {
    text-decoration: none;
}

.orders-container .orders-footer .help {
    position: absolute;
    right: 0;
    top: 0;
    width: 37px;
    height: 37px;
    border-left: 1px solid #e5e5e5;
    text-align: center;
    padding: 8px;
}

.orders-container .orders-footer .help a i {
    font-size: 18px;
    color: #cccccc;
}

/*#region 404*/
.body-404 {
    background-color: #2dc3e8;
    color: #ffffff;
}

.body-404:before {
    display: none;
}

.error-header {
    background: #ffffff;
    height: 280px;
}

.error-container {
    background: rgba(0, 0, 0, 0.05);
    text-align: center;
}

.error-container h1 {
    font-size: 110px;
    font-weight: 300;
    margin: -103px 0 0 0;
    text-align: center;
    color: #2dc3e8;
}

.error-container h2 {
    font-size: 58px;
    font-weight: 300;
    margin: 0;
    text-transform: uppercase;
}

.error-container p,
.error-container p a {
    font-size: 18px;
    font-weight: 300;
    margin: 0;
}

.error-container p.description {
    color: #e5e5e5;
    font-size: 40px;
    margin: 0;
}

.error-divider {
    margin-top: -27px;
    padding: 30px 0;
}

.return-btn,
.return-btn:hover {
    border: 1px solid rgba(255, 255, 255, 0.3);
    padding: 10px 15px;
    margin-top: 100px;
    margin-bottom: 30px;
    display: inline-block;
    -webkit-border-radius: 5px;
    -webkit-background-clip: padding-box;
    -moz-border-radius: 5px;
    -moz-background-clip: padding;
    border-radius: 5px;
    background-clip: padding-box;
    color: #ffffff;
    font-size: 16px;
    font-weight: 300;
}

.return-btn i {
    margin-right: 5px;
}

.return-btn:hover {
    background: #ffffff;
    color: #2dc3e8;
    text-decoration: none;
}

/*#endregion 404*/
/*#region 500*/
.body-500 {
    background-color: #fb6e52;
    color: #ffffff;
}

.body-500:before {
    display: none;
}

.body-500 .error-container h1 {
    color: #fb6e52;
}

.body-500 .return-btn:hover {
    color: #fb6e52;
}

/*#region SearchHelpBar*/
.searchhelpbar {
    width: 100%;
    position: relative;
    margin: 0 0 10px;
}

.searchhelpbar .help-box {
    min-height: 72px;
    padding: 0;
    padding-bottom: 0;
}

.searchhelpbar .help-box .alert {
    min-height: 72px;
    border-color: #ffffff;
}

.searchhelpbar .search-box {
    background-color: #ffffff;
    min-height: 72px;
    padding: 0;
    -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
}

.searchhelpbar .search-box > div {
    padding: 19px;
}

/*#region Loading*/
@-webkit-keyframes typing {
    0% {
        background-color: #ffffff;
        box-shadow: 12px 0px 0px 0px rgba(255, 255, 255, 0.2), 24px 0px 0px 0px rgba(255, 255, 255, 0.2);
    }
    25% {
        background-color: rgba(255, 255, 255, 0.4);
        box-shadow: 12px 0px 0px 0px #ffffff, 24px 0px 0px 0px rgba(255, 255, 255, 0.2);
    }
    75% {
        background-color: rgba(255, 255, 255, 0.4);
        box-shadow: 12px 0px 0px 0px rgba(255, 255, 255, 0.2), 24px 0px 0px 0px #ffffff;
    }
}

@-moz-keyframes typing {
    0% {
        background-color: #ffffff;
        box-shadow: 12px 0px 0px 0px rgba(255, 255, 255, 0.2), 24px 0px 0px 0px rgba(255, 255, 255, 0.2);
    }
    25% {
        background-color: rgba(255, 255, 255, 0.4);
        box-shadow: 12px 0px 0px 0px #ffffff, 24px 0px 0px 0px rgba(255, 255, 255, 0.2);
    }
    75% {
        background-color: rgba(255, 255, 255, 0.4);
        box-shadow: 12px 0px 0px 0px rgba(255, 255, 255, 0.2), 24px 0px 0px 0px #ffffff;
    }
}

@keyframes typing {
    0% {
        background-color: #ffffff;
        box-shadow: 12px 0px 0px 0px rgba(255, 255, 255, 0.2), 24px 0px 0px 0px rgba(255, 255, 255, 0.2);
    }
    25% {
        background-color: rgba(255, 255, 255, 0.4);
        box-shadow: 12px 0px 0px 0px #ffffff, 24px 0px 0px 0px rgba(255, 255, 255, 0.2);
    }
    75% {
        background-color: rgba(255, 255, 255, 0.4);
        box-shadow: 12px 0px 0px 0px rgba(255, 255, 255, 0.2), 24px 0px 0px 0px #ffffff;
    }
}

.loading-container {
    z-index: 2000;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #2dc3e8;
}

.loading-container.loading-inactive {
    display: none;
}

.loading-container.loading-inactive .loader {
    display: none;
}

.loading-container .loader {
    width: 6px;
    height: 6px;
    border-radius: 50%;
    -webkit-animation: typing 1s linear infinite alternate;
    -moz-animation: Typing 1s linear infinite alternate;
    animation: typing 1s linear infinite alternate;
    margin: 50vh auto;
    /* Not necessary- its only for layouting*/
    position: relative;
    left: -12px;
}

#chat-link.open {
    -webkit-box-shadow: 0 -6px 40px rgba(0, 0, 0, 0.4);
    -moz-box-shadow: 0 -6px 40px rgba(0, 0, 0, 0.4);
    box-shadow: 0 -6px 40px rgba(0, 0, 0, 0.4);
}

#chat-link.open:before {
    content: '';
    display: inline-block;
    right: 0;
    position: absolute;
    width: 50px;
    background-color: #ffffff;
    border: 0;
    top: 0;
    height: 2px;
}

.page-chatbar {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 287px;
    display: none;
    right: 0;
    -webkit-box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
    z-index: 20;
    -lh-property: 0;
    height: -webkit-calc(100vh - 45px);
    height: -moz-calc(100vh - 45px);
    height: calc(100vh - 45px);;
}

.page-chatbar.open {
    display: block;
}

.page-chatbar.open:before {
    display: block;
}

.page-chatbar.open ~ .page-content {
    margin-right: 287px !important;
}

.page-chatbar.open ~ .page-content .breadcrumbs-fixed {
    right: 287px !important;
}

.page-chatbar.open ~ .page-content .page-header-fixed {
    right: 287px !important;
}

.page-chatbar:before {
    content: "";
    position: fixed;
    display: none;
    width: 287px;
    bottom: 0;
    top: 0;
    right: 0;
    background-color: #ffffff;
    z-index: -1;
}

.page-chatbar .chatbar-contacts {
    height: 100%;
}

.page-chatbar .chatbar-contacts .contacts-search {
    position: relative;
    height: 41px;
}

.page-chatbar .chatbar-contacts .contacts-search .searchinput {
    height: 41px;
    z-index: 2;
    background-color: #ffffff;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    border: 1px solid #ffffff;
    border-bottom: 1px solid #e5e5e5;
    padding-left: 40px;
    width: 100%;
}

.page-chatbar .chatbar-contacts .contacts-search .searchinput:focus {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    border-color: #ffffff;
}

.page-chatbar .chatbar-contacts .contacts-search .searchinput:focus ~ .searchhelper {
    display: block;
    z-index: 124;
}

.page-chatbar .chatbar-contacts .contacts-search .searchinput::-webkit-input-placeholder {
    color: #d0d0d0;
    font-weight: 300;
    font-family: 'Open Sans', 'Segoe UI' /*rtl:"Droid Arabic Kufi", "WYekan"*/;
}

.page-chatbar .chatbar-contacts .contacts-search .searchinput::-moz-placeholder {
    /* Firefox 19+ */
    color: #d0d0d0;
    font-weight: 300;
    font-family: 'Open Sans', 'Segoe UI' /*rtl:"Droid Arabic Kufi", "WYekan"*/;
}

.page-chatbar .chatbar-contacts .contacts-search .searchinput:-moz-placeholder {
    /* Firefox 19+ */
    color: #d0d0d0;
    font-weight: 300;
    font-family: 'Open Sans', 'Segoe UI' /*rtl:"Droid Arabic Kufi", "WYekan"*/;
}

.page-chatbar .chatbar-contacts .contacts-search .searchinput:-ms-input-placeholder {
    color: #d0d0d0;
    font-weight: 300;
    font-family: 'Open Sans', 'Segoe UI' /*rtl:"Droid Arabic Kufi", "WYekan"*/;
}

.page-chatbar .chatbar-contacts .contacts-search .searchicon {
    cursor: pointer;
    display: inline-block;
    height: 12px;
    left: 20px;
    position: absolute;
    top: 14px;
    width: 12px;
    color: #2dc3e8;
    z-index: 124;
}

.page-chatbar .chatbar-contacts .contacts-search .searchhelper {
    -webkit-box-shadow: 0 10px 40px rgba(0, 0, 0, 0.4);
    -moz-box-shadow: 0 10px 40px rgba(0, 0, 0, 0.4);
    box-shadow: 0 10px 40px rgba(0, 0, 0, 0.4);
    background-color: #fff;
    color: #999;
    display: none;
    opacity: 1;
    padding: 10px;
    position: absolute;
    right: 0;
    left: 0;
    top: 40px;
    z-index: 4;
}

.page-chatbar .chatbar-contacts .contacts-list {
    list-style: none;
    margin: 0;
    padding: 0;
    overflow: auto;
}

.page-chatbar .chatbar-contacts .contacts-list .contact {
    height: 85px;
    padding: 10px;
    position: relative;
}

.page-chatbar .chatbar-contacts .contacts-list .contact:hover {
    background-color: #f3f3f3;
    cursor: pointer;
}

.page-chatbar .chatbar-contacts .contacts-list .contact .contact-avatar {
    display: inline-block;
    width: 65px;
    height: 65px;
}

.page-chatbar .chatbar-contacts .contacts-list .contact .contact-avatar img {
    width: 65px;
    height: 65px;
}

.page-chatbar .chatbar-contacts .contacts-list .contact .contact-info {
    display: inline-block;
    vertical-align: bottom;
    padding-left: 5px;
}

.page-chatbar .chatbar-contacts .contacts-list .contact .contact-info .contact-name {
    font-size: 1em;
    padding-bottom: 2px;
}

.page-chatbar .chatbar-contacts .contacts-list .contact .contact-info .contact-status {
    font-size: .8em;
    margin-bottom: 2px;
}

.page-chatbar .chatbar-contacts .contacts-list .contact .contact-info .contact-status .online,
.page-chatbar .chatbar-contacts .contacts-list .contact .contact-info .contact-status .offline {
    display: inline-block;
    border-radius: 50%;
    width: 8px;
    height: 8px;
}

.page-chatbar .chatbar-contacts .contacts-list .contact .contact-info .contact-status .online {
    background-color: #a0d468;
}

.page-chatbar .chatbar-contacts .contacts-list .contact .contact-info .contact-status .offline {
    background-color: #d73d32;
}

.page-chatbar .chatbar-contacts .contacts-list .contact .contact-info .contact-status .status {
    display: inline-block;
    margin-left: 4px;
}

.page-chatbar .chatbar-contacts .contacts-list .contact .last-chat-time {
    position: absolute;
    right: 20px;
    bottom: 12px;
    font-size: .8em;
}

.page-chatbar .chatbar-messages {
    height: 100%;
}

.page-chatbar .chatbar-messages .messages-contact {
    height: 85px;
    padding: 10px;
    position: relative;
    background-color: #f3f3f3;
    border-bottom: 1px solid #e5e5e5;
}

.page-chatbar .chatbar-messages .messages-contact .contact-avatar {
    display: inline-block;
    width: 65px;
    height: 65px;
}

.page-chatbar .chatbar-messages .messages-contact .contact-avatar img {
    width: 65px;
    height: 65px;
}

.page-chatbar .chatbar-messages .messages-contact .contact-info {
    display: inline-block;
    vertical-align: bottom;
    padding-left: 5px;
}

.page-chatbar .chatbar-messages .messages-contact .contact-info .contact-name {
    font-size: 1em;
    padding-bottom: 2px;
}

.page-chatbar .chatbar-messages .messages-contact .contact-info .contact-status {
    font-size: .8em;
    margin-bottom: 2px;
}

.page-chatbar .chatbar-messages .messages-contact .contact-info .contact-status .online,
.page-chatbar .chatbar-messages .messages-contact .contact-info .contact-status .offline {
    display: inline-block;
    border-radius: 50%;
    width: 8px;
    height: 8px;
}

.page-chatbar .chatbar-messages .messages-contact .contact-info .contact-status .online {
    background-color: #a0d468;
}

.page-chatbar .chatbar-messages .messages-contact .contact-info .contact-status .offline {
    background-color: #d73d32;
}

.page-chatbar .chatbar-messages .messages-contact .contact-info .contact-status .status {
    display: inline-block;
    margin-left: 4px;
}

.page-chatbar .chatbar-messages .messages-contact .last-chat-time {
    position: absolute;
    right: 20px;
    bottom: 12px;
    font-size: .8em;
}

.page-chatbar .chatbar-messages .messages-contact .back {
    position: absolute;
    top: 14px;
    right: 14px;
}

.page-chatbar .chatbar-messages .messages-contact .back:hover {
    cursor: pointer;
}

.page-chatbar .chatbar-messages .messages-contact .back i {
    font-size: 22px;
    color: #2dc3e8;
}

.page-chatbar .chatbar-messages .messages-list {
    list-style: none;
    padding: 10px 0;
    overflow: auto;
}

.page-chatbar .chatbar-messages .messages-list .message {
    padding: 10px 15px;
}

.page-chatbar .chatbar-messages .messages-list .message .message-info {
    height: 18px;
}

.page-chatbar .chatbar-messages .messages-list .message .message-info .bullet,
.page-chatbar .chatbar-messages .messages-list .message .message-info .contact-name,
.page-chatbar .chatbar-messages .messages-list .message .message-info .message-time {
    display: inline-block;
}

.page-chatbar .chatbar-messages .messages-list .message .message-info .bullet {
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background-color: #a0d468;
    margin-right: 5px;
}

.page-chatbar .chatbar-messages .messages-list .message .message-info .contact-name {
    font-weight: bold;
    margin-right: 5px;
}

.page-chatbar .chatbar-messages .messages-list .message .message-info .message-time {
    font-size: .8em;
    color: #666;
}

.page-chatbar .chatbar-messages .messages-list .message .message-body {
    margin-top: 10px;
    border-radius: 3px;
    background-color: #a0d468;
    color: #ffffff;
    padding: 10px;
    position: relative;
    margin-right: 10%;
}

.page-chatbar .chatbar-messages .messages-list .message .message-body:before {
    position: absolute;
    display: block;
    width: 0;
    height: 0;
    border-style: solid;
    content: '';
    top: -14px;
    left: 10px;
    border-top-width: 0;
    border-bottom-color: #a0d468;
    border-width: 7px;
}

.page-chatbar .chatbar-messages .messages-list .message.reply .message-info .bullet,
.page-chatbar .chatbar-messages .messages-list .message.reply .message-info .contact-name,
.page-chatbar .chatbar-messages .messages-list .message.reply .message-info .message-time {
    float: right;
    margin-right: 0;
    margin-left: 10px;
}

.page-chatbar .chatbar-messages .messages-list .message.reply .message-info .bullet {
    background-color: #5db2ff;
    margin-top: 8px;
}

.page-chatbar .chatbar-messages .messages-list .message.reply .message-info .message-time {
    margin-top: 2px;
}

.page-chatbar .chatbar-messages .messages-list .message.reply .message-body {
    background-color: #5db2ff;
    margin-left: 10%;
    margin-right: 0;
}

.page-chatbar .chatbar-messages .messages-list .message.reply .message-body:before {
    border-bottom-color: #5db2ff;
    right: 10px;
    left: auto;
}

.page-chatbar .chatbar-messages .send-message {
    padding: 15px;
    background-color: #f3f3f3;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 120px;
    border-top: 1px solid #e5e5e5;
}

@media screen and (max-width: 530px) {
    .page-chatbar {
        background-color: #ffffff;
        -lh-property: 0;
        height: -webkit-calc(100vh - 90px);
        height: -moz-calc(100vh - 90px);
        height: calc(100vh - 90px);;
    }

    .page-chatbar.open:before {
        display: none !important;
    }

    .page-chatbar.open ~ .page-content {
        margin-right: 0 !important;
    }

    .page-chatbar.open ~ .page-content .breadcrumbs-fixed {
        right: 0 !important;
    }

    .page-chatbar.open ~ .page-content .page-header-fixed {
        right: 0 !important;
    }
}

/*# sourceMappingURL=4095.css.map */