{% extends 'AgroBundle:Itkitl:layout.html.twig' %}
{% block content  %}
    <br>
    <div class="col-lg-12 col-sm-12 col-xs-12" style="padding-left: 2%; padding-right: 2%">
        <div class="widget flat radius-bordered">
            <div class="widget-header bg-palegreen">
                <span class="widget-caption">Instruction localisée N° {{ itkitlrentity.id }}</span>
                <span style="color: #ffffff; margin-right: 10%; font-weight: bold "> Date de création : {{ itkitlrentity.dATECREATION|date('d-m-Y') }}    </span>
                <div class="widget-buttons buttons-bordered">
                    <button class="btn btn-danger btn-sm" onclick="window.location.href='{{ path
                    ('instructionlocalise') }}'"><i class="fa fa-arrow-left"></i>Retour</button>
                </div>
            </div>
            <div class="widget-body">
                <div id="WiredWizard" class="wizard wizard-wired" data-target="#WiredWizardsteps">
                    <ul class="steps">
                        <li data-target="#wiredstep1" class="active"><span class="step">1</span><span
                                    class="title">Informations générales</span><span class="chevron"></span></li>
                        <li data-target="#wiredstep2"><span class="step">2</span><span
                                    class="title">Phyto / Intrants</span>
                            <span class="chevron"></span></li>
                        <li data-target="#wiredstep3"><span class="step">3</span><span class="title">Materiel / EPI
                        / Cibles </span> <span class="chevron"></span></li>
                    </ul>
                </div>
                <div class="step-content" id="WiredWizardsteps" style="height: auto">
                    <div class="row" style="; padding-right: 3%; ">
                        <div class="step-pane active" id="wiredstep1">
                            <div class="form-horizontal">
                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4" style="text-align:left">
                                        <div class="form-group">
                                            <label for="" class="col-sm-5 control-label">Ferme :</label>
                                            <div class="col-sm-7" >
                                                <input style="background: lightgrey" class="col-sm-12 form-control" id=""
                                                       type="text" value="{{ itkitlr.FERME }}"
                                                       disabled />
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="" class="col-sm-5 control-label">UTL :</label>
                                            <div class="col-sm-7">
                                                <input style="background: lightgrey" class="col-sm-12 form-control" id="cc"
                                                       type="text" value="{{ itkitlr.UTL }}"
                                                       disabled />
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="" class="col-sm-5 control-label">Prescripteur phyto:</label>
                                            <div class="col-sm-7">
                                                <input style="background: lightgrey" class="col-sm-12 form-control" id=""
                                                       type="text" value="{{ itkitlr.PRENOMP }} {{ itkitlr.NOMP }}"
                                                       disabled />
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="" class="col-sm-5 control-label">Applicateur :</label>
                                            <div class="col-sm-7">
                                                <input style="background: lightgrey" class="col-sm-12 form-control" id=""
                                                       type="text" value="{{ itkitlr.PRENOMA }} {{ itkitlr.NOMA }}"
                                                       disabled />
                                            </div>
                                        </div>
                                        <div class="form-group" >
                                            <label for="" id="" class="col-sm-5 control-label">Réalisé
                                                par :</label>
                                            <div class="col-sm-7">
                                                <input style="background: darkorange; color: white"
                                                       class="col-sm-12
                                                        form-control" id="" type="text"
                                                       value="{{ itkitlrentity.uSERMAJ  }}"
                                                       disabled>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="" class="col-sm-5 control-label">Date réalisation
                                                :</label>
                                            <div class="col-sm-7">
                                                <input style="background: darkorange; color: white" class="col-sm-12
                                                form-control" value="{{
                                                itkitlrentity.dATEREALISATION|date('d-m-Y')
                                                }}" disabled/>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-4 col-md4 col-sm-4 col-xs-4" style="text-align:left " >
                                        <div class="form-group" id="datep">
                                            <label for="" class="col-sm-5 control-label">Date instruction :</label>
                                            <div class="col-sm-7">
                                                <div class="input-group">
                                                    <input style="background: lightgrey" class="col-sm-12 form-control" id=""
                                                           type="text" value="{{ itkitlrentity.dATEP|date('d-m-Y') }}"
                                                           disabled />
                                                    <span class="input-group-addon">
                                                        <i class="fa fa-calendar"></i>
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="" class="col-sm-5 control-label">Durée (j) :</label>
                                            <div class="col-sm-7">
                                                <input style="background: lightgrey" class="col-sm-12 form-control" id=""
                                                       type="text" value="{{ itkitlrentity.dUREE }}" disabled />
                                            </div>
                                        </div>
                                        <div class="form-group" id="datepfin">
                                            <label for="" class="col-sm-5 control-label">Date fin :</label>
                                            <div class="col-sm-7">
                                                <div class="input-group">
                                                    <input style="background: lightgrey" class="col-sm-12 form-control" id=""
                                                           type="text" value="{{ itkitlrentity.dATEPFIN|date('d-m-Y')
                                                    }}" disabled />
                                                    <span class="input-group-addon">
                                                        <i class="fa fa-calendar"></i>
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group" >
                                            <label for="" id="" class="col-sm-5 control-label">Modifié
                                                par :</label>
                                            <div class="col-sm-7">
                                                <input style="background: magenta; color: white"
                                                       class="col-sm-12
                                                        form-control" id="" type="text"
                                                       value="{{ itkitlrentity.uPDATEUSER  }}"
                                                       disabled>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="" class="col-sm-5 control-label">Dernière modif :</label>
                                            <div class="col-sm-7">
                                                <input style="background: magenta; color: white" class="col-sm-12 form-control" value="{{
                                                itkitlrentity.uPDATEDATE|date('d-m-Y')
                                                }}" disabled/>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4" style="text-align:left ">
                                        <div class="form-group">
                                            <label for="" class="col-sm-5 control-label">Culture :</label>
                                            <div class="col-sm-7">
                                                <div class="input-group">
                                                    <input style="background: lightgrey" class="col-sm-12 form-control" id="cultureutl"
                                                           type="text" value="{{ itkitlr.CULTURE }}" disabled />
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="" class="col-sm-5 control-label">Unite :</label>
                                            <div class="col-sm-7">
                                                <div class="input-group">
                                                    <input style="background: lightgrey" class="col-sm-12 form-control"
                                                           id="uniteutl"  type="text" value="{{ itkitlrentity.uNITELOT
                                                    }}"
                                                           disabled>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="" class="col-sm-5 control-label">LOT :</label>
                                            <div class="col-sm-7">
                                                <div class="input-group">
                                                    <input style="background: lightgrey" class="col-sm-12 form-control"
                                                           id=""  type="text" value="{{ itkitlrentity.lOTNO }}"
                                                           disabled>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="" class="col-sm-5 control-label">Bouillie  :</label>
                                            <div class="col-sm-7">
                                                <div class="input-group">
                                                    <input class="col-sm-12 form-control"
                                                           id="bouillieutl" type="text" value="{{ itkitlrentity.bOUILLIE }}" disabled>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="" class="col-sm-5 control-label">Quantité :</label>
                                            <div class="col-sm-7">
                                                <input class="col-sm-12 form-control" id="qteutl"
                                                       type="text" value="{{ itkitlrentity.qTELOT }}" disabled/>
                                            </div>
                                        </div>
                                        <div class="form-group" >
                                            <label for="" id="" class="col-sm-5 control-label">Heure début :
                                                par :</label>
                                            <div class="col-sm-7">
                                                <input style="background: rgba(57,25,241,0.75);; color: white"
                                                       class="col-sm-12
                                                        form-control" id="" type="text"
                                                       value="{{ itkitlrentity.hEUREDEBUT|date('H:s')  }}"
                                                       disabled>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="" class="col-sm-5 control-label">Heure fin :</label>
                                            <div class="col-sm-7">
                                                <input style="background: rgba(57,25,241,0.75); color: white" class="col-sm-12
                                                form-control"
                                                       value="{{itkitlrentity.hEUREFIN |date('H:s') }}" disabled/>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row" style="padding-right: 3%; padding-left: 3% ">
                        <div class="step-pane" id="wiredstep2">
                            <div class="form-title">
                                Ajouter phyto / intrants :
                            </div>
                            <div class="row">
                                <div style="margin-left: 5%; margin-right: 5%;">
                                    <div class="widget flat radius-bordered">
                                        <div class="widget-header bg-palegreen">
                                            <span class="widget-caption">Liste des intrants de traitement
                                                localisé</span>
                                        </div>
                                        <div class="widget-body">
                                            <div >
                                                <table class="table table-bordered table-hover " id="" >
                                                    <thead class="bordered-darkorange">
                                                    <tr role="row">
                                                        <th >Rang</th>
                                                        <th >Intrant</th>
                                                        <th >Dose</th>
                                                        <th >Unité</th>
                                                        <th >Bouillie</th>
                                                        <th >Qté totale</th>
                                                        <th >Commentaire</th>
                                                    </tr>
                                                    </thead>
                                                    <tbody id="">
                                                    {% for rs in itkitlra %}
                                                        {% if itkitlra|length == 0 %}
                                                            <tr>
                                                        {% else %}
                                                            <tr id="{{ rs.id }}">
                                                        {% endif %}
                                                        <td>{{ rs.RANG }}</td>
                                                        <td>{{ rs.ARTICLE }}</td>
                                                        <td>{{ rs.QTE }}</td>
                                                        <td>{{ rs.UNITE }}</td>
                                                        <td>{{ rs.BOUILLIE }}</td>
                                                        <td>{{ rs.QTETOT }}</td>
                                                        <td>{{ rs.COMMENTAIRE }}</td>
                                                        </tr>
                                                    {% endfor%}
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <br><br>
                        </div>
                    </div>
                    <div class="row" style="padding-right: 3%; padding-left: 3% ">
                        <div class="step-pane" id="wiredstep3">
                            <div class="form-title">
                                Ajouter Materiel / EPI / Cibles :
                            </div>
                            <div class="form-horizontal">
                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                    <div class="col-lg-5 col-md-5 col-sm-5 col-xs-5" style="text-align:left; ">
                                        <br><br>
                                        <div class="form-group" >
                                            <label for="" class="col-sm-5 control-label">Tracteur :</label>
                                            <div class="col-sm-7" >
                                                <input class="col-sm-12 form-control" id=""
                                                       type="text" value="{{ itkitlr.MATERIEL }}" disabled/>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="" class="col-sm-5 control-label">Appareil traitement :</label>
                                            <div class="col-sm-7" >
                                                <input class="col-sm-12 form-control" id=""
                                                       type="text" value="{{ itkitlr.APPAREIL }}" disabled/>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="" class="col-sm-5 control-label">Chauffeur / Opérateur :</label>
                                            <div class="col-sm-7" >
                                                <input style="" class="col-sm-12 form-control" id=""
                                                       type="text" value="{{ itkitlr.PRENOMC }} {{ itkitlr.NOMC }}"
                                                       disabled />
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="" class="col-sm-5 control-label">Mode d'application :</label>
                                            <div class="col-sm-7" >
                                                <input class="col-sm-12 form-control" id=""
                                                       type="text" value="{{ itkitlrentity.mODEAPPLICATION }}"
                                                       disabled/>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1" style="text-align:left">
                                    </div>
                                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6" style="text-align:left">
                                        <div class="form-horizontal"
                                             style="background-image: url('http://localhost/pgiweb/web/images/clim.png');
                                             background-size: 85%; background-repeat: no-repeat" >
                                            <br><br>
                                            <div class="form-group" >
                                                <label for="" class="col-sm-5 control-label">Vent (km/h) :</label>
                                                <div class="col-sm-3" >
                                                    <input class="col-sm-12 form-control" id=""
                                                           type="text" value="{{ itkitlrentity.vENT }}" disabled/>
                                                </div>
                                            </div>
                                            <div class="form-group" >
                                                <label for="" class="col-sm-5 control-label">Température (°C)
                                                    :</label>
                                                <div class="col-sm-3" >
                                                    <input class="col-sm-12 form-control" id=""
                                                           type="text" value="{{ itkitlrentity.tEMPERATURE }}"
                                                           disabled/>
                                                </div>
                                            </div>
                                            <div class="form-group" >
                                                <label for="" class="col-sm-5 control-label">Humidité (%)
                                                    :</label>
                                                <div class="col-sm-3" >
                                                    <input class="col-sm-12 form-control" id=""
                                                           type="text" value="{{ itkitlrentity.hUMIDITE }}" disabled/>
                                                </div>
                                            </div>
                                            <div class="form-group" >
                                                <label for="" class="col-sm-5 control-label">Pluie :</label>
                                                <div class="col-sm-3" >
                                                    <input class="col-sm-12 form-control" id=""
                                                           type="text" value="{{ itkitlrentity.pLUIE }}" disabled/>
                                                </div>
                                            </div>
                                            <br>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-title">
                                    .
                                </div>
                                <div class="form-horizontal">
                                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                                        <div class=" col-lg-9 col-md-9 col-sm-9 col-xs-9" >
                                            <div class="form-title" style="color: #003300">
                                                Liste des EPI
                                            </div>
                                            <div class="row">
                                                <div style="margin-left: 5%; margin-right: 5%;">
                                                    <div class="widget flat radius-bordered">
                                                        <div class="widget-body">
                                                            <div >
                                                                <table class="table table-bordered table-hover " id="" >
                                                                    <thead class="bordered-darkorange">
                                                                    <tr role="row">
                                                                        <th >Libellé</th>
                                                                    </tr>
                                                                    </thead>
                                                                    <tbody id="">
                                                                    {% for rs in itkitlrepi %}
                                                                        <tr id="{{ rs['EPIID'] }}">
                                                                            <td>{{ rs['EPI'] }}</td>
                                                                        </tr>
                                                                    {% endfor%}
                                                                    </tbody>
                                                                </table>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                                        <div class=" col-lg-9 col-md-9 col-sm-9 col-xs-9" style="text-align:left; padding-left: 5%">
                                            <div class="form-title" style="color: #003300">
                                                Liste des Cibles
                                            </div>
                                            <div class="row">
                                                <div style="margin-left: 5%; margin-right: 5%;">
                                                    <div class="widget flat radius-bordered">
                                                        <div class="widget-body">
                                                            <div >
                                                                <table class="table table-bordered table-hover " id="" >
                                                                    <thead class="bordered-darkorange">
                                                                    <tr role="row">
                                                                        <th >Libellé</th>
                                                                    </tr>
                                                                    </thead>
                                                                    <tbody id="r">
                                                                    {% for rs in itkitlrcible %}
                                                                        <tr id="{{ rs['CIBLEID'] }}">
                                                                            <td>{{ rs['CIBLE'] }}</td>
                                                                        </tr>
                                                                    {% endfor%}
                                                                    </tbody>
                                                                </table>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <br><br><br><br><br>
                </div>
                <div class="actions actions-footer" id="WiredWizard-actions">
                    <div class="btn-group" >
                        <button type="button" class="btn btn-default btn-sm btn-prev"> <i class="fa
                        fa-angle-left"></i>Précédent</button>
                        <button id="finishitkitlr" type="button" class="btn btn-success btn-sm btn-next"
                                data-last="FIN"
                        >Suivant<i class="fa fa-angle-right"></i>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

