{% extends 'AgroBundle:ItkitlR:layout.html.twig' %}
{% block content  %}
    <br>
    <div class="col-lg-12 col-sm-12 col-xs-12" style="padding-left: 5%; padding-right: 5%">
        <div class="widget flat radius-bordered">
            <div class="widget-header bg-maroon">
                <span class="widget-caption">Réaliser une instruction <b><p id="numinst"></p></b></span>
                <div class="widget-buttons buttons-bordered">
                    <button class="btn btn-danger btn-sm" onclick="window.location.href='{{ path
                    ('instructionlocalise') }}'"><i class="fa fa-arrow-left"></i>Retour</button>
                </div>
            </div>
            <div class="widget-body">
                <div class="row">
                    <div class="form-horizontal">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <div class="form-title">
                                Choisir l'intruction à réaliser
                            </div>
                            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                                <div class="form-group">
                                    <label for="" class="col-sm-6 control-label">FERME <sup style="color:
                                    red">*</sup></label>
                                    <div class="col-sm-6">
                                        <select id="ferme" class="form-control">
                                            {% for rs in fermes %}
                                                <option value="{{ rs.id }}">{{ rs.lIBELLE }}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                                <div class="form-group">
                                    <label for="" class="col-sm-6 control-label">N° INSTRUCTION <sup
                                                style="color:red">*</sup></label>
                                    <div class="col-sm-6">
                                        <input type="hidden" id="instructionid" style="width:100%;"/>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
                                <button class="btn btn-danger  btn-circle btn-xs" name="btn_generer"
                                        onClick="genererITKITLR()"><i class="fa fa-arrow-down"></i></button>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
{% endblock %}