{% extends 'AgroBundle:ItkismR:layout.html.twig' %}
{% block content  %}
    <br>
    <div class="col-lg-12 col-sm-12 col-xs-12" style="padding-left: 5%; padding-right: 5%">
        <div class="widget flat radius-bordered">
            <div class="widget-header bg-success">
                <span class="widget-caption">Instruction <b>{{ itkismr.id }}</b></span>
                <span style="color: #ffffff; margin-right: 5%; "> Date de r&eacute;alisation : <b>{{
                    "now"|date("m/d/Y") }}</b>
                </span>
                <span style="color: #ffffff; margin-right: 10%; "> Date de mise &aacute; jour : <b>{{
                    itkismr.dATEMAJ|date('d-m-Y') }}</b>
                </span>
                <span style="color: #ffffff; margin-right: 10%; "> Mise &aacute; jour par : <b>{{ itkismr.uSERMAJ}}</b>
                </span>
                <div class="widget-buttons buttons-bordered">
                    <button class="btn btn-azure btn-sm" onclick="document.location.href='{{ path('ajoutitkismr') }}'">R&eacute;alis&eacute;e une
                        instruction</button>
                </div>
            </div>
            <div id="modal-warning-itkism" class="modal modal-message modal-warning fade" style="display: none;" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <i class="fa fa-warning"></i>
                        </div>
                        <div class="modal-title">Attention</div>
                        <div class="modal-body">Veuillez compléter les informations !!!</div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-warning" data-dismiss="modal">OK</button>
                        </div>
                    </div> <!-- / .modal-content -->
                </div> <!-- / .modal-dialog -->
            </div>
            <div class="widget-body">
                <div class="row">
                    <form method="post">
                        <div class="form-horizontal">
                            <div class="row" style="padding-left: 2%; padding-right: 2%">
                                <div class="form-title">
                                    Info. intruction semis <span>(Etape 1)</span>
                                </div>
                                {{ form_row(edit_form._token) }}
                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                                        <div class="form-group">
                                            <label for="" class="col-sm-6 control-label">DATE CREATION<sup style="color:
                                            red">*</sup></label>
                                            <div class="col-sm-6">{#'disabled':'disabled'#}
                                                <input value="{{ itkismr.dATECREATION|date('d-m-y h:i:s') }}" class="form-control"/>
                                                <input type="hidden" value="{{ itkismr.id }}" name="itkismr" id="itkismr"/>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="" class="col-sm-6 control-label">FERME<sup style="color:
                                            red">*</sup></label>
                                            <div class="col-sm-6">{#'disabled':'disabled'#}
                                                <input value="{{ ferme.liBELLE }}" class="form-control" disabled/>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="" class="col-sm-6 control-label">OP<sup style="color: red">*</sup></label>
                                            <div class="col-sm-6">{#'disabled':'disabled'#}
                                                {{ form_widget(edit_form.cYCLECULTURALID, {'attr': {'class':
                                                    'form-control', 'disabled':'disabled'}}) }}
                                                <input value="{{ op.liBELLE }}" class="form-control" disabled />
                                                <input type="hidden" id="opid" value="{{ op.id }}"/>
                                                <input value="{{ op.liBELLE }}" class="form-control"/>
                                            </div>
                                        </div>
                                    </div>
                                    <div id="modal-danger" class="modal modal-message modal-danger fade" style="display: none;" aria-hidden="true">
                                        <div class="modal-dialog">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <i class="glyphicon glyphicon-fire"></i>
                                                </div>
                                                <div class="modal-title">Alert</div>

                                                <div class="modal-body">Les deux nom d'Ilots doivent &ecirc;tre
                                                    identiques
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-danger" data-dismiss="modal">OK</button>
                                                </div>
                                            </div> <!-- / .modal-content -->
                                        </div> <!-- / .modal-dialog -->
                                    </div>
                                    <div id="modal-success-itkism" class="modal modal-message modal-success fade"
                                         style="display: none;" aria-hidden="true">
                                        <div class="modal-dialog">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <i class="glyphicon glyphicon-check"></i>
                                                </div>
                                                <div class="modal-title">Success</div>

                                                <div class="modal-body">L'ilot et la culture vari&eacute;t&eacute; ont
                                                    &eacute;t&eacute; bien modifi&eacute;</div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-success"
                                                            data-dismiss="modal" onClick="updatecv()">OK</button>
                                                </div>
                                            </div> <!-- / .modal-content -->
                                        </div> <!-- / .modal-dialog -->
                                    </div>
                                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                                        <div class="form-group">
                                            <label for="" class="col-sm-6 control-label">CULTURE VARIETE<sup style="color: red">
                                                    *</sup></label>
                                            <div class="col-sm-6">
                                                <input type="hidden" id="culture" style="width: 100%" />
                                                <input type="hidden" id="culturename" value="{{ culture.lIBELLE }}"
                                                       style="width: 100%"/>
                                                {{ form_widget(edit_form.cULTUREID, {'attr': {'class': 'form-control'}}) }}
                                            </div>
                                            {# <a class="btn btn-warning" data-toggle="modal"
                                                     data-target="#modal-warning1">Warning</a>#}
                                            <div class="modal modal-primary" id="myModal">
                                                <div class="modal-dialog">
                                                    <div class="modal-content">
                                                        <div class="modal-header">
                                                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                                                            <h4 class="modal-title">Modifier l'ilot</h4>
                                                        </div>
                                                        <div class="form-horizontal" id="form">

                                                            <div class="modal-body">

                                                                <div class="form-group">
                                                                    <label  class="col-sm-4 control-label"
                                                                            for="inputlibelle">N&deg;
                                                                        INSTRUCTION</label>
                                                                    <div class="col-sm-6">
                                                                        <input type="text" class="form-control" value="{{ itkismr.id }}" name="code" id="code" disabled/>
                                                                    </div>
                                                                </div>
                                                                <div class="form-group">
                                                                    <label  class="col-sm-4 control-label"
                                                                            for="inputlibelle">ANCIEN ILOT</label>
                                                                    <div class="col-sm-6">
                                                                        <input type="text" class="form-control" value="{{ ilot.lIBELLE }}" disabled/>
                                                                        <input type="hidden" class="form-control"
                                                                               value="{{ ilot.id }}" id="ilotid" name="ilotid" disabled/>
                                                                    </div>
                                                                </div>
                                                                <div class="form-group">
                                                                    <label  class="col-sm-4 control-label" for="inputlibelle">NOUVEAU ILOT</label>
                                                                    <div class="col-sm-6">
                                                                        <input type="text" class="form-control"
                                                                               value="-{{ culture.CODEVARIETE }}" id="ilot" name="ilot"/>
                                                                    </div>
                                                                </div>
                                                                <div class="form-group">
                                                                    <label  class="col-sm-4 control-label" for="inputlibelle">CONFIRMER ILOT</label>
                                                                    <div class="col-sm-6">
                                                                        <input type="text" class="form-control"
                                                                               id="ilotconfirm" name="ilotconfirm"/>
                                                                    </div>
                                                                </div>
                                                            </div>

                                                            <!-- Modal Footer -->
                                                        </div>
                                                        <div class="modal-footer">
                                                            <button type="button" class="btn btn-warning" data-dismiss="modal">Close</button>
                                                            <button type="button" class="btn btn-primary"
                                                                    onclick="updateilotop({{ ilot.id }})">Valider</button>
                                                        </div>
                                                    </div><!-- /.modal-content -->
                                                </div><!-- /.modal-dialog -->
                                            </div><!-- /.modal -->

                                            <div id="modal-warning1" class="modal modal-message modal-warning fade"
                                                 style="display: none;" aria-hidden="true">
                                                <div class="modal-dialog">
                                                    <div class="modal-content">
                                                        <div class="modal-header">
                                                            <i class="fa fa-warning"></i>
                                                        </div>
                                                        <div class="modal-title">Avertissement ! </div>

                                                        <div class="modal-body">La Culture Variete a changé: Vous devez modifier le code de l'ilot</div>
                                                        <div class="modal-footer">
                                                            <button type="button" class="btn btn-warning"
                                                                    id="btnaffiformilot"
                                                                    data-dismiss="modal">OK</button>
                                                        </div>
                                                    </div> <!-- / .modal-content -->
                                                </div> <!-- / .modal-dialog -->
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="" class="col-sm-6 control-label">ILOT</label>
                                            <div class="col-sm-6">
                                                <input type="text" class="form-control" value="{{ ilot.lIBELLE }}"/>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="" class="col-sm-6 control-label">FAMILLE CULTURALE</label>
                                            <div class="col-sm-6">
                                                <input type="text" class="form-control" value="{{ famillec.lIBELLE
                                                }}" id="familleculture"/>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                                        <div class="form-group">
                                            <label for="" class="col-sm-6 control-label">PARCELLE</label>
                                            <div class="col-sm-6">
                                                <input type="text" class="form-control" value="{{ parcelle.lIBELLE }} ({{ surface }})"/>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="" class="col-sm-6 control-label">DAS</label>
                                            <div class="col-sm-6">
                                                <input type="text" class="form-control" value=""/>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="" class="col-sm-6 control-label">RECOLTE PREV. AJ</label>
                                            <div class="col-sm-6">
                                                <input type="text" class="form-control" value=""/>
                                                <input type="text" class="form-control" value="" id="das"
                                                       style="background: #C62828; color: white"/>
                                                <input type="text" class="form-control" value="" id="das"
                                                       style="background: #C62828; color: black"/>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row" style="padding-left: 2%; padding-right: 2%">
                                <div class="form-title">

                                </div>
                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                                        <div class="form-group">
                                            <label for="" class="col-sm-6 control-label">DATE DEBUT<sup style="color: red">*</sup></label>
                                            <div class="col-sm-6">
                                                {{ form_widget(edit_form.dATEP,{'attr': {'class':
                                                    'form-control'}}) }}
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="" class="col-sm-6 control-label">DUREE<sup style="color:
                                            red">*</sup></label>
                                            <div class="col-sm-6">
                                                {{ form_widget(edit_form.dUREE, {'attr': {'class': 'form-control'}}) }}
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="" class="col-sm-6 control-label">DATE FIN<sup style="color: red">*</sup></label>
                                            <div class="col-sm-6">
                                                {{ form_widget(edit_form.dATEPFIN, {'attr': {'class': 'form-control'}}) }}
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                                        <div class="form-group">
                                            <label for="" class="col-sm-6 control-label">HEURE DEBUT<sup style="color: red">*</sup></label>
                                            <div class="col-sm-6">
                                                {{ form_widget(edit_form.hEUREDEBUT, {'id':'datedebut','attr': {'class':
                                                    'form-control'}}) }}
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="" class="col-sm-6 control-label">HEURE FIN<sup style="color: red">*</sup></label>
                                            <div class="col-sm-6">
                                                {{ form_widget(edit_form.hEUREFIN, {'attr': {'class': 'form-control'}}) }}
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                                        <div class="form-group">
                                            <label for="" class="col-sm-6 control-label">SURFACE SEMMEE / HA<sup style="color: red">*</sup></label>
                                            <div class="col-sm-6">
                                                {{ form_widget(edit_form.sURFACE, {'attr': {'class': 'form-control'}}) }}
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="" class="col-sm-6 control-label">SURFACE TOTALE<sup style="color: red">*</sup></label>
                                            <div class="col-sm-6">
                                                {{ form_widget(edit_form.sURFACETOT, {'attr': {'class': 'form-control'}}) }}
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="" class="col-sm-6 control-label"></label>
                                            <div class="col-sm-6">
                                                <p align="center" style="color: #039BE5">{{ itkismr.sURFACE / itkismr.sURFACETOT * 100}} %
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row" style="padding-left: 2%; padding-right: 2%">
                                <div class="form-title">

                                </div>
                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                                        <div class="form-group">
                                            <label for="" class="col-sm-6 control-label">ECARTEMENT SEMIS<sup style="color: red">*</sup></label>
                                            <div class="col-sm-6">
                                                {{ form_widget(edit_form.eSEMIS, {'attr': {'class': 'form-control'}}) }}
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="" class="col-sm-6 control-label">ECARTEMENT LIGNE<sup style="color:red">*</sup></label>
                                            <div class="col-sm-6">
                                                {{ form_widget(edit_form.eLIGNE, {'attr': {'class': 'form-control'}}) }}
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="" class="col-sm-6 control-label">NOMBRE DE RANGS<sup style="color:red">*</sup></label>
                                            <div class="col-sm-6">
                                                {{ form_widget(edit_form.rANGNB, {'attr': {'class': 'form-control'}}) }}
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                                        <div class="form-group">
                                            <label for="" class="col-sm-6 control-label">QTE (/HA)<sup style="color:red">*</sup></label>
                                            <div class="col-sm-6">
                                                {{ form_widget(edit_form.qTESEM, {'attr': {'class':
                                                    'form-control'}}) }}
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="" class="col-sm-6 control-label">QTE SEMENCE TOT.<sup style="color:red">*</sup></label>
                                            <div class="col-sm-6">
                                                {{ form_widget(edit_form.qTESEMTOT, {'attr': {'class': 'form-control'}}) }}
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                                        <div class="form-group">
                                            <label for="" class="col-sm-6 control-label">PRESCRIPTEUR<sup
                                                        style="color:red">*</sup></label>
                                            <div class="col-sm-6">
                                                {{ form_widget(edit_form.pRESCRIPTEURID, {'attr': {'class': 'form-control'}}) }}
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="" class="col-sm-6 control-label">APPLICATEUR<sup style="color:red">*</sup></label>
                                            <div class="col-sm-6">
                                                {{ form_widget(edit_form.aPPLICATEURID, {'attr': {'class': 'form-control'}}) }}
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="" class="col-sm-6 control-label">EFFECTIF<sup style="color:red">*</sup></label>
                                            <div class="col-sm-6">
                                                {{ form_widget(edit_form.eFFECTIF, {'attr': {'class': 'form-control'}}) }}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <hr>
                            <div align="right">
                                <div style="padding-right: 5%">
                                    <button type="submit" class="btn btn-success" onClick="this.disabled=true;this.form.submit();this.value='Patientez...'">
                                        Suivant <i class="fa fa-arrow-right"></i></button>
                                </div>
                            </div>
                        </div>
                    </form>

                </div>
            </div>
        </div>
    </div>
{% endblock %}

