{% extends 'AgroBundle:Itkitlr:layout.html.twig' %}
{% block content  %}
    <br>
    <div class="col-lg-12 col-sm-12 col-xs-12" style="padding-left: 2%; padding-right: 2%">
        <div class="widget flat radius-bordered">
            <div class="widget-header bg-maroon">
                <span class="widget-caption">Instruction N°<b>{{ itkitlrentity.id }}</b></span>
                <span style="color: #ffffff; margin-right: 10%; font-weight: bold "> Date de création : {{
                    itkitlrentity.dATECREATION|date
                    ("d-m-Y") }}
                </span>
                <span style="color: #ffffff; margin-right: 10%; font-weight: bold "> Date de réalisation : {{
                    "now"|date
                    ("d-m-Y") }}
                </span>
                <div class="widget-buttons buttons-bordered">
                    <button class="btn btn-danger btn-sm" onclick="window.location.href='{{ path
                    ('instructionlocalise') }}'"><i class="fa fa-arrow-left"></i>Retour</button>
                </div>
                <div class="widget-buttons buttons-bordered">
                    <button class="btn btn-azure btn-sm" onclick="document.location.href='{{ path('itkitlr_creer')}}'">
                        Réaliser une instruction</button>
                </div>
            </div>
            {# START MODALS #}

            <div class="modal modal-primary" id="modal-intrant-utl">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                            <h4 class="modal-title">Ajouter intrant</h4>
                        </div>
                        <div class="form-horizontal">
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <br>
                                <input type="hidden" value="itkitlr" id="type">
                                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6" style="text-align:left">
                                    <div class="form-group">
                                        <label for="" class="col-sm-5 control-label">Rang :</label>
                                        <div class="col-sm-7" >
                                            <input style="" class="col-sm-12 form-control" id="rang"
                                                   type="text" value="{{ itkitlra|length + 1 }}" disabled/>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="" class="col-sm-5 control-label">Intrant :</label>
                                        <div class="col-sm-7">
                                            <input type="hidden" id="intrantutl" style="width: 100%"/>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="" class="col-sm-5 control-label">Dose :</label>
                                        <div class="col-sm-7" >
                                            <input style="" class="col-sm-12 form-control" id="doseutl"
                                                   type="text" value="" />
                                        </div>
                                    </div>
                                    <input type="hidden" id="doseminihl">
                                    <input type="hidden" id="dosemaxihl">
                                    <input type="hidden" id="dosemini">
                                    <input type="hidden" id="dosemaxi">
                                    <div class="form-group">
                                        <label for="" class="col-sm-5 control-label">Commentaires :</label>
                                        <div class="col-sm-7">
                                                <textarea rows="3" cols="30" class="col-sm-12 form-control" id='comment'
                                                          name="comment"  ></textarea>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6" style="text-align:left">
                                    <div class="form-group">
                                        <label for="" class="col-sm-5 control-label">Nb Appli Maxi :</label>
                                        <div class="col-sm-7">
                                            <input style="background: lightgrey" class="col-sm-12 form-control" id="nbapplimaxi"
                                                   type="text" value="" disabled/>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="" class="col-sm-5 control-label">Matieres actives :</label>
                                        <div class="col-sm-7">
                                            <input style="background: lightgrey" class="col-sm-12 form-control" id="matactives"
                                                   type="text" value="" disabled/>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="" class="col-sm-5 control-label">Unite :</label>
                                        <div class="col-sm-7" >
                                            <input style="background: lightgrey" class="col-sm-12 form-control" id="unite"
                                                   type="text" value=""
                                                   disabled />
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="" class="col-sm-5 control-label">Bouillie :</label>
                                        <div class="col-sm-7" >
                                            <input style="background: lightgrey" class="col-sm-12 form-control" id="bouillie"
                                                   type="text" value="{{ itkitlrentity.bOUILLIE }} "
                                                   disabled />
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="" class="col-sm-5 control-label">Qté total :</label>
                                        <div class="col-sm-7" >
                                            <input style="background: lightgrey" class="col-sm-12 form-control" id="qtetot"
                                                   type="text" value=""
                                                   disabled />
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-warning" data-dismiss="modal">Close</button>
                            <button type="button" class="btn btn-primary " onclick=" ajouterintrantutl({{
                            itkitlrentity.id }})
                                    ">Valider</button>
                        </div>
                    </div><!-- /.modal-content -->
                </div><!-- /.modal-dialog -->
            </div><!-- /.modal -->
            <div id="modal-success-itkitlr" class="modal modal-message modal-success fade" style="display: none;"
                 aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <i class="glyphicon glyphicon-check"></i>
                        </div>
                        <div class="modal-title">Succès</div>
                        <div class="modal-body">L'instruction localisée a bien été bien mise à jour !</div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-success" data-dismiss="modal">OK</button>
                        </div>
                    </div> <!-- / .modal-content -->
                </div> <!-- / .modal-dialog -->
            </div>
            <div id="modal-itkitlr-cloture" class="modal modal-message modal-success fade" style="display: none;"
                 aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <i class="glyphicon glyphicon-check"></i>
                        </div>
                        <div class="modal-title">Succès</div>
                        <div class="modal-body">L'instruction localisée a bien été réalisée !</div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-success" data-dismiss="modal">OK</button>
                        </div>
                    </div> <!-- / .modal-content -->
                </div> <!-- / .modal-dialog -->
            </div>
            <div id="modal-warning-itkitlr" class="modal modal-message modal-warning fade" style="display: none;"
                 aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <i class="fa fa-warning"></i>
                        </div>
                        <div class="modal-title">Attention</div>
                        <div class="modal-body">Veuillez compléter les informations !!!</div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-warning" data-dismiss="modal">OK</button>
                        </div>
                    </div> <!-- / .modal-content -->
                </div> <!-- / .modal-dialog -->
            </div>
            <div id="modal-success-intrant-itkitlr" class="modal modal-message modal-success fade" style="display: none;"
                 aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <i class="glyphicon glyphicon-check"></i>
                        </div>
                        <div class="modal-title">Succès</div>
                        <div class="modal-body">L'intrant a bien été ajoutée !</div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-success" data-dismiss="modal">OK</button>
                        </div>
                    </div> <!-- / .modal-content -->
                </div> <!-- / .modal-dialog -->
            </div>
            <div id="modal-exist-intrant-itkitlr" class="modal modal-message modal-warning fade" style="display: none;"
                 aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <i class="glyphicon glyphicon-fire"></i>
                        </div>
                        <div class="modal-title">Attention !</div>

                        <div class="modal-body">Vous avez déja ajouter cet intrant !
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-warning" data-dismiss="modal">OK</button>
                        </div>
                    </div> <!-- / .modal-content -->
                </div> <!-- / .modal-dialog -->
            </div>
            <div id="modal-danger-epir" class="modal modal-message modal-danger fade" style="display: none;" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <i class="glyphicon glyphicon-fire"></i>
                        </div>
                        <div class="modal-title">Attention !</div>

                        <div class="modal-body">Vous avez déja ajouter cette EPI !
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-danger" data-dismiss="modal">OK</button>
                        </div>
                    </div> <!-- / .modal-content -->
                </div> <!-- / .modal-dialog -->
            </div>
            <div id="modal-danger-cibler" class="modal modal-message modal-danger fade" style="display: none;" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <i class="glyphicon glyphicon-fire"></i>
                        </div>
                        <div class="modal-title">Attention !</div>

                        <div class="modal-body">Vous avez déja ajouter cette cible !
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-danger" data-dismiss="modal">OK</button>
                        </div>
                    </div> <!-- / .modal-content -->
                </div> <!-- / .modal-dialog -->
            </div>
            {#END MODALS#}
            <input type="hidden" id="itkitlrid" value="{{ itkitlrentity.id }}" >
            <div class="widget-body">
                <div class="messageflasherror">
                    {% for flashMessage in app.session.flashbag.get('notice') %}

                        <p style="color: red">{{ flashMessage }}</p>

                    {% endfor %}
                </div>
                <div id="WiredWizard" class="wizard wizard-wired" data-target="#WiredWizardsteps">
                    <ul class="steps">
                        <li data-target="#wiredstep1" class="active"><span class="step">1</span><span
                                    class="title">Informations générales</span><span class="chevron"></span></li>
                        <li data-target="#wiredstep2"><span class="step">2</span><span
                                    class="title">Phyto / Intrants</span>
                            <span class="chevron"></span></li>
                        <li data-target="#wiredstep3"><span class="step">3</span><span class="title">Materiel / EPI
                        / Cibles </span> <span class="chevron"></span></li>
                    </ul>
                </div>
                <div class="step-content" id="WiredWizardsteps" style="height: auto">
                    <div class="row" style="; padding-right: 3%; ">
                        <div class="step-pane active" id="wiredstep1">
                            <div class="form-horizontal">
                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4" style="text-align:left">
                                        <div class="form-group">
                                            <label for="" class="col-sm-5 control-label">Ferme :</label>
                                            <div class="col-sm-7" >
                                                <input style="background: lightgrey" class="col-sm-12 form-control" id=""
                                                       type="text" value="{{ itkitlr.FERME }}"
                                                       disabled />
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="" class="col-sm-5 control-label">UTL :</label>
                                            <div class="col-sm-7">
                                                <input style="background: lightgrey" class="col-sm-12 form-control" id="cc"
                                                       type="text" value="{{ itkitlr.UTL }}"
                                                       disabled />
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="" class="col-sm-5 control-label">Prescripteur phyto :<sup
                                                        style="color:
                                    red">*</sup></label>
                                            <div class="col-sm-7">
                                                {{ form_widget(edit_form.pRESCRIPTEURID, {'attr': {'class': 'form-control'}}) }}
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="" class="col-sm-5 control-label">Applicateur :<sup
                                                        style="color:
                                    red">*</sup></label>
                                            <div class="col-sm-7">
                                                {{ form_widget(edit_form.aPPLICATEURID, {'attr': {'class':
                                                    'form-control'}}) }}
                                            </div>
                                        </div>
                                        <div class="form-group" >
                                            <label for="" id="" class="col-sm-5 control-label">Réalisé
                                                par :</label>
                                            <div class="col-sm-7">
                                                <input style="background: darkorange; color: white"
                                                       class="col-sm-12
                                                        form-control" id="" type="text"
                                                       value="{{ itkitlrentity.uSERMAJ  }}"
                                                       disabled>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="" class="col-sm-5 control-label">Date réalisation
                                                :</label>
                                            <div class="col-sm-7">
                                                <input style="background: darkorange; color: white" class="col-sm-12
                                                form-control" value="{{
                                                itkitlrentity.dATEREALISATION|date('d-m-Y')
                                                }}" disabled/>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-4 col-md4 col-sm-4 col-xs-4" style="text-align:left " >
                                        <div class="form-group" id="datep">
                                            <label for="" class="col-sm-5 control-label">Date instruction :<sup style="color:
                            red">*</sup></label>
                                            <div class="col-sm-7">
                                                <div class="input-group">
                                                    {{ form_widget(edit_form.dATEP, {'attr': {'class': 'form-control'}}) }}
                                                    <span class="input-group-addon">
                                                        <i class="fa fa-calendar"></i>
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="" class="col-sm-5 control-label">Durée (j) :<sup style="color:
                            red">*</sup></label>
                                            <div class="col-sm-7">
                                                {{ form_widget(edit_form.dUREE, {'attr': {'class': 'form-control'}}) }}
                                            </div>
                                        </div>
                                        <div class="form-group" id="datepfin">
                                            <label for="" class="col-sm-5 control-label">Date fin :<sup style="color:
                            red">*</sup></label>
                                            <div class="col-sm-7">
                                                <div class="input-group">
                                                    {{ form_widget(edit_form.dATEPFIN, {'attr': {'class': 'form-control',
                                                        'disabled':'disabled'}}) }}
                                                    <span class="input-group-addon">
                                                        <i class="fa fa-calendar"></i>
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="" class="col-sm-5 control-label">Bouillie  :<sup style="color:
                            red">*</sup></label>
                                            <div class="col-sm-7">
                                                <div class="input-group">
                                                    <input class="col-sm-12 form-control"
                                                           id="bouillieutl" type="text" value="{{ itkitlrentity.bOUILLIE }}" >
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group" >
                                            <label for="" id="" class="col-sm-5 control-label">Modifié
                                                par :</label>
                                            <div class="col-sm-7">
                                                <input style="background: magenta; color: white"
                                                       class="col-sm-12
                                                        form-control" id="" type="text"
                                                       value="{{ itkitlrentity.uPDATEUSER  }}"
                                                       disabled>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="" class="col-sm-5 control-label">Dernière modif :</label>
                                            <div class="col-sm-7">
                                                <input style="background: magenta; color: white" class="col-sm-12 form-control" value="{{
                                                itkitlrentity.uPDATEDATE|date('d-m-Y')
                                                }}" disabled/>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4" style="text-align:left ">
                                        <div class="form-group">
                                            <label for="" class="col-sm-5 control-label">Culture :</label>
                                            <div class="col-sm-7">
                                                <div class="input-group">
                                                    <input style="background: lightgrey" class="col-sm-12 form-control" id="cultureutl"
                                                           type="text" value="{{ culture }}" disabled />
                                                    <input type="hidden" id="cultureid" value="{{ cultureid }}" />
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="" class="col-sm-5 control-label">Unite :</label>
                                            <div class="col-sm-7">
                                                <div class="input-group">
                                                    <input style="background: lightgrey" class="col-sm-12 form-control"
                                                           id="uniteutl"  type="text" value="{{ itkitlrentity.uNITELOT
                                                    }}"
                                                           disabled>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="" class="col-sm-5 control-label">LOT :</label>
                                            <div class="col-sm-7">
                                                <div class="input-group">
                                                    <input style="background: lightgrey" class="col-sm-12 form-control"
                                                           id=""  type="text" value="{{ itkitlrentity.lOTNO }}"
                                                           disabled>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="" class="col-sm-5 control-label">Quantité :<sup style="color:
                                            red">*</sup></label>
                                            <div class="col-sm-7">
                                                <input class="col-sm-12 form-control" id="qteutl"
                                                       type="text" value="{{ itkitlrentity.qTELOT }}" />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row" style="padding-right: 3%; padding-left: 3% ">
                        <div class="step-pane" id="wiredstep2">
                            <div class="form-title">
                                Ajouter phyto / intrants :
                            </div>
                            <div class="row">
                                <div style="margin-left: 5%; margin-right: 5%;">
                                    <div class="widget flat radius-bordered">
                                        <div class="widget-header bg-palegreen">
                                            <span class="widget-caption">Liste des intrants de traitement
                                                localisé</span>
                                            <div class="widget-buttons buttons-bordered">
                                                <button class="btn btn-azure btn-sm" onclick="openmodalintrant
                                                ()">Ajouter un nouvel intrant</button>
                                            </div>
                                        </div>
                                        <div class="widget-body">
                                            <div >
                                                <table class="table table-bordered table-hover " id="" >
                                                    <thead class="bordered-darkorange">
                                                    <tr role="row">
                                                        <th >Rang</th>
                                                        <th >Intrant</th>
                                                        <th >Dose</th>
                                                        <th >Unité</th>
                                                        <th >Bouillie</th>
                                                        <th >Qté totale</th>
                                                        <th >Commentaire</th>
                                                        <th style="width: 20%" >Actions</th>
                                                    </tr>
                                                    </thead>
                                                    <tbody id="tableitkitlra">
                                                    {% for rs in itkitlra %}
                                                        {% if itkitlra|length == 0 %}
                                                            <tr>
                                                        {% else %}
                                                            <tr id="{{ rs.id }}">
                                                        {% endif %}
                                                        <td>{{ rs.RANG }}</td>
                                                        <td>{{ rs.ARTICLE }}</td>
                                                        <td>{{ rs.QTE }}</td>
                                                        <td>{{ rs.UNITE }}</td>
                                                        <td>{{ rs.BOUILLIE }}</td>
                                                        <td>{{ rs.QTETOT }}</td>
                                                        <td>{{ rs.COMMENTAIRE }}</td>
                                                        <td>
                                                            <button type="button" class="btn btn-danger btn-sm"
                                                                    onclick=" supprimeritkitlra
                                                                            ({{rs['id'] }}); "><i class="fa
                                                                        fa-trash"></i>Supprimer
                                                            </button>
                                                        </td>
                                                        </tr>
                                                    {% endfor%}
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <br><br>
                        </div>
                    </div>
                    <div class="row" style="padding-right: 3%; padding-left: 3% ">
                        <div class="step-pane" id="wiredstep3">
                            <div class="form-title">
                                Ajouter Materiel / EPI / Cibles :
                            </div>
                            <div class="form-horizontal">
                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                    <div class="col-lg-5 col-md-5 col-sm-5 col-xs-5" style="text-align:left; ">
                                        <br><br>
                                        <div class="form-group" >
                                            <label for="" class="col-sm-5 control-label">Tracteur :</label>
                                            <div class="col-sm-7" >
                                                <input type="hidden" id="materielepi" style="width: 100%"/>
                                                <input type="hidden" id="materiel1" value="{{ itkitlr.MATERIEL
                                                }}" style="width: 100%"/>
                                                <input type="hidden" id="materiel2" style="width: 100%"/>
                                                <input type="hidden" id="materielidepi" style="width: 100%" value="{{ itkitlrentity
                                                .mATERIELID }}"/>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="" class="col-sm-5 control-label">Appareil traitement :</label>
                                            <div class="col-sm-7" >
                                                <input type="hidden" id="appareil" style="width: 100%"/>
                                                <input type="hidden" id="appareil1" value="{{ itkitlr.APPAREIL }}"
                                                       style="width: 100%"/>
                                                <input type="hidden" id="appareil2" style="width: 100%"/>
                                                <input type="hidden" id="appareilid" style="width: 100%" value="{{ itkitlrentity
                                                .aPPAREILID }}"/>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="" class="col-sm-5 control-label">Chauffeur / Opérateur :</label>
                                            <div class="col-sm-7" >
                                                {{ form_widget(edit_form.cHAUFFEURID, {'attr': {'class':
                                                    'form-control'}}) }}
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="" class="col-sm-5 control-label">Mode d'application :</label>
                                            <div class="col-sm-7" >
                                                {{ form_widget(edit_form.mODEAPPLICATION, {'attr': {'class': 'form-control'}}) }}
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1" style="text-align:left">
                                    </div>
                                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6" style="text-align:left">
                                        <div class="form-horizontal"
                                             style="background-image: url('http://localhost/pgiweb/web/images/clim.png');
                                             background-size: 85%; background-repeat: no-repeat" >
                                            <br><br>
                                            <div class="form-group" >
                                                <label for="" class="col-sm-5 control-label">Vent (km/h) :</label>
                                                <div class="col-sm-3" >
                                                    <select id="vent" >
                                                        {% if itkitlrentity.vENT == "<20" %}
                                                            <option selected="selected"><20</option>
                                                            <option><40</option>
                                                            <option><60</option>
                                                            <option><80</option>
                                                            <option><100</option>
                                                        {% elseif itkitlrentity.vENT == "<40" %}
                                                            <option><20</option>
                                                            <option selected="selected"><40</option>
                                                            <option><60</option>
                                                            <option><80</option>
                                                            <option><100</option>
                                                        {% elseif itkitlrentity.vENT == "<60" %}
                                                            <option><20</option>
                                                            <option><40</option>
                                                            <option selected="selected"><60</option>
                                                            <option><80</option>
                                                            <option><100</option>
                                                        {% elseif itkitlrentity.vENT == "<80" %}
                                                            <option><20</option>
                                                            <option><40</option>
                                                            <option><60</option>
                                                            <option selected="selected"><80</option>
                                                            <option><100</option>
                                                        {% else %}
                                                            <option><20</option>
                                                            <option><40</option>
                                                            <option><60</option>
                                                            <option><80</option>
                                                            <option selected="selected"><100</option>
                                                        {% endif %}
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="form-group" >
                                                <label for="" class="col-sm-5 control-label">Température (°C)
                                                    :</label>
                                                <div class="col-sm-3" >
                                                    <select id="temperature" >
                                                        {% if itkitlrentity.tEMPERATURE == "10-15" %}
                                                            <option selected="selected">10-15</option>
                                                            <option>15-20</option>
                                                            <option>20-25</option>
                                                            <option>25-30</option>
                                                            <option>30-35</option>
                                                        {% elseif itkitlrentity.tEMPERATURE == "15-20" %}
                                                            <option>10-15</option>
                                                            <option selected="selected">15-20</option>
                                                            <option>20-25</option>
                                                            <option>25-30</option>
                                                            <option>30-35</option>
                                                        {% elseif itkitlrentity.tEMPERATURE == "20-25" %}
                                                            <option>10-15</option>
                                                            <option>15-20</option>
                                                            <option selected="selected">20-25</option>
                                                            <option>25-30</option>
                                                            <option>30-35</option>
                                                        {% elseif itkitlrentity.tEMPERATURE == "25-30" %}
                                                            <option>10-15</option>
                                                            <option>15-20</option>
                                                            <option>20-25</option>
                                                            <option selected="selected">25-30</option>
                                                            <option>30-35</option>
                                                        {% else %}
                                                            <option>10-15</option>
                                                            <option>15-20</option>
                                                            <option>20-25</option>
                                                            <option>25-30</option>
                                                            <option selected="selected">30-35</option>
                                                        {% endif %}
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="form-group" >
                                                <label for="" class="col-sm-5 control-label">Humidité (%)
                                                    :</label>
                                                <div class="col-sm-3" >
                                                    <SELECT id="humidite" >
                                                        {% if itkitlrentity.hUMIDITE == "0-20" %}
                                                        <option selected="selected">0-20</option>
                                                        <option>20-40</option>
                                                        <option>40-60</option>
                                                        <option>60-80</option>
                                                        <option>80-100</option>
                                                        {% elseif itkitlrentity.hUMIDITE == "20-40" %}
                                                        <option>0-20</option>
                                                        <option selected="selected">20-40</option>
                                                        <option>40-60</option>
                                                        <option>60-80</option>
                                                        <option>80-100</option>
                                                        {% elseif itkitlrentity.hUMIDITE == "40-60" %}
                                                        <option>0-20</option>
                                                        <option>20-40</option>
                                                        <option selected="selected">40-60</option>
                                                        <option>60-80</option>
                                                        <option>80-100</option>
                                                        {% elseif itkitlrentity.hUMIDITE == "25-30" %}
                                                        <option>0-20</option>
                                                        <option>20-40</option>
                                                        <option>40-60</option>
                                                        <option selected="selected">60-80/option>
                                                        <option>80-100</option>
                                                        {% else %}
                                                        <option>0-20</option>
                                                        <option>20-40</option>
                                                        <option>40-60</option>
                                                        <option>60-80</option>
                                                        <option selected="selected">80-100</option>
                                                        {% endif %}
                                                    </SELECT>
                                                </div>
                                            </div>
                                            <div class="form-group" >
                                                <label for="" class="col-sm-5 control-label">Pluie :</label>
                                                <div class="col-sm-3" >
                                                    <SELECT id="pluie" >
                                                        {% if itkitlrentity.pLUIE == "OUI" %}
                                                            <option selected="selected">OUI</option>
                                                            <option>NON</option>
                                                        {% else %}
                                                            <option>OUI</option>
                                                            <option selected="selected">NON</option>
                                                        {% endif %}
                                                    </SELECT>
                                                </div>
                                            </div>
                                            <br>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-horizontal">
                                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                                        <div class=" col-lg-9 col-md-9 col-sm-9 col-xs-9" >
                                            <div class="form-group">
                                                <label for="" class="col-sm-3 control-label">EPI :<sup style="color:
                                                    red">*</sup></label>
                                                <div class="col-sm-6">
                                                    <input type="hidden" id="epi" style="width: 100%"/>
                                                </div>
                                                <button class="btn btn-sm btn-azure "  onclick="updateepiitkitlr({{
                                                itkitlrentity
                                                .id }})">
                                                    <i class="fa fa-plus" ></i>Ajouter
                                                </button>
                                            </div>
                                            <br><br>
                                            <div class="form-title" style="color: #003300">
                                                Liste des EPI
                                            </div>
                                            <div class="row">
                                                <div style="margin-left: 5%; margin-right: 5%;">
                                                    <div class="widget flat radius-bordered">
                                                        <div class="widget-body">
                                                            <div >
                                                                <table class="table table-bordered table-hover " id="" >
                                                                    <thead class="bordered-darkorange">
                                                                    <tr role="row">
                                                                        <th >Libellé</th>
                                                                        <th style="width: 20%" >Actions</th>
                                                                    </tr>
                                                                    </thead>
                                                                    <tbody id="tableepir">
                                                                    {% for rs in itkitlrepi %}
                                                                        <tr id="{{ rs['EPIID'] }}">
                                                                            <td>{{ rs['EPI'] }}</td>
                                                                            <td>
                                                                                <button type="button" class="btn btn-danger btn-sm"
                                                                                        onclick=" supprimerepiitkitlr
                                                                                                ({{rs['EPIID'] }},{{
                                                                                        itkitlrentity.id }}); "><i
                                                                                            class="fa
                                                                        fa-trash"></i>Supprimer
                                                                                </button>
                                                                            </td>
                                                                        </tr>
                                                                    {% endfor%}
                                                                    </tbody>
                                                                </table>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                                        <div class=" col-lg-9 col-md-9 col-sm-9 col-xs-9" style="text-align:left; padding-left: 5%">
                                            <div class="form-group">
                                                <label for="" class="col-sm-3 control-label">Cibles :<sup style="color:
                                                    red">*</sup></label>
                                                <div class="col-sm-6">
                                                    <input type="hidden" id="cible" style="width: 100%"/>
                                                </div>
                                                <button class="btn btn-sm btn-azure "  onclick="updatecibleitkitlr({{
                                                itkitlrentity.id }})">
                                                    <i class="fa fa-plus" ></i>Ajouter
                                                </button>
                                            </div>
                                            <br><br>
                                            <div class="form-title" style="color: #003300">
                                                Liste des Cibles
                                            </div>
                                            <div class="row">
                                                <div style="margin-left: 5%; margin-right: 5%;">
                                                    <div class="widget flat radius-bordered">
                                                        <div class="widget-body">
                                                            <div >
                                                                <table class="table table-bordered table-hover " id="" >
                                                                    <thead class="bordered-darkorange">
                                                                    <tr role="row">
                                                                        <th >Libellé</th>
                                                                        <th style="width: 20%" >Actions</th>
                                                                    </tr>
                                                                    </thead>
                                                                    <tbody id="tablecibler">
                                                                    {% for rs in itkitlrcible %}
                                                                        <tr id="{{ rs['CIBLEID'] }}">
                                                                            <td>{{ rs['CIBLE'] }}</td>
                                                                            <td>
                                                                                <button type="button" class="btn btn-danger btn-sm"
                                                                                        onclick=" supprimercibleitkitlr
                                                                                                ({{rs['CIBLEID'] }},{{
                                                                                        itkitlrentity.id }}); "><i
                                                                                            class="fa
                                                                        fa-trash"></i>Supprimer
                                                                                </button>
                                                                            </td>
                                                                        </tr>
                                                                    {% endfor%}
                                                                    </tbody>
                                                                </table>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-horizontal">
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <div class="well with-header">
                                    <div class="header bordered-danger" style="text-align: center; font-weight: bold; color:
                                            red">
                                        Attention: Il faut renseigner l'heure de début et l'heure de fin afin de clôturer la
                                        réalisation de l'instruction de semis !!
                                    </div>
                                </div>
                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="margin: auto; width:99%">
                                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6" style="text-align:left">
                                        <div class="form-group">
                                            <label for="" class="col-sm-5 control-label">Heure début semis :</label>
                                            <div class="col-sm-7">
                                                <div class="input-group">
                                                    {#<input class="form-control" id="timepickerdebut" type="text">#}
                                                    <input class="form-control" id="hdebut"
                                                           placeholder="00:00" type="text">
                                                    <span class="input-group-addon">
                                                        <i class="fa fa-clock-o"></i>
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6" style="text-align:left">
                                        <div class="form-group">
                                            <label for="" class="col-sm-5 control-label">Heure fin semis :</label>
                                            <div class="col-sm-7">
                                                <div class="input-group">
                                                    {#<input class="form-control" id="timepickerfin" type="text">#}
                                                    <input class="form-control" id="hfin"
                                                           placeholder="00:00" type="text">
                                                    <span class="input-group-addon">
                                                                    <i class="fa fa-clock-o"></i>
                                                                </span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <br><br><br><br><br>
                </div>
                <div class="actions actions-footer" id="WiredWizard-actions">
                    <div class="btn-group" >
                        <button type="button" class="btn btn-default btn-sm btn-prev"> <i class="fa
                        fa-angle-left"></i>Précédent</button>
                        <button id="finishitkitlr" type="button" class="btn btn-success btn-sm btn-next"
                                data-last="TERMINER"
                        >Suivant<i class="fa fa-angle-right"></i>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

