{% extends 'CultureBundle:FamilleCulture:layout.html.twig' %}
{% block content %}
    <br>
    <div class="col-lg-12 col-sm-12 col-xs-12" style="padding-left: 10%; padding-right: 10%">
        <div class="widget flat radius-bordered">
            <div class="widget-header bg-warning">
                <span class="widget-caption">Modifier ITK MO de la famille culturale</span>
                <div class="widget-buttons buttons-bordered">
                    <button class="btn btn-maroon btn-sm" onclick="document.location.href='{{ path('familleculture') }}'"><i
                                class="fa
                fa-arrow-left" aria-hidden="true"></i>Retour</button>
                    <button class="btn btn-azure btn-sm" onclick="document.location.href='{{ path('ajoutfamilleculture')
                    }}'">Nouvelle Famille culture</button>
                </div>
            </div>
            <div class="widget-body">
            <div class="row">
                    <div class="form-horizontal">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style=" padding-right: 10%">
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                                <div class="form-group">
                                    <label for="" class="col-sm-6 control-label">LIBELLE<sup style="color:
                                        red">*</sup></label>
                                    <div class="col-sm-6">
                                        <input type="text" class="form-control" value="{{ familleculture.lIBELLE }}"/>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="" class="col-sm-6 control-label">COMMENTAIRE</label>
                                    <div class="col-sm-6">
                                        <input type="text" class="form-control" value="{{ familleculture.cOMMENTAIRE }}"/>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="" class="col-sm-6 control-label">DUREE CYCLE MAX (j)<sup style="color:
                                        red">*</sup></label>
                                    <div class="col-sm-6">
                                        <input type="text" class="form-control" value="{{ familleculture.dUREECYCLEMAX }}"/>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                                <div class="form-group">
                                    <label for="" class="col-sm-6 control-label">ECARTEMENT LIGNE (CM)<sup style="color:
                                        red">*</sup></label>
                                    <div class="col-sm-6">
                                        <input type="text" class="form-control" value="{{ familleculture.eCARTEMENTLIGNE }}" id="ecartementligne"/>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="" class="col-sm-6 control-label">ECARTEMENT SEMIS (CM)<sup style="color:
                                        red">*</sup></label>
                                    <div class="col-sm-6">
                                        <input type="text" class="form-control" value="{{ familleculture.eCARTEMENTSEMIS }}" id="ecartementsemis"/>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="" class="col-sm-6 control-label">DENSITE SEMIS /HA<sup style="color:
                                        red">*</sup></label>
                                    <div class="col-sm-6">
                                        <input type="text" class="form-control" value="{{ familleculture.eCARTEMENTSEMIS }}" id="deniste1"/>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="" class="col-sm-6 control-label">DATE INVALIDE</label>
                                    <div class="col-sm-6">
                                        <input type="text" class="form-control" value="{{ familleculture.dATEINVALIDE }}" id="deniste1"/>
                                    </div>
                                </div>

                            </div>
                        </div>
                        <hr/>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <div class="form-title">
                            Itin&eacute;raires techniques
                        </div>
                        <div class="tabbable">
                            <ul class="nav nav-tabs nav-justified" id="myTab5">
                                <li class="tab-yellow">
                                    <a data-toggle="tab" href="#tabphyto">
                                        Phyto
                                    </a>
                                </li>
                                <li class="tab-green">
                                    <a data-toggle="tab" href="#tabferti">
                                        Ferti
                                    </a>
                                </li>
                                <li class="active">
                                    <a data-toggle="tab" href="#tabma">
                                        Main d'oeuvre
                                    </a>
                                </li>
                            </ul>
                            <div class="tab-content" style="background-color: rgba(231, 231, 231, 0.38)">
                                <div id="tabphyto" class="tab-pane">
                                    <div class="row">
                                        <br>
                                        <div class="row" style="padding-left: 25%; padding-right: 25%">
                                            <div class="col-lg-12 col-sm-12 col-xs-12">

                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div id="tabferti" class="tab-pane">
                                    <div class="row">
                                        <br>
                                        <div class="row" style="padding-left: 25%; padding-right: 25%">
                                            <div class="col-lg-12 col-sm-12 col-xs-12">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div id="tabma" class="tab-pane  in active">
                                    <div class="row">
                                        <br>
                                        <div class="col-lg-12 col-sm-12 col-xs-12">
                                            <div style="text-align: center">
                                                <div class="messageflasherror" style="color: #cd0000">
                                                    {% for flashMessage in app.session.flashbag.get('notice') %}
                                                        <p style="color: red"> <i class="fa fa-exclamation-triangle" ></i>  {{ flashMessage
                                                            }}</p>
                                                    {% endfor %}
                                                </div>
                                                {{ form_start(edit_form, {'attr': {'class': 'form-inline'}}) }}
                                                <div class="form-group">
                                                    <label class=" control-label" for="exampleInputEmail2">LIBELLE <sup style="color:red">*</sup></label>
                                                    {{ form_widget(edit_form.lIBELLE, {'attr': {'class': 'form-control'}}) }}
                                                </div>
                                                <div class="form-group">
                                                    <label class=" control-label" for="exampleInputPassword2">TYPE IRRIGATION <sup style="color:red">*</sup></label>
                                                    {{ form_widget(edit_form.tYPEIRRIGATIONID, {'attr': {'class': 'form-control'}}) }}
                                                </div>
                                                <input type="submit" class="btn btn-azure" value="Valider" onClick="this.disabled=true;this.form.submit();this.value='Patientez...'"/>
                                                {{ form_rest(edit_form) }}
                                                {{ form_end(edit_form) }}
                                            </div>
                                            <br>

                                            <div style="padding-right: 2%; padding-left: 2%">
                                                {% if itmoByFamille|length != 0 %}
                                                    <div class="widget">
                                                        <div class="widget-header bordered-bottom bordered-blue">
                                                            <span class="widget-caption"></span>

                                                            <div class="widget-buttons">
                                                                <a href="#" data-toggle="maximize">
                                                                    <i class="fa fa-expand"></i>
                                                                </a>
                                                            </div>
                                                        </div>

                                                        <div class="widget-body no-padding">
                                                            <div class="widget-main ">
                                                                <div class="panel-group accordion" id="accordion">
                                                                    {% for rsitmo in itmoByFamille %}
                                                                        <div class="panel panel-default">
                                                                            <div class="panel-heading ">
                                                                                <h4 class="panel-title">
                                                                                    <a class="accordion-toggle collapsed context-menu-one" data-toggle="collapse" data-parent="#accordion" href="#collapse{{ rsitmo.id }}">
                                                                                        {{ rsitmo.lIBELLE }} {{ rsitmo.TYPEIRRIGATION|upper }}
                                                                                    </a>
                                                                                </h4>
                                                                            </div>
                                                                            <div id="collapse{{ rsitmo.id }}" class="panel-collapse collapse">
                                                                                <div class="panel-body border-red"  style="padding-left: 10%; padding-right: 10%">
                                                                                    <div class="widget">
                                                                                        <div class="widget-header bordered-bottom bordered-blue">
                                                                                            <span class="widget-caption"></span>
                                                                                            <div class="widget-buttons">
                                                                                                <a href="#" data-toggle="modal" data-target="#myModal{{ rsitmo.id }}">
                                                                                                    <i class="fa fa-plus"></i>
                                                                                                </a>
                                                                                                <a href="#" data-toggle="maximize">
                                                                                                    <i class="fa fa-expand"></i>
                                                                                                </a>
                                                                                            </div>
                                                                                        </div>
                                                                                        {% if itmoligne|length != 0 %}
                                                                                            <div class="widget-body no-padding">
                                                                                                <div class="widget-main ">
                                                                                                    <div class="panel-group" id="accordion">
                                                                                                        {% for rsperiode in periode %}
                                                                                                            {% set var = [] %}
                                                                                                            {% set var = var|merge([rsperiode.id]) %}
                                                                                                            {% if rsitmo.id in var %}
                                                                                                                <div class="panel panel-default">
                                                                                                                    <div class="panel-heading ">
                                                                                                                        <h4 class="panel-title">
                                                                                                                            <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion{{ rsitmo.id }}" href="#collapse{{ rsperiode.periode }}{{ rsitmo.id }}">
                                                                                                                                <b>{{ rsperiode.periode }}</b> semaine
                                                                                                                            </a>
                                                                                                                        </h4>
                                                                                                                    </div>
                                                                                                                    <div id="collapse{{ rsperiode.periode }}{{ rsitmo.id }}" class="panel-collapse collapse">
                                                                                                                        <div class="panel-body border-red">
                                                                                                                            <div style="padding-left:15%;padding-right: 15%">
                                                                                                                                <table class="table table-bordered">
                                                                                                                                    <thead>
                                                                                                                                     <tr>
                                                                                                                                         <th>Geste</th>
                                                                                                                                         <th>Quantite</th>
                                                                                                                                     </tr>
                                                                                                                                     </thead>
                                                                                                                                    <tbody>
                                                                                                                                    {% for rsitmoligne in itmoligne %}
                                                                                                                                        {% set var1 = [] %}
                                                                                                                                        {% set var2 = [] %}
                                                                                                                                        {% set var1 = var1|merge([rsitmoligne.iTMOID]) %}
                                                                                                                                        {% set var2 = var2|merge([rsitmoligne.pERIODE]) %}
                                                                                                                                        {% if rsperiode.id in var1 and rsperiode.periode in var2 %}
                                                                                                                                            <tr>
                                                                                                                                                {% if rsitmoligne.lIBELLE == 'PREPARATION' %}
                                                                                                                                                    <td style="background: #fce4d6">{{ rsitmoligne.lIBELLE }}</td>
                                                                                                                                                {% elseif rsitmoligne.lIBELLE == 'SEMIS / PLANTATION' %}
                                                                                                                                                    <td style="background: #f4b084">{{ rsitmoligne.lIBELLE }}</td>
                                                                                                                                                {% elseif rsitmoligne.lIBELLE == 'DESHERBAGE' %}
                                                                                                                                                    <td style="background: #d0cece">{{ rsitmoligne.lIBELLE }}</td>
                                                                                                                                                {% elseif rsitmoligne.lIBELLE == 'ENTRETIEN' %}
                                                                                                                                                    <td style="background: #2f75b5">{{ rsitmoligne.lIBELLE }}</td>
                                                                                                                                                {% elseif rsitmoligne.lIBELLE == 'FERTI-IRRIG-PHYTO' %}
                                                                                                                                                    <td style="background: #c6e0b4">{{ rsitmoligne.lIBELLE }}</td>
                                                                                                                                                {% elseif rsitmoligne.lIBELLE == 'RECOLTE' %}
                                                                                                                                                    <td style="background: #bdd7ee">{{ rsitmoligne.lIBELLE }}</td>
                                                                                                                                                {% elseif rsitmoligne.lIBELLE == 'MANUTENTION PRODUCTION' %}
                                                                                                                                                    <td style="background: #ffc000">{{ rsitmoligne.lIBELLE }}</td>
                                                                                                                                                {% elseif rsitmoligne.lIBELLE == 'POST RECOLTE' %}
                                                                                                                                                    <td>{{ rsitmoligne.lIBELLE }}</td>
                                                                                                                                                {% elseif rsitmoligne.lIBELLE == 'ENCADREMENT' %}
                                                                                                                                                    <td style="background: #c9c9c9">{{ rsitmoligne.lIBELLE }}</td>
                                                                                                                                                {% elseif rsitmoligne.lIBELLE == 'GARDIENNAGE' %}
                                                                                                                                                    <td style="background: #00b050">{{ rsitmoligne.lIBELLE }}</td>
                                                                                                                                                {% endif %}
                                                                                                                                                <td>{{ rsitmoligne.qUANTITE }}</td>
                                                                                                                                            </tr>
                                                                                                                                        {% endif %}
                                                                                                                                    {% endfor %}
                                                                                                                                    </tbody>
                                                                                                                                </table>
                                                                                                                            </div>
                                                                                                                        </div>
                                                                                                                    </div>
                                                                                                                </div>
                                                                                                            {% endif %}
                                                                                                        {% endfor %}

                                                                                                    </div>
                                                                                                </div>
                                                                                            </div>
                                                                                        {% endif %}
                                                                                    </div>
                                                                                 </div>
                                                                            </div>
                                                                        </div>

                                                                    {% endfor %}
                                                                </div>
                                                            </div>
                                                        </div>

                                                    </div>
                                                {% endif %}

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}