{% extends 'CultureBundle:Site:layout.html.twig' %}
{% block content %}
    <div class="col-lg-12 col-sm-12 col-xs-12" style="padding-left: 15%; padding-right: 15%">
        <div class="widget flat radius-bordered">
            <div class="widget-header bg-warning">
                <span class="widget-caption">Modifier le site</span>
                <div class="widget-buttons buttons-bordered">
                    <button class="btn btn-sky btn-sm" onclick="document.location.href='{{ path('site') }}'"><i class="fa fa-arrow-left" aria-hidden="true"></i>Retour</button>
                    <button class="btn btn-azure btn-sm" onclick="document.location.href='{{ path('ajoutersite') }}'">Nouveau site</button>
                </div>

            </div>
            <div class="widget-body">
                <div class="row">
                    <div class="form-horizontal">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <div class="form-title">
                                Info. site
                            </div>
                            <div class="messageflasherror">
                                {% for flashMessage in app.session.flashbag.get('notice') %}

                                    <p style="color: red">{{ flashMessage }}</p>

                                {% endfor %}
                            </div>
                            {{ form_start(edit_form, {'attr': {'class': 'form-horizontal'}}) }}
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                                    <div class="form-group">
                                        <label for="" class="col-sm-4 control-label">CODE<sup style="color: red">*</sup></label>
                                        <div class="col-sm-6">
                                            {{ form_widget(edit_form.cODE, {'attr': {'class': 'form-control'}}) }}
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="" class="col-sm-4 control-label">LIBELLE<sup style="color: red">*</sup></label>
                                        <div class="col-sm-6">
                                            {{ form_widget(edit_form.lIBELLE, {'attr': {'class': 'form-control'}}) }}
                                        </div>
                                    </div>
                                    <div class="form-group" id="dateinvalide">
                                        <label for="" class="col-sm-4 control-label">DATE INVALIDE</label>
                                        <div class="col-sm-6">
                                            {{ form_widget(edit_form.dATEINVALIDE, {'attr': {'class': 'form-control'}}) }}
                                        </div>
                                    </div>
                                    <br>
                                    <div class="row">
                                        <div align="right" style="padding-right: 15%">
                                            <input type="submit" class="btn btn-warning" value="Modifier" onClick="this.disabled=true;this.form.submit();this.value='Patientez...'"/>
                                            <a class="btn btn-danger" href="{{ path('supprimersite', {'id': site.id}) }}" onclick="return confirm('Etes vous sûr de vouloir supprimer ce site ?')"> Supprimer</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            {{ form_rest(edit_form) }}
                            {{ form_end(edit_form) }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}