{% extends 'TechniqueBundle:MaterielOR:layout.html.twig' %}
{% block content %}
    <br>
    <div class="col-lg-12 col-sm-12 col-xs-12" style="padding-left: 15%; padding-right: 15%">
        <div class="widget flat radius-bordered">
            <div class="widget-header bg-azure">
                <span class="widget-caption">Configuration d'un nouveau mod&egrave;le</span>
                <div class="widget-buttons buttons-bordered">
                    <button class="btn btn-danger btn-sm" onclick="document.location.href='{{ path
                    ('ajoutplanintervention', {'id':modele.id }) }}'"><i class="fa fa-arrow-left"></i>Retour</button>
                </div>
                <div class="widget-buttons buttons-bordered">
                    <button class="btn btn-azure btn-sm" onclick="document.location.href='{{ path('ajoutmodele') }}'">Nouveau mod&egrave;le</button>
                </div>
            </div>
            <div class="widget-body">
                <div class="row">
                    <div class="form-horizontal">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <div class="form-title">
                                <a href="{{ path('modifiermodele',{'id':modele.id}) }}" style="color: #00C853">Info.
                                    mod&egrave;le</a>
                            </div>
                            <div class="form-group">
                                <label for="" class="col-sm-4 control-label">NOM MODELE</label>
                                <div class="col-sm-4">
                                    <input type="text" value="{{ modele.lIBELLE }}" class="form-control" disabled/>
                                    <input type="hidden" value="{{ modele.id }}" id="modeleid"/>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="" class="col-sm-4 control-label">MARQUE</label>
                                <div class="col-sm-4">
                                    <input type="text" value="{{ marque.libelle }}" class="form-control" disabled/>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="" class="col-sm-4 control-label">TYPE MATERIEL</label>
                                <div class="col-sm-4">
                                    <input type="text" value="{{ modele.tYPEMATERIEL }}" class="form-control" disabled/>
                                </div>
                            </div>
                            {% if modele.dESCRIPTION != null %}
                                <div class="form-group">
                                    <label for="" class="col-sm-4 control-label">DESCRIPTION</label>
                                    <div class="col-sm-4">
                                        <textarea type="text" class="form-control" rows="5">{{ modele.dESCRIPTION }}</textarea>
                                    </div>
                                </div>
                            {% endif %}

                        </div>
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <div class="form-title">
                                <a href="{{ path('ajoutdocumentmodele', {'id':modele.id}) }}" style="color: #00C853">Modifier les
                                    documents joints &agrave; ce mod&egrave;le</a>
                            </div>
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="padding-left: 20%;">
                                <ul id="the-node">
                                    {% for rs in docmodel %}
                                        {% if rs.getDOCUMENT.Alt == 'pdf' %}
                                            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
                                                <li>
                                                    <p style="display: none">{{ rs.getDOCUMENT.getId() }}</p>
                                                    <p> <a href="{{ asset(rs.getDOCUMENT.getWebPath) }}" target="_blank"><img src="{{ asset('images/pdf.png') }}" title="{{ rs.getDOCUMENT.getName }}" width="70%" ></a></p>

                                                </li>
                                                <p><a  href="{{ asset(rs.getDOCUMENT.getWebPath) }}" target="_blank"><span>{{ rs.getDOCUMENT.getName() }}</span></a></p>
                                            </div>
                                        {% elseif  rs.getDOCUMENT.Alt == 'jpg' or rs.getDOCUMENT.Alt == 'jpeg' %}
                                            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
                                                <li>
                                                    <p style="display: none">{{ rs.getDOCUMENT.getId() }}</p>
                                                    <p> <a href="{{ asset(rs.getDOCUMENT.getWebPath) }}" target="_blank"><img src="{{ asset('images/jpg.ico') }}" title="{{ rs.getDOCUMENT.getName }}" width="80%" ></a></p>

                                                </li>
                                                <p><a  href="{{ asset(rs.getDOCUMENT.getWebPath) }}" target="_blank"><span>{{ rs.getDOCUMENT.getName() }}</span></a></p>
                                            </div>
                                        {% elseif  rs.getDOCUMENT.Alt == 'txt' or rs.getDOCUMENT.Alt == 'html' %}
                                            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
                                                <li>
                                                    <p style="display: none">{{ rs.getDOCUMENT.getId() }}</p>
                                                    <p> <a href="{{ asset(rs.getDOCUMENT.getWebPath) }}" target="_blank"><img src="{{ asset('images/txt.png') }}" title="{{ rs.getDOCUMENT.getName }}" width="80%" ></a></p>

                                                </li>
                                                <p><a  href="{{ asset(rs.getDOCUMENT.getWebPath) }}" target="_blank"><span>{{ rs.getDOCUMENT.getName() }}</span></a></p>
                                            </div>
                                        {% elseif  rs.getDOCUMENT.Alt == 'docx' or rs.getDOCUMENT.Alt == 'doc' %}
                                            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
                                                <li>
                                                    <p style="display: none">{{ rs.getDOCUMENT.getId() }}</p>
                                                    <p> <a href="{{ asset(rs.getDOCUMENT.getWebPath) }}" target="_blank"><img src="{{ asset('images/docx.png') }}" title="{{ rs.getDOCUMENT.getName }}" width="80%" ></a></p>

                                                </li>
                                                <p><a  href="{{ asset(rs.getDOCUMENT.getWebPath) }}" target="_blank"><span>{{ rs.getDOCUMENT.getName() }}</span></a></p>
                                            </div>
                                        {% endif %}
                                    {% endfor %}
                                </ul>

                            </div>
                        </div>
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <div class="form-title">
                                Ajouter des articles
                            </div>
                            <div class="form-horizontal">
                                <div class="form-group">
                                    <label for="" class="col-sm-4 control-label">COMPTEUR</label>
                                    <div class="col-sm-4">
                                        <input type="text" class="form-control" value="{{ cptintervention.cOMPTEUR
                                        }}"/>
                                    </div>
                                </div>
                            </div>
                            <br>
                            <div style="padding-left: 5%; padding-right: 5%">
                                <table class="table table-bordered table-hover" id="searchable1">
                                    <thead>
                                    <tr>
                                        <th style="text-align: center">No de l'op&eacute;ration</th>
                                        <th style="text-align: center">Op&eacute;ration de maintenance</th>
                                        <th style="text-align: center">Action</th>

                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for rsopinterventioncpts in opinterventioncpts %}
                                        <tr>
                                            <td>{{ rsopinterventioncpts.id }}</td>
                                            <td>{{ rsopinterventioncpts.dESCRIPTION }}</td>
                                            <td>{{ rsopinterventioncpts.aCTION }}</td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                            <br>
                            <hr>
                            {{ form_start(form, {'attr': {'class': 'form-horizontal'}}) }}
                            <div class="form-group">
                                <label for="" class="col-sm-4 control-label">CHOISIR UN ARTICLE</label>
                                <div class="col-sm-4">
                                    <input type="hidden" id="selarticle" style="width: 100%"/>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="" class="col-sm-4 control-label">QUANTITE</label>
                                <div class="col-sm-4">
                                    {{ form_widget(form.qUANTITE, {'attr': {'class': 'form-control'}}) }}
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="" class="col-sm-4 control-label">UNITE</label>
                                <div class="col-sm-4">
                                    {{ form_widget(form.uNITE, {'attr': {'class': 'form-control'}}) }}
                                </div>
                            </div>
                            <div align="right">
                                <div style="padding-right: 35%">
                                    <input type="submit" class="btn btn-azure" value="Valider" onClick="this.disabled=true;this.form.submit();this.value='Patientez...'"/>
                                </div>
                            </div>
                            {{ form_rest(form) }}
                            {{ form_end(form) }}
                            <br>
                            <hr>
                            {% if article|length != 0 %}
                                <div style="padding-left: 5%; padding-right: 5%">
                                <table class="table table-bordered table-hover" id="searchable2">
                                    <thead>
                                    <tr>
                                        <th style="text-align: center">R&eacute;f article</th>
                                        <th style="text-align: center">D&eacute;signation article</th>
                                        <th style="text-align: center">Quantit&eacute;</th>
                                        <th style="text-align: center">Unit&eacute;</th>
                                        <th style="text-align: center"></th>

                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for rsarticle in article %}
                                        <tr>
                                            <td>{{ rsarticle.rEFARTICLE }}</td>
                                            <td>{{ rsarticle.dESARTICLE }}</td>
                                            <td>{{ rsarticle.qUANTITE }}</td>
                                            <td>{{ rsarticle.uNITE }}</td>
                                            <td><a href="{{ path('modifierarticleoperation', {'id':modele.id,
                                                    'compteurid': cptintervention.id, 'articleid':rsarticle.id  }) }}"
                                                   class="btn
                                            btn-warning" title="Modifier"><i
                                                            class="fa
                                            fa-pencil"></i></a>
                                                <a href="{{ path('supprimerarticleoperation', {'id':modele.id,
                                                    'compteurid': cptintervention.id, 'articleid':rsarticle.id  }) }}" class="btn
                                                    btn-danger" title="Supprimer"
                                                   onclick="return confirm
                                                ('Vous ' +
                                                 '&ecirc;tes ' +
                                                 's&ucirc;r de ' +
                                                 'vouloir ' +
                                                    'supprimer cet article')"><i class="fa
                                            fa-trash"></i></a>
                                            </td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                            {% endif %}
                            <br>
                            <hr>
                            {% if cptinterventions|length !=0 %}
                                <div style="padding-right: 5%; padding-left: 5%">
                                    <table id="tablegrouping" class="table table-bordered table-hover" >
                                        <thead>
                                        <tr>

                                            <th style="text-align: center">Compteur</th>
                                            <th style="text-align: center">No de l'op&eacute;ration</th>
                                            <th style="text-align: center">Op&eacute;ration de maintenance</th>
                                            <th style="text-align: center">Action</th>
                                            <th width="20%"></th>

                                        </tr>
                                        </thead>
                                        <tbody>
                                        {% for rsalloperations in alloperations %}
                                            <tr>
                                                <td>{{ rsalloperations.cOMPTEUR }}</td>
                                                <td>{{ rsalloperations.id }}</td>
                                                <td>{{ rsalloperations.dESCRIPTION }}</td>
                                                <td>{{ rsalloperations.aCTION }}</td>
                                                <td>
                                                    <a class="btn btn-warning" href="{{ path('modifiercompteurintervention', {'id':rsalloperations.mODELEID,'compteurid':rsalloperations.cOMPTEURINTERVENTIONID} ) }}"><i class="fa fa-pencil"></i></a>
                                                    <a class="btn btn-danger" href="{{ path('supprimercptintervention', {'id':rsalloperations.mODELEID,'compteurid':rsalloperations.cOMPTEURINTERVENTIONID}) }}" onclick="return confirm('Vous &ecirc;tes s&ucirc;r de vouloir supprimer cet compteur')"><i class="fa fa-trash"></i> </a>
                                                    <a class="btn btn-default" href="{{ path('ajoutarticleoperationint', {'id':rsalloperations.mODELEID,'compteurid':rsalloperations.cOMPTEURINTERVENTIONID}) }}" class="btn btn-magenta">Ajouter des articles</a>
                                                </td>
                                            </tr>
                                        {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                               {# <div style="padding-left: 5%; padding-right: 5%">
                                    <table class="table table-bordered table-hover">
                                        <thead>
                                        <tr>
                                            <th style="text-align: center">Compteur</th>
                                            <th style="text-align: center">No de l'op&eacute;ration</th>
                                            <th style="text-align: center">Op&eacute;ration de maintenance</th>
                                            <th style="text-align: center">Action</th>
                                            <th width="20%"></th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        {% for rscptinterventions in  cptinterventions %}
                                            <tr>
                                                <td>{{ rscptinterventions.cOMPTEUR }}</td>
                                                <td>
                                                    {% for rsarrayopinterventions in arrayopinterventions %}
                                                        {% set var = [] %}
                                                        {% for rsarrayopinterventions1 in rsarrayopinterventions  %}
                                                            {% set var = var|merge([rsarrayopinterventions1.cOMPTEURINTERVENTIONID]) %}
                                                            {% if rscptinterventions.id  in var %}
                                                                <ul>
                                                                    <li>
                                                                        {{ rsarrayopinterventions1.id }}
                                                                    </li>
                                                                </ul>
                                                            {% endif %}
                                                        {% endfor %}
                                                    {% endfor %}
                                                </td>

                                                <td>
                                                    {% for rsarrayopinterventions in arrayopinterventions %}
                                                        {% set var = [] %}
                                                        {% for rsarrayopinterventions1 in rsarrayopinterventions  %}
                                                            {% set var = var|merge([rsarrayopinterventions1.cOMPTEURINTERVENTIONID]) %}
                                                            {% if rscptinterventions.id  in var %}
                                                                <ul>
                                                                    <li>
                                                                        {{ rsarrayopinterventions1.dESCRIPTION }}
                                                                    </li>
                                                                </ul>
                                                            {% endif %}
                                                        {% endfor %}
                                                    {% endfor %}
                                                </td>

                                                <td>
                                                    {% for rsarrayopinterventions in arrayopinterventions %}
                                                        {% set var = [] %}
                                                        {% for rsarrayopinterventions1 in rsarrayopinterventions  %}
                                                            {% set var = var|merge([rsarrayopinterventions1.cOMPTEURINTERVENTIONID]) %}
                                                            {% if rscptinterventions.id  in var %}
                                                                <ul>
                                                                    <li>
                                                                        {{ rsarrayopinterventions1.aCTION }}
                                                                    </li>
                                                                </ul>
                                                            {% endif %}
                                                        {% endfor %}
                                                    {% endfor %}
                                                </td>
                                                <td> <a href="{{ path('ajoutarticleoperationint', {'id':modele.id,
                                                        'compteurid':rscptinterventions.id}) }}"
                                                        class="btn
                                            btn-magenta">Ajouter
                                                        des articles</a>
                                                    <a href="{{ path('modifiercompteurintervention', {'id':modele.id,
                                                        'compteurid':rscptinterventions.id
                                                    }) }}"
                                                       class="btn
                                            btn-warning" title="Modifier"><i class="fa fa-pencil"></i></a>
                                                    <a href="{{ path('supprimercptintervention', {'id':modele.id,
                                                        'compteurid':rscptinterventions.id}) }}"
                                                       class="btn
                                                btn-danger" onclick="return confirm
                                                ('Vous ' +
                                                 '&ecirc;tes ' +
                                                 's&ucirc;r de ' +
                                                 'vouloir ' +
                                                    'supprimer cet compteur')"><i class="fa fa-trash"></i> </a>
                                                </td>
                                            </tr>
                                        {% endfor %}
                                        </tbody>
                                    </table>
                                </div>#}
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}