<!DOCTYPE html>
<!--
BeyondAdmin - Responsive Admin Dashboard Template build with Twitter Bootstrap 3.3.6
Version: 1.6.0
Purchase: https://wrapbootstrap.com/theme/beyondadmin-adminapp-angularjs-mvc-WB06R48S4
-->

<html xmlns="http://www.w3.org/1999/xhtml">
<!-- Head -->
<head>
    <meta charset="utf-8"/>
    {% block stylesheets %}
        <style>
            table {
                width: 100%;
                border-collapse: collapse;
            }

            table, td, th {
                border: 1px solid black;
                padding: 5px;
            }

            th {
                text-align: left;
            }
        </style>

    {% endblock %}


</head>

<body>
{% block body %}
    <div style="padding-left: 10%; padding-right: 10%">
        {% if articles|length != 0 %}
            <table class="table table-bordered table-hover " id="searchable2">
                <thead class="bordered-darkorange">
                <tr role="row">
                    <th></th>
                    <th>Ref. article</th>
                    <th>Designation article</th>
                    <th>Quantit&eacute;</th>
                    <th>Unit&eacute;</th>
                </tr>
                </thead>
                <tbody>
                {% for rs in articles %}
                    <tr>
                        <td><a style="color: #7ab51d" target="_blank" href="{{ path('modifierarticleoperation', {'id': compteurint
                                .mODELEID,
                                'compteurid':compteurint.id, 'articleid': rs.id })
                            }}">Detail</a></td>
                        <td>{{ rs.rEFARTICLE }}</td>
                        <td>{{ rs.dESARTICLE }}</td>
                        <td>{{ rs.qUANTITE }}</td>
                        <td>{{ rs.uNITE }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        {% else %}
            <h3>Pas d'articles ajout&eacute;s pour ces op&eacute;rations</h3>
        {% endif %}
    </div>
{% endblock %}

</body>
<!--  /Body -->
</html>
