{% extends 'AgroBundle:Itkism:layout.html.twig' %}
{% block content %}
    <div class="col-lg-12 col-sm-12 col-xs-12" style="padding-left: 3%; padding-right: 3%">
    <div class="widget flat radius-bordered">
        <div class="widget-header bg-azure">
            <span class="widget-caption">Ajouter une nouvelle instruction de semis</span>
            <span style="color: #ffffff; margin-right: 10%; font-weight: bold "> Date de création : {{ date }}    </span>
            <div class="widget-buttons buttons-bordered">
                <button id="retour" class="btn btn-sky btn-sm" onclick="window.location.href='{{ path
                ('instructionsemis') }}'"><i class="fa fa-arrow-left"  aria-hidden="true"></i>Retour</button>
                <button class="btn btn-azure btn-sm" onclick="window.location.href='{{ path('ajouterinstructionsemis') }}'">Nouvelle instruction de semis</button>
            </div>
        </div>
        <div class="widget-body">
            {{ form_start(form, {'attr': {'class': 'form-horizontal'}}) }}
            <div class="row">
                <div class="form-horizontal">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <div class="form-title">
                            Info. instruction de semis
                        </div>
                        <div class="messageflasherror" style="color: #cd0000">
                            {% for flashMessage in app.session.flashbag.get('notice') %}
                                <p style="color: red"> <i class="fa fa-exclamation-triangle" ></i>  {{ flashMessage
                                    }}</p>
                            {% endfor %}
                        </div>
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="margin: auto; width:99%">
                            {# START MODALS #}
                            <div class="modal modal-primary" id="myModal">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                                            <h4 class="modal-title">Modifier l'ilot</h4>
                                        </div>
                                        <div class="form-horizontal" id="form">
                                            <div class="modal-body">
                                                <div class="form-group">
                                                    <label  class="col-sm-4 control-label"
                                                            for="inputlibelle">ANCIEN ILOT</label>
                                                    <div class="col-sm-6">
                                                        <input type="text" class="form-control" value=""
                                                               id="oldIlot"
                                                               disabled/>
                                                        <input type="hidden" class="form-control"
                                                               value=" ilot.id" id="ilotid" name="ilotid" disabled/>
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label  class="col-sm-4 control-label" for="inputlibelle">NOUVEL
                                                        ILOT</label>
                                                    <div class="col-sm-6">
                                                        <input type="text" class="form-control" value="" id="ilot"
                                                               name="ilot"/>
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label  class="col-sm-4 control-label" for="inputlibelle">CONFIRMER ILOT</label>
                                                    <div class="col-sm-6">
                                                        <input type="text" class="form-control"
                                                               id="ilotconfirm" name="ilotconfirm"/>
                                                    </div>
                                                </div>
                                            </div>
                                            <!-- Modal Footer -->
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-warning" data-dismiss="modal">Close</button>
                                            <button type="button" class="btn btn-primary " onclick=" updateilotopsaisi
                                            (document.getElementById('ilotid').value)">Valider</button>
                                        </div>
                                    </div><!-- /.modal-content -->
                                </div><!-- /.modal-dialog -->
                            </div><!-- /.modal -->
                            <div id="modal-warning1" class="modal modal-message modal-warning fade"
                                 style="display: none;" aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <i class="fa fa-warning"></i>
                                        </div>
                                        <div class="modal-title">Avertissement ! </div>

                                        <div class="modal-body">La Culture Variete a changé : Vous devez modifier le
                                            code de l'ilot</div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-warning"
                                                    id="btnaffiformilotsaisi"
                                                    data-dismiss="modal">OK</button>
                                        </div>
                                    </div> <!-- / .modal-content -->
                                </div> <!-- / .modal-dialog -->
                            </div>
                            <div id="modal-danger" class="modal modal-message modal-danger fade" style="display: none;" aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <i class="glyphicon glyphicon-fire"></i>
                                        </div>
                                        <div class="modal-title">Attention !</div>

                                        <div class="modal-body">Les deux nom d'Ilots doivent être
                                            identiques
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-danger" data-dismiss="modal">OK</button>
                                        </div>
                                    </div> <!-- / .modal-content -->
                                </div> <!-- / .modal-dialog -->
                            </div>
                            <div id="modal-dangeropdiffuse" class="modal modal-message modal-danger fade" style="display: none;"
                                 aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <i class="glyphicon glyphicon-fire"></i>
                                        </div>
                                        <div class="modal-title">Attention !</div>

                                        <div class="modal-body">Il reste des intsructions diffusées sur cette OP.
                                            Voulez vous les réaliser d'abord, ou annuler la création de l'instruction
                                            de semis en cours?
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-danger"
                                                    data-dismiss="modal" id="annulerinstruction">Annuler</button>
                                            <button type="button" class="btn btn-success " id="realiserinstruction"
                                                    onclick="">Réaliser</button>
                                        </div>
                                    </div> <!-- / .modal-content -->
                                </div> <!-- / .modal-dialog -->
                            </div>
                            <div id="modal-dangerdas" class="modal modal-message modal-danger fade" style="display: none;"
                                 aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <i class="glyphicon glyphicon-fire"></i>
                                        </div>
                                        <div class="modal-title">Attention !</div>

                                        <div class="modal-body">La DAS doit être inférieure à la date de début de
                                            semis !!
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-danger" data-dismiss="modal">OK</button>
                                        </div>
                                    </div> <!-- / .modal-content -->
                                </div> <!-- / .modal-dialog -->
                            </div>
                            <!--Success Modal Templates-->
                            <div id="modal-success1" class="modal modal-message modal-success fade" style="display: none;"
                                 aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <i class="glyphicon glyphicon-check"></i>
                                        </div>
                                        <div class="modal-title">Succès</div>
                                        <div class="modal-body">L'ilôt a bien été modifiée !</div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-success" data-dismiss="modal">OK</button>
                                        </div>
                                    </div> <!-- / .modal-content -->
                                </div> <!-- / .modal-dialog -->
                            </div>
                            <!--End Success Modal Templates-->
                            {#END MODALS#}
                            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4" style="text-align:left">
                                <div class="form-group">
                                    <label for="" class="col-sm-5 control-label">Ferme :<sup style="color:
                                    red">*</sup></label>
                                    <div class="col-sm-7">
                                        {{ form_widget(form.fERMEID, {'attr': {'class': 'form-control'}}) }}
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="" class="col-sm-5 control-label">OP Budget :<sup style="color:
                                    red">*</sup></label>
                                    <div class="col-sm-7">
                                        <input type="hidden" id="op" style="width: 100%"/>
                                        {{ form_widget(form.cYCLECULTURALID, {'attr': {'class': 'form-control'}}) }}
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md4 col-sm-4 col-xs-4" style="text-align:left ">
                                <div class="form-group">
                                    <label for="" class="col-sm-5 control-label">Culture Variété :<sup style="color:
                                    red">*</sup></label>
                                    <div class="col-sm-7">
                                        <input type="hidden" id="cv" style="width: 100%"/>
                                        {{ form_widget(form.cULTUREID, {'attr': {'class': 'form-control'}}) }}
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="" class="col-sm-5 control-label">Famille culturale :</label>
                                    <div class="col-sm-7">
                                        <input type="hidden" id="fcid" />
                                        <input class="col-sm-12 form-control" id="fc" type="text" value="" disabled />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="" class="col-sm-5 control-label">Type implantation :</label>
                                    <div class="col-sm-7">
                                        <input class="col-sm-12 form-control" id="ti" type="text" value="" disabled>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="" id="ilotlabel" class="col-sm-5 control-label">Ilot :</label>
                                    <div class="col-sm-7">
                                        <input type="hidden" id="cvidden" />
                                        <input type="hidden" id="ilothidden" />
                                        <input class="col-sm-12 form-control" id="il" type="text" value=""
                                               disabled>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4" style="text-align:left ">
                                <div class="form-group">
                                    <label for="" class="col-sm-5 control-label">DAS :</label>
                                    <div class="col-sm-7">
                                        <input class="col-sm-12 form-control" id="das" type="text" value="" disabled>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="" class="col-sm-5 control-label">DDR :</label>
                                    <div class="col-sm-7">
                                        <input class="col-sm-12 form-control" id="ddr" type="text" value="" disabled>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="" class="col-sm-5 control-label">DAR :</label>
                                    <div class="col-sm-7">
                                        <input class="col-sm-12 form-control" id="dar" type="text" value="" disabled>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="" class="col-sm-5 control-label">Récolte prév. Aj :</label>
                                    <div class="col-sm-7">
                                        <input class="col-sm-12 form-control" id="rp" type="text" value="" disabled>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="form-horizontal">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <div class="form-title">
                        </div>
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="margin: auto; width:99%">
                            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4" style="text-align:left">
                                <div class="form-group">
                                    <label for="" class="col-sm-5 control-label">Type M. Végétal :<sup style="color:
                                    red">*</sup></label>
                                    <div class="col-sm-7">
                                        {{ form_widget(form.tYPEMVEGETAL, {'attr': {'class': 'form-control'}}) }}
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="" class="col-sm-5 control-label">Surface à semer :<sup style="color:
                                    red">*</sup></label>
                                    <div class="col-sm-7">
                                        <input class="col-sm-12 form-control" id="surface" disabled/>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="" class="col-sm-5 control-label">Surface totale :</label>
                                    <div class="col-sm-7">
                                        <input class="col-sm-12 form-control" id="surfacetot" disabled/>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md4 col-sm-4 col-xs-4" style="text-align:left ">
                                <div class="form-group" id="datep">
                                    <label for="" class="col-sm-5 control-label">Date de semis :<sup style="color:
                                    red">*</sup></label>
                                    <div class="col-sm-7">
                                        {{ form_widget(form.dATEP, {'attr': {'class': 'form-control'}}) }}
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="" class="col-sm-5 control-label">Durée (jj) :<sup style="color:
                                    red">*</sup></label>
                                    <div class="col-sm-7">
                                        {{ form_widget(form.dUREE, {'attr': {'class': 'form-control'}}) }}
                                    </div>
                                </div>
                                <div class="form-group" id="datepfin">
                                    <label for="" class="col-sm-5 control-label">Date fin semis :<sup style="color:
                                    red">*</sup></label>
                                    <div class="col-sm-7">
                                        {{ form_widget(form.dATEPFIN, {'attr': {'class': 'form-control',
                                            'disabled':'disabled'}}) }}
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4" style="text-align:left ">
                                <div class="form-group">
                                    <label for="" class="col-sm-5 control-label">Nbre de rangs :</label>
                                    <div class="col-sm-7">
                                        {{ form_widget(form.rANGNB, {'attr': {'class': 'form-control'}}) }}
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="" class="col-sm-5 control-label">Ecartement lignes :<sup style="color:
                                    red">*</sup></label>
                                    <div class="col-sm-7">
                                        {{ form_widget(form.eLIGNE, {'attr': {'class': 'form-control'}}) }}
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="" class="col-sm-5 control-label">Ecartement semis :<sup style="color:
                                    red">*</sup></label>
                                    <div class="col-sm-7">
                                        {{ form_widget(form.eSEMIS, {'attr': {'class': 'form-control'}}) }}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="form-horizontal">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <div class="form-title">
                        </div>
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="margin: auto; width:99%">
                            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4" style="text-align:left">
                                <div class="form-group">
                                    <label for="" class="col-sm-5 control-label">Quantité semence/Ha :</label>
                                    <div class="col-sm-7">
                                        <input class="col-sm-12 form-control" id="qtesem" disabled/>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="" class="col-sm-5 control-label">Quantité semence totale :</label>
                                    <div class="col-sm-7">
                                        <input class="col-sm-12 form-control" id="qtesemtot" disabled/>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="" class="col-sm-5 control-label">Prescripteur :<sup style="color:
                                    red">*</sup></label>
                                    <div class="col-sm-7">
                                        {{ form_widget(form.pRESCRIPTEURID, {'attr': {'class': 'form-control'}}) }}
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md4 col-sm-4 col-xs-4" style="text-align:left ">
                                <div class="form-group">
                                    <label for="" class="col-sm-5 control-label">Mode d'application :</label>
                                    <div class="col-sm-7">
                                        {{ form_widget(form.mODEAPPLICATION, {'attr': {'class': 'form-control'}}) }}
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="" class="col-sm-5 control-label" id="operateurlabel">Opérateur :</label>
                                    <div class="col-sm-7">
                                        {{ form_widget(form.aPPLICATEURID, {'attr': {'class': 'form-control'}}) }}
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="" class="col-sm-5 control-label" id="effectiflabel">Effectif :</label>
                                    <div class="col-sm-7">
                                        <input class="col-sm-12 form-control" id="effectif" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="form-horizontal">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <div class="form-title">
                        </div>
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="margin: auto; width:99%">
                            <div class="form-group" style="padding-right: 4%">
                                <div class="col-sm-offset-11 col-sm-12">
                                    <input type="submit" class="btn btn-azure" value="Suivant" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {{ form_rest(form) }}
            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}