{% extends 'AgroBundle:Itkism:layout.html.twig' %}
{% block content %}
    <div class="col-lg-12 col-sm-12 col-xs-12" style="padding-left: 3%; padding-right: 3%">
    <div class="widget flat radius-bordered">
        <div class="widget-header bg-azure">
            <span class="widget-caption">Ajouter une nouvelle instruction de semis</span>
            <span style="color: #ffffff; margin-right: 10%; font-weight: bold "> Date de création : {{ date }}    </span>
            <div class="widget-buttons buttons-bordered">
                <button class="btn btn-azure btn-sm" onclick="window.location.href='{{ path('ajouterinstructionsemis') }}'">Nouvelle instruction de semis</button>
            </div>
        </div>
        <div class="widget-body">
            <div class="row">
                <div class="form-horizontal">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <div class="form-title">
                            Info. instruction de semis
                        </div>
                        <div class="messageflasherror" style="color: #cd0000">
                            {% for flashMessage in app.session.flashbag.get('notice') %}
                                <p style="color: red"> <i class="fa fa-exclamation-triangle" ></i>  {{ flashMessage
                                    }}</p>
                            {% endfor %}
                        </div>
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="margin: auto; width:99%">
                            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4" style="text-align:left">
                                <div class="form-group">
                                    <label for="" class="col-sm-5 control-label">Ferme :</label>
                                    <div class="col-sm-7">
                                        <input type="text" value=" {{ferme}}" class="form-control" disabled/>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="" class="col-sm-5 control-label">OP Budget :</label>
                                    <div class="col-sm-7">
                                        <input type="text" value=" {{op[0]['OP']}}" class="form-control" disabled/>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md4 col-sm-4 col-xs-4" style="text-align:left ">
                                <div class="form-group">
                                    <label for="" class="col-sm-5 control-label">Culture Variété :</label>
                                    <div class="col-sm-7">
                                        <input type="text" value=" {{op[0]['CULTUREVARIETE']}}" class="form-control" disabled/>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="" class="col-sm-5 control-label">Famille culturale :</label>
                                    <div class="col-sm-7">
                                        <input type="text" value=" {{op[0]['FAMILLECULTURE']}}" class="form-control" disabled/>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="" class="col-sm-5 control-label">Type implantation :</label>
                                    <div class="col-sm-7">
                                        <input type="text" value=" {{op[0]['TYPEIMPLANTATION']}}" class="form-control" disabled/>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="" id="ilotlabel" class="col-sm-5 control-label">Ilot :</label>
                                    <div class="col-sm-7">
                                        <input type="text" value=" {{op[0]['ILOT']}}" class="form-control" disabled/>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4" style="text-align:left ">
                                <div class="form-group">
                                    <label for="" class="col-sm-5 control-label">DAS :</label>
                                    <div class="col-sm-7">
                                        <input class="col-sm-12 form-control" id="das" type="text" value="" disabled>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="" class="col-sm-5 control-label">DDR :</label>
                                    <div class="col-sm-7">
                                        <input class="col-sm-12 form-control" id="ddr" type="text" value="" disabled>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="" class="col-sm-5 control-label">DAR :</label>
                                    <div class="col-sm-7">
                                        <input class="col-sm-12 form-control" id="dar" type="text" value="" disabled>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="" class="col-sm-5 control-label">Récolte prév. Aj :</label>
                                    <div class="col-sm-7">
                                        <input type="text" value=" {{op[0]['DATEPREVISRECOLTE']|date('d-m-Y')}}"
                                               class="form-control" disabled/>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="form-horizontal">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <div class="form-title">
                        </div>
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="margin: auto; width:99%">
                            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4" style="text-align:left">
                                <div class="form-group">
                                    <label for="" class="col-sm-5 control-label">Type M. Végétal :</label>
                                    <div class="col-sm-7">
                                        <input type="text" value=" {{itkism.tYPEMVEGETAL}}" class="form-control"
                                               disabled/>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="" class="col-sm-5 control-label">Surface à semer :</label>
                                    <div class="col-sm-7">
                                        <input type="text" value=" {{itkism.sURFACE}}" class="form-control"
                                               disabled/>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="" class="col-sm-5 control-label">Surface totale :</label>
                                    <div class="col-sm-7">
                                        <input type="text" value=" {{itkism.sURFACETOT}}" class="form-control"
                                               disabled/>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md4 col-sm-4 col-xs-4" style="text-align:left ">
                                <div class="form-group" id="datep">
                                    <label for="" class="col-sm-5 control-label">Date de semis :</label>
                                    <div class="col-sm-7">
                                        <input type="text" value=" {{itkism.dATEP|date('d-m-Y H:i:s')}}"
                                               class="form-control"
                                               disabled/>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="" class="col-sm-5 control-label">Durée (jj) :</label>
                                    <div class="col-sm-7">
                                        <input type="text" value=" {{itkism.dUREE}}" class="form-control"
                                               disabled/>
                                    </div>
                                </div>
                                <div class="form-group" id="datepfin">
                                    <label for="" class="col-sm-5 control-label">Date fin semis :</label>
                                    <div class="col-sm-7">
                                        <input type="text" value=" {{itkism.dATEPFIN|date('d-m-Y H:i:s')}}"
                                               class="form-control"
                                               disabled/>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4" style="text-align:left ">
                                <div class="form-group">
                                    <label for="" class="col-sm-5 control-label">Nbre de rangs :</label>
                                    <div class="col-sm-7">
                                        <input type="text" value=" {{itkism.rANGNB}}" class="form-control"
                                               disabled/>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="" class="col-sm-5 control-label">Ecartement lignes :</label>
                                    <div class="col-sm-7">
                                        <input type="text" value=" {{itkism.eLIGNE}}" class="form-control"
                                               disabled/>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="" class="col-sm-5 control-label">Ecartement semis :</label>
                                    <div class="col-sm-7">
                                        <input type="text" value=" {{itkism.eSEMIS}}" class="form-control"
                                               disabled/>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="form-horizontal">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <div class="form-title">
                        </div>
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="margin: auto; width:99%">
                            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4" style="text-align:left">
                                <div class="form-group">
                                    <label for="" class="col-sm-5 control-label">Quantité semence/Ha :</label>
                                    <div class="col-sm-7">
                                        <input type="text" value=" {{itkism.qTESEM}}" class="form-control"
                                               disabled/>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="" class="col-sm-5 control-label">Quantité semence totale :</label>
                                    <div class="col-sm-7">
                                        <input type="text" value=" {{itkism.qTESEMTOT}}" class="form-control"
                                               disabled/>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="" class="col-sm-5 control-label">Prescripteur :</label>
                                    <div class="col-sm-7">
                                        <input type="text" value=" {{prescripteur}}" class="form-control"
                                               disabled/>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md4 col-sm-4 col-xs-4" style="text-align:left ">
                                <div class="form-group">
                                    <label for="" class="col-sm-5 control-label">Mode d'application :</label>
                                    <div class="col-sm-7">
                                        <input type="text" value=" {{itkism.mODEAPPLICATION}}" class="form-control"
                                               disabled/>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="" class="col-sm-5 control-label" id="operateurlabel">Opérateur :</label>
                                    <div class="col-sm-7">
                                        <input type="text" value=" {{applicateur}}" class="form-control"
                                               disabled/>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="" class="col-sm-5 control-label" id="effectiflabel">Effectif :</label>
                                    <div class="col-sm-7">
                                        <input type="text" value=" {{itkism.eFFECTIF}}" class="form-control"
                                               disabled/>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <br>
            <div class="row">
                <div class="form-horizontal">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <div class="well with-header">
                            <div class="header bordered-sky">
                                Ajouter des parcelles :
                            </div>
                        </div>
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="margin: auto; width:50%; ">
                            <table class="table table-bordered table-hover " id="searchable7" >
                                <thead class="bordered-darkorange">
                                <tr role="row">
                                    <th >Parcelle</th>
                                    <th >Surface</th>
                                    <th >Action</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for rs in parcelles %}
                                    {% set i = rs.PARCELLEID %}
                                    <tr>
                                        <td style="text-align: center">{{ rs['PARCELLE'] }}</td>
                                        <td style="text-align: left">
                                            {% if rs['typeirrigation'] == "0" %}
                                                <input type="text" value="{{ rs['SURFACE'] }}" id='surface{{ i }}'
                                                       style="width: 20%" disabled/>
                                            {% else %}
                                                <input type="text" value="{{ rs['SURFACE'] }}" id='surface{{ i }}'
                                                       style="width: 20%" />
                                            {% endif %}
                                        </td>
                                        <td >
                                            <div class="checkbox">
                                                <label>
                                                    {% if rs['checked'] == "0" %}
                                                        <input type="checkbox" id='checked{{ i }}' class="colored-success"
                                                               />
                                                        <span class="text"></span>
                                                    {% else %}
                                                        <input type="checkbox" id='checked{{ i }}' class="colored-success"
                                                               checked="checked" />
                                                        <span class="text"></span>
                                                    {% endif %}
                                                </label>
                                            </div>
                                        </td>
                                    </tr>
                                {% endfor%}
                                </tbody>
                            </table>
                            {% set var = [] %}
                            {% for rsparcelle in parcelles  %}
                                {% set var = var|merge([rsparcelle.PARCELLEID]) %}
                            {% endfor %}
                            {% set var = var|merge([itkism.id]) %}
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="form-horizontal">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <div class="form-title">
                        </div>
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="margin: auto; width:99%">
                            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4" >
                                <div class="form-group">
                                    <div class="col-sm-12">
                                        <button class="btn btn-warning " onclick="this
                                                .disabled=true; window.location.href='{{ path
                                        ('modifierinstructionsemis', {'id': itkism.id}) }}'">
                                            Précédent
                                        </button>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1" >
                            </div>
                            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2" >
                                <div class="form-group" >
                                    <div class="col-sm-12" style="align-content: center">
                                        <button class="btn btn-success " onclick="this
                                                .disabled=true; window.location.href='{{ path
                                        ('instructionsemis') }}'">
                                            TERMINER
                                        </button>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                                <div class="form-group">
                                    <div class="col-sm-offset-11 col-sm-12" style="align-content: flex-end">
                                        <input type="button" class="btn btn-azure" value="Suivant"
                                               onclick="updateparcelle({{ var|json_encode() }})"/>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}