{% extends 'AgroBundle:Itkism:layout.html.twig' %}
{% block content  %}
    <br>
    <div class="col-lg-12 col-sm-12 col-xs-12" style="padding-left: 2%; padding-right: 2%">
        <div class="widget flat radius-bordered">
            <div class="widget-header bg-azure">
                <span class="widget-caption">Ajouter une nouvelle instruction de semis</span>
                <span style="color: #ffffff; margin-right: 10%; font-weight: bold "> Date : {{ date }}    </span>
                <div class="widget-buttons buttons-bordered">
                    <button class="btn btn-danger btn-sm" onclick="window.location.href='{{ path
                    ('instructionsemis') }}'"><i class="fa fa-arrow-left"></i>Retour</button>
                </div>
                <div class="widget-buttons buttons-bordered">
                    <button class="btn btn-azure btn-sm" onclick="window.location.href='{{ path('ajouteritkism') }}'">Nouvelle instruction de semis</button>
                </div>
                <div class="messageflasherror">
                    {% for flashMessage in app.session.flashbag.get('notice') %}

                        <p style="color: red">{{ flashMessage }}</p>

                    {% endfor %}
                </div>
                <div class="messageflashok">
                    {% for flashMessage in app.session.flashbag.get('noticeok') %}

                        <p style="color: green">{{ flashMessage }}
                            <i class="fa fa-check-circle" aria-hidden="true"></i>
                        </p>

                    {% endfor %}
                </div>
            </div>
            {# START MODALS #}
            <div id="modal-dangeropdiffuse" class="modal modal-message modal-danger fade" style="display: none;"
                 aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <i class="glyphicon glyphicon-fire"></i>
                        </div>
                        <div class="modal-title">Attention !</div>

                        <div class="modal-body" >Il reste des intsructions diffusées sur cette OP.
                            Veuillez les réaliser d'abord!
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-danger"
                                    data-dismiss="modal" id="annulerinstruction">Annuler</button>
                            <button type="button" class="btn btn-success " id="realiserinstruction">Réaliser</button>
                        </div>
                    </div> <!-- / .modal-content -->
                </div> <!-- / .modal-dialog -->
            </div>
            {#END MODALS#}
            <div class="widget-body">
                {#{{ form_start(edit_form, {'attr': {'class': 'form-horizontal'}}) }}#}
                <div id="WiredWizard" class="wizard wizard-wired" data-target="#WiredWizardsteps">
                    <ul class="steps">
                        <li data-target="#wiredstep1" class="active"><span class="step">1</span><span
                                    class="title">Informations générales</span><span class="chevron"></span></li>
                        <li data-target="#wiredstep2"><span class="step">2</span><span class="title">Parcelles à
                        semer</span>
                            <span class="chevron"></span></li>
                        <li data-target="#wiredstep3"><span class="step">3</span><span class="title">Lots de
                                semences</span> <span class="chevron"></span></li>
                        <li data-target="#wiredstep4"><span class="step">4</span><span class="title">Intrants</span>
                            <span class="chevron"></span></li>
                        <li data-target="#wiredstep5"><span class="step">5</span><span class="title">Materiel /
                        EPI</span> <span
                                    class="chevron"></span></li>
                    </ul>
                </div>
                <div class="step-content" id="WiredWizardsteps" style="height: auto">
                    <div class="row" style="; padding-right: 3%; ">
                        <div class="step-pane active" id="wiredstep1">
                            <div class="form-horizontal">
                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4" style="text-align:left">
                                        <div class="form-group">
                                            <label for="" class="col-sm-5 control-label">Ferme :<sup style="color:
                                            red">*</sup></label>
                                            <div class="col-sm-7">
                                                {{ form_widget(form.fERMEID, {'attr': {'class': 'form-control'}}) }}
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="" class="col-sm-5 control-label">OP Budget :<sup style="color:
                                            red">*</sup></label>
                                            <div class="col-sm-7">
                                                <input type="hidden" id="newop" style="width: 100%"/>
                                                {{ form_widget(form.cYCLECULTURALID, {'attr': {'class': 'form-control'}}) }}
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-4 col-md4 col-sm-4 col-xs-4" style="text-align:left " >
                                        <div class="form-group">
                                            <label for="" class="col-sm-5 control-label">Culture Variété :<sup style="color:
                                            red">*</sup></label>
                                            <div class="col-sm-7">
                                                <input style="background: lightgrey" class="col-sm-12 form-control" id="cuva" type="text" value=""
                                                        disabled />
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="" class="col-sm-5 control-label">Famille culturale :</label>
                                            <div class="col-sm-7">
                                                <input type="hidden" id="fcid" />
                                                <input style="background: lightgrey" class="col-sm-12 form-control" id="fc" type="text" value="" disabled />
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="" class="col-sm-5 control-label">Type implantation :</label>
                                            <div class="col-sm-7">
                                                <input style="background: lightgrey" class="col-sm-12 form-control" id="ti" type="text" value="" disabled>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="" id="ilotlabel" class="col-sm-5 control-label">Ilot :</label>
                                            <div class="col-sm-7">
                                                <input type="hidden" id="cvidden" />
                                                <input type="hidden" id="ilothidden" />
                                                <input style="background: lightgrey" class="col-sm-12 form-control" id="il"
                                                       type="text" value=""
                                                       disabled>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4" style="text-align:left ">
                                        <div class="form-group">
                                            <label for="" class="col-sm-5 control-label">DAS :</label>
                                            <div class="col-sm-7">
                                                <div class="input-group">
                                                    <input style="background: lightgrey" class="col-sm-12 form-control" id="das" type="text"
                                                           disabled>
                                                        <span class="input-group-addon">
                                                            <i class="fa fa-calendar"></i>
                                                        </span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="" class="col-sm-5 control-label">DDR :</label>
                                            <div class="col-sm-7">
                                                <div class="input-group">
                                                    <input style="background: lightgrey" class="col-sm-12 form-control"
                                                           id="ddr" type="text" value="" disabled>
                                                        <span class="input-group-addon">
                                                            <i class="fa fa-calendar"></i>
                                                        </span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="" class="col-sm-5 control-label">DAR :</label>
                                            <div class="col-sm-7">
                                                <div class="input-group">
                                                    <input style="background: lightgrey" class="col-sm-12 form-control"
                                                           id="dar" type="text" value="" disabled>
                                                        <span class="input-group-addon">
                                                            <i class="fa fa-calendar"></i>
                                                        </span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="" class="col-sm-5 control-label">Récolte prév. Aj :</label>
                                            <div class="col-sm-7">
                                                <div class="input-group">
                                                    <input style="background: lightgrey" class="col-sm-12 form-control"
                                                           id="rp" type="text" disabled>
                                                        <span class="input-group-addon">
                                                            <i class="fa fa-calendar"></i>
                                                        </span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row" style="padding-right: 3%; padding-left: 3% ">
                        <div class="step-pane" id="wiredstep2">
                            <div class="form-title">
                                Ajouter des parcelles :
                            </div>
                            <div class="form-horizontal">
                            </div>
                        </div>
                    </div>
                    <div class="row" style="padding-right: 3%; padding-left: 3% ">
                        <div class="step-pane" id="wiredstep3">
                            <div class="form-title">
                                Ajouter lot de semence :
                            </div>
                            <div class="form-horizontal">

                            </div>
                        </div>
                    </div>
                    <div class="row" style="padding-right: 3%; padding-left: 3% ">
                        <div class="step-pane" id="wiredstep4">
                            <div class="form-title">
                                Ajouter intrants :
                            </div>
                            <div class="form-horizontal">

                            </div>
                        </div>
                    </div>
                </div>
                <div class="actions actions-footer" id="WiredWizard-actions">
                    <div class="btn-group" >
                        <button type="button" class="btn btn-default btn-sm btn-prev"> <i class="fa
                        fa-angle-left"></i>Précédent</button>
                        <button type="button" class="btn btn-success btn-sm btn-next" data-last="TERMINER"
                                >Suivant<i class="fa fa-angle-right"></i>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

