{% extends 'AgroBundle:Itkism:layout.html.twig' %}
{% block content  %}
    <br>
    <div class="col-lg-12 col-sm-12 col-xs-12" style="padding-left: 2%; padding-right: 2%">
        <div class="widget flat radius-bordered">
            <div class="widget-header bg-azure">
                <span class="widget-caption">Modifier instruction de semis N° {{ itkism.id }}</span>
                <span style="color: #ffffff; margin-right: 10%; font-weight: bold "> Date de création : {{ itkism.dATECREATION|date('d-m-Y') }}    </span>
                <div class="widget-buttons buttons-bordered">
                    <button class="btn btn-danger btn-sm" onclick="window.location.href='{{ path
                    ('instructionsemis') }}'"><i class="fa fa-arrow-left"></i>Retour</button>
                </div>
                <div class="widget-buttons buttons-bordered">
                    <button class="btn btn-azure btn-sm" onclick="window.location.href='{{ path('ajouteritkism') }}'">Nouvelle instruction de semis</button>
                </div>
                <div class="messageflasherror">
                    {% for flashMessage in app.session.flashbag.get('notice') %}

                        <p style="color: red">{{ flashMessage }}</p>

                    {% endfor %}
                </div>
                <div class="messageflashok">
                    {% for flashMessage in app.session.flashbag.get('noticeok') %}

                        <p style="color: green">{{ flashMessage }}
                            <i class="fa fa-check-circle" aria-hidden="true"></i>
                        </p>

                    {% endfor %}
                </div>
            </div>
            {# START MODALS #}
            <div class="modal modal-primary" id="myModal">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                            <h4 class="modal-title">Modifier l'ilot</h4>
                        </div>
                        <div class="form-horizontal" id="form">
                            <div class="modal-body">
                                <div class="form-group">
                                    <label  class="col-sm-4 control-label"
                                            for="inputlibelle">ANCIEN ILOT</label>
                                    <div class="col-sm-6">
                                        <input type="text" class="form-control" value=""
                                               id="oldIlot"
                                               disabled/>
                                        <input type="hidden" class="form-control"
                                               value=" ilot.id" id="ilotid" name="ilotid" disabled/>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label  class="col-sm-4 control-label" for="inputlibelle">NOUVEL
                                        ILOT</label>
                                    <div class="col-sm-6">
                                        <input type="text" class="form-control" value="" id="ilot"
                                               name="ilot"/>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label  class="col-sm-4 control-label" for="inputlibelle">CONFIRMER ILOT</label>
                                    <div class="col-sm-6">
                                        <input type="text" class="form-control"
                                               id="ilotconfirm" name="ilotconfirm"/>
                                    </div>
                                </div>
                            </div>
                            <!-- Modal Footer -->
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-warning" data-dismiss="modal">Close</button>
                            <button type="button" class="btn btn-primary " onclick=" updateilotopsaisi
                            (document.getElementById('ilotid').value)">Valider</button>
                        </div>
                    </div><!-- /.modal-content -->
                </div><!-- /.modal-dialog -->
            </div><!-- /.modal -->
            <div id="modal-warning1" class="modal modal-message modal-warning fade"
                 style="display: none;" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <i class="fa fa-warning"></i>
                        </div>
                        <div class="modal-title">Avertissement ! </div>

                        <div class="modal-body">La Culture Variete a changé : Vous devez modifier le
                            code de l'ilot</div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-warning"
                                    id="btnaffiformilotsaisi"
                                    data-dismiss="modal">OK</button>
                        </div>
                    </div> <!-- / .modal-content -->
                </div> <!-- / .modal-dialog -->
            </div>
            <div id="modal-warning-itkism-saisi" class="modal modal-message modal-warning fade"
                 style="display: none;" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <i class="fa fa-warning"></i>
                        </div>
                        <div class="modal-title">Avertissement ! </div>

                        <div class="modal-body">Veuillez compléter les informations !!</div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-warning"
                                    data-dismiss="modal">OK</button>
                        </div>
                    </div> <!-- / .modal-content -->
                </div> <!-- / .modal-dialog -->
            </div>
            <div id="modal-danger" class="modal modal-message modal-danger fade" style="display: none;" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <i class="glyphicon glyphicon-fire"></i>
                        </div>
                        <div class="modal-title">Attention !</div>

                        <div class="modal-body">Les deux nom d'Ilots doivent être
                            identiques
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-danger" data-dismiss="modal">OK</button>
                        </div>
                    </div> <!-- / .modal-content -->
                </div> <!-- / .modal-dialog -->
            </div>
            <div id="modal-danger-epi" class="modal modal-message modal-danger fade" style="display: none;" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <i class="glyphicon glyphicon-fire"></i>
                        </div>
                        <div class="modal-title">Attention !</div>

                        <div class="modal-body">Vous avez déja ajouter cette EPI !
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-danger" data-dismiss="modal">OK</button>
                        </div>
                    </div> <!-- / .modal-content -->
                </div> <!-- / .modal-dialog -->
            </div>
            <div id="modal-dangeropdiffuse" class="modal modal-message modal-danger fade" style="display: none;"
                 aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <i class="glyphicon glyphicon-fire"></i>
                        </div>
                        <div class="modal-title">Attention !</div>

                        <div class="modal-body" >Il reste des intsructions diffusées sur cette OP.
                            Veuillez les réaliser d'abord!
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-danger"
                                    data-dismiss="modal" id="annulerinstruction">Annuler</button>
                            <button type="button" class="btn btn-success " id="realiserinstruction">Réaliser</button>
                        </div>
                    </div> <!-- / .modal-content -->
                </div> <!-- / .modal-dialog -->
            </div>
            <div id="modal-dangerdas" class="modal modal-message modal-danger fade" style="display: none;"
                 aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <i class="glyphicon glyphicon-fire"></i>
                        </div>
                        <div class="modal-title">Attention !</div>

                        <div class="modal-body">Veuillez choisir une date ultérieure à la DAS !!
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-danger" data-dismiss="modal">OK</button>
                        </div>
                    </div> <!-- / .modal-content -->
                </div> <!-- / .modal-dialog -->
            </div>
            <!--Success Modal Templates-->
            <div id="modal-success1" class="modal modal-message modal-success fade" style="display: none;"
                 aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <i class="glyphicon glyphicon-check"></i>
                        </div>
                        <div class="modal-title">Succès</div>
                        <div class="modal-body">L'ilôt a bien été modifiée !</div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-success" data-dismiss="modal">OK</button>
                        </div>
                    </div> <!-- / .modal-content -->
                </div> <!-- / .modal-dialog -->
            </div>
            <div id="modal-success-itkism" class="modal modal-message modal-success fade" style="display: none;"
                 aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <i class="glyphicon glyphicon-check"></i>
                        </div>
                        <div class="modal-title">Succès</div>
                        <div class="modal-body">L'instructiond de semis a bien été mise à jour !</div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-success" data-dismiss="modal">OK</button>
                        </div>
                    </div> <!-- / .modal-content -->
                </div> <!-- / .modal-dialog -->
            </div>
            <!--End Success Modal Templates-->
            <input type="hidden" id="diffuse" value="" />
            {#END MODALS#}
            <div class="widget-body">
                {#{{ form_start(edit_form, {'attr': {'class': 'form-horizontal'}}) }}#}
                <div id="WiredWizard" class="wizard wizard-wired" data-target="#WiredWizardsteps">
                    <ul class="steps">
                        <li data-target="#wiredstep1" class="active"><span class="step">1</span><span
                                    class="title">Informations générales</span><span class="chevron"></span></li>
                        <li data-target="#wiredstep2"><span class="step">2</span><span class="title">Parcelles à
                                semer</span>
                            <span class="chevron"></span></li>
                        <li data-target="#wiredstep3"><span class="step">3</span><span class="title">Lots de
                                semences</span> <span class="chevron"></span></li>
                        <li data-target="#wiredstep4"><span class="step">4</span><span class="title">Intrants</span>
                            <span class="chevron"></span></li>
                        <li data-target="#wiredstep5"><span class="step">5</span><span class="title">Materiel /
                        EPI</span> <span
                                    class="chevron"></span></li>
                    </ul>
                </div>
                <input type="hidden" id="itkismid" value="{{ itkism.id }}" >
                <div class="step-content" id="WiredWizardsteps" style="height: auto">
                    <div class="row" style="; padding-right: 3%; ">
                        <div class="step-pane active" id="wiredstep1">
                            <div class="form-horizontal">
                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4" style="text-align:left">
                                        <div class="form-group">
                                            <label for="" class="col-sm-5 control-label">Ferme :<sup style="color:
                                    red">*</sup></label>
                                            <div class="col-sm-7" >
                                                {#{{ form_widget(form.fERMEID, {'attr': {'class': 'form-control',#}
                                                    {#'disabled':'disabled'}}) }}#}
                                                <input style="background: lightgrey" class="col-sm-12 form-control" id=""
                                                       type="text" value="{{ ferme }}"
                                                       disabled />
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="" class="col-sm-5 control-label">OP Budget :<sup style="color:
                                    red">*</sup></label>
                                            <div class="col-sm-7">
                                                {#<input type="hidden" id="op" style="width: 100%"/>#}
                                                {#<input type="hidden" id="op1" style="width: 100%" value="{{ cc.lIBELLE }}"/>#}
                                                {#{{ form_widget(form.cYCLECULTURALID, {'attr': {'class': 'form-control',#}
                                                    {#'disabled':'disabled'}}) }}#}
                                                <input style="background: lightgrey" class="col-sm-12 form-control" id="cc"
                                                       type="text" value="{{ cc.lIBELLE }}"
                                                       disabled />
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="" class="col-sm-5 control-label">Culture Variété :<sup style="color:
                                    red">*</sup></label>
                                            <div class="col-sm-7">
                                                <input type="hidden" id="cv" style="width: 100%"/>
                                                {{ form_widget(form.cULTUREID, {'attr': {'class': 'form-control'}}) }}
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-4 col-md4 col-sm-4 col-xs-4" style="text-align:left ">
                                        <div class="form-group">
                                            <label for="" class="col-sm-5 control-label">Culture Variété :<sup style="color:
                                            red">*</sup></label>
                                            <div class="col-sm-7">
                                                <input style="background: lightgrey" class="col-sm-12 form-control" id="cuva"
                                                       type="text" value="{{ cv.lIBELLE }}"
                                                       disabled />
                                                <input type="hidden" value="{{ cvid }}" id="cvid" />
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="" class="col-sm-5 control-label">Famille culturale :</label>
                                            <div class="col-sm-7">
                                                <input type="hidden" id="fcid" />
                                                <input style="background: lightgrey" class="col-sm-12 form-control" id="fc" type="text"
                                                       value="{{ fc }}" disabled />
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="" class="col-sm-5 control-label">Type implantation :</label>
                                            <div class="col-sm-7">
                                                <input style="background: lightgrey" class="col-sm-12 form-control" id="ti" type="text"
                                                       value="{{ ti }}" disabled>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="" id="ilotlabel" class="col-sm-5 control-label">Ilot :</label>
                                            <div class="col-sm-7">
                                                <input type="hidden" id="cvidden" />
                                                <input type="hidden" id="ilothidden" />
                                                <input style="background: lightgrey" class="col-sm-12 form-control" id="il"
                                                       type="text" value="{{ ilot }}"
                                                       disabled>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4" style="text-align:left ">
                                        {#<div class="form-group">#}
                                            {#<label for="" class="col-sm-5 control-label">Parcelles :</label>#}
                                            {#<div class="col-sm-7">#}
                                                {#<div class="input-group">#}
                                                    {#<input style="background: lightgrey" class="col-sm-12 form-control" value="" type="text"#}
                                                           {#disabled>#}
                                                {#</div>#}
                                            {#</div>#}
                                        {#</div>#}
                                        <div class="form-group">
                                            <label for="" class="col-sm-5 control-label">DAS :</label>
                                            <div class="col-sm-7">
                                                <div class="input-group">
                                                    <input style="background: lightgrey" class="col-sm-12 form-control" id="das"
                                                           value="{{ das }}"
                                                           type="text"
                                                           disabled>
                                                        <span class="input-group-addon">
                                                            <i class="fa fa-calendar"></i>
                                                        </span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="" class="col-sm-5 control-label">Récolte prév. Aj :</label>
                                            <div class="col-sm-7">
                                                <div class="input-group">
                                                    <input style="background: lightgrey" class="col-sm-12 form-control"
                                                           id="rp" type="text" value="{{ dateprev|date('d-m-Y') }}"
                                                           disabled>
                                                        <span class="input-group-addon">
                                                            <i class="fa fa-calendar"></i>
                                                        </span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-horizontal">
                                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                        <div class="form-title">
                                        </div>
                                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="margin: auto; width:99%">
                                            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4" style="text-align:left">
                                                <div class="form-group">
                                                    <label for="" class="col-sm-5 control-label">Type M. Végétal :<sup style="color:
                                    red">*</sup></label>
                                                    <div class="col-sm-7">
                                                        {{ form_widget(form.tYPEMVEGETAL, {'attr': {'class': 'form-control'}}) }}
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label for="" class="col-sm-5 control-label">Surface à semer :<sup style="color:
                                    red">*</sup></label>
                                                    <div class="col-sm-7">
                                                        <input style="background: lightgrey" class="col-sm-12 form-control"
                                                               id="surface" value="{{
                                                        surface }}"
                                                               disabled/>
                                                        {#{{ form_widget(form.sURFACE, {'attr': {'class':#}
                                                            {#'form-control','disabled':'disabled'}}) }}#}
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label for="" class="col-sm-5 control-label">Surface totale :</label>
                                                    <div class="col-sm-7">
                                                        <input style="background: lightgrey" class="col-sm-12 form-control" id="surfacetot"
                                                               value="{{ surface }}"
                                                               disabled/>
                                                        {#{{ form_widget(form.sURFACETOT, {'attr': {'class': 'form-control','disabled':'disabled'}}) }}#}
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label for="" class="col-sm-5 control-label">% Surface semée :</label>
                                                    <div class="col-sm-7">
                                                        <input class="col-sm-12 form-control" id="percentsurface"
                                                               value="100%"
                                                               disabled/>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-lg-4 col-md4 col-sm-4 col-xs-4" style="text-align:left ">
                                                <div class="form-group" id="datep">
                                                    <label for="" class="col-sm-5 control-label">Date de semis :<sup style="color:
                                    red">*</sup></label>
                                                    <div class="col-sm-7">
                                                        <div class="input-group">
                                                            {{ form_widget(form.dATEP, {'attr': {'class': 'form-control'}}) }}
                                                            {#<input style="background: lightgrey" class="col-sm-12 form-control"#}
                                                                   {#id="datefinsemis"#}
                                                                   {#value=""#}
                                                                   {#disabled/>#}
                                                            <span class="input-group-addon">
                                                                <i class="fa fa-calendar"></i>
                                                            </span>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label for="" class="col-sm-5 control-label">Durée (j) :<sup style="color:
                                    red">*</sup></label>
                                                    <div class="col-sm-7">
                                                        {{ form_widget(form.dUREE, {'attr': {'class': 'form-control'}}) }}
                                                    </div>
                                                </div>
                                                <div class="form-group" id="datepfin">
                                                    <label for="" class="col-sm-5 control-label">Date fin semis :<sup style="color:
                                    red">*</sup></label>
                                                    <div class="col-sm-7">
                                                        <div class="input-group">
                                                            {{ form_widget(form.dATEPFIN, {'attr': {'class': 'form-control',
                                                                'disabled':'disabled'}}) }}
                                                            <span class="input-group-addon">
                                                                <i class="fa fa-calendar"></i>
                                                            </span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4" style="text-align:left ">
                                                <div class="form-group">
                                                    <label for="" class="col-sm-5 control-label">Nbre de rangs :</label>
                                                    <div class="col-sm-7">
                                                        {{ form_widget(form.rANGNB, {'attr': {'class': 'form-control'}}) }}
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label for="" class="col-sm-5 control-label">Ecartement lignes :<sup style="color:
                                    red">*</sup></label>
                                                    <div class="col-sm-7">
                                                        {{ form_widget(form.eLIGNE, {'attr': {'class': 'form-control'}}) }}
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label for="" class="col-sm-5 control-label">Ecartement semis :<sup style="color:
                                    red">*</sup></label>
                                                    <div class="col-sm-7">
                                                        {{ form_widget(form.eSEMIS, {'attr': {'class': 'form-control'}}) }}
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-horizontal">
                                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                        <div class="form-title">
                                        </div>
                                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="margin: auto; width:99%">
                                            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4" style="text-align:left">
                                                <div class="form-group">
                                                    <label for="" class="col-sm-5 control-label">Quantité semence/Ha :</label>
                                                    <div class="col-sm-7">
                                                        {{ form_widget(form.qTESEM, {'attr': {'class': 'form-control',
                                                            'disabled':'disabled'}}) }}
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label for="" class="col-sm-5 control-label">Quantité semence totale :</label>
                                                    <div class="col-sm-7">
                                                        {{ form_widget(form.qTESEMTOT, {'attr': {'class': 'form-control',
                                                            'disabled':'disabled'}}) }}
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label for="" class="col-sm-5 control-label">Prescripteur :<sup style="color:
                                    red">*</sup></label>
                                                    <div class="col-sm-7">
                                                        {{ form_widget(form.pRESCRIPTEURID, {'attr': {'class': 'form-control'}}) }}
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-lg-4 col-md4 col-sm-4 col-xs-4" style="text-align:left ">
                                                <div class="form-group">
                                                    <label for="" class="col-sm-5 control-label">Mode d'application :</label>
                                                    <div class="col-sm-7">
                                                        {{ form_widget(form.mODEAPPLICATION, {'attr': {'class': 'form-control'}}) }}
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label for="" class="col-sm-5 control-label" id="operateurlabel">Opérateur :</label>
                                                    <div class="col-sm-7">
                                                        {{ form_widget(form.aPPLICATEURID, {'attr': {'class': 'form-control'}}) }}
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label for="" class="col-sm-5 control-label" id="effectiflabel">Effectif :</label>
                                                    <div class="col-sm-7">
                                                        <input class="col-sm-12 form-control" id="effectif" />
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row" style="padding-right: 3%; padding-left: 3% ">
                        <div class="step-pane" id="wiredstep2">
                            <div class="form-title">
                                Ajouter des parcelles :
                            </div>
                            <div class="form-horizontal">
                                <div class="col-lg-7 col-md-7 col-sm-7 col-xs-7" style="margin: auto; width:50%; ">
                                    <table class="table table-bordered table-hover " id="" >
                                        <thead class="bordered-darkorange">
                                        <tr role="row">
                                            <th >Parcelle</th>
                                            <th >Surface</th>
                                            <th >Action</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        {% for rs in parcelles %}
                                            {% set i = rs.PARCELLEID %}
                                            <tr>
                                                <td style="text-align: center">{{ rs['PARCELLE'] }}</td>
                                                {% if rs['TYPEIRRIGATIONID'] == "0" %}
                                                    <td>
                                                        <input type="text" value="{{ rs['SURFACE'] }}" id='surface{{ i }}'
                                                               style="width: 20%" disabled/>
                                                    </td>
                                                    <td >
                                                        <div class="checkbox">
                                                            <label>
                                                                <input type="checkbox" id='checked{{ i }}' class="colored-success"
                                                                       checked="checked" />
                                                                <span class="text"></span>
                                                            </label>
                                                        </div>
                                                    </td>
                                                {% else %}
                                                    <td>
                                                        <input type="text" value="{{ rs['SURFACE'] }}" id='surface{{ i }}'
                                                               style="width: 20%" />
                                                    </td>
                                                    <td >
                                                        <div class="checkbox">
                                                            <label>
                                                                <input type="checkbox" id='checked{{ i }}' class="colored-success"
                                                                       checked="checked" disabled/>
                                                                <span class="text"></span>
                                                            </label>
                                                        </div>
                                                    </td>
                                                {% endif %}
                                            </tr>
                                        {% endfor%}
                                        </tbody>
                                    </table>
                                    {% set var = [] %}
                                    {% for rsparcelle in parcelles  %}
                                        {% set var = var|merge([rsparcelle.PARCELLEID]) %}
                                    {% endfor %}
                                    {#{% set var = var|merge([itkism.id]) %}#}
                                    <input type="hidden" id="parcellesitkism" value="{{ var|json_encode() }}"/>
                                </div>
                                <div class="col-lg-5 col-md-5 col-sm-5 col-xs-5" style="padding-top: 20px" >
                                    <button class="btn btn-palegreen " style="padding-left: 20px"
                                            onclick="updatesurfaceitkism({{
                                            var|json_encode() }})">
                                        <i class="fa fa-refresh"></i> Actualiser
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row" style="padding-right: 3%; padding-left: 3% ">
                        <div class="step-pane" id="wiredstep3">
                            <div class="form-title">
                                Ajouter lot de semence :
                            </div>
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox" id='checkedlot' class="colored-success"/>
                                    <span class="text">LOT DE SEMENCE IMPORTE</span>
                                </label>
                            </div>
                            <br> <br>
                            <div class="form-horizontal">
                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4" style="text-align:left">
                                        <div class="form-group">
                                            <label for="" class="col-sm-5 control-label">Lot de semence :<sup style="color:
                                    red">*</sup></label>
                                            <div class="col-sm-7">
                                                <input type="hidden" id="ls" style="width: 100%"/>
                                                <input type="hidden" id="semencelotid" style="width: 100%"/>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="" class="col-sm-5 control-label">Quantité :</label>
                                            <div class="col-sm-7">
                                                <input class="col-sm-12 form-control" id="quantite" type="text" value="" />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4" style="text-align:left ">
                                        <div class="form-group">
                                            <label for="" class="col-sm-5 control-label">Libelle :</label>
                                            <div class="col-sm-7">
                                                <input class="col-sm-12 form-control" id="libelle" type="text" value=""
                                                       disabled>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="" class="col-sm-5 control-label" id="" >Culture Variété :</label>
                                            <div class="col-sm-7">
                                                <input class="col-sm-12 form-control" id="cvsem" type="text" value="" disabled>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4" style="text-align:left ">
                                        <div class="form-group">
                                            <label for="" class="col-sm-5 control-label">Unité :</label>
                                            <div class="col-sm-7">
                                                <input class="col-sm-12 form-control" id="unite" type="text" value="" disabled>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row" style="padding-right: 3%; padding-left: 3% ">
                        <div class="step-pane" id="wiredstep4">
                            <div class="form-title">
                                Ajouter intrants :
                            </div>
                            <div class="form-horizontal">
                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="margin: auto; width:99%; ">
                                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4" style="text-align:left">
                                        <div class="form-group">
                                            <label for="" class="col-sm-5 control-label">Intrant :</label>
                                            <div class="col-sm-7">
                                                <input type="hidden" id="intrant" style="width: 100%"/>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="" class="col-sm-5 control-label">Unite :</label>
                                            <div class="col-sm-7">
                                                <input style="background: lightgrey" class="col-sm-12 form-control" id="uniteint" type="text"
                                                        value="" disabled/>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="" class="col-sm-5 control-label">Dose :</label>
                                            <div class="col-sm-7">
                                                <input class="col-sm-12 form-control" id="dose" type="text" value="" />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4" style="text-align:left ">
                                        <div class="form-group">
                                            <label for="" class="col-sm-5 control-label" id="code_cv" >Prix unitaire :</label>
                                            <div class="col-sm-7">
                                                <input style="background: lightgrey" class="col-sm-12 form-control" id="prixunit" type="text"
                                                       value="" disabled/>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="" class="col-sm-5 control-label">Surface :</label>
                                            <div class="col-sm-7">
                                                <input style="background: lightgrey" class="col-sm-12 form-control" id="surfaceint" type="text"
                                                       value="{{ surface }}" disabled />
                                                {#{{ form_widget(form.sURFACE, {'attr': {'class':#}
                                                    {#'form-control','disabled':'disabled'}}) }}#}
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="" class="col-sm-5 control-label">Quantité totale :</label>
                                            <div class="col-sm-7">
                                                <input style="background: lightgrey" class="col-sm-12 form-control" id="qtetot" type="text" value=""
                                                       disabled />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4" style="text-align:left ">
                                        <div class="form-group">
                                            <label for="" class="col-sm-5 control-label">Prix totale :</label>
                                            <div class="col-sm-7">
                                                <input style="background: lightgrey" class="col-sm-12 form-control" id="prixtot" type="text" value=""
                                                       disabled />
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="" class="col-sm-5 control-label">Commentaires :</label>
                                            <div class="col-sm-7">
                                                <textarea rows="3" cols="30" class="col-sm-12 form-control" id='comment' name="comment" ></textarea>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row" style="padding-right: 3%; padding-left: 3% ">
                        <div class="step-pane" id="wiredstep5">
                            <div class="form-title">
                                Ajouter les epi :
                            </div>
                            <div class="form-horizontal">
                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" id="meca" hidden>
                                    <div class=" col-lg-5 col-md-5 col-sm-5 col-xs-5" style="text-align:left; padding-left: 5%">
                                        <div class="form-group">
                                            <label for="" class="col-sm-5 control-label">Tracteur :<sup style="color:
                                                    red">*</sup></label>
                                            <div class="col-sm-7">
                                                <input type="hidden" id="materielepi" style="width: 100%"/>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="" class="col-sm-5 control-label">Appareil traitement :<sup style="color:
                                                    red">*</sup></label>
                                            <div class="col-sm-7">
                                                <input type="hidden" id="appareil" style="width: 100%"/>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-title">
                                    .
                                </div>
                                <div class="form-horizontal">
                                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                        <div class=" col-lg-5 col-md-5 col-sm-5 col-xs-5" style="text-align:left; padding-left: 5%">
                                            <div class="form-group">
                                                <label for="" class="col-sm-3 control-label">EPI :<sup style="color:
                                                    red">*</sup></label>
                                                <div class="col-sm-9">
                                                    <input type="hidden" id="epi" style="width: 100%"/>
                                                </div>
                                            </div>
                                        </div>
                                        <div class=" col-lg-1 col-md-1 col-sm-1 col-xs-1" style="text-align:left; padding-left: 5%">
                                            <div class="form-group">
                                                <div class="col-sm-offset-8 col-sm-7">
                                                    <button class="btn btn-azure "  onclick="updateepimanuel({{ itkism.id }})">
                                                        <i class="fa fa-plus" ></i>Ajouter
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-title" style="color: #003300">
                                Liste des EPI
                            </div>
                            <div class="row">
                                <div style="margin-left: 5%; margin-right: 5%;">
                                    <div class="widget flat radius-bordered">
                                        <div class="widget-body">
                                            <div >
                                                <table class="table table-bordered table-hover " id="" >
                                                    <thead class="bordered-darkorange">
                                                    <tr role="row">
                                                        <th >Libellé</th>
                                                        {#<th >Type</th>#}
                                                        <th style="width: 20%" >Actions</th>
                                                    </tr>
                                                    </thead>
                                                    <tbody id="tableepi">
                                                    {% for rs in itkismepi %}
                                                        <tr id="{{ rs['EPIID'] }}">
                                                            <td>{{ rs['EPI'] }}</td>
                                                            {#<td>{{ rs['TYPE'] }}</td>#}
                                                            <td>
                                                                <button type="button" class="btn btn-danger btn-sm"
                                                                        onclick=" supprimerepiitkism({{rs['EPIID'] }},{{
                                                                        itkism.id }}); "><i class="fa
                                                                        fa-trash"></i>Supprimer
                                                                </button>
                                                            </td>
                                                        </tr>
                                                    {% endfor%}
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <br><br>
                </div>
                <div class="actions actions-footer" id="WiredWizard-actions">
                    <div class="btn-group" >
                        <button type="button" class="btn btn-default btn-sm btn-prev"> <i class="fa
                        fa-angle-left"></i>Précédent</button>
                        <button id="finishitkism" type="button" class="btn btn-success btn-sm btn-next"
                                data-last="TERMINER"
                                >Suivant<i class="fa fa-angle-right"></i>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

