{% extends 'AgroBundle:Itkism:layout.html.twig' %}
{% block content  %}
    <br>
    <div class="col-lg-12 col-sm-12 col-xs-12" style="padding-left: 2%; padding-right: 2%">
        <div class="widget flat radius-bordered">
            <div class="widget-header bg-palegreen">
                <span class="widget-caption">Instruction de semis N°{{ itkism.id }}</span>
                <span style="color: #ffffff; margin-right: 10%; font-weight: bold "> Date de création : {{ itkism.dATECREATION|date('d-m-Y') }}    </span>
                <div class="widget-buttons buttons-bordered">
                    <button class="btn btn-danger btn-sm" onclick="window.location.href='{{ path
                    ('instructionsemis') }}'"><i class="fa fa-arrow-left"></i>Retour</button>
                </div>
                <div class="widget-buttons buttons-bordered">
                    <button class="btn btn-default btn-sm"  onclick=" annuleritkism({{ itkism.id }})">
                        ANNULER
                    </button>
                </div>
                <div class="widget-buttons buttons-bordered">
                    <a class="btn btn-warning " href='{{ path
                    ('imprimeritkism',{"id": itkism.id}) }}' target="_blank"> &nbsp;&nbsp;
                        <i class="fa fa-print"></i> IMPRIMER &nbsp;&nbsp;
                    </a>
                </div>
            </div>
            <div id="modal-success-cancel-itkism" class="modal modal-message modal-success fade" style="display: none;"
                 aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <i class="glyphicon glyphicon-check"></i>
                        </div>
                        <div class="modal-title">Succès</div>
                        <div class="modal-body">L'instruction a bien été annulée !</div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-success" data-dismiss="modal">OK</button>
                        </div>
                    </div> <!-- / .modal-content -->
                </div> <!-- / .modal-dialog -->
            </div>
            <div class="widget-body">
                <div class="messageflasherror">
                    {% for flashMessage in app.session.flashbag.get('notice') %}

                        <p style="color: red">{{ flashMessage }}</p>

                    {% endfor %}
                </div>
                <div id="WiredWizard" class="wizard wizard-wired" data-target="#WiredWizardsteps">
                    <ul class="steps">
                        <li data-target="#wiredstep1" class="active"><span class="step">1</span><span
                                    class="title">Informations générales</span><span class="chevron"></span></li>
                        <li data-target="#wiredstep2"><span class="step">2</span><span class="title">Parcelles à
                                semer</span>
                            <span class="chevron"></span></li>
                        <li data-target="#wiredstep3"><span class="step">3</span><span class="title">Lots de
                                semences</span> <span class="chevron"></span></li>
                        <li data-target="#wiredstep4"><span class="step">4</span><span class="title">Intrants</span>
                            <span class="chevron"></span></li>
                        <li data-target="#wiredstep5"><span class="step">5</span><span class="title">Materiel /
                        EPI</span> <span
                                    class="chevron"></span></li>
                    </ul>
                </div>
                <div class="step-content" id="WiredWizardsteps" style="height: auto; padding-right: 3%; padding-left:
                 3%" >
                    <div class="row" style=" ">
                        <div class="step-pane active" id="wiredstep1">
                            <div class="form-horizontal">
                                <div class="row">
                                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                        <div class="form-title">
                                            Info. instruction de semis
                                        </div>
                                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4" style="text-align:left">
                                                <div class="form-group">
                                                    <label for="" class="col-sm-5 control-label">Ferme :</label>
                                                    <div class="col-sm-7" >
                                                        <input style="background: lightgrey" class="col-sm-12 form-control" id=""
                                                               type="text" value="{{ ferme }}"
                                                               disabled />
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label for="" class="col-sm-5 control-label">OP Budget :</label>
                                                    <div class="col-sm-7">
                                                        <input style="background: lightgrey" class="col-sm-12 form-control" id="cc"
                                                               type="text" value="{{ cc.lIBELLE }}"
                                                               disabled />
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-lg-4 col-md4 col-sm-4 col-xs-4" style="text-align:left ">
                                                <div class="form-group">
                                                    <label for="" class="col-sm-5 control-label">Culture Variété :</label>
                                                    <div class="col-sm-7">
                                                        <input style="background: lightgrey" class="col-sm-12 form-control" id="cuva"
                                                               type="text" value="{{ cv.lIBELLE }}"
                                                               disabled />
                                                        <input type="hidden" value="{{ cvid }}" id="cvid" />
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label for="" class="col-sm-5 control-label">Famille culturale :</label>
                                                    <div class="col-sm-7">
                                                        <input type="hidden" id="fcid" />
                                                        <input style="background: lightgrey" class="col-sm-12 form-control" id="fc" type="text"
                                                               value="{{ fc }}" disabled />
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label for="" class="col-sm-5 control-label">Type implantation :</label>
                                                    <div class="col-sm-7">
                                                        <input style="background: lightgrey" class="col-sm-12 form-control" id="ti" type="text"
                                                               value="{{ ti }}" disabled>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4" style="text-align:left ">
                                                <div class="form-group">
                                                    <label for="" id="ilotlabel" class="col-sm-5 control-label">Ilot :</label>
                                                    <div class="col-sm-7">
                                                        <input style="background: lightgrey" class="col-sm-12 form-control" id="il"
                                                               type="text" value="{{ ilot }}"
                                                               disabled>
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label for="" class="col-sm-5 control-label">DAS :</label>
                                                    <div class="col-sm-7">
                                                        <div class="input-group">
                                                            <input style="background: lightgrey" class="col-sm-12 form-control" id="das"
                                                                   value="{{ das }}"
                                                                   type="text"
                                                                   disabled>
                                                        <span class="input-group-addon">
                                                            <i class="fa fa-calendar"></i>
                                                        </span>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label for="" class="col-sm-5 control-label">Récolte prév. Aj :</label>
                                                    <div class="col-sm-7">
                                                        <div class="input-group">
                                                            <input style="background: lightgrey" class="col-sm-12 form-control"
                                                                   id="rp" type="text" value="{{ dateprev|date('d-m-Y') }}"
                                                                   disabled>
                                                        <span class="input-group-addon">
                                                            <i class="fa fa-calendar"></i>
                                                        </span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="form-horizontal">
                                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                            <div class="form-title">
                                            </div>
                                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="margin: auto; width:99%">
                                                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4" style="text-align:left">
                                                    <div class="form-group">
                                                        <label for="" class="col-sm-5 control-label">Type M. Végétal :</label>
                                                        <div class="col-sm-7">
                                                            {{ form_widget(edit_form.tYPEMVEGETAL, {'attr': {'class':
                                                            'form-control' , 'disabled':'disabled'}}) }}
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <label for="" class="col-sm-5 control-label">Surface à semer :</label>
                                                        <div class="col-sm-7">
                                                            <input style="background: lightgrey" class="col-sm-12 form-control"
                                                                   id="surface" value="{{
                                                            surface }}"
                                                                   disabled/>
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <label for="" class="col-sm-5 control-label">Surface totale :</label>
                                                        <div class="col-sm-7">
                                                            <input style="background: lightgrey" class="col-sm-12 form-control" id="surfacetot"
                                                                   value="{{ surface }}"
                                                                   disabled/>
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <label for="" class="col-sm-5 control-label">% Surface semée :</label>
                                                        <div class="col-sm-7">
                                                            <input class="col-sm-12 form-control" id="percentsurface"
                                                                   value="100%"
                                                                   disabled/>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-lg-4 col-md4 col-sm-4 col-xs-4" style="text-align:left ">
                                                    <div class="form-group" id="datep">
                                                        <label for="" class="col-sm-5 control-label">Date de semis :</label>
                                                        <div class="col-sm-7">
                                                            <div class="input-group">
                                                                {{ form_widget(edit_form.dATEP, {'attr': {'class':
                                                                'form-control', 'disabled':'disabled'}}) }}
                                                                <span class="input-group-addon">
                                                                    <i class="fa fa-calendar"></i>
                                                                </span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <label for="" class="col-sm-5 control-label">Durée (jj) :</label>
                                                        <div class="col-sm-7">
                                                            {{ form_widget(edit_form.dUREE, {'attr': {'class':
                                                            'form-control', 'disabled':'disabled'}}) }}
                                                        </div>
                                                    </div>
                                                    <div class="form-group" id="datepfin">
                                                        <label for="" class="col-sm-5 control-label">Date fin semis :</label>
                                                        <div class="col-sm-7">
                                                            <div class="input-group">
                                                                {{ form_widget(edit_form.dATEPFIN, {'attr': {'class': 'form-control',
                                                                    'disabled':'disabled'}}) }}
                                                                <span class="input-group-addon">
                                                        <i class="fa fa-calendar"></i>
                                                    </span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4" style="text-align:left ">
                                                    <div class="form-group">
                                                        <label for="" class="col-sm-5 control-label">Nbre de rangs :</label>
                                                        <div class="col-sm-7">
                                                            {{ form_widget(edit_form.rANGNB, {'attr': {'class':
                                                            'form-control', 'disabled':'disabled'}}) }}
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <label for="" class="col-sm-5 control-label">Ecartement lignes :</label>
                                                        <div class="col-sm-7">
                                                            {{ form_widget(edit_form.eLIGNE, {'attr': {'class':
                                                            'form-control', 'disabled':'disabled'}}) }}
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <label for="" class="col-sm-5 control-label">Ecartement semis :</label>
                                                        <div class="col-sm-7">
                                                            {{ form_widget(edit_form.eSEMIS, {'attr': {'class':
                                                            'form-control' ,'disabled':'disabled'}}) }}
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="form-horizontal">
                                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                            <div class="form-title">
                                            </div>
                                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="margin: auto; width:99%">
                                                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4" style="text-align:left">
                                                    <div class="form-group">
                                                        <label for="" class="col-sm-5 control-label">Quantité semence/Ha :</label>
                                                        <div class="col-sm-7">
                                                            {{ form_widget(edit_form.qTESEM, {'attr': {'class': 'form-control',
                                                                'disabled':'disabled'}}) }}
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <label for="" class="col-sm-5 control-label">Quantité semence totale :</label>
                                                        <div class="col-sm-7">
                                                            {{ form_widget(edit_form.qTESEMTOT, {'attr': {'class': 'form-control',
                                                                'disabled':'disabled'}}) }}
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <label for="" class="col-sm-5 control-label">Prescripteur :</label>
                                                        <div class="col-sm-7">
                                                            {{ form_widget(edit_form.pRESCRIPTEURID, {'attr': {'class': 'form-control',
                                                                'disabled':'disabled'}}) }}
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-lg-4 col-md4 col-sm-4 col-xs-4" style="text-align:left ">
                                                    <div class="form-group">
                                                        <label for="" class="col-sm-5 control-label">Mode d'application :</label>
                                                        <div class="col-sm-7">
                                                            {{ form_widget(edit_form.mODEAPPLICATION, {'attr': {'class': 'form-control',
                                                                'disabled':'disabled'}}) }}
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <label for="" class="col-sm-5 control-label" id="operateurlabel">Opérateur :</label>
                                                        <div class="col-sm-7">
                                                            {{ form_widget(edit_form.aPPLICATEURID, {'attr': {'class': 'form-control',
                                                                'disabled':'disabled'}}) }}
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <label for="" class="col-sm-5 control-label" id="effectiflabel">Effectif :</label>
                                                        <div class="col-sm-7">
                                                            <input class="col-sm-12 form-control" id="effectif"
                                                                   value="{{ itkism.eFFECTIF }}"
                                                                   disabled/>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <br>
                            </div>
                        </div>
                    </div>
                    <div class="row" style="">
                        <div class="step-pane" id="wiredstep2">
                            <div class="form-title">
                                Info. parcelles :
                            </div>
                            <div class="form-horizontal">
                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                    <div class="form-title">
                                        info. Parcelles
                                    </div>
                                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="margin: auto; width:50%; ">
                                        <table class="table table-bordered table-hover " id="" >
                                            <thead class="bordered-darkorange">
                                            <tr role="row">
                                                <th >Parcelle</th>
                                                <th >Surface</th>
                                                <th >Action</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            {% for rs in itkismpa %}
                                                {% set i = rs.PARCELLEID %}
                                                <tr>
                                                    <td style="text-align: center">{{ rs['PARCELLE'] }}</td>
                                                    <td style="text-align: left">
                                                        <input type="text" value="{{ rs['SURFACE'] }}" id='surface{{ i }}'
                                                           style="width: 20%" disabled/>
                                                    </td>
                                                    <td >
                                                        <div class="checkbox">
                                                            <label>
                                                                {% if rs['PARCELLECHECK'] == "0" %}
                                                                    <input type="checkbox" id='checked{{ i }}' class="colored-success" disabled />
                                                                    <span class="text"></span>
                                                                {% else %}
                                                                    <input type="checkbox" id='checked{{ i }}' class="colored-success"
                                                                           checked="checked" disabled/>
                                                                    <span class="text"></span>
                                                                {% endif %}
                                                            </label>
                                                        </div>
                                                    </td>
                                                </tr>
                                            {% endfor%}
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row" style="">
                        <div class="step-pane" id="wiredstep3">
                            <div class="form-title">
                                Info. lot de semence :
                            </div>
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox" id='checkedlot' class="colored-success"/>
                                    <span class="text">LOT DE SEMENCE IMPORTE</span>
                                </label>
                            </div>
                            <br> <br>
                            {% for itkismlot in itkismlot %}
                            <div class="form-horizontal">
                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="margin: auto; width:99%; ">
                                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4" style="text-align:left">
                                        <div class="form-group">
                                            <label for="" class="col-sm-5 control-label">Lot de semence :</label>
                                            <div class="col-sm-7">
                                                <input class="col-sm-12 form-control" id="" type="text" value="{{
                                                itkismlot['LIBELLE'] }}" disabled/>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="" class="col-sm-5 control-label">Quantité :</label>
                                            <div class="col-sm-7">
                                                <input class="col-sm-12 form-control" id="" type="text" value="{{
                                                itkismlot['QUANTITE'] }}" disabled/>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4" style="text-align:left ">
                                        <div class="form-group">
                                            <label for="" class="col-sm-5 control-label">Libelle :</label>
                                            <div class="col-sm-7">
                                                <input class="col-sm-12 form-control" id="" type="text" value="{{
                                                itkismlot['LIBELLE'] }}"
                                                       disabled>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="" class="col-sm-5 control-label" id="code_cv" >LOTNO :</label>
                                            <div class="col-sm-7">
                                                <input class="col-sm-12 form-control" id="" type="text" value="{{
                                                itkismlot['LOTNO'] }}" disabled>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4" style="text-align:left ">
                                        <div class="form-group">
                                            <label for="" class="col-sm-5 control-label">Unité :</label>
                                            <div class="col-sm-7">
                                                <input class="col-sm-12 form-control" id="" type="text" value="{{
                                                itkismlot['UNITE'] }}" disabled>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                    <div class="row" style=" ">
                        <div class="step-pane" id="wiredstep4">
                            <div class="form-title">
                                Info. intrants :
                            </div>
                            {% for itkisma in itkisma %}
                            <div class="form-horizontal">
                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="margin: auto; width:99%; ">
                                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4" style="text-align:left">
                                        <div class="form-group">
                                            <label for="" class="col-sm-5 control-label">Intrant :</label>
                                            <div class="col-sm-7">
                                                <input class="col-sm-12 form-control"  type="text" value="{{ itkisma['ARTICLEID'] }}" disabled/>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="" class="col-sm-5 control-label">Unite :</label>
                                            <div class="col-sm-7">
                                                <input class="col-sm-12 form-control"  type="text" value="{{ itkisma['UNITE'] }}" disabled/>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="" class="col-sm-5 control-label">Dose :</label>
                                            <div class="col-sm-7">
                                                <input class="col-sm-12 form-control" id="" type="text" value="{{
                                                itkisma['QTE'] }}" disabled/>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4" style="text-align:left ">
                                        <div class="form-group">
                                            <label for="" class="col-sm-5 control-label" id="" >Prix unitaire :</label>
                                            <div class="col-sm-7">
                                                <input class="col-sm-12 form-control" id="" type="text" value="{{
                                                itkisma['PRIXUNITAIRE'] }}" disabled/>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="" class="col-sm-5 control-label">Surface :</label>
                                            <div class="col-sm-7">
                                                <input class="col-sm-12 form-control" id="" type="text" value="{{ itkism
                                                .sURFACE }}"
                                                       disabled />
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="" class="col-sm-5 control-label">Quantité totale :</label>
                                            <div class="col-sm-7">
                                                <input class="col-sm-12 form-control" id="" type="text" value="{{
                                                itkisma['QTETOT'] }}"
                                                       disabled />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4" style="text-align:left ">
                                        <div class="form-group">
                                            <label for="" class="col-sm-5 control-label">Prix totale :</label>
                                            <div class="col-sm-7">
                                                <input class="col-sm-12 form-control" id="" type="text" value="{{
                                                itkisma['PRIXTOTAL'] }}"
                                                       disabled />
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="" class="col-sm-5 control-label">Commentaires :</label>
                                            <div class="col-sm-7">
                                        <textarea rows="3" cols="30" class="col-sm-12 form-control" id=''
                                                  name="comment"  >{{  itkisma['COMMENTAIRE'] }}</textarea>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                    <div class="row" >
                        <div class="step-pane" id="wiredstep5">
                            <div class="form-title">
                                Info. EPI :
                            </div>
                            <div class="form-horizontal">
                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                    {% if itkism.mODEAPPLICATION=='Plantation Mecanique' or itkism.mODEAPPLICATION=='Semis Mecanique' %}
                                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="margin: auto; width:99%; ">
                                            <div class=" col-lg-5 col-md-5 col-sm-5 col-xs-5" style="text-align:left; padding-left: 5%">
                                                <div class="form-group">
                                                    <label for="" class="col-sm-5 control-label">Tracteur :</label>
                                                    <div class="col-sm-7">
                                                        <input class="col-sm-12 form-control" id="" type="text" value="{{
                                                        materiel }}"
                                                               disabled/>
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label for="" class="col-sm-5 control-label">Appareil traitement :</label>
                                                    <div class="col-sm-7">
                                                        <input class="col-sm-12 form-control" id="" type="text" value="{{
                                                        appareil }}"
                                                               disabled/>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    {% else %}
                                    {% endif %}
                                </div>
                            </div>
                            <div class="form-title" style="color: #003300">
                                Liste des EPI
                            </div>
                            <div class="row">
                                <div style="margin-left: 5%; margin-right: 5%;">
                                    <div class="widget flat radius-bordered">
                                        <div class="widget-body">
                                            <div >
                                                <table class="table table-bordered table-hover " id="" >
                                                    <thead class="bordered-darkorange">
                                                    <tr role="row">
                                                        <th >Libellé</th>
                                                        <th >Type</th>
                                                        <th style="width: 20%" >Actions</th>
                                                    </tr>
                                                    </thead>
                                                    <tbody>
                                                    {% for rs in itkismepi %}
                                                        <tr>
                                                            <td>{{ rs['EPI'] }}</td>
                                                            <td>{{ rs['TYPE'] }}</td>
                                                            <td>
                                                                <button type="button" class="btn btn-danger btn-sm"
                                                                        onclick=" supprimerepiitkism({{rs['EPIID'] }},{{
                                                                        itkism.id }}); "><i class="fa
                                                                        fa-trash"></i>Supprimer
                                                                </button>
                                                            </td>
                                                        </tr>
                                                    {% endfor%}
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <br><br>
                </div>
                <div class="actions actions-footer" id="WiredWizard-actions">
                    <div class="btn-group" >
                        <button type="button" class="btn btn-default btn-sm btn-prev"> <i class="fa
                        fa-angle-left"></i>Précédent</button>
                        <button type="button" id="finishitkism" class="btn btn-success btn-sm btn-next" data-last="FIN"
                                >Suivant<i class="fa fa-angle-right"></i>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

