<page backtop="20mm">
    <page_header>
        <table style="width: 100%; border-collapse: collapse; border: 1px solid black; table-layout: fixed">
            <tr>
                <td style="width: 50%; " >
                    <img src="{{ asset('http://localhost/pgiweb/web/images/logoSCL-mais.png')}}"  style="max-width: 30%;
                height: auto; ">
                </td>
                <td style="width: 50%; text-align: right; color: #00632E; font-weight: bold " >
                    {{ date }}
                </td>
            </tr>
        </table>
    </page_header>
    <div align="center">
        <h2 style="color: #00632E">FICHE D'INSTRUCTION DE SEMIS N° <b>{{ itkism.id }}
            </b>
        </h2>
    </div>
    <hr style="height: 5px; background: #00632E"/>
    <div style="background-color: #00632E; text-align: center"  >
        <img src="{{ asset('http://localhost/pgiweb/web/images/semer.png')}}"  width="100">
    </div>
    <hr style="height: 5px; background: #00632E"/>
    <br>
    <table style="width: 100%; border-collapse: collapse; padding-top: -20px ">
        <tr style="background:#c5c5c5 ">
            <td  style="width: 50%; border: 2px #00632E; text-align: justify; padding-right: 10px; padding-left:
             10px; padding-bottom: 10px; " >
                <p style="padding-bottom: -15px">Prescripteur : <b style="color: #00632E">{{itkism.PRENOM }} {{ itkism.NOM }}</b></p>
            </td>
            <td  style="width: 50%; border: 2px #00632E; text-align: justify; padding-right: 10px; padding-left:
             10px; padding-bottom: 10px; " >
                <p style="">Signature : &nbsp;&nbsp;&nbsp;
                <div style="border: 1px solid black; height: 50px; width: 200px; " >
                </div>
                </p>
            </td>
        </tr>
    </table>
    <table style="width: 100%; border-collapse: collapse; border: 1px solid black; padding-top: 2px; background: #c5c5c5">
        <tr style=" ">
            <td  style="width: 33%; border: 2px #00632E; text-align: justify; padding-right: 10px; padding-left:
            10px; padding-bottom: 10px; " >
                <p style="padding-bottom: -15px; ">Site : <b style="color: #00632E">{{ itkism.SITE  }}</b></p>
                <p style="padding-bottom: -15px">Ferme : <b style="color: #00632E">{{  itkism.FERME }}</b></p>
                <p style="padding-bottom: -15px">Ordre de plantation : <b style="color: #00632E">{{itkism.OP }}</b></p>
                <p style="padding-bottom: -15px">Culture variété : <b style="color: #00632E">{{itkism.CULTUREVARIETE }}</b></p>
            </td>
            <td  style="width: 33%; border: 2px #00632E; text-align: justify; padding-right: 10px; padding-bottom:
            10px;  padding-left: 10px;" >
                <p style="padding-bottom: -15px">Famille culturale : <b style="color: #00632E">{{ itkism
                        .FAMILLECULTURALE}}</b></p>
                <p style="padding-bottom: -15px">Ilot : <b style="color: #00632E">{{ itkism.ILOT }}</b></p>
                <p style="padding-bottom: -15px">Surface (ha) : <b style="color: #00632E">{{ itkism.SURFACE}}</b></p>
                <p style="padding-bottom: -15px">Parcelles : <b style="color: #00632E">{{ parcelles }}</b></p>
            </td>
            <td  style="width: 34%; border: 2px #00632E; text-align: justify; padding-right: 10px; padding-bottom:
            10px;  padding-left: 10px;" >
                <p style="padding-bottom: -15px">Qté semence (/ha) : <b style="color: #00632E">{{ itkism.QTESEM }}</b></p>
                <p style="padding-bottom: -15px">Qté semence totale : <b style="color: #00632E">{{ itkism.QTESEMTOT
                        }}</b></p>
                <p style="padding-bottom: -15px">Date début : <b style="color: #00632E">{{  itkism.DATEP|date('d/m/Y')
                        }}</b></p>
                <p style="padding-bottom: -15px">Date fin : <b style="color: #00632E">{{ itkism.DATEPFIN|date('d/m/Y')
                        }}</b></p>
            </td>
        </tr>
    </table>
    <br>
    <hr style="border: 1px dashed #00632E" />
    <h3 style="color: #00632E"> Consommation</h3>
    <table style="width: 100%; border-collapse: collapse; border: 1px solid black; padding-top: 2px; background: #f6f6f6">
        <tr>
            <td style="border-right: 2px #00632E; border-bottom: 2px #00632E; text-align: justify; padding-right: 10px;
            padding-left:
            10px; padding-bottom: 10px"></td>
            <td  style=" border: 2px #00632E; text-align: center; padding-right: 10px; padding-left:
            10px; padding-bottom: 10px; " >
                <p style="padding-bottom: -15px; ">Article</p>
            </td>
            <td  style=" border: 2px #00632E; text-align: center; padding-right: 10px; padding-bottom:
            10px;  padding-left: 10px;" >
                <p style="padding-bottom: -15px">Libellé</p>
            </td>
            <td  style=" border: 2px #00632E; text-align: center; padding-right: 10px; padding-bottom:
            10px;  padding-left: 10px;" >
                <p style="padding-bottom: -15px">Unité</p>
            </td>
            <td  style=" border: 2px #00632E; text-align: center; padding-right: 10px; padding-bottom:
            10px;  padding-left: 10px;" >
                <p style="padding-bottom: -15px">Quantité</p>
            </td>
        </tr>
        <tr>
            <td style="width: 20%; border: 2px #00632E; text-align: justify; padding-right: 10px; padding-left:
            10px; padding-bottom: 10px">Prévu</td>
            <td  style="width: 25%; border: 2px #00632E; text-align: justify; padding-right: 10px; padding-left:
            10px; padding-bottom: 10px; " >
                <p style="padding-bottom: -15px; "><b style="color: #00632E">{{ itkismlot['LOTNO'] }}</b></p>
            </td>
            <td  style="width: 30%; border: 2px #00632E; text-align: justify; padding-right: 10px; padding-bottom:
            10px;  padding-left: 10px;" >
                <p style="padding-bottom: -15px"><b style="color: #00632E">{{ itkismlot['LIBELLE'] }}</b></p>
            </td>
            <td  style="width: 10%; border: 2px #00632E; text-align: justify; padding-right: 10px; padding-bottom:
            10px;  padding-left: 10px;" >
                <p style="padding-bottom: -15px"><b style="color: #00632E">{{ itkismlot['UNITE'] }}</b></p>
            </td>
            <td  style="width: 15%; border: 2px #00632E; text-align: justify; padding-right: 10px; padding-bottom:
            10px;  padding-left: 10px;" >
                <p style="padding-bottom: -15px"><b style="color: #00632E">{{ itkismlot['QUANTITE'] }}</b></p>
            </td>
        </tr>
        <tr >
            <td style="border: 2px #00632E; text-align: justify; padding-right: 10px; padding-left:
            10px; padding-bottom: 10px; height: 20px; font-weight: bold">Réalisé</td>
            <td  style="border: 2px #00632E; text-align: justify; padding-right: 10px; padding-left:
            10px; padding-bottom: 10px; " >
                <p style="padding-bottom: -15px; "></p>
            </td>
            <td  style="border: 2px #00632E; text-align: justify; padding-right: 10px; padding-bottom:
            10px;  padding-left: 10px;" >
                <p style="padding-bottom: -15px"></p>
            </td>
            <td  style=" border: 2px #00632E; text-align: justify; padding-right: 10px; padding-bottom:
            10px;  padding-left: 10px;" >
                <p style="padding-bottom: -15px"></p>
            </td>
            <td  style="border: 2px #00632E; text-align: justify; padding-right: 10px; padding-bottom:
            10px;  padding-left: 10px;" >
                <p style="padding-bottom: -15px"></p>
            </td>
        </tr>
        <tr >
            <td colspan="2" style="padding-top: 15px; font-weight: bold; padding-right: 10px; padding-bottom: 5px;
            border-bottom: 2px #00632E;">
                Lots destockés
            </td>
            <td colspan="3" style="padding-top: 15px; padding-left: 10px;  ">
            </td>
        </tr>
        <tr >
            <td style="padding-left: 10px; font-weight: bold; border: 2px #00632E;  ">
                Numéro de lot
            </td>
            <td style=" padding-left: 10px; font-weight: bold; border: 2px #00632E; ">
                Quantité
            </td>
            <td rowspan="2" style="padding-top: -10px; border-top: 0px text-align: right; padding-left: 10px;
            font-weight: bold">
                Nom et signature du magasinier :
            </td>
            <td rowspan="2" colspan="2" style="padding-top: -10px;   ">
                <div style="border: 2px solid #00632E; height: 80px; width: 160px; " >
                </div>
            </td>
        </tr>
        <tr >
            <td style="padding-top: 15px; padding-left: 10px; font-weight: bold; border: 2px #00632E;
            padding-bottom: 10px; height: 5px ">
            </td>
            <td style="padding-top: 15px; padding-left: 10px; font-weight: bold; border: 2px #00632E; height: 5px ">
            </td>
        </tr>
    </table>
    <br>
    <hr style="border: 1px dashed #00632E" />
    <h3 style="color: #00632E"> Parcelles à semer</h3>
    <table style="width: 100%; border-collapse: collapse; border: 1px solid black;  background: #f6f6f6">
        <tr style=" ">
            {% for rs in itkismpa %}
                {% if rs.PARCELLECHECK == '0' %}
                    <td style=" border: 2px #00632E; text-align: justify; padding-right: 10px; padding-left:
    10px; padding-top: 7px" >
                        {{ rs.PARCELLE }} ({{ rs.SURFACE }}) <img src="{{ asset
                        ('http://localhost/pgiweb/web/images/caseacocher1.png')}}"  style="max-width: 25%;
    height: auto">
                    </td>
                {% else %}
                    <td style=" border: 2px #00632E; text-align: justify; padding-right: 10px; padding-left:
    10px; padding-top: 7px" >
                        {{ rs.PARCELLE }} ({{ rs.SURFACE }}) <img src="{{ asset
                        ('http://localhost/pgiweb/web/images/casecochee.png')}}"  style="max-width: 25%;
    height: auto">
                    </td>
                {% endif %}
            {% endfor%}
        </tr>
    </table>
    <page_footer>
        <table style="width: 100%; border-collapse: collapse; border: 1px solid black; table-layout: fixed">
            <tr>
                <td style="width: 80%; color: #00632E; padding-bottom: -60px " >
                    www.scl.sn
                </td>
                <td style="width: 20%; text-align: right; color: #313131; padding-bottom: -60px " >
                    Page 1 sur 2
                </td>
            </tr>
        </table>
    </page_footer>
</page>
<page backtop="20mm">
    <page_header>
        <table style="width: 100%; border-collapse: collapse; border: 1px solid black; table-layout: fixed">
            <tr>
                <td style="width: 50%; " >
                    <img src="{{ asset('http://localhost/pgiweb/web/images/logoSCL-mais.png')}}"  style="max-width: 30%;
                height: auto; ">
                </td>
                <td style="width: 50%; text-align: right; color: #00632E; font-weight: bold " >
                    {{ date }}
                </td>
            </tr>
        </table>

    </page_header>
    <div align="center">
        <h2 style="color: #00632E">FICHE D'INSTRUCTION DE SEMIS N° <b>{{ itkism.id }}
            </b>
        </h2>
    </div>
    <hr style="height: 5px; background: #00632E"/>
    <div style="background-color: #00632E; text-align: center"  >
        <img src="{{ asset('http://localhost/pgiweb/web/images/semer.png')}}"  width="100">
    </div>
    <hr style="height: 5px; background: #00632E"/>
    <h3 style="color: #00632E"> Bon d'application</h3>
    <table style="width: 100%; border-collapse: collapse; border: 1px solid black; padding-top: 2px; background: #f6f6f6">
        <tr>
            <td style="border-right: 2px #00632E; border-bottom: 2px #00632E; text-align: justify; padding-right: 10px;
            padding-left: 10px; padding-bottom: 10px"></td>
            <td  style=" border: 2px #00632E; text-align: center; padding-right: 10px; padding-left:
            10px; padding-bottom: 10px; " >
                <p style="padding-bottom: -15px; ">Intrant</p>
            </td>
            <td  style=" border: 2px #00632E; text-align: center; padding-right: 10px; padding-bottom:
            10px;  padding-left: 10px;" >
                <p style="padding-bottom: -15px">Dose</p>
            </td>
            <td  style=" border: 2px #00632E; text-align: center; padding-right: 10px; padding-bottom:
            10px;  padding-left: 10px;" >
                <p style="padding-bottom: -15px">Unité</p>
            </td>
            <td  style=" border: 2px #00632E; text-align: center; padding-right: 10px; padding-bottom:
            10px;  padding-left: 10px;" >
                <p style="padding-bottom: -15px">Qté totale</p>
            </td>
        </tr>
        <tr>
            <td style="width: 15%; border: 2px #00632E; text-align: justify; padding-right: 10px; padding-left:
            10px; padding-bottom: 10px">Prévu</td>
            <td  style="width: 40%; border: 2px #00632E; text-align: justify; padding-right: 10px; padding-left:
            10px; padding-bottom: 10px; " >
                <p style="padding-bottom: -15px; "><b style="color: #00632E">{{ itkisma['ARTICLE'] }}</b></p>
            </td>
            <td  style="width: 15%; border: 2px #00632E; text-align: justify; padding-right: 10px; padding-bottom:
            10px;  padding-left: 10px;" >
                <p style="padding-bottom: -15px"><b style="color: #00632E">{{ itkisma['QTE'] }}</b></p>
            </td>
            <td  style="width: 15%; border: 2px #00632E; text-align: justify; padding-right: 10px; padding-bottom:
            10px;  padding-left: 10px;" >
                <p style="padding-bottom: -15px"><b style="color: #00632E">{{ itkisma['UNITE'] }}</b></p>
            </td>
            <td  style="width: 15%; border: 2px #00632E; text-align: justify; padding-right: 10px; padding-bottom:
            10px;  padding-left: 10px;" >
                <p style="padding-bottom: -15px"><b style="color: #00632E">{{ itkisma['QTETOT'] }}</b></p>
            </td>
        </tr>
        <tr >
            <td style="border: 2px #00632E; text-align: justify; padding-right: 10px; padding-left:
            10px; padding-bottom: 10px; height: 20px; font-weight: bold">Réalisé</td>
            <td  style="border: 2px #00632E; text-align: justify; padding-right: 10px; padding-left:
            10px; padding-bottom: 10px; " >
                <p style="padding-bottom: -15px; "></p>
            </td>
            <td  style="border: 2px #00632E; text-align: justify; padding-right: 10px; padding-bottom:
            10px;  padding-left: 10px;" >
                <p style="padding-bottom: -15px"></p>
            </td>
            <td  style=" border: 2px #00632E; text-align: justify; padding-right: 10px; padding-bottom:
            10px;  padding-left: 10px;" >
                <p style="padding-bottom: -15px"></p>
            </td>
            <td  style="border: 2px #00632E; text-align: justify; padding-right: 10px; padding-bottom:
            10px;  padding-left: 10px;" >
                <p style="padding-bottom: -15px"></p>
            </td>
        </tr>
    </table>
    <br>
    {% if itkism.MODEAPPLICATION == 'Plantation Mecanique' or itkism.MODEAPPLICATION == 'Semis Mecanique' %}
    <table style="width: 100%; border-collapse: collapse; border: 1px solid black; table-layout: fixed">
        <tr>
            <td style="width: 65%; " >
                <table style="width: 70%; border-collapse: collapse; border: 1px solid black; padding-top: 2px;
                background:  #f6f6f6">
                    <tr>
                        <td style="border: 2px #00632E; text-align: justify; padding-right: 10px;
                padding-left: 10px; padding-bottom: 10px; font-weight: bold; color: #00632E">{{ itkism['MODEAPPLICATION'] }}</td>
                        <td  style=" border: 2px #00632E; text-align: center; padding-right: 10px; padding-left:
                10px; padding-bottom: 10px; " >
                            <p style="padding-bottom: -15px; ">Code tracteur</p>
                        </td>
                        <td  style=" border: 2px #00632E; text-align: center; padding-right: 10px; padding-bottom:
                10px;  padding-left: 10px;" >
                            <p style="padding-bottom: -15px">Appareil de traitement</p>
                        </td>
                        <td  style=" border: 2px #00632E; text-align: center; padding-right: 10px; padding-bottom:
                10px;  padding-left: 10px;" >
                            <p style="padding-bottom: -15px"> Opérateur</p>
                        </td>
                    </tr>
                    <tr>
                        <td style="width: 10%; border: 2px #00632E;  padding-right: 10px;
                        padding-left:
                10px; padding-bottom: 10px">Prévu</td>
                        <td  style="width: 32%; border: 2px #00632E;  padding-right: 10px;
                        padding-left:
                10px; padding-bottom: 10px; " >
                            <p style="padding-bottom: -15px; "><b style="color: #00632E">{{ materiel }}</b></p>
                        </td>
                        <td  style="width: 40%; border: 2px #00632E;  padding-right: 10px;
                        padding-bottom:
                10px;  padding-left: 10px;" >
                            <p style="padding-bottom: -15px"><b style="color: #00632E">{{ appareil }}</b></p>
                        </td>
                        <td  style="width: 32%; border: 2px #00632E;  padding-right: 10px;
                        padding-bottom:
                10px;  padding-left: 10px;" >
                            <p style="padding-bottom: -15px"><b style="color: #00632E">{{applicateur }} </b></p>
                        </td>
                    </tr>
                    <tr >
                        <td style="border: 2px #00632E; text-align: justify; padding-right: 10px; padding-left:
                10px; padding-bottom: 10px; height: 20px; font-weight: bold">Réalisé</td>
                        <td  style="border: 2px #00632E; text-align: justify; padding-right: 10px; padding-left:
                10px; padding-bottom: 10px; " >
                            <p style="padding-bottom: -15px; "></p>
                        </td>
                        <td  style="border: 2px #00632E; text-align: justify; padding-right: 10px; padding-bottom:
                10px;  padding-left: 10px;" >
                            <p style="padding-bottom: -15px"></p>
                        </td>
                        <td  style=" border: 2px #00632E; text-align: justify; padding-right: 10px; padding-bottom:
                10px;  padding-left: 10px;" >
                            <p style="padding-bottom: -15px"></p>
                        </td>
                    </tr>
                </table>
            </td>
            <td style="width: 3.5%"></td>
            <td style="width: 30%; " >
                <table style="width: 90%; border-collapse: collapse; border: 1px solid black;
                padding-top: 2px;
                background:
    #f6f6f6">
                    <tr>
                        <td  style="border: 2px #00632E; text-align: justify; padding-right: 10px;
                padding-left:
                10px; padding-bottom: 10px; font-weight: bold">Liste des EPI</td>
                    </tr>
                    {% for rs in itkismepi %}
                        <tr  style=" border: 2px #00632E; padding-right: 10px; padding-bottom:
        10px;  padding-left: 10px;" >
                            <td style="border: 2px #00632E; width: 90%">
                                <p style="padding-bottom: -15px; padding-left: 10px"><b style="color: #00632E">{{
                                        rs['EPI']
                                        }}</b></p>
                            </td>
                        </tr>
                    {% endfor%}
                </table>
            </td>
        </tr>
    </table>
    {% else %}
        <table style="width: 100%; border-collapse: collapse; border: 1px solid black; table-layout: fixed">
            <tr>
                <td style="width: 40%; " >
                    <table style="width: 70%; border-collapse: collapse; border: 1px solid black; padding-top: 2px;
                background:  #f6f6f6">
                        <tr>
                            <td style="border: 2px #00632E; text-align: justify; padding-right: 10px;
                padding-left: 10px; padding-bottom: 10px; font-weight: bold; color: #00632E">{{ itkism['MODEAPPLICATION'] }}</td>
                            <td  style=" border: 2px #00632E; text-align: center; padding-right: 10px; padding-left:
                10px; padding-bottom: 10px; " >
                                <p style="padding-bottom: -15px; ">Effectif</p>
                            </td>
                        </tr>
                        <tr>
                            <td style="width: 10%; border: 2px #00632E;  padding-right: 10px;
                        padding-left:
                10px; padding-bottom: 10px">Prévu</td>
                            <td  style="width: 32%; border: 2px #00632E;  padding-right: 10px;
                        padding-left:
                10px; padding-bottom: 10px; " >
                                <p style="padding-bottom: -15px; "><b style="color: #00632E">{{ itkism['EFFECTIF'] }}</b></p>
                            </td>
                        </tr>
                        <tr >
                            <td style="border: 2px #00632E; text-align: justify; padding-right: 10px; padding-left:
                10px; padding-bottom: 10px; height: 20px; font-weight: bold">Réalisé</td>
                            <td  style="border: 2px #00632E; text-align: justify; padding-right: 10px; padding-left:
                10px; padding-bottom: 10px; " >
                                <p style="padding-bottom: -15px; "></p>
                            </td>
                        </tr>
                    </table>
                </td>
                <td style="width: 4%"></td>
                <td style="width: 40%; " >
                    <table style="width: 96%; border-collapse: collapse; border: 1px solid black; padding-top: 2px; background:
    #f6f6f6">
                        <tr>
                            <td colspan="2" style="border: 2px #00632E; text-align: justify; padding-right: 10px;
                padding-left:
                10px; padding-bottom: 10px; font-weight: bold">Liste des EPI</td>
                        </tr>
                        {% for rs in itkismepi %}
                            <tr  style=" border: 2px #00632E; text-align: justify; padding-right: 10px; padding-bottom:
        10px;  padding-left: 10px;" >
                                <td style="border: 2px #00632E; width: 80%">
                                    <p style="padding-bottom: -15px"><b style="color: #00632E">{{ rs['EPI'] }}</b></p>
                                </td>
                                <td style="border: 2px #00632E; width: 20%">
                                    <img src="{{ asset
                                    ('http://localhost/pgiweb/web/images/casecochee.png')}}"  style="max-width: 60%;
height: auto">
                                </td>
                            </tr>
                        {% endfor%}
                    </table>
                </td>
            </tr>
        </table>
    {% endif %}
    <br>
    <table style="width: 100%; border-collapse: collapse; border: 1px solid black; table-layout: fixed">
        <tr>
            <td style="width: 38%; " >
                <table style="width: 100%; border-collapse: collapse; border: 1px solid black; padding-top: 2px; background: #f6f6f6">
                    <tr>
                        <td style="border-right: 2px #00632E; border-bottom: 2px #00632E; text-align: justify; padding-right: 10px;
            padding-left:
            10px; padding-bottom: 10px"></td>
                        <td  style=" border: 2px #00632E; text-align: center; padding-right: 10px; padding-left:
            10px; padding-bottom: 10px; " >
                            <p style="padding-bottom: -15px; ">E. semis</p>
                        </td>
                        <td  style=" border: 2px #00632E; text-align: center; padding-right: 10px; padding-bottom:
            10px;  padding-left: 10px;" >
                            <p style="padding-bottom: -15px">E. ligne</p>
                        </td>
                        <td  style=" border: 2px #00632E; text-align: center; padding-right: 10px; padding-bottom:
            10px;  padding-left: 10px;" >
                            <p style="padding-bottom: -15px">Rangs</p>
                        </td>
                    </tr>
                    <tr>
                        <td style="width: 25%; border: 2px #00632E; text-align: justify; padding-right: 10px; padding-left:
            10px; padding-bottom: 10px">Prévu</td>
                        <td  style="width: 25%; border: 2px #00632E; text-align: justify; padding-right: 10px; padding-left:
            10px; padding-bottom: 10px; " >
                            <p style="padding-bottom: -15px; "><b style="color: #00632E">{{ itkism['ESEMIS'] }}</b></p>
                        </td>
                        <td  style="width: 25%; border: 2px #00632E; text-align: justify; padding-right: 10px; padding-bottom:
            10px;  padding-left: 10px;" >
                            <p style="padding-bottom: -15px"><b style="color: #00632E">{{ itkism['ELIGNE'] }}</b></p>
                        </td>
                        <td  style="width: 25%; border: 2px #00632E; text-align: justify; padding-right: 10px; padding-bottom:
            10px;  padding-left: 10px;" >
                            <p style="padding-bottom: -15px"><b style="color: #00632E">{{ itkism['RANG'] }}</b></p>
                        </td>
                    </tr>
                    <tr >
                        <td style="border: 2px #00632E; text-align: justify; padding-right: 10px; padding-left:
            10px; padding-bottom: 10px; height: 20px; font-weight: bold">Réalisé</td>
                        <td  style="border: 2px #00632E; text-align: justify; padding-right: 10px; padding-left:
            10px; padding-bottom: 10px; " >
                            <p style="padding-bottom: -15px; "></p>
                        </td>
                        <td  style="border: 2px #00632E; text-align: justify; padding-right: 10px; padding-bottom:
            10px;  padding-left: 10px;" >
                            <p style="padding-bottom: -15px"></p>
                        </td>
                        <td  style=" border: 2px #00632E; text-align: justify; padding-right: 10px; padding-bottom:
            10px;  padding-left: 10px;" >
                            <p style="padding-bottom: -15px"></p>
                        </td>
                    </tr>
                </table>
            </td>
            <td style="width: 2%"></td>
            <td style="width: 38%; " >
                <table style="width: 100%; border-collapse: collapse; border: 1px solid black; padding-top: 2px; background: #f6f6f6">
                    <tr>
                        <td style="border-right: 2px #00632E; border-bottom: 2px #00632E; text-align: justify; padding-right: 10px;
            padding-left:
            10px; padding-bottom: 10px"></td>
                        <td  style=" border: 2px #00632E; text-align: center; padding-right: 10px; padding-left:
            10px; padding-bottom: 10px; " >
                            <p style="padding-bottom: -15px; ">Début semis</p>
                        </td>
                        <td  style=" border: 2px #00632E; text-align: center; padding-right: 10px; padding-bottom:
            10px;  padding-left: 10px;" >
                            <p style="padding-bottom: -15px">Fin semis</p>
                        </td>
                    </tr>
                    <tr>
                        <td style="width: 25%; border: 2px #00632E; text-align: justify; padding-right: 10px; padding-left:
            10px; padding-bottom: 10px; font-weight: bold">Date</td>
                        <td  style="width: 25%; border: 2px #00632E; text-align: justify; padding-right: 10px; padding-left:
            10px; padding-bottom: 10px; " >
                            <p style="padding-bottom: -15px; "><b style="color: #00632E">..../..../....</b></p>
                        </td>
                        <td  style="width: 25%; border: 2px #00632E; text-align: justify; padding-right: 10px; padding-bottom:
            10px;  padding-left: 10px;" >
                            <p style="padding-bottom: -15px"><b style="color: #00632E">..../..../....</b></p>
                        </td>
                    </tr>
                    <tr >
                        <td style="border: 2px #00632E; text-align: justify; padding-right: 10px; padding-left:
            10px; padding-bottom: 10px; height: 20px; font-weight: bold">Heure</td>
                        <td  style="border: 2px #00632E; text-align: justify; padding-right: 10px; padding-left:
            10px; padding-bottom: 10px; " >
                            <p style="padding-bottom: -15px; "><b style="color: #00632E">......h......</b></p>
                        </td>
                        <td  style="border: 2px #00632E; text-align: justify; padding-right: 10px; padding-bottom:
            10px;  padding-left: 10px;" >
                            <p style="padding-bottom: -15px"><b style="color: #00632E">......h......</b></p>
                        </td>
                    </tr>
                </table>
            </td>
            <td style="width: 2%"></td>
            <td style="width: 16%; padding-left: -25px">
                <table style="width: 100%; border-collapse: collapse; border: 1px solid black; padding-top: 2px; background: #f6f6f6">
                    <tr>
                        <td  style=" border: 2px #00632E; text-align: center; padding-right: 10px; padding-left:
            10px; padding-bottom: 10px; " >
                            <p style="padding-bottom: -15px; ">Surface semée (ha)</p>
                        </td>
                    </tr>
                    <tr>
                        <td  style="width: 25%; border: 2px #00632E; text-align: justify; padding-right: 10px; padding-bottom:
            10px;  padding-left: 10px;" >
                            <p style="padding-bottom: -15px"><b style="color: #00632E; text-align: center">...............................
                                </b></p>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
    <br>
    <hr style="border: 1px dashed #00632E" />
    <br>
    <table style="width: 100%; border-collapse: collapse; background: #c5c5c5; border-radius: 25px; padding-left:
    10px; padding-top: 10px">
        <tr style="">
            <td style="border: 0px #00632E; text-align: justify;padding-top: 15px; padding-bottom: 50px;
            padding-left: 10px;  width: 50%; font-weight: bold; ">
                Nom et Signature Opérateur :
            </td>
            <td style="border: 0px #00632E; text-align: justify; padding-left: 10px; padding-top: 15px;
            padding-bottom: 50px; width: 50%; font-weight: bold; ">
                Nom et Signature Chef de Ferme :
            </td>
        </tr>
        <tr>
            <td colspan="2" style="border: 0px #00632E; padding-top: 15px; padding-bottom: 10px;
            padding-left: 10px;  width:
            50%; font-weight: bold">
                Saisi en réalisé le ............./............./20.......... &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                &nbsp;par : ...................................................................................
            </td>
        </tr>
    </table>
    <page_footer>
        <table style="width: 100%; border-collapse: collapse; border: 1px solid black; table-layout: fixed">
            <tr>
                <td style="width: 80%; color: #00632E; padding-bottom: -60px " >
                    www.scl.sn
                </td>
                <td style="width: 20%; text-align: right; color: #313131; padding-bottom: -60px " >
                    Page 2 sur 2
                </td>
            </tr>
        </table>
    </page_footer>
</page>



