{% extends 'AgroBundle:Itkism:layout.html.twig' %}

{% block content %}
    <div class="row">
        <div class="col-lg-12 col-sm-12 col-xs-12">
            <div class="tabbable">
                <ul class="nav nav-tabs nav-justified" id="myTab5">
                    <li class="active">
                        <a data-toggle="tab" href="#tabinsts">
                            Instructions Semis
                        </a>
                    </li>
                    <li class="tab-green ">
                        <a data-toggle="tab" href="#tabinstsr">
                            Instructions Semis Réalisées
                        </a>
                    </li>
                </ul>
                <div class="tab-content" style="background-color: rgba(231, 231, 231, 0.38)">
                    <div id="tabinsts" class="tab-pane in active">
                        <div class="row">
                            <div class="row" style="padding-left: 5%; padding-right: 5%">
                                <div class="col-lg-12 col-sm-12 col-xs-12">
                                    <div class="row" >
                                        <div class="widget flat radius-bordered">
                                            <div class="widget-header bg-palegreen">
                                                <span class="widget-caption">Liste des instructions de semis</span>
                                                <div class="widget-buttons buttons-bordered">
                                                    <button class="btn btn-azure btn-sm" onclick="document.location.href='{{ path
                                                    ('ajouteritkism') }}'">Nouvelle instruction de semis</button>
                                                </div>
                                            </div>
                                            <div class="messageflasherror">
                                                {% for flashMessage in app.session.flashbag.get('notice') %}

                                                    <p style="color: red">{{ flashMessage }}</p>

                                                {% endfor %}
                                            </div>
                                            <div class="messageflashok">
                                                {% for flashMessage in app.session.flashbag.get('noticeok') %}

                                                    <p style="color: green">{{ flashMessage }}
                                                        <i class="fa fa-check-circle" aria-hidden="true"></i>
                                                    </p>

                                                {% endfor %}
                                            </div>
                                            <div class="widget-body">
                                                <div style="padding-left: 2%; padding-right: 2%">
                                                    <table class="table table-bordered table-hover "
                                                           id="searchable7" >
                                                        <thead class="bordered-darkorange">
                                                        <tr role="row">
                                                            <th style="width: 3%">N°</th>
                                                            <th style="width: 7%">Ferme</th>
                                                            <th style="width: 5%">OP</th>
                                                            <th style="width: 10%">Culture variété</th>
                                                            <th style="width: 10%">Date de création</th>
                                                            <th style="width: 10%">Date P.</th>
                                                            <th style="width: 10%">Ilot</th>
                                                            <th style="width: 10%">Prescripteur</th>
                                                            <th style="width: 10%">Parcelles</th>
                                                            <th style="width: 5%">Surface semée</th>
                                                            <th style="width: 10%">Statut</th>
                                                            <th style="width: 10%">Actions</th>
                                                        </tr>
                                                        </thead>
                                                        <tbody>
                                                        {% for rs in itkism %}
                                                            {% set i = rs.id %}
                                                            <tr>
                                                                <td>{{ rs.id }}</td>
                                                                <td>{{ rs.FERME }}</td>
                                                                <td>{{ rs.OP }}</td>
                                                                <td>{{ rs.CULTUREVARIETE }}</td>
                                                                <td>{{ rs.DATECREATION|date('d-m-Y') }}</td>
                                                                <td>{{ rs.DATEP|date('d-m-Y') }}</td>
                                                                <td>{{ rs.ILOT }}</td>
                                                                <td>{{ rs.PRENOM }} {{ rs.NOM }} </td>
                                                                <td>{{ rs.PARCELLE }}</td>
                                                                <td>{{ rs.SURFACE }}</td>
                                                                {% if rs.STATUT == "SAISI" %}
                                                                    <td style="color: #0e13ff">{{ rs.STATUT }}</td>
                                                                    <td>
                                                                        <button class="btn btn-warning btn-sm" onclick="this
                                                                                .disabled=true; window.location.href='{{ path
                                                                        ('modifieritkism', {'id': rs.id})
                                                                        }}'">
                                                                            <i class="fa fa-pencil-square-o"></i>
                                                                            Modifier
                                                                        </button>
                                                                    </td>
                                                                {% elseif rs.STATUT == "DIFFUSE"%}
                                                                    <td style="color: #e71b21">{{ rs.STATUT }}</td>
                                                                    <td>
                                                                        <button class="btn btn-success btn-sm"
                                                                                onclick="this
                                                                                        .disabled=true; window.location.href='{{ path
                                                                                ('viewitkism', {'id': rs.id})
                                                                                }}'">
                                                                            <i class="fa fa-eye"></i>
                                                                            Details
                                                                        </button>
                                                                    </td>
                                                                {% else %}
                                                                    <td style="color: #818181">{{ rs.STATUT }}</td>
                                                                    <td></td>
                                                                {% endif %}
                                                            </tr>
                                                        {% endfor%}
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="tabinstsr" class="tab-pane">
                        <div class="row">
                            <div class="row" style="padding-left: 5%; padding-right: 5%">
                                <div class="col-lg-12 col-sm-12 col-xs-12">
                                    <div class="row" >
                                        <div class="widget flat radius-bordered">
                                            <div class="widget-header bg-palegreen">
                                                <span class="widget-caption">Liste des instructions de semis
                                                    r&eacute;alis&eacute;e</span>
                                                <div class="widget-buttons buttons-bordered">
                                                    <button class="btn btn-azure btn-sm" onclick="document.location.href='{{ path
                                                    ('itkismr_creer') }}'">R&eacute;alis&eacute;e une
                                                        instruction
                                                    </button>
                                                </div>
                                            </div>
                                            <div class="widget-body">
                                                <div style="padding-left: 2%; padding-right: 2%">
                                                    <table class="table table-bordered table-hover " id="searchable1" >
                                                        <thead class="bordered-darkorange">
                                                        <tr role="row">
                                                            <th style="width: 3%">N°</th>
                                                            <th style="width: 10%">Ferme</th>
                                                            <th style="width: 4%">OP</th>
                                                            <th style="width: 10%">Culture variété</th>
                                                            <th style="width: 10%">Date de création</th>
                                                            <th style="width: 10%">Date P.</th>
                                                            <th style="width: 10%">Statut</th>
                                                            <th style="width: 10%">Ilot</th>
                                                            <th style="width: 10%">Prescripteur</th>
                                                            <th style="width: 10%">Parcelles</th>
                                                            <th style="width: 3%">Surface semée</th>
                                                            <th style="width: 10%">Actions</th>
                                                        </tr>
                                                        </thead>
                                                        <tbody>
                                                        {% for rs in itkismr %}
                                                            {% set i = rs.id %}
                                                            <tr>
                                                                <td>{{ rs.id }}</td>
                                                                <td>{{ rs.FERME }}</td>
                                                                <td>{{ rs.OP }}</td>
                                                                <td>{{ rs.CULTUREVARIETE }}</td>
                                                                <td>{{ rs.DATECREATION|date('d-m-Y') }}</td>
                                                                <td>{{ rs.DATEP|date('d-m-Y') }}</td>
                                                                <td>{{ rs.ILOT }}</td>
                                                                <td>{{ rs.PRENOM }} {{ rs.NOM }} </td>
                                                                <td>{{ rs.PARCELLE }}</td>
                                                                <td>{{ rs.SURFACE }}</td>
                                                                <td style="color: #006400">REALISE</td>
                                                                {% if rs.HEUREDEBUT == null or rs.HEUREFIN == null%}
                                                                    <td>
                                                                        <button class="btn btn-success btn-sm"
                                                                                onclick="this
                                                                                .disabled=true; window.location.href='{{ path
                                                                        ('modifier_itkismr', {'id': rs.id})
                                                                        }}'">
                                                                            <i class="fa fa-pencil-square-o"></i>
                                                                            Réaliser
                                                                        </button>
                                                                    </td>
                                                                {% else%}
                                                                    <td>
                                                                        <button class="btn btn-maroon btn-sm"
                                                                                onclick="this
                                                                                        .disabled=true; window.location.href='{{ path
                                                                                ('view_itkismr', {'id': rs.id})
                                                                                }}'">
                                                                            <i class="fa fa-eye"></i>
                                                                            Détails
                                                                        </button>
                                                                    </td>
                                                                {% endif %}
                                                            </tr>
                                                        {% endfor%}
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}