<div class="img"><a href="http://localhost/wordpress/index.php/scl/mot-du-president/"><img class="alignnone size-full wp-image-223" src="http://localhost/wordpress/wp-content/uploads/2016/11/pdg.jpg" alt="8792867-13908703" width="800" height="350" /></a><a target="_blank">
</a>
<div class="desc">
<h2 class="desc" style="text-align: center;"><a href="http://localhost/wordpress/index.php/scl/mot-du-president/"><span style="color: #7ab51d;">MOT DU PRESIDENT</span></a></h2>
Michaël LAURENT, PDG de la SCL

</div>
</div>
<div class="img"><a href="img_forest.jpg" target="_blank"> <img src="http://localhost/wordpress/wp-content/uploads/2016/11/Pictures.jpg" alt="Forest" width="600" height="400" />
</a>
<div class="desc">
<h2 class="desc" style="text-align: center;"><span style="color: #7ab51d;">NOTRE METIER</span></h2>
Production et exportation de fruits et légumes ...

</div>
</div>
<div class="img"><a href="img_lights.jpg" target="_blank"> <img src="http://localhost/wordpress/wp-content/uploads/2016/11/produits.jpg" alt="Northern Lights" width="600" height="400" />
</a>
<div class="desc">
<h2 class="desc" style="text-align: center;"><span style="color: #7ab51d;">NOS PRODUITS</span></h2>
maïs doux, courge Butternut, patate douce, haricot vert, piment, courgette ...

</div>
</div>
<div class="img"><a href="img_lights.jpg" target="_blank"><img class="alignnone size-full wp-image-319" src="http://localhost/wordpress/wp-content/uploads/2016/12/Barfoots.png" width="192" height="54" />
</a>
<div class="desc">
<h2 class="desc" style="text-align: center;"><span style="color: #7ab51d;">PARTENAIRES</span></h2>
BARFOOTS partenaire de la SCL

</div>
</div>


<div>
<div class="aligncenter">
<h1><span style="color: #339966;">La SCL en bref</span></h1>
<h4>Avec plus de 10 d'expertise et de savoir-faire dans le domaine de l'agriculture, la SCL garantie à ses clients des produits de quatité ...</h4>
<h4><a href="http://localhost/wordpress/index.php/scl/mot-du-president/"><span style="color: #00ccff;">En savoir plus</span></a></h4>
<div class="alignright"><img class="alignnone wp-image-281" style="border-radius: 50%; float: right; margin: 0 0 1em 1em;" src="http://localhost/wordpress/wp-content/uploads/2016/11/8792867-13908703-1-300x204.jpg" alt="8792867-13908703" width="177" height="120" /></div>
</div>
</div>


<div id="valeurzone">
<div id="zonegauche" class="hovereffect">

<img class="alignnone wp-image-352" src="http://localhost/wordpress/wp-content/uploads/2016/11/qualites-personnelles1.png" alt="240_f_49115017_mhldgtvzqplnorpn6zytdnnlxxqrys7l" width="250" height="184" />
<div class="overlay"><a class="info" href="http://localhost/wordpress/wp-content/uploads/2016/11/qualites-personnelles1.png"><img class="img-responsive" src="http://localhost/wordpress/wp-content/uploads/2016/12/zoom-pic.png" alt="" /></a></div>
</div>
<div id="zonedroite">
<h2><span style="text-decoration: underline; color: #000000;"><em><strong>Qualité</strong></em></span></h2>
Contenu qualité

</div>
</div>
<div id="valeurzone">
<div id="zonegauche" class="hovereffect">

<img class="alignnone wp-image-352" src="http://localhost/wordpress/wp-content/uploads/2016/11/12330_une.jpg" alt="240_f_49115017_mhldgtvzqplnorpn6zytdnnlxxqrys7l" width="240" height="174" />
<div class="overlay"><a class="info" href="http://localhost/wordpress/wp-content/uploads/2016/11/12330_une.jpg"><img class="img-responsive" src="http://localhost/wordpress/wp-content/uploads/2016/12/zoom-pic.png" alt="" /></a></div>
</div>
<div id="zonedroite">
<h2><span style="text-decoration: underline; color: #000000;"><em><strong>Responsabilité sociale et environnementale</strong></em></span></h2>
Contenu Responsabilité sociale et environnementale

</div>
</div>
<div id="valeurzone">
<div id="zonegauche" class="hovereffect">

<img class="alignnone wp-image-352" src="http://localhost/wordpress/wp-content/uploads/2016/11/54d38cca81123-e1434376509337.jpg" alt="240_f_49115017_mhldgtvzqplnorpn6zytdnnlxxqrys7l" width="240" height="174" />
<div class="overlay"><a class="info" href="http://localhost/wordpress/wp-content/uploads/2016/11/54d38cca81123-e1434376509337.jpg"><img class="img-responsive" src="http://localhost/wordpress/wp-content/uploads/2016/12/zoom-pic.png" alt="" /></a></div>
</div>
<div id="zonedroite">
<h2><span style="text-decoration: underline; color: #000000;"><em><strong>Travail d'équipe</strong></em></span></h2>
Contenu Travail d'équipe

</div>
</div>
<div style="border-bottom: 1px solid #d0d0d0;"></div>
&nbsp;

Notre engagement est de sublimer l'agriculture et de véhiculer des valeurs de <span style="text-decoration: underline; color: #000000;"><em><strong>Qualité</strong></em></span>, de <span style="text-decoration: underline; color: #000000;"><em><strong>Responsabilité sociale et environnementale</strong></em></span> et de <em><span style="text-decoration: underline;"><span style="color: #000000; text-decoration: underline;">Travail d’équipe</span></span></em>.