{% extends 'CultureBundle:FamilleCulture:layout.html.twig' %}
{% block content %}
    <div class="row">
        <div class="col-lg-12 col-sm-12 col-xs-12">
            <h5 class="row-title before-themeprimary"><i class="fa  fa-arrow-circle-o-right themeprimary"></i>Wired Wizard</h5>
            <div id="WiredWizard" class="wizard wizard-wired" data-target="#WiredWizardsteps">
                <ul class="steps">
                    <li data-target="#wiredstep1" class="active"><span class="step">1</span><span class="title">Step 1</span><span class="chevron"></span></li>
                    <li data-target="#wiredstep2"><span class="step">2</span><span class="title">Step 2</span> <span class="chevron"></span></li>
                    <li data-target="#wiredstep3"><span class="step">3</span><span class="title">Step 3</span> <span class="chevron"></span></li>
                    <li data-target="#wiredstep4"><span class="step">4</span><span class="title">Step 4</span> <span class="chevron"></span></li>
                    <li data-target="#wiredstep5"><span class="step">5</span><span class="title">Step 5</span> <span class="chevron"></span></li>
                </ul>

            </div>
            <div class="step-content" id="WiredWizardsteps">
                <div class="step-pane active" id="wiredstep1">This is step 1 <button onclick="alert('dfdgfgh')">dfgfhgjh</button></div>
                <div class="step-pane" id="wiredstep2">This is step 2</div>
                <div class="step-pane" id="wiredstep3">This is step 3</div>
                <div class="step-pane" id="wiredstep4">This is step 4</div>
                <div class="step-pane" id="wiredstep5">This is step 5</div>
            </div>
            <div class="actions actions-footer" id="WiredWizard-actions">
                <div class="btn-group">
                    <button type="button" class="btn btn-default btn-sm btn-prev"> <i class="fa fa-angle-left"></i>Prev</button>
                    <button type="button" class="btn btn-default btn-sm btn-next" data-last="Finish">Next<i class="fa fa-angle-right"></i></button>
                </div>
            </div>
        </div>
    </div>
    {% endblock %}