<!DOCTYPE html>
<!--
BeyondAdmin - Responsive Admin Dashboard Template build with Twitter Bootstrap 3.3.6
Version: 1.6.0
Purchase: https://wrapbootstrap.com/theme/beyondadmin-adminapp-angularjs-mvc-WB06R48S4
-->

<html xmlns="http://www.w3.org/1999/xhtml">
<!-- Head -->
<head>
    <meta charset="utf-8"/>
    {% block stylesheets %}
        <style>
            table {
                width: 100%;
                border-collapse: collapse;
            }

            table, td, th {
                border: 1px solid black;
                padding: 5px;
            }

            th {
                text-align: left;
            }
        </style>

    {% endblock %}


</head>

{% block javascripts %}
    <script src="{{ asset('assets/js/jquery.min.js') }}"></script>
    <script>
        $(document).ready(function () {

            $("input[type=checkbox]").change(function() {
                alert( $('.checkmaintenance:checked').serialize());
            });
        });
    </script>
{% endblock %}

<body>
{% block body %}
    {% for rsitkmog in itkmog|sort %}
        <input type="hidden" value="{{ iTMOID }}" id="itmoid{{ rsitkmog.id }}"/>
        <div class="modal modal-darkorange" id="myModalg{{ rsitkmog.id }}">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                        <h4 class="modal-title">Dupliquer le geste <b>{{ rsitkmog.lIBELLE }}</b></h4>
                        {#input type="hidden" value="{{ rsitkmo.id }}" id="itkmoid"/>#}
                    </div>
                    <div class="form-horizontal" id="form">
                        <div class="modal-body">
                            <div class="form-group">
                                <label class="col-sm-4" for="itkmos{{ rsitkmog.id }}">Choisir une semaine</label>
                                <div class="col-sm-6">
                                    <select class="form-control" style="width: 100%" id="itkmos{{ rsitkmog.id }}" name="itkmos" onchange="dupliquergeste({{ rsitkmog.id}})">
                                        <option>--------------------------------------</option>
                                        {% for i in -4..52 %}
                                            <option>{{ i }}</option>
                                        {% endfor %}
                                    </select>
                                    {#<input type="hidden" class="form-control" value="{{ rsitkmos.lIBELLE }}" name="oldlibelle" id="oldlibelle{{ rsitkmos.id }}"/>#}
                                </div>
                            </div>
                        </div>
                        <!-- Modal Footer -->
                    </div>
                </div><!-- /.modal-content -->
            </div><!-- /.modal-dialog -->
        </div><!-- /.modal -->
            <li class="dd-item" data-id="6" >
                {% if rsitkmog.lIBELLE == 'PREPARATION' %}
                    <div class="dd-handle" style="background: #f7cfb9; color: white">
                        <div class="btn-group">
                            <a data-toggle="dropdown" href="javascript:void(0);" style="color: black"><b>{{ rsitkmog.lIBELLE }}</b></a>
                            <ul class="dropdown-menu dropdown-palegreen">
                                <li>
                                    <a href="#" tabindex="-1" data-toggle="modal" data-target="#myModalg{{ rsitkmog.id }}">
                                        <i class="dropdown-icon fa fa-copy blue"></i>
                                        Dupliquer
                                    </a>
                                </li>
                                <li>
                                    <a href="{{ path('supprimeritkmogeste',{'famillecultureid':id, 'itkmogid':rsitkmog.id}) }}" tabindex="-1" onclick="return confirm('Vous êtes sûr de vouloir supprimer cet geste ?')">
                                        <i class="dropdown-icon fa fa-trash red"></i>
                                        Supprimer
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                {% elseif rsitkmog.lIBELLE == 'SEMIS / PLANTATION' %}
                    <div class="dd-handle" style="background: #f7a067; color: white"><div class="btn-group">
                            <a data-toggle="dropdown" href="javascript:void(0);" style="color: black"><b>{{ rsitkmog.lIBELLE }}</b></a>
                            <ul class="dropdown-menu dropdown-palegreen">
                                <li>
                                    <a href="#" tabindex="-1" data-toggle="modal" data-target="#myModalg{{ rsitkmog.id }}">
                                        <i class="dropdown-icon fa fa-copy blue"></i>
                                        Dupliquer
                                    </a>
                                </li>
                                <li>
                                    <a href="{{ path('supprimeritkmogeste',{'famillecultureid':id, 'itkmogid':rsitkmog.id}) }}" tabindex="-1" onclick="return confirm('Vous êtes sûr de vouloir supprimer cet geste ?')">
                                        <i class="dropdown-icon fa fa-trash red"></i>
                                        Supprimer
                                    </a>
                                </li>
                            </ul>
                        </div></div>
                {% elseif rsitkmog.lIBELLE == 'DESHERBAGE' %}
                    <div class="dd-handle" style="background: #d0cece; color: white"><div class="btn-group">
                            <a data-toggle="dropdown" href="javascript:void(0);" style="color: black"><b>{{ rsitkmog.lIBELLE }}</b></a>
                            <ul class="dropdown-menu dropdown-palegreen">
                                <li>
                                    <a href="#" tabindex="-1" data-toggle="modal" data-target="#myModalg{{ rsitkmog.id }}">
                                        <i class="dropdown-icon fa fa-copy blue"></i>
                                        Dupliquer
                                    </a>
                                </li>
                                <li>
                                    <a href="{{ path('supprimeritkmogeste',{'famillecultureid':id, 'itkmogid':rsitkmog.id}) }}" tabindex="-1" onclick="return confirm('Vous êtes sûr de vouloir supprimer cet geste ?')">
                                        <i class="dropdown-icon fa fa-trash red"></i>
                                        Supprimer
                                    </a>
                                </li>
                            </ul>
                        </div></div>
                {% elseif rsitkmog.lIBELLE == 'ENTRETIEN' %}
                    <div class="dd-handle" style="background: #2f75b5; color: white"><div class="btn-group">
                            <a data-toggle="dropdown" href="javascript:void(0);" style="color: black"><b>{{ rsitkmog.lIBELLE }}</b></a>
                            <ul class="dropdown-menu dropdown-palegreen">
                                <li>
                                    <a href="#" tabindex="-1" data-toggle="modal" data-target="#myModalg{{ rsitkmog.id }}">
                                        <i class="dropdown-icon fa fa-copy blue"></i>
                                        Dupliquer
                                    </a>
                                </li>
                                <li>
                                    <a href="{{ path('supprimeritkmogeste',{'famillecultureid':id, 'itkmogid':rsitkmog.id}) }}" tabindex="-1" onclick="return confirm('Vous êtes sûr de vouloir supprimer cet geste ?')">
                                        <i class="dropdown-icon fa fa-trash red"></i>
                                        Supprimer
                                    </a>
                                </li>
                            </ul>
                        </div></div>
                {% elseif rsitkmog.lIBELLE == 'FERTI-IRRIG-PHYTO' %}
                    <div class="dd-handle" style="background: #c6e0b4; color: white"><div class="btn-group">
                            <a data-toggle="dropdown" href="javascript:void(0);" style="color: black"><b>{{ rsitkmog.lIBELLE }}</b></a>
                            <ul class="dropdown-menu dropdown-palegreen">
                                <li>
                                    <a href="#" tabindex="-1" data-toggle="modal" data-target="#myModalg{{ rsitkmog.id }}">
                                        <i class="dropdown-icon fa fa-copy blue"></i>
                                        Dupliquer
                                    </a>
                                </li>
                                <li>
                                    <a href="{{ path('supprimeritkmogeste',{'famillecultureid':id, 'itkmogid':rsitkmog.id}) }}" tabindex="-1" onclick="return confirm('Vous êtes sûr de vouloir supprimer cet geste ?')">
                                        <i class="dropdown-icon fa fa-trash red"></i>
                                        Supprimer
                                    </a>
                                </li>
                            </ul>
                        </div></div>
                {% elseif rsitkmog.lIBELLE == 'MANUTENTION PRODUCTION' %}
                    <div class="dd-handle" style="background: #ffc000; color: white"><div class="btn-group">
                            <a data-toggle="dropdown" href="javascript:void(0);" style="color: black"><b>{{ rsitkmog.lIBELLE }}</b></a>
                            <ul class="dropdown-menu dropdown-palegreen">
                                <li>
                                    <a href="#" tabindex="-1" data-toggle="modal" data-target="#myModalg{{ rsitkmog.id }}">
                                        <i class="dropdown-icon fa fa-copy blue"></i>
                                        Dupliquer
                                    </a>
                                </li>
                                <li>
                                    <a href="{{ path('supprimeritkmogeste',{'famillecultureid':id, 'itkmogid':rsitkmog.id}) }}" tabindex="-1" onclick="return confirm('Vous êtes sûr de vouloir supprimer cet geste ?')">
                                        <i class="dropdown-icon fa fa-trash red"></i>
                                        Supprimer
                                    </a>
                                </li>
                            </ul>
                        </div></div>
                {% elseif rsitkmog.lIBELLE == 'RECOLTE' %}
                    <div class="dd-handle" style="background: #bdd7ee; color: white"><div class="btn-group">
                            <a data-toggle="dropdown" href="javascript:void(0);" style="color: black"><b>{{ rsitkmog.lIBELLE }}</b></a>
                            <ul class="dropdown-menu dropdown-palegreen">
                                <li>
                                    <a href="#" tabindex="-1" data-toggle="modal" data-target="#myModalg{{ rsitkmog.id }}">
                                        <i class="dropdown-icon fa fa-copy blue"></i>
                                        Dupliquer
                                    </a>
                                </li>
                                <li>
                                    <a href="{{ path('supprimeritkmogeste',{'famillecultureid':id, 'itkmogid':rsitkmog.id}) }}" tabindex="-1" onclick="return confirm('Vous êtes sûr de vouloir supprimer cet geste ?')">
                                        <i class="dropdown-icon fa fa-trash red"></i>
                                        Supprimer
                                    </a>
                                </li>
                            </ul>
                        </div></div>
                {% elseif rsitkmog.lIBELLE == 'POST RECOLTE' %}
                    <div class="dd-handle"><div class="btn-group">
                            <a data-toggle="dropdown" href="javascript:void(0);" style="color: black"><b>{{ rsitkmog.lIBELLE }}</b></a>
                            <ul class="dropdown-menu dropdown-palegreen">
                                <li>
                                    <a href="#" tabindex="-1" data-toggle="modal" data-target="#myModalg{{ rsitkmog.id }}">
                                        <i class="dropdown-icon fa fa-copy blue"></i>
                                        Dupliquer
                                    </a>
                                </li>
                                <li>
                                    <a href="{{ path('supprimeritkmogeste',{'famillecultureid':id, 'itkmogid':rsitkmog.id}) }}" tabindex="-1" onclick="return confirm('Vous êtes sûr de vouloir supprimer cet geste ?')">
                                        <i class="dropdown-icon fa fa-trash red"></i>
                                        Supprimer
                                    </a>
                                </li>
                            </ul>
                        </div></div>
                {% elseif rsitkmog.lIBELLE == 'GARDIENNAGE' %}
                    <div class="dd-handle" style="background: #219922; color: white"><div class="btn-group">
                            <a data-toggle="dropdown" href="javascript:void(0);" style="color: black"><b>{{ rsitkmog.lIBELLE }}</b></a>
                            <ul class="dropdown-menu dropdown-palegreen">
                                <li>
                                    <a href="#" tabindex="-1" data-toggle="modal" data-target="#myModalg{{ rsitkmog.id }}">
                                        <i class="dropdown-icon fa fa-copy blue"></i>
                                        Dupliquer
                                    </a>
                                </li>
                                <li>
                                    <a href="{{ path('supprimeritkmogeste',{'famillecultureid':id, 'itkmogid':rsitkmog.id}) }}" tabindex="-1" onclick="return confirm('Vous êtes sûr de vouloir supprimer cet geste ?')">
                                        <i class="dropdown-icon fa fa-trash red"></i>
                                        Supprimer
                                    </a>
                                </li>
                            </ul>
                        </div></div>
                {% endif %}
                <ol class="dd-list" id="addcv{{ rsitkmog.id }}">
                    {% for rsitkmocv in itkmocv|sort %}
                        {% if rsitkmog.gESTEID == rsitkmocv.gESTEID and rsitkmog.id == rsitkmocv.iTKMOGID %}
                            <li class="dd-item dd2-item" data-id="6">
                                <div class="dd-handle dd2-handle">
                                    <a href="{{ path('supprimeritkmocv',{'famillecultureid':id,'itkmocvid':rsitkmocv.id}) }}" onclick="return confirm('Vous êtes sûr de voiloir supprimer cette culture variété ?')"><i class="normal-icon fa fa-trash red"></i></a>

                                    <i class="drag-icon fa fa-arrows-alt "></i>
                                </div>
                                <div class="dd2-content">{{ rsitkmocv.lIBELLE }}</div>
                                <ol class="dd-list">
                                    <li class="dd-item" data-id="6">
                                        <div class="dd-handle"><input type="number" value="{{ rsitkmocv.qUANTITE }}" class="form-control" placeholder="Saisir la quantité de jour homme" id="quantite{{ rsitkmocv.id }}" onChange="updateitkmocv({{ rsitkmocv.id }});"/></div>
                                    </li>
                                    <li class="dd-item" data-id="6">
                                        <div class="dd-handle">
                                            <select class="form-control" style="width: 100%" id="unite{{ rsitkmocv.id }}" name="unite" onChange="updateitkmocv({{ rsitkmocv.id }});">
                                                {% if rsitkmocv.uNITE != '' %}
                                                    <option>{{ rsitkmocv.uNITE }}</option>
                                                {% else %}
                                                    <option>Choisir une unité de mesure</option>
                                                {% endif %}
                                                {% for rsunitemo in unitemo  %}
                                                    <option value="{{ rsunitemo.lIBELLE }}">{{ rsunitemo.lIBELLE }}</option>
                                                {% endfor %}
                                            </select>
                                        </div>
                                    </li>
                                </ol>
                            </li>
                        {% endif %}
                    {% endfor %}
                    <li class="dd-item" data-id="6">
                        <div class="dd-handle">
                            <select class="form-control" style="width: 40%" id="cultureid{{ rsitkmog.id }}" name="cultureid" onChange="ajoutitkmocv({{ rsitkmog.id }});">
                                <option>Choisir une culture variété</option>
                                {% for rsculture in culture  %}
                                    <option value="{{ rsculture.id }}">{{ rsculture.lIBELLE }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </li>
                </ol>
            </li>
            <li class="dd-item" data-id="17" id="select">
                <div class="dd-handle">
                    <select class="form-control" style="width: 40%" id="geste{{itkmosid }}" name="geste" onChange="ajoutitkmog({{ itkmosid }});">
                        <option>-----Choisir un geste----</option>
                        {% for rsgestemo in gestemo %}
                            {% if rsgestemo.lIBELLE == 'PREPARATION' %}
                                <option value="{{ rsgestemo.id }}" style="background: #f7cfb9; color: white">{{ rsgestemo.lIBELLE }}</option>
                            {% elseif rsgestemo.lIBELLE == 'SEMIS / PLANTATION' %}
                                <option value="{{ rsgestemo.id }}" style="background: #f7a067; color: white">{{ rsgestemo.lIBELLE }}</option>
                            {% elseif rsgestemo.lIBELLE == 'DESHERBAGE' %}
                                <option value="{{ rsgestemo.id }}" style="background: #d0cece; color: white">{{ rsgestemo.lIBELLE }}</option>
                            {% elseif rsgestemo.lIBELLE == 'ENTRETIEN' %}
                                <option value="{{ rsgestemo.id }}" style="background: #2f75b5; color: white">{{ rsgestemo.lIBELLE }}</option>
                            {% elseif rsgestemo.lIBELLE == 'FERTI-IRRIG-PHYTO' %}
                                <option value="{{ rsgestemo.id }}" style="background: #c6e0b4; color: white">{{ rsgestemo.lIBELLE }}</option>
                            {% elseif rsgestemo.lIBELLE == 'RECOLTE' %}
                                <option value="{{ rsgestemo.id }}" style="background: #bdd7ee; color: white">{{ rsgestemo.lIBELLE }}</option>
                            {% elseif rsgestemo.lIBELLE == 'MANUTENTION PRODUCTION' %}
                                <option value="{{ rsgestemo.id }}" style="background: #ffc000; color: white">{{ rsgestemo.lIBELLE }}</option>
                            {% elseif rsgestemo.lIBELLE == 'POST RECOLTE' %}
                                <option value="{{ rsgestemo.id }}">{{ rsgestemo.lIBELLE }}</option>
                            {% elseif rsgestemo.lIBELLE == 'GARDIENNAGE' %}
                                <option value="{{ rsgestemo.id }}" style="background: #219922; color: white">{{ rsgestemo.lIBELLE }}</option>
                            {% endif %}
                        {% endfor %}
                    </select>
                </div>
            </li>

    {% endfor %}
{% endblock %}

</body>
<!--  /Body -->
</html>
