<!DOCTYPE html>
<!--
BeyondAdmin - Responsive Admin Dashboard Template build with Twitter Bootstrap 3.3.6
Version: 1.6.0
Purchase: https://wrapbootstrap.com/theme/beyondadmin-adminapp-angularjs-mvc-WB06R48S4
-->

<html xmlns="http://www.w3.org/1999/xhtml">
<!-- Head -->
<head>
    <meta charset="utf-8"/>
    {% block stylesheets %}
        <style>
            table {
                width: 100%;
                border-collapse: collapse;
            }

            table, td, th {
                border: 1px solid black;
                padding: 5px;
            }

            th {
                text-align: left;
            }
        </style>

    {% endblock %}


</head>

{% block javascripts %}
    <script src="{{ asset('assets/js/jquery.min.js') }}"></script>
    <script>
        $(document).ready(function () {

            $("input[type=checkbox]").change(function() {
                alert( $('.checkmaintenance:checked').serialize());
            });
        });
    </script>
{% endblock %}

<body>
{% block body %}
    {% for rsitkmocv in itkmocv|sort %}
        <li class="dd-item dd2-item" data-id="6">
            <div class="dd-handle dd2-handle">
                <a href="{{ path('supprimeritkmocv',{'famillecultureid':id,'itkmocvid':rsitkmocv.id}) }}" onclick="return confirm('Vous êtes sûr de voiloir supprimer cette culture variété ?')"><i class="normal-icon fa fa-trash red"></i></a>

                <i class="drag-icon fa fa-arrows-alt "></i>
            </div>
            <div class="dd2-content">{{ rsitkmocv.lIBELLE }}</div>
            <ol class="dd-list">
                <li class="dd-item" data-id="6">
                    <div class="dd-handle"><input type="number" value="{{ rsitkmocv.qUANTITE }}" class="form-control" placeholder="Saisir la quantité de jour homme" id="quantite{{ rsitkmocv.id }}" onChange="updateitkmocv({{ rsitkmocv.id }});"/></div>
                </li>
                <li class="dd-item" data-id="6">
                    <div class="dd-handle">
                        <select class="form-control" style="width: 100%" id="unite{{ rsitkmocv.id }}" name="unite" onChange="updateitkmocv({{ rsitkmocv.id }});">
                            {% if rsitkmocv.uNITE != '' %}
                                <option>{{ rsitkmocv.uNITE }}</option>
                            {% else %}
                                <option>Choisir une unité de mesure</option>
                            {% endif %}
                            {% for rsunitemo in unitemo  %}
                                <option value="{{ rsunitemo.lIBELLE }}">{{ rsunitemo.lIBELLE }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </li>
                {% for rsgeste in itkmog %}
                    {% if rsgeste.lIBELLE == 'RECOLTE' or  rsgeste.lIBELLE == 'MANUTENTION PRODUCTION' %}
                        <li class="dd-item" data-id="6">
                            <div class="dd-handle">
                                {% if rsitkmocv.rEPARTITIONREDEMENTID != '' %}
                                    {% for rsitkmocvp in itkmocvp %}
                                        {% if rsitkmocv.rEPARTITIONREDEMENTID == rsitkmocvp.rEPARTITIONREDEMENTID %}
                                            <input type="number" value="{{ rsitkmocvp.nUMRECOLTE }}" class="form-control" placeholder="Saisir le numéro de passage de la récolte" id="passage{{ rsitkmocv.id }}" onChange="updatepassageitkmocv({{ rsitkmocv.id }});"/>
                                        {% endif %}
                                    {% endfor %}
                                {% else %}
                                    <input type="number" class="form-control" placeholder="Saisir le numéro de passage de la récolte" id="passage{{ rsitkmocv.id }}" onChange="updatepassageitkmocv({{ rsitkmocv.id }});"/>
                                {% endif %}
                            </div>
                        </li>
                    {% endif %}
                {% endfor %}
            </ol>
        </li>
        <li class="dd-item" data-id="6">
            <div class="dd-handle">
                <select class="form-control" style="width: 40%" id="cultureid{{ itkmogid }}" name="cultureid" onChange="ajoutitkmocv({{ itkmogid }});">
                    <option>Choisir une culture variété</option>
                    {% for rsculture in culture  %}
                        <option value="{{ rsculture.id }}">{{ rsculture.lIBELLE }}</option>
                    {% endfor %}
                </select>
            </div>

        </li>
    {% endfor %}
{% endblock %}

</body>
<!--  /Body -->
</html>
