{% extends ':layout:layout.html.twig' %}
{% block body  %}
    <!-- Page Sidebar -->
    <div class="page-sidebar" id="sidebar">
        <!-- Page Sidebar Header-->
        <div class="sidebar-header-wrapper">

        </div>
        <!-- /Page Sidebar Header -->
        <!-- Sidebar Menu -->
        <ul class="nav sidebar-menu">
            <!--Dashboard-->
            {% if is_granted('ROLE_CGESTION') == true %}
                <li>
                    <a href="{{ path('indexcontrolegestion') }}">
                        <i class="menu-icon  fa fa-dashboard "></i>
                        <span class="menu-text"> Tableau de bord </span>
                    </a>
                </li>
            {% else %}
                <li >
                    <a href="">
                        <i class="menu-icon  fa fa-dashboard "></i>
                        <span class="menu-text"> Tableau de bord </span>
                    </a>
                </li>
            {% endif %}
            {% if is_granted('ROLE_ADMIN') == true %}
                <li >
                    <a href="#" class="menu-dropdown">
                        <i class="menu-icon fa fa-cog"></i>
                        <span class="menu-text"> Gestion </span>

                        <i class="menu-expand"></i>
                    </a>

                    <ul class="submenu">
                        <li >
                            <a href="{{ path('gestionrole') }}">
                                <span class="menu-text">Gestion des r&ocirc;les</span>
                            </a>
                        </li>
                        <li >
                            <a href="{{ path('gestionutilisateur') }}">
                                <span class="menu-text">Gestion des utilisateurs</span>
                            </a>
                        </li>
                        <li >
                            <a href="{{ path('gestionservices') }}">
                                <span class="menu-text">Gestion des services</span>
                            </a>
                        </li>
                    </ul>
                </li>
            {% endif %}
            <li >
                <a href="#" class="menu-dropdown">
                    <i class="menu-icon fa fa-wrench"></i>
                    <span class="menu-text"> Technique </span>

                    <i class="menu-expand"></i>
                </a>
                <ul class="submenu">
                    <li >
                        <a href="#" class="menu-dropdown">
                            <span class="menu-text">Materiel & Maintenance</span>
                            <i class="menu-expand"></i>
                        </a>

                        <ul class="submenu">
                            <li>
                                <a href="{{ path('materielor') }}">
                                    <i class="menu-icon fa fa-rocket"></i>
                                    <span class="menu-text">Param&eacute;tre materiel</span>
                                </a>
                            </li>
                            <li>
                                <a href="{{ path('materiel') }}">
                                    <i class="fa fa-automobile"></i>
                                    <span class="menu-text">Mat&eacute;riel</span>
                                </a>
                            </li>
                            <li>
                                <a href="{{ path('maintenance') }}">
                                    <i class="menu-icon glyphicon glyphicon-stats"></i>
                                    <span class="menu-text">Maintenance</span>
                                </a>
                            </li>
                            <li>
                                <a href="{{ path('extractionmateriel') }}">
                                    <i class="menu-icon fa fa-file-excel-o"></i>
                                    <span class="menu-text">M.P prochaine</span>
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li >
                        <a href="{{ path('consommation') }}">
                            <span class="menu-text">Magasin & Consommation</span>
                        </a>
                    </li>
                </ul>
            </li>
            <li>
                <a href="#" class="menu-dropdown">
                    <i class="menu-icon fa fa-th-list"></i>
                    <span class="menu-text"> Production </span>

                    <i class="menu-expand"></i>
                </a>
                <ul class="submenu">
                    <li>
                        <a href="{{ path('geste') }}">
                            <span class="menu-text">Geste</span>
                        </a>
                    </li>
                    <li>
                        <a href="{{ path('interventionprod') }}">
                            <span class="menu-text">Intervention</span>
                        </a>
                    </li>
                </ul>
            </li>
            <li class="active open">
                <a href="#" class="menu-dropdown">
                    <i class="menu-icon glyphicon glyphicon-tree-deciduous themefifthcolor "></i>
                    <span class="menu-text "> Culture </span>

                    <i class="menu-expand"></i>
                </a>
                <ul class="submenu">
                    <li >
                        <a href="{{ path('campagne') }}">
                            <span class="menu-text">Campagne</span>
                        </a>
                    </li>
                    <li class="active ">
                        <a href="{{ path('ferme') }}">
                            <span class="menu-text">Ferme</span>
                        </a>
                    </li>
                    <li>
                        <a href="{{ path('ilot') }}">
                            <span class="menu-text">Ilot</span>
                        </a>
                    </li>
                    <li>
                        <a href="{{ path('parcelle') }}">
                            <span class="menu-text">Parcelle</span>
                        </a>
                    </li>
                    <li>
                        <a href="{{ path('site') }}">
                            <span class="menu-text">Site</span>
                        </a>
                    </li>
                </ul>
            </li>
            <li>
                <a href="#" class="menu-dropdown">
                    <i class="menu-icon glyphicon glyphicon-tasks"></i>
                    <span class="menu-text"> Agronomie </span>

                    <i class="menu-expand"></i>
                </a>

                <ul class="submenu">
                    <li >
                        <a href="#" class="menu-dropdown">
                            <span class="menu-text">Instructions</span>
                            <i class="menu-expand"></i>
                        </a>
                        <ul class="submenu">
                            <li >
                                <a href="{{ path('instructionsemis') }}">
                                    <span class="menu-text">Semis</span>
                                </a>
                            </li>
                            <li >
                                <a href="#">
                                    <span class="menu-text">Phyto</span>
                                </a>
                            </li>
                            <li >
                                <a href="#">
                                    <span class="menu-text">Localisé</span>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <span class="menu-text">Observation</span>
                                </a>
                            </li>
                            <li >
                                <a href="#">
                                    <span class="menu-text">Récolte</span>
                                </a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </li>
            <li>
                <a href="#" class="menu-dropdown">
                    <i class="menu-icon fa fa-truck"></i>
                    <span class="menu-text"> Reception </span>

                    <i class="menu-expand"></i>
                </a>
            </li>
            <li>
                <a href="#" class="menu-dropdown">
                    <i class="menu-icon glyphicon glyphicon-inbox"></i>
                    <span class="menu-text"> Conditionnement </span>

                    <i class="menu-expand"></i>
                </a>
            </li>
            <li>
                <a href="#" class="menu-dropdown">
                    <i class="menu-icon glyphicon glyphicon-shopping-cart"></i>
                    <span class="menu-text"> Vente </span>

                    <i class="menu-expand"></i>
                </a>
            </li>
            <li>
                <a href="{{ path('listeficheintervention') }}" class="menu-dropdown">
                    <i class="menu-icon fa fa-file-pdf-o"></i>
                    <span class="menu-text"> Fiche d'intervention </span>
                    <i class="menu-expand"></i>
                </a>
            </li>
        </ul>
        <!-- /Sidebar Menu -->
    </div>
    <!-- /Page Sidebar -->
    <!-- Page Content -->
    <div class="page-content">
        <!-- Page Breadcrumb -->
        <div class="page-breadcrumbs">
            <ul class="breadcrumb">
                <li>
                    <i class="menu-icon glyphicon glyphicon-tree-deciduous themefifthcolor"></i>
                    <a href="">Culture</a>
                </li>
            </ul>
        </div>
        <!-- /Page Breadcrumb -->
        <!-- Page Header -->
        <div class="page-header position-relative">
            <div class="header-title">
                <h1>
                    Ferme
                </h1>
            </div>
            <!--Header Buttons-->
            <div class="header-buttons">
                <a class="sidebar-toggler" href="#">
                    <i class="fa fa-arrows-h"></i>
                </a>
                <a class="refresh" id="refresh-toggler" href="">
                    <i class="glyphicon glyphicon-refresh"></i>
                </a>
                <a class="fullscreen" id="fullscreen-toggler" href="#">
                    <i class="glyphicon glyphicon-fullscreen"></i>
                </a>
            </div>
            <!--Header Buttons End-->
        </div>
        <!-- /Page Header -->
        <!-- Page Body -->
        <div class="page-body">
            <div class="row">
                {% block content %}
                {% endblock %}
            </div>
        </div>
        <!-- /Page Body -->
    </div>
{% endblock %}