{% extends 'DashboardBundle:Production:layout.html.twig' %}
{% block content %}
    <div class="row">
        <div class="col-lg-12 col-sm-12 col-xs-12">
            <a target="_blank" class="btn btn-default" href="{{ path('pmaineouvre') }}" >Voir plus</a>
            <div style="padding-right: 20%; padding-left: 20%">
                <div class="databox databox-xxlg databox-inverted databox-vertical databox-shadowed databox-graded">
                    <div class="databox-top padding-10">
                        <div id="container" style="height: 250px"></div>
                    </div>
                    <div class="databox-bottom no-padding bg-white bordered bordered-platinum">
                        <div class="databox-row row-12 no-padding">
                            <div class="databox-cell cell-6 no-padding text-align-center bordered-bottom-5 bordered-sky">
                                <span class="databox-title lightcarbon no-margin">Quantite prévu</span>
                                <span class="databox-text sonic-silver  no-margin">{{ total_global_prevu|number_format(0, ',', ' ') }}</span>
                            </div>
                            <div class="databox-cell cell-6 no-padding text-align-center bordered-bottom-5 bordered-yellow">
                                <span class="databox-title lightcarbon no-margin">Quantite réalisé</span>
                                <span class="databox-text sonic-silver  no-margin">{{ total_global_realise|number_format(0, ',', ' ') }}</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
                <div  align="right" style="width: 800px"><a onclick="goback();" href="#"  id="back_btn">Retour</a></div>
                <div id="containersemresp" align="center"></div>

            <br>
            <br>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12 col-sm-12 col-xs-12">
            <div class="tabbable">
                <ul class="nav nav-tabs nav-justified" id="myTab5">
                    <li class="active">
                        <a data-toggle="tab" href="#tabsite">
                            SITE
                        </a>
                    </li>

                    <li class="tab-red">
                        <a data-toggle="tab" href="#tabcul">
                            CULTURE
                        </a>
                    </li>
                </ul>

                <div class="tab-content">
                    <div id="tabsite" class="tab-pane in active">
                        <div class="row" id="table1">
                            <div class="col-lg-12 col-sm-12 col-xs-12">
                                <div class="widget flat radius-bordered">
                                    <div class="widget-header bg-azure">
                                        <div class="widget-buttons">
                                            <a href="#" data-toggle="maximize">
                                                <i class="fa fa-expand"></i>
                                            </a>
                                            <a href="#" data-toggle="collapse">
                                                <i class="fa fa-minus"></i>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="widget-body">
                                        <div class="tabbable">
                                            <ul class="nav nav-tabs nav-justified" id="myTab6">
                                                <li class="active">
                                                    <a data-toggle="tab" href="#diam">
                                                        DIAMA
                                                    </a>
                                                </li>

                                                <li class="tab-red">
                                                    <a data-toggle="tab" href="#ngal">
                                                        NGALAM
                                                    </a>
                                                </li>
                                                <li class="tab-red">
                                                    <a data-toggle="tab" href="#sav">
                                                        SAVOIGNE
                                                    </a>
                                                </li>
                                            </ul>

                                            <div class="tab-content">
                                                <div id="diam" class="tab-pane in active">
                                                    <div class="row" id="table1">
                                                        <div class="col-lg-12 col-sm-12 col-xs-12">
                                                            <div class="widget flat radius-bordered">
                                                                <div class="widget-header bg-azure">
                                                                    <div class="widget-buttons">
                                                                        <a href="#" data-toggle="maximize">
                                                                            <i class="fa fa-expand"></i>
                                                                        </a>
                                                                        <a href="#" data-toggle="collapse">
                                                                            <i class="fa fa-minus"></i>
                                                                        </a>
                                                                    </div>
                                                                </div>
                                                                <div class="widget-body">
                                                                    <div class="table-responsive">
                                                                        <table class="table table-bordered" style="font-size: small">
                                                                        <thead>
                                                                        <th style="text-align: center">Semaine <b> {{ date_semaine_prec }} </b></th>
                                                                        <th style="text-align: center">Semaine <b>{{ date_semaine_cur }}</b></th>
                                                                        <th style="text-align: center">Semaine <b>{{ date_semaine_suiv }}</b></th>
                                                                        </thead>
                                                                        <tbody>
                                                                        <tr>
                                                                            <td>
                                                                                {% for rs_site_total_semaine_prec in rows_total_semaine_prec %}
                                                                                    {% if rs_site_total_semaine_prec.SITEID == 1 %}
                                                                                        <h4><p align="center">Budget :
                                                                                                <b>{{ rs_site_total_semaine_prec.QUANTITETJH|number_format(0, ',', ' ') }}</b></p></h4>
                                                                                    {% endif %}
                                                                                {% endfor %}
                                                                                {#{% for rs_total_global_sem_prec_r in total_global_sem_prec_r %}
                                                                                    {% if rs_total_global_sem_prec_r.SITE == 'DIAMA' %}
                                                                                        <h4><p align="center">Realisé :
                                                                                                <b>{{ rs_total_global_sem_prec_r.REALISE|number_format(0, ',', ' ') }}</b></p></h4>
                                                                                    {% endif %}
                                                                                {% endfor %}#}
                                                                                 <table class="table table-bordered" style="padding: 0 0 0 0;">
                                                                                     <thead>
                                                                                     <th>Resp</th>
                                                                                     <th>Lieu</th>
                                                                                     <th>Prevu</th>
                                                                                     <th>Realise</th>
                                                                                     <th>Ecart</th>
                                                                                     <th>P Moy</th>
                                                                                     <th>R Moy</th>
                                                                                     <th>R J</th>
                                                                                     <th>R C</th>
                                                                                     </thead>
                                                                                     <tbody>
                                                                                     {#<tr>
                                                                                        <td>Jean FROUIN</td>
                                                                                        {% for rs_gr_geste_site_semaine_prec in rows_gr_geste_site_semaine_prec %}
                                                                                             {% if rs_gr_geste_site_semaine_prec.SITEID == 1 %}
                                                                                                 <td>{{ rs_gr_geste_site_semaine_prec.SITE }}</td>
                                                                                                 <td>{{ rs_gr_geste_site_semaine_prec.QUANTITET|number_format(0, ',', '') }}</td>
                                                                                                 <td>{{ nbcontsitediama }}</td>
                                                                                                 <td>{{ rs_gr_geste_site_semaine_prec.QUANTITET|number_format(0, ',', '') - nbcontsitediama }}</td>
                                                                                                 {% set moysite = rs_gr_geste_site_semaine_prec.QUANTITET / 6 %}
                                                                                                 <td>{{moysite|number_format(0, ',', '') }}</td>
                                                                                                 <td>0</td>
                                                                                                 <td>0</td>
                                                                                                 {% set moysiter = nbcontsitediama / 6 %}
                                                                                                 <td>{{moysiter|number_format(0, ',', '') }}</td>
                                                                                                 <td>0</td>
                                                                                                 <td>{{ nbcontsitediama }}</td>
                                                                                             {% endif %}
                                                                                         {% endfor %}
                                                                                     </tr>#}
                                                                                      {% for rs_gr_ferme_semaine_prec in semaine_prevu_realise_prec %}
                                                                                         {% if rs_gr_ferme_semaine_prec.SITEID == 1 %}
                                                                                             <tr>
                                                                                                 <td>{{ rs_gr_ferme_semaine_prec.PRENOMCHEFFERME }} {{ rs_gr_ferme_semaine_prec.NOMCHEFFERME }}</td>
                                                                                                 <td>{{ rs_gr_ferme_semaine_prec.FERME }}</td>
                                                                                                 <td>{{ rs_gr_ferme_semaine_prec.PREVU|number_format(0, ',', '')  }}</td>
                                                                                                 <td>{{ rs_gr_ferme_semaine_prec.REALISE }}</td>
                                                                                                 <td>{{ rs_gr_ferme_semaine_prec.REALISE - rs_gr_ferme_semaine_prec.PREVU|number_format(0, ',', '')  }}</td>
                                                                                                 {% set moyferme = rs_gr_ferme_semaine_prec.PREVU / 6 %}
                                                                                                 <td>{{ moyferme|number_format(0, ',', '') }}</td>
                                                                                                 {% set moyfermer = rs_gr_ferme_semaine_prec.REALISE  / 6 %}
                                                                                                 <td>{{ moyfermer|number_format(0, ',', '') }}</td>
                                                                                                 <td>{{ rs_gr_ferme_semaine_prec.REALISEJ }}</td>
                                                                                                 <td>{{ rs_gr_ferme_semaine_prec.REALISEC }}</td>
                                                                                             </tr>
                                                                                         {% endif %}
                                                                                     {% endfor %}
                                                                                     </tbody>
                                                                                 </table>

                                                                                <br>
                                                                                {# <div class="row">
                                                                                    <input type="hidden" value="{{ semaine_prec }}" id="semaineprec"/>
                                                                                    <div id="containersemprecd" align="center"></div>
                                                                                </div>
                                                                               #}
                                                                                </td>

                                                                            <td>

                                                                                {% for rs_rows_total_site_semaine_cur in rows_total_site_semaine_cur %}
                                                                                {% if rs_rows_total_site_semaine_cur.SITEID == 1 %}
                                                                                <h4>
                                                                                    <p align="center">Budget :

                                                                                        <b>{{ rs_rows_total_site_semaine_cur.QUANTITETJH|number_format(0, ',', ' ') }}</b>

                                                                                    </p>
                                                                                </h4>
                                                                                {% endif %}
                                                                                {% endfor %}
                                                                                 <table class="table table-bordered" style="padding: 0 0 0 0;">
                                                                                     <thead>
                                                                                     <th>Resp</th>
                                                                                     <th>Lieu</th>
                                                                                     <th>Prevu</th>
                                                                                     <th>Realise</th>
                                                                                     <th>Ecart</th>
                                                                                     <th>P Moy</th>
                                                                                     <th>R Moy</th>
                                                                                     <th>R J</th>
                                                                                     <th>R C</th>
                                                                                     </thead>
                                                                                     <tbody>
                                                                                    {# <tr >
                                                                                         <td style="font-size: small">Jean FROUIN</td>
                                                                                         {% for rs_site_geste in rows_site_geste %}
                                                                                             {% if rs_site_geste.SITEID == 1 %}
                                                                                                 <td style="font-size: 10px">{{ rs_site_geste.SITE }}</td>
                                                                                                 <td style="font-size: small">{{ rs_site_geste.QUANTITET|number_format(0, ',', ' ') }}</td>
                                                                                                 <td style="font-size: small">0</td>
                                                                                                 <td style="font-size: small">0</td>
                                                                                                 {% set moysite = rs_site_geste.QUANTITET / 6 %}
                                                                                                 <td style="font-size: small">{{moysite|number_format(0, ',', ' ') }}</td>
                                                                                                 <td style="font-size: small">0</td>
                                                                                                 <td style="font-size: small">0</td>
                                                                                                 <td style="font-size: small">0</td>
                                                                                                 <td style="font-size: small">0</td>
                                                                                                 <td style="font-size: small">0</td>
                                                                                             {% endif %}
                                                                                         {% endfor %}
                                                                                     </tr>#}
                                                                                    {% for rs_gr_ferme_semaine_cur in semaine_prevu_realise_cur %}
                                                                                        {% if rs_gr_ferme_semaine_cur.SITEID == 1 %}
                                                                                            <tr>
                                                                                                <td>{{ rs_gr_ferme_semaine_cur.PRENOMCHEFFERME }} {{ rs_gr_ferme_semaine_cur.NOMCHEFFERME }}</td>
                                                                                                <td>{{ rs_gr_ferme_semaine_cur.FERME }}</td>
                                                                                                <td>{{ rs_gr_ferme_semaine_cur.PREVU|number_format(0, ',', '')  }}</td>
                                                                                                <td>{{ rs_gr_ferme_semaine_cur.REALISE }}</td>
                                                                                                <td>{{ rs_gr_ferme_semaine_cur.REALISE - rs_gr_ferme_semaine_cur.PREVU|number_format(0, ',', '')  }}</td>
                                                                                                {% set moyferme = rs_gr_ferme_semaine_cur.PREVU / 6 %}
                                                                                                <td>{{ moyferme|number_format(0, ',', '') }}</td>
                                                                                                {% set moyfermer = rs_gr_ferme_semaine_cur.REALISE  / 6 %}
                                                                                                <td>{{ moyfermer|number_format(0, ',', '') }}</td>
                                                                                                <td>{{ rs_gr_ferme_semaine_cur.REALISEJ }}</td>
                                                                                                <td>{{ rs_gr_ferme_semaine_cur.REALISEC }}</td>
                                                                                            </tr>
                                                                                        {% endif %}
                                                                                    {% endfor %}
                                                                                     </tbody>
                                                                                 </table>
                                                                                 <br>
                                                                            </td>
                                                                            <td>

                                                                                {% for rs_rows_total_site_semaine_suiv in rows_total_site_semaine_suiv %}
                                                                                    {% if rs_rows_total_site_semaine_suiv.SITEID == 1 %}
                                                                                        <h4><p align="center">Budget :
                                                                                                <b>{{ rs_rows_total_site_semaine_suiv.QUANTITETJH|number_format(0, ',', ' ') }}</b></p></h4>
                                                                                    {% endif %}
                                                                                {% endfor %}
                                                                                <table class="table table-bordered" style="padding: 0 0 0 0;">
                                                                                    <thead>
                                                                                    <th>Resp</th>
                                                                                    <th>Lieu</th>
                                                                                    <th>Prevu</th>
                                                                                    <th>P Moy</th>
                                                                                    </thead>
                                                                                    <tbody>
                                                                                    {# <tr >
                                                                                         <td style="font-size: small">Jean FROUIN</td>
                                                                                         {% for rs_site_geste in rows_site_geste %}
                                                                                             {% if rs_site_geste.SITEID == 1 %}
                                                                                                 <td style="font-size: 10px">{{ rs_site_geste.SITE }}</td>
                                                                                                 <td style="font-size: small">{{ rs_site_geste.QUANTITET|number_format(0, ',', ' ') }}</td>
                                                                                                 <td style="font-size: small">0</td>
                                                                                                 <td style="font-size: small">0</td>
                                                                                                 {% set moysite = rs_site_geste.QUANTITET / 6 %}
                                                                                                 <td style="font-size: small">{{moysite|number_format(0, ',', ' ') }}</td>
                                                                                                 <td style="font-size: small">0</td>
                                                                                                 <td style="font-size: small">0</td>
                                                                                                 <td style="font-size: small">0</td>
                                                                                                 <td style="font-size: small">0</td>
                                                                                                 <td style="font-size: small">0</td>
                                                                                             {% endif %}
                                                                                         {% endfor %}
                                                                                     </tr>#}
                                                                                    {% for rs_gr_ferme_semaine_suiv in semaine_prevu_realise_suiv %}
                                                                                        {% if rs_gr_ferme_semaine_suiv.SITEID == 1 %}
                                                                                            <tr>
                                                                                                <td>{{ rs_gr_ferme_semaine_suiv.PRENOMCHEFFERME }} {{ rs_gr_ferme_semaine_suiv.NOMCHEFFERME }}</td>
                                                                                                <td>{{ rs_gr_ferme_semaine_suiv.FERME }}</td>
                                                                                                <td>{{ rs_gr_ferme_semaine_suiv.PREVU|number_format(0, ',', '')  }}</td>
                                                                                                {% set moyferme = rs_gr_ferme_semaine_suiv.PREVU / 6 %}
                                                                                                <td>{{ moyferme|number_format(0, ',', '') }}</td>
                                                                                            </tr>
                                                                                        {% endif %}
                                                                                    {% endfor %}
                                                                                    </tbody>
                                                                                </table>
                                                                                <br>
                                                                            </td>
                                                                     </table>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div id="ngal" class="tab-pane">
                                                    <div class="row">
                                                        <div class="col-lg-12 col-sm-12 col-xs-12">
                                                            <div class="widget flat radius-bordered">
                                                                <div class="widget-header bg-azure">
                                                                    <div class="widget-buttons">
                                                                        <a href="#" data-toggle="maximize">
                                                                            <i class="fa fa-expand"></i>
                                                                        </a>
                                                                        <a href="#" data-toggle="collapse">
                                                                            <i class="fa fa-minus"></i>
                                                                        </a>
                                                                    </div>
                                                                </div>
                                                                <div class="widget-body">
                                                                    <div class="table-responsive">
                                                                        <table class="table table-bordered" style="font-size: small">
                                                                            <thead>
                                                                            <th style="text-align: center">Semaine <b> {{ date_semaine_prec }} </b></th>
                                                                            <th style="text-align: center">Semaine <b>{{ date_semaine_cur }}</b></th>
                                                                            <th style="text-align: center">Semaine <b>{{ date_semaine_suiv }}</b></th>
                                                                            </thead>
                                                                            <tbody>
                                                                            <tr>
                                                                                <td>
                                                                                    {% for rs_site_total_semaine_prec in rows_total_semaine_prec %}
                                                                                        {% if rs_site_total_semaine_prec.SITEID == 2 %}
                                                                                            <h4><p align="center">Budget :
                                                                                                    <b>{{ rs_site_total_semaine_prec.QUANTITETJH|number_format(0, ',', ' ') }}</b></p></h4>
                                                                                        {% endif %}
                                                                                    {% endfor %}
                                                                                    {#{% for rs_total_global_sem_prec_r in total_global_sem_prec_r %}
                                                                                        {% if rs_total_global_sem_prec_r.SITE == 'DIAMA' %}
                                                                                            <h4><p align="center">Realisé :
                                                                                                    <b>{{ rs_total_global_sem_prec_r.REALISE|number_format(0, ',', ' ') }}</b></p></h4>
                                                                                        {% endif %}
                                                                                    {% endfor %}#}
                                                                                    <table class="table table-bordered" style="padding: 0 0 0 0;">
                                                                                        <thead>
                                                                                        <th>Resp</th>
                                                                                        <th>Lieu</th>
                                                                                        <th>Prevu</th>
                                                                                        <th>Realise</th>
                                                                                        <th>Ecart</th>
                                                                                        <th>P Moy</th>
                                                                                        <th>R Moy</th>
                                                                                        <th>R J</th>
                                                                                        <th>R C</th>
                                                                                        </thead>
                                                                                        <tbody>
                                                                                        {#<tr>
                                                                                           <td>Jean FROUIN</td>
                                                                                           {% for rs_gr_geste_site_semaine_prec in rows_gr_geste_site_semaine_prec %}
                                                                                                {% if rs_gr_geste_site_semaine_prec.SITEID == 1 %}
                                                                                                    <td>{{ rs_gr_geste_site_semaine_prec.SITE }}</td>
                                                                                                    <td>{{ rs_gr_geste_site_semaine_prec.QUANTITET|number_format(0, ',', '') }}</td>
                                                                                                    <td>{{ nbcontsitediama }}</td>
                                                                                                    <td>{{ rs_gr_geste_site_semaine_prec.QUANTITET|number_format(0, ',', '') - nbcontsitediama }}</td>
                                                                                                    {% set moysite = rs_gr_geste_site_semaine_prec.QUANTITET / 6 %}
                                                                                                    <td>{{moysite|number_format(0, ',', '') }}</td>
                                                                                                    <td>0</td>
                                                                                                    <td>0</td>
                                                                                                    {% set moysiter = nbcontsitediama / 6 %}
                                                                                                    <td>{{moysiter|number_format(0, ',', '') }}</td>
                                                                                                    <td>0</td>
                                                                                                    <td>{{ nbcontsitediama }}</td>
                                                                                                {% endif %}
                                                                                            {% endfor %}
                                                                                        </tr>#}
                                                                                        {% for rs_gr_ferme_semaine_prec in semaine_prevu_realise_prec %}
                                                                                            {% if rs_gr_ferme_semaine_prec.SITEID == 2 %}
                                                                                                <tr>
                                                                                                    <td>{{ rs_gr_ferme_semaine_prec.PRENOMCHEFFERME }} {{ rs_gr_ferme_semaine_prec.NOMCHEFFERME }}</td>
                                                                                                    <td>{{ rs_gr_ferme_semaine_prec.FERME }}</td>
                                                                                                    <td>{{ rs_gr_ferme_semaine_prec.PREVU|number_format(0, ',', '')  }}</td>
                                                                                                    <td>{{ rs_gr_ferme_semaine_prec.REALISE }}</td>
                                                                                                    <td>{{ rs_gr_ferme_semaine_prec.REALISE - rs_gr_ferme_semaine_prec.PREVU|number_format(0, ',', '')  }}</td>
                                                                                                    {% set moyferme = rs_gr_ferme_semaine_prec.PREVU / 6 %}
                                                                                                    <td>{{ moyferme|number_format(0, ',', '') }}</td>
                                                                                                    {% set moyfermer = rs_gr_ferme_semaine_prec.REALISE  / 6 %}
                                                                                                    <td>{{ moyfermer|number_format(0, ',', '') }}</td>
                                                                                                    <td>{{ rs_gr_ferme_semaine_prec.REALISEJ }}</td>
                                                                                                    <td>{{ rs_gr_ferme_semaine_prec.REALISEC }}</td>
                                                                                                </tr>
                                                                                            {% endif %}
                                                                                        {% endfor %}
                                                                                        </tbody>
                                                                                    </table>

                                                                                    <br>
                                                                                    {# <div class="row">
                                                                                        <input type="hidden" value="{{ semaine_prec }}" id="semaineprec"/>
                                                                                        <div id="containersemprecd" align="center"></div>
                                                                                    </div>
                                                                                   #}
                                                                                </td>

                                                                                <td>

                                                                                    {% for rs_rows_total_site_semaine_cur in rows_total_site_semaine_cur %}
                                                                                        {% if rs_rows_total_site_semaine_cur.SITEID == 2 %}
                                                                                            <h4>
                                                                                                <p align="center">Budget :

                                                                                                    <b>{{ rs_rows_total_site_semaine_cur.QUANTITETJH|number_format(0, ',', ' ') }}</b>

                                                                                                </p>
                                                                                            </h4>
                                                                                        {% endif %}
                                                                                    {% endfor %}
                                                                                    <table class="table table-bordered" style="padding: 0 0 0 0;">
                                                                                        <thead>
                                                                                        <th>Resp</th>
                                                                                        <th>Lieu</th>
                                                                                        <th>Prevu</th>
                                                                                        <th>Realise</th>
                                                                                        <th>Ecart</th>
                                                                                        <th>P Moy</th>
                                                                                        <th>R Moy</th>
                                                                                        <th>R J</th>
                                                                                        <th>R C</th>
                                                                                        </thead>
                                                                                        <tbody>
                                                                                        {# <tr >
                                                                                             <td style="font-size: small">Jean FROUIN</td>
                                                                                             {% for rs_site_geste in rows_site_geste %}
                                                                                                 {% if rs_site_geste.SITEID == 1 %}
                                                                                                     <td style="font-size: 10px">{{ rs_site_geste.SITE }}</td>
                                                                                                     <td style="font-size: small">{{ rs_site_geste.QUANTITET|number_format(0, ',', ' ') }}</td>
                                                                                                     <td style="font-size: small">0</td>
                                                                                                     <td style="font-size: small">0</td>
                                                                                                     {% set moysite = rs_site_geste.QUANTITET / 6 %}
                                                                                                     <td style="font-size: small">{{moysite|number_format(0, ',', ' ') }}</td>
                                                                                                     <td style="font-size: small">0</td>
                                                                                                     <td style="font-size: small">0</td>
                                                                                                     <td style="font-size: small">0</td>
                                                                                                     <td style="font-size: small">0</td>
                                                                                                     <td style="font-size: small">0</td>
                                                                                                 {% endif %}
                                                                                             {% endfor %}
                                                                                         </tr>#}
                                                                                        {% for rs_gr_ferme_semaine_cur in semaine_prevu_realise_cur %}
                                                                                            {% if rs_gr_ferme_semaine_cur.SITEID == 2 %}
                                                                                                <tr>
                                                                                                    <td>{{ rs_gr_ferme_semaine_cur.PRENOMCHEFFERME }} {{ rs_gr_ferme_semaine_cur.NOMCHEFFERME }}</td>
                                                                                                    <td>{{ rs_gr_ferme_semaine_cur.FERME }}</td>
                                                                                                    <td>{{ rs_gr_ferme_semaine_cur.PREVU|number_format(0, ',', '')  }}</td>
                                                                                                    <td>{{ rs_gr_ferme_semaine_cur.REALISE }}</td>
                                                                                                    <td>{{ rs_gr_ferme_semaine_cur.REALISE - rs_gr_ferme_semaine_cur.PREVU|number_format(0, ',', '')  }}</td>
                                                                                                    {% set moyferme = rs_gr_ferme_semaine_cur.PREVU / 6 %}
                                                                                                    <td>{{ moyferme|number_format(0, ',', '') }}</td>
                                                                                                    {% set moyfermer = rs_gr_ferme_semaine_cur.REALISE  / 6 %}
                                                                                                    <td>{{ moyfermer|number_format(0, ',', '') }}</td>
                                                                                                    <td>{{ rs_gr_ferme_semaine_cur.REALISEJ }}</td>
                                                                                                    <td>{{ rs_gr_ferme_semaine_cur.REALISEC }}</td>
                                                                                                </tr>
                                                                                            {% endif %}
                                                                                        {% endfor %}
                                                                                        </tbody>
                                                                                    </table>
                                                                                    <br>
                                                                                </td>
                                                                                <td>

                                                                                    {% for rs_rows_total_site_semaine_suiv in rows_total_site_semaine_suiv %}
                                                                                        {% if rs_rows_total_site_semaine_suiv.SITEID == 2 %}
                                                                                            <h4><p align="center">Budget :
                                                                                                    <b>{{ rs_rows_total_site_semaine_suiv.QUANTITETJH|number_format(0, ',', ' ') }}</b></p></h4>
                                                                                        {% endif %}
                                                                                    {% endfor %}
                                                                                    <table class="table table-bordered" style="padding: 0 0 0 0;">
                                                                                        <thead>
                                                                                        <th>Resp</th>
                                                                                        <th>Lieu</th>
                                                                                        <th>Prevu</th>
                                                                                        <th>P Moy</th>
                                                                                        </thead>
                                                                                        <tbody>
                                                                                        {# <tr >
                                                                                             <td style="font-size: small">Jean FROUIN</td>
                                                                                             {% for rs_site_geste in rows_site_geste %}
                                                                                                 {% if rs_site_geste.SITEID == 1 %}
                                                                                                     <td style="font-size: 10px">{{ rs_site_geste.SITE }}</td>
                                                                                                     <td style="font-size: small">{{ rs_site_geste.QUANTITET|number_format(0, ',', ' ') }}</td>
                                                                                                     <td style="font-size: small">0</td>
                                                                                                     <td style="font-size: small">0</td>
                                                                                                     {% set moysite = rs_site_geste.QUANTITET / 6 %}
                                                                                                     <td style="font-size: small">{{moysite|number_format(0, ',', ' ') }}</td>
                                                                                                     <td style="font-size: small">0</td>
                                                                                                     <td style="font-size: small">0</td>
                                                                                                     <td style="font-size: small">0</td>
                                                                                                     <td style="font-size: small">0</td>
                                                                                                     <td style="font-size: small">0</td>
                                                                                                 {% endif %}
                                                                                             {% endfor %}
                                                                                         </tr>#}
                                                                                        {% for rs_gr_ferme_semaine_suiv in semaine_prevu_realise_suiv %}
                                                                                            {% if rs_gr_ferme_semaine_suiv.SITEID == 2 %}
                                                                                                <tr>
                                                                                                    <td>{{ rs_gr_ferme_semaine_suiv.PRENOMCHEFFERME }} {{ rs_gr_ferme_semaine_suiv.NOMCHEFFERME }}</td>
                                                                                                    <td>{{ rs_gr_ferme_semaine_suiv.FERME }}</td>
                                                                                                    <td>{{ rs_gr_ferme_semaine_suiv.PREVU|number_format(0, ',', '')  }}</td>
                                                                                                    {% set moyferme = rs_gr_ferme_semaine_suiv.PREVU / 6 %}
                                                                                                    <td>{{ moyferme|number_format(0, ',', '') }}</td>
                                                                                                </tr>
                                                                                            {% endif %}
                                                                                        {% endfor %}
                                                                                        </tbody>
                                                                                    </table>
                                                                                    <br>
                                                                                </td>
                                                                        </table>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div id="sav" class="tab-pane">
                                                    <div class="row">
                                                        <div class="col-lg-12 col-sm-12 col-xs-12">
                                                            <div class="widget flat radius-bordered">
                                                                <div class="widget-header bg-azure">
                                                                    <div class="widget-buttons">
                                                                        <a href="#" data-toggle="maximize">
                                                                            <i class="fa fa-expand"></i>
                                                                        </a>
                                                                        <a href="#" data-toggle="collapse">
                                                                            <i class="fa fa-minus"></i>
                                                                        </a>
                                                                    </div>
                                                                </div>
                                                                <div class="widget-body">
                                                                    <div class="table-responsive">
                                                                        <table class="table table-bordered" style="font-size: small">
                                                                            <thead>
                                                                            <th style="text-align: center">Semaine <b> {{ date_semaine_prec }} </b></th>
                                                                            <th style="text-align: center">Semaine <b>{{ date_semaine_cur }}</b></th>
                                                                            <th style="text-align: center">Semaine <b>{{ date_semaine_suiv }}</b></th>
                                                                            </thead>
                                                                            <tbody>
                                                                            <tr>
                                                                                <td>
                                                                                    {% for rs_site_total_semaine_prec in rows_total_semaine_prec %}
                                                                                        {% if rs_site_total_semaine_prec.SITEID == 3 %}
                                                                                            <h4><p align="center">Budget :
                                                                                                    <b>{{ rs_site_total_semaine_prec.QUANTITETJH|number_format(0, ',', ' ') }}</b></p></h4>
                                                                                        {% endif %}
                                                                                    {% endfor %}
                                                                                    {#{% for rs_total_global_sem_prec_r in total_global_sem_prec_r %}
                                                                                        {% if rs_total_global_sem_prec_r.SITE == 'DIAMA' %}
                                                                                            <h4><p align="center">Realisé :
                                                                                                    <b>{{ rs_total_global_sem_prec_r.REALISE|number_format(0, ',', ' ') }}</b></p></h4>
                                                                                        {% endif %}
                                                                                    {% endfor %}#}
                                                                                    <table class="table table-bordered" style="padding: 0 0 0 0;">
                                                                                        <thead>
                                                                                        <th>Resp</th>
                                                                                        <th>Lieu</th>
                                                                                        <th>Prevu</th>
                                                                                        <th>Realise</th>
                                                                                        <th>Ecart</th>
                                                                                        <th>P Moy</th>
                                                                                        <th>R Moy</th>
                                                                                        <th>R J</th>
                                                                                        <th>R C</th>
                                                                                        </thead>
                                                                                        <tbody>
                                                                                        {#<tr>
                                                                                           <td>Jean FROUIN</td>
                                                                                           {% for rs_gr_geste_site_semaine_prec in rows_gr_geste_site_semaine_prec %}
                                                                                                {% if rs_gr_geste_site_semaine_prec.SITEID == 1 %}
                                                                                                    <td>{{ rs_gr_geste_site_semaine_prec.SITE }}</td>
                                                                                                    <td>{{ rs_gr_geste_site_semaine_prec.QUANTITET|number_format(0, ',', '') }}</td>
                                                                                                    <td>{{ nbcontsitediama }}</td>
                                                                                                    <td>{{ rs_gr_geste_site_semaine_prec.QUANTITET|number_format(0, ',', '') - nbcontsitediama }}</td>
                                                                                                    {% set moysite = rs_gr_geste_site_semaine_prec.QUANTITET / 6 %}
                                                                                                    <td>{{moysite|number_format(0, ',', '') }}</td>
                                                                                                    <td>0</td>
                                                                                                    <td>0</td>
                                                                                                    {% set moysiter = nbcontsitediama / 6 %}
                                                                                                    <td>{{moysiter|number_format(0, ',', '') }}</td>
                                                                                                    <td>0</td>
                                                                                                    <td>{{ nbcontsitediama }}</td>
                                                                                                {% endif %}
                                                                                            {% endfor %}
                                                                                        </tr>#}
                                                                                        {% for rs_gr_ferme_semaine_prec in semaine_prevu_realise_prec %}
                                                                                            {% if rs_gr_ferme_semaine_prec.SITEID == 3 %}
                                                                                                {% if  rs_gr_ferme_semaine_prec.FERMEID != 122 and rs_gr_ferme_semaine_prec.FERMEID != 123 and rs_gr_ferme_semaine_prec.FERMEID != 124%}
                                                                                                    <tr>
                                                                                                        <td>{{ rs_gr_ferme_semaine_prec.PRENOMCHEFFERME }} {{ rs_gr_ferme_semaine_prec.NOMCHEFFERME }}</td>
                                                                                                        <td>{{ rs_gr_ferme_semaine_prec.FERME }}</td>
                                                                                                        <td>{{ rs_gr_ferme_semaine_prec.PREVU|number_format(0, ',', '')  }}</td>
                                                                                                        <td>{{ rs_gr_ferme_semaine_prec.REALISE }}</td>
                                                                                                        <td>{{ rs_gr_ferme_semaine_prec.REALISE - rs_gr_ferme_semaine_prec.PREVU|number_format(0, ',', '')  }}</td>
                                                                                                        {% set moyferme = rs_gr_ferme_semaine_prec.PREVU / 6 %}
                                                                                                        <td>{{ moyferme|number_format(0, ',', '') }}</td>
                                                                                                        {% set moyfermer = rs_gr_ferme_semaine_prec.REALISE  / 6 %}
                                                                                                        <td>{{ moyfermer|number_format(0, ',', '') }}</td>
                                                                                                        <td>{{ rs_gr_ferme_semaine_prec.REALISEJ }}</td>
                                                                                                        <td>{{ rs_gr_ferme_semaine_prec.REALISEC }}</td>
                                                                                                    </tr>
                                                                                                {% elseif rs_gr_ferme_semaine_prec.FERMEID == 122 %}
                                                                                                    <tr>
                                                                                                        <td>{{ rs_gr_ferme_semaine_prec.PRENOMCHEFFERME }} {{ rs_gr_ferme_semaine_prec.NOMCHEFFERME }}</td>
                                                                                                        <td>{{ rs_gr_ferme_semaine_prec.FERME }}</td>
                                                                                                        <td>{{ qte_socas_semaine_prec|number_format(0, ',', '')  }}</td>
                                                                                                        <td>{{ rs_gr_ferme_semaine_prec.REALISE }}</td>
                                                                                                        <td>{{ rs_gr_ferme_semaine_prec.REALISE - qte_socas_semaine_prec  }}</td>
                                                                                                        {% set moyferme = qte_socas_semaine_prec / 6 %}
                                                                                                        <td>{{ moyferme|number_format(0, ',', '') }}</td>
                                                                                                        {% set moyfermer = rs_gr_ferme_semaine_prec.REALISE  / 6 %}
                                                                                                        <td>{{ moyfermer|number_format(0, ',', '') }}</td>
                                                                                                        <td>{{ rs_gr_ferme_semaine_prec.REALISEJ }}</td>
                                                                                                        <td>{{ rs_gr_ferme_semaine_prec.REALISEC }}</td>
                                                                                                    </tr>
                                                                                                {% endif %}
                                                                                            {% endif %}
                                                                                        {% endfor %}
                                                                                        </tbody>
                                                                                    </table>

                                                                                    <br>
                                                                                    {# <div class="row">
                                                                                        <input type="hidden" value="{{ semaine_prec }}" id="semaineprec"/>
                                                                                        <div id="containersemprecd" align="center"></div>
                                                                                    </div>
                                                                                   #}
                                                                                </td>

                                                                                <td>

                                                                                    {% for rs_rows_total_site_semaine_cur in rows_total_site_semaine_cur %}
                                                                                        {% if rs_rows_total_site_semaine_cur.SITEID == 3 %}
                                                                                            <h4>
                                                                                                <p align="center">Budget :

                                                                                                    <b>{{ rs_rows_total_site_semaine_cur.QUANTITETJH|number_format(0, ',', ' ') }}</b>

                                                                                                </p>
                                                                                            </h4>
                                                                                        {% endif %}
                                                                                    {% endfor %}
                                                                                    <table class="table table-bordered" style="padding: 0 0 0 0;">
                                                                                        <thead>
                                                                                        <th>Resp</th>
                                                                                        <th>Lieu</th>
                                                                                        <th>Prevu</th>
                                                                                        <th>Realise</th>
                                                                                        <th>Ecart</th>
                                                                                        <th>P Moy</th>
                                                                                        <th>R Moy</th>
                                                                                        <th>R J</th>
                                                                                        <th>R C</th>
                                                                                        </thead>
                                                                                        <tbody>
                                                                                        {# <tr >
                                                                                             <td style="font-size: small">Jean FROUIN</td>
                                                                                             {% for rs_site_geste in rows_site_geste %}
                                                                                                 {% if rs_site_geste.SITEID == 1 %}
                                                                                                     <td style="font-size: 10px">{{ rs_site_geste.SITE }}</td>
                                                                                                     <td style="font-size: small">{{ rs_site_geste.QUANTITET|number_format(0, ',', ' ') }}</td>
                                                                                                     <td style="font-size: small">0</td>
                                                                                                     <td style="font-size: small">0</td>
                                                                                                     {% set moysite = rs_site_geste.QUANTITET / 6 %}
                                                                                                     <td style="font-size: small">{{moysite|number_format(0, ',', ' ') }}</td>
                                                                                                     <td style="font-size: small">0</td>
                                                                                                     <td style="font-size: small">0</td>
                                                                                                     <td style="font-size: small">0</td>
                                                                                                     <td style="font-size: small">0</td>
                                                                                                     <td style="font-size: small">0</td>
                                                                                                 {% endif %}
                                                                                             {% endfor %}
                                                                                         </tr>#}
                                                                                        {% for rs_gr_ferme_semaine_cur in semaine_prevu_realise_cur %}
                                                                                            {% if rs_gr_ferme_semaine_cur.SITEID == 3 %}
                                                                                                {% if  rs_gr_ferme_semaine_cur.FERMEID != 122 and rs_gr_ferme_semaine_cur.FERMEID != 123 and rs_gr_ferme_semaine_cur.FERMEID != 124%}
                                                                                                    <tr>
                                                                                                        <td>{{ rs_gr_ferme_semaine_cur.PRENOMCHEFFERME }} {{ rs_gr_ferme_semaine_cur.NOMCHEFFERME }}</td>
                                                                                                        <td>{{ rs_gr_ferme_semaine_cur.FERME }}</td>
                                                                                                        <td>{{ rs_gr_ferme_semaine_cur.PREVU|number_format(0, ',', '')  }}</td>
                                                                                                        <td>{{ rs_gr_ferme_semaine_cur.REALISE }}</td>
                                                                                                        <td>{{ rs_gr_ferme_semaine_cur.REALISE - rs_gr_ferme_semaine_cur.PREVU|number_format(0, ',', '')  }}</td>
                                                                                                        {% set moyferme = rs_gr_ferme_semaine_cur.PREVU / 6 %}
                                                                                                        <td>{{ moyferme|number_format(0, ',', '') }}</td>
                                                                                                        {% set moyfermer = rs_gr_ferme_semaine_cur.REALISE  / 6 %}
                                                                                                        <td>{{ moyfermer|number_format(0, ',', '') }}</td>
                                                                                                        <td>{{ rs_gr_ferme_semaine_cur.REALISEJ }}</td>
                                                                                                        <td>{{ rs_gr_ferme_semaine_cur.REALISEC }}</td>
                                                                                                    </tr>
                                                                                                {% elseif rs_gr_ferme_semaine_cur.FERMEID == 122 %}
                                                                                                    <tr>
                                                                                                        <td>{{ rs_gr_ferme_semaine_cur.PRENOMCHEFFERME }} {{ rs_gr_ferme_semaine_cur.NOMCHEFFERME }}</td>
                                                                                                        <td>{{ rs_gr_ferme_semaine_cur.FERME }}</td>
                                                                                                        <td>{{ qte_socas_semaine_cur|number_format(0, ',', '')  }}</td>
                                                                                                        <td>{{ rs_gr_ferme_semaine_cur.REALISE }}</td>
                                                                                                        <td>{{ rs_gr_ferme_semaine_cur.REALISE - qte_socas_semaine_cur|number_format(0, ',', '')  }}</td>
                                                                                                        {% set moyferme = qte_socas_semaine_cur / 6 %}
                                                                                                        <td>{{ moyferme|number_format(0, ',', '') }}</td>
                                                                                                        <td>0</td>
                                                                                                        <td>0</td>
                                                                                                        {% set moyfermer = rs_gr_ferme_semaine_cur.REALISE  / 6 %}
                                                                                                        <td>{{ moyfermer|number_format(0, ',', '') }}</td>
                                                                                                        <td>{{ rs_gr_ferme_semaine_cur.REALISEJ }}</td>
                                                                                                        <td>{{ rs_gr_ferme_semaine_cur.REALISEC }}</td>
                                                                                                    </tr>
                                                                                                {% endif %}
                                                                                            {% endif %}
                                                                                        {% endfor %}
                                                                                        </tbody>
                                                                                    </table>
                                                                                    <br>
                                                                                </td>
                                                                                <td>

                                                                                    {% for rs_rows_total_site_semaine_suiv in rows_total_site_semaine_suiv %}
                                                                                        {% if rs_rows_total_site_semaine_suiv.SITEID == 3 %}
                                                                                            <h4><p align="center">Budget :
                                                                                                    <b>{{ rs_rows_total_site_semaine_suiv.QUANTITETJH|number_format(0, ',', ' ') }}</b></p></h4>
                                                                                        {% endif %}
                                                                                    {% endfor %}
                                                                                    <table class="table table-bordered" style="padding: 0 0 0 0;">
                                                                                        <thead>
                                                                                        <th>Resp</th>
                                                                                        <th>Lieu</th>
                                                                                        <th>Prevu</th>
                                                                                        <th>P Moy</th>
                                                                                        </thead>
                                                                                        <tbody>
                                                                                        {# <tr >
                                                                                             <td style="font-size: small">Jean FROUIN</td>
                                                                                             {% for rs_site_geste in rows_site_geste %}
                                                                                                 {% if rs_site_geste.SITEID == 1 %}
                                                                                                     <td style="font-size: 10px">{{ rs_site_geste.SITE }}</td>
                                                                                                     <td style="font-size: small">{{ rs_site_geste.QUANTITET|number_format(0, ',', ' ') }}</td>
                                                                                                     <td style="font-size: small">0</td>
                                                                                                     <td style="font-size: small">0</td>
                                                                                                     {% set moysite = rs_site_geste.QUANTITET / 6 %}
                                                                                                     <td style="font-size: small">{{moysite|number_format(0, ',', ' ') }}</td>
                                                                                                     <td style="font-size: small">0</td>
                                                                                                     <td style="font-size: small">0</td>
                                                                                                     <td style="font-size: small">0</td>
                                                                                                     <td style="font-size: small">0</td>
                                                                                                     <td style="font-size: small">0</td>
                                                                                                 {% endif %}
                                                                                             {% endfor %}
                                                                                         </tr>#}
                                                                                        {% for rs_gr_ferme_semaine_suiv in semaine_prevu_realise_suiv %}
                                                                                            {% if rs_gr_ferme_semaine_suiv.SITEID == 3 %}
                                                                                                {% if  rs_gr_ferme_semaine_suiv.FERMEID != 122 and rs_gr_ferme_semaine_suiv.FERMEID != 123 and rs_gr_ferme_semaine_suiv.FERMEID != 124%}
                                                                                                    <tr>
                                                                                                        <td>{{ rs_gr_ferme_semaine_suiv.PRENOMCHEFFERME }} {{ rs_gr_ferme_semaine_suiv.NOMCHEFFERME }}</td>
                                                                                                        <td>{{ rs_gr_ferme_semaine_suiv.FERME }}</td>
                                                                                                        <td>{{ rs_gr_ferme_semaine_suiv.PREVU|number_format(0, ',', '')  }}</td>
                                                                                                        {% set moyferme = rs_gr_ferme_semaine_suiv.PREVU / 6 %}
                                                                                                        <td>{{ moyferme|number_format(0, ',', '') }}</td>
                                                                                                    </tr>
                                                                                                {% elseif rs_gr_ferme_semaine_suiv.FERMEID == 122 %}
                                                                                                    <tr>
                                                                                                        <td>{{ rs_gr_ferme_semaine_suiv.PRENOMCHEFFERME }} {{ rs_gr_ferme_semaine_suiv.NOMCHEFFERME }}</td>
                                                                                                        <td>{{ rs_gr_ferme_semaine_suiv.FERME }}</td>
                                                                                                        <td>{{qte_socas_semaine_suiv|number_format(0, ',', '')  }}</td>
                                                                                                        {% set moyferme = qte_socas_semaine_suiv / 6 %}
                                                                                                        <td>{{ moyferme|number_format(0, ',', '') }}</td>
                                                                                                        <td>0</td>
                                                                                                        <td>0</td>
                                                                                                    </tr>
                                                                                                {% endif %}
                                                                                            {% endif %}
                                                                                        {% endfor %}
                                                                                        </tbody>
                                                                                    </table>
                                                                                    <br>
                                                                                </td>
                                                                        </table>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="tabcul" class="tab-pane">

                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}