{% extends 'PointageBundle:FichePointage:layout.html.twig' %}
{% block content %}
<br>
    <div style="padding-left: 5%; padding-right: 5%">
        <div class="col-lg-12 col-sm-12 col-xs-12">
            <div class="row" >
                <div class="widget flat radius-bordered">
                    <div class="widget-header bg-azure">
                        <span class="widget-caption">Nouvelle fiche de pointage</span>
                        <div class="widget-buttons buttons-bordered">

                            <a href="#" data-toggle="maximize">
                                <i class="fa fa-expand"></i>
                            </a>
                            <a href="#" data-toggle="collapse">
                                <i class="fa fa-minus"></i>
                            </a>
                            <a href="#" data-toggle="dispose">
                                <i class="fa fa-times"></i>
                            </a>
                        </div>
                    </div>
                    <div class="widget-body">
                        <div style="padding-left: 10%; padding-right: 10%">
                            <br>
                            <div class="row">
                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                    {{ form_start(form, {'attr': {'class': 'form-horizontal'}}) }}
                                    {% if app.session.started %}
                                        {% for flashMessage in app.session.flashbag.get('notice') %}
                                            <div class="alert alert-{{ flashMessage.alert }} alert-dismissible" role="alert">
                                                <button type="button" class="close" data-dismiss="alert">
                                                    <span aria-hidden="true">&times;</span><span class="sr-only">Close</span>
                                                </button>
                                                <strong>{{ flashMessage.title }}</strong> {{ flashMessage.message }}
                                            </div>
                                        {% endfor %}
                                    {% endif %}
                                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                                        <div class="form-group">
                                            <label for="" class="col-sm-4 control-label">DATE DE SAISIE</label>
                                            <div class="col-sm-8">
                                                <input type="text" id="datecreation" class="form-control" disabled/>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="" class="col-sm-4 control-label">MATRICULE</label>
                                            <div class="col-sm-8">
                                                <input type="text" id="matricule" style="width: 100%" />
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="" class="col-sm-4 control-label">NOM / PRENOM</label>
                                            <div class="col-sm-8">
                                                <input type="text" id="nomcomplet" class="form-control" disabled/>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="" class="col-sm-4 control-label">JOUR</label>
                                            <div class="col-sm-8">
                                                {{ form_widget(form.jOUR, {'attr': {'class': 'form-control'}}) }}
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="" class="col-sm-4 control-label">HEURE DEBUT</label>
                                            <div class="col-sm-8">
                                                {{ form_widget(form.hEURED, {'attr': {'class': 'form-control'}}) }}
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="" class="col-sm-4 control-label">HEURE FIN</label>
                                            <div class="col-sm-8">
                                                {{ form_widget(form.hEUREFIN, {'attr': {'class': 'form-control'}}) }}
                                            </div>
                                        </div>

                                    </div>
                                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                                        <div class="form-group">
                                            <label for="" class="col-sm-4 control-label">ABSENT</label>
                                            <div class="checkbox col-sm-8">
                                                <label>
                                                    {{ form_widget(form.aBSENT, {'attr': {'class': 'form-control colored-danger'}}) }}
                                                    <span class="text"></span>
                                                </label>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="" class="col-sm-4 control-label">OP</label>
                                            <div class="col-sm-8">
                                                <input type="text" id="cyclecultural" style="width: 100%"/>
                                                <input type="hidden" id="cycleculturallibelle" style="width: 100%"/>
                                            </div>
                                        </div>
                                        <div class="form-group" id="formeferme">
                                            <label for="" class="col-sm-4 control-label">LIEU</label>
                                            <div class="col-sm-8">
                                                <input type="text" id="ferme" style="width: 100%"/>
                                                <input type="hidden" id="site" style="width: 100%" value="{{ user_site }}"/>
                                            </div>
                                        </div>
                                        <div class="form-group" id="formeferme1" style="display: none">
                                            <label for="" class="col-sm-4 control-label">LIEU</label>
                                            <div class="col-sm-8">
                                                <input type="text" id="ferme1"  class="form-control"/>
                                            </div>
                                        </div>
                                        <div class="form-group" id="formculture1" style="display: none">
                                            <label for="" class="col-sm-4 control-label">CULTURE</label>
                                            <div class="col-sm-8">
                                                <input type="text" id="culture1" style="width: 100%" class="form-control"/>
                                            </div>
                                        </div>
                                        <div class="form-group" id="formculture">
                                            <label for="" class="col-sm-4 control-label">CULTURE</label>
                                            <div class="col-sm-8">
                                                <input type="text" id="culture" style="width: 100%" />
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="" class="col-sm-4 control-label">GESTE</label>
                                            <div class="col-sm-8">
                                                <input type="text" id="sgeste" style="width: 100%" />
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="" class="col-sm-4 control-label">FERIE</label>
                                            <div class="checkbox col-sm-8">
                                                <label>
                                                    {{ form_widget(form.fERIE, {'attr': {'class': 'form-control'}}) }}
                                                    <span class="text"></span>
                                                </label>
                                            </div>
                                        </div>
                                    </div>


                                    <div align="right">
                                        <div style="padding-right: 17%">
                                            <input type="submit" id="valider" class="btn btn-azure" value="Enregistrer"
                                                   onClick="this.disabled=true;this.form.submit();this.value='Patientez...'"/>
                                        </div>
                                    </div>
                                    {{ form_rest(form) }}
                                    {{ form_end(form) }}
                                </div>
                            </div>
                        </div>
                        <br>
                        <div>
                            <br>
                            <div style="padding-right: 2%; padding-left: 2%" class="table table-responsive">
                                <a style="float: right" class="btn btn-maroon btn-sm" href='{{ path('pointageligne_exportpdf',
                                {'id':id}) }}' target="_blank">Export PDF</a>
                                <br>
                                <br>
                                <table class="table table-bordered" id="tpointage">
                                    <thead>
                                    <tr>
                                        <th>Matricule</th>
                                        <th>Nom / Prénom</th>
                                        <th>Jour</th>
                                        <th>Horaire</th>
                                        <th>Heure travailllées</th>
                                        <th>Lieu</th>
                                        <th>OP</th>
                                        <th>Culture</th>
                                        <th>Gestes</th>
                                        <th>Opérateur de saisir</th>
                                        <th>Date de saisir</th>
                                        <th>Total</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for pointage in pointages %}
                                        <tr>
                                            <td>{{ pointage.mATRICULE }}</td>
                                            <td>{{ pointage.pRENOM }} {{ pointage.nOM }}</td>
                                            <td>{{ pointage.DAY }}</td>
                                            {% if pointage.aBSENT == "A" %}
                                                <td>{{ pointage.aBSENT }}</td>
                                            {% else %}
                                                <td>{{ pointage.HEURED }} - {{ pointage.HEUREFIN }}</td>
                                            {% endif %}
                                            <td>{{ pointage.HEURE_TRA }}</td>
                                            <td>{{ pointage.FERME }}</td>
                                            <td>{{ pointage.OP }}</td>
                                            <td>{{ pointage.CULTURE }}</td>
                                            <td>{{ pointage.gESTEID }}</td>
                                            <td>{{ pointage.uSERADD }}</td>
                                            <td>{{ pointage.dATEADD|date('d-m-y') }}</td>
                                            {% for total in totals %}
                                                {% if total.cONTRACTUELID == pointage.cONTRACTUELID %}
                                                    <td>{{ total.HEURE_TRA }}</td>
                                                {% endif %}
                                            {% endfor %}

                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}