<page backtop="25mm">
    <page_header>
        <table style="width: 100%; border-collapse: collapse; border: 1px solid black; padding: 5%">
            <tr style="background: #E0E0E0;">
                <td style="width: 80%; text-align: center; border: 1px solid black; padding: 2%"><h2>Pointage de la
                        semaine</h2>
                    <span>Du :<b>{{ fichepointage.dATEDEBUT|date('d-m-Y') }}</b> Au: <b>{{ fichepointage
                        .dATEFIN|date('d-m-Y') }}</b></span>
                    <span>Site : <b>{{ site.lIBELLE }}</b></span>
                </td>
                <td style="width: 20%; border: 1px solid black; padding-left: 20% ">
                    <span> Date:  {{ 'now'|date('d-m-y') }}</span>
                    <br>
                    <br>
                    <span> Page:  [[page_cu]]/[[page_nb]]</span>
                </td>
            </tr>

        </table>
    </page_header>

    <p><b>Lundi</b></p>
        <table style="border: 1px solid; border-collapse: collapse; width: 100%" >
        <thead >
        <tr>
            <th style="border: 1px solid; width: 11%; height: 5%; text-align: center">Matricule</th>
            <th style="border: 1px solid; width: 11%; height: 5%; text-align: center">Nom / Prénom</th>
            <th style="border: 1px solid; width: 11%; height: 5%; text-align: center">Jour</th>
            <th style="border: 1px solid; width: 11%; height: 5%; text-align: center">Horaire</th>
            <th style="border: 1px solid; width: 11%; height: 5%; text-align: center">Heure travailllées</th>
            <th style="border: 1px solid; width: 11%; height: 5%; text-align: center">Lieu</th>
            <th style="border: 1px solid; width: 11%; height: 5%; text-align: center">OP</th>
            <th style="border: 1px solid; width: 12%; height: 5%; text-align: center">Culture</th>
            <th style="border: 1px solid; width: 11%; height: 5%; text-align: center">Gestes</th>
            {#<th style="border: 1px solid; width: 10%; height: 5%; text-align: center">Total</th>#}
        </tr>
        </thead>
        <tbody>
        {% for pointageligne in pointageslignes %}
        {% if pointageligne.DAY  == 'lundi' %}
            <tr>
                <td style="border-right: 1px solid; border-left: 1px solid;
                                    border-bottom: 1px solid; text-align: center;width: 8%; " >{{ pointageligne.mATRICULE }}</td>
                <td style="border-right: 1px solid; border-left: 1px solid;
                                    border-bottom: 1px solid; text-align: center;width: 8%; " >{{ pointageligne
                    .pRENOM }} {{ pointageligne.nOM }}</td>
                <td style="border-right: 1px solid; border-left: 1px solid;
                                    border-bottom: 1px solid; text-align: center;width: 8%; " >{{ pointageligne.DAY
                    }}</td>
                <td style="border-right: 1px solid; border-left: 1px solid;
                                    border-bottom: 1px solid; text-align: center;width: 8%; " >{{ pointageligne.HEURED
                    }} {{ pointageligne.HEUREFIN }}</td>
                <td style="border-right: 1px solid; border-left: 1px solid;
                                    border-bottom: 1px solid; text-align: center;width: 8%; " >{{ pointageligne
                    .HEURE_TRA }}</td>
                <td style="border-right: 1px solid; border-left: 1px solid;
                                    border-bottom: 1px solid; text-align: center;width: 8%; " >{{ pointageligne.FERME
                    }}</td>
                <td style="border-right: 1px solid; border-left: 1px solid;
                                    border-bottom: 1px solid; text-align: center;width: 8%; " >{{ pointageligne.OP
                    }}</td>
                <td style="border-right: 1px solid; border-left: 1px solid;
                                    border-bottom: 1px solid; text-align: center;width: 8%; " >{{ pointageligne.CULTURE
                    }}</td>
                <td style="border-right: 1px solid; border-left: 1px solid;
                                    border-bottom: 1px solid; text-align: center;width: 8%; " >{{ pointageligne.gESTEID
                    }}</td>
            </tr>
            {% endif %}
            {% endfor %}
        </tbody>
        </table>

    <p><b>Mardi</b></p>
    <table style="border: 1px solid; border-collapse: collapse; width: 100%" >
        <thead>
        <tr>
            <th style="border: 1px solid; width: 11%; height: 5%; text-align: center">Matricule</th>
            <th style="border: 1px solid; width: 11%; height: 5%; text-align: center">Nom / Prénom</th>
            <th style="border: 1px solid; width: 11%; height: 5%; text-align: center">Jour</th>
            <th style="border: 1px solid; width: 11%; height: 5%; text-align: center">Horaire</th>
            <th style="border: 1px solid; width: 11%; height: 5%; text-align: center">Heure travailllées</th>
            <th style="border: 1px solid; width: 11%; height: 5%; text-align: center">Lieu</th>
            <th style="border: 1px solid; width: 11%; height: 5%; text-align: center">OP</th>
            <th style="border: 1px solid; width: 12%; height: 5%; text-align: center">Culture</th>
            <th style="border: 1px solid; width: 11%; height: 5%; text-align: center">Gestes</th>
        </tr>
        </thead>
        <tbody>
        {% for pointageligne in pointageslignes %}
        {% if pointageligne.DAY  == 'mardi' %}
        <tr>
            <td style="border-right: 1px solid; border-left: 1px solid;
                                    border-bottom: 1px solid; text-align: center;width: 8%; " >{{ pointageligne.mATRICULE }}</td>
            <td style="border-right: 1px solid; border-left: 1px solid;
                                    border-bottom: 1px solid; text-align: center;width: 8%; " >{{ pointageligne
                .pRENOM }} {{ pointageligne.nOM }}</td>
            <td style="border-right: 1px solid; border-left: 1px solid;
                                    border-bottom: 1px solid; text-align: center;width: 8%; " >{{ pointageligne.DAY
                }}</td>
            <td style="border-right: 1px solid; border-left: 1px solid;
                                    border-bottom: 1px solid; text-align: center;width: 8%; " >{{ pointageligne.HEURED
                }} {{ pointageligne.HEUREFIN }}</td>
            <td style="border-right: 1px solid; border-left: 1px solid;
                                    border-bottom: 1px solid; text-align: center;width: 8%; " >{{ pointageligne
                .HEURE_TRA }}</td>
            <td style="border-right: 1px solid; border-left: 1px solid;
                                    border-bottom: 1px solid; text-align: center;width: 8%; " >{{ pointageligne.FERME
                }}</td>
            <td style="border-right: 1px solid; border-left: 1px solid;
                                    border-bottom: 1px solid; text-align: center;width: 8%; " >{{ pointageligne.OP
                }}</td>
            <td style="border-right: 1px solid; border-left: 1px solid;
                                    border-bottom: 1px solid; text-align: center;width: 8%; " >{{ pointageligne.CULTURE
                }}</td>
            <td style="border-right: 1px solid; border-left: 1px solid;
                                    border-bottom: 1px solid; text-align: center;width: 8%; " >{{ pointageligne.gESTEID
                }}</td>
        </tr>

        {% endif %}
        {% endfor %}
        </tbody>
    </table>

    <p><b>Mercredi</b></p>
    <table style="border: 1px solid; border-collapse: collapse; width: 100%" >
        <thead>
        <tr>
            <th style="border: 1px solid; width: 11%; height: 5%; text-align: center">Matricule</th>
            <th style="border: 1px solid; width: 11%; height: 5%; text-align: center">Nom / Prénom</th>
            <th style="border: 1px solid; width: 11%; height: 5%; text-align: center">Jour</th>
            <th style="border: 1px solid; width: 11%; height: 5%; text-align: center">Horaire</th>
            <th style="border: 1px solid; width: 11%; height: 5%; text-align: center">Heure travailllées</th>
            <th style="border: 1px solid; width: 11%; height: 5%; text-align: center">Lieu</th>
            <th style="border: 1px solid; width: 11%; height: 5%; text-align: center">OP</th>
            <th style="border: 1px solid; width: 12%; height: 5%; text-align: center">Culture</th>
            <th style="border: 1px solid; width: 11%; height: 5%; text-align: center">Gestes</th>
        </tr>
        </thead>
        <tbody>
        {% for pointageligne in pointageslignes %}
            {% if pointageligne.DAY  == 'mercredi' %}
                <tr>
                    <td style="border-right: 1px solid; border-left: 1px solid;
                                    border-bottom: 1px solid; text-align: center;width: 8%; " >{{ pointageligne.mATRICULE }}</td>
                    <td style="border-right: 1px solid; border-left: 1px solid;
                                    border-bottom: 1px solid; text-align: center;width: 8%; " >{{ pointageligne
                        .pRENOM }} {{ pointageligne.nOM }}</td>
                    <td style="border-right: 1px solid; border-left: 1px solid;
                                    border-bottom: 1px solid; text-align: center;width: 8%; " >{{ pointageligne.DAY
                        }}</td>
                    <td style="border-right: 1px solid; border-left: 1px solid;
                                    border-bottom: 1px solid; text-align: center;width: 8%; " >{{ pointageligne.HEURED
                        }} {{ pointageligne.HEUREFIN }}</td>
                    <td style="border-right: 1px solid; border-left: 1px solid;
                                    border-bottom: 1px solid; text-align: center;width: 8%; " >{{ pointageligne
                        .HEURE_TRA }}</td>
                    <td style="border-right: 1px solid; border-left: 1px solid;
                                    border-bottom: 1px solid; text-align: center;width: 8%; " >{{ pointageligne.FERME
                        }}</td>
                    <td style="border-right: 1px solid; border-left: 1px solid;
                                    border-bottom: 1px solid; text-align: center;width: 8%; " >{{ pointageligne.OP
                        }}</td>
                    <td style="border-right: 1px solid; border-left: 1px solid;
                                    border-bottom: 1px solid; text-align: center;width: 8%; " >{{ pointageligne.CULTURE
                        }}</td>
                    <td style="border-right: 1px solid; border-left: 1px solid;
                                    border-bottom: 1px solid; text-align: center;width: 8%; " >{{ pointageligne.gESTEID
                        }}</td>
                </tr>

            {% endif %}
        {% endfor %}
        </tbody>
    </table>

    <p><b>Jeudi</b></p>
    <table style="border: 1px solid; border-collapse: collapse; width: 100%" >
        <thead>
        <tr>
            <th style="border: 1px solid; width: 11%; height: 5%; text-align: center">Matricule</th>
            <th style="border: 1px solid; width: 11%; height: 5%; text-align: center">Nom / Prénom</th>
            <th style="border: 1px solid; width: 11%; height: 5%; text-align: center">Jour</th>
            <th style="border: 1px solid; width: 11%; height: 5%; text-align: center">Horaire</th>
            <th style="border: 1px solid; width: 11%; height: 5%; text-align: center">Heure travailllées</th>
            <th style="border: 1px solid; width: 11%; height: 5%; text-align: center">Lieu</th>
            <th style="border: 1px solid; width: 11%; height: 5%; text-align: center">OP</th>
            <th style="border: 1px solid; width: 12%; height: 5%; text-align: center">Culture</th>
            <th style="border: 1px solid; width: 11%; height: 5%; text-align: center">Gestes</th>
        </tr>
        </thead>
        <tbody>
        {% for pointageligne in pointageslignes %}
            {% if pointageligne.DAY  == 'jeudi' %}
                <tr>
                    <td style="border-right: 1px solid; border-left: 1px solid;
                                    border-bottom: 1px solid; text-align: center;width: 8%; " >{{ pointageligne.mATRICULE }}</td>
                    <td style="border-right: 1px solid; border-left: 1px solid;
                                    border-bottom: 1px solid; text-align: center;width: 8%; " >{{ pointageligne
                        .pRENOM }} {{ pointageligne.nOM }}</td>
                    <td style="border-right: 1px solid; border-left: 1px solid;
                                    border-bottom: 1px solid; text-align: center;width: 8%; " >{{ pointageligne.DAY
                        }}</td>
                    <td style="border-right: 1px solid; border-left: 1px solid;
                                    border-bottom: 1px solid; text-align: center;width: 8%; " >{{ pointageligne.HEURED
                        }} {{ pointageligne.HEUREFIN }}</td>
                    <td style="border-right: 1px solid; border-left: 1px solid;
                                    border-bottom: 1px solid; text-align: center;width: 8%; " >{{ pointageligne
                        .HEURE_TRA }}</td>
                    <td style="border-right: 1px solid; border-left: 1px solid;
                                    border-bottom: 1px solid; text-align: center;width: 8%; " >{{ pointageligne.FERME
                        }}</td>
                    <td style="border-right: 1px solid; border-left: 1px solid;
                                    border-bottom: 1px solid; text-align: center;width: 8%; " >{{ pointageligne.OP
                        }}</td>
                    <td style="border-right: 1px solid; border-left: 1px solid;
                                    border-bottom: 1px solid; text-align: center;width: 8%; " >{{ pointageligne.CULTURE
                        }}</td>
                    <td style="border-right: 1px solid; border-left: 1px solid;
                                    border-bottom: 1px solid; text-align: center;width: 8%; " >{{ pointageligne.gESTEID
                        }}</td>
                </tr>

            {% endif %}
        {% endfor %}
        </tbody>
    </table>

    <p><b>Vendredi</b></p>
    <table style="border: 1px solid; border-collapse: collapse; width: 100%" >
        <thead>
        <tr>
            <th style="border: 1px solid; width: 11%; height: 5%; text-align: center">Matricule</th>
            <th style="border: 1px solid; width: 11%; height: 5%; text-align: center">Nom / Prénom</th>
            <th style="border: 1px solid; width: 11%; height: 5%; text-align: center">Jour</th>
            <th style="border: 1px solid; width: 11%; height: 5%; text-align: center">Horaire</th>
            <th style="border: 1px solid; width: 11%; height: 5%; text-align: center">Heure travailllées</th>
            <th style="border: 1px solid; width: 11%; height: 5%; text-align: center">Lieu</th>
            <th style="border: 1px solid; width: 11%; height: 5%; text-align: center">OP</th>
            <th style="border: 1px solid; width: 12%; height: 5%; text-align: center">Culture</th>
            <th style="border: 1px solid; width: 11%; height: 5%; text-align: center">Gestes</th>
        </tr>
        </thead>
        <tbody>
        {% for pointageligne in pointageslignes %}
            {% if pointageligne.DAY  == 'vendredi' %}
                <tr>
                    <td style="border-right: 1px solid; border-left: 1px solid;
                                    border-bottom: 1px solid; text-align: center;width: 8%; " >{{ pointageligne.mATRICULE }}</td>
                    <td style="border-right: 1px solid; border-left: 1px solid;
                                    border-bottom: 1px solid; text-align: center;width: 8%; " >{{ pointageligne
                        .pRENOM }} {{ pointageligne.nOM }}</td>
                    <td style="border-right: 1px solid; border-left: 1px solid;
                                    border-bottom: 1px solid; text-align: center;width: 8%; " >{{ pointageligne.DAY
                        }}</td>
                    <td style="border-right: 1px solid; border-left: 1px solid;
                                    border-bottom: 1px solid; text-align: center;width: 8%; " >{{ pointageligne.HEURED
                        }} {{ pointageligne.HEUREFIN }}</td>
                    <td style="border-right: 1px solid; border-left: 1px solid;
                                    border-bottom: 1px solid; text-align: center;width: 8%; " >{{ pointageligne
                        .HEURE_TRA }}</td>
                    <td style="border-right: 1px solid; border-left: 1px solid;
                                    border-bottom: 1px solid; text-align: center;width: 8%; " >{{ pointageligne.FERME
                        }}</td>
                    <td style="border-right: 1px solid; border-left: 1px solid;
                                    border-bottom: 1px solid; text-align: center;width: 8%; " >{{ pointageligne.OP
                        }}</td>
                    <td style="border-right: 1px solid; border-left: 1px solid;
                                    border-bottom: 1px solid; text-align: center;width: 8%; " >{{ pointageligne.CULTURE
                        }}</td>
                    <td style="border-right: 1px solid; border-left: 1px solid;
                                    border-bottom: 1px solid; text-align: center;width: 8%; " >{{ pointageligne.gESTEID
                        }}</td>
                </tr>

            {% endif %}
        {% endfor %}
        </tbody>
    </table>

    <p><b>Samedi</b></p>
    <table style="border: 1px solid; border-collapse: collapse; width: 100%" >
        <thead>
        <tr>
            <th style="border: 1px solid; width: 11%; height: 5%; text-align: center">Matricule</th>
            <th style="border: 1px solid; width: 11%; height: 5%; text-align: center">Nom / Prénom</th>
            <th style="border: 1px solid; width: 11%; height: 5%; text-align: center">Jour</th>
            <th style="border: 1px solid; width: 11%; height: 5%; text-align: center">Horaire</th>
            <th style="border: 1px solid; width: 11%; height: 5%; text-align: center">Heure travailllées</th>
            <th style="border: 1px solid; width: 11%; height: 5%; text-align: center">Lieu</th>
            <th style="border: 1px solid; width: 11%; height: 5%; text-align: center">OP</th>
            <th style="border: 1px solid; width: 12%; height: 5%; text-align: center">Culture</th>
            <th style="border: 1px solid; width: 11%; height: 5%; text-align: center">Gestes</th>
        </tr>
        </thead>
        <tbody>
        {% for pointageligne in pointageslignes %}
            {% if pointageligne.DAY  == 'samedi' %}
                <tr>
                    <td style="border-right: 1px solid; border-left: 1px solid;
                                    border-bottom: 1px solid; text-align: center;width: 8%; " >{{ pointageligne.mATRICULE }}</td>
                    <td style="border-right: 1px solid; border-left: 1px solid;
                                    border-bottom: 1px solid; text-align: center;width: 8%; " >{{ pointageligne
                        .pRENOM }} {{ pointageligne.nOM }}</td>
                    <td style="border-right: 1px solid; border-left: 1px solid;
                                    border-bottom: 1px solid; text-align: center;width: 8%; " >{{ pointageligne.DAY
                        }}</td>
                    <td style="border-right: 1px solid; border-left: 1px solid;
                                    border-bottom: 1px solid; text-align: center;width: 8%; " >{{ pointageligne.HEURED
                        }} {{ pointageligne.HEUREFIN }}</td>
                    <td style="border-right: 1px solid; border-left: 1px solid;
                                    border-bottom: 1px solid; text-align: center;width: 8%; " >{{ pointageligne
                        .HEURE_TRA }}</td>
                    <td style="border-right: 1px solid; border-left: 1px solid;
                                    border-bottom: 1px solid; text-align: center;width: 8%; " >{{ pointageligne.FERME
                        }}</td>
                    <td style="border-right: 1px solid; border-left: 1px solid;
                                    border-bottom: 1px solid; text-align: center;width: 8%; " >{{ pointageligne.OP
                        }}</td>
                    <td style="border-right: 1px solid; border-left: 1px solid;
                                    border-bottom: 1px solid; text-align: center;width: 8%; " >{{ pointageligne.CULTURE
                        }}</td>
                    <td style="border-right: 1px solid; border-left: 1px solid;
                                    border-bottom: 1px solid; text-align: center;width: 8%; " >{{ pointageligne.gESTEID
                        }}</td>
                </tr>

            {% endif %}
        {% endfor %}
        </tbody>
    </table>

    <p><b>Dimanche</b></p>
    <table style="border: 1px solid; border-collapse: collapse; width: 100%" >
        <thead>
        <tr>
            <th style="border: 1px solid; width: 11%; height: 5%; text-align: center">Matricule</th>
            <th style="border: 1px solid; width: 11%; height: 5%; text-align: center">Nom / Prénom</th>
            <th style="border: 1px solid; width: 11%; height: 5%; text-align: center">Jour</th>
            <th style="border: 1px solid; width: 11%; height: 5%; text-align: center">Horaire</th>
            <th style="border: 1px solid; width: 11%; height: 5%; text-align: center">Heure travailllées</th>
            <th style="border: 1px solid; width: 11%; height: 5%; text-align: center">Lieu</th>
            <th style="border: 1px solid; width: 11%; height: 5%; text-align: center">OP</th>
            <th style="border: 1px solid; width: 12%; height: 5%; text-align: center">Culture</th>
            <th style="border: 1px solid; width: 11%; height: 5%; text-align: center">Gestes</th>
        </tr>
        </thead>
        <tbody>
        {% for pointageligne in pointageslignes %}
            {% if pointageligne.DAY  == 'dimanche' %}
                <tr>
                    <td style="border-right: 1px solid; border-left: 1px solid;
                                    border-bottom: 1px solid; text-align: center;width: 8%; " >{{ pointageligne.mATRICULE }}</td>
                    <td style="border-right: 1px solid; border-left: 1px solid;
                                    border-bottom: 1px solid; text-align: center;width: 8%; " >{{ pointageligne
                        .pRENOM }} {{ pointageligne.nOM }}</td>
                    <td style="border-right: 1px solid; border-left: 1px solid;
                                    border-bottom: 1px solid; text-align: center;width: 8%; " >{{ pointageligne.DAY
                        }}</td>
                    <td style="border-right: 1px solid; border-left: 1px solid;
                                    border-bottom: 1px solid; text-align: center;width: 8%; " >{{ pointageligne.HEURED
                        }} {{ pointageligne.HEUREFIN }}</td>
                    <td style="border-right: 1px solid; border-left: 1px solid;
                                    border-bottom: 1px solid; text-align: center;width: 8%; " >{{ pointageligne
                        .HEURE_TRA }}</td>
                    <td style="border-right: 1px solid; border-left: 1px solid;
                                    border-bottom: 1px solid; text-align: center;width: 8%; " >{{ pointageligne.FERME
                        }}</td>
                    <td style="border-right: 1px solid; border-left: 1px solid;
                                    border-bottom: 1px solid; text-align: center;width: 8%; " >{{ pointageligne.OP
                        }}</td>
                    <td style="border-right: 1px solid; border-left: 1px solid;
                                    border-bottom: 1px solid; text-align: center;width: 8%; " >{{ pointageligne.CULTURE
                        }}</td>
                    <td style="border-right: 1px solid; border-left: 1px solid;
                                    border-bottom: 1px solid; text-align: center;width: 8%; " >{{ pointageligne.gESTEID
                        }}</td>
                </tr>

            {% endif %}
        {% endfor %}
        </tbody>
    </table>
</page>

