{% extends 'PointageBundle:FichePointage:layout.html.twig' %}
{% block content %}
<br>
    <div style="padding-left: 5%; padding-right: 5%">
        <div class="col-lg-12 col-sm-12 col-xs-12">
            <div class="row" >
                <div class="widget flat radius-bordered">
                    <div class="widget-header bg-azure">
                        <span class="widget-caption">Liste des pointage</span>
                        <div class="widget-buttons buttons-bordered">
                            <a href="#" data-toggle="maximize">
                                <i class="fa fa-expand"></i>
                            </a>
                            <a href="#" data-toggle="collapse">
                                <i class="fa fa-minus"></i>
                            </a>
                            <a href="#" data-toggle="dispose">
                                <i class="fa fa-times"></i>
                            </a>
                        </div>
                    </div>
                    <div class="widget-body">
                        <div style="padding-left: 5%; padding-right: 5%">
                            {% if app.session.started %}
                                {% for flashMessage in app.session.flashbag.get('notice') %}
                                    <div class="alert alert-{{ flashMessage.alert }} alert-dismissible" role="alert">
                                        <button type="button" class="close" data-dismiss="alert">
                                            <span aria-hidden="true">&times;</span><span class="sr-only">Close</span>
                                        </button>
                                        <strong>{{ flashMessage.title }}</strong> {{ flashMessage.message }}
                                    </div>
                                {% endfor %}
                            {% endif %}
                            <br>
                            <div class="table-responsive">
                                <table class="table table-hover table-bordered" id="tcontractuel">
                                <thead class="bordered-palegreen" >
                                <tr role="row">
                                    <th>Matricule</th>
                                    <th>Nom / Prenom</th>
                                    <th>Semaine</th>
                                    <th>Jour</th>
                                    <th>Date</th>
                                    <th>Horaire</th>
                                    <th>Culture</th>
                                    <th>Geste</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for pointage in pointages %}
                                    <tr>
                                        <td>{{ pointage.mATRICULE }}</td>
                                        <td>{{ pointage.nOM }} {{ pointage.pRENOM }}</td>
                                        <td>{{ pointage.SEMAINE }}</td>
                                        <td>{{ pointage.JOUR }}</td>
                                        <td>{{ pointage.dATEPOINTAGE }}</td>
                                        <td>{{ pointage.hORAIRE }}</td>
                                        <td>{{ pointage.cULTURE }}</td>
                                        <td>{{ pointage.gESTE }}</td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}