{% extends 'PointageBundle:FichePointage:layout.html.twig' %}
{% block content %}
    <br>
    <div style="padding-left: 5%; padding-right: 5%">
        <div class="col-lg-12 col-sm-12 col-xs-12">
            <div class="row" >
                <div class="widget flat radius-bordered">
                    <div class="widget-header bg-warning">
                        <span class="widget-caption">Modification de la fiche de pointage</span>
                        <div class="widget-buttons buttons-bordered">
                            <a href="#" data-toggle="maximize">
                                <i class="fa fa-expand"></i>
                            </a>
                            <a href="#" data-toggle="collapse">
                                <i class="fa fa-minus"></i>
                            </a>
                            <a href="#" data-toggle="dispose">
                                <i class="fa fa-times"></i>
                            </a>
                        </div>
                    </div>
                    <div class="widget-body">
                        <div style="padding-left: 15%; padding-right: 15%">
                            <br>
                            <div class="row">
                                <div class="form-horizontal">
                                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                        {{ form_start(edit_form, {'attr': {'class': 'form-horizontal'}}) }}

                                        <div class="form-group">
                                            <label for="" class="col-sm-4 control-label">DATE DE CREATION</label>
                                            <div class="col-sm-6">
                                                <input type="text" id="datecreation" class="form-control" disabled/>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="" class="col-sm-4 control-label">DATE DEBUT DE SEMAINE</label>
                                            <div class="col-sm-6">
                                               <input type="text" class="form-control" value="{{ fichepointage
                                               .dATEDEBUT|date('d-m-Y') }}" disabled/>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="" class="col-sm-4 control-label">DATE FIN DE SEMAINE</label>
                                            <div class="col-sm-6">
                                                <input type="text" class="form-control" value="{{ fichepointage
                                                .dATEFIN|date('d-m-Y') }}" disabled/>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="" class="col-sm-4 control-label">DESCRIPTION</label>
                                            <div class="col-sm-6">
                                                {{ form_widget(edit_form.dESCRIPTION, {'attr': {'class':
                                                    'form-control'}}) }}
                                            </div>
                                        </div>
                                        <div align="right">
                                            <div style="padding-right: 17%">
                                                <input type="submit" class="btn btn-warning" value="Valider"
                                                       onClick="this.disabled=true;this.form.submit();this.value='Patientez...'"/>
                                            </div>
                                        </div>
                                        {{ form_rest(edit_form) }}
                                        {{ form_end(edit_form) }}
                                    </div>
                                </div>
                            </div>
                        </div>
                        <br>
                        <div style="padding-left: 5%; padding-right: 5%">
                            <br>
                            {% if app.session.started %}
                                {% for flashMessage in app.session.flashbag.get('notice') %}
                                    <div class="alert alert-{{ flashMessage.alert }} alert-dismissible" role="alert">
                                        <button type="button" class="close" data-dismiss="alert">
                                            <span aria-hidden="true">&times;</span><span class="sr-only">Close</span>
                                        </button>
                                        <strong>{{ flashMessage.title }}</strong> {{ flashMessage.message }}
                                    </div>
                                {% endfor %}
                            {% endif %}
                            <table class="table table-hover table-bordered" id="tcontractuel">
                                <thead class="bordered-palegreen" >
                                <tr role="row">
                                    <th></th>
                                    <th>N° fiche</th>
                                    <th>Date création</th>
                                    <th>Date début</th>
                                    <th>Date fin</th>
                                    <th>Description</th>
                                    <th>Action</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for fichespointage in fichespointages %}
                                    <tr>
                                        <td><a href="{{ path('pointageligne_create', {'id':fichespointage.id}) }}"
                                               style="color:
                                        #00C853">Detail</a></td>
                                        <td>{{ fichespointage.id }}</td>
                                        <td>{{ fichespointage.dATECREATION|date('d-m-Y') }}</td>
                                        <td>{{ fichespointage.dATEDEBUT|date('d-m-Y') }}</td>
                                        <td>{{ fichespointage.dATEFIN|date('d-m-Y') }}</td>
                                        <td>{{ fichespointage.dESCRIPTION }}</td>
                                        <td><a class="btn btn-warning" href="{{ path('fichepointage_update',
                                            {'id':fichespointage.id}) }}"><i class="fa fa-pencil"></i>Modifier</a>
                                            <a class="btn btn-danger" href="{{ path('fichepointage_delete',
                                            {'id':fichespointage.id}) }}" onclick="return confirm('Etes vous sûr de ' +
                                             'vouloir supprimer cette fiche')"><i class="fa fa-trash"></i>Modifier</a></td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}