{% extends 'TechniqueBundle:Materiel:layout.html.twig' %}
{% block content %}
    <br>
    <div class="col-lg-12 col-sm-12 col-xs-12" style="padding-left: 5%; padding-right: 5%">
        <div class="widget flat radius-bordered">
            <div class="widget-header bg-azure">
                <span class="widget-caption">Nouveau le materiel</span>
                <div class="widget-buttons buttons-bordered">
                    <button class="btn btn-azure btn-sm" onclick="document.location.href='{{ path('ajoutermateriel') }}'">Nouveau materiel</button>
                </div>
            </div>
            <div class="widget-body">
                <form method="post">
                    <div class="row">
                        <div class="form-horizontal">
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">

                                <div class="form-title">
                                    Info. materiel
                                </div>
                                {{ form_row(form._token) }}
                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                                        <div class="form-group">
                                            <label for="" class="col-sm-6 control-label">N&deg; PARC <sup style="color: red">*</sup></label>
                                            <div class="col-sm-6">
                                                {{ form_widget(form.cODE, {'attr': {'class': 'form-control'}}) }}
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="" class="col-sm-6 control-label">LIBELLE <sup style="color: red">*</sup></label>
                                            <div class="col-sm-6">
                                                {{ form_widget(form.lIBELLE, {'attr': {'class': 'form-control'}}) }}
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="" class="col-sm-6 control-label">MODELE <sup style="color: red">*</sup></label>
                                            <div class="col-sm-6">
                                                {{ form_widget(form.mODELEID, {'attr': {'class': 'form-control'}}) }}
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="" class="col-sm-6 control-label">N&deg; SERIE</label>
                                            <div class="col-sm-6">
                                                {{ form_widget(form.nOSERIE, {'attr': {'class': 'form-control'}}) }}
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                                        <div class="form-group">
                                            <label for="" class="col-sm-6 control-label">CAPACITE RESERV. (L) <sup style="color: red">*</sup></label>
                                            <div class="col-sm-6">
                                                {{ form_widget(form.cAPACITERESERVOIR, {'attr': {'class': 'form-control'}}) }}
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="" class="col-sm-6 control-label">CARBURANT <sup style="color: red">*</sup></label>
                                            <div class="col-sm-6">
                                                {{ form_widget(form.cARBURANT, {'attr': {'class': 'form-control'}}) }}
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="" class="col-sm-6 control-label">ARTICLE STOCKE <sup style="color: red">*</sup></label>
                                            <div class="col-sm-6">
                                                {{ form_widget(form.aRTICLEID, {'attr': {'class': 'form-control'}}) }}
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="" class="col-sm-6 control-label">IMMATRICULATION</label>
                                            <div class="col-sm-6">
                                                {{ form_widget(form.iMMATRICULATION, {'attr': {'class': 'form-control'}}) }}
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                                        <div class="form-group">
                                            <label for="" class="col-sm-6 control-label">GENRE <sup style="color:
                                            red">*</sup></label>
                                            <div class="col-sm-6">
                                                {{ form_widget(form.sOUSFAMILLEID, {'attr': {'class': 'form-control'}}) }}
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="" class="col-sm-6 control-label">TRACTION / ATELAGE</label>
                                            <div class="col-sm-6">
                                                {{ form_widget(form.tRACTION, {'attr': {'class': 'form-control'}}) }}
                                            </div>
                                        </div>
                                        <div class="form-group" id="">
                                            <label for="" class="col-sm-6 control-label">DATE MISE EN SERVICE </label>
                                            <div class="col-sm-6">
                                                {{ form_widget(form.dATEMISESERVICE, {'attr': {'class': 'form-control date-picker'}}) }}
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="col-lg-offset-4 col-lg-8">
                                                <button type="button" class="btn btn-danger btn-sm" id="btnaddinfo" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
                                                    Ajouter plus d'info
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="collapse" id="collapseExample">
                                    <div class="card card-block">
                                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                                                <div class="card card-block">
                                                    <div class="form-group">
                                                        <label for="" class="col-sm-6 control-label">CODE IMMO.</label>
                                                        <div class="col-sm-6">
                                                            {{ form_widget(form.cODEIMMO, {'attr': {'class': 'form-control'}}) }}
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label for="" class="col-sm-6 control-label">AFFECTATION</label>
                                                    <div class="col-sm-6">
                                                        {{ form_widget(form.sERVICEID, {'attr': {'class': 'form-control'}}) }}
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label for="" class="col-sm-6 control-label">SITE</label>
                                                    <div class="col-sm-6">
                                                        {{ form_widget(form.sITEID, {'attr': {'class': 'form-control'}}) }}
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label for="" class="col-sm-6 control-label">ETAT</label>
                                                    <div class="col-sm-6">
                                                        {{ form_widget(form.eTAT, {'attr': {'class': 'form-control'}}) }}
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label for="" class="col-sm-6 control-label">CHAUFFEUR PAR DEFAUT</label>
                                                    <div class="col-sm-6">
                                                        {{ form_widget(form.cHAUFFEURID, {'attr': {'class': 'form-control'}}) }}
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                                                <div class="form-group">
                                                    <label for="" class="col-sm-6 control-label">UNITE CONS.</label>
                                                    <div class="col-sm-6">
                                                        {{ form_widget(form.uNITECONSO, {'attr': {'class': 'form-control'}}) }}
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label for="" class="col-sm-6 control-label">TOUR</label>
                                                    <div class="col-sm-6">
                                                        {{ form_widget(form.tOUR, {'attr': {'class': 'form-control'}}) }}
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label for="" class="col-sm-6 control-label">VOLUME</label>
                                                    <div class="col-sm-6">
                                                        {{ form_widget(form.vOLUME, {'attr': {'class': 'form-control'}}) }}
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label for="" class="col-sm-6 control-label">POIDS (PV)</label>
                                                    <div class="col-sm-6">
                                                        {{ form_widget(form.pOIDS, {'attr': {'class': 'form-control'}}) }}
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label for="" class="col-sm-6 control-label">CONS. MIN</label>
                                                    <div class="col-sm-6">
                                                        {{ form_widget(form.cONSMIN, {'attr': {'class': 'form-control'}}) }}
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label for="" class="col-sm-6 control-label">CONS. MAX</label>
                                                    <div class="col-sm-6">
                                                        {{ form_widget(form.cONSMAX, {'attr': {'class': 'form-control'}}) }}
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                                                <div class="form-group">
                                                    <label for="" class="col-sm-6 control-label">HA / JOUR</label>
                                                    <div class="col-sm-6">
                                                        {{ form_widget(form.dEBITCHANTIERHAJ, {'attr': {'class': 'form-control'}}) }}
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label for="" class="col-sm-6 control-label">HA / HEURE </label>
                                                    <div class="col-sm-6">
                                                        {{ form_widget(form.dEBITCHANTIERHHA, {'attr': {'class': 'form-control'}}) }}
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label for="" class="col-sm-6 control-label">CFA / HEURE</label>
                                                    <div class="col-sm-6">
                                                        {{ form_widget(form.cOUTHEURE, {'attr': {'class': 'form-control'}}) }}
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label for="" class="col-sm-6 control-label">CFA / HECTARE </label>
                                                    <div class="col-sm-6">
                                                        {{ form_widget(form.cOUTHECTARE, {'attr': {'class': 'form-control'}}) }}
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <div class="form-title">
                                    Utilisation du materiel
                                </div>
                                <div class="form-horizontal">
                                    {{ form_row(form1._token) }}
                                    <div class="form-group">
                                        <label for="inputEmail3" class="col-sm-2 control-label no-padding-right"></label>
                                        <div class="col-sm-4">
                                            {{ form_widget(form1.sGESTEID,  {'attr': {'class': 'form-control'}}) }}
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <br>
                        </div>
                    </div>
                    <div class="row">
                        <hr class="wide" />
                        <div align="right" style="padding-right: 5%">
                            <input type="submit" class="btn btn-azure" value="Valider" onClick="this.disabled=true;this.form.submit();this.value='Patientez...'"/>
                        </div>
                    </div>
                </form>

            </div>
        </div>
    </div>
{% endblock %}