<!DOCTYPE html>
<!--
BeyondAdmin - Responsive Admin Dashboard Template build with Twitter Bootstrap 3.3.6
Version: 1.6.0
Purchase: https://wrapbootstrap.com/theme/beyondadmin-adminapp-angularjs-mvc-WB06R48S4
-->

<html xmlns="http://www.w3.org/1999/xhtml">
<!-- Head -->
<head>
    <meta charset="utf-8"/>
    {% block stylesheets %}
        <style>
            table {
                width: 100%;
                border-collapse: collapse;
            }

            table, td, th {
                border: 1px solid black;
                padding: 5px;
            }

            th {
                text-align: left;
            }
        </style>

    {% endblock %}


</head>

<body>
{% block body %}
    <table class="table table-bordered table-hover " id="searchable2">
        <thead class="bordered-darkorange">
        <tr role="row">
            <th></th>
            <th>N&deg; parc</th>
            <th>N&deg; s&eacute;rie</th>
            <th>Lib&eacute;lle</th>
            <th>Date en service</th>
            <th>Sous famille</th>
            <th>Famille</th>
            <th>Modele</th>
            <th>Marque</th>
            <th>Compteur</th>
            <th>Date Invalide</th>
        </tr>
        </thead>
        <tbody>
        {% for rs in materiels %}
            <tr>
                <td><a href="{{ path('modifiermateriel',{'id': rs.materielid }) }}" style="color: #00C853">Detail</a></td>
                <td>{{ rs.cODE }}</td>
                <td>{{ rs.nOSERIE }}</td>
                <td>{{ rs.lIBELLE }}</td>
                {% if rs.dATEMISESERVICE == "" %}
                    <td></td>
                {% else %}
                    <td>{{ rs.dATEMISESERVICE|date('d-m-Y') }}</td>
                {% endif %}
                <td>{{ rs.SFAMILLE }}</td>
                <td>{{ rs.FAMILLE }}</td>
                <td>{{ rs.MODELE }}</td>
                <td>{{ rs.MARQUE }}</td>
                <td>{{ rs.compteur }}</td>
                {% if rs.dATEINVALIDE == null %}
                    <td></td>
                {% else %}
                    <td>{{ rs.dATEINVALIDE|date('d-m-Y') }}</td>
                {% endif %}

            </tr>
        {% endfor%}
        </tbody>
    </table>
{% endblock %}

</body>
<!--  /Body -->
</html>
