{% extends 'TechniqueBundle:Materiel:layout.html.twig' %}
{% block content %}
    <div class="row" style="padding-left: 2%; padding-right: 2%">
        <div class="col-lg-12 col-sm-12 col-xs-12">
            <div class="row" >
                <div class="widget flat radius-bordered">
                    <div class="widget-header bg-palegreen">
                        <span class="widget-caption">Liste des mat&eacute;riel</span>
                        <div class="widget-buttons buttons-bordered">
                            <form  action="{{ path('export') }}" target="_blank" method="post">
                                <button class="btn btn-darkorange btn-sm" >T&eacute;l&eacute;charger le parc</button>
                            </form>
                        </div>
                        <div class="widget-buttons buttons-bordered">
                            <button class="btn btn-azure btn-sm" onclick="document.location.href='{{ path('ajoutermateriel') }}'">Nouveau materiel</button>
                        </div>
                    </div>
                    <div class="widget-body">
                        <div style="padding-left: 2%; padding-right: 2%">
                            <div>
                                <button class="btn btn-yellow btn-sm" id="btnaddinfo" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
                                    Plus de filtre
                                </button>
                            </div>

                            <div id="collapseExample" class="collapse">
                                <br>
                                <br>
                                <div id="rcorners2">
                                    <form class="form-horizontal" method="post" action="{{ path('exportfiltre') }}" target="_blank">
                                        <div class="form-group">
                                            <label for="" class="col-sm-2 control-label">Cat&eacute;gorie</label>
                                            <div class="col-sm-10">
                                                <input type="text" id="categoriemateriel" name="categoriemateriel" style="width: 80%"/>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="" class="col-sm-2 control-label">Genre</label>
                                            <div class="col-sm-10">
                                                <input type="text" id="genremateriel" name="genremateriel" style="width: 80%"/>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="col-lg-offset-8 col-lg-4">
                                                <button class="btn btn-darkorange" >T&eacute;l&eacute;charger</button>
                                            </div>
                                        </div>

                                    </form>
                                </div>
                            </div>
                            <br>
                            <br>

                            <div id="txtHint">
                            <table class="table table-bordered table-hover " id="tablemmateriel">
                                <thead class="bordered-darkorange">
                                <tr role="row">
                                    <th></th>
                                    <th style="width: 2%">N&deg; parc</th>
                                    <th style="width: 2%">N&deg; s&eacute;rie</th>
                                    <th>Lib&eacute;lle</th>
                                    <th  style="width: 10%">Date mise en service</th>
                                    <th style="width: 2%">Genre</th>
                                    <th>Cat&eacute;gorie</th>
                                    <th>Mod&egrave;le</th>
                                    <th>Marque</th>
                                    <th>Etat</th>
                                    <th>Date Invalide</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for rs in materiels %}
                                    <tr>
                                        <td><a href="{{ path('modifiermateriel',{'id': rs.materielid }) }}" style="color: #00C853">Detail</a></td>
                                        <td>{{ rs.cODE }}</td>
                                        <td>{{ rs.nOSERIE }}</td>
                                        <td>{{ rs.lIBELLE }}</td>
                                        {% if rs.dATEMISESERVICE == "" %}
                                            <td></td>
                                        {% else %}
                                            <td>{{ rs.dATEMISESERVICE|date('d-m-Y') }}</td>
                                        {% endif %}
                                        <td>{{ rs.SFAMILLE }}</td>
                                        <td>{{ rs.FAMILLE }}</td>
                                        <td>{{ rs.MODELE }}</td>
                                        <td>{{ rs.MARQUE }}</td>
                                        <td>{{ rs.eTAT }}</td>
                                        {% if rs.dATEINVALIDE == null %}
                                            <td></td>
                                        {% else %}
                                            <td>{{ rs.dATEINVALIDE|date('d-m-Y') }}</td>
                                        {% endif %}

                                    </tr>
                                {% endfor%}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}