{% extends 'TechniqueBundle:Materiel:layout.html.twig' %}
{% block content %}
    <br>
    <div class="row">
        <div class="col-lg-12 col-sm-12 col-xs-12">
            <div class="tabbable">
                <ul class="nav nav-tabs nav-justified" id="myTab5">
                    <li class="active">
                        <a data-toggle="tab" href="#tabmateriel">
                            Matériel
                        </a>
                    </li>
                    <li class="tab-green">
                        <a data-toggle="tab" href="#tabmaintenance">
                            Maintenances
                        </a>
                    </li>
                </ul>
                <div class="tab-content" style="background-color: rgba(231, 231, 231, 0.38)">
                    <div id="tabmateriel" class="tab-pane in active">
                        <div class="row">
                            <div class="col-lg-12 col-sm-12 col-xs-12" style="padding-left: 5%; padding-right: 5%">
                                <div class="widget flat radius-bordered">
                                    <div class="widget-header bg-warning">
                                        <span class="widget-caption">Modifier le materiel</span>
                                        {% for rs2 in materielcompteur  %}
                                            {% if rs2.compteur != "" %}
                                                <div class="widget-buttons buttons-bordered">
                            <span style="font-size: 18px; color: white">
                                Dernier compteur {{ rs2.compteur }}
                            </span>
                                                </div>
                                            {% endif %}
                                        {% endfor %}
                                        <div class="widget-buttons buttons-bordered">
                                            <button class="btn btn-azure btn-sm" onclick="document.location.href='{{ path('ajoutermateriel') }}'">Nouveau materiel</button>
                                        </div>

                                    </div>
                                    <div class="widget-body">
                                        <form method="post">
                                            <div class="row">
                                                <div class="form-horizontal">
                                                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                                        {% for flashMessage in app.session.flashbag.get('notice') %}
                                                            <p style="color: red"> <i class="fa fa-exclamation-triangle" ></i>  {{ flashMessage
                                                                }}</p>
                                                        {% endfor %}
                                                        <div class="form-title">
                                                            Info. materiel
                                                        </div>
                                                        {{ form_row(edit_form._token) }}
                                                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                                            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                                                                <div class="form-group">
                                                                    <label for="" class="col-sm-6 control-label">N&deg; PARC <sup style="color: red">*</sup></label>
                                                                    <div class="col-sm-6">
                                                                        {{ form_widget(edit_form.cODE, {'attr': {'class': 'form-control'}}) }}
                                                                    </div>
                                                                </div>
                                                                <div class="form-group">
                                                                    <label for="" class="col-sm-6 control-label">LIBELLE <sup style="color: red">*</sup></label>
                                                                    <div class="col-sm-6">
                                                                        {{ form_widget(edit_form.lIBELLE, {'attr': {'class': 'form-control'}}) }}
                                                                    </div>
                                                                </div>
                                                                <div class="form-group">
                                                                    <label for="" class="col-sm-6 control-label">MODELE <sup style="color: red">*</sup></label>
                                                                    <div class="col-sm-6">
                                                                        {{ form_widget(edit_form.mODELEID, {'attr': {'class': 'form-control'}}) }}
                                                                    </div>
                                                                </div>
                                                                <div class="form-group">
                                                                    <label for="" class="col-sm-6 control-label">N&deg; SERIE</label>
                                                                    <div class="col-sm-6">
                                                                        {{ form_widget(edit_form.nOSERIE, {'attr': {'class': 'form-control'}}) }}
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                                                                <div class="form-group">
                                                                    <label for="" class="col-sm-6 control-label">CAPACITE RESERV. (L) <sup style="color: red">*</sup></label>
                                                                    <div class="col-sm-6">
                                                                        {{ form_widget(edit_form.cAPACITERESERVOIR, {'attr': {'class': 'form-control'}}) }}
                                                                    </div>
                                                                </div>
                                                                <div class="form-group">
                                                                    <label for="" class="col-sm-6 control-label">CARBURANT <sup style="color: red">*</sup></label>
                                                                    <div class="col-sm-6">
                                                                        {{ form_widget(edit_form.cARBURANT, {'attr': {'class': 'form-control'}}) }}
                                                                    </div>
                                                                </div>
                                                                <div class="form-group">
                                                                    <label for="" class="col-sm-6 control-label">ARTICLE STOCKE <sup style="color: red">*</sup></label>
                                                                    <div class="col-sm-6">
                                                                        {{ form_widget(edit_form.aRTICLEID, {'attr': {'class': 'form-control'}}) }}
                                                                    </div>
                                                                </div>
                                                                <div class="form-group">
                                                                    <label for="" class="col-sm-6 control-label">IMMATRICULATION</label>
                                                                    <div class="col-sm-6">
                                                                        {{ form_widget(edit_form.iMMATRICULATION, {'attr': {'class': 'form-control'}}) }}
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                                                                <div class="form-group">
                                                                    <label for="" class="col-sm-6 control-label">GENRE <sup style="color:
                                                red">*</sup></label>
                                                                    <div class="col-sm-6">
                                                                        {{ form_widget(edit_form.sOUSFAMILLEID, {'attr': {'class': 'form-control'}}) }}
                                                                    </div>
                                                                </div>
                                                                <div class="form-group">
                                                                    <label for="" class="col-sm-6 control-label">TRACTION / ATELAGE</label>
                                                                    <div class="col-sm-6">
                                                                        {{ form_widget(edit_form.tRACTION, {'attr': {'class': 'form-control'}}) }}
                                                                    </div>
                                                                </div>
                                                                <div class="form-group" id="">
                                                                    <label for="" class="col-sm-6 control-label">DATE MISE EN SERVICE </label>
                                                                    <div class="col-sm-6">
                                                                        {{ form_widget(edit_form.dATEMISESERVICE, {'attr': {'class': 'form-control date-picker'}}) }}
                                                                    </div>
                                                                </div>
                                                                <div class="form-group">
                                                                    <div class="col-lg-offset-4 col-lg-8">
                                                                        <button type="button" class="btn btn-danger btn-sm" id="btnaddinfo" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
                                                                            Ajouter plus d'info
                                                                        </button>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="collapse" id="collapseExample">
                                                            <div class="card card-block">
                                                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                                                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                                                                        <div class="card card-block">
                                                                            <div class="form-group">
                                                                                <label for="" class="col-sm-6 control-label">CODE IMMO.</label>
                                                                                <div class="col-sm-6">
                                                                                    {{ form_widget(edit_form.cODEIMMO, {'attr': {'class': 'form-control'}}) }}
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                        <div class="form-group">
                                                                            <label for="" class="col-sm-6 control-label">AFFECTATION</label>
                                                                            <div class="col-sm-6">
                                                                                {{ form_widget(edit_form.sERVICEID, {'attr': {'class': 'form-control'}}) }}
                                                                            </div>
                                                                        </div>
                                                                        <div class="form-group">
                                                                            <label for="" class="col-sm-6 control-label">SITE</label>
                                                                            <div class="col-sm-6">
                                                                                {{ form_widget(edit_form.sITEID, {'attr': {'class': 'form-control'}}) }}
                                                                            </div>
                                                                        </div>
                                                                        <div class="form-group">
                                                                            <label for="" class="col-sm-6 control-label">ETAT</label>
                                                                            <div class="col-sm-6">
                                                                                {{ form_widget(edit_form.eTAT, {'attr': {'class': 'form-control'}}) }}
                                                                            </div>
                                                                        </div>
                                                                        <div class="form-group">
                                                                            <label for="" class="col-sm-6 control-label">CHAUFFEUR PAR DEFAUT</label>
                                                                            <div class="col-sm-6">
                                                                                {{ form_widget(edit_form.cHAUFFEURID, {'attr': {'class': 'form-control'}}) }}
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                                                                        <div class="form-group">
                                                                            <label for="" class="col-sm-6 control-label">UNITE CONS.</label>
                                                                            <div class="col-sm-6">
                                                                                {{ form_widget(edit_form.uNITECONSO, {'attr': {'class': 'form-control'}}) }}
                                                                            </div>
                                                                        </div>
                                                                        <div class="form-group">
                                                                            <label for="" class="col-sm-6 control-label">TOUR</label>
                                                                            <div class="col-sm-6">
                                                                                {{ form_widget(edit_form.tOUR, {'attr': {'class': 'form-control'}}) }}
                                                                            </div>
                                                                        </div>
                                                                        <div class="form-group">
                                                                            <label for="" class="col-sm-6 control-label">VOLUME</label>
                                                                            <div class="col-sm-6">
                                                                                {{ form_widget(edit_form.vOLUME, {'attr': {'class': 'form-control'}}) }}
                                                                            </div>
                                                                        </div>
                                                                        <div class="form-group">
                                                                            <label for="" class="col-sm-6 control-label">POIDS (PV)</label>
                                                                            <div class="col-sm-6">
                                                                                {{ form_widget(edit_form.pOIDS, {'attr': {'class': 'form-control'}}) }}
                                                                            </div>
                                                                        </div>
                                                                        <div class="form-group">
                                                                            <label for="" class="col-sm-6 control-label">CONS. MIN</label>
                                                                            <div class="col-sm-6">
                                                                                {{ form_widget(edit_form.cONSMIN, {'attr': {'class': 'form-control'}}) }}
                                                                            </div>
                                                                        </div>
                                                                        <div class="form-group">
                                                                            <label for="" class="col-sm-6 control-label">CONS. MAX</label>
                                                                            <div class="col-sm-6">
                                                                                {{ form_widget(edit_form.cONSMAX, {'attr': {'class': 'form-control'}}) }}
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                                                                        <div class="form-group">
                                                                            <label for="" class="col-sm-6 control-label">HA / JOUR</label>
                                                                            <div class="col-sm-6">
                                                                                {{ form_widget(edit_form.dEBITCHANTIERHAJ, {'attr': {'class': 'form-control'}}) }}
                                                                            </div>
                                                                        </div>
                                                                        <div class="form-group">
                                                                            <label for="" class="col-sm-6 control-label">HA / HEURE </label>
                                                                            <div class="col-sm-6">
                                                                                {{ form_widget(edit_form.dEBITCHANTIERHHA, {'attr': {'class': 'form-control'}}) }}
                                                                            </div>
                                                                        </div>
                                                                        <div class="form-group">
                                                                            <label for="" class="col-sm-6 control-label">CFA / HEURE</label>
                                                                            <div class="col-sm-6">
                                                                                {{ form_widget(edit_form.cOUTHEURE, {'attr': {'class': 'form-control'}}) }}
                                                                            </div>
                                                                        </div>
                                                                        <div class="form-group">
                                                                            <label for="" class="col-sm-6 control-label">CFA / HECTARE </label>
                                                                            <div class="col-sm-6">
                                                                                {{ form_widget(edit_form.cOUTHECTARE, {'attr': {'class': 'form-control'}}) }}
                                                                            </div>
                                                                        </div>
                                                                        <div class="form-group" id="">
                                                                            <label for="" class="col-sm-6 control-label">DATE D'INVALIDITE </label>
                                                                            <div class="col-sm-6">
                                                                                {{ form_widget(edit_form.dATEINVALIDE, {'attr': {'class': 'form-control date-picker'}}) }}
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                                                        <div class="form-title">
                                                            Utilisation du materiel
                                                        </div>
                                                        <div class="form-horizontal">
                                                            {{ form_row(edit_form1._token) }}
                                                            <div class="form-group">
                                                                <label for="inputEmail3" class="col-sm-2 control-label no-padding-right"></label>
                                                                <div class="col-sm-6">
                                                                    {{ form_widget(edit_form1.sGESTEID,  {'attr': {'class': 'form-control'}}) }}
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                                                        <div class="form-title">
                                                            EPI
                                                        </div>
                                                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                                                            {% if epis|length != 0 %}
                                                                <table class="table table-bordered">
                                                                    <tbody>
                                                                    <tr>
                                                                        <td>
                                                                            {% for rs in epis %}
                                                                                <ul>
                                                                                    <li>{{ rs.LIBELLE }}</li>
                                                                                </ul>
                                                                            {% endfor %}
                                                                        </td>
                                                                    </tr>
                                                                    </tbody>
                                                                </table>
                                                            {% endif %}
                                                        </div>
                                                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                                                            <button class="btn btn-yellow" data-toggle="modal" data-target="#myModalHorizontal">Modifier les EPI
                                                            </button>
                                                        </div>
                                                    </div>
                                                    <br>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <hr class="wide" />
                                                <div align="right" style="padding-right: 5%">
                                                    <input type="submit" class="btn btn-warning" value="Modifier" onClick="this.disabled=true;this.form.submit();this.value='Patientez...'"/>
                                                    <a class="btn btn-danger" href="{{ path('supprimermateriel', {'id' : materiel.id}) }}"> Supprimer</a>
                                                </div>
                                            </div>
                                        </form>

                                    </div>
                                </div>
                            </div>

                            <div class="modal fade" id="myModalHorizontal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="false">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <!-- Modal Header -->
                                        <div class="modal-header">
                                            <button type="button" class="close"
                                                    data-dismiss="modal">
                                                <span aria-hidden="true">&times;</span>
                                                <span class="sr-only">Close</span>
                                            </button>
                                            <h4 class="modal-title" id="myModalLabel">
                                                Liste des EPI
                                            </h4>
                                        </div>

                                        <!-- Modal Body -->
                                        <div class="form-horizontal" id="form">

                                            <div class="modal-body">
                                                <table class="table table-bordered table-hover">
                                                    <thead>
                                                    <tr>
                                                        <th style="width: 10%"></th>
                                                        <th>EPI</th>
                                                    </tr>
                                                    </thead>
                                                    <tbody>
                                                    {% for rs in epilist %}
                                                        <tr>
                                                            <td>
                                                                {% set myepi = [] %}
                                                                {% for rs1 in  epis %}
                                                                    {% set myepi = myepi|merge([rs1.LIBELLE]) %}
                                                                {% endfor %}
                                                                {% if rs.lIBELLE  in myepi %}
                                                                    <div class="form-group">
                                                                        <div class="col-sm-offset-4">
                                                                            <div class="checkbox">
                                                                                <label>
                                                                                    <input type="checkbox" id="checkrole" name="checkrole[]" class="checkrole" value="{{ rs.id }}"  checked>
                                                                                    <span class="text"></span>
                                                                                </label>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                {% else %}
                                                                    <div class="form-group">
                                                                        <div class="col-sm-offset-4">
                                                                            <div class="checkbox">
                                                                                <label>
                                                                                    <input type="checkbox" id="checkrole" name="checkrole[]" class="checkrole" value="{{ rs.id }}" >
                                                                                    <span class="text"></span>
                                                                                </label>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                {% endif %}
                                                            </td>
                                                            <td>{{ rs.lIBELLE }}</td>
                                                        </tr>
                                                    {% endfor %}
                                                    </tbody>
                                                </table>
                                            </div>

                                            <!-- Modal Footer -->
                                            <div class="modal-footer">

                                                <button type="button" class="btn btn-success" onclick="ajoutepi({{ materiel.id }})" id="btnrole">
                                                    <span class="fa fa-check"></span>
                                                    Ajouter
                                                </button>
                                                <button type="button" class="btn btn-danger" onclick="supprepi({{ materiel.id }})" >
                                                    <span class="fa fa-trash"></span>
                                                    Supprimer
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="tabmaintenance" class="tab-pane">
                        <div class="row" style="padding-right: 5%; padding-left: 5%">
                            <div class="widget">
                                <div class="widget-header bg-azure">
                                    <i class="widget-icon fa fa-arrow-down"></i>
                                    <span class="widget-caption">Liste des maintenances</span>
                                    <div class="widget-buttons">
                                        <div class="widget-buttons buttons-bordered">
                                            <button class="btn btn-azure btn-sm" onclick="document.location.href='{{ path('ajoutfichemaintenancep') }}'">Nouvelle Fiche de maintenance</button>
                                        </div>
                                        <a href="#" data-toggle="maximize">
                                            <i class="fa fa-expand"></i>
                                        </a>
                                    </div><!--Widget Buttons-->
                                </div>
                                <div class="widget-body">
                                    <table class="table table-bordered table-hover " id="tablemmateriel">
                                <thead class="bordered-darkorange">
                                <tr role="row">
                                    <th></th>
                                    <th>Date maintenance</th>
                                    <th>Compteur</th>
                                    <th>Maintenance à venir</th>
                                    <th>Nom de l'opérateur</th>
                                    <th>Type de maintenance</th>
                                    <th>Statut</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for rs in allmaintenance %}
                                    <tr>
                                        {% if rs.sTATUT == 'REALISE' %}
                                            <td><a href="{{ path('realisemaintenance',{'id': rs.id }) }}" style="color: #00C853">Detail</a></td>
                                        {% else %}
                                            <td><a href="{{ path('modifiermaintenance',{'idmaintenance': rs.id }) }}" style="color: #00C853">Detail</a></td>
                                        {% endif %}
                                        <td>{{ rs.dATEMAINTENANCE|date('d-m-Y') }}</td>
                                        <td>{{ rs.cOMPTEUR }} {{ rs.uNITECONSO }}</td>
                                        <td>{{ rs.cPTPROCHAIN }} {{ rs.uNITECONSO }}</td>
                                        <td>{{ rs.nOMOPERATEUR }}</td>
                                        {% if rs.tYPEMAINTENANCE == 'CURATIVE' %}
                                            <td style="color: #ff330c"><b>{{ rs.tYPEMAINTENANCE }}</b></td>
                                        {% elseif rs.tYPEMAINTENANCE == 'PREVENTIVE'  %}
                                            <td style="color: #123f99"><b>{{ rs.tYPEMAINTENANCE }}</b></td>
                                        {% endif %}
                                        {% if rs.sTATUT == 'SAISI' %}
                                            <td style="color: #2f75b5"><b>{{ rs.sTATUT }}</b></td>
                                        {% elseif rs.sTATUT == 'DIFFUSE' %}
                                            <td style="color: #ffc31a"><b>{{ rs.sTATUT }}</b></td>
                                        {% elseif rs.sTATUT == 'REALISE' %}
                                            <td style="color: #219922"><b>{{ rs.sTATUT }}</b></td>
                                        {% endif %}
                                    </tr>
                                {% endfor%}
                                </tbody>
                            </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


{% endblock %}