<page backtop="25mm">
    <page_header>
        <table style="width: 100%; border-collapse: collapse; border: 1px solid black; padding: 5%">
            <tr style="background: #E0E0E0;">
                <td style="width: 20%; text-align: center; border: 1px solid black; padding: 2%" ><h2>SCL</h2></td>
                <td style="width: 60%; text-align: center; border: 1px solid black; padding: 2%"><h2>INVENTAIRE MATERIEL</h2></td>
                <td style="width: 20%; border: 1px solid black; padding-left: 20% ">
                    <span>Date:  {{ date }}</span>
                    <br>
                    <br>
                    <span>Etat:  Emated01</span>
                    <br>
                    <br>
                    <span>Page:  [[page_cu]]/[[page_nb]]</span>
                </td>
            </tr>

        </table>
    </page_header>
    {% for rs in familles %}
        <br>
        <br>
    <table style="width: 100%;">

        <tr>
            <td style="width: 20%; text-align: center;"></td>
            <td style="width: 60%;text-align: center;">
                <span><b>CATEGORIE : {{ rs.lIBELLE }}</b></span></td>
            <td style="width: 20%;">
                {% for nbf in nbmaterielfamille %}
                {% set var3 = [] %}
                {% for nbf1 in nbf  %}
                    {% set var3 = var3|merge([nbf1.familleid]) %}

                {% endfor %}
                {% if rs.id  in var3 %}
                    <span>Quantit&eacute; : {{ nbf|length }}</span>
                {% endif %}
                {% endfor %}
            </td>
        </tr>

    </table>
        <br>
       {% for rs1 in  sfamilles %}
            {% set var = [] %}

             {% for rs2 in rs1  %}
                {% set var = var|merge([rs2.idfamille]) %}
                {% if rs.id  in var %}
                    <br>
                    <p><b>Genre: {{  rs2.sousfamille }}</b> &nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        &nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        {% for nb in nbmateriel %}
                            {% set var2 = [] %}
                            {% for nb1 in nb  %}
                                {% set var2 = var2|merge([nb1.sfamilleid]) %}

                            {% endfor %}
                            {% if rs2.id  in var2 %}
                                Quantit&eacute; : {{ nb|length }}
                            {% endif %}
                        {% endfor %}
                    </p>

                   {#Liste des materiel #}
                    {% for rsm in  materiels %}

                        {% set var1 = [] %}
                        <table style="border: 1px solid; border-collapse: collapse;" >
                        <thead >
                        <tr>
                            <th style="border: 1px solid; width: 7%; height: 5%; text-align: center">Mat&eacute;riel</th>
                            <th style="border: 1px solid; width: 7%; height: 5%; text-align: center">Code IMMO</th>
                            <th style="border: 1px solid; width: 10%; height: 5%; text-align: center">Marque</th>
                            <th style="border: 1px solid; width: 12%; height: 5%; text-align: center">Mod&egrave;le</th>
                            <th style="border: 1px solid; width: 10%; height: 5%; text-align: center">N&deg; de S&eacute;rie</th>
                            <th style="border: 1px solid; width: 10%; height: 5%; text-align: center">Immatricul.</th>
                            <th style="border: 1px solid; width: 8%; height: 5%; text-align: center">Mise en ser.</th>
                            <th style="border: 1px solid; width: 8%; height: 5%; text-align: center">Affectation</th>
                            <th style="border: 1px solid; width: 12%; height: 5%; text-align: center">chauffeur</th>
                            <th style="border: 1px solid; width: 10%; height: 5%; text-align: center">Compteur</th>
                        </tr>
                        </thead>
                        <tbody>
                            {% for rsm1 in rsm  %}

                                {% set var1 = var1|merge([rsm1.sfamilleid]) %}

                                {% if rs2.id  in var1 %}
                                        <tr>
                                            <td style="border-right: 1px solid; border-left: 1px solid;
                                            border-bottom: 1px solid; text-align: center;width: 7%; " >{{ rsm1.cODE }}</td>
                                            <td style="border-right: 1px solid; border-left: 1px solid;
                                            border-bottom: 1px solid; text-align: center; width: 7%;" >{{ rsm1.cODEIMMO }}</td>
                                            <td style="border-right: 1px solid; border-left: 1px solid;
                                            border-bottom: 1px solid; text-align: center; width: 10%;" >{{ rsm1.MARQUE }}</td>
                                            <td style="border-right: 1px solid; border-left: 1px solid;
                                            border-bottom: 1px solid; text-align: center; width: 12%;" >{{ rsm1.MODELE }}</td>
                                            <td style="border-right: 1px solid; border-left: 1px solid;
                                            border-bottom: 1px solid; text-align: center; width: 10%; " >{{ rsm1.nOSERIE }}</td>
                                            <td style="border-right: 1px solid; border-left: 1px solid;
                                            border-bottom: 1px solid; text-align: center; width: 10%;" >{{ rsm1.iMMATRICULATION
                                                }}</td>
                                            <td style="border-right: 1px solid; border-left: 1px solid;
                                            border-bottom: 1px solid; text-align: center; width: 8%; " >{{ rsm1
                                                .dATEMISESERVICE|date('d/m/Y') }} {#{{ 'now'|date('d-m-Y') }} {{ rsm1.dATEMISESERVICE|date('d-m-Y') }}#}</td>
                                            <td style="border-right: 1px solid; border-left: 1px solid;
                                            border-bottom: 1px solid; text-align: center; width: 8%; " >{{ rsm1.SITE }}</td>
                                            <td style="border-right: 1px solid; border-left: 1px solid;
                                            border-bottom: 1px solid; text-align: center; width: 12%; " >{{ rsm1.nOM }} {{ rsm1
                                                .pRENOM }}</td>
                                            <td style="border-right: 1px solid; border-left: 1px solid;
                                            border-bottom: 1px solid; text-align: right; width: 10%;" >{{ rsm1.compteur }}</td>
                                        </tr>

                                {% endif %}
                            {% endfor %}

                        {% if rs2.id  in var1 %}
                            {% set somme = 0 %}
                            {% set agemateriel = 0 %}
                            {% set sommedms = 0 %}
                            {% for rsm1 in rsm  %}
                            {% set somme = somme + rsm1.compteur %}
                            {% set sommedms =   sommedms + ("now"|date('Y') -  rsm1.dATEMISESERVICE|date('Y') )  %}
                            {% endfor %}
                            <tr><td></td><td></td><td></td><td></td><td></td><td style=" border-right: 1px solid" ></td >
                                {% set sommedms1  =  sommedms  / rsm|length %}
                                <td style="border: 1px solid; text-align: center">{{'%.2f'|format(sommedms1) }}</td>
                                <td></td> <td style="border-right: 1px solid" ></td>
                                {% set sommectr  = somme / rsm|length %}
                                <td style="border-right: 1px solid; border-left: 1px solid; border-bottom: 1px solid ;text-align: center"" >{{sommectr|round }}</td>
                            </tr>

                        {% endif %}
                        </tbody>
                        </table>

                    {% endfor %}

                {% endif %}
            {% endfor %}
        {% endfor %}

    {% endfor %}

</page>

