<page backtop="25mm" backbottom="10mm" footer="page;">
    <page_header>
       <h2 align="center">Maintenance alerte</h2>
    </page_header>
    <br>
    <br>
    <table style="width: 100%; border-collapse: collapse; border: 1px solid black;">
        <thead>
        <tr>
            <th style="border: 1px solid; width: 70%; height: 5%; text-align: center; color: black">Matériel</th>
            <th style="border: 1px solid; width: 15%; height: 5%; text-align: center; color: black">Date alerte</th>
            <th style="border: 1px solid; width: 15%; height: 5%; text-align: center; color: black">Type alerte</th>
        </tr>
        </thead>
        <tbody>
        {% for notification in notifications %}
            <tr style="background: {{ notification.cOULEUR }}; color: white">
                <td style="border-right: 1px solid; border-left: 1px solid; border-bottom: 1px solid; width:70%; height: 5%; text-align: center" >({{ notification.cODE }}) {{ notification.MATERIEL }}</td>
                <td style="border-right: 1px solid; border-left: 1px solid; border-bottom: 1px solid; width:15%; height: 1%; text-align: center" >{{ notification.dATENOTIFICATIONALERTE|date('d-mY') }}</td>
                <td style="border-right: 1px solid; border-left: 1px solid; border-bottom: 1px solid; width:15%; height: 1%; text-align: center" >{{ notification.tYPEALERTE }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <page_footer>
        <p></p>
    </page_footer>
</page>

