{% extends 'DashboardBundle:Technique:layout.html.twig' %}

{% block content %}

    <div class="row">
        <div class="col-lg-12 col-sm-12 col-xs-12">
            <div class="widget">
                <div class="widget-header bg-palegreen">
                    <i class="widget-icon fa fa-arrow-down"></i>
                    <span class="widget-caption">Table des alertes</span>
                    <div class="widget-buttons">
                        <button class="btn btn-sm btn-blue" onclick="document.location.href='{{ path('imprimealert') }}'">
                            Imprimer
                        </button>
                        <a href="#" data-toggle="maximize">
                            <i class="fa fa-expand"></i>
                        </a>
                        <a href="#" data-toggle="collapse">
                            <i class="fa fa-minus"></i>
                        </a>
                        <a href="#" data-toggle="dispose">
                            <i class="fa fa-times"></i>
                        </a>
                    </div><!--Widget Buttons-->
                </div>
                <div class="widget-body">
                    <div class="table-responsive">
                        <table class="table table-bordered" id="dashbordtablemateriel">
                            <thead >
                            <tr>
                                <th></th>
                                <th>N° parc</th>
                                <th>Libéllé</th>
                                <th>N° série / Matricule</th>
                                <th>Modèle</th>
                                <th>Etat</th>
                                <th>Cpt Actuel</th>
                                <th>Date dernière conso</th>
                                <th>Cpt dern. maint.</th>
                                <th>Cpt Proch. maint.</th>
                                <th>date dern. maint.</th>
                                <th>Date alerte</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for rs in materiel %}
                                {% if rs.MATERIELID_NOTIF != '' %}
                                    <tr id="id1{{ rs.MATERIELID }}" style="background: {{ rs.COULEUR }}; color: white" {# data-toggle="modal" data-target="#myModal{{ rs.MATERIELID }}" id="id1{{ rs.MATERIELID }}" style="background: {{ rs.COULEUR }}; color: white"#}>
                                        <td>
                                            <div class="btn-group">
                                                <a class="btn btn-darkorange dropdown-toggle" data-toggle="dropdown">
                                                    Alert <i class="fa fa-angle-down"></i>
                                                </a>
                                                <ul class="dropdown-menu dropdown-danger">
                                                    <li>
                                                        <a href="javascript:ajoutalert({{  rs.MATERIELID }})" style="background: #219922; color: white" id="alertvert">Vert (Cpt. Pro. Maint. = Cpt. Actuel)</a>
                                                    </li>
                                                    <li>
                                                        {% if rs.uNITECONSO == 'Km' %}
                                                            <a href="javascript:alertorange({{  rs.MATERIELID }})"   style="background: #FFA000; color: white"  id="alertvert">Orange (Cpt. Pro. Maint < 1000 {{ rs.uNITECONSO }})</a>
                                                        {% elseif rs.uNITECONSO == 'Heure' %}
                                                            <a href="javascript:alertorange({{  rs.MATERIELID }})" style="background: #FFA000; color: white" id="alertvert">Orange (Cpt. Pro. Maint < 50 {{ rs.uNITECONSO }})</a>
                                                        {% else %}
                                                            <a href="javascript:alertorange({{  rs.MATERIELID }})" style="background: #FFA000; color: white" id="alertvert">Unite de conso non pris en charge</a>
                                                        {% endif %}
                                                    </li>
                                                    <li>
                                                        <a href="javascript:alertrouge({{ rs.MATERIELID }})" style="background: #ff330c; color: white" id="alertvert" >Rouge (Cpt. Pro. Maint > Cpt. Actuel)</a>
                                                    </li>
                                                    <li class="divider">
                                                    </li>
                                                    <li>
                                                        <a href="#">Envoie de mail</a>
                                                    </li>
                                                    <li class="divider">
                                                    </li>
                                                    <li>
                                                        <a href="javascript:stop({{ rs.MATERIELID}})">Stop alerte</a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </td>
                                        <td ><b>{{ rs.CODE }}</b></td>
                                        <td>{{ rs.LIBELLE }}</td>
                                        {% if rs.NOSERIE == null %}
                                            <td>{{ rs.IMMATRICULATION }}</td>
                                        {% elseif rs.IMMATRICULATION == null %}
                                            <td>{{ rs.NOSERIE }}</td>
                                        {% elseif rs.NOSERIE == null and rs.IMMATRICULATION == null %}
                                            <td></td>
                                        {% elseif rs.NOSERIE != null and rs.IMMATRICULATION != null %}
                                            <td>{{ rs.NOSERIE }} / {{ rs.IMMATRICULATION }}</td>
                                        {% endif %}
                                        <td>{{ rs.MODELE }}</td>
                                        <td>{{ rs.ETAT }}</td>
                                        {% if rs.COMPTEUR == null %}
                                            <td></td>
                                        {% else %}
                                            <td style="color: #ffc31a"><b>{{ rs.COMPTEUR }}</b></td>
                                        {% endif %}
                                        {% if rs.DATECONSO == null %}
                                            <td></td>
                                        {% else %}
                                            <td>{{ rs.DATECONSO }}</td>
                                        {% endif %}
                                        <td>{{ rs.COMPTEUR_DM }}</td>
                                        <td>{{ rs.COMPTEUR_PM }}</td>
                                        <td>{{ rs.DATEREALISEM }}</td>
                                        <td>{{ rs.DATEALERT }}</td>
                                    </tr>
                                {% else %}
                                    <tr id="id1{{ rs.MATERIELID }}" {#data-toggle="modal" data-target="#myModal{{ rs.MATERIELID }}" #}>
                                        <td>
                                            <div class="btn-group">
                                                <a class="btn btn-darkorange dropdown-toggle" data-toggle="dropdown">
                                                    Alert <i class="fa fa-angle-down"></i>
                                                </a>
                                                <ul class="dropdown-menu dropdown-danger">
                                                    <li>
                                                        <a href="javascript:ajoutalert({{  rs.MATERIELID }})" style="background: #219922; color: white" id="alertvert">Vert (Cpt. Pro. Maint. = Cpt. Actuel)</a>
                                                    </li>
                                                    <li>
                                                        {% if rs.uNITECONSO == 'Km' %}
                                                            <a href="javascript:alertorange({{  rs.MATERIELID }})"   style="background: #FFA000; color: white"  id="alertvert">Orange (Cpt. Pro. Maint < 50 {{ rs.uNITECONSO }})</a>
                                                        {% elseif rs.uNITECONSO == 'Heure' %}
                                                            <a href="javascript:alertorange({{  rs.MATERIELID }})" style="background: #FFA000; color: white" id="alertvert">Orange (Cpt. Pro. Maint < 1000 {{ rs.uNITECONSO }})</a>
                                                        {% else %}
                                                            <a href="javascript:alertorange({{  rs.MATERIELID }})" style="background: #FFA000; color: white" id="alertvert">Unite de conso non pris en charge</a>
                                                        {% endif %}
                                                    </li>
                                                    <li>
                                                        <a href="javascript:alertrouge({{ rs.MATERIELID }})" style="background: #ff330c; color: white" id="alertvert" >Rouge (Cpt. Pro. Maint > Cpt. Actuel)</a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </td>
                                        <td><b>{{ rs.CODE }}</b></td>
                                        <td>{{ rs.LIBELLE }}</td>
                                        {% if rs.NOSERIE == null %}
                                            <td>{{ rs.IMMATRICULATION }}</td>
                                        {% elseif rs.IMMATRICULATION == null %}
                                            <td>{{ rs.NOSERIE }}</td>
                                        {% elseif rs.NOSERIE == null and rs.IMMATRICULATION == null %}
                                            <td></td>
                                        {% elseif rs.NOSERIE != null and rs.IMMATRICULATION != null %}
                                            <td>{{ rs.NOSERIE }} / {{ rs.IMMATRICULATION }}</td>
                                        {% endif %}
                                        <td>{{ rs.MODELE }}</td>
                                        <td>{{ rs.ETAT }}</td>
                                        {% if rs.COMPTEUR == null %}
                                            <td></td>
                                        {% else %}
                                            <td style="color: #ffc31a"><b>{{ rs.COMPTEUR }}</b></td>
                                        {% endif %}
                                        {% if rs.DATECONSO == null %}
                                            <td></td>
                                        {% else %}
                                            <td>{{ rs.DATECONSO }}</td>
                                        {% endif %}
                                        <td>{{ rs.COMPTEUR_DM }}</td>
                                        <td>{{ rs.COMPTEUR_PM }}</td>
                                        <td>{{ rs.DATEREALISEM }}</td>
                                        <td></td>
                                    </tr>
                                {% endif %}
                                <div id="myModal{{ rs.MATERIELID }}" class="modal fade" role="dialog">
                                    <div class="modal-dialog modal-lg">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                                                <h4 class="modal-title">Plus de détail du matériel <b>{{ rs.CODE }}</b>
                                                    <div class="btn-group" align="left">
                                                        <input value="{{ rs.LIBELLE }}" id="materielalert{{ rs.MATERIELID }}" type="hidden"/>
                                                        <input value="{{ rs.CODE }}" id="code{{ rs.MATERIELID }}" type="hidden"/>
                                                        <a class="btn btn-danger " href="javascript:void(0);">Alerte</a>
                                                        <a class="btn btn-danger  dropdown-toggle" data-toggle="dropdown" href="javascript:void(0);"><i class="fa fa-angle-down"></i></a>
                                                        <ul class="dropdown-menu dropdown-danger">
                                                            <li>
                                                                <a href="javascript:ajoutalert({{  rs.MATERIELID }})" style="background: #219922; color: white" id="alertvert">Vert (Cpt. Pro. Maint. = Cpt. Actuel)</a>
                                                            </li>
                                                            <li>
                                                                {% if rs.uNITECONSO == 'Km' %}
                                                                    <a href="javascript:alertorange({{  rs.MATERIELID }})"   style="background: #FFA000; color: white"  id="alertvert">Orange (Cpt. Pro. Maint < 50 {{ rs.uNITECONSO }})</a>
                                                                {% elseif rs.uNITECONSO == 'Heure' %}
                                                                    <a href="javascript:alertorange({{  rs.MATERIELID }})" style="background: #FFA000; color: white" id="alertvert">Orange (Cpt. Pro. Maint < 1000 {{ rs.uNITECONSO }})</a>
                                                                {% else %}
                                                                    <a href="javascript:alertorange({{  rs.MATERIELID }})" style="background: #FFA000; color: white" id="alertvert">Unite de conso non pris en charge</a>
                                                                {% endif %}
                                                            </li>
                                                            <li>
                                                                <a href="javascript:alertrouge({{ rs.MATERIELID }})" style="background: #ff330c; color: white" id="alertvert" >Rouge (Cpt. Pro. Maint > Cpt. Actuel)</a>
                                                            </li>
                                                            <li class="divider">
                                                            </li>
                                                            <li>
                                                                <a href="#">Envoie de mail</a>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                    <button class="btn btn-default" onclick="stop({{ rs.MATERIELID }},{{ rs.IDALERT }} )">Stop alerte</button>
                                                </h4>
                                            </div>
                                            <div class="modal-body">
                                                <div class="container-fluid">
                                                    <div class="row">
                                                        <div class="col-sm-12">
                                                            <p style="text-align: center;"><b style="font-size: medium">Compteur actuel : </b><b style="color: #7ab51d; font-size: medium">{{ rs.COMPTEUR }}</b></p>
                                                            <div class="row">
                                                                <div class="col-8 col-sm-7">
                                                                    <div class="form-group">
                                                                        <label for="inputEmail3" class="col-sm-6 control-label no-padding-right"><b style="font-size: medium">Cpt Pro. Maintenance :</b></label>
                                                                        <div class="col-sm-6">
                                                                            {% if rs.COMPTEUR_PM ==0 %}
                                                                                <p style="font-size: medium"><b style="color: #7ab51d">PAS  DE MAINTENANCE</b></p>
                                                                            {% else %}
                                                                                <p style="font-size: medium"><b style="color: #7ab51d">{{ rs.COMPTEUR_PM }}</b></p>
                                                                            {% endif %}
                                                                            <p></p>
                                                                        </div>
                                                                    </div>
                                                                    <br>
                                                                    <div class="form-group">
                                                                        <label for="inputEmail3" class="col-sm-6 control-label no-padding-right"><b style="font-size: medium">Cpt Dern. Maintenance :</b></label>
                                                                        <div class="col-sm-6">
                                                                            {% if rs.COMPTEUR_DM ==0 %}
                                                                                <p style="font-size: medium"><b style="color: #7ab51d">PAS  DE MAINTENANCE</b></p>
                                                                            {% else %}
                                                                                <p style="font-size: medium"><b style="color: #7ab51d">{{ rs.COMPTEUR_DM }}</b></p>
                                                                            {% endif %}
                                                                            <p></p>
                                                                        </div>
                                                                    </div>
                                                                    <div class="form-group">
                                                                        <label for="inputEmail3" class="col-sm-6 control-label no-padding-right"><b style="font-size: medium">Date Dern. Maintenance :</b></label>
                                                                        <div class="col-sm-6">
                                                                            {% if rs.DATEREALISEM ==0 %}
                                                                                <p style="font-size: medium"><b style="color: #7ab51d">PAS  DE MAINTENANCE</b></p>
                                                                            {% else %}
                                                                                <p style="font-size: medium"><b style="color: #7ab51d">{{ rs.DATEREALISEM }}</b></p>
                                                                            {% endif %}
                                                                            <p></p>
                                                                        </div>
                                                                    </div>
                                                                    <div class="form-group">
                                                                        <label for="inputEmail3" class="col-sm-6 control-label no-padding-right"> <b style="font-size: medium">Technicien :</b></label>
                                                                        <div class="col-sm-6">
                                                                            {% if rs.COMPTEUR_DM == 0 %}
                                                                                <p style="font-size: medium"><b style="color: #7ab51d">PAS  DE MAINTENANCE</b></p>
                                                                            {% else %}
                                                                                <p style="font-size: medium"><b style="color: #7ab51d">{{ rs.NOMMECANICIEN }}</b></p>
                                                                            {% endif %}
                                                                            <p></p>
                                                                        </div>
                                                                    </div>
                                                                    <div class="form-group">
                                                                        <label for="inputEmail3" class="col-sm-6 control-label no-padding-right"> <b style="font-size: medium">Type de maintenance</b></label>
                                                                        <div class="col-sm-6">
                                                                            {% if rs.COMPTEUR_DM == 0 %}
                                                                                <p style="font-size: medium"><b style="color: #7ab51d">PAS  DE MAINTENANCE</b></p>
                                                                            {% else %}
                                                                                <p style="font-size: medium"><b style="color: #7ab51d">{{ rs.TYPEMAINTENANCE }}</b></p>
                                                                            {% endif %}
                                                                            <p></p>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="col-4 col-sm-5">
                                                                    <div class="form-group">
                                                                        <label for="inputEmail3" class="col-sm-6 control-label no-padding-right"><b style="font-size: medium">Unite de conso</b></label>
                                                                        <div class="col-sm-6">
                                                                            <p style="font-size: medium"><b style="color: #7ab51d">{{ rs.uNITECONSO }}</b></p>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="col-4 col-sm-5">
                                                                    <div class="form-group">
                                                                        <label for="inputEmail3" class="col-sm-6 control-label no-padding-right"><b style="font-size: medium">Affectation</b></label>
                                                                        <div class="col-sm-6">
                                                                            <p style="font-size: medium"><b style="color: #7ab51d">{{ rs.SERVICE }}</b></p>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="col-4 col-sm-5">
                                                                    <div class="form-group">
                                                                        <label for="inputEmail3" class="col-sm-6 control-label no-padding-right"><b style="font-size: medium">Site</b></label>
                                                                        <div class="col-sm-6">
                                                                            <p style="font-size: medium"><b style="color: #7ab51d">{{ rs.SITE }}</b></p>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="col-4 col-sm-5">
                                                                    <div class="form-group">
                                                                        <label for="inputEmail3" class="col-sm-6 control-label no-padding-right"><b style="font-size: medium">Chauffeur</b></label>
                                                                        <div class="col-sm-6">
                                                                            <p style="font-size: medium"><b style="color: #7ab51d">{{ rs.NOM }} {{ rs.PRENOM }}</b></p>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>

                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                            </div>
                                        </div>

                                    </div>
                                </div>

                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div><!--Widget Body-->
            </div>
        </div>
    </div>
{% endblock %}