{#{% extends ':layout:layout.html.twig' %}#}
{#{% block body  %}#}
<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>{% block title %}SCL / KOCC-PGI {% endblock %}</title>
    {% block stylesheets %}

        <link href="{{ asset('assets/css/bootstrap.min.css') }}" rel="stylesheet"/>
        <link id="bootstrap-rtl-link" href="" rel="stylesheet"/>
        <link href="{{ asset('assets/css/font-awesome.min.css') }}" rel="stylesheet"/>
        <link href="{{ asset('assets/css/weather-icons.min.css') }}" rel="stylesheet"/>
        <!--Fonts-->
        <!--Fonts-->
        <link href="http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,400,600,700,300" rel="stylesheet" type="text/css">
        <link href='http://fonts.googleapis.com/css?family=Roboto:400,300' rel='stylesheet' type='text/css'>
        <!--Beyond styles-->
        {#<link id="beyond-link" href="{{ asset('assets/css/beyond.min.css') }}" rel="stylesheet" type="text/css" />#}
        <link href="{{ asset('assets/css/beyond.min.css') }}" rel="stylesheet"/>
        <link href="{{ asset('assets/css/demo.min.css') }}" rel="stylesheet"/>
        <link href="{{ asset('assets/css/typicons.min.css') }}" rel="stylesheet"/>
        <link href="{{ asset('assets/css/animate.min.css') }}" rel="stylesheet"/>
        <link id="skin-link" href="" rel="stylesheet" type="text/css"/>
        <link href="{{ asset('css/dataTables.bootstrap.min.css') }}" rel="stylesheet"/>
        <link href="{{ asset('css/buttons.dataTables.min.css') }}" rel="stylesheet"/>
        <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.min.css">

    {% endblock %}

    <link rel="icon" type="image/x-icon" href="{{ asset('images/logoSCL-mais.png') }}"/>
</head>
<body>
<div class="loading-container">
    <div class="loader"></div>
</div>
<div class="navbar" style="background: #7AB51D">
    <div class="navbar-inner" style="background: #7AB51D">
        <div class="navbar-container">
            <!-- Navbar Barnd -->
            <div class="navbar-header pull-left">
                <a href="#" class="navbar-brand">
                    <small> <img src="{{ asset('images/logoSCL-mais-blanc.png') }}" width="20"> {#SCL / KOCC-PGI#}</small>
                </a>
            </div>
            <!-- /Navbar Barnd -->

            <!-- Account Area and Settings --->

            <div class="navbar-header pull-right">
                <div class="navbar-account">
                    <ul class="account-area"></ul>
                    <div class="setting-container">
                    </div>
                    <!-- Settings -->
                </div>
            </div>
            <!-- /Account Area and Settings -->

            {% if app.user %}
                <div class="sidebar-collapse" id="sidebar-collapse">
                    <i class="collapse-icon fa fa-bars"></i>
                </div>
                <div id="alerte"><span style="padding-left:10px;" id="ale"></span></div>
                <div class="navbar-header pull-right">
                    <div class="navbar-account">
                        <ul class="account-area">
                            <li id="notification">
                                {{ render(controller('DashboardBundle:Technique:notification')) }}
                            </li>
                            <li>
                                <a class="login-area dropdown-toggle" data-toggle="dropdown">
                                    <section>
                                        <h2><span class="profile "><span><i
                                                            class="glyphicon glyphicon-user"></i> &nbsp;{{ app.user.name }}</span></span>
                                        </h2>
                                    </section>
                                </a>
                                <!--Login Area Dropdown-->
                                <ul class="pull-right dropdown-menu dropdown-arrow dropdown-login-area">

                                    <li class="email"><a>{{ app.user.email }}</a></li>

                                    <!--/Theme Selector Area-->
                                    <li class="dropdown-footer">
                                        <a href="{{ path('fos_user_security_logout') }}">
                                            D&eacute;connexion
                                        </a>
                                    </li>
                                </ul>
                                <!--/Login Area Dropdown-->
                            </li>

                        </ul>
                        <!-- Settings -->
                    </div>
                </div>
            {% endif %}
        </div>
    </div>
</div>
<div class="main-container container-fluid">
    <div class="page-container">
        <div class="page-sidebar" id="sidebar">
            <!-- Page Sidebar Header-->
            <div class="sidebar-header-wrapper">

            </div>
            <!-- /Page Sidebar Header -->
            <!-- Sidebar Menu -->
            <ul class="nav sidebar-menu">
                <!--Dashboard-->

                {% if is_granted('ROLE_CGESTION') == true%}
                    <li class="active">
                        <a href="{{ path('indexcontrolegestion') }}">
                            <i class="menu-icon  fa fa-dashboard"></i>
                            <span class="menu-text"> Tableau de bord </span>
                        </a>
                    </li>
                {% elseif is_granted('ROLE_TECHNIQUE') == true or  is_granted('ROLE_ADMIN') == true %}
                    <li class="active">
                        <a href="{{ path('techniquedashboard') }}">
                            <i class="menu-icon  fa fa-dashboard themefifthcolor"></i>
                            <span class="menu-text"> Tableau de bord </span>
                        </a>
                    </li>
                {% else %}
                    <li>
                        <a href="">
                            <i class="menu-icon  fa fa-dashboard themefifthcolor"></i>
                            <span class="menu-text"> Tableau de bord </span>
                        </a>
                    </li>
                {% endif %}

                <li >
                    <a href="#" class="menu-dropdown">
                        <i class="menu-icon fa fa-cog"></i>
                        <span class="menu-text"> Gestion </span>

                        <i class="menu-expand"></i>
                    </a>
                    {% if is_granted('ROLE_ADMIN') == true %}
                        <ul class="submenu">
                            <li >
                                <a href="{{ path('gestionrole') }}">
                                    <span class="menu-text">Gestion des r&ocirc;les</span>
                                </a>
                            </li>
                            <li >
                                <a href="{{ path('gestionutilisateur') }}">
                                    <span class="menu-text">Gestion des utilisateurs</span>
                                </a>
                            </li>
                        </ul>
                    {% endif %}
                </li>

                <li>
                    <a href="#" class="menu-dropdown">
                        <i class="menu-icon fa fa-wrench"></i>
                        <span class="menu-text"> Technique </span>

                        <i class="menu-expand"></i>
                    </a>
                    {% if is_granted('ROLE_ADMIN') == true and is_granted('ROLE_TECHNIQUE') == true %}
                        <ul class="submenu">
                            <li>
                                <a href="#" class="menu-dropdown">
                                    <span class="menu-text">Materiel & Maintenance</span>
                                    <i class="menu-expand"></i>
                                </a>

                                <ul class="submenu">
                                    <li>
                                        <a href="{{ path('materielor') }}">
                                            <i class="menu-icon fa fa-rocket"></i>
                                            <span class="menu-text">Param&eacute;tre materiel</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="{{ path('materiel') }}">
                                            <i class="fa fa-automobile"></i>
                                            <span class="menu-text">Mat&eacute;riel</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="{{ path('maintenance') }}">
                                            <i class="menu-icon glyphicon glyphicon-stats"></i>
                                            <span class="menu-text">Maintenance</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="{{ path('extractionmateriel') }}">
                                            <i class="menu-icon fa fa-file-excel-o"></i>
                                            <span class="menu-text">M.P prochaine</span>
                                        </a>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <a href="{{ path('consommation') }}">
                                    <span class="menu-text">Magasin & Consommation</span>
                                </a>
                            </li>
                            <li >
                                <a href="{{ path('gestionservices') }}">
                                    <span class="menu-text">Gestion des services</span>
                                </a>
                            </li>
                        </ul>
                    {% endif %}
                </li>
                <li>
                    <a href="#" class="menu-dropdown">
                        <i class="menu-icon fa fa-th-list"></i>
                        <span class="menu-text"> Production </span>

                        <i class="menu-expand"></i>
                    </a>
                    {% if is_granted('ROLE_ADMIN') == true and is_granted('ROLE_PRODUCTION') == true %}
                        <ul class="submenu">
                            <li>
                                <a href="{{ path('geste') }}">
                                    <span class="menu-text">Geste</span>
                                </a>
                            </li>
                            <li>
                                <a href="{{ path('interventionprod') }}">
                                    <span class="menu-text">Intervention</span>
                                </a>
                            </li>
                        </ul>
                    {% endif %}
                </li>
                <li>
                    <a href="#" class="menu-dropdown">
                        <i class="menu-icon glyphicon glyphicon-tree-deciduous"></i>
                        <span class="menu-text"> Culture </span>

                        <i class="menu-expand"></i>
                    </a>
                    {% if is_granted('ROLE_ADMIN') == true and is_granted('ROLE_PRODUCTION') == true %}
                        <ul class="submenu">
                            <li >
                                <a href="{{ path('campagne') }}">
                                    <span class="menu-text">Campagne</span>
                                </a>
                            </li>
                            <li >
                                <a href="{{ path('ferme') }}">
                                    <span class="menu-text">Ferme</span>
                                </a>
                            </li>
                            <li >
                                <a href="{{ path('ilot') }}">
                                    <span class="menu-text">Ilot</span>
                                </a>
                            </li>
                            <li>
                                <a href="{{ path('parcelle') }}">
                                    <span class="menu-text">Parcelle</span>
                                </a>
                            </li>
                            <li >
                                <a href="{{ path('site') }}">
                                    <span class="menu-text">Site</span>
                                </a>
                            </li>
                        </ul>
                    {% endif %}
                </li>
                <li>
                    <a href="#" class="menu-dropdown">
                        <i class="menu-icon glyphicon glyphicon-tasks"></i>
                        <span class="menu-text"> Agronomie </span>

                        <i class="menu-expand"></i>
                    </a>
                </li>
                <li>
                    <a href="#" class="menu-dropdown">
                        <i class="menu-icon fa fa-truck"></i>
                        <span class="menu-text"> Reception </span>

                        <i class="menu-expand"></i>
                    </a>
                </li>
                <li>
                    <a href="#" class="menu-dropdown">
                        <i class="menu-icon glyphicon glyphicon-inbox"></i>
                        <span class="menu-text"> Conditionnement </span>

                        <i class="menu-expand"></i>
                    </a>
                </li>
                <li>
                    <a href="#" class="menu-dropdown">
                        <i class="menu-icon glyphicon glyphicon-shopping-cart"></i>
                        <span class="menu-text"> Vente </span>

                        <i class="menu-expand"></i>
                    </a>
                </li>
                <li>
                    <a href="{{ path('listeficheintervention') }}">
                        <i class="menu-icon fa fa-file-pdf-o "></i>
                        <span class="menu-text"> Fiche d'intervention </span>
                    </a>
                </li>
            </ul>
            <!-- /Sidebar Menu -->
        </div>
    </div>
</div>
<div class="page-content">
    <!-- Page Breadcrumb -->
    <div class="page-breadcrumbs">
        <ul class="breadcrumb">
            <li>
                <i class="menu-icon fa fa-dashboard themefifthcolor "></i>
                <a href="">Tableau de bord</a>
            </li>
        </ul>
    </div>
    <!-- /Page Breadcrumb -->
    <!-- Page Header -->
    <div class="page-header position-relative">
        <div class="header-title">
            <h1>
                Technique
            </h1>
        </div>
        <!--Header Buttons-->
        <div class="header-buttons">
            <a class="sidebar-toggler" href="#">
                <i class="fa fa-arrows-h"></i>
            </a>
            <a class="refresh" id="refresh-toggler" href="">
                <i class="glyphicon glyphicon-refresh"></i>
            </a>
            <a class="fullscreen" id="fullscreen-toggler" href="#">
                <i class="glyphicon glyphicon-fullscreen"></i>
            </a>
        </div>
        <!--Header Buttons End-->
    </div>
    <!-- /Page Header -->
    <!-- Page Body -->
    <div class="page-body">
        <div class="row">
            {% block content %}
            {% endblock %}
        </div>
    </div>
    <!-- /Page Body -->
</div>
{% block javascripts %}
    <script src="{{ asset('assets/js/skins.min.js') }}"></script>
    <script src="{{ asset('assets/js/jquery.min.js') }}"></script>
    <script src="{{ asset('assets/js/bootstrap.min.js') }}"></script>
    <script src="{{ asset('assets/js/slimscroll/jquery.slimscroll.min.js') }}"></script>

    <!--Beyond Scripts-->
    <script src="{{ asset('assets/js/beyond.js') }}"></script>

    <script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
    <script src="{{ path('fos_js_routing_js', {"callback": "fos.Router.setData"}) }}"></script>
    <script src="{{ asset('assets/js/toastr/toastr.js') }}"></script>

    <script src="{{ asset('js/DashboardAjax.js') }}"></script>

    <script src="{{ asset('js/jquery.dataTables.min.js') }}"></script>
    <script src={{ asset('js/dataTables.bootstrap.min.js') }}></script>
    <script src={{ asset('js/dataTables.buttons.min.js') }}></script>
    <script src={{ asset('js/jszip.min.js') }}></script>
    <script src={{ asset('js/pdfmake.min.js') }}></script>
    <script src={{ asset('js/vfs_fonts.js') }}></script>
    <script src={{ asset('js/buttons.html5.min.js') }}></script>

    <script>
        var table = $('#dashbordtablemateriel').DataTable({
            "iDisplayLength": 10,
            dom: 'Bfrtip',
            buttons: [
                'copyHtml5',
                'excelHtml5',
                'csvHtml5',
                'pdfHtml5'
            ],
        });


    </script>

{% endblock %}

</body>
</html>
{#
{% endblock %}#}
