{% extends 'UserBundle:GestionRoles:layout.html.twig' %}

{% block content %}
   {# {{ render(controller(':layout:layout.html.twig')) }}#}
    <br>
    <div class="row">
        <div class="row" style="padding-left: 25%; padding-right: 25%">
            <div class="col-lg-12 col-sm-12 col-xs-12">
                <div class="row" >
                    <div class="widget flat radius-bordered">
                        <div class="widget-header bg-azure">
                            <span class="widget-caption">Cr&eacute;ation d'un nouveau r&ocirc;le</span>
                        </div>
                        <div class="widget-body">
                            <div style="padding-left: 10%; padding-right: 25%">
                                {{ form_start(form, {'attr': {'class': 'form-horizontal'}}) }}
                                    <div class="form-group">
                                        <label for="inputEmail3" class="col-sm-4 control-label no-padding-right">NOM R&ocirc;LE</label>
                                        <div class="col-sm-8">
                                            {{ form_widget(form.nomRole, {'attr': {'class': 'form-control'}}) }}
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="inputPassword3" class="col-sm-4 control-label no-padding-right">DESCRIPTION</label>
                                        <div class="col-sm-8">
                                            {{ form_widget(form.description, {'attr': {'class': 'form-control'}}) }}
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-sm-offset-4 col-sm-8">
                                            <input type="submit" class="btn btn-azure" value="Valider" onClick="this.disabled=true;this.form.submit();this.value='Patientez...'"/>
                                        </div>
                                    </div>
                                {{ form_rest(form) }}
                                {{ form_end(form) }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <br>
        <div class="row" style="padding-left: 5%; padding-right: 5%">
            <div class="col-lg-12 col-sm-12 col-xs-12">
                <div class="row" >
                    <div class="widget flat radius-bordered">
                        <div class="widget-header bg-palegreen">
                            <span class="widget-caption">Liste des r&ocirc;les</span>
                        </div>
                        <div class="widget-body">
                            <div style="padding-left: 5%; padding-right: 5%">
                                <table class="table table-hover table-bordered" id="searchable3">
                                    <thead class="bordered-darkorange" >
                                    <tr role="row">
                                        <th>Designation</th>
                                        <th>Description</th>
                                        <th>Actif</th>
                                        <th>Actions</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for rs in roles %}
                                        <tr>
                                            <td>{{ rs.nomRole }}</td>
                                            <td>{{ rs.description }}</td>
                                            {% if rs.actif == 1 %}
                                                <td style="color: #4285f4;"><b>Oui</b></td>
                                            {% else %}
                                                <td style="color: #f4211d"><b>Non</b></td>
                                            {% endif %}
                                            <td>
                                                {% if rs.nomRole == 'ROLE_USER' %}
                                                    <button type="submit" class="btn btn-default "  onclick="document.location.href='{{ path('modifierrole', {'id': rs.id}) }}'" disabled>
                                                        <i class="fa fa-pencil-square-o"></i>Modifier</button>
                                                {% else %}
                                                    <button type="submit" class="btn btn-default "  onclick="document.location.href='{{ path('modifierrole', {'id': rs.id}) }}'">
                                                        <i class="fa fa-pencil-square-o"></i>Modifier</button>
                                                {% endif %}
                                            </td>
                                        </tr>
                                    {% endfor %}

                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}