{% extends 'AgroBundle:Itkitl:layout.html.twig' %}
{% block content  %}
    <br>
    <div class="col-lg-12 col-sm-12 col-xs-12" style="padding-left: 2%; padding-right: 2%">
        <div class="widget flat radius-bordered">
            <div class="widget-header bg-azure">
                <span class="widget-caption">Ajouter une nouvelle instruction localisée</span>
                <span style="color: #ffffff; margin-right: 10%; font-weight: bold "> Date : {{ date }}    </span>
                <div class="widget-buttons buttons-bordered">
                    <button class="btn btn-danger btn-sm" onclick="window.location.href='{{ path
                    ('instructionlocalise') }}'"><i class="fa fa-arrow-left"></i>Retour</button>
                </div>
                <div class="widget-buttons buttons-bordered">
                    <button class="btn btn-azure btn-sm" onclick="window.location.href='{{ path('ajouteritkitl')
                    }}'">Nouvelle instruction localisée</button>
                </div>
                <div class="messageflasherror">
                    {% for flashMessage in app.session.flashbag.get('notice') %}

                        <p style="color: red">{{ flashMessage }}</p>

                    {% endfor %}
                </div>
                <div class="messageflashok">
                    {% for flashMessage in app.session.flashbag.get('noticeok') %}

                        <p style="color: green">{{ flashMessage }}
                            <i class="fa fa-check-circle" aria-hidden="true"></i>
                        </p>

                    {% endfor %}
                </div>
            </div>
            {# START MODALS #}
            <div id="modal-warning-date" class="modal modal-message modal-warning fade"
                 style="display: none;" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <i class="fa fa-warning"></i>
                        </div>
                        <div class="modal-title">Avertissement ! </div>
                        <div class="modal-body">La date est antérieure à la date d'aujourd'hui !!</div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-warning"
                                    id=""
                                    data-dismiss="modal">OK</button>
                        </div>
                    </div> <!-- / .modal-content -->
                </div> <!-- / .modal-dialog -->
            </div>
            <div id="modal-warning-itkitl-saisi" class="modal modal-message modal-warning fade"
                 style="display: none;" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <i class="fa fa-warning"></i>
                        </div>
                        <div class="modal-title">Avertissement ! </div>

                        <div class="modal-body">Veuillez compléter les informations avant de renseigner la bouillie
                            !!</div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-warning"
                                    data-dismiss="modal">OK</button>
                        </div>
                    </div> <!-- / .modal-content -->
                </div> <!-- / .modal-dialog -->
            </div>
            <div id="modal-danger-itkitl" class="modal modal-message modal-danger fade" style="display: none;" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <i class="glyphicon glyphicon-fire"></i>
                        </div>
                        <div class="modal-title">Attention !</div>

                        <div class="modal-body">Il existe déjé une instruction de traitement localisée avec cette
                            ferme et cette utl !!
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-danger" data-dismiss="modal">OK</button>
                        </div>
                    </div> <!-- / .modal-content -->
                </div> <!-- / .modal-dialog -->
            </div>
            {#END MODALS#}
            <div class="widget-body">
                <div id="WiredWizard" class="wizard wizard-wired" data-target="#WiredWizardsteps">
                    <ul class="steps">
                        <li data-target="#wiredstep1" class="active"><span class="step">1</span><span
                                    class="title">Informations générales</span><span class="chevron"></span></li>
                        <li data-target="#wiredstep2"><span class="step">2</span><span
                        class="title">Phyto / Intrants</span>
                            <span class="chevron"></span></li>
                        <li data-target="#wiredstep3"><span class="step">3</span><span class="title">Materiel / EPI
                        / Cibles </span> <span class="chevron"></span></li>
                    </ul>
                </div>
                <div class="step-content" id="WiredWizardsteps" style="height: auto">
                    <div class="row" style="; padding-right: 3%; ">
                        <div class="step-pane active" id="wiredstep1">
                            <div class="form-horizontal">
                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4" style="text-align:left">
                                        <div class="form-group">
                                            <label for="" class="col-sm-5 control-label">Ferme :<sup style="color:
                                            red">*</sup></label>
                                            <div class="col-sm-7">
                                                {{ form_widget(form.fERMEID, {'attr': {'class': 'form-control'}}) }}
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="" class="col-sm-5 control-label">UTL :<sup style="color:
                                            red">*</sup></label>
                                            <div class="col-sm-7">
                                                <input type="hidden" id="newutl" style="width: 100%"/>
                                                {#{{ form_widget(form.uNITETLOCALISEID, {'attr': {'class': 'form-control'}}) }}#}
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="" class="col-sm-5 control-label">Quantité :<sup style="color:
                                            red">*</sup></label>
                                            <div class="col-sm-7">
                                                <input class="col-sm-12 form-control" id="qteutl"
                                                type="text" value="" />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-4 col-md4 col-sm-4 col-xs-4" style="text-align:left " >
                                        <div class="form-group" id="datep">
                                            <label for="" class="col-sm-5 control-label">Date instruction :<sup style="color:
                            red">*</sup></label>
                                            <div class="col-sm-7">
                                                <div class="input-group">
                                                    {{ form_widget(form.dATEP, {'attr': {'class': 'form-control'}}) }}
                                                    <span class="input-group-addon">
                                                        <i class="fa fa-calendar"></i>
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="" class="col-sm-5 control-label">Durée (j) :<sup style="color:
                            red">*</sup></label>
                                            <div class="col-sm-7">
                                                {{ form_widget(form.dUREE, {'attr': {'class': 'form-control'}}) }}
                                            </div>
                                        </div>
                                        <div class="form-group" id="datepfin">
                                            <label for="" class="col-sm-5 control-label">Date fin :<sup style="color:
                            red">*</sup></label>
                                            <div class="col-sm-7">
                                                <div class="input-group">
                                                    {{ form_widget(form.dATEPFIN, {'attr': {'class': 'form-control',
                                                        'disabled':'disabled'}}) }}
                                                    <span class="input-group-addon">
                                                        <i class="fa fa-calendar"></i>
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4" style="text-align:left ">
                                        <div class="form-group">
                                            <label for="" class="col-sm-5 control-label">Culture :</label>
                                            <div class="col-sm-7">
                                                <div class="input-group">
                                                    <input style="background: lightgrey" class="col-sm-12 form-control" id="cultureutl"
                                                    type="text" disabled>
                                                        <span class="input-group-addon">
                                                            <i class="fa fa-calendar"></i>
                                                        </span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="" class="col-sm-5 control-label">Unite :</label>
                                            <div class="col-sm-7">
                                                <div class="input-group">
                                                    <input style="background: lightgrey" class="col-sm-12 form-control"
                                                           id="uniteutl" type="text" value="" disabled>
                                                        <span class="input-group-addon">
                                                            <i class="fa fa-calendar"></i>
                                                        </span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="" class="col-sm-5 control-label">Bouillie  :<sup style="color:
                            red">*</sup></label>
                                            <div class="col-sm-7">
                                                <div class="input-group">
                                                    <input class="col-sm-12 form-control"
                                                           id="bouillieutl" type="text" value="" >
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row" style="padding-right: 3%; padding-left: 3% ">
                        <div class="step-pane" id="wiredstep2">
                            <div class="form-title">
                                Ajouter phyto / intrants :
                            </div>
                            <div class="form-horizontal">
                            </div>
                        </div>
                    </div>
                    <div class="row" style="padding-right: 3%; padding-left: 3% ">
                        <div class="step-pane" id="wiredstep3">
                            <div class="form-title">
                                Ajouter Materiel / EPI / Cibles :
                            </div>
                            <div class="form-horizontal">

                            </div>
                        </div>
                    </div>
                    <br><br><br><br><br><br>
                </div>
                <div class="actions actions-footer" id="WiredWizard-actions">
                    <div class="btn-group" >
                        <button type="button" class="btn btn-default btn-sm btn-prev"> <i class="fa
                        fa-angle-left"></i>Précédent</button>
                        <button type="button" class="btn btn-success btn-sm btn-next" data-last="TERMINER"
                                >Suivant<i class="fa fa-angle-right"></i>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

