{% extends 'AgroBundle:Itkitl:layout.html.twig' %}
{% block content  %}
    <br>
    <div class="col-lg-12 col-sm-12 col-xs-12" style="padding-left: 2%; padding-right: 2%">
        <div class="widget flat radius-bordered">
            <div class="widget-header bg-palegreen">
                <span class="widget-caption">Instruction localisée N° {{ itkitl.id }}</span>
                <span style="color: #ffffff; margin-right: 10%; font-weight: bold "> Date de création : {{ itkitl.dATECREATION|date('d-m-Y') }}    </span>
                <div class="widget-buttons buttons-bordered">
                    <button class="btn btn-danger btn-sm" onclick="window.location.href='{{ path
                    ('instructionlocalise') }}'"><i class="fa fa-arrow-left"></i>Retour</button>
                </div>
                <div class="widget-buttons buttons-bordered">
                    <button class="btn btn-default btn-sm"  onclick=" annuleritkitl({{ itkitl.id }})">
                        ANNULER
                    </button>
                </div>
                <div class="widget-buttons buttons-bordered">
                    <a class="btn btn-warning " href='{{ path
                    ('imprimeritkitl',{"id": itkitl.id}) }}' target="_blank"> &nbsp;&nbsp;
                        <i class="fa fa-print"></i> IMPRIMER &nbsp;&nbsp;
                    </a>
                </div>
                <div class="messageflashok">
                    {% for flashMessage in app.session.flashbag.get('noticeok') %}

                        <p style="color: green">{{ flashMessage }}
                            <i class="fa fa-check-circle" aria-hidden="true"></i>
                        </p>

                    {% endfor %}
                </div>
            </div>
            {# START MODALS #}
            <div id="modal-success-cancel-itkitl" class="modal modal-message modal-success fade" style="display: none;"
                 aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <i class="glyphicon glyphicon-check"></i>
                        </div>
                        <div class="modal-title">Succès</div>
                        <div class="modal-body">L'instruction a bien été annulée !</div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-success" data-dismiss="modal">OK</button>
                        </div>
                    </div> <!-- / .modal-content -->
                </div> <!-- / .modal-dialog -->
            </div>
            {#END MODALS#}
            <div class="widget-body">
                <div class="messageflasherror">
                    {% for flashMessage in app.session.flashbag.get('notice') %}

                        <p style="color: red">{{ flashMessage }}</p>

                    {% endfor %}
                </div>
                <div id="WiredWizard" class="wizard wizard-wired" data-target="#WiredWizardsteps">
                    <ul class="steps">
                        <li data-target="#wiredstep1" class="active"><span class="step">1</span><span
                                    class="title">Informations générales</span><span class="chevron"></span></li>
                        <li data-target="#wiredstep2"><span class="step">2</span><span
                                    class="title">Phyto / Intrants</span>
                            <span class="chevron"></span></li>
                        <li data-target="#wiredstep3"><span class="step">3</span><span class="title">Materiel / EPI
                        / Cibles </span> <span class="chevron"></span></li>
                    </ul>
                </div>
                <div class="step-content" id="WiredWizardsteps" style="height: auto">
                    <div class="row" style="; padding-right: 3%; ">
                        <div class="step-pane active" id="wiredstep1">
                            <div class="form-horizontal">
                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4" style="text-align:left">
                                        <div class="form-group">
                                            <label for="" class="col-sm-5 control-label">Ferme :</label>
                                            <div class="col-sm-7" >
                                                <input style="background: lightgrey" class="col-sm-12 form-control" id=""
                                                       type="text" value="{{ ferme }}"
                                                       disabled />
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="" class="col-sm-5 control-label">UTL :</label>
                                            <div class="col-sm-7">
                                                <input style="background: lightgrey" class="col-sm-12 form-control" id="cc"
                                                       type="text" value="{{ utl }}"
                                                       disabled />
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="" class="col-sm-5 control-label">Prescripteur phyto :</label>
                                            <div class="col-sm-7">
                                                {{ form_widget(edit_form.pRESCRIPTEURID, {'attr': {'class':
                                                    'form-control', 'disabled':'disabled'}}) }}
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="" class="col-sm-5 control-label">Applicateur :</label>
                                            <div class="col-sm-7">
                                                {{ form_widget(edit_form.aPPLICATEURID, {'attr': {'class':
                                                    'form-control', 'disabled':'disabled'}}) }}
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-4 col-md4 col-sm-4 col-xs-4" style="text-align:left " >
                                        <div class="form-group" id="datep">
                                            <label for="" class="col-sm-5 control-label">Date instruction :</label>
                                            <div class="col-sm-7">
                                                <div class="input-group">
                                                    {{ form_widget(edit_form.dATEP, {'attr': {'class': 'form-control', 'disabled':'disabled'}}) }}
                                                    <span class="input-group-addon">
                                                        <i class="fa fa-calendar"></i>
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="" class="col-sm-5 control-label">Durée (j) :</label>
                                            <div class="col-sm-7">
                                                {{ form_widget(edit_form.dUREE, {'attr': {'class': 'form-control', 'disabled':'disabled'}}) }}
                                            </div>
                                        </div>
                                        <div class="form-group" id="datepfin">
                                            <label for="" class="col-sm-5 control-label">Date fin :</label>
                                            <div class="col-sm-7">
                                                <div class="input-group">
                                                    {{ form_widget(edit_form.dATEPFIN, {'attr': {'class': 'form-control',
                                                        'disabled':'disabled'}}) }}
                                                    <span class="input-group-addon">
                                                        <i class="fa fa-calendar"></i>
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4" style="text-align:left ">
                                        <div class="form-group">
                                            <label for="" class="col-sm-5 control-label">Culture :</label>
                                            <div class="col-sm-7">
                                                <div class="input-group">
                                                    <input style="background: lightgrey" class="col-sm-12 form-control" id="cultureutl"
                                                           type="text" value="{{ culture }}" disabled />
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="" class="col-sm-5 control-label">Unite :</label>
                                            <div class="col-sm-7">
                                                <div class="input-group">
                                                    <input style="background: lightgrey" class="col-sm-12 form-control"
                                                           id="uniteutl"  type="text" value="{{ itkitl.uNITELOT }}"
                                                           disabled>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="" class="col-sm-5 control-label">LOT :</label>
                                            <div class="col-sm-7">
                                                <div class="input-group">
                                                    <input style="background: lightgrey" class="col-sm-12 form-control"
                                                           id=""  type="text" value="{{ itkitl.lOTNO }}"
                                                           disabled>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="" class="col-sm-5 control-label">Bouillie :</label>
                                            <div class="col-sm-7">
                                                <div class="input-group">
                                                    <input class="col-sm-12 form-control"
                                                           id="bouillieutl" type="text" value="{{ itkitl.bOUILLIE }}" disabled>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="" class="col-sm-5 control-label">Quantité :</label>
                                            <div class="col-sm-7">
                                                <input class="col-sm-12 form-control" id="qteutl"
                                                       type="text" value="{{ itkitl.qTELOT }}" disabled/>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row" style="padding-right: 3%; padding-left: 3% ">
                        <div class="step-pane" id="wiredstep2">
                            <div class="form-title">
                                Ajouter phyto / intrants :
                            </div>
                            <div class="row">
                                <div style="margin-left: 5%; margin-right: 5%;">
                                    <div class="widget flat radius-bordered">
                                        <div class="widget-header bg-palegreen">
                                            <span class="widget-caption">Liste des intrants de traitement
                                                localisé</span>
                                        </div>
                                        <div class="widget-body">
                                            <div >
                                                <table class="table table-bordered table-hover " id="" >
                                                    <thead class="bordered-darkorange">
                                                    <tr role="row">
                                                        <th >Rang</th>
                                                        <th >Intrant</th>
                                                        <th >Dose</th>
                                                        <th >Unité</th>
                                                        <th >Bouillie</th>
                                                        <th >Qté totale</th>
                                                        <th >Commentaire</th>
                                                    </tr>
                                                    </thead>
                                                    <tbody id="tableitkitla">
                                                    {% for rs in itkitla %}
                                                        {% if itkitla|length == 0 %}
                                                            <tr>
                                                        {% else %}
                                                            <tr id="{{ rs.id }}">
                                                        {% endif %}
                                                        <td>{{ rs.RANG }}</td>
                                                        <td>{{ rs.ARTICLE }}</td>
                                                        <td>{{ rs.QTE }}</td>
                                                        <td>{{ rs.UNITE }}</td>
                                                        <td>{{ rs.BOUILLIE }}</td>
                                                        <td>{{ rs.QTETOT }}</td>
                                                        <td>{{ rs.COMMENTAIRE }}</td>
                                                        </tr>
                                                    {% endfor%}
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <br><br>
                        </div>
                    </div>
                    <div class="row" style="padding-right: 3%; padding-left: 3% ">
                        <div class="step-pane" id="wiredstep3">
                            <div class="form-title">
                                Ajouter Materiel / EPI / Cibles :
                            </div>
                            <div class="form-horizontal">
                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                    <div class="col-lg-5 col-md-5 col-sm-5 col-xs-5" style="text-align:left; ">
                                        <br><br>
                                        <div class="form-group" >
                                            <label for="" class="col-sm-5 control-label">Tracteur :</label>
                                            <div class="col-sm-7" >
                                                <input type="hidden" id="materielepi" style="width: 100%" disabled/>
                                                <input type="hidden" id="materiel1" value="{{ materiel }}" style="width:
                                                100%" />
                                                <input type="hidden" id="materiel2" style="width: 100%"/>
                                                <input type="hidden" id="materielidepi" style="width: 100%" value="{{ itkitl
                                                .mATERIELID }}"/>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="" class="col-sm-5 control-label">Appareil traitement :</label>
                                            <div class="col-sm-7" >
                                                <input type="hidden" id="appareil" style="width: 100%" disabled/>
                                                <input type="hidden" id="appareil1" value="{{ appareil }}" style="width: 100%"/>
                                                <input type="hidden" id="appareil2" style="width: 100%"/>
                                                <input type="hidden" id="appareilid" style="width: 100%" value="{{ itkitl
                                                .aPPAREILID }}"/>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="" class="col-sm-5 control-label">Chauffeur / Opérateur :</label>
                                            <div class="col-sm-7" >
                                                {{ form_widget(edit_form.cHAUFFEURID, {'attr': {'class':
                                                    'form-control', 'disabled':'disabled'}}) }}
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="" class="col-sm-5 control-label">Mode d'application :</label>
                                            <div class="col-sm-7" >
                                                {{ form_widget(edit_form.mODEAPPLICATION, {'attr': {'class': 'form-control', 'disabled':'disabled'}}) }}
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1" style="text-align:left">
                                    </div>
                                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6" style="text-align:left">
                                        <div class="form-horizontal"
                                             style="background-image: url('http://localhost/pgiweb/web/images/clim.png');
                                             background-size: 85%; background-repeat: no-repeat" >
                                            <br><br>
                                            <div class="form-group" >
                                                <label for="" class="col-sm-5 control-label">Vent (km/h) :</label>
                                                <div class="col-sm-3" >
                                                    {{ form_widget(edit_form.vENT, {'attr': {'class':
                                                        'form-control','disabled':'disabled'}}) }}
                                                </div>
                                            </div>
                                            <div class="form-group" >
                                                <label for="" class="col-sm-5 control-label">Température (°C)
                                                    :</label>
                                                <div class="col-sm-3" >
                                                    {{ form_widget(edit_form.tEMPERATURE, {'attr': {'class':
                                                        'form-control','disabled':'disabled'}}) }}
                                                </div>
                                            </div>
                                            <div class="form-group" >
                                                <label for="" class="col-sm-5 control-label">Humidité (%)
                                                    :</label>
                                                <div class="col-sm-3" >
                                                    {{ form_widget(edit_form.hUMIDITE, {'attr': {'class':
                                                        'form-control','disabled':'disabled'}}) }}
                                                </div>
                                            </div>
                                            <div class="form-group" >
                                                <label for="" class="col-sm-5 control-label">Pluie :</label>
                                                <div class="col-sm-3" >
                                                    {{ form_widget(edit_form.pLUIE, {'attr': {'class':
                                                        'form-control','disabled':'disabled'}}) }}
                                                </div>
                                            </div>
                                            <br>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-title">
                                    .
                                </div>
                                <div class="form-horizontal">
                                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                                        <div class=" col-lg-9 col-md-9 col-sm-9 col-xs-9" >
                                            <div class="form-title" style="color: #003300">
                                                Liste des EPI
                                            </div>
                                            <div class="row">
                                                <div style="margin-left: 5%; margin-right: 5%;">
                                                    <div class="widget flat radius-bordered">
                                                        <div class="widget-body">
                                                            <div >
                                                                <table class="table table-bordered table-hover " id="" >
                                                                    <thead class="bordered-darkorange">
                                                                    <tr role="row">
                                                                        <th >Libellé</th>
                                                                    </tr>
                                                                    </thead>
                                                                    <tbody id="tableepi">
                                                                    {% for rs in itkitlepi %}
                                                                        <tr id="{{ rs['EPIID'] }}">
                                                                            <td>{{ rs['EPI'] }}</td>
                                                                        </tr>
                                                                    {% endfor%}
                                                                    </tbody>
                                                                </table>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                                        <div class=" col-lg-9 col-md-9 col-sm-9 col-xs-9" style="text-align:left; padding-left: 5%">
                                            <div class="form-title" style="color: #003300">
                                                Liste des Cibles
                                            </div>
                                            <div class="row">
                                                <div style="margin-left: 5%; margin-right: 5%;">
                                                    <div class="widget flat radius-bordered">
                                                        <div class="widget-body">
                                                            <div >
                                                                <table class="table table-bordered table-hover " id="" >
                                                                    <thead class="bordered-darkorange">
                                                                    <tr role="row">
                                                                        <th >Libellé</th>
                                                                    </tr>
                                                                    </thead>
                                                                    <tbody id="tablecible">
                                                                    {% for rs in itkitlcible %}
                                                                        <tr id="{{ rs['CIBLEID'] }}">
                                                                            <td>{{ rs['CIBLE'] }}</td>
                                                                        </tr>
                                                                    {% endfor%}
                                                                    </tbody>
                                                                </table>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <br><br><br><br><br>
                </div>
                <div class="actions actions-footer" id="WiredWizard-actions">
                    <div class="btn-group" >
                        <button type="button" class="btn btn-default btn-sm btn-prev"> <i class="fa
                        fa-angle-left"></i>Précédent</button>
                        <button id="finishitkitl" type="button" class="btn btn-success btn-sm btn-next"
                                data-last="TERMINER"
                        >Suivant<i class="fa fa-angle-right"></i>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

