<page backtop="20mm">
    <page_header>
        <table style="width: 100%; border-collapse: collapse; border: 1px solid black; table-layout: fixed">
            <tr>
                <td style="width: 50%; " >
                    <img src="{{ asset('http://localhost/pgiweb/web/images/logoSCL-mais.png')}}"  style="max-width: 30%;
                height: auto; ">
                </td>
                <td style="width: 50%; text-align: right; color: #00632E; font-weight: bold " >
                    {{ date }}
                </td>
            </tr>
        </table>
    </page_header>
    <div align="center">
        <h2 style="color: #00632E">FICHE D'INSTRUCTION LOCALISEE N° <b>{{ itkitlentity.id }}
            </b>
        </h2>
    </div>
    <hr style="height: 5px; background: #00632E"/>
    <div style="background-color: #00632E; text-align: center; height: 50px"  >
        {#<img src="{{ asset('http://localhost/pgiweb/web/images/semer.png')}}"  width="100">#}
    </div>
    <hr style="height: 5px; background: #00632E"/>
    <br>
    <table style="width: 100%; border-collapse: collapse; padding-top: -20px ">
        <tr style="background:#c5c5c5 ">
            <td  style="width: 50%; border: 2px #00632E; text-align: justify; padding-right: 10px; padding-left:
             10px; padding-bottom: 10px; " >
                <p style="padding-bottom: -15px">Prescripteur : <b style="color: #00632E">{{itkitl.PRENOMP }} {{ itkitl.NOMP }}</b></p>
            </td>
            <td  style="width: 50%; border: 2px #00632E; text-align: justify; padding-right: 10px; padding-left:
             10px; padding-bottom: 10px; " >
                <p style="">Signature : &nbsp;&nbsp;&nbsp;
                <div style="border: 1px solid black; height: 50px; width: 200px; " >
                </div>
                </p>
            </td>
        </tr>
    </table>
    <table style="width: 100%; border-collapse: collapse; border: 1px solid black; padding-top: 2px; background: #c5c5c5">
        <tr style=" ">
            <td  style="width: 30%; border: 2px #00632E; text-align: justify; padding-right: 10px; padding-left:
            10px; padding-bottom: 10px; " >
                <p style="padding-bottom: -15px; ">Site : <b style="color: #00632E">{{ itkitl.SITE  }}</b></p>
                <p style="padding-bottom: -15px">Ferme : <b style="color: #00632E">{{  itkitl.FERME }}</b></p>
                <p style="padding-bottom: -15px">UTL : <b style="color: #00632E">{{itkitl.UTL }}</b></p>
                <p style="padding-bottom: -15px">Culture : <b style="color: #00632E">{{itkitl.CULTURE }}</b></p>
            </td>
            <td  style="width: 30%; border: 2px #00632E; text-align: justify; padding-right: 10px; padding-bottom:
            10px;  padding-left: 10px;" >
                <p style="padding-bottom: -15px">Bouillie : <b style="color: #00632E">{{ itkitlentity
                        .bOUILLIE}}</b></p>
                <p style="padding-bottom: -15px">Date début : <b style="color: #00632E">{{ itkitlentity.DATEP|date('d/m/Y') }}</b></p>
                <p style="padding-bottom: -15px">Date fin : <b style="color: #00632E">{{ itkitlentity.DATEPFIN|date('d/m/Y')}}</b></p>
            </td>
            <td  style="width: 40%; border: 2px #00632E; text-align: justify; padding-right: 10px; padding-bottom:
            10px;  padding-left: 10px;" >
                <p style="padding-bottom: -15px">LOT : <b style="color: #00632E">{{ itkitlentity.lOTNO }}</b></p>
                <br>
                <table style="width: 100%; border-collapse: collapse; border: 1px solid black;  background:#c5c5c5">
                    <tr>
                        <td style="border-right: 2px #00632E; border-bottom: 2px #00632E; text-align: justify; "></td>
                        <td  style=" border: 2px #00632E; text-align: center; padding-right: 10px; padding-left:
            10px; " >
                            <p style="">Quantité</p>
                        </td>
                        <td  style=" border: 2px #00632E; text-align: center; padding-right: 10px;  padding-left: 10px;" >
                            <p style="">Unité</p>
                        </td>
                    </tr>
                    <tr>
                        <td style="width: 25%; border: 2px #00632E; text-align: justify; padding-right: 10px; padding-left:
            10px; font-weight: bold">Prévu</td>
                        <td  style="width: 25%; border: 2px #00632E; text-align: justify; padding-right: 10px; padding-left:
            10px; " >
                            <p style=" "><b style="color: #00632E">{{ itkitlentity.qTELOT }}</b></p>
                        </td>
                        <td  style="width: 25%; border: 2px #00632E; text-align: justify; padding-right: 10px;  padding-left: 10px;" >
                            <p style=""><b style="color: #00632E">{{ itkitlentity.uNITELOT }}</b></p>
                        </td>
                    </tr>
                    <tr >
                        <td style="border: 2px #00632E; text-align: justify; padding-right: 10px; padding-left:
            10px;  height: 20px; font-weight: bold">Réalisé</td>
                        <td  style="border: 2px #00632E; text-align: justify; padding-right: 10px; padding-left:
            10px;  " >
                            <p style=" "><b style="color: #00632E"></b></p>
                        </td>
                        <td  style="border: 2px #00632E; text-align: justify; padding-right: 10px;  padding-left: 10px;" >
                            <p style=""><b style="color: #00632E">{{  itkitlentity.uNITELOT }}</b></p>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
    <br>
    <table style="width: 100%; border-collapse: collapse; ">
        <tr style="background:#c5c5c5; width: 100% ">
            <td  style="border: 2px #00632E; text-align: justify; padding-right: 10px; padding-left:
             10px; padding-bottom: 10px; width: 100% " >
                <p style="padding-bottom: -15px">Cibles concernées par cette instruction : <b style="color: #00632E">{{cibles }}</b></p>
            </td>
        </tr>
    </table>
    <hr style="border: 1px dashed #00632E" />
    <h3 style="color: #00632E"> Intrants</h3>
    {% set i =0 %}
    {% for itkitla in itkitla %}
        <table style="width: 70%; border-collapse: collapse; border: 1px solid black; padding-top: 2px; background:
        #f6f6f6">
            <tr>
                <td style="border-right: 2px #00632E; border-bottom: 2px #00632E; text-align: justify; padding-right: 10px;
            padding-left: 10px; padding-bottom: 10px"></td>
                <td  style=" border: 2px #00632E; text-align: center; padding-right: 10px; padding-left:
            10px; padding-bottom: 10px; " >
                    <p style="padding-bottom: -15px; ">Intrant {{ i+1 }}</p>
                </td>
                <td  style=" border: 2px #00632E; text-align: center; padding-right: 10px; padding-left:
            10px; padding-bottom: 10px; " >
                    <p style="padding-bottom: -15px; ">{{ itkitlatype[i] }}</p>
                </td>
                <td  style=" border: 2px #00632E; text-align: center; padding-right: 10px; padding-bottom:
            10px;  padding-left: 10px;" >
                    <p style="padding-bottom: -15px">Dose</p>
                </td>
                <td  style=" border: 2px #00632E; text-align: center; padding-right: 10px; padding-bottom:
            10px;  padding-left: 10px;" >
                    <p style="padding-bottom: -15px">Unité</p>
                </td>
                <td  style=" border: 2px #00632E; text-align: center; padding-right: 10px; padding-bottom:
            10px;  padding-left: 10px;" >
                    <p style="padding-bottom: -15px">Qté totale</p>
                </td>
                <td  style=" border: 2px #00632E; text-align: center; padding-right: 10px; padding-bottom:
            10px;  padding-left: 10px;" >
                    <p style="padding-bottom: -15px; font-weight: bold">Nom et signature magasinier</p>
                </td>
            </tr>
            <tr>
                <td style="width: 15%; border: 2px #00632E; text-align: justify; padding-right: 10px; padding-left:
            10px; padding-bottom: 10px">Prévu</td>
                <td colspan="2"  style="width: 40%; border: 2px #00632E; text-align: justify; padding-right: 10px;
                padding-left:
            10px; padding-bottom: 10px; " >
                    <p style="padding-bottom: -15px; "><b style="color: #00632E">{{ itkitla['ARTICLE'] }}</b></p>
                </td>
                <td  style="width: 15%; border: 2px #00632E; text-align: justify; padding-right: 10px; padding-bottom:
            10px;  padding-left: 10px;" >
                    <p style="padding-bottom: -15px"><b style="color: #00632E">{{ itkitla['QTE'] }}</b></p>
                </td>
                <td  style="width: 15%; border: 2px #00632E; text-align: justify; padding-right: 10px; padding-bottom:
            10px;  padding-left: 10px;" >
                    <p style="padding-bottom: -15px"><b style="color: #00632E">{{ itkitla['UNITE'] }}</b></p>
                </td>
                <td  style="width: 15%; border: 2px #00632E; text-align: justify; padding-right: 10px; padding-bottom:
            10px;  padding-left: 10px;" >
                    <p style="padding-bottom: -15px"><b style="color: #00632E">{{ itkitla['QTETOT'] }}</b></p>
                </td>
                <td rowspan="2"  style="width: 15%; border: 2px #00632E; text-align: justify; padding-right: 10px; padding-bottom:
            10px;  padding-left: 10px;" >
                    <p style="padding-bottom: -15px"><b style="color: #00632E"></b></p>
                </td>
            </tr>
            <tr >
                <td style="border: 2px #00632E; text-align: justify; padding-right: 10px; padding-left:
            10px; padding-bottom: 10px; height: 20px; font-weight: bold">Réalisé</td>
                <td colspan="2" style="border: 2px #00632E; text-align: justify; padding-right: 10px; padding-left:
            10px; padding-bottom: 10px; " >
                    <p style="padding-bottom: -15px; "></p>
                </td>
                <td  style="border: 2px #00632E; text-align: justify; padding-right: 10px; padding-bottom:
            10px;  padding-left: 10px;" >
                    <p style="padding-bottom: -15px"></p>
                </td>
                <td  style=" border: 2px #00632E; text-align: justify; padding-right: 10px; padding-bottom:
            10px;  padding-left: 10px;" >
                    <p style="padding-bottom: -15px"></p>
                </td>
                <td  style="border: 2px #00632E; text-align: justify; padding-right: 10px; padding-bottom:
            10px;  padding-left: 10px;" >
                    <p style="padding-bottom: -15px"></p>
                </td>
            </tr>
        </table>

        {% set i = i + 1 %}
    {% endfor %}
    <page_footer>
        <table style="width: 100%; border-collapse: collapse; border: 1px solid black; table-layout: fixed">
            <tr>
                <td style="width: 80%; color: #00632E; padding-bottom: -60px " >
                    www.scl.sn
                </td>
                <td style="width: 20%; text-align: right; color: #313131; padding-bottom: -60px " >
                    Page 1 sur 2
                </td>
            </tr>
        </table>
    </page_footer>
</page>
<page backtop="20mm">
    <page_header>
        <table style="width: 100%; border-collapse: collapse; border: 1px solid black; table-layout: fixed">
            <tr>
                <td style="width: 50%; " >
                    <img src="{{ asset('http://localhost/pgiweb/web/images/logoSCL-mais.png')}}"  style="max-width: 30%;
                height: auto; ">
                </td>
                <td style="width: 50%; text-align: right; color: #00632E; font-weight: bold " >
                    {{ date }}
                </td>
            </tr>
        </table>

    </page_header>
    <div align="center">
        <h2 style="color: #00632E">FICHE D'INSTRUCTION LOCALISEE N° <b>{{ itkitl.id }}
            </b>
        </h2>
    </div>
    <hr style="height: 5px; background: #00632E"/>
    <div style="background-color: #00632E; text-align: center; height: 20px"  >
        {#<img src="{{ asset('http://localhost/pgiweb/web/images/semer.png')}}"  width="100">#}
    </div>
    <hr style="height: 5px; background: #00632E"/>
    <h3 style="color: #00632E"> Bon d'application</h3>
    <br>
    <table style="width: 22%; border-collapse: collapse; border: 1px solid black; padding-top: 2px;
                background: #f6f6f6">
        <tr>
            <td style="border-right: 2px #00632E; border-bottom: 2px #00632E; text-align: justify; padding-right: 10px;
            padding-left: 10px; padding-bottom: 10px; width: 20%"></td>
            <td style="border: 2px #00632E; text-align: justify; padding-right: 10px;
                padding-left: 10px; padding-bottom: 10px; font-weight: bold; width: 20%">Consigne</td>
            <td style="border: 2px #00632E; text-align: justify; padding-right: 10px;
                padding-left: 10px; padding-bottom: 10px; font-weight: bold; width: 40%">Réalisé</td>
            <td style="border: 2px #00632E; text-align: justify; padding-right: 10px;
                padding-left: 10px; padding-bottom: 10px; font-weight: bold; width: 15%">CTR Début</td>
            <td style="border: 2px #00632E; text-align: justify; padding-right: 10px;
                padding-left: 10px; padding-bottom: 10px; font-weight: bold; width: 15%">CTR Fin</td>
        </tr>
        <tr style=" border: 2px #00632E; padding-right: 10px; padding-bottom:
        10px;  padding-left: 10px;" >
            <td style="border: 2px #00632E; width: 90%">
                <p style="padding-bottom: -15px; padding-left: 10px"> Code tracteur </p>
            </td>
            <td style="border: 2px #00632E; width: 90%">
                <p style="padding-bottom: -15px; padding-left: 10px"><b style="color: #00632E">{{ itkitl.MATERIEL }}</b></p>
            </td>
            <td style="border: 2px #00632E; width: 90%"></td>
            <td style="border: 2px #00632E; width: 90%"></td>
            <td style="border: 2px #00632E; width: 90%"></td>
        </tr>
        <tr style=" border: 2px #00632E; padding-right: 10px; padding-bottom:
        10px;  padding-left: 10px;" >
            <td style="border: 2px #00632E; width: 90%">
                <p style="padding-bottom: -15px; padding-left: 10px"> Appareil de traitement </p>
            </td>
            <td style="border: 2px #00632E; width: 90%">
                <p style="padding-bottom: -15px; padding-left: 10px"><b style="color: #00632E">{{ itkitl.APPAREIL }}</b></p>
            </td>
            <td style="border: 2px #00632E; width: 90%"></td>
            <td style="border: 2px #00632E; width: 90%"></td>
            <td style="border: 2px #00632E; width: 90%"></td>
        </tr>
        <tr  style=" border: 2px #00632E; padding-right: 10px; padding-bottom:
        10px;  padding-left: 10px;" >
            <td style="border: 2px #00632E; width: 90%">
                <p style="padding-bottom: -15px; padding-left: 10px"> Chauffeur / Opérateur</p>
            </td>
            <td style="border: 2px #00632E; width: 90%">
                <p style="padding-bottom: -15px; padding-left: 10px"><b style="color: #00632E">{{ itkitl.PRENOMC }} {{ itkitl.NOMC }}</b></p>
            </td>
            <td style="border: 2px #00632E; width: 90%"></td>
            <td style="border-top: 2px #00632E; border-left: 2px #00632E; width: 90%"></td>
            <td style="border-top: 2px #00632E; width: 90%"></td>
        </tr>
        <tr  style=" border: 2px #00632E; padding-right: 10px; padding-bottom:
        10px;  padding-left: 10px;" >
            <td style="border: 2px #00632E; width: 90%">
                <p style="padding-bottom: -15px; padding-left: 10px"> Applicateur</p>
            </td>
            <td style="border: 2px #00632E; width: 90%">
                <p style="padding-bottom: -15px; padding-left: 10px"><b style="color: #00632E">{{ itkitl.PRENOMA }} {{ itkitl.NOMA }}</b></p>
            </td>
            <td style="border: 2px #00632E; width: 90%"></td>
            <td style="border-left: 2px #00632E; width: 90%"></td>
            <td style=" width: 90%"></td>
        </tr>
        <tr  style=" border: 2px #00632E; padding-right: 10px; padding-bottom:
        10px;  padding-left: 10px;" >
            <td style="border: 2px #00632E; width: 90%">
                <p style="padding-bottom: -15px; padding-left: 10px"> Mode d'application </p>
            </td>
            <td style="border: 2px #00632E; width: 90%">
                <p style="padding-bottom: -15px; padding-left: 10px"><b style="color: #00632E">{{ itkitlentity.mODEAPPLICATION }}</b></p>
            </td>
            <td style="border: 2px #00632E; width: 90%"></td>
            <td style="border-left: 2px #00632E; width: 90%"></td>
            <td style="width: 90%"></td>
        </tr>
    </table>
    <br>
    <table>
        <tr>
            <td style="width: 50%">
                <table style="width: 30%; border-collapse: collapse; border: 1px solid black; padding-top: 2px;
                background: #f6f6f6">
                    <tr>
                        <td style="border: 2px #00632E; text-align: justify; padding-right: 10px;
    padding-left: 10px; padding-bottom: 10px; font-weight: bold">VOLUME DE BOUILLIE</td>
                        <td style="border: 2px #00632E; text-align: justify; padding-right: 10px;
    padding-left: 10px; padding-bottom: 10px; font-weight: bold">Consigne</td>
                        <td style="border: 2px #00632E; text-align: justify; padding-right: 10px;
    padding-left: 10px; padding-bottom: 10px; font-weight: bold;">Réalisé</td>
                    </tr>
                    <tr style=" border: 2px #00632E; padding-right: 10px; padding-bottom:
10px;  padding-left: 10px;" >
                        <td style="border: 2px #00632E; ">
                            <p style="padding-bottom: -15px; padding-left: 10px"> Bouillie totale à appliquer (L) </p>
                        </td>
                        <td style="border: 2px #00632E; ">
                            <p style="padding-bottom: -15px; padding-left: 10px">{{ itkitlentity.bOUILLIE }}</p>
                        </td>
                        <td style="border: 2px #00632E; "></td>
                    </tr>
                </table>
            </td>
            <td style="width: 10%"></td>
            <td style="width: 40%; padding-left: 30px">
                <br>
                <table style="width: 100%; border-collapse: collapse; border: 1px solid black;  background: #f6f6f6">
                    <tr>
                        <td style="border-right: 2px #00632E; border-bottom: 2px #00632E; text-align: justify; padding-right: 10px;
            padding-left:
            10px; "></td>
                        <td  style=" border: 2px #00632E; text-align: center; padding-right: 10px; padding-left:
            10px; " >
                            <p style=" ">Début semis</p>
                        </td>
                        <td  style=" border: 2px #00632E; text-align: center; padding-right: 10px; padding-left: 10px;" >
                            <p style="">Fin semis</p>
                        </td>
                    </tr>
                    <tr>
                        <td style="width: 25%; border: 2px #00632E; text-align: justify; padding-right: 10px; padding-left:
            10px; font-weight: bold">Date</td>
                        <td  style="width: 25%; border: 2px #00632E; text-align: justify; padding-right: 10px; padding-left:
            10px; " >
                            <p style="padding-bottom: -15px; "><b style="color: #00632E">..../..../....</b></p>
                        </td>
                        <td  style="width: 25%; border: 2px #00632E; text-align: justify; padding-right: 10px; padding-left: 10px;" >
                            <p style="padding-bottom: -15px"><b style="color: #00632E">..../..../....</b></p>
                        </td>
                    </tr>
                    <tr >
                        <td style="border: 2px #00632E; text-align: justify; padding-right: 10px; padding-left:
            10px; height: 20px; font-weight: bold">Heure</td>
                        <td  style="border: 2px #00632E; text-align: justify; padding-right: 10px; padding-left:
            10px; " >
                            <p style=" "><b style="color: #00632E">......h......</b></p>
                        </td>
                        <td  style="border: 2px #00632E; text-align: justify; padding-right: 10px; padding-left: 10px;" >
                            <p style=""><b style="color: #00632E">......h......</b></p>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
    <br>
    <table style="width: 100%; border-collapse: collapse; border: 1px solid black; table-layout: fixed">
        <tr>
            <td style="width: 60%; " >
                <table style="width: 40%; border-collapse: collapse; border: 1px solid black; padding-top: 2px;
                background: #f6f6f6">
                    <tr>
                        <td style="border: 2px #00632E; text-align: justify; padding-right: 10px;
                padding-left: 10px; padding-bottom: 10px; font-weight: bold">Conditions</td>
                        <td style="border: 2px #00632E; text-align: justify; padding-right: 10px;
                padding-left:
                10px; padding-bottom: 10px; font-weight: bold">Consignes</td>
                        <td style="border: 2px #00632E; text-align: justify; padding-right: 10px;
                padding-left:
                10px; padding-bottom: 10px; font-weight: bold; width: 30%">Réalisé</td>
                    </tr>
                    <tr style=" border: 2px #00632E; padding-right: 10px; padding-bottom:
        10px;  padding-left: 10px;" >
                        <td style="border: 2px #00632E; width: 90%">
                            <p style="padding-bottom: -15px; padding-left: 10px"> Vent (km/h) </p>
                        </td>
                        <td style="border: 2px #00632E; width: 90%">
                            <p style="padding-bottom: -15px; padding-left: 10px"><b style="color: #00632E">{{ itkitlentity.vENT }}</b></p>
                        </td>
                        <td style="border: 2px #00632E; width: 90%"></td>
                    </tr>
                    <tr style=" border: 2px #00632E; padding-right: 10px; padding-bottom:
        10px;  padding-left: 10px;" >
                        <td style="border: 2px #00632E; width: 90%">
                            <p style="padding-bottom: -15px; padding-left: 10px"> Température (°C) </p>
                        </td>
                        <td style="border: 2px #00632E; width: 90%">
                            <p style="padding-bottom: -15px; padding-left: 10px"><b style="color: #00632E">{{ itkitlentity.tEMPERATURE }}</b></p>
                        </td>
                        <td style="border: 2px #00632E; width: 90%"></td>
                    </tr>
                    <tr  style=" border: 2px #00632E; padding-right: 10px; padding-bottom:
        10px;  padding-left: 10px;" >
                        <td style="border: 2px #00632E; width: 90%">
                            <p style="padding-bottom: -15px; padding-left: 10px"> Humidité (%)</p>
                        </td>
                        <td style="border: 2px #00632E; width: 90%">
                            <p style="padding-bottom: -15px; padding-left: 10px"><b style="color: #00632E">{{ itkitlentity.hUMIDITE }}</b></p>
                        </td>
                        <td style="border: 2px #00632E; width: 90%"></td>
                    </tr>
                    <tr  style=" border: 2px #00632E; padding-right: 10px; padding-bottom:
        10px;  padding-left: 10px;" >
                        <td style="border: 2px #00632E; width: 90%">
                            <p style="padding-bottom: -15px; padding-left: 10px"> Pluie </p>
                        </td>
                        <td style="border: 2px #00632E; width: 90%">
                            <p style="padding-bottom: -15px; padding-left: 10px"><b style="color: #00632E">{{ itkitlentity.pLUIE }}</b></p>
                        </td>
                        <td style="border: 2px #00632E; width: 90%"></td>
                    </tr>
                </table>
            </td>
            <td style="width: 10%"></td>
            <td style="width: 30%; " >
                <table style="width: 90%; border-collapse: collapse; border: 1px solid black;
                padding-top: 2px; background: #f6f6f6">
                    <tr>
                        <td  style="border: 2px #00632E; text-align: justify; padding-right: 10px;
                padding-left:
                10px; padding-bottom: 10px; font-weight: bold">Liste des EPI</td>
                    </tr>
                    {% for rs in itkitlepi %}
                        <tr  style=" border: 2px #00632E; padding-right: 10px; padding-bottom:
        10px;  padding-left: 10px;" >
                            <td style="border: 2px #00632E; width: 90%">
                                <p style="padding-bottom: -15px; padding-left: 10px"><b style="color: #00632E">{{ rs['EPI'] }}</b></p>
                            </td>
                        </tr>
                    {% endfor%}
                </table>
            </td>
        </tr>
    </table>
    <hr style="border: 1px dashed #00632E" />
    <br>
    <table style="width: 100%; border-collapse: collapse; background: #c5c5c5; border-radius: 25px; padding-left:
    10px; padding-top: 10px">
        <tr style="">
            <td style="border: 0px #00632E; text-align: justify;padding-top: 15px; padding-bottom: 50px;
            padding-left: 10px;  width: 50%; font-weight: bold; ">
                Nom et Signature Opérateur :
            </td>
            <td style="border: 0px #00632E; text-align: justify; padding-left: 10px; padding-top: 15px;
            padding-bottom: 50px; width: 50%; font-weight: bold; ">
                Nom et Signature Chef de Ferme :
            </td>
        </tr>
        <tr>
            <td colspan="2" style="border: 0px #00632E; padding-top: 15px; padding-bottom: 10px;
            padding-left: 10px;  width:
            50%; font-weight: bold">
                Saisi en réalisé le ............./............./20.......... &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                &nbsp;par : ...................................................................................
            </td>
        </tr>
    </table>
    <page_footer>
        <table style="width: 100%; border-collapse: collapse; border: 1px solid black; table-layout: fixed">
            <tr>
                <td style="width: 80%; color: #00632E; padding-bottom: -60px " >
                    www.scl.sn
                </td>
                <td style="width: 20%; text-align: right; color: #313131; padding-bottom: -60px " >
                    Page 2 sur 2
                </td>
            </tr>
        </table>
    </page_footer>
</page>



