{% extends 'TechniqueBundle:MaterielOR:layout.html.twig' %}
{% block content %}
    <br>
    <div class="col-lg-12 col-sm-12 col-xs-12" style="padding-left: 15%; padding-right: 15%">
        <div class="widget flat radius-bordered">
            <div class="widget-header bg-azure">
                <span class="widget-caption">Configuration d'un nouveau mod&egrave;le</span>
                <div class="widget-buttons buttons-bordered">
                    <button class="btn btn-danger btn-sm" onclick="document.location.href='{{ path('materielor') }}'"><i class="fa fa-arrow-left"></i>Retour</button>
                </div>
                <div class="widget-buttons buttons-bordered">
                    <button class="btn btn-azure btn-sm" onclick="document.location.href='{{ path('ajoutmodele') }}'">Nouveau mod&egrave;le</button>
                </div>
            </div>
            <div class="widget-body">
                <div class="row">
                    <div class="form-horizontal">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <div class="form-title">
                                <a href="{{ path('modifiermodele',{'id':modele.id}) }}" style="color: #00C853">Info.
                                    mod&egrave;le</a>
                            </div>
                            <div class="form-group">
                                <label for="" class="col-sm-4 control-label">NOM MODELE</label>
                                <div class="col-sm-4">
                                    <input type="text" value="{{ modele.lIBELLE }}" class="form-control" disabled/>
                                    <input type="hidden" value="{{ modele.id }}" id="modeleid"/>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="" class="col-sm-4 control-label">MARQUE</label>
                                <div class="col-sm-4">
                                    <input type="text" value="{{ marque.libelle }}" class="form-control" disabled/>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="" class="col-sm-4 control-label">TYPE MATERIEL</label>
                                <div class="col-sm-4">
                                    <input type="text" value="{{ modele.tYPEMATERIEL }}" class="form-control" disabled/>
                                </div>
                            </div>
                            {% if modele.dESCRIPTION != null %}
                                <div class="form-group">
                                    <label for="" class="col-sm-4 control-label">DESCRIPTION</label>
                                    <div class="col-sm-4">
                                        <textarea type="text" class="form-control" rows="5">{{ modele.dESCRIPTION }}</textarea>
                                    </div>
                                </div>
                            {% endif %}

                        </div>
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <div class="form-title">
                                <a href="{{ path('ajoutdocumentmodele', {'id':modele.id}) }}" style="color: #00C853">Modifier les
                                    documents joints &agrave; ce mod&egrave;le</a>
                            </div>
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="padding-left: 20%;">
                                <ul id="the-node">
                                    {% for rs in docmodel %}
                                        {% if rs.getDOCUMENT.Alt == 'pdf' %}
                                            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
                                                <li>
                                                    <p style="display: none">{{ rs.getDOCUMENT.getId() }}</p>
                                                    <p> <a href="{{ asset(rs.getDOCUMENT.getWebPath) }}" target="_blank"><img src="{{ asset('images/pdf.png') }}" title="{{ rs.getDOCUMENT.getName }}" width="70%" ></a></p>

                                                </li>
                                                <p><a  href="{{ asset(rs.getDOCUMENT.getWebPath) }}" target="_blank"><span>{{ rs.getDOCUMENT.getName() }}</span></a></p>
                                            </div>
                                        {% elseif  rs.getDOCUMENT.Alt == 'jpg' or rs.getDOCUMENT.Alt == 'jpeg' %}
                                            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
                                                <li>
                                                    <p style="display: none">{{ rs.getDOCUMENT.getId() }}</p>
                                                    <p> <a href="{{ asset(rs.getDOCUMENT.getWebPath) }}" target="_blank"><img src="{{ asset('images/jpg.ico') }}" title="{{ rs.getDOCUMENT.getName }}" width="80%" ></a></p>

                                                </li>
                                                <p><a  href="{{ asset(rs.getDOCUMENT.getWebPath) }}" target="_blank"><span>{{ rs.getDOCUMENT.getName() }}</span></a></p>
                                            </div>
                                        {% elseif  rs.getDOCUMENT.Alt == 'txt' or rs.getDOCUMENT.Alt == 'html' %}
                                            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
                                                <li>
                                                    <p style="display: none">{{ rs.getDOCUMENT.getId() }}</p>
                                                    <p> <a href="{{ asset(rs.getDOCUMENT.getWebPath) }}" target="_blank"><img src="{{ asset('images/txt.png') }}" title="{{ rs.getDOCUMENT.getName }}" width="80%" ></a></p>

                                                </li>
                                                <p><a  href="{{ asset(rs.getDOCUMENT.getWebPath) }}" target="_blank"><span>{{ rs.getDOCUMENT.getName() }}</span></a></p>
                                            </div>
                                        {% elseif  rs.getDOCUMENT.Alt == 'docx' or rs.getDOCUMENT.Alt == 'doc' %}
                                            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
                                                <li>
                                                    <p style="display: none">{{ rs.getDOCUMENT.getId() }}</p>
                                                    <p> <a href="{{ asset(rs.getDOCUMENT.getWebPath) }}" target="_blank"><img src="{{ asset('images/docx.png') }}" title="{{ rs.getDOCUMENT.getName }}" width="80%" ></a></p>

                                                </li>
                                                <p><a  href="{{ asset(rs.getDOCUMENT.getWebPath) }}" target="_blank"><span>{{ rs.getDOCUMENT.getName() }}</span></a></p>
                                            </div>
                                        {% endif %}
                                    {% endfor %}
                                </ul>

                            </div>
                        </div>
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <div class="form-title">
                                Ajouter Plan d'intervention
                            </div>

                            <form method="post" class="form-horizontal">
                                <div class="messageflasherror" style="color: #cd0000">
                                    {% for flashMessage in app.session.flashbag.get('notice') %}
                                        <p style="color: red"> <i class="fa fa-exclamation-triangle" ></i>  {{ flashMessage
                                            }}</p>
                                    {% endfor %}
                                </div>
                                <div>
                                    {{ form_row(form._token) }}
                                    <div class="form-group">
                                        <label for="" class="col-sm-4 control-label">COMPTEUR</label>
                                        <div class="col-sm-4">
                                            {{ form_widget(form.cOMPTEUR, {'attr': {'class': 'form-control'}}) }}
                                        </div>
                                    </div>
                                </div>
                                <div>
                                    {{ form_row(form1._token) }}
                                    <div class="form-group">
                                        <label for="" class="col-sm-4 control-label">ACTION</label>
                                        <div class="col-sm-4">
                                            {{ form_widget(form1.aCTION, {'attr': {'class': 'form-control'}}) }}
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="" class="col-sm-4 control-label">OPERATION DE MAINTENANCE</label>
                                        <div class="col-sm-4">
                                            {{ form_widget(form1.dESCRIPTION, {'attr': {'class': 'form-control',
                                                'rows':'8'}}) }}
                                        </div>
                                    </div>
                                    <div align="right">
                                        <div style="padding-right: 35%">
                                            <a type="submit" class="btn btn-warning" href="{{ path('ajoutdocumentmodele', {'id':modele.id})
                                            }}"
                                               name="valider"
                                               onClick="this
                                    .disabled=true;this.form.submit();this.value='Patientez...'">Pr&eacute;c&eacute;dent</a>
                                            <input type="submit" class="btn btn-azure" value="Suivant" name="valider"
                                                   onClick="this.disabled=true;this.form.submit();this.value='Patientez...'"/>
                                        </div>
                                    </div>
                                </div>
                            </form>
                            <br>
                            <hr>
                            {% if cptinterventions|length !=0 %}
                                <div style="padding-right: 5%; padding-left: 5%">
                                    <table id="tablegrouping" class="table table-bordered table-hover" >
                                        <thead>
                                        <tr>

                                            <th style="text-align: center">Compteur</th>
                                            <th style="text-align: center">No de l'op&eacute;ration</th>
                                            <th style="text-align: center">Op&eacute;ration de maintenance</th>
                                            <th style="text-align: center">Action</th>
                                            <th width="20%"></th>

                                        </tr>
                                        </thead>
                                        <tbody>
                                        {% for rsalloperations in alloperations %}
                                            <tr>
                                                <td>{{ rsalloperations.cOMPTEUR }}</td>
                                                <td>{{ rsalloperations.id }}</td>
                                                <td>{{ rsalloperations.dESCRIPTION }}</td>
                                                <td>{{ rsalloperations.aCTION }}</td>
                                                <td>
                                                    <a class="btn btn-warning" href="{{ path('modifiercompteurintervention', {'id':rsalloperations.mODELEID,'compteurid':rsalloperations.cOMPTEURINTERVENTIONID} ) }}"><i class="fa fa-pencil"></i></a>
                                                    <a class="btn btn-danger" href="{{ path('supprimercptintervention', {'id':rsalloperations.mODELEID,'compteurid':rsalloperations.cOMPTEURINTERVENTIONID}) }}" onclick="return confirm('Vous &ecirc;tes s&ucirc;r de vouloir supprimer cet compteur')"><i class="fa fa-trash"></i> </a>
                                                    <a class="btn btn-default" href="{{ path('ajoutarticleoperationint', {'id':rsalloperations.mODELEID,'compteurid':rsalloperations.cOMPTEURINTERVENTIONID}) }}" class="btn btn-magenta">Ajouter des articles</a>
                                                </td>
                                            </tr>
                                        {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                                {#<div style="padding-left: 5%; padding-right: 5%">
                                <table class="table table-bordered table-hover" id="tableIdPI">
                                    <thead>
                                    <tr>
                                        <th style="text-align: center">Compteur</th>
                                        <th style="text-align: center">No de l'op&eacute;ration</th>
                                        <th style="text-align: center">Op&eacute;ration de maintenance</th>
                                        <th style="text-align: center">Action</th>
                                        <th width="20%"></th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for rscptinterventions in  cptinterventions %}
                                        <tr>
                                            <td style="display: none">{{ rscptinterventions.id }}</td>
                                            <td>{{ rscptinterventions.cOMPTEUR }}</td>
                                            <td>
                                                {% for rsarrayopinterventions in arrayopinterventions %}
                                                    {% set var = [] %}
                                                    {% for rsarrayopinterventions1 in rsarrayopinterventions  %}
                                                        {% set var = var|merge([rsarrayopinterventions1.cOMPTEURINTERVENTIONID]) %}
                                                    {% if rscptinterventions.id  in var %}
                                                        <ul>
                                                            <li>
                                                                {{ rsarrayopinterventions1.id }}
                                                            </li>
                                                        </ul>
                                                    {% endif %}
                                                    {% endfor %}
                                                {% endfor %}
                                            </td>

                                            <td>
                                                {% for rsarrayopinterventions in arrayopinterventions %}
                                                    {% set var = [] %}
                                                    {% for rsarrayopinterventions1 in rsarrayopinterventions  %}
                                                        {% set var = var|merge([rsarrayopinterventions1.cOMPTEURINTERVENTIONID]) %}
                                                        {% if rscptinterventions.id  in var %}
                                                            <ul>
                                                                <li>
                                                                    {{ rsarrayopinterventions1.dESCRIPTION }}
                                                                </li>
                                                            </ul>
                                                        {% endif %}
                                                    {% endfor %}
                                                {% endfor %}
                                            </td>

                                            <td>
                                                {% for rsarrayopinterventions in arrayopinterventions %}
                                                    {% set var = [] %}
                                                    {% for rsarrayopinterventions1 in rsarrayopinterventions  %}
                                                        {% set var = var|merge([rsarrayopinterventions1.cOMPTEURINTERVENTIONID]) %}
                                                        {% if rscptinterventions.id  in var %}
                                                            <ul>
                                                                <li>
                                                                    {{ rsarrayopinterventions1.aCTION }}
                                                                </li>
                                                            </ul>
                                                        {% endif %}
                                                    {% endfor %}
                                                {% endfor %}
                                            </td>
                                            <td> <a href="{{ path('ajoutarticleoperationint', {'id':modele.id,
                                                    'compteurid':rscptinterventions.id}) }}"
                                                    class="btn
                                            btn-magenta">Ajouter
                                                    des articles</a>
                                                <a href="{{ path('modifiercompteurintervention', {'id':modele.id,
                                                    'compteurid':rscptinterventions.id
                                                }) }}"
                                                   class="btn
                                            btn-warning" title="Modifier"><i class="fa fa-pencil"></i></a>
                                                <a href="{{ path('supprimercptintervention', {'id':modele.id,
                                                    'compteurid':rscptinterventions.id}) }}"
                                                   class="btn
                                                btn-danger" onclick="return confirm
                                                ('Vous ' +
                                                 '&ecirc;tes ' +
                                                 's&ucirc;r de ' +
                                                 'vouloir ' +
                                                    'supprimer cet compteur')"><i class="fa fa-trash"></i> </a>
                                            </td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                                    <br>
                                    <div id="articlesinterventions"></div>
                            </div>#}
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}