<!DOCTYPE html>
<!--
BeyondAdmin - Responsive Admin Dashboard Template build with Twitter Bootstrap 3.3.6
Version: 1.6.0
Purchase: https://wrapbootstrap.com/theme/beyondadmin-adminapp-angularjs-mvc-WB06R48S4
-->

<html xmlns="http://www.w3.org/1999/xhtml">
<!-- Head -->
<head>
    <meta charset="utf-8"/>
    {% block stylesheets %}
        <style>
            table {
                width: 100%;
                border-collapse: collapse;
            }

            table, td, th {
                border: 1px solid black;
                padding: 5px;
            }

            th {
                text-align: left;
            }
        </style>

    {% endblock %}


</head>

{% block javascripts %}
    <script src="{{ asset('assets/js/jquery.min.js') }}"></script>
    <script>
    $(document).ready(function () {

    $("input[type=checkbox]").change(function() {
            alert( $('.checkmaintenance:checked').serialize());
    });
    });
    </script>
{% endblock %}

<body>
{% block body %}
    {% if opinterventions|length != 0 %}
        <div style="padding-right: 2%; padding-left: 2%">
            <table class="table table-bordered table-hover" id="tableIdPI">
                <thead>
                <tr>
                    <th style="text-align: center">Compteur</th>
                    <th width="15%" style="text-align: center">No de l'op&eacute;ration</th>
                    <th style="text-align: center">Op&eacute;ration de maintenance</th>
                    <th style="text-align: center">Action</th>
                    <th width="10%"></th>
                </tr>
                </thead>
                <tbody>
                    {% for rs in  opinterventions %}
                        <tr>
                            <td>{{ rs.cOMPTEUR }}</td>
                            <td>{{ rs.OPERATIONID }}</td>
                            <td>{{ rs.dESCRIPTION }}</td>
                            <td>{{ rs.aCTION }}</td>
                            <td>
                                <div class="col-sm-offset-4">
                                    <div class="checkbox">
                                        <label>
                                            <input type="checkbox" id="checkmaintenance" name="checkmaintenance[]" class="checkmaintenance" value="{{ rs.OPERATIONID }}" checked>
                                            <span class="text"></span>
                                        </label>
                                    </div>
                                </div>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        {% else %}
        <p align="center" style="color:red;">Aucun plan d'intervention li&eacute; &aacute; ce materiel.</p>
        <p align="center">Verifiez si ce materiel est rattachli&eacute; &aacute; un mod&egrave;le sinon cr&eacute;e
            le mod&egrave;le</p>
    {% endif %}
{% endblock %}

</body>
<!--  /Body -->
</html>
