{% extends 'TechniqueBundle:MaterielOR:layout.html.twig' %}
{% block content %}
    <br>
    <div class="col-lg-12 col-sm-12 col-xs-12" style="padding-left: 15%; padding-right: 15%">
        <div class="widget flat radius-bordered">
            <div class="widget-header bg-warning">
                <span class="widget-caption">Modifier la configuration du mod&egrave;le</span>
                <div class="widget-buttons buttons-bordered">
                    <button class="btn btn-danger btn-sm" onclick="document.location.href='{{ path('materielor') }}'"><i class="fa fa-arrow-left"></i>Retour</button>
                </div>
                <div class="widget-buttons buttons-bordered">
                    <button class="btn btn-azure btn-sm" onclick="document.location.href='{{ path('ajoutermodele') }}'">Nouveau mod&egrave;le</button>
                </div>
            </div>
            <div class="widget-body">
                <div class="row">
                    <div class="form-horizontal">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <div class="form-title">
                                <a href="{{ path('modifiermodel',{'id':modele.id}) }}" style="color: #00C853">Info.  mod&egrave;le</a>
                            </div>
                            <div class="form-group">
                                <label for="" class="col-sm-4 control-label">NOM MODELE</label>
                                <div class="col-sm-4">
                                    <input type="text" value="{{ modele.lIBELLE }}" class="form-control" disabled/>
                                    <input type="hidden" value="{{ modele.id }}" id="modeleid"/>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="" class="col-sm-4 control-label">MARQUE</label>
                                <div class="col-sm-4">
                                    <input type="text" value="{{ marque.libelle }}" class="form-control" disabled/>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="" class="col-sm-4 control-label">TYPE MATERIEL</label>
                                <div class="col-sm-4">
                                    <input type="text" value="{{ modele.tYPEMATERIEL }}" class="form-control" disabled/>
                                </div>
                            </div>
                            {% if modele.dESCRIPTION != null %}
                                <div class="form-group">
                                    <label for="" class="col-sm-4 control-label">DESCRIPTION</label>
                                    <div class="col-sm-4">
                                        <textarea type="text" class="form-control" rows="5">{{ modele.dESCRIPTION }}</textarea>
                                    </div>
                                </div>
                            {% endif %}

                        </div>
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <div class="form-title">
                                <a href="{{ path('ajouterdocumentmodele',{'id': modele.id }) }}" style="color: #00C853">Ajouter des documents</a>
                            </div>
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="padding-left: 20%;">
                                <ul id="the-node">
                                    {% for rs in docmodel %}
                                        {% if rs.getDOCUMENT.Alt == 'pdf' %}
                                            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
                                                <li>
                                                    <p style="display: none">{{ rs.getDOCUMENT.getId() }}</p>
                                                    <p> <a href="{{ asset(rs.getDOCUMENT.getWebPath) }}" target="_blank"><img src="{{ asset('images/pdf.png') }}" title="{{ rs.getDOCUMENT.getName }}" width="60%" ></a></p>

                                                </li>
                                                <p><a  href="{{ asset(rs.getDOCUMENT.getWebPath) }}" target="_blank"><span>{{ rs.getDOCUMENT.getName() }}</span></a></p>
                                            </div>
                                        {% elseif  rs.getDOCUMENT.Alt == 'jpg' or rs.getDOCUMENT.Alt == 'jpeg' %}
                                            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
                                                <li>
                                                    <p style="display: none">{{ rs.getDOCUMENT.getId() }}</p>
                                                    <p> <a href="{{ asset(rs.getDOCUMENT.getWebPath) }}" target="_blank"><img src="{{ asset('images/jpg.ico') }}" title="{{ rs.getDOCUMENT.getName }}" width="60%" ></a></p>

                                                </li>
                                                <p><a  href="{{ asset(rs.getDOCUMENT.getWebPath) }}" target="_blank"><span>{{ rs.getDOCUMENT.getName() }}</span></a></p>
                                            </div>
                                        {% elseif  rs.getDOCUMENT.Alt == 'txt' or rs.getDOCUMENT.Alt == 'html' %}
                                            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
                                                <li>
                                                    <p style="display: none">{{ rs.getDOCUMENT.getId() }}</p>
                                                    <p> <a href="{{ asset(rs.getDOCUMENT.getWebPath) }}" target="_blank"><img src="{{ asset('images/txt.png') }}" title="{{ rs.getDOCUMENT.getName }}" width="60%" ></a></p>

                                                </li>
                                                <p><a  href="{{ asset(rs.getDOCUMENT.getWebPath) }}" target="_blank"><span>{{ rs.getDOCUMENT.getName() }}</span></a></p>
                                            </div>
                                        {% elseif  rs.getDOCUMENT.Alt == 'docx' or rs.getDOCUMENT.Alt == 'doc' %}
                                            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
                                                <li>
                                                    <p style="display: none">{{ rs.getDOCUMENT.getId() }}</p>
                                                    <p> <a href="{{ asset(rs.getDOCUMENT.getWebPath) }}" target="_blank"><img src="{{ asset('images/docx.png') }}" title="{{ rs.getDOCUMENT.getName }}" width="60%" ></a></p>

                                                </li>
                                                <p><a  href="{{ asset(rs.getDOCUMENT.getWebPath) }}" target="_blank"><span>{{ rs.getDOCUMENT.getName() }}</span></a></p>
                                            </div>
                                        {% endif %}
                                    {% endfor %}
                                </ul>

                            </div>
                        </div>
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <div class="form-title">
                                <a href="{{ path('planintervention',{'id': modele.id }) }}" style="color: #00C853">Plan d'intervention</a>
                            </div>
                            {{ form_start(edit_form, {'attr': {'class': 'form-horizontal'}}) }}
                            <div class="form-group">
                                <label for="" class="col-sm-4 control-label">COMPTEUR</label>
                                <div class="col-sm-4">
                                    {{ form_widget(edit_form.cOMPTEUR, {'attr': {'class': 'form-control'}}) }}
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="" class="col-sm-4 control-label">ACTION</label>
                                <div class="col-sm-4">
                                    {{ form_widget(edit_form.aCTIONID, {'attr': {'class': 'form-control'}}) }}
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="" class="col-sm-4 control-label">DESCRIPTION DE LA MAINTENANCE</label>
                                <div class="col-sm-4">
                                    {{ form_widget(edit_form.dESCRIPTION, {'attr': {'class': 'form-control', 'rows':'8'}}) }}
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="" class="col-sm-4 control-label">DATE INVALIDE</label>
                                <div class="col-sm-4">
                                    {{ form_widget(edit_form.dATEINVALIDE, {'attr': {'class': 'form-control'}}) }}
                                </div>
                            </div>
                            <div align="right">
                                <div style="padding-right: 35%">
                                    <input type="submit" class="btn btn-warning" value="Modifier" onClick="this.disabled=true;this.form.submit();this.value='Patientez...'"/>
                                    <a class="btn btn-danger" href="{{ path('supprimerplanintervention', {'id' : modele.id, 'idintervention': intervention.id}) }}"> Supprimer</a>
                                    <a class="btn btn-danger" href="{{ path('ajouterarticle', {'id' : modele.id, 'idintervention': intervention.id}) }}"> Ajouter des articles</a>
                                </div>
                            </div>
                            {{ form_rest(edit_form) }}
                            {{ form_end(edit_form) }}
                            <br>
                            <div>
                                <div style="padding-left: 15%; padding-right: 15%">
                                    <table class="table table-bordered">
                                        <thead>
                                        <tr>
                                            <td>Ref Article</td>
                                            <td>D&eacute;signation Article</td>
                                            <td>Quantite</td>
                                            <td>Unite</td>
                                            <td></td>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        {% for rs in interventionarticle %}
                                            <tr>
                                                <td>{{ rs.rEFARTICLE }}</td>
                                                <td>{{ rs.dESARTICLE }}</td>
                                                <td>{{ rs.qUANTITE }}</td>
                                                <td>{{ rs.uNITE }}</td>
                                                <td><a class="btn btn-warning" href="{{ path('modifierarticle', {'id': modele.id, 'idintervention': intervention.id, 'idarticle': rs.id }) }}"><i class="fa fa-pencil" title="Modifier"></i></a>
                                                    <a class="btn btn-danger" onclick="deletearticle({{ rs.id }})"><i class="fa fa-trash-o"></i></a>
                                                </td>
                                            </tr>
                                        {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                                <hr>
                                <br>
                                <div style="padding-left: 15%; padding-right: 15%">
                                    <table id="example" class=" table table-bordered display" cellspacing="0" width="100%">
                                        <thead>
                                        <tr>
                                            <th></th>
                                            <th>Compteur</th>
                                            <th>Action</th>
                                            <th>Description</th>
                                        </tr>
                                        </thead>
                                        <tbody>

                                        </tbody>
                                    </table>
                                </div>

                                </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}