{% extends 'CultureBundle:Culture:layout.html.twig' %}
{% block content %}
    <br>
    <div class="col-lg-12 col-sm-12 col-xs-12" style="padding-left: 15%; padding-right: 15%">
    <div class="widget flat radius-bordered">
        <div class="widget-header bg-azure">
            <span class="widget-caption">Nouvelle culture vari&eacute;t&eacute;</span>
            <div class="widget-buttons buttons-bordered">
                <button class="btn btn-maroon btn-sm" onclick="document.location.href='{{ path('culture') }}'"><i
                            class="fa
                fa-arrow-left" aria-hidden="true"></i>Retour</button>
                <button class="btn btn-azure btn-sm" onclick="document.location.href='{{ path('ajoutculture') }}'">Nouvelle culture vari&eacute;t&eacute;</button>
            </div>
        </div>
        <div class="widget-body">
            <div class="row">
                <div class="form-horizontal">
                    {{ form_start(form, {'attr': {'class': 'form-horizontal'}}) }}
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                                    <div class="form-group">
                                        <label for="" class="col-sm-6 control-label">CULTURE<sup style="color:
                                        red">*</sup></label>
                                        <div class="col-sm-6">
                                            <input type="hidden" id="culturevariete" style="width: 100%"/>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="" class="col-sm-6 control-label">VARIETE<sup style="color:
                                            red">*</sup></label>
                                        <div class="col-sm-6">
                                            <input type="hidden" id="varieteligne" style="width: 100%"/>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="" class="col-sm-6 control-label">LIBELLE<sup style="color:
                                                red">*</sup></label>
                                        <div class="col-sm-6">
                                            {{ form_widget(form.lIBELLE, {'attr': {'class': 'form-control'}}) }}
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="" class="col-sm-6 control-label">CODE VARIETE<sup style="color:
                                                    red">*</sup></label>
                                        <div class="col-sm-6">
                                            {{ form_widget(form.cODEVARIETE, {'attr': {'class': 'form-control'}}) }}
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="" class="col-sm-6 control-label">FAMILLE CULTURE<sup style="color:
                                                        red">*</sup></label>
                                        <div class="col-sm-6">
                                            <input type="hidden" id="familleculture" style="width: 100%"/>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="" class="col-sm-6 control-label">FAMILLE RECOLTE<sup style="color:
                                                red">*</sup></label>
                                        <div class="col-sm-6">
                                            {{ form_widget(form.fAMILLERID, {'attr': {'class': 'form-control'}}) }}
                                        </div>
                                    </div>
                                </div>
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                                    <div class="form-group">
                                        <label for="" class="col-sm-4 control-label">CODE ARTICLE<sup style="color:
                                                    red">*</sup></label>
                                        <div class="col-sm-6">
                                            {{ form_widget(form.cODEARTICLE, {'attr': {'class': 'form-control'}}) }}
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="" class="col-sm-4 control-label">COEF PONDERAL<sup style="color:
                                                    red">*</sup></label>
                                        <div class="col-sm-6">
                                            <div class="checkbox">
                                                <label>
                                                   {# <input type="checkbox">#}
                                                    {{ form_widget(form.sAISIEPOIDSCOEF, {'attr': {'class': 'form-control'}}) }}
                                                    <span class="text"></span>
                                                </label>
                                            </div>
                                            {{ form_widget(form.sAISIEPOIDSCOEF, {'attr': {'class': 'form-control'}}) }}
                                        </div>
                                    </div>
                                </div>
                        </div>
                        <div align="right" style="padding-right: 10%">
                            <input type="submit" class="btn btn-azure" value="Valider" onClick="this.disabled=true;this.form.submit();this.value='Patientez...'"/>
                        </div>
                    {{ form_rest(form) }}
                    {{ form_end(form) }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}