{% extends 'CultureBundle:Culture:layout.html.twig' %}
{% block content %}
    <br>
    <div class="col-lg-12 col-sm-12 col-xs-12" style="padding-left: 15%; padding-right: 15%">
    <div class="widget flat radius-bordered">
        <div class="widget-header bg-warning">
            <span class="widget-caption">Modifer culture vari&eacute;t&eacute;</span>
            <div class="widget-buttons buttons-bordered">
                <button class="btn btn-maroon btn-sm" onclick="document.location.href='{{ path('culture') }}'"><i
                            class="fa
                fa-arrow-left" aria-hidden="true"></i>Retour</button>
                <button class="btn btn-azure btn-sm" onclick="document.location.href='{{ path('ajoutculture') }}'">Nouvelle culture vari&eacute;t&eacute;</button>
            </div>
        </div>
        <div class="widget-body">
            <div class="row">
                <div class="form-horizontal">
                    {{ form_start(edit_form, {'attr': {'class': 'form-horizontal'}}) }}
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                            <div class="form-group">
                                <label for="" class="col-sm-6 control-label">CULTURE<sup style="color:
                                        red">*</sup></label>
                                <div class="col-sm-6">
                                    <input type="hidden" id="culturevariete" style="width: 100%"/>
                                    <input type="hidden" id="nameculturevariete" style="width: 100%" value="{{ culturevariete.lIBELLE }}"/>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="" class="col-sm-6 control-label">VARIETE<sup style="color:
                                            red">*</sup></label>
                                <div class="col-sm-6">
                                    <input type="hidden" id="varieteligne" style="width: 100%"/>
                                    <input type="hidden" id="namevarieteligne" style="width: 100%" value="{{ culturevarieteligne.lIBELLE }}"/>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="" class="col-sm-6 control-label">LIBELLE<sup style="color:
                                                red">*</sup></label>
                                <div class="col-sm-6">
                                    {{ form_widget(edit_form.lIBELLE, {'attr': {'class': 'form-control'}}) }}
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="" class="col-sm-6 control-label">CODE VARIETE<sup style="color:
                                                    red">*</sup></label>
                                <div class="col-sm-6">
                                    {{ form_widget(edit_form.cODEVARIETE, {'attr': {'class': 'form-control'}}) }}
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="" class="col-sm-6 control-label">FAMILLE CULTURE<sup style="color:
                                                        red">*</sup></label>
                                <div class="col-sm-6">
                                    <input type="hidden" id="familleculture" style="width: 100%"/>
                                    <input type="hidden" id="namefamilleculture" style="width: 100%" value="{{ familleculture.lIBELLE }}"/>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="" class="col-sm-6 control-label">FAMILLE RECOLTE<sup style="color:
                                                red">*</sup></label>
                                <div class="col-sm-6">
                                    {{ form_widget(edit_form.fAMILLERID, {'attr': {'class': 'form-control'}}) }}
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="" class="col-sm-6 control-label">DATE INVALIDE<sup style="color:
                                                red">*</sup></label>
                                <div class="col-sm-6">
                                    {{ form_widget(edit_form.dATEINVALIDE, {'attr': {'class': 'form-control'}}) }}
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                            <div class="form-group">
                                <label for="" class="col-sm-4 control-label">CODE ARTICLE<sup style="color:
                                                    red">*</sup></label>
                                <div class="col-sm-6">
                                    {{ form_widget(edit_form.cODEARTICLE, {'attr': {'class': 'form-control'}}) }}
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="" class="col-sm-4 control-label">COEF PONDERAL<sup style="color:
                                                    red">*</sup></label>
                                <div class="col-sm-6">
                                    {% if culture.sAISIEPOIDSCOEF == 0 %}
                                        <div class="checkbox">
                                            <label>
                                                <input type="checkbox" class="colored-success" checked="checked">
                                                <span class="text"></span>
                                            </label>
                                        </div>
                                        {% else %}
                                            <div class="checkbox">
                                                <label>
                                                    <input type="checkbox" class="colored-success">
                                                    <span class="text"></span>
                                                </label>
                                            </div>
                                    {% endif %}
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="" class="col-sm-4 control-label">KG DE RECOLTE PAR HOMME PAR JOUR<sup style="color:
                                                    red">*</sup></label>
                                <div class="col-sm-6">
                                    {{ form_widget(edit_form.kGHOMJR, {'attr': {'class': 'form-control'}}) }}
                                </div>
                            </div>
                        </div>
                    </div>
                    <div align="right" style="padding-right: 10%">
                        <input type="submit" class="btn btn-warning" value="Valider" onClick="this.disabled=true;this.form.submit();this.value='Patientez...'"/>
                    </div>
                    {{ form_rest(edit_form) }}
                    {{ form_end(edit_form) }}
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="form-title">
                        Rendement / kg
                    </div>
                    <div class="tabbable">
                        <ul class="nav nav-tabs nav-justified" id="myTab5">
                            <li class="active">
                                <a data-toggle="tab" href="#tabrend">
                                    Rendement
                                </a>
                            </li>
                            <li class="tab-green">
                                <a data-toggle="tab" href="#tabreprend">
                                    Répartition du rendement
                                </a>
                            </li>
                        </ul>
                        <div class="tab-content" style="background-color: rgba(231, 231, 231, 0.38)">
                            <div id="tabrend" class="tab-pane active">
                                <div class="row">
                                    <br>
                                    <div style="padding-left: 5%; padding-right: 5%">
                                        <table class="table table-bordered" id="dataTable">
                                            <thead>
                                            <tr>
                                                <td>Semaine de récolte</td>
                                                <td>Rendement Brut</td>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            {% if itkcyclecv|length == 0 %}
                                                {% for i in 1..52 %}
                                                    <tr>
                                                        <td>
                                                            <input type="hidden" id="culture" value="{{ culture.id }}"/>
                                                            <input type="number" class="form-control" id="semainerecolte{{ i }}" value="{{ i }}"/>
                                                        </td>
                                                        <td><input type="number" class="form-control" id="rndtbrut{{ i }}" onchange="ajoutitkcyclecv({{ i }})"/>
                                                        </td>
                                                    </tr>
                                                {% endfor %}
                                            {% else %}
                                                {% for rs in itkcyclecv %}
                                                    <tr>
                                                        <td>
                                                            <input type="hidden" id="culture" value="{{ culture.id }}"/>
                                                            <input type="number" class="form-control" id="semainerecolte{{ rs.id }}" value="{{ rs.sEMAINERECOLTE  }}"/>
                                                        </td>
                                                        <td><input type="number" class="form-control" id="rndtbrut{{ rs.id  }}" value="{{ rs.rDTBRUT  }}" onchange="modifieritkcyclecv({{ rs.id }})"/>
                                                        </td>
                                                    </tr>
                                                {% endfor %}
                                            {% endif %}
                                            </tbody>

                                        </table>
                                        <br>
                                        <button class="btn btn-default" onclick="addRow()"><i class="fa fa-plus"></i>Plus de ligne</button>
                                    </div>
                                </div>
                            </div>
                            <div id="tabreprend" class="tab-pane">
                                <div class="row">
                                    <br>
                                    <div style="padding-left: 5%; padding-right: 5%">
                                        <table class="table table-bordered" id="data_table">
                                            <thead>
                                            <tr>
                                                <th>Numéro de récolte</th>
                                                <th>Rendement en pourcentage</th>
                                                <th>Action</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            {% if repartitionrendemants|length != 0 %}
                                            {% for rsrendrepar in repartitionrendemants %}
                                                <tr id="row{{ rsrendrepar.id }}">
                                                    <td>
                                                        <input type="hidden" id="id" value="{{ rsrendrepar.id }}"/>
                                                        <input type="number" class="form-control" id="numrecolte_text{{ rsrendrepar.id }}" value="{{ rsrendrepar.nUMRECOLTE }}"/>

                                                    </td>
                                                    <td>
                                                        <input type="number" class="form-control" id="pourcentage_text{{ rsrendrepar.id }}" value="{{ rsrendrepar.pOURCENTREND }}"/>
                                                    </td>
                                                    <td>
                                                        {#<button id="edit_button{{ rs.id }}" class='btn btn-warning' title='Modifier' onclick="edit_row({{ rs.id }})"><i class='fa fa-pencil'></i></button>#}
                                                        <button id="save_button{{ rsrendrepar.id }}" class='btn btn-azure' title='Enregistrer' onclick='save_row({{ rsrendrepar.id }})'><i class='fa fa-save'></i></button>
                                                        <button class='btn btn-danger' id="delete_button{{ rsrendrepar.id }}" title='Supprimer' onclick='delete_row({{ rsrendrepar.id }})'><i class='fa fa-trash'></i></button>
                                                    </td>
                                                </tr>
                                            {% endfor %}
                                            {% endif %}
                                            <tr>
                                                <td>
                                                    <input type="hidden" class="form-control" id="culture" value="{{ culture.id }}"/>
                                                    <input type="number" class="form-control" id="new_numrecolte">
                                                </td>
                                                <td><input type="number" class="form-control" id="new_pourcentage"></td>
                                                <td><input type="button"  class="btn btn-default" onclick="add_row();" value="Ajouter ligne"></td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
{% endblock %}