

<a class=" dropdown-toggle" data-toggle="dropdown" href="#">
    <i class="icon fa fa-bell"></i>
    <span class="badge  ">{{ notifications|length }}</span>
</a>
<ul class="pull-right dropdown-menu dropdown-arrow dropdown-notifications">
    {% if notifications|length == 0 %}
        <li>
            <a href="#">
                <div class="clearfix">
                    <div class="notification-icon">
                        <i class="fa fa-wrench bg-themeprimary white"></i>
                    </div>
                    <div class="notification-body">
                        <span class="title">Vous n'avez pas d'alerte maintenance</span>
                    </div>
                </div>
            </a>
        </li>
    {% else %}
        {% for rs in notifications %}
            <li>
                <a href="{{ path('modifiermateriel',{'id':rs.mATERIELID}) }}" target="_blank">
                    <div class="clearfix" >
                        <div class="notification-icon">
                            <i class="fa fa-wrench bg-themeprimary white"></i>
                        </div>
                        <div class="notification-body">
                            <span class="title" style="color: {{ rs.cOULEUR }}"><b>Alert maintenance</b></span>
                            <span class="description" style="color: {{ rs.cOULEUR }}"><b>({{ rs.cODE }}) {{ rs.MATERIEL }}</b> </span>
                        </div>
                        <div class="notification-extra">
                            <i class="fa fa-clock-o themeprimary"></i>
                            <span class="description">{{ rs.dATENOTIFICATIONALERTE|date('d-m-Y') }}</span>
                        </div>
                    </div>
                </a>
            </li>
        {% endfor %}
    {% endif %}
    <li class="dropdown-footer ">
            <span>
                {{ 'now'|date('d-m-Y') }}
            </span>
    </li>
</ul>
