<!DOCTYPE html>
<!--
BeyondAdmin - Responsive Admin Dashboard Template build with Twitter Bootstrap 3.3.6
Version: 1.6.0
Purchase: https://wrapbootstrap.com/theme/beyondadmin-adminapp-angularjs-mvc-WB06R48S4
-->

<html xmlns="http://www.w3.org/1999/xhtml">
<!-- Head -->
<head>
    <meta charset="utf-8"/>
    {% block stylesheets %}
        <style>
            table {
                width: 100%;
                border-collapse: collapse;
            }

            table, td, th {
                border: 1px solid black;
                padding: 5px;
            }

            th {
                text-align: left;
            }
        </style>
        <link href="https://cdn.datatables.net/v/dt/dt-1.10.12/datatables.min.css" rel="stylesheet"/>

    {% endblock %}


</head>

<body>
{% block body %}
    <div class="row">
        <div style="padding-left: 2%; padding-right: 2%">
            <table class="table" id="example">
                <thead class="bordered-darkorange">
                <tr role="row">
                    <th>OP</th>
                    <th>Site</th>
                    <th>Ferme</th>
                    <th>Culture variété</th>
                    <th>Type d'irrigation</th>
                    <th>Surface</th>
                    <th>Date de sémis</th>
                    <th>Mois</th>
                    <th>Semaine</th>
                    <th>Geste</th>
                    <th>Qté totale JR / HOM</th>
                    <th>Unité</th>
                </tr>
                </thead>
                <tbody>
                {% for rs in itmo %}
                    <tr>
                        <td>{{ rs.CYCLECULTURAL }}</td>
                        <td>{{ rs.SITE }}</td>
                        <td>{{ rs.FERME }}</td>
                        <td>{{ rs.CULTURE }}</td>
                        <td>{{ rs.TYPEIRRIGATION }}</td>
                        <td>{{ rs.SURFACE }}</td>
                        <td>{{ rs.DATEDEBUTSEMIS }}</td>
                        <td>{{ rs.MOIS }}</td>
                        <td>{{ rs.SEMAINE }}</td>
                        <td>{{  rs.GESTE }}</td>
                        <td>{{  rs.QUANTITE }}</td>
                        <td>{{  rs.UNITE }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('assets/js/jquery.min.js') }}"></script>
    <script>
        $(document).ready(function () {

            $("input[type=checkbox]").change(function() {
                alert( $('.checkmaintenance:checked').serialize());
            });
        });
    </script>
    <script src="{{ asset('assets/js/jquery.min.js') }}"></script>
    <script src="https://cdn.datatables.net/v/dt/dt-1.10.12/datatables.min.js"></script>
    <script src="https://cdn.rawgit.com/ashl1/datatables-rowsgroup/fbd569b8768155c7a9a62568e66a64115887d7d0/dataTables.rowsGroup.js"></script>
    <script>
        var table = $('#example').DataTable({
            'rowsGroup': [0,1,2,3,4,5,6,7,8]
        });

    </script>
{% endblock %}

</body>
<!--  /Body -->
</html>
