{#
<!DOCTYPE html>
<!--
BeyondAdmin - Responsive Admin Dashboard Template build with Twitter Bootstrap 3.3.6
Version: 1.6.0
Purchase: https://wrapbootstrap.com/theme/beyondadmin-adminapp-angularjs-mvc-WB06R48S4
-->

<html xmlns="http://www.w3.org/1999/xhtml">
<!-- Head -->
<head>
    <meta charset="utf-8"/>
    {% block stylesheets %}
        <link href="https://cdn.datatables.net/1.10.16/css/dataTables.bootstrap.min.css" rel="stylesheet"/>
        <style>
            table {
                width: 100%;
                border-collapse: collapse;
            }

            table, td, th {
                border: 1px solid black;
                padding: 5px;
            }

            th {
                text-align: left;
            }
        </style>

    {% endblock %}


</head>



<body>
{% block body %}
    <table class="table table-bordered table-hover " id="table_itkmoop">
        <thead class="bordered-darkorange">
        <tr role="row">
            &#123;&#35;<th>Ilot</th>
            <th>Site</th>
            <th>Ferme</th>
            <th>Culture variété</th>&#35;&#125;
            <th>Mois</th>
            <th>Semaine</th>
            <th>Geste</th>
            <th>Qté JH</th>
            <th>Unité</th>
            <th>Qté totale JH</th>
        </tr>
        </thead>
        <tbody>
        {% for rs in itkmoop %}
            <tr>
                &#123;&#35; <td>{{ rs.ILOT }}</td>
                 <td>{{ rs.SITE }}</td>
                 <td>{{ rs.FERME }}</td>
                 <td>{{ rs.CULTURE }}</td>&#35;&#125;
                 <td>{{ rs.MOIS }}</td>
                 <td>{{ rs.SEMAINE }}</td>
                <td>{{ rs.GESTE }}</td>
                <td>{{ rs.QUANTITE }}</td>
                <td>{{ rs.UNITE }}</td>
                <td>{{ rs.QUANTITET }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}

</body>
{% block javascripts %}
    <script src="{{ asset('assets/js/jquery.min.js') }}"></script>
    <script src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.16/js/dataTables.bootstrap.min.js"></script>
    <script src="https://cdn.rawgit.com/ashl1/datatables-rowsgroup/fbd569b8768155c7a9a62568e66a64115887d7d0/dataTables.rowsGroup.js"></script>
    <script>
        $(document).ready(function () {

            var table_itkmoop = $('#table_itkmoop').DataTable();
        });
    </script>
{% endblock %}
</html>
#}
