<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>{% block title %}SCL / KOCC-PGI {% endblock %}</title>
    {% block stylesheets %}

        <link href="{{ asset('assets/css/bootstrap.min.css') }}" rel="stylesheet"/>
        <link id="bootstrap-rtl-link" href="" rel="stylesheet"/>
        <link href="{{ asset('assets/css/font-awesome.min.css') }}" rel="stylesheet"/>
        <link href="{{ asset('assets/css/weather-icons.min.css') }}" rel="stylesheet"/>
        <!--Fonts-->
        <!--Fonts-->
        <link href="http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,400,600,700,300" rel="stylesheet" type="text/css">
        <link href='http://fonts.googleapis.com/css?family=Roboto:400,300' rel='stylesheet' type='text/css'>
        <!--Beyond styles-->
        <link href="{{ asset('assets/css/beyond.min.css') }}" rel="stylesheet"/>
        <link href="{{ asset('assets/css/demo.min.css') }}" rel="stylesheet"/>
        <link href="{{ asset('assets/css/typicons.min.css') }}" rel="stylesheet"/>
        <link href="{{ asset('assets/css/animate.min.css') }}" rel="stylesheet"/>
        <link href="{{ asset('css/dataTables.bootstrap.min.css') }}" rel="stylesheet"/>
        <link href="{{ asset('css/buttons.dataTables.min.css') }}" rel="stylesheet"/>
        {#<link href="https://cdn.datatables.net/1.10.16/css/dataTables.bootstrap.min.css" rel="stylesheet"/>#}
        {# <link href="https://cdn.datatables.net/v/dt/dt-1.10.12/datatables.min.css" rel="stylesheet"/>#}

        <link rel="stylesheet" href="{{ asset('css/select2.css') }}"/>

        <style>
            th { white-space: nowrap; }
        </style>

    {% endblock %}
    <link rel="icon" type="image/x-icon" href="{{ asset('images/logoSCL-mais.png') }}"/>
</head>


<body>
<div class="loading-container">
    <div class="loader"></div>
</div>
<div class="navbar" style="background: #7AB51D">
    <div class="navbar-inner" style="background: #7AB51D">
        <div class="navbar-container">
            <!-- Navbar Barnd -->
            <div class="navbar-header pull-left">
                <a href="#" class="navbar-brand">
                    <small> <img src="{{ asset('images/logoSCL-mais-blanc.png') }}" width="20"> {#SCL / KOCC-PGI#}</small>
                </a>
            </div>
            <!-- /Navbar Barnd -->

            <!-- Account Area and Settings --->

            <div class="navbar-header pull-right">
                <div class="navbar-account">
                    <ul class="account-area"></ul>
                    <div class="setting-container">
                    </div>
                    <!-- Settings -->
                </div>
            </div>
            <!-- /Account Area and Settings -->
            {% if app.user %}
                <div class="sidebar-collapse" id="sidebar-collapse">
                    <i class="collapse-icon fa fa-bars"></i>
                </div>
                <div class="navbar-header pull-right">
                    <div class="navbar-account">
                        <ul class="account-area">


                            <li>
                                <a class="login-area dropdown-toggle" data-toggle="dropdown">
                                    <section>
                                        <h2><span class="profile "><span><i
                                                            class="glyphicon glyphicon-user"></i> &nbsp;{{ app.user.name }}</span></span>
                                        </h2>
                                    </section>
                                </a>
                                <!--Login Area Dropdown-->
                                <ul class="pull-right dropdown-menu dropdown-arrow dropdown-login-area">

                                    <li class="email"><a>{{ app.user.email }}</a></li>

                                    <!--/Theme Selector Area-->
                                    <li class="dropdown-footer">
                                        <a href="{{ path('fos_user_security_logout') }}">
                                            D&eacute;connexion
                                        </a>
                                    </li>
                                </ul>
                                <!--/Login Area Dropdown-->
                            </li>
                            <!-- /Account Area -->
                            <!--Note: notice that setting div must start right after account area list.
                            no space must be between these elements-->
                            <!-- Settings -->
                        </ul>
                        <!-- Settings -->
                    </div>
                </div>
            {% endif %}
        </div>
    </div>
</div>
<!-- /Navbar -->
<!-- Main Container -->
{% block content %}
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('assets/js/skins.min.js') }}"></script>
    <script src="{{ asset('assets/js/jquery.min.js') }}"></script>
    <script src="{{ asset('assets/js/bootstrap.min.js') }}"></script>
    <script src="{{ asset('assets/js/slimscroll/jquery.slimscroll.min.js') }}"></script>

    <!--Beyond Scripts-->
    <script src="{{ asset('assets/js/beyond.js') }}"></script>
    <script src="{{ asset('js/agroAjax.js') }}"></script>
    <script src="{{ asset('js/jquery.dataTables.min.js') }}"></script>
    <script src={{ asset('js/dataTables.bootstrap.min.js') }}></script>
    <script src={{ asset('js/dataTables.rowsGroup.js') }}></script>
    <script src={{ asset('js/dataTables.buttons.min.js') }}></script>
    <script src={{ asset('js/jszip.min.js') }}></script>
    <script src={{ asset('js/pdfmake.min.js') }}></script>
    <script src={{ asset('js/vfs_fonts.js') }}></script>
    <script src={{ asset('js/buttons.html5.min.js') }}></script>

   {# <script src="https://cdn.datatables.net/buttons/1.4.2/js/dataTables.buttons.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.32/pdfmake.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.32/vfs_fonts.js"></script>
    <script src="//cdn.datatables.net/buttons/1.4.2/js/buttons.html5.min.js"></script>#}a
    <script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
    <script src="{{ path('fos_js_routing_js', {"callback": "fos.Router.setData"}) }}"></script>
 {#   <script src="https://cdn.rawgit.com/ashl1/datatables-rowsgroup/fbd569b8768155c7a9a62568e66a64115887d7d0/dataTables.rowsGroup.js"></script>#}
    <script src="{{ asset('assets/js/toastr/toastr.js') }}"></script>

    <!-- Select2 -->
    <script src="{{ asset('js/select2.js') }}"></script>

{% endblock %}
<!--Basic Scripts-->
<!--Beyond Scripts-->
<!--Page Related Scripts-->

</body>
</html>