{% extends 'AgroBundle:PMainOeuvre:layout.html.twig' %}
{% block content %}
    <div class="main-container container-fluid">
        <!-- Page Container -->
        <div class="page-container">


            <!-- Your Content Goes Here -->
            <!-- Page Sidebar -->
            <div class="page-sidebar" id="sidebar">
                <!-- Page Sidebar Header-->
                <div class="sidebar-header-wrapper">

                </div>
                <!-- /Page Sidebar Header -->
                <!-- Sidebar Menu -->
                <ul class="nav sidebar-menu">
                    <!--Dashboard-->
                    {% if is_granted('ROLE_CGESTION') == true %}
                        <li>
                            <a href="{{ path('indexcontrolegestion') }}">
                                <i class="menu-icon  fa fa-dashboard "></i>
                                <span class="menu-text"> Tableau de bord </span>
                            </a>
                        </li>
                    {% else %}
                        <li >
                            <a href="">
                                <i class="menu-icon  fa fa-dashboard "></i>
                                <span class="menu-text"> Tableau de bord </span>
                            </a>
                        </li>
                    {% endif %}
                    {% if is_granted('ROLE_ADMIN') == true %}
                        <li >
                            <a href="#" class="menu-dropdown">
                                <i class="menu-icon fa fa-cog"></i>
                                <span class="menu-text"> Gestion </span>

                                <i class="menu-expand"></i>
                            </a>

                            <ul class="submenu">
                                <li >
                                    <a href="{{ path('gestionrole') }}">
                                        <span class="menu-text">Gestion des r&ocirc;les</span>
                                    </a>
                                </li>
                                <li >
                                    <a href="{{ path('gestionutilisateur') }}">
                                        <span class="menu-text">Gestion des utilisateurs</span>
                                    </a>
                                </li>
                                <li >
                                    <a href="{{ path('gestionservices') }}">
                                        <span class="menu-text">Gestion des services</span>
                                    </a>
                                </li>
                            </ul>
                        </li>
                    {% endif %}
                    <li >
                        <a href="#" class="menu-dropdown">
                            <i class="menu-icon fa fa-wrench"></i>
                            <span class="menu-text"> Technique </span>

                            <i class="menu-expand"></i>
                        </a>
                        <ul class="submenu">
                            <li >
                                <a href="#" class="menu-dropdown">
                                    <span class="menu-text">Materiel & Maintenance</span>
                                    <i class="menu-expand"></i>
                                </a>

                                <ul class="submenu">
                                    <li>
                                        <a href="{{ path('materielor') }}">
                                            <i class="menu-icon fa fa-rocket"></i>
                                            <span class="menu-text">Param&eacute;tre materiel</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="{{ path('materiel') }}">
                                            <i class="fa fa-automobile"></i>
                                            <span class="menu-text">Mat&eacute;riel</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="{{ path('maintenance') }}">
                                            <i class="menu-icon glyphicon glyphicon-stats"></i>
                                            <span class="menu-text">Maintenance</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="{{ path('extractionmateriel') }}">
                                            <i class="menu-icon fa fa-file-excel-o"></i>
                                            <span class="menu-text">M.P prochaine</span>
                                        </a>
                                    </li>
                                </ul>
                            </li>
                            <li >
                                <a href="{{ path('consommation') }}">
                                    <span class="menu-text">Magasin & Consommation</span>
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="#" class="menu-dropdown">
                            <i class="menu-icon fa fa-th-list"></i>
                            <span class="menu-text"> Production </span>

                            <i class="menu-expand"></i>
                        </a>
                        <ul class="submenu">
                            <li>
                                <a href="{{ path('geste') }}">
                                    <span class="menu-text">Geste</span>
                                </a>
                            </li>
                            <li>
                                <a href="{{ path('interventionprod') }}">
                                    <span class="menu-text">Intervention</span>
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="#" class="menu-dropdown">
                            <i class="menu-icon glyphicon glyphicon-tree-deciduous "></i>
                            <span class="menu-text "> Culture </span>

                            <i class="menu-expand"></i>
                        </a>
                        <ul class="submenu">
                            <li >
                                <a href="{{ path('campagne') }}">
                                    <span class="menu-text">Campagne</span>
                                </a>
                            </li>
                            <li >
                                <a href="{{ path('ferme') }}">
                                    <span class="menu-text">Ferme</span>
                                </a>
                            </li>
                            <li>
                                <a href="{{ path('ilot') }}">
                                    <span class="menu-text">Ilot</span>
                                </a>
                            </li>
                            <li>
                                <a href="{{ path('parcelle') }}">
                                    <span class="menu-text">Parcelle</span>
                                </a>
                            </li>
                            <li>
                                <a href="{{ path('ferme') }}">
                                    <span class="menu-text">Site</span>
                                </a>
                            </li>
                            <li>
                                <a href="{{ path('culture') }}">
                                    <span class="menu-text">Culture vari&eacute;t&eacute;</span>
                                </a>
                            </li>
                            <li>
                                <a href="{{ path('familleculture') }}">
                                    <span class="menu-text themefifthcolor">Famille Culture</span>
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li  class="active open">
                        <a href="#" class="menu-dropdown">
                            <i class="menu-icon glyphicon glyphicon-tasks themefifthcolor"></i>
                            <span class="menu-text"> Agronomie </span>

                            <i class="menu-expand"></i>
                        </a>

                        <ul class="submenu">
                            <li >
                                <a href="#" class="menu-dropdown">
                                    <span class="menu-text">Instructions</span>
                                    <i class="menu-expand"></i>
                                </a>
                                <ul class="submenu">
                                    <li >
                                        <a href="{{ path('instructionsemis') }}">
                                            <span class="menu-text">Semis</span>
                                        </a>
                                    </li>
                                    <li >
                                        <a href="#">
                                            <span class="menu-text">Phyto</span>
                                        </a>
                                    </li>
                                    <li >
                                        <a href="#">
                                            <span class="menu-text">Localisé</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <span class="menu-text">Observation</span>
                                        </a>
                                    </li>
                                    <li >
                                        <a href="#">
                                            <span class="menu-text">Récolte</span>
                                        </a>
                                    </li>
                                </ul>
                            </li>
                            <li  class="active open">
                                <a href="#" class="menu-dropdown">
                                    <span class="menu-text">Plannification</span>
                                    <i class="menu-expand"></i>
                                </a>
                                <ul class="submenu">
                                    <li  class="active">
                                        <a href="{{ path('phebdomadaire',{"semaine": "now"|date("yW")}) }}">
                                            <span class="menu-text" themefifthcolor>hebdomadaire</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="{{ path('pmaineouvre') }}">
                                            <span class="menu-text">Main d'oeuvre</span>
                                        </a>
                                    </li>
                                </ul>

                            </li>
                            <li>
                                <a href="{{ path('consommation') }}" style="display: none">
                                    <span class="menu-text">Magasin & Consommation</span>
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="#" class="menu-dropdown">
                            <i class="menu-icon fa fa-truck"></i>
                            <span class="menu-text"> Reception </span>

                            <i class="menu-expand"></i>
                        </a>
                    </li>
                    <li>
                        <a href="#" class="menu-dropdown">
                            <i class="menu-icon glyphicon glyphicon-inbox"></i>
                            <span class="menu-text"> Conditionnement </span>

                            <i class="menu-expand"></i>
                        </a>
                    </li>
                    <li>
                        <a href="#" class="menu-dropdown">
                            <i class="menu-icon glyphicon glyphicon-shopping-cart"></i>
                            <span class="menu-text"> Vente </span>

                            <i class="menu-expand"></i>
                        </a>
                    </li>
                    <li>
                        <a href="{{ path('listeficheintervention') }}" class="menu-dropdown">
                            <i class="menu-icon fa fa-file-pdf-o"></i>
                            <span class="menu-text"> Fiche d'intervention </span>
                            <i class="menu-expand"></i>
                        </a>
                    </li>
                </ul>
                <!-- /Sidebar Menu -->
            </div>
            <!-- /Page Sidebar -->
            <!-- Page Content -->
            <div class="page-content">
                <!-- Page Breadcrumb -->
                <div class="page-breadcrumbs">
                    <ul class="breadcrumb">
                        <li>
                            <i class="menu-icon glyphicon glyphicon-tasks themefifthcolor"></i>
                            <a href="">Agronomie</a>
                        </li>
                    </ul>
                </div>
                <!-- /Page Breadcrumb -->
                <!-- Page Header -->
                <div class="page-header position-relative">
                    <div class="header-title">
                        <h1>
                            Plannification main d'oeuvre
                        </h1>
                    </div>
                    <!--Header Buttons-->
                    <div class="header-buttons">
                        <a class="sidebar-toggler" href="#">
                            <i class="fa fa-arrows-h"></i>
                        </a>
                        <a class="refresh" id="refresh-toggler" href="">
                            <i class="glyphicon glyphicon-refresh"></i>
                        </a>
                        <a class="fullscreen" id="fullscreen-toggler" href="#">
                            <i class="glyphicon glyphicon-fullscreen"></i>
                        </a>
                    </div>
                    <!--Header Buttons End-->
                </div>
                <!-- /Page Header -->
                <!-- Page Body -->
                <div class="page-body">
                    <div class="row">
                        <div class="col-lg-12 col-sm-12 col-xs-12">
                            <div class="widget flat radius-bordered">
                                <div class="widget-header bg-azure">
                                    <span class="widget-caption">Prevision main d'oeuvre detail</span>
                                </div>
                                <div class="widget-body">
                                    <div class="row">
                                        <div class="form-horizontal"  style="padding-left: 5%; padding-right: 5%">
                                            <div class="form-group col-lg-6 col-sm-6 col-xs-6">
                                                <label for="" class="col-sm-4 control-label">Ferme</label>
                                                <div class="col-sm-6">
                                                    <select class="form-control" id="ferme2">
                                                        {% if ferme|length == 0 %}
                                                            <option></option>
                                                        {% elseif ferme|length !=0 %}
                                                            <option>{{ ferme.lIBELLE }}</option>
                                                        {% endif %}
                                                        {% for ferme in fermes %}
                                                            <option value="{{ ferme.id }}">{{ ferme.lIBELLE }}</option>
                                                        {% endfor %}
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="form-group col-lg-6c col-sm-6 col-xs-6">
                                                <label for="" class="col-sm-4 control-label">Semaine</label>
                                                <div class="col-sm-6">
                                                    <select class="form-control" id="semaine">
                                                        <option>{{ semaine }}</option>
                                                        {% for rs in result %}
                                                            <option value="{{ rs.COD_ANNSEM }}">{{ rs.COD_ANNSEM }}</option>
                                                        {% endfor %}
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <br>
                                    <br>
                                    <div class="table-responsive">

                                        <table class="table table-bordered table-striped table-condensed " id="tableopgeste">
                                            <thead>
                                            <tr>
                                                <th style="background:#CCCCCC; font-size: 12px">OP X GESTE</th>
                                                {% for rsgeste in geste %}
                                                    {% if rsgeste.lIBELLE == 'PREPARATION' %}
                                                        <th style="background:#f7cfb9; color: white; font-size: 12px">{{ rsgeste.lIBELLE }}</th>
                                                    {% endif %}
                                                    {% if rsgeste.lIBELLE == 'SEMIS / PLANTATION' %}
                                                        <th style="background:#f7a067; color: white; font-size: 12px">{{ rsgeste.lIBELLE }}</th>
                                                    {% endif %}
                                                    {% if rsgeste.lIBELLE == 'DESHERBAGE' %}
                                                        <th style="background:#d0cece; color: white; font-size: 12px">{{ rsgeste.lIBELLE }}</th>
                                                    {% endif %}
                                                    {% if rsgeste.lIBELLE == 'ENTRETIEN' %}
                                                        <th style="background:#2f75b5; color: white; font-size: 12px">{{ rsgeste.lIBELLE }}</th>
                                                    {% endif %}
                                                    {% if rsgeste.lIBELLE == 'FERTI-IRRIG-PHYTO' %}
                                                        <th style="background:#c6e0b4; color: white; font-size: 12px">{{ rsgeste.lIBELLE }}</th>
                                                    {% endif %}
                                                    {% if rsgeste.lIBELLE == 'MANUTENTION PRODUCTION' %}
                                                        <th style="background:#ffc000; color: white; font-size: 12px">{{ rsgeste.lIBELLE }}</th>
                                                    {% endif %}
                                                    {% if rsgeste.lIBELLE == 'POST RECOLTE' %}
                                                        <th style="font-size: 12px">{{ rsgeste.lIBELLE }}</th>
                                                    {% endif %}
                                                    {% if rsgeste.lIBELLE == 'GARDIENNAGE' %}
                                                        <th style="background: #219922; color: white; font-size: 12px">{{ rsgeste.lIBELLE }}</th>
                                                    {% endif %}
                                                    {% if rsgeste.lIBELLE == 'RECOLTE' %}
                                                        <th style="background: #bdd7ee; color: white; font-size: 12px">{{ rsgeste.lIBELLE }}</th>
                                                    {% endif %}
                                                {% endfor %}
                                            </tr>
                                            </thead>
                                            <tfoot align="right">
                                            <tr><th></th><th></th><th></th><th></th><th></th><th></th><th></th><th></th><th></th><th></th></tr>
                                            </tfoot>
                                            <tbody>
                                            {% for rsdata in data %}
                                                <tr>
                                                    <td style="background:#00b050;color: white">{{ rsdata.CYCLECULTURAL }} / {{ rsdata.ILOT }}</td>
                                                    {% for rsgeste in geste %}
                                                        {% if rsdata.GESTE == rsgeste.lIBELLE  %}
                                                            <td style="background:#ffd923;">{{ rsdata.QUANTITET }}</td>
                                                        {% else %}
                                                            <td>0</td>
                                                        {% endif %}
                                                    {% endfor %}
                                                </tr>

                                            {% endfor %}
                                            </tbody>
                                        </table>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /Page Body -->
            </div>


            <!-- /Page Body -->
        </div>

    </div>
{% endblock %}