{% extends 'AgroBundle:PMainOeuvre:layout.html.twig' %}
{% block content %}
    <div class="main-container container-fluid">
        <!-- Page Container -->
        <div class="page-container">


            <!-- Your Content Goes Here -->
            <!-- Page Sidebar -->
            <div class="page-sidebar" id="sidebar">
                <!-- Page Sidebar Header-->
                <div class="sidebar-header-wrapper">

                </div>
                <!-- /Page Sidebar Header -->
                <!-- Sidebar Menu -->
                <ul class="nav sidebar-menu">
                    <!--Dashboard-->
                    {% if is_granted('ROLE_CGESTION') == true %}
                        <li>
                            <a href="{{ path('indexcontrolegestion') }}">
                                <i class="menu-icon  fa fa-dashboard "></i>
                                <span class="menu-text"> Tableau de bord </span>
                            </a>
                        </li>
                    {% else %}
                        <li >
                            <a href="">
                                <i class="menu-icon  fa fa-dashboard "></i>
                                <span class="menu-text"> Tableau de bord </span>
                            </a>
                        </li>
                    {% endif %}
                    {% if is_granted('ROLE_ADMIN') == true %}
                        <li >
                            <a href="#" class="menu-dropdown">
                                <i class="menu-icon fa fa-cog"></i>
                                <span class="menu-text"> Gestion </span>

                                <i class="menu-expand"></i>
                            </a>

                            <ul class="submenu">
                                <li >
                                    <a href="{{ path('gestionrole') }}">
                                        <span class="menu-text">Gestion des r&ocirc;les</span>
                                    </a>
                                </li>
                                <li >
                                    <a href="{{ path('gestionutilisateur') }}">
                                        <span class="menu-text">Gestion des utilisateurs</span>
                                    </a>
                                </li>
                                <li >
                                    <a href="{{ path('gestionservices') }}">
                                        <span class="menu-text">Gestion des services</span>
                                    </a>
                                </li>
                            </ul>
                        </li>
                    {% endif %}
                    <li >
                        <a href="#" class="menu-dropdown">
                            <i class="menu-icon fa fa-wrench"></i>
                            <span class="menu-text"> Technique </span>

                            <i class="menu-expand"></i>
                        </a>
                        <ul class="submenu">
                            <li >
                                <a href="#" class="menu-dropdown">
                                    <span class="menu-text">Materiel & Maintenance</span>
                                    <i class="menu-expand"></i>
                                </a>

                                <ul class="submenu">
                                    <li>
                                        <a href="{{ path('materielor') }}">
                                            <i class="menu-icon fa fa-rocket"></i>
                                            <span class="menu-text">Param&eacute;tre materiel</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="{{ path('materiel') }}">
                                            <i class="fa fa-automobile"></i>
                                            <span class="menu-text">Mat&eacute;riel</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="{{ path('maintenance') }}">
                                            <i class="menu-icon glyphicon glyphicon-stats"></i>
                                            <span class="menu-text">Maintenance</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="{{ path('extractionmateriel') }}">
                                            <i class="menu-icon fa fa-file-excel-o"></i>
                                            <span class="menu-text">M.P prochaine</span>
                                        </a>
                                    </li>
                                </ul>
                            </li>
                            <li >
                                <a href="{{ path('consommation') }}">
                                    <span class="menu-text">Magasin & Consommation</span>
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="#" class="menu-dropdown">
                            <i class="menu-icon fa fa-th-list"></i>
                            <span class="menu-text"> Production </span>

                            <i class="menu-expand"></i>
                        </a>
                        <ul class="submenu">
                            <li>
                                <a href="{{ path('geste') }}">
                                    <span class="menu-text">Geste</span>
                                </a>
                            </li>
                            <li>
                                <a href="{{ path('interventionprod') }}">
                                    <span class="menu-text">Intervention</span>
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="#" class="menu-dropdown">
                            <i class="menu-icon glyphicon glyphicon-tree-deciduous "></i>
                            <span class="menu-text "> Culture </span>

                            <i class="menu-expand"></i>
                        </a>
                        <ul class="submenu">
                            <li >
                                <a href="{{ path('campagne') }}">
                                    <span class="menu-text">Campagne</span>
                                </a>
                            </li>
                            <li >
                                <a href="{{ path('ferme') }}">
                                    <span class="menu-text">Ferme</span>
                                </a>
                            </li>
                            <li>
                                <a href="{{ path('ilot') }}">
                                    <span class="menu-text">Ilot</span>
                                </a>
                            </li>
                            <li>
                                <a href="{{ path('parcelle') }}">
                                    <span class="menu-text">Parcelle</span>
                                </a>
                            </li>
                            <li>
                                <a href="{{ path('ferme') }}">
                                    <span class="menu-text">Site</span>
                                </a>
                            </li>
                            <li>
                                <a href="{{ path('culture') }}">
                                    <span class="menu-text">Culture vari&eacute;t&eacute;</span>
                                </a>
                            </li>
                            <li>
                                <a href="{{ path('familleculture') }}">
                                    <span class="menu-text themefifthcolor">Famille Culture</span>
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li  class="active open">
                        <a href="#" class="menu-dropdown">
                            <i class="menu-icon glyphicon glyphicon-tasks themefifthcolor"></i>
                            <span class="menu-text"> Agronomie </span>

                            <i class="menu-expand"></i>
                        </a>

                        <ul class="submenu">
                            <li >
                                <a href="#" class="menu-dropdown">
                                    <span class="menu-text">Instructions</span>
                                    <i class="menu-expand"></i>
                                </a>
                                <ul class="submenu">
                                    <li >
                                        <a href="{{ path('instructionsemis') }}">
                                            <span class="menu-text">Semis</span>
                                        </a>
                                    </li>
                                    <li >
                                        <a href="#">
                                            <span class="menu-text">Phyto</span>
                                        </a>
                                    </li>
                                    <li >
                                        <a href="#">
                                            <span class="menu-text">Localisé</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <span class="menu-text">Observation</span>
                                        </a>
                                    </li>
                                    <li >
                                        <a href="#">
                                            <span class="menu-text">Récolte</span>
                                        </a>
                                    </li>
                                </ul>
                            </li>
                            <li  class="active open">
                                <a href="#" class="menu-dropdown">
                                    <span class="menu-text">Plannification</span>
                                    <i class="menu-expand"></i>
                                </a>
                                <ul class="submenu">
                                    <li>
                                        <a href="{{ path('phebdomadaire',{"semaine": "now"|date("yW")}) }}">
                                            <span class="menu-text">hebdomadaire</span>
                                        </a>
                                    </li>
                                    <li class="active">
                                        <a href="{{ path('pmaineouvre') }}">
                                            <span class="menu-text themefifthcolor">Main d'oeuvre</span>
                                        </a>
                                    </li>
                                </ul>

                            </li>
                            <li>
                                <a href="{{ path('consommation') }}" style="display: none">
                                    <span class="menu-text">Magasin & Consommation</span>
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="#" class="menu-dropdown">
                            <i class="menu-icon fa fa-truck"></i>
                            <span class="menu-text"> Reception </span>

                            <i class="menu-expand"></i>
                        </a>
                    </li>
                    <li>
                        <a href="#" class="menu-dropdown">
                            <i class="menu-icon glyphicon glyphicon-inbox"></i>
                            <span class="menu-text"> Conditionnement </span>

                            <i class="menu-expand"></i>
                        </a>
                    </li>
                    <li>
                        <a href="#" class="menu-dropdown">
                            <i class="menu-icon glyphicon glyphicon-shopping-cart"></i>
                            <span class="menu-text"> Vente </span>

                            <i class="menu-expand"></i>
                        </a>
                    </li>
                    <li>
                        <a href="{{ path('listeficheintervention') }}" class="menu-dropdown">
                            <i class="menu-icon fa fa-file-pdf-o"></i>
                            <span class="menu-text"> Fiche d'intervention </span>
                            <i class="menu-expand"></i>
                        </a>
                    </li>
                </ul>
                <!-- /Sidebar Menu -->
            </div>
            <!-- /Page Sidebar -->
            <!-- Page Content -->
            <div class="page-content">
                <!-- Page Breadcrumb -->
                <div class="page-breadcrumbs">
                    <ul class="breadcrumb">
                        <li>
                            <i class="menu-icon glyphicon glyphicon-tasks themefifthcolor"></i>
                            <a href="">Agronomie</a>
                        </li>
                    </ul>
                </div>
                <!-- /Page Breadcrumb -->
                <!-- Page Header -->
                <div class="page-header position-relative">
                    <div class="header-title">
                        <h1>
                            Plannification main d'oeuvre
                        </h1>
                    </div>
                    <!--Header Buttons-->
                    <div class="header-buttons">
                        <a class="sidebar-toggler" href="#">
                            <i class="fa fa-arrows-h"></i>
                        </a>
                        <a class="refresh" id="refresh-toggler" href="">
                            <i class="glyphicon glyphicon-refresh"></i>
                        </a>
                        <a class="fullscreen" id="fullscreen-toggler" href="#">
                            <i class="glyphicon glyphicon-fullscreen"></i>
                        </a>
                    </div>
                    <!--Header Buttons End-->
                </div>
                <!-- /Page Header -->
                <!-- Page Body -->
                <div class="page-body">
                    <div class="row">
                        <div class="col-lg-12 col-sm-12 col-xs-12">
                            <div class="tabbable">
                                <ul class="nav nav-tabs nav-justified" id="myTab5">
                                    <li class="active">
                                        <a data-toggle="tab" href="#tabop">
                                            Main d'oeuvre par OP
                                        </a>
                                    </li>
                                    <li class="tab-green" >
                                        <a data-toggle="tab" href="#tabgeste">
                                            Main d'oeuvre par Geste
                                        </a>
                                    </li>
                                    <li class="tab-red" >
                                        <a data-toggle="tab" href="#taboneop">
                                            Rendement prevision OP
                                        </a>
                                    </li>
                                </ul>
                                <div class="tab-content" style="background-color: rgba(231, 231, 231, 0.38)">
                                    <div id="tabop" class="tab-pane in active">
                                        <div class="row" id="table1">
                                            <div class="col-lg-12 col-sm-12 col-xs-12">
                                                <div class="widget flat radius-bordered">
                                                    <div class="widget-header bg-azure">
                                                        <span class="widget-caption">Prevision main d'oeuvre</span>
                                                        <div class="widget-buttons buttons-bordered">
                                                            <button id="clearFilter1" class="btn btn-warning btn-xs">Effacer les filtres</button>
                                                        </div>
                                                    </div>
                                                    <div class="widget-body">
                                                        <div class="row">
                                                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                                                <div class="col-sm-2">
                                                                    <div class="form-group">
                                                                        <label for="site">Site</label>
                                                                        <input type="text" id="site1" placeholder="Choisir un site" style="width:100%">
                                                                    </div>
                                                                </div>
                                                                <div class="col-sm-2">
                                                                    <div class="form-group">
                                                                        <label for="ferme">Ferme</label>
                                                                        <input type="text" id="ferme1" placeholder="Choisir une ferme " style="width:100%">
                                                                    </div>
                                                                </div>
                                                                <div class="col-sm-2">
                                                                    <div class="form-group">
                                                                        <label for="ferme">Ilot</label>
                                                                        <input type="text" id="ilot1" placeholder="Choisir un ilot " style="width:100%">
                                                                    </div>
                                                                </div>
                                                                <div class="col-sm-2">
                                                                    <div class="form-group">
                                                                        <label for="familleculture">Famille culturale</label>
                                                                        <input type="text" id="familleculture1" placeholder="Choisir une famille culturale" style="width:100%">
                                                                    </div>
                                                                </div>
                                                                <div class="col-sm-2">
                                                                    <div class="form-group">
                                                                        <label for="culture">Culture variété</label>
                                                                        <input type="text" id="culture1" placeholder="Choisir une culture variété" style="width:100%">
                                                                    </div>
                                                                </div>
                                                                <div class="col-sm-2">
                                                                    <div class="form-group">
                                                                        <label for="cyclecultural1">OP</label>
                                                                        <input type="text" id="cyclecultural1" placeholder="Choisir un OP" style="width:100%">
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <br>
                                                        <br>
                                                        <div class="table-responsive">
                                                            <table class="table table-bordered table-striped table-condensed" id="tableop">
                                                                <thead class="bordered-blue">
                                                                <tr role="row">
                                                                    <th>OP</th>
                                                                    <th>Type OP</th>
                                                                    <th>Ilot</th>
                                                                    <th>Site</th>
                                                                    <th>Ferme</th>
                                                                    <th>Famille culturale</th>
                                                                    <th>Culture variété</th>
                                                                    <th>Type d'irrigation</th>
                                                                    <th>Surface</th>
                                                                    <th>Date de sémis</th>
                                                                    <th>Qté totale JR</th>
                                                                </tr>
                                                                </thead>
                                                                <tfoot align="right">
                                                                <tr>
                                                                    <th colspan="10" style="text-align:right"><b>Total:</b></th>
                                                                    <th></th>
                                                                </tr>
                                                                </tfoot>
                                                                <tbody>
                                                                {% for rs in data %}
                                                                    <tr>
                                                                        <td>{{ rs.CYCLECULTURAL }}</td>
                                                                        {% if rs.TYPEOP =='OPB' %}
                                                                            <td>OP BUDGET</td>
                                                                        {% elseif rs.TYPEOP =='OPP' %}
                                                                            <td>OP PRELI.</td>
                                                                        {% else %}
                                                                            <td></td>
                                                                        {% endif %}
                                                                        <td>{{ rs.ILOT }}</td>
                                                                        <td>{{ rs.SITE }}</td>
                                                                        <td>{{ rs.FERME }}</td>
                                                                        <td>{{ rs.FAMILLECULTURE }}</td>
                                                                        <td>{{ rs.CULTURE }}</td>
                                                                        <td>{{ rs.TYPEIRRIGATION }}</td>
                                                                        <td>{{ rs.SURFACE }}</td>
                                                                        <td>{{ rs.DATEDEBUTSEMIS }}</td>
                                                                        <td>{{ rs.QUANTITETJH }}</td>
                                                                    </tr>
                                                                {% endfor %}
                                                                </tbody>
                                                            </table>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div id="tabgeste" class="tab-pane">
                                        <div class="row">
                                            <div class="col-xs-12 col-md-12">
                                                <div class="widget">
                                                    <div class="widget-header bg-green">
                                                        <span class="widget-caption">Prévision main d'oeuvre détail</span>
                                                        <div class="widget-buttons">
                                                            <a href="#" data-toggle="maximize">
                                                                <i class="fa fa-expand"></i>
                                                            </a>
                                                            <a href="#" data-toggle="collapse">
                                                                <i class="fa fa-minus"></i>
                                                            </a>
                                                        </div>
                                                    </div>
                                                    <div class="widget-body">
                                                        <div class="row">
                                                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                                                <div class="form-title">
                                                                    Filtre générale
                                                                </div>
                                                                <div class="col-sm-2">
                                                                    <div class="form-group">
                                                                        <label for="site">Site</label>
                                                                        <input type="text" id="site" placeholder="Choisir un site" style="width:100%">
                                                                    </div>
                                                                </div>
                                                                <div class="col-sm-2">
                                                                    <div class="form-group">
                                                                        <label for="ferme">Ferme</label>
                                                                        <input type="text" id="ferme" placeholder="Choisir une ferme " style="width:100%">
                                                                    </div>
                                                                </div>
                                                                <div class="col-sm-2">
                                                                    <div class="form-group">
                                                                        <label for="ferme">Ilot</label>
                                                                        <input type="text" id="ilot" placeholder="Choisir un ilot " style="width:100%">
                                                                    </div>
                                                                </div>
                                                                <div class="col-sm-2">
                                                                    <div class="form-group">
                                                                        <label for="culture">Culture variété</label>
                                                                        <input type="text" id="culture" placeholder="Choisir une culture variété" style="width:100%">
                                                                    </div>
                                                                </div>
                                                                <div class="col-sm-2">
                                                                    <div class="form-group">
                                                                        <label for="familleculture">Famille culturale</label>
                                                                        <input type="text" id="familleculture" placeholder="Choisir une famille culturale" style="width:100%">
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                                                <div class="col-sm-2">
                                                                    <div class="form-group">
                                                                        <label for="cyclecultural">OP</label>
                                                                        <input type="text" id="cyclecultural" placeholder="Choisir un OP" style="width:100%">
                                                                    </div>
                                                                </div>
                                                                <div class="col-sm-2">
                                                                    <div class="form-group">
                                                                        <label for="geste">Geste</label>
                                                                        <input type="text" id="geste" placeholder="Choisir un geste" style="width:100%">
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <br>
                                                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                                                <div class="form-title">
                                                                    Filtre par date
                                                                </div>
                                                                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                                                                    <div class="form-inline" role="form" style="padding-left: 1.5%; padding-right: 1.5%">
                                                                        <div class="form-group">
                                                                            <label class="control-label" for="debutsemaine">Semaine</label>
                                                                            <input type="text" class="form-control"
                                                                                   placeholder="format ex : 5217"
                                                                                   id="debutsemaine">
                                                                        </div>
                                                                        <div class="form-group">
                                                                            <label class="control-label" for="finsemaine">au</label>
                                                                            <input type="text" class="form-control"
                                                                                   placeholder="format ex : 5217"
                                                                                   id="finsemaine">
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                                                                    <div class="form-inline" role="form" style="padding-left: 1.5%; padding-right: 1.5%">
                                                                        <div class="form-group">
                                                                            <label for="debutsemaine">Mois</label>
                                                                            <input type="text" class="form-control"
                                                                                   placeholder="format ex : 0117"
                                                                                   id="debutmois"/>
                                                                        </div>
                                                                        <div class="form-group">
                                                                            <label class="control-label" for="finmois">au</label>
                                                                            <input type="text" class="form-control" id="finmois" placeholder="format ex : 0117">
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <br>
                                                        <br>
                                                        <div class="table-responsive">
                                                            <table class="table table-bordered table-striped table-condensed" id="example">
                                                                <thead class="flip-content bordered-palegreen">
                                                                <tr>
                                                                    <th >OP</th>
                                                                    <th >Type OP</th>
                                                                    <th>Ilot</th>
                                                                    <th>Site</th>
                                                                    <th>Ferme</th>
                                                                    <th>Famille culturale</th>
                                                                    <th>Culture variété</th>
                                                                    <th>Type d'irrigation</th>
                                                                    <th>Surface</th>
                                                                    <th>Date de sémis</th>
                                                                    <th>duree cycle</th>
                                                                    <th>Mois</th>
                                                                    <th>Semaine</th>
                                                                    <th>Geste</th>
                                                                    <th>Num R</th>
                                                                    <th>QTE JH</th>
                                                                    <th>Unité</th>
                                                                    <th class="numeric">QTET JH</th>
                                                                </tr>
                                                                </thead>
                                                                <tfoot align="right">
                                                                <tr>
                                                                    <th colspan="17" style="text-align:right"><b>Total:</b></th>
                                                                    <th></th>
                                                                </tr>
                                                                </tfoot>
                                                                <tbody>
                                                                {% for rs in itmo_detail %}
                                                                    <tr>
                                                                        <td>{{ rs.CYCLECULTURAL }}</td>
                                                                        {% if rs.TYPEOP =='OPB' %}
                                                                            <td>OP BUDGET</td>
                                                                        {% elseif rs.TYPEOP =='OPP' %}
                                                                            <td>OP PRELI.</td>
                                                                        {% else %}
                                                                            <td></td>
                                                                        {% endif %}
                                                                        <td>{{ rs.ILOT }}</td>
                                                                        <td>{{ rs.SITE }}</td>
                                                                        <td>{{ rs.FERME }}</td>
                                                                        <td>{{ rs.FAMILLECULTURE }}</td>
                                                                        <td>{{ rs.CULTURE }}</td>
                                                                        <td>{{ rs.TYPEIRRIGATION }}</td>
                                                                        <td>{{ rs.SURFACE }}</td>
                                                                        <td>{{ rs.DATEDEBUTSEMIS }}</td>
                                                                        <td>{{ rs.DURRECYCLE }}</td>
                                                                        <td>{{ rs.MOIS }}</td>
                                                                        <td>{{ rs.SEMAINE }}</td>
                                                                        <td>{{ rs.GESTE }}</td>
                                                                        <td>{{ rs.NUMRECOLTE }}</td>
                                                                        <td>{{ rs.QUANTITE }}</td>
                                                                        <td>{{ rs.UNITE }}</td>
                                                                        <td>{{ rs.QUANTITETJH }}</td>
                                                                    </tr>
                                                                {% endfor %}
                                                                </tbody>
                                                            </table>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div id="taboneop" class="tab-pane">
                                        <div class="row">
                                            <div class="col-lg-12 col-sm-12 col-xs-12">
                                                <div class="widget flat radius-bordered">
                                                    <div class="widget-header bg-red">
                                                        <span class="widget-caption">Prevision main d'oeuvre d'un OP</span>
                                                    </div>
                                                    <div class="widget-body">
                                                        <div class="row">
                                                            <div class="form-horizontal"  style="padding-left: 5%; padding-right: 5%">
                                                                <div class="form-group col-lg-4 col-sm-4 col-xs-4">
                                                                    <label for="" class="col-sm-2 control-label">OP<sup style="color: red">*</sup></label>
                                                                    <div class="col-sm-10">
                                                                        <input type="text" id="cyclecultural2" style="width: 100%"/>
                                                                    </div>
                                                                </div>
                                                                <div class="form-group col-lg-6 col-sm-6 col-xs-6">
                                                                    <label for="" class="col-sm-4 control-label">Rendement KG<sup style="color: red">*</sup></label>
                                                                    <div class="col-sm-6">
                                                                        <input type="number" id="rendement" class="form-control"/>
                                                                    </div>
                                                                </div>
                                                                <div class="form-group col-lg-2 col-sm-2 col-xs-2">
                                                                    <a href="javascript:void(0);" class="btn btn-azure" id="btnitkmoop"><i class="glyphicon glyphicon-arrow-down"></i></a>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <br>
                                                        <div class="row">
                                                            <div style="padding-left: 2%; padding-right: 2%">
                                                                <table class="table table-bordered table-hover " id="">
                                                                    <thead class="bordered-darkorange">
                                                                    <tr role="row">
                                                                        <th>Ilot (OP)</th>
                                                                        <th>SIte</th>
                                                                        <th>Ferme</th>
                                                                        <th>Rendement Brut Budget</th>
                                                                        <th>Rendement Previsionnel</th>
                                                                        <th>Quantite Receptionné</th>
                                                                    </tr>
                                                                    </thead>
                                                                    <tbody>
                                                                    {% for rs in data1 %}
                                                                        <tr>
                                                                            <td>{{ rs.ILOT }} ({{ rs.CYCLECULTURAL }})</td>
                                                                            <td>{{ rs.SITE }}</td>
                                                                            <td>{{ rs.FERME }}</td>
                                                                            <td>{{ rs.RENDEMENTBRUT }}</td>
                                                                            <td> <input type="number" id="rendement" class="form-control"/></td>
                                                                            <td>{{ rs.POIDNETRECEP }}</td>
                                                                        </tr>
                                                                    {% endfor %}
                                                                    </tbody>
                                                                </table>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /Page Body -->
            </div>


            <!-- /Page Body -->
        </div>

    </div>
{% endblock %}