<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type"/>
    <title>{% block title %}SCL / KOCC-PGI {% endblock %}</title>
    {#content="text/html; charset=utf-8"#}
    {% block stylesheets %}

    {% endblock %}
    <link rel="icon" type="image/x-icon" href="{{ asset('images/logoSCL-mais.png') }}"/>
</head>


<body>

<p>Google Sheets API Quickstart</p>

<!--<div class="g-signin2" data-onsuccess="onSignIn"></div>-->
<!--Add buttons to initiate auth sequence and sign out-->
<button id="authorize-button" style="display: none;">Authorize</button>
<button id="signout-button" style="display: none;">Sign Out</button>

<pre id="content"></pre>

{% block javascripts %}
<script src="{{ asset('assets/js/jquery.min.js') }}"></script>
<script type="text/javascript">
    // Client ID and API key from the Developer Console
    var CLIENT_ID = '658037629551-p50aca3j9sbu7oils2qcldp2vhks31l6.apps.googleusercontent.com';
    var API_KEY = 'AIzaSyDbB6bzS6qjB8tSiDemx5OuJ58jWeaYLF0';

    // Array of API discovery doc URLs for APIs used by the quickstart
    var DISCOVERY_DOCS = ["https://sheets.googleapis.com/$discovery/rest?version=v4"];

    // Authorization scopes required by the API; multiple scopes can be
    // included, separated by spaces.
    var SCOPES = "https://www.googleapis.com/auth/spreadsheets.readonly";

    var authorizeButton = document.getElementById('authorize-button');
    var signoutButton = document.getElementById('signout-button');

    /**
     *  On load, called to load the auth2 library and API client library.
     */
    function handleClientLoad() {
        gapi.load('client:auth2', initClient);
        //google.load("search", "1");
    }

    /**
     *  Initializes the API client library and sets up sign-in state
     *  listeners.
     */
    function initClient() {
        gapi.client.init({
            apiKey: API_KEY,
            clientId: CLIENT_ID,
            discoveryDocs: DISCOVERY_DOCS,
            scope: SCOPES
        }).then(function () {
            // Listen for sign-in state changes.
            gapi.auth2.getAuthInstance().isSignedIn.listen(updateSigninStatus);

            // Handle the initial sign-in state.
            updateSigninStatus(gapi.auth2.getAuthInstance().isSignedIn.get());
            authorizeButton.onclick = handleAuthClick;
            signoutButton.onclick = handleSignoutClick;
        });
    }

    /**
     *  Called when the signed in status changes, to update the UI
     *  appropriately. After a sign-in, the API is called.
     */
    function updateSigninStatus(isSignedIn) {
        if (isSignedIn) {
            authorizeButton.style.display = 'none';
            signoutButton.style.display = 'block';
            listMajors();
        } else {
            authorizeButton.style.display = 'block';
            signoutButton.style.display = 'none';
        }
    }

    /**
     *  Sign in the user upon button click.
     */
    function handleAuthClick(event) {
        gapi.auth2.getAuthInstance().signIn();
    }

    /**
     *  Sign out the user upon button click.
     */
    function handleSignoutClick(event) {
        gapi.auth2.getAuthInstance().signOut();
    }

    /**
     * Append a pre element to the body containing the given message
     * as its text node. Used to display the results of the API call.
     *
     * @param {string} message Text to be placed in pre element.
     */
    function appendPre(message) {
        var pre = document.getElementById('content');
        var textContent = document.createTextNode(message + '\n');
        pre.appendChild(textContent);
    }

    /**
     * Print the names and majors of students in a sample spreadsheet:
     * https://docs.google.com/spreadsheets/d/1BxiMVs0XRA5nFMdKvBdBZjgmUUqptlbs74OgvE2upms/edit
     */
    function listMajors() {


        gapi.client.sheets.spreadsheets.values.get({
            spreadsheetId: '1dFuCNRBR_xyl0aC1jbGroK8_DNTU-Im6fkKXfLqlHt0',
            range: 'Prévision Récoltes HV!B23:X',
        }).then(function(response) {
                var range = response.result;
                if (range.values.length > 0) {

                    for (i = 0; i < range.values.length; i++) {
                        var row = range.values[i];

                        var site=row[0].trim();
                        var ferme=row[1].trim();
                        var parcelle=row[2].trim();
                        var variete=row[3].trim();
                        var datesemis=row[4].trim();
                        var surface=row[6].trim();
                        var rend=row[22];

                        var datas = "site="+site+"&ferme="+ferme+"&parcelle="+parcelle+"&variete="+variete+"&datesemis="+datesemis+"&surface="+surface+"&rend="+rend;
                          //  "&datemaintenance="+datemaintenance+
                            //"&materielid="+materielid+ "&compteur="+compteur +
                            //"&maintenancepro="+maintenancepro
                            //+"&mecanicien="+mecanicien + "&dateimmo="+dateimmo;

                        $.ajax({
                            type: "GET",
                            url: Routing.generate('flushsheetgoogle'),
                            data: datas,
                            datatype: "html",
                            success : function (response) {


                                //window.location.href = Routing.generate('ajoutarticlemaintenance', {materielid:materielid,compteur:compteur,date:datemaintenance });
                            },
                            failure: function (response) {
                                alert("Erreur lors de l'ajout. Un ou plusieurs champs sont vides");
                            }
                        });
                        appendPre('Site : '+row[0]+' Ferme : '+row[1]+' parcelle : '+row[2] +' Variété : '+row[3]+' Date Semis : '+row[4]+' Surface : '+row[6]+' Rend Brut Ajusté :'+row[22]);
                        // Print columns A and E, which correspond to indices 0 and 4.

                    }
                } else {
                    appendPre('No data found.');
                }
            },
            function(response) {
                appendPre( 'Erreur');
                appendPre('Error: ' + response.result.error.message);
            });
    }

</script>
<script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
<script src="{{ path('fos_js_routing_js', {"callback": "fos.Router.setData"}) }}"></script>
    <script type="text/javascript" src="https://www.google.com/jsapi"></script>
<script async defer src="https://apis.google.com/js/api.js"
        onload="this.onload=function(){};handleClientLoad()"
        onreadystatechange="if (this.readyState === 'complete') this.onload()">
</script>
{% endblock %}

</body>
</html>