{% extends 'TechniqueBundle:MaintenanceMateriel:layout.html.twig' %}
{% block content %}
    <br>
    <div class="col-lg-12 col-sm-12 col-xs-12" style="padding-left: 15%; padding-right: 15%">
        <div class="widget flat radius-bordered">
            <div class="widget-header bg-azure">
                <span class="widget-caption">Nouvelle Fiche de maintenance</span>
                {% if intervention|length != 0%}
                    <div class="widget-buttons buttons-bordered">
                        <button onclick="document.location.href='{{ path('articlecurative', {'idmaintenance':maintenance.id }) }}'" class="btn
                                        btn-magenta btn-sm">Ajouter des articles
                            <i class="fa fa-arrow-right"></i></button>
                    </div>
                    <div class="widget-buttons buttons-bordered">
                        <button onclick="document.location.href='{{ path('ajoutinterventionp', {'idmaintenance':maintenance.id }) }}'" class="btn
                                        btn-success btn-sm">Ajouter des
                            interventions
                            preventives
                            <i class="fa fa-arrow-right"></i></button>
                    </div>
                {% endif %}
                <div class="widget-buttons buttons-bordered">
                    <button class="btn btn-azure btn-sm" onclick="document.location.href='{{ path('fichemaintenancecurative') }}'">Nouvelle Fiche de maintenance</button>
                </div>
            </div>
            <div class="widget-body">
                <div class="row">
                    <div class="form-horizontal">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <div class="form-group">
                                <label for="" class="col-sm-4 control-label">DATE MAINTENANCE</label>
                                <div class="col-sm-4">
                                    <input type="text" class="form-control" value="{{ maintenance.dATEMAINTENANCE|date('d-m-Y') }}"/>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="" class="col-sm-4 control-label">STATUT</label>
                                <div class="col-sm-4">
                                    {% if maintenance.sTATUT == 'SAISI' %}
                                        <input type="text" class="form-control" value="{{ maintenance.sTATUT }}" style="background: #00B0FF; color: black" disabled/>
                                    {% endif %}
                                    {% if maintenance.sTATUT == 'DIFFUSE' %}
                                        <input type="text" class="form-control" value="{{ maintenance.sTATUT }}" style="background: #36b50c; color: black" disabled/>
                                    {% endif %}
                                    <input type="hidden" id="idmaintenance" class="form-control" value="{{ maintenance.id }}" disabled/>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="" class="col-sm-4 control-label">MATERIEL</label>
                                <div class="col-sm-4">
                                    <input type="text" class="form-control" value="({{ materiel.cODE }}) {{ materiel.lIBELLE }}"/>
                                    <input type="hidden" value="{{ materiel.id }}" id="idmateriel"/>
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="" class="col-sm-4 control-label">COMPTEUR</label>
                                <div class="col-sm-4">
                                    <input type="text" class="form-control" value="{{ maintenance.cOMPTEUR }}" id="compteur"/>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="" class="col-sm-4 control-label">MAINTENANCE A VENIR</label>
                                <div class="col-sm-4">
                                    <input type="text" class="form-control" value="{{ maintenance.cPTPROCHAIN }}"/>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="" class="col-sm-4 control-label">MECANICIEN</label>
                                <div class="col-sm-4">
                                    <input type="text" class="form-control" value="{{ maintenance.nOMMECANICIEN }}"/>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="" class="col-sm-4 control-label">DATE D'IMMOBILISATION</label>
                                <div class="col-sm-4">
                                    <input type="text" class="form-control" value="{{ maintenance.dATEENTREE|date
                                    ('d-m-Y')
                                    }}"/>
                                </div>
                            </div>

                            <div class="form-title">
                                Description des travaux &aacute; &eacute;ffectuer
                            </div>
                            {{ form_start(edit_form, {'attr': {'class': 'form-horizontal'}}) }}
                            <div class="form-group">
                                <label for="" class="col-sm-4 control-label">DESCRIPTION</label>
                                <div class="col-sm-4">
                                    {{ form_widget(edit_form.dESCRIPTION, {'attr': {'class': 'form-control'}}) }}
                                </div>
                            </div>
                            <div align="right">
                                <div style="padding-right: 35%">
                                    <input type="submit" class="btn btn-warning" value="Valider" onClick="this
                                    .disabled=true;this.form.submit();this.value='Patientez...'"/>
                                </div>
                            </div>
                            {{ form_rest(edit_form) }}
                            {{ form_end(edit_form) }}

                            <br>
                            <div style="padding-left: 10%; padding-right: 10%" >
                                <table class="table table-bordered table-hover ">
                                    <thead class="bordered-darkorange">
                                    <tr>
                                        <th>Compteur</th>
                                        <th>Op&eacute;ration</th>
                                        <th></th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for rs in interventions %}
                                        <tr>
                                            <td>{{ rs.cOMPTEUR }}</td>
                                            <td style="width: 70%">{{ rs.dESCRIPTION }}</td>
                                            <td><a class="btn btn-warning" href="{{ path('modifierinterventionc',
                                                {'idmaintenance':maintenance.id, 'id': rs.id})
                                                }}"><i class="fa fa-pencil"
                                                       title="Modifier"></i></a>
                                                <a class="btn btn-danger" href="{{ path('supprimerinterventionc',
                                                {'idmaintenance':maintenance.id, 'id': rs.id}) }}"><i class="fa fa-trash-o"></i></a>
                                            </td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </div>

                            <div class="form-title">
                                <a style="color: #ffc31a" href="{{ path('articlecurative',
                                {'idmaintenance':maintenance.id}) }}">Articles de la
                                    maintenance</a>
                            </div>
                            {% if articles|length != 0%}
                                <div style="padding-left: 10%; padding-right: 10%" >
                                    <table class="table table-bordered table-hover ">
                                        <thead class="bordered-darkorange">
                                        <tr>
                                            <th>R&eacute;f article</th>
                                            <th>D&eacute;signation article</th>
                                            <th>Quantit&eacute;</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        {% for rs in articles %}
                                            <tr>
                                                <td>{{ rs.rEFARTICLE }}</td>
                                                <td>{{ rs.dESARTICLE }}</td>
                                                <td>{{ rs.qUANTITE }}</td>
                                            </tr>
                                        {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            {% endif %}

                            <br>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}