{% extends 'UserBundle:GestionUtilisateur:layout.html.twig' %}
{% block content %}
<br>
    <div class="col-lg-12 col-sm-12 col-xs-12" style="padding-left: 20%; padding-right: 20%">
            <div class="widget flat radius-bordered">
                <div class="widget-header bg-warning">
                    <span class="widget-caption">Modifier l'utisateur</span>
                </div>
                <div class="widget-body">
                    <div id="registration-form">
                        <div class="form-title">
                            Information g&eacute;n&eacute;rale
                        </div>
                        <div style="padding-left: 10%; padding-right: 15%" class="form-horizontal">
                            <div class="form-group">
                                <label for="inputEmail3" class="col-sm-4 control-label no-padding-right">NOM / PRENOM</label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control" id="" value="{{ entity.name }}" disabled>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="inputEmail3" class="col-sm-4 control-label no-padding-right">LOGIN</label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control" id="" value="{{ entity.username }}" disabled>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="inputEmail3" class="col-sm-4 control-label no-padding-right">EMAIL</label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control" id="" value="{{ entity.email }}" disabled>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="inputEmail3" class="col-sm-4 control-label no-padding-right">DERNIERE CONNEXION LE </label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control" id="" value="{{ entity.lastLogin|date('d-m-Y h:m:s') }}" disabled>
                                </div>
                            </div>
                        </div>

                        <div class="form-title">
                            Information modifiable
                        </div>
                        <div  style="padding-left: 10%; padding-right: 15%">
                            {{ form_start(edit_form, {'attr': {'class': 'form-horizontal'}}) }}
                            <div class="form-group">
                                <label for="inputEmail3" class="col-sm-4 control-label no-padding-right">SITE</label>
                                <div class="col-sm-8">
                                    {{ form_widget(edit_form.siteid, {'attr': {'class': 'form-control'}}) }}
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="inputEmail3" class="col-sm-4 control-label no-padding-right">FERME</label>
                                <div class="col-sm-8">
                                    {{ form_widget(edit_form.fermeid, {'attr': {'class': 'form-control'}}) }}
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="inputEmail3" class="col-sm-4 control-label no-padding-right">AUTORISER DE DIFFUSION</label>
                                <div class="col-sm-8">
                                    {{ form_widget(edit_form.diffusion, {'attr': {'class': 'form-control'}}) }}
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="inputEmail3" class="col-sm-4 control-label no-padding-right">ACTIF</label>
                                <div class="col-sm-8">
                                    {{ form_widget(edit_form.enable, {'attr': {'class': 'form-control'}}) }}
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-offset-4 col-sm-8">
                                    <input type="submit" class="btn btn-warning" value="Modifier" onClick="this.disabled=true;this.form.submit();this.value='Patientez...'"/>
                                </div>
                            </div>
                        </div>
                        {{ form_rest(edit_form) }}
                        {{ form_end(edit_form) }}
                        <div class="form-title">
                            R&ocirc;les
                        </div>
                        <div style="padding-left: 25%; padding-right: 25%" class="form-horizontal">
                            <table class="table table-bordered">
                                <tbody>
                                <tr>
                                    <td>
                                        {% for rs1 in  entity.roles %}
                                            <ul>
                                                <li>
                                                    {{ rs1 }}
                                                </li>
                                            </ul>
                                        {% endfor %}
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                            <br>
                            <button class="btn btn-yellow" data-toggle="modal" data-target="#myModalHorizontal">Modifier ces roles
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    <div class="modal fade" id="myModalHorizontal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="false">
            <div class="modal-dialog">
                <div class="modal-content">
                    <!-- Modal Header -->
                    <div class="modal-header">
                        <button type="button" class="close"
                                data-dismiss="modal">
                            <span aria-hidden="true">&times;</span>
                            <span class="sr-only">Close</span>
                        </button>
                        <h4 class="modal-title" id="myModalLabel">
                            Liste des roles
                        </h4>
                    </div>

                    <!-- Modal Body -->
                    <div class="form-horizontal" id="form">

                        <div class="modal-body">
                            <table class="table table-bordered table-hover">
                                <thead>
                                <tr>
                                    <th style="width: 10%"></th>
                                    <th>Roles</th>
                                    <th>Description</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for rs in roles %}
                                    <tr>
                                        <td>
                                            {% if rs.nomRole == 'ROLE_USER' %}
                                                <div class="form-group">
                                                    <div class="col-sm-offset-4">
                                                        <div class="checkbox">
                                                            <label>
                                                                <input type="checkbox" id="checkrole" name="checkrole[]" class="checkrole" value="ROLE_USER" checked disabled>
                                                                <span class="text"></span>
                                                            </label>
                                                        </div>
                                                    </div>
                                                </div>
                                                {% elseif rs.nomRole  in entity.roles %}
                                                    <div class="form-group">
                                                        <div class="col-sm-offset-4">
                                                            <div class="checkbox">
                                                                <label>
                                                                    <input type="checkbox" id="checkrole" name="checkrole[]" class="checkrole" value="{{ rs.nomRole }}"  checked>
                                                                    <span class="text"></span>
                                                                </label>
                                                            </div>
                                                        </div>
                                                    </div>
                                                {% else %}
                                                <div class="form-group">
                                                    <div class="col-sm-offset-4">
                                                        <div class="checkbox">
                                                            <label>
                                                                <input type="checkbox" id="checkrole" name="checkrole[]" class="checkrole" value="{{ rs.nomRole }}" >
                                                                <span class="text"></span>
                                                            </label>
                                                        </div>
                                                    </div>
                                                </div>
                                            {% endif %}
                                        </td>
                                        <td>{{ rs.nomRole }}</td>
                                        <td>{{ rs.description }}</td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>

                        <!-- Modal Footer -->
                        <div class="modal-footer">

                            <button type="button" class="btn btn-success" onclick="getroles({{ entity.id }})" id="btnrole">
                                <span class="fa fa-check"></span>
                                Ajouter
                            </button>
                            <button type="button" class="btn btn-danger" onclick="deleteroles({{ entity.id }})" >
                                <span class="fa fa-trash"></span>
                                Supprimer
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
{% endblock %}