{% extends 'UserBundle:GestionUtilisateur:layout.html.twig' %}
{% block content %}
    <br>
    <div class="row">
        <div class="row" style="padding-left: 5%; padding-right: 5%">
            <div class="col-lg-12 col-sm-12 col-xs-12">
                <div class="row" >
                    <div class="widget flat radius-bordered">
                        <div class="widget-header bg-palegreen">
                            <span class="widget-caption">Liste des utilisateurs</span>
                        </div>
                        <div class="widget-body">
                            <div style="padding-left: 5%; padding-right: 5%">
                                <table class="table table-hover table-bordered" id="searchable3">
                                    <thead class="bordered-darkorange" >
                                    <tr role="row">
                                        <th></th>
                                        <th>Nom / Prenom</th>
                                        <th>Login</th>
                                        <th>Email</th>
                                        <th>Actif</th>
                                        <th>Derni&egrave;re connexion le</th>
                                        <th>R&ocirc;le(s)</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for rs in user %}
                                        <tr>
                                            <td><a href="{{ path('detailutilisateur',{'id': rs.id }) }}" style="color: #00C853">Detail</a></td>
                                            <td>{{ rs.name }}</td>
                                            <td>{{ rs.username }}</td>
                                            <td>{{ rs.email }}</td>
                                            {% if rs.enable == true %}
                                                <td><div class="checkbox">
                                                        <label>
                                                            <input type="checkbox" class="colored-success" checked="checked" disabled>
                                                            <span class="text"></span>
                                                        </label>
                                                    </div></td>
                                            {% else %}
                                                <td><div class="checkbox">
                                                        <label>
                                                            <input type="checkbox" class="colored-success" disabled>
                                                            <span class="text"></span>
                                                        </label>
                                                    </div></td>
                                            {% endif %}
                                            <td>{{ rs.lastLogin|date('d-m-Y h:m:s') }}</td>
                                            <td>
                                            {% for rs1 in rs.roles %}
                                                <ul>
                                                    <li>
                                                        {{ rs1 }}
                                                    </li>
                                                </ul>
                                            {% endfor %}
                                            </td>
                                        </tr>
                                    {% endfor %}

                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}