{% extends 'CultureBundle:FamilleCulture:layout.html.twig' %}
{% block content %}
    <br>
    <div class="col-lg-12 col-sm-12 col-xs-12" style="padding-left: 15%; padding-right: 15%">
    <div class="widget flat radius-bordered">
        <div class="widget-header bg-azure">
            <span class="widget-caption">Nouvelle famille culture</span>
            <div class="widget-buttons buttons-bordered">
                <button class="btn btn-maroon btn-sm" onclick="document.location.href='{{ path('culture') }}'"><i
                            class="fa
                fa-arrow-left" aria-hidden="true"></i>Retour</button>
                <button class="btn btn-azure btn-sm" onclick="document.location.href='{{ path('ajoutfamilleculture') }}'">Nouvelle famille culture</button>
            </div>
        </div>
        <div class="widget-body">
            <div class="row">
                <div class="form-horizontal">
                    {{ form_start(form, {'attr': {'class': 'form-horizontal'}}) }}
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style=" padding-right: 10%">
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                            <div class="form-group">
                                <label for="" class="col-sm-6 control-label">LIBELLE<sup style="color:
                                        red">*</sup></label>
                                <div class="col-sm-6">
                                    {{ form_widget(form.lIBELLE, {'attr': {'class': 'form-control'}}) }}
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="" class="col-sm-6 control-label">COMMENTAIRE</label>
                                <div class="col-sm-6">
                                    {{ form_widget(form.cOMMENTAIRE, {'attr': {'class': 'form-control'}}) }}
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="" class="col-sm-6 control-label">DUREE CYCLE MAX (j)<sup style="color:
                                        red">*</sup></label>
                                <div class="col-sm-6">
                                    {{ form_widget(form.dUREECYCLEMAX, {'attr': {'class': 'form-control'}}) }}
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                            <div class="form-group">
                                <label for="" class="col-sm-6 control-label">ECARTEMENT LIGNE (CM)<sup style="color:
                                        red">*</sup></label>
                                <div class="col-sm-6">
                                    {{ form_widget(form.eCARTEMENTLIGNE, {'attr': {'class': 'form-control'}}) }}
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="" class="col-sm-6 control-label">ECARTEMENT SEMIS (CM)<sup style="color:
                                        red">*</sup></label>
                                <div class="col-sm-6">
                                    {{ form_widget(form.eCARTEMENTSEMIS, {'attr': {'class': 'form-control'}}) }}
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="" class="col-sm-6 control-label">DENSITE SEMIS /HA<sup style="color:
                                        red">*</sup></label>
                                <div class="col-sm-6">
                                    <input type="number" class="form-control" style="background: #008888; color:
                                    white" id="densite"/>
                                </div>
                            </div>
                        </div>
                    </div>
                    <hr/>
                    <div align="right" style="padding-right: 12%">
                        <input type="submit" class="btn btn-azure" value="Valider" onClick="this.disabled=true;this.form.submit();this.value='Patientez...'"/>
                    </div>
                    {{ form_rest(form) }}
                    {{ form_end(form) }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}