{% extends 'CultureBundle:FamilleCulture:layout.html.twig' %}
{% block content %}
    <br>
    <div class="col-lg-12 col-sm-12 col-xs-12" style="padding-left: 10%; padding-right: 10%">
    <div class="widget flat radius-bordered">
        <div class="widget-header bg-palegreen">
            <span class="widget-caption">Liste Famille culture</span>
            <div class="widget-buttons buttons-bordered">
                <button class="btn btn-azure btn-sm" onclick="document.location.href='{{ path('ajoutfamilleculture') }}'">Nouvelle famille culture</button>
            </div>
        </div>
        <div class="widget-body">
            <div class="row">
                <div class="form-horizontal">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <table class="table table-bordered table-hover " id="searchable2">
                            <thead class="bordered-palegreen">
                            <tr role="row">
                                <th></th>
                                <th>Lib&eacute;ll&eacute;</th>
                                <th>Date invalide</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for rs in familleculture %}
                                <tr>
                                    <td><a href="{{ path('modifierfamilleculture', {'id': rs.id }) }}" style="color: #00C853">Detail</a></td>
                                    <td>{{ rs.lIBELLE }}</td>
                                    {% if rs.dATEINVALIDE != ''  %}
                                        <td>{{ rs.dATEINVALIDE|date('d-m-Y') }}</td>
                                    {% else %}
                                        <td></td>
                                    {% endif %}
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}