{% extends 'CultureBundle:FamilleCulture:layout.html.twig' %}
{% block content %}
    <br>
    <div class="col-lg-12 col-sm-12 col-xs-12" style="padding-left: 15%; padding-right: 15%">
        <div class="widget flat radius-bordered">
            <div class="widget-header bg-warning">
            <span class="widget-caption">Modifier famille culture</span>
            <div class="widget-buttons buttons-bordered">
                <button class="btn btn-maroon btn-sm" onclick="document.location.href='{{ path('culture') }}'"><i
                            class="fa
                fa-arrow-left" aria-hidden="true"></i>Retour</button>
                <button class="btn btn-azure btn-sm" onclick="document.location.href='{{ path('ajoutfamilleculture') }}'">Nouvelle famille culture</button>
            </div>
        </div>
            <div class="widget-body">
            <div class="row">
                <div class="form-horizontal">
                    {{ form_start(edit_form, {'attr': {'class': 'form-horizontal'}}) }}
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style=" padding-right: 10%">
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                            <div class="form-group">
                                <label for="" class="col-sm-6 control-label">LIBELLE<sup style="color:
                                        red">*</sup></label>
                                <div class="col-sm-6">
                                    {{ form_widget(edit_form.lIBELLE, {'attr': {'class': 'form-control'}}) }}
                                    <input type="hidden" value="{{ familleculture.id }}" id="famillecultureid"/>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="" class="col-sm-6 control-label">COMMENTAIRE</label>
                                <div class="col-sm-6">
                                    {{ form_widget(edit_form.cOMMENTAIRE, {'attr': {'class': 'form-control'}}) }}
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="" class="col-sm-6 control-label">DUREE CYCLE MAX (j)<sup style="color:
                                        red">*</sup></label>
                                <div class="col-sm-6">
                                    {{ form_widget(edit_form.dUREECYCLEMAX, {'attr': {'class': 'form-control'}}) }}
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                            <div class="form-group">
                                <label for="" class="col-sm-6 control-label">ECARTEMENT LIGNE (CM)<sup style="color:
                                        red">*</sup></label>
                                <div class="col-sm-6">
                                    {{ form_widget(edit_form.eCARTEMENTLIGNE, {'attr': {'class': 'form-control'}}) }}
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="" class="col-sm-6 control-label">ECARTEMENT SEMIS (CM)<sup style="color:
                                        red">*</sup></label>
                                <div class="col-sm-6">
                                    {{ form_widget(edit_form.eCARTEMENTSEMIS, {'attr': {'class': 'form-control'}}) }}
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="" class="col-sm-6 control-label">DENSITE SEMIS /HA<sup style="color:
                                        red">*</sup></label>
                                <div class="col-sm-6">
                                    <input type="number" class="form-control" style="background: #008888; color:
                                    white" id="densite"/>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="" class="col-sm-6 control-label">DATE INVALIDE</label>
                                <div class="col-sm-6">
                                    {{ form_widget(edit_form.dATEINVALIDE, {'attr': {'class': 'form-control'}}) }}
                                </div>
                            </div>
                        </div>
                    </div>
                    <hr/>
                    <div align="right" style="padding-right: 12%">
                        <input type="submit" class="btn btn-warning" value="Modifier" onClick="this.disabled=true;this.form.submit();this.value='Patientez...'"/>
                    </div>
                    {{ form_rest(edit_form) }}
                    {{ form_end(edit_form) }}
                </div>
            </div>
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <div class="form-title">
                            Itin&eacute;raires techniques
                        </div>
                        <div class="tabbable">
                            <ul class="nav nav-tabs nav-justified" id="myTab5">
                                <li class="tab-yellow">
                                    <a data-toggle="tab" href="#tabphyto">
                                        Phyto
                                    </a>
                                </li>
                                <li class="tab-green">
                                    <a data-toggle="tab" href="#tabferti">
                                        Ferti
                                    </a>
                                </li>
                                <li class="active">
                                    <a data-toggle="tab" href="#tabma">
                                        Main d'oeuvre
                                    </a>
                                </li>
                            </ul>
                            <div class="tab-content" style="background-color: rgba(231, 231, 231, 0.38)">
                                <div id="tabphyto" class="tab-pane">
                                    <div class="row">
                                        <br>
                                        <div class="row" style="padding-left: 25%; padding-right: 25%">
                                            <div class="col-lg-12 col-sm-12 col-xs-12">

                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div id="tabferti" class="tab-pane">
                                    <div class="row">
                                        <br>
                                        <div class="row" style="padding-left: 25%; padding-right: 25%">
                                            <div class="col-lg-12 col-sm-12 col-xs-12">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div id="tabma" class="tab-pane  in active">
                                    <div class="row">
                                        <br>
                                        <div class="col-lg-12 col-sm-12 col-xs-12">
                                            <div style="text-align: center">
                                                <div class="messageflasherror" style="color: #cd0000">
                                                    {% for flashMessage in app.session.flashbag.get('notice') %}
                                                        <p style="color: red"> <i class="fa fa-exclamation-triangle" ></i>  {{ flashMessage
                                                            }}</p>
                                                    {% endfor %}
                                                </div>
                                                {{ form_start(form, {'attr': {'class': 'form-inline'}}) }}
                                                {#<form class="form-inline" role="form">#}
                                                <div class="form-group">
                                                    <label class=" control-label" for="exampleInputEmail2">LIBELLE <sup style="color:red">*</sup></label>
                                                    {{ form_widget(form.lIBELLE, {'attr': {'class': 'form-control'}}) }}
                                                </div>
                                                <div class="form-group">
                                                    <label class=" control-label" for="exampleInputPassword2">TYPE IRRIGATION <sup style="color:red">*</sup></label>
                                                    {{ form_widget(form.tYPEIRRIGATIONID, {'attr': {'class': 'form-control'}}) }}
                                                </div>
                                                <input type="submit" class="btn btn-azure" value="Valider" onClick="this.disabled=true;this.form.submit();this.value='Patientez...'"/>
                                                {# </form>#}
                                                {{ form_rest(form) }}
                                                {{ form_end(form) }}
                                            </div>
                                            <br>

                                            <div style="padding-right: 2%; padding-left: 2%" >
                                                {% if itmoByFamille|length != 0 %}

                                                    <div class="widget">
                                                        <div class="widget-header">
                                                            <span class="widget-caption"></span>

                                                            <div class="widget-buttons">
                                                                <a class="refresh" id="refresh-toggler" href="">
                                                                    <i class="glyphicon glyphicon-refresh"></i>
                                                                </a>
                                                                <a href="#" data-toggle="collapse">
                                                                    <i class="fa fa-minus"></i>
                                                                </a>
                                                                <a href="#" data-toggle="dispose">
                                                                    <i class="fa fa-times"></i>
                                                                </a>

                                                            </div>
                                                        </div>
                                                        <div class="widget-body">
                                                            {% for flashMessage in app.session.flashbag.get('notice1') %}
                                                                <p style="color: red"> <i class="fa fa-exclamation-triangle" ></i>  {{ flashMessage
                                                                    }}</p>
                                                            {% endfor %}
                                                            {% for rsitmo in itmoByFamille %}
                                                                <input type="hidden" value="{{ rsitmo.id }}" id="itmoid"/>
                                                                <div class="dd dd-draghandle bordered" id="exemple">
                                                                    <ol class="dd-list">
                                                                        <li class="dd-item">
                                                                            <div class="dd-handle">
                                                                                <div class="btn-group" >
                                                                                    <a class="dropdown-toggle" data-toggle="dropdown" href="javascript:void(0);" style="color: black"><b>{{ rsitmo.lIBELLE }} ({{ rsitmo.TYPEIRRIGATION }})</b></a>
                                                                                    <ul class="dropdown-menu dropdown-palegreen">
                                                                                        <li>
                                                                                            <a href="#" tabindex="-1" data-toggle="modal" data-target="#myModal{{ rsitmo.id }}">
                                                                                                <i class="dropdown-icon fa fa-copy blue"></i>
                                                                                                Dupliquer
                                                                                            </a>
                                                                                        </li>
                                                                                        <li>
                                                                                            <a href="#" tabindex="-1" data-toggle="modal" data-target="#myModalmodif{{ rsitmo.id }}">
                                                                                                <i class="dropdown-icon fa fa-pencil green"></i>
                                                                                                Modifier
                                                                                            </a>
                                                                                        </li>

                                                                                        <li>
                                                                                            <a href="{{ path('supprimeritmo',{'famillecultureid':familleculture.id, 'itmoid':rsitmo.id}) }}" tabindex="-1" onclick="return confirm('Vous êtes sûr de vouloir supprimer ce ITK ?')">
                                                                                                <i class="dropdown-icon fa fa-trash red"></i>
                                                                                                Supprimer
                                                                                            </a>
                                                                                        </li>
                                                                                    </ul>
                                                                                </div>

                                                                            </div>
                                                                            {% for rsitkmo in itkmo %}

                                                                                {% set var = [] %}
                                                                                {% set var = var|merge([rsitkmo.iTMOID]) %}
                                                                                {% if rsitmo.id in var %}
                                                                                    <ol class="dd-list" style="">
                                                                                        {% if rsitkmo.rANG == -10 %}
                                                                                        <li class="dd-item bordered-blue" data-id="1">
                                                                                            {% endif %}
                                                                                            {% if rsitkmo.rANG == 0 %}
                                                                                        <li class="dd-item bordered-palegreen" data-id="2">
                                                                                            {% endif %}
                                                                                            {% if rsitkmo.rANG == 10 %}
                                                                                        <li class="dd-item bordered-orange" data-id="3">
                                                                                            {% endif %}
                                                                                            {% if rsitkmo.rANG == 20 %}
                                                                                        <li class="dd-item bordered-yellow" data-id="4">
                                                                                            {% endif %}
                                                                                            <div class="dd-handle">
                                                                                                {{ rsitkmo.rANG }} {{ rsitkmo.cODE }} {{ rsitkmo.lIBELLE }}
                                                                                            </div>
                                                                                            <ol class="dd-list" id="periode{{ rsitkmo.id }}">
                                                                                                {% for rsitkmos in itkmos %}

                                                                                                    {% set var = [] %}
                                                                                                    {% set var = var|merge([rsitkmos.iTKMOID]) %}
                                                                                                    {% if rsitkmo.id in var %}
                                                                                                        <li class="dd-item" data-id="{{ rsitkmo.id }}" {#id="geste{{ rsitkmo.id }}"#}>
                                                                                                            <div class="dd-handle">
                                                                                                                <div class="btn-group">
                                                                                                                    <a data-toggle="dropdown" href="javascript:void(0);" style="color: black">Période <b>{{ rsitkmos.pERIODE }}</b></a>
                                                                                                                    <ul class="dropdown-menu dropdown-palegreen">
                                                                                                                        <li>
                                                                                                                            <a href="#" tabindex="-1" data-toggle="modal" data-target="#myModals{{ rsitkmos.id }}">
                                                                                                                                <i class="dropdown-icon fa fa-copy blue"></i>
                                                                                                                                Dupliquer
                                                                                                                            </a>
                                                                                                                        </li>
                                                                                                                        <li>
                                                                                                                            <a href="{{ path('supprimeritkmos',{'famillecultureid':familleculture.id, 'itkmosid':rsitkmos.id}) }}" tabindex="-1" onclick="return confirm('Vous êtes sûr de vouloir supprimer cette semaine ?')">
                                                                                                                                <i class="dropdown-icon fa fa-trash red"></i>
                                                                                                                                Supprimer
                                                                                                                            </a>
                                                                                                                        </li>
                                                                                                                    </ul>
                                                                                                                </div>
                                                                                                               {# <a href="{{ path('supprimeritkmos',{'famillecultureid':familleculture.id, 'itkmosid':rsitkmos.id}) }}"><i class="normal-icon fa fa-trash red"></i></a>

                                                                                                                <i class="drag-icon fa fa-arrows-alt "></i>#}
                                                                                                            </div>
                                                                                                           {# <div class="dd2-content">{{ rsitkmos.pERIODE }}</div>#}
                                                                                                            <ol class="dd-list" id="addgeste{{ rsitkmos.id }}">
                                                                                                                {% for rsitkmog in itkmog|sort %}
                                                                                                                    {% if rsitkmos.id == rsitkmog.iTKMOSID %}
                                                                                                                        <li class="dd-item" data-id="6" >
                                                                                                                            {#<div class="dd-handle">
                                                                                                                                <a href="{{ path('supprimeritkmogeste',{'famillecultureid':familleculture.id, 'itkmogid':rsitkmog.id}) }}"><i class="normal-icon fa fa-trash red"></i></a>

                                                                                                                                <i class="drag-icon fa fa-arrows-alt "></i>
                                                                                                                            </div>#}
                                                                                                                            {% if rsitkmog.lIBELLE == 'PREPARATION' %}
                                                                                                                                <div class="dd-handle" style="background: #f7cfb9; color: white">
                                                                                                                                    <div class="btn-group">
                                                                                                                                        <a data-toggle="dropdown" href="javascript:void(0);" style="color: black"><b>{{ rsitkmog.lIBELLE }}</b></a>
                                                                                                                                        <ul class="dropdown-menu dropdown-palegreen">
                                                                                                                                            <li>
                                                                                                                                                <a href="#" tabindex="-1" data-toggle="modal" data-target="#myModalg{{ rsitkmog.id }}">
                                                                                                                                                    <i class="dropdown-icon fa fa-copy blue"></i>
                                                                                                                                                    Dupliquer
                                                                                                                                                </a>
                                                                                                                                            </li>
                                                                                                                                            <li>
                                                                                                                                                <a href="{{ path('supprimeritkmogeste',{'famillecultureid':familleculture.id, 'itkmogid':rsitkmog.id}) }}" tabindex="-1" onclick="return confirm('Vous êtes sûr de vouloir supprimer cet geste ?')">
                                                                                                                                                    <i class="dropdown-icon fa fa-trash red"></i>
                                                                                                                                                    Supprimer
                                                                                                                                                </a>
                                                                                                                                            </li>
                                                                                                                                        </ul>
                                                                                                                                    </div>
                                                                                                                                </div>
                                                                                                                            {% elseif rsitkmog.lIBELLE == 'SEMIS / PLANTATION' %}
                                                                                                                                <div class="dd-handle" style="background: #f7a067; color: white"><div class="btn-group">
                                                                                                                                        <a data-toggle="dropdown" href="javascript:void(0);" style="color: black"><b>{{ rsitkmog.lIBELLE }}</b></a>
                                                                                                                                        <ul class="dropdown-menu dropdown-palegreen">
                                                                                                                                            <li>
                                                                                                                                                <a href="#" tabindex="-1" data-toggle="modal" data-target="#myModalg{{ rsitkmog.id }}">
                                                                                                                                                    <i class="dropdown-icon fa fa-copy blue"></i>
                                                                                                                                                    Dupliquer
                                                                                                                                                </a>
                                                                                                                                            </li>
                                                                                                                                            <li>
                                                                                                                                                <a href="{{ path('supprimeritkmogeste',{'famillecultureid':familleculture.id, 'itkmogid':rsitkmog.id}) }}" tabindex="-1" onclick="return confirm('Vous êtes sûr de vouloir supprimer cet geste ?')">
                                                                                                                                                    <i class="dropdown-icon fa fa-trash red"></i>
                                                                                                                                                    Supprimer
                                                                                                                                                </a>
                                                                                                                                            </li>
                                                                                                                                        </ul>
                                                                                                                                    </div></div>
                                                                                                                            {% elseif rsitkmog.lIBELLE == 'DESHERBAGE' %}
                                                                                                                                <div class="dd-handle" style="background: #d0cece; color: white"><div class="btn-group">
                                                                                                                                        <a data-toggle="dropdown" href="javascript:void(0);" style="color: black"><b>{{ rsitkmog.lIBELLE }}</b></a>
                                                                                                                                        <ul class="dropdown-menu dropdown-palegreen">
                                                                                                                                            <li>
                                                                                                                                                <a href="#" tabindex="-1" data-toggle="modal" data-target="#myModalg{{ rsitkmog.id }}">
                                                                                                                                                    <i class="dropdown-icon fa fa-copy blue"></i>
                                                                                                                                                    Dupliquer
                                                                                                                                                </a>
                                                                                                                                            </li>
                                                                                                                                            <li>
                                                                                                                                                <a href="{{ path('supprimeritkmogeste',{'famillecultureid':familleculture.id, 'itkmogid':rsitkmog.id}) }}" tabindex="-1" onclick="return confirm('Vous êtes sûr de vouloir supprimer cet geste ?')">
                                                                                                                                                    <i class="dropdown-icon fa fa-trash red"></i>
                                                                                                                                                    Supprimer
                                                                                                                                                </a>
                                                                                                                                            </li>
                                                                                                                                        </ul>
                                                                                                                                    </div></div>
                                                                                                                            {% elseif rsitkmog.lIBELLE == 'ENTRETIEN/PALISSAGE' %}
                                                                                                                                <div class="dd-handle" style="background: #2f75b5; color: white"><div class="btn-group">
                                                                                                                                        <a data-toggle="dropdown" href="javascript:void(0);" style="color: black"><b>{{ rsitkmog.lIBELLE }}</b></a>
                                                                                                                                        <ul class="dropdown-menu dropdown-palegreen">
                                                                                                                                            <li>
                                                                                                                                                <a href="#" tabindex="-1" data-toggle="modal" data-target="#myModalg{{ rsitkmog.id }}">
                                                                                                                                                    <i class="dropdown-icon fa fa-copy blue"></i>
                                                                                                                                                    Dupliquer
                                                                                                                                                </a>
                                                                                                                                            </li>
                                                                                                                                            <li>
                                                                                                                                                <a href="{{ path('supprimeritkmogeste',{'famillecultureid':familleculture.id, 'itkmogid':rsitkmog.id}) }}" tabindex="-1" onclick="return confirm('Vous êtes sûr de vouloir supprimer cet geste ?')">
                                                                                                                                                    <i class="dropdown-icon fa fa-trash red"></i>
                                                                                                                                                    Supprimer
                                                                                                                                                </a>
                                                                                                                                            </li>
                                                                                                                                        </ul>
                                                                                                                                    </div></div>
                                                                                                                            {% elseif rsitkmog.lIBELLE == 'FERTI-IRRIG-PHYTO' %}
                                                                                                                                <div class="dd-handle" style="background: #c6e0b4; color: white"><div class="btn-group">
                                                                                                                                        <a data-toggle="dropdown" href="javascript:void(0);" style="color: black"><b>{{ rsitkmog.lIBELLE }}</b></a>
                                                                                                                                        <ul class="dropdown-menu dropdown-palegreen">
                                                                                                                                            <li>
                                                                                                                                                <a href="#" tabindex="-1" data-toggle="modal" data-target="#myModalg{{ rsitkmog.id }}">
                                                                                                                                                    <i class="dropdown-icon fa fa-copy blue"></i>
                                                                                                                                                    Dupliquer
                                                                                                                                                </a>
                                                                                                                                            </li>
                                                                                                                                            <li>
                                                                                                                                                <a href="{{ path('supprimeritkmogeste',{'famillecultureid':familleculture.id, 'itkmogid':rsitkmog.id}) }}" tabindex="-1" onclick="return confirm('Vous êtes sûr de vouloir supprimer cet geste ?')">
                                                                                                                                                    <i class="dropdown-icon fa fa-trash red"></i>
                                                                                                                                                    Supprimer
                                                                                                                                                </a>
                                                                                                                                            </li>
                                                                                                                                        </ul>
                                                                                                                                    </div></div>
                                                                                                                            {% elseif rsitkmog.lIBELLE == 'MANUTENTION PROD' %}
                                                                                                                                <div class="dd-handle" style="background: #ffc000; color: white"><div class="btn-group">
                                                                                                                                        <a data-toggle="dropdown" href="javascript:void(0);" style="color: black"><b>{{ rsitkmog.lIBELLE }}</b></a>
                                                                                                                                        <ul class="dropdown-menu dropdown-palegreen">
                                                                                                                                            <li>
                                                                                                                                                <a href="#" tabindex="-1" data-toggle="modal" data-target="#myModalg{{ rsitkmog.id }}">
                                                                                                                                                    <i class="dropdown-icon fa fa-copy blue"></i>
                                                                                                                                                    Dupliquer
                                                                                                                                                </a>
                                                                                                                                            </li>
                                                                                                                                            <li>
                                                                                                                                                <a href="{{ path('supprimeritkmogeste',{'famillecultureid':familleculture.id, 'itkmogid':rsitkmog.id}) }}" tabindex="-1" onclick="return confirm('Vous êtes sûr de vouloir supprimer cet geste ?')">
                                                                                                                                                    <i class="dropdown-icon fa fa-trash red"></i>
                                                                                                                                                    Supprimer
                                                                                                                                                </a>
                                                                                                                                            </li>
                                                                                                                                        </ul>
                                                                                                                                    </div></div>
                                                                                                                            {% elseif rsitkmog.lIBELLE == 'RECOLTE' %}
                                                                                                                                <div class="dd-handle" style="background: #bdd7ee; color: white"><div class="btn-group">
                                                                                                                                        <a data-toggle="dropdown" href="javascript:void(0);" style="color: black"><b>{{ rsitkmog.lIBELLE }}</b></a>
                                                                                                                                        <ul class="dropdown-menu dropdown-palegreen">
                                                                                                                                            <li>
                                                                                                                                                <a href="#" tabindex="-1" data-toggle="modal" data-target="#myModalg{{ rsitkmog.id }}">
                                                                                                                                                    <i class="dropdown-icon fa fa-copy blue"></i>
                                                                                                                                                    Dupliquer
                                                                                                                                                </a>
                                                                                                                                            </li>
                                                                                                                                            <li>
                                                                                                                                                <a href="{{ path('supprimeritkmogeste',{'famillecultureid':familleculture.id, 'itkmogid':rsitkmog.id}) }}" tabindex="-1" onclick="return confirm('Vous êtes sûr de vouloir supprimer cet geste ?')">
                                                                                                                                                    <i class="dropdown-icon fa fa-trash red"></i>
                                                                                                                                                    Supprimer
                                                                                                                                                </a>
                                                                                                                                            </li>
                                                                                                                                        </ul>
                                                                                                                                    </div></div>
                                                                                                                            {% elseif rsitkmog.lIBELLE == 'POST RECOLTE/ARRACHAGE' %}
                                                                                                                                <div class="dd-handle"><div class="btn-group">
                                                                                                                                        <a data-toggle="dropdown" href="javascript:void(0);" style="color: black"><b>{{ rsitkmog.lIBELLE }}</b></a>
                                                                                                                                        <ul class="dropdown-menu dropdown-palegreen">
                                                                                                                                            <li>
                                                                                                                                                <a href="#" tabindex="-1" data-toggle="modal" data-target="#myModalg{{ rsitkmog.id }}">
                                                                                                                                                    <i class="dropdown-icon fa fa-copy blue"></i>
                                                                                                                                                    Dupliquer
                                                                                                                                                </a>
                                                                                                                                            </li>
                                                                                                                                            <li>
                                                                                                                                                <a href="{{ path('supprimeritkmogeste',{'famillecultureid':familleculture.id, 'itkmogid':rsitkmog.id}) }}" tabindex="-1" onclick="return confirm('Vous êtes sûr de vouloir supprimer cet geste ?')">
                                                                                                                                                    <i class="dropdown-icon fa fa-trash red"></i>
                                                                                                                                                    Supprimer
                                                                                                                                                </a>
                                                                                                                                            </li>
                                                                                                                                        </ul>
                                                                                                                                    </div></div>
                                                                                                                            {% elseif rsitkmog.lIBELLE == 'GARDIENNAGE' %}
                                                                                                                                <div class="dd-handle" style="background: #219922; color: white"><div class="btn-group">
                                                                                                                                        <a data-toggle="dropdown" href="javascript:void(0);" style="color: black"><b>{{ rsitkmog.lIBELLE }}</b></a>
                                                                                                                                        <ul class="dropdown-menu dropdown-palegreen">
                                                                                                                                            <li>
                                                                                                                                                <a href="#" tabindex="-1" data-toggle="modal" data-target="#myModalg{{ rsitkmog.id }}">
                                                                                                                                                    <i class="dropdown-icon fa fa-copy blue"></i>
                                                                                                                                                    Dupliquer
                                                                                                                                                </a>
                                                                                                                                            </li>
                                                                                                                                            <li>
                                                                                                                                                <a href="{{ path('supprimeritkmogeste',{'famillecultureid':familleculture.id, 'itkmogid':rsitkmog.id}) }}" tabindex="-1" onclick="return confirm('Vous êtes sûr de vouloir supprimer cet geste ?')">
                                                                                                                                                    <i class="dropdown-icon fa fa-trash red"></i>
                                                                                                                                                    Supprimer
                                                                                                                                                </a>
                                                                                                                                            </li>
                                                                                                                                        </ul>
                                                                                                                                    </div></div>
                                                                                                                            {% endif %}
                                                                                                                            <ol class="dd-list" id="addcv{{ rsitkmog.id }}">
                                                                                                                                {% for rsitkmocv in itkmocv|sort %}
                                                                                                                                    {% if rsitkmog.gESTEID == rsitkmocv.gESTEID and rsitkmog.id == rsitkmocv.iTKMOGID %}
                                                                                                                                            <li class="dd-item dd2-item" data-id="6">
                                                                                                                                                <div class="dd-handle dd2-handle">
                                                                                                                                                    <a href="{{ path('supprimeritkmocv',{'famillecultureid':familleculture.id,'itkmocvid':rsitkmocv.id}) }}" onclick="return confirm('Vous êtes sûr de voiloir supprimer cette culture variété ?')"><i class="normal-icon fa fa-trash red"></i></a>

                                                                                                                                                    <i class="drag-icon fa fa-arrows-alt "></i>
                                                                                                                                                </div>
                                                                                                                                                <div class="dd2-content">{{ rsitkmocv.lIBELLE }}</div>
                                                                                                                                                <ol class="dd-list">
                                                                                                                                                    <li class="dd-item" data-id="6">
                                                                                                                                                        <div class="dd-handle"><input type="number" value="{{ rsitkmocv.qUANTITE }}" class="form-control" placeholder="Saisir la quantité de jour homme" id="quantite{{ rsitkmocv.id }}" onChange="updateitkmocv({{ rsitkmocv.id }});"/></div>
                                                                                                                                                    </li>
                                                                                                                                                    <li class="dd-item" data-id="6">
                                                                                                                                                        <div class="dd-handle">
                                                                                                                                                            <select class="form-control" style="width: 100%" id="unite{{ rsitkmocv.id }}" name="unite" onChange="updateitkmocv({{ rsitkmocv.id }});">
                                                                                                                                                                {% if rsitkmocv.uNITE != '' %}
                                                                                                                                                                    <option>{{ rsitkmocv.uNITE }}</option>
                                                                                                                                                                {% else %}
                                                                                                                                                                    <option>Choisir une unité de mesure</option>
                                                                                                                                                                {% endif %}
                                                                                                                                                                {% for rsunitemo in unitemo  %}
                                                                                                                                                                    <option value="{{ rsunitemo.lIBELLE }}">{{ rsunitemo.lIBELLE }}</option>
                                                                                                                                                                {% endfor %}

                                                                                                                                                            </select>
                                                                                                                                                        </div>
                                                                                                                                                    </li>
                                                                                                                                                    {% if rsitkmog.lIBELLE == 'RECOLTE' or  rsitkmog.lIBELLE == 'MANUTENTION PROD' %}
                                                                                                                                                        <li class="dd-item" data-id="6">
                                                                                                                                                            <div class="dd-handle">
                                                                                                                                                                {% if rsitkmocv.rEPARTITIONREDEMENTID != '' and rsitkmocv.rEPARTITIONREDEMENTID != -1 %}
                                                                                                                                                                    <input type="number" value="{{ rsitkmocv.nUMRECOLTE }}" class="form-control" placeholder="Saisir le numéro de passage de la récolte" id="passage{{ rsitkmocv.id }}" onChange="updatepassageitkmocv({{ rsitkmocv.id }});"/>
                                                                                                                                                                {% elseif rsitkmocv.rEPARTITIONREDEMENTID == -1%}
                                                                                                                                                                    <input type="number" value="{{ rsitkmocv.rEPARTITIONREDEMENTID }}" class="form-control" placeholder="Saisir le numéro de passage de la récolte" id="passage{{ rsitkmocv.id }}" onChange="updatepassageitkmocv({{ rsitkmocv.id }});"/>
                                                                                                                                                                {% else %}
                                                                                                                                                                    <input type="number" class="form-control" placeholder="Saisir le numéro de passage de la récolte" id="passage{{ rsitkmocv.id }}" onChange="updatepassageitkmocv({{ rsitkmocv.id }});"/>
                                                                                                                                                                {% endif %}
                                                                                                                                                            </div>
                                                                                                                                                        </li>
                                                                                                                                                    {% endif %}
                                                                                                                                                </ol>
                                                                                                                                            </li>
                                                                                                                                    {% endif %}
                                                                                                                                {% endfor %}
                                                                                                                                <li class="dd-item" data-id="6">
                                                                                                                                    <div class="dd-handle">
                                                                                                                                        <select class="form-control" style="width: 40%" id="cultureid{{ rsitkmog.id }}" name="cultureid" onChange="ajoutitkmocv({{ rsitkmog.id }});">
                                                                                                                                            <option>Choisir une culture variété</option>
                                                                                                                                            {% for rsculture in culture  %}
                                                                                                                                                <option value="{{ rsculture.id }}">{{ rsculture.lIBELLE }}</option>
                                                                                                                                            {% endfor %}
                                                                                                                                        </select>
                                                                                                                                    </div>

                                                                                                                                </li>
                                                                                                                            </ol>
                                                                                                                        </li>
                                                                                                                        <div class="modal modal-darkorange" id="myModalg{{ rsitkmog.id }}">
                                                                                                                            <div class="modal-dialog">
                                                                                                                                <div class="modal-content">
                                                                                                                                    <div class="modal-header">
                                                                                                                                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                                                                                                                                        <h4 class="modal-title">Dupliquer le geste <b>{{ rsitkmog.lIBELLE }}</b></h4>
                                                                                                                                        {#input type="hidden" value="{{ rsitkmo.id }}" id="itkmoid"/>#}
                                                                                                                                    </div>
                                                                                                                                    <div class="form-horizontal" id="form">
                                                                                                                                        <div class="modal-body">
                                                                                                                                            <div class="form-group">
                                                                                                                                                <label class="col-sm-4" for="itkmos{{ rsitkmog.id }}">Choisir une semaine</label>
                                                                                                                                                <div class="col-sm-6">
                                                                                                                                                    <select class="form-control" style="width: 100%" id="itkmos{{ rsitkmog.id }}" name="itkmos" onchange="dupliquergeste({{ rsitkmog.id}})">
                                                                                                                                                        <option>--------------------------------------</option>
                                                                                                                                                        {% for i in -4..52 %}
                                                                                                                                                            <option>{{ i }}</option>
                                                                                                                                                        {% endfor %}
                                                                                                                                                    </select>
                                                                                                                                                    <input type="hidden" class="form-control" value="{{ rsitmo.id }}" name="itmoid" id="itmoid{{ rsitkmog.id }}"/>
                                                                                                                                                </div>
                                                                                                                                            </div>
                                                                                                                                        </div>
                                                                                                                                        <!-- Modal Footer -->
                                                                                                                                    </div>

                                                                                                                                </div><!-- /.modal-content -->
                                                                                                                            </div><!-- /.modal-dialog -->
                                                                                                                        </div><!-- /.modal -->
                                                                                                                    {% endif %}
                                                                                                                {% endfor %}
                                                                                                                <li class="dd-item" data-id="17" id="select">
                                                                                                                    <div class="dd-handle">
                                                                                                                        <select class="form-control" style="width: 40%" id="geste{{ rsitkmos.id }}" name="geste" onChange="ajoutitkmog({{ rsitkmos.id }});">
                                                                                                                            <option>-----Choisir un geste----</option>
                                                                                                                            {% for rsgestemo in gestemo %}
                                                                                                                                {% if rsgestemo.lIBELLE == 'PREPARATION' %}
                                                                                                                                    <option value="{{ rsgestemo.id }}" style="background: #f7cfb9; color: white">{{ rsgestemo.lIBELLE }}</option>
                                                                                                                                {% elseif rsgestemo.lIBELLE == 'SEMIS / PLANTATION' %}
                                                                                                                                    <option value="{{ rsgestemo.id }}" style="background: #f7a067; color: white">{{ rsgestemo.lIBELLE }}</option>
                                                                                                                                {% elseif rsgestemo.lIBELLE == 'DESHERBAGE' %}
                                                                                                                                    <option value="{{ rsgestemo.id }}" style="background: #d0cece; color: white">{{ rsgestemo.lIBELLE }}</option>
                                                                                                                                {% elseif rsgestemo.lIBELLE == 'ENTRETIEN/PALISSAGE' %}
                                                                                                                                    <option value="{{ rsgestemo.id }}" style="background: #2f75b5; color: white">{{ rsgestemo.lIBELLE }}</option>
                                                                                                                                {% elseif rsgestemo.lIBELLE == 'FERTI-IRRIG-PHYTO' %}
                                                                                                                                    <option value="{{ rsgestemo.id }}" style="background: #c6e0b4; color: white">{{ rsgestemo.lIBELLE }}</option>
                                                                                                                                {% elseif rsgestemo.lIBELLE == 'RECOLTE' %}
                                                                                                                                    <option value="{{ rsgestemo.id }}" style="background: #bdd7ee; color: white">{{ rsgestemo.lIBELLE }}</option>
                                                                                                                                {% elseif rsgestemo.lIBELLE == 'MANUTENTION PROD' %}
                                                                                                                                    <option value="{{ rsgestemo.id }}" style="background: #ffc000; color: white">{{ rsgestemo.lIBELLE }}</option>
                                                                                                                                {% elseif rsgestemo.lIBELLE == 'POST RECOLTE/ARRACHAGE' %}
                                                                                                                                    <option value="{{ rsgestemo.id }}">{{ rsgestemo.lIBELLE }}</option>
                                                                                                                                {% elseif rsgestemo.lIBELLE == 'GARDIENNAGE' %}
                                                                                                                                    <option value="{{ rsgestemo.id }}" style="background: #219922; color: white">{{ rsgestemo.lIBELLE }}</option>
                                                                                                                                {% endif %}
                                                                                                                            {% endfor %}
                                                                                                                        </select>
                                                                                                                    </div>
                                                                                                                </li>
                                                                                                            </ol>
                                                                                                        </li>
                                                                                                        {% for flashMessage in app.session.flashbag.get('notice2') %}
                                                                                                            <p style="color: red"> <i class="fa fa-exclamation-triangle" ></i>  {{ flashMessage
                                                                                                                }}</p>
                                                                                                        {% endfor %}
                                                                                                        <div class="modal modal-darkorange" id="myModals{{ rsitkmos.id }}">
                                                                                                            <div class="modal-dialog">
                                                                                                                <div class="modal-content">
                                                                                                                    <div class="modal-header">
                                                                                                                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                                                                                                                         <h4 class="modal-title">Dupliquer la semaine <b>{{ rsitkmos.pERIODE }}</b></h4>
                                                                                                                        {#input type="hidden" value="{{ rsitkmo.id }}" id="itkmoid"/>#}
                                                                                                                    </div>
                                                                                                                    <div class="form-horizontal" id="form">

                                                                                                                        <div class="modal-body">
                                                                                                                            <div class="form-group">
                                                                                                                                <label class="col-sm-4" for="newlibelle{{ rsitkmos.id }}">Choisir un stade</label>
                                                                                                                                <div class="col-sm-6">
                                                                                                                                        <select class="form-control" style="width: 100%" id="itkmoid{{ rsitkmos.id }}" name="itkmoid">
                                                                                                                                        <option value="{{ rsitkmo.id }}">{{ rsitkmo.lIBELLE }}</option>
                                                                                                                                        {% for rsitkmo in itkmo %}
                                                                                                                                            <option value="{{ rsitkmo.id }}">{{ rsitkmo.lIBELLE }}</option>
                                                                                                                                        {% endfor %}
                                                                                                                                    </select>
                                                                                                                                </div>
                                                                                                                            </div>
                                                                                                                            <div class="form-group">
                                                                                                                                <label class="col-sm-4" for="newlibelle{{ rsitkmos.id }}">Choisir une semaine</label>
                                                                                                                                <div class="col-sm-6">
                                                                                                                                    <select class="form-control" style="width: 100%" id="newlibelle{{ rsitkmos.id }}" name="newlibelle">
                                                                                                                                        <option>--------------------------------------</option>
                                                                                                                                        {% for i in -4..52 %}
                                                                                                                                            <option>{{ i }}</option>
                                                                                                                                        {% endfor %}
                                                                                                                                    </select>
                                                                                                                                    <input type="hidden" class="form-control" value="{{ rsitkmos.lIBELLE }}" name="oldlibelle" id="oldlibelle{{ rsitkmos.id }}"/>
                                                                                                                                </div>
                                                                                                                            </div>
                                                                                                                        </div>

                                                                                                                        <!-- Modal Footer -->
                                                                                                                    </div>
                                                                                                                    <div class="modal-footer">
                                                                                                                         <button type="button" class="btn btn-warning" data-dismiss="modal">Close</button>
                                                                                                                         <button type="button" class="btn btn-primary"
                                                                                                                                 onclick="dupliquerperiode({{ rsitkmos.id }})">Valider</button>
                                                                                                                    </div>
                                                                                                                </div><!-- /.modal-content -->
                                                                                                            </div><!-- /.modal-dialog -->
                                                                                                        </div><!-- /.modal -->
                                                                                                    {% endif %}
                                                                                                {% endfor %}
                                                                                                <li class="dd-item" data-id="5">
                                                                                                    <div class="dd-handle">
                                                                                                        <select class="form-control" style="width: 40%" id="semaine{{ rsitkmo.id }}" name="semaine" onChange="ajoutitkmos({{ rsitkmo.id }});">
                                                                                                            <option>Choisir une semaine</option>
                                                                                                            {% for i in -4..52 %}
                                                                                                                <option>{{ i }}</option>
                                                                                                            {% endfor %}
                                                                                                        </select>
                                                                                                    </div>
                                                                                                </li>
                                                                                            </ol>
                                                                                        </li>
                                                                                    </ol>
                                                                                {% endif %}
                                                                            {% endfor %}
                                                                        </li>
                                                                    </ol>
                                                                    <div class="messageflasherror" style="color: #cd0000">
                                                                        {% for flashMessage in app.session.flashbag.get('notice1') %}
                                                                            <p style="color: red"> <i class="fa fa-exclamation-triangle" ></i>  {{ flashMessage
                                                                                }}</p>
                                                                        {% endfor %}
                                                                    </div>
                                                                </div>
                                                                <br>
                                                                <div id="modal-list{{ rsitmo.id }}" class="modal modal-darkorange fade" style="display: none;" aria-hidden="true">
                                                                    <div class="modal-dialog modal-sm">
                                                                        <div class="modal-content">
                                                                            <div class="modal-header">
                                                                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                                                                                <input type="hidden" value="{{ rsitmo.id }}"/>
                                                                            </div>
                                                                            <div class="modal-body" style="padding: 0 0 0 0">
                                                                                <table class="table table-bordered">
                                                                                    <tr>
                                                                                       <td style="text-align: center; background: red;"> <a style="color: white;" href="{{ path('supprimeritmo',{'famillecultureid':familleculture.id, 'itmoid':rsitmo.id}) }}">Supprimer</a></td>
                                                                                    </tr>
                                                                                    <tr>
                                                                                        <td style="text-align: center; background: limegreen; color: white;"><a data-toggle="modal" data-target="#myModal{{ rsitmo.id }}" href="" style="color: white;" data-dismiss="modal">Dupliquer</a></td>
                                                                                    </tr>
                                                                                </table>
                                                                            </div>
                                                                        </div> <!-- / .modal-content -->
                                                                    </div> <!-- / .modal-dialog -->
                                                                </div>

                                                                <div class="modal modal-primary" id="myModal{{ rsitmo.id }}">
                                                                    <div class="modal-dialog">
                                                                        <div class="modal-content">
                                                                            <div class="modal-header">
                                                                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                                                                                <h4 class="modal-title">Dupliquer l' {{ rsitmo.lIBELLE }}</h4>
                                                                            </div>
                                                                            <div class="form-horizontal" id="form">

                                                                                <div class="modal-body">

                                                                                    <div class="form-group">
                                                                                        <label  class="col-sm-4 control-label" for="newlibelle">SAISIR LE NOUVEAU LIBELLE</label>
                                                                                        <div class="col-sm-6">
                                                                                            <input type="text" class="form-control" value="" name="newlibelle" id="newlibelleitmo{{ rsitmo.id }}"/>
                                                                                        </div>
                                                                                    </div>
                                                                                    <div class="form-group">
                                                                                        <label  class="col-sm-4 control-label" for="typeirrigation">CHOISIR LE TYPE D'IRRIGATION</label>
                                                                                        <div class="col-sm-6">
                                                                                            <select class="form-control" style="width: 100%" id="typeirrigation{{ rsitmo.id }}" name="typeirrigation" >
                                                                                                <option>--------------------</option>
                                                                                                {% for rstypeirrigation in typeirrigation %}
                                                                                                    <option value="{{ rstypeirrigation.id }}" >{{ rstypeirrigation.lIBELLE }}</option>
                                                                                                {% endfor %}
                                                                                            </select>
                                                                                            <input type="hidden" class="form-control" value="{{ rsitmo.tYPEIRRIGATIONID }}" name="oldtypeirrigation" id="oldtypeirrigation{{ rsitmo.id }}"/>
                                                                                        </div>
                                                                                    </div>


                                                                                </div>

                                                                                <!-- Modal Footer -->
                                                                            </div>
                                                                            <div class="modal-footer">
                                                                                <button type="button" class="btn btn-warning" data-dismiss="modal">Close</button>
                                                                                <button type="button" class="btn btn-primary"
                                                                                        onclick="dupliquer({{ rsitmo.id }})">Valider</button>
                                                                            </div>
                                                                        </div><!-- /.modal-content -->
                                                                    </div><!-- /.modal-dialog -->
                                                                </div><!-- /.modal -->

                                                                <div class="modal modal-primary" id="myModalmodif{{ rsitmo.id }}">
                                                                    <div class="modal-dialog">
                                                                        <div class="modal-content">
                                                                            <div class="modal-header">
                                                                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                                                                                <h4 class="modal-title">Modifier l' {{ rsitmo.lIBELLE }}</h4>
                                                                            </div>
                                                                            <div class="form-horizontal" id="form">

                                                                                <div class="modal-body">

                                                                                    <div class="form-group">
                                                                                        <label  class="col-sm-4 control-label" for="newlibelle">SAISIR LE NOUVEAU LIBELLE</label>
                                                                                        <div class="col-sm-6">
                                                                                            <input type="text" class="form-control" value="" name="libelle" id="libelle{{ rsitmo.id }}"/>
                                                                                        </div>
                                                                                    </div>
                                                                                </div>

                                                                                <!-- Modal Footer -->
                                                                            </div>
                                                                            <div class="modal-footer">
                                                                                <button type="button" class="btn btn-warning" data-dismiss="modal">Close</button>
                                                                                <button type="button" class="btn btn-primary"
                                                                                        onclick="modifieritmo({{ rsitmo.id }})">Valider</button>
                                                                            </div>
                                                                        </div><!-- /.modal-content -->
                                                                    </div><!-- /.modal-dialog -->
                                                                </div><!-- /.modal -->

                                                            {% endfor %}
                                                        </div>
                                                    </div>
                                                {% endif %}

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
        </div>
    </div>
    </div>

    <div id="modal-danger" class="modal modal-message modal-danger fade" style="display: none;" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <i class="glyphicon glyphicon-fire"></i>
                </div>
                <div class="modal-title">Alerte</div>

                <div class="modal-body">Veuillez renseigner tous les champs !</div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal">OK</button>
                </div>
            </div> <!-- / .modal-content -->
        </div> <!-- / .modal-dialog -->
    </div>

    <div id="modal-danger1" class="modal modal-message modal-danger fade" style="display: none;" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <i class="glyphicon glyphicon-fire"></i>
                </div>
                <div class="modal-title">Alerte</div>

                <div class="modal-body">Ce type d'irrigation existe déjà ! Veuillez en choisir un autre</div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal">OK</button>
                </div>
            </div> <!-- / .modal-content -->
        </div> <!-- / .modal-dialog -->
    </div>

    <div id="modal-danger2" class="modal modal-message modal-danger fade" style="display: none;" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <i class="glyphicon glyphicon-fire"></i>
                </div>
                <div class="modal-title">Alerte</div>

                <div class="modal-body">La semaine n'existe pas ! Veuillez la créer</div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal">OK</button>
                </div>
            </div> <!-- / .modal-content -->
        </div> <!-- / .modal-dialog -->
    </div>

{% endblock %}