{% extends 'UserBundle:GestionServices:layout.html.twig' %}
{% block content %}
    <br>
    <div class="row">
        <div class="row" style="padding-left: 25%; padding-right: 25%">
            <div class="col-lg-12 col-sm-12 col-xs-12">
                <div class="row" >
                    <div class="widget flat radius-bordered">
                        <div class="widget-header bg-azure">
                            <span class="widget-caption">Création d'un nouveau service</span>
                        </div>
                        <div class="widget-body">
                            <div style="padding-left: 10%; padding-right: 25%">
                                {{ form_start(form, {'attr': {'class': 'form-horizontal'}}) }}
                                <div class="form-group">
                                    <label for="inputEmail3" class="col-sm-4 control-label
                                    no-padding-right">CODE</label>
                                    <div class="col-sm-8">
                                        {{ form_widget(form.cODE, {'attr': {'class': 'form-control'}}) }}
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="inputPassword3" class="col-sm-4 control-label
                                    no-padding-right">LIBELLE</label>
                                    <div class="col-sm-8">
                                        {{ form_widget(form.lIBELLE, {'attr': {'class': 'form-control'}}) }}
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-sm-offset-4 col-sm-8">
                                        <input type="submit" class="btn btn-azure" value="Valider" onClick="this.disabled=true;this.form.submit();this.value='Patientez...'"/>
                                    </div>
                                </div>
                                {{ form_rest(form) }}
                                {{ form_end(form) }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <br>
        <div class="row" style="padding-left: 5%; padding-right: 5%">
            <div class="col-lg-12 col-sm-12 col-xs-12">
                <div class="row" >
                    <div class="widget flat radius-bordered">
                        <div class="widget-header bg-palegreen">
                            <span class="widget-caption">Liste des services</span>
                        </div>
                        <div class="messageflasherror">
                            {% for flashMessage in app.session.flashbag.get('notice') %}

                                <p style="color: red">{{ flashMessage }}</p>

                            {% endfor %}
                        </div>
                        <div class="messageflashok">
                            {% for flashMessage in app.session.flashbag.get('noticeok') %}

                                <p style="color: green">{{ flashMessage }}
                                    <i class="fa fa-check-circle" aria-hidden="true"></i>
                                </p>

                            {% endfor %}
                        </div>
                        <div class="widget-body">
                            <div style="padding-left: 5%; padding-right: 5%">
                                <table class="table table-hover table-bordered" id="searchable3">
                                    <thead class="bordered-darkorange" >
                                    <tr role="row">
                                        <th>Code</th>
                                        <th>Libelle</th>
                                        <th style="width: 20%">Actions</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for rs in services %}
                                        <tr>
                                            <td>{{ rs.code }}</td>
                                            <td>{{ rs.libelle }}</td>
                                            <td>
                                                <a href="{{ path('supprimerservice', {'id': rs.id}) }}" class="btn
                                                btn-danger btn-sm" title="supprimer" onclick="return confirm('Etes ' +
                                                 'vous sûr de vouloir supprimer ce service ?')">
                                                    <i class="fa fa-trash"></i>
                                                </a>
                                            </td>
                                        </tr>
                                    {% endfor %}

                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}