td.details-control {
    background: url('http://localhost/pgiweb/web/images/plus-circle.png') no-repeat center center;
    cursor: pointer;
}
tr.details td.details-control {
    background: url('http://localhost/pgiweb/web/images/minus-circle.png') no-repeat center center;
}

#rcorners2 {
    border-radius: 25px;
    border: 2px solid #73AD21;
    padding: 20px;
    width: 50%;
    height: auto;
}
.tree, .tree ul {
    margin:0;
    padding:0;
    list-style:none
}
.tree ul {
    margin-left:1em;
    position:relative
}
.tree ul ul
{
    margin-left:.5em
}
.tree ul:before
{
    content:"";
    display:block;
    width:0;
    position:absolute;
    top:0;
    bottom:0;
    left:0;
    border-left:1px solid
}
.tree li
{
    margin:0;
    padding:0 1em;
    line-height:2em;
    color: #00C0FF;
    font-weight:700;
    position:relative
}
.tree ul li:before {
    content:"";
    display:block;
    width:10px;
    height:0;
    border-top:1px solid;
    margin-top:-1px;
    position:absolute;
    top:1em;
    left:0
}
.tree ul li:last-child:before {
    background:#fff;
    height:auto;
    top:1em;
    bottom:0
}
.indicator {
    margin-right:5px;
}
.tree li a {
    color: #000000;
    font-weight:normal;

}
.tree li button, .tree li button:active, .tree li button:focus {
    color:#369;
    border:none;
    background:transparent;
    margin:0px 0px 0px 0px;
    padding:0px 0px 0px 0px;
    outline: 0;
}

tr.group,
tr.group:hover {
    background-color: #ddd !important;
}

tr.selected {
    background-color: #FFCF8B
}

/*
table#dashbordtablemateriel tr:hover {
    background-color: rgba(151, 220, 30, 0.42);
    color: white;
}*/
