{% extends "FOSUserBundle::layout.html.twig" %}

{% block fos_user_content %}
    {% if error %}
        <div>{{ error|trans({}, 'FOSUserBundle') }}</div>
    {% endif %}

    <div class=" animated fadeInDown" align="center">

        <div class="panel panel-default" style="width: 30%">
            <div class="panel-heading">
                <img src="{{ asset('images/logoSCL-mais.png') }}" width="50%"/>
            </div>

            <div class="panel-body">
                <br>
                <br>

                <form action="{{ path("fos_user_security_check") }}" method="post">
                    <input type="hidden" name="_csrf_token" value="{{ csrf_token }}"/>

                    <div class="form-group">
        <span class="input-icon icon-right">
            <input type="text" class="form-control" id="username" name="_username" value="{{ last_username }}"
                   required="required" placeholder="Username">
            <i class="glyphicon glyphicon-user circular"></i>
        </span>
                    </div>
                    <div class="form-group">
        <span class="input-icon icon-right">
            <input type="password" class="form-control" id="password" name="_password" required="required"
                   placeholder="Password">
            <i class="fa fa-lock circular"></i>
        </span>
                    </div>
                    <br>
                    <hr>
                    <input type="submit" class="btn btn-success btn-block" value="Connexion">
                </form>
                <hr>
                <p style="color: whitesmoke">KOCC-PGI / Authentification</p>
            </div>
        </div>

    </div>

{% endblock fos_user_content %}
