{% extends 'TechniqueBundle:MaterielOR:layout.html.twig' %}
{% block content %}
    <br>
    <div class="col-lg-12 col-sm-12 col-xs-12" style="padding-left: 15%; padding-right: 15%">
        <div class="widget flat radius-bordered">
            <div class="widget-header bg-azure">
                <span class="widget-caption">Configuration d'un nouveau mod&egrave;le</span>
                <div class="widget-buttons buttons-bordered">
                    <button class="btn btn-danger btn-sm" onclick="document.location.href='{{ path('materielor') }}'"><i class="fa fa-arrow-left"></i>Retour</button>
                </div>
                <div class="widget-buttons buttons-bordered">
                    <button class="btn btn-azure btn-sm" onclick="document.location.href='{{ path('ajoutmodele') }}'">Nouveau mod&egrave;le</button>
                </div>
            </div>
            <div class="widget-body">
                <div class="messageflasherror" style="color: #cd0000">
                    {% for flashMessage in app.session.flashbag.get('notice') %}
                        <p style="color: red"> <i class="fa fa-exclamation-triangle" ></i>  {{ flashMessage
                            }}</p>
                    {% endfor %}
                </div>
                <div class="row">
                    <div class="form-horizontal">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <div class="form-title">
                                Info.  mod&egrave;le
                            </div>
                            {{ form_start(form, {'attr': {'class': 'form-horizontal'}}) }}
                            <div class="form-group">
                                <label for="" class="col-sm-4 control-label">NOM MODELE</label>
                                <div class="col-sm-4">
                                    {{ form_widget(form.lIBELLE, {'attr': {'class': 'form-control'}}) }}
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="" class="col-sm-4 control-label">MARQUE</label>
                                <div class="col-sm-4">
                                    {{ form_widget(form.mATERIELMARQUEID, {'attr': {'class': 'form-control'}}) }}
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="" class="col-sm-4 control-label">TYPE MATERIEL</label>
                                <div class="col-sm-4">
                                    {{ form_widget(form.tYPEMATERIEL, {'attr': {'class': 'form-control'}}) }}
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="" class="col-sm-4 control-label">DESCRIPTION</label>
                                <div class="col-sm-4">
                                    {{ form_widget(form.dESCRIPTION, {'attr': {'class': 'form-control', 'rows':'4'}}) }}
                                </div>
                            </div>

                            <div align="right">
                                <div style="padding-right: 35%">
                                    <input type="submit" class="btn btn-azure" value="Valider" onClick="this.disabled=true;this.form.submit();this.value='Patientez...'"/>
                                </div>
                            </div>
                            {{ form_rest(form) }}
                            {{ form_end(form) }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}