{% extends 'TechniqueBundle:MaterielOR:layout.html.twig' %}
{% block content %}
    <br>
    <div class="col-lg-12 col-sm-12 col-xs-12" style="padding-left: 15%; padding-right: 15%">
        <div class="widget flat radius-bordered">
            <div class="widget-header bg-warning">
                <span class="widget-caption">Modifier la configuration du mod&egrave;le</span>
                <div class="widget-buttons buttons-bordered">
                    <button class="btn btn-danger btn-sm" onclick="document.location.href='{{ path('materielor') }}'"><i class="fa fa-arrow-left"></i>Retour</button>
                </div>
                <div class="widget-buttons buttons-bordered">
                    <button class="btn btn-success btn-sm" data-toggle="modal" data-target="#myModal" >Dupliquer
                    modèle</button>
                </div>
                <div class="widget-buttons buttons-bordered">
                    <button class="btn btn-success btn-sm" data-toggle="modal" data-target="#myModal1" >Dupliquer
                        P.M</button>
                </div>
                <div class="widget-buttons buttons-bordered">
                    <button class="btn btn-azure btn-sm" onclick="document.location.href='{{ path('ajoutmodele') }}'">Nouveau mod&egrave;le</button>
                </div>
            </div>
            <div class="widget-body">
                <div class="row">
                    <div class="form-horizontal">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <div class="form-title">
                                Info.  mod&egrave;le
                            </div>
                            {{ form_start(edit_form, {'attr': {'class': 'form-horizontal'}}) }}
                            <div class="form-group">
                                <label for="" class="col-sm-4 control-label">NOM MODELE</label>
                                <div class="col-sm-4">
                                    {{ form_widget(edit_form.lIBELLE, {'attr': {'class': 'form-control'}}) }}
                                    <input type="hidden" value="{{ modele.id }}" id="modeleid"/>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="" class="col-sm-4 control-label">MARQUE</label>
                                <div class="col-sm-4">
                                    {{ form_widget(edit_form.mATERIELMARQUEID, {'attr': {'class': 'form-control'}}) }}
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="" class="col-sm-4 control-label">TYPE MATERIEL</label>
                                <div class="col-sm-4">
                                    {{ form_widget(edit_form.tYPEMATERIEL, {'attr': {'class': 'form-control'}}) }}
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="" class="col-sm-4 control-label">DESCRIPTION</label>
                                <div class="col-sm-4">
                                    {{ form_widget(edit_form.dESCRIPTION, {'attr': {'class': 'form-control', 'rows':'4'}}) }}
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="" class="col-sm-4 control-label">DATE INVALIDE</label>
                                <div class="col-sm-4">
                                    {{ form_widget(edit_form.dATEINVALIDE, {'attr': {'class': 'form-control'}}) }}
                                </div>
                            </div>

                            <div align="right">
                                <div style="padding-right: 35%">
                                    <input type="submit" class="btn btn-warning" value="Modifier" onClick="this.disabled=true;this.form.submit();this.value='Patientez...'"/>
                                </div>
                            </div>
                            {{ form_rest(edit_form) }}
                            {{ form_end(edit_form) }}
                        </div>
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <div class="form-title">
                                <a href="{{ path('ajoutdocumentmodele',{'id': modele.id }) }}" style="color: #00C853">Modifier les
                                    documents</a>
                            </div>
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="padding-left: 20%;">
                                <ul id="the-node">
                                  {% for rs in docmodel %}
                                      {% if rs.getDOCUMENT.Alt == 'pdf' %}
                                          <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
                                          <li>
                                              <p style="display: none">{{ rs.getDOCUMENT.getId() }}</p>
                                              <p> <a href="{{ asset(rs.getDOCUMENT.getWebPath) }}" target="_blank"><img src="{{ asset('images/pdf.png') }}" title="{{ rs.getDOCUMENT.getName }}" width="70%" ></a></p>

                                          </li>
                                              <p><a  href="{{ asset(rs.getDOCUMENT.getWebPath) }}" target="_blank"><span>{{ rs.getDOCUMENT.getName() }}</span></a></p>
                                          </div>
                                      {% elseif  rs.getDOCUMENT.Alt == 'jpg' or rs.getDOCUMENT.Alt == 'jpeg' %}
                                          <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
                                              <li>
                                                  <p style="display: none">{{ rs.getDOCUMENT.getId() }}</p>
                                                  <p> <a href="{{ asset(rs.getDOCUMENT.getWebPath) }}" target="_blank"><img src="{{ asset('images/jpg.ico') }}" title="{{ rs.getDOCUMENT.getName }}" width="80%" ></a></p>

                                              </li>
                                              <p><a  href="{{ asset(rs.getDOCUMENT.getWebPath) }}" target="_blank"><span>{{ rs.getDOCUMENT.getName() }}</span></a></p>
                                          </div>
                                      {% elseif  rs.getDOCUMENT.Alt == 'txt' or rs.getDOCUMENT.Alt == 'html' %}
                                          <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
                                              <li>
                                                  <p style="display: none">{{ rs.getDOCUMENT.getId() }}</p>
                                                  <p> <a href="{{ asset(rs.getDOCUMENT.getWebPath) }}" target="_blank"><img src="{{ asset('images/txt.png') }}" title="{{ rs.getDOCUMENT.getName }}" width="80%" ></a></p>

                                              </li>
                                              <p><a  href="{{ asset(rs.getDOCUMENT.getWebPath) }}" target="_blank"><span>{{ rs.getDOCUMENT.getName() }}</span></a></p>
                                          </div>
                                      {% elseif  rs.getDOCUMENT.Alt == 'docx' or rs.getDOCUMENT.Alt == 'doc' %}
                                          <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
                                              <li>
                                                  <p style="display: none">{{ rs.getDOCUMENT.getId() }}</p>
                                                  <p> <a href="{{ asset(rs.getDOCUMENT.getWebPath) }}" target="_blank"><img src="{{ asset('images/docx.png') }}" title="{{ rs.getDOCUMENT.getName }}" width="80%" ></a></p>

                                              </li>
                                              <p><a  href="{{ asset(rs.getDOCUMENT.getWebPath) }}" target="_blank"><span>{{ rs.getDOCUMENT.getName() }}</span></a></p>
                                          </div>
                                      {% endif %}
                                  {% endfor %}
                                </ul>

                            </div>
                        </div>
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <div class="form-title">
                                <a href="{{ path('ajoutplanintervention',{'id': modele.id }) }}" style="color: #00C853" title="Ajouter
                                 un autre plan d'intervention">Modifier le plan d'intervention</a>
                            </div>

                            {% if cptinterventions != 0 %}
                                <div style="padding-right: 5%; padding-left: 5%">
                                    <table id="tablegrouping" class="table table-bordered table-hover" >
                                        <thead>
                                        <tr>

                                        <th style="text-align: center">Compteur</th>
                                        <th style="text-align: center">No de l'op&eacute;ration</th>
                                        <th style="text-align: center">Op&eacute;ration de maintenance</th>
                                        <th style="text-align: center">Action</th>
                                        <th width="20%"></th>

                                        </tr>
                                        </thead>
                                        <tbody>
                                        {% for rsalloperations in alloperations %}
                                            <tr>
                                                <td>{{ rsalloperations.cOMPTEUR }}</td>
                                                <td>{{ rsalloperations.id }}</td>
                                                <td>{{ rsalloperations.dESCRIPTION }}</td>
                                                <td>{{ rsalloperations.aCTION }}</td>
                                                <td>
                                                    <a class="btn btn-warning" href="{{ path('modifiercompteurintervention', {'id':rsalloperations.mODELEID,'compteurid':rsalloperations.cOMPTEURINTERVENTIONID} ) }}"><i class="fa fa-pencil"></i></a>
                                                    <a class="btn btn-danger" href="{{ path('supprimercptintervention', {'id':rsalloperations.mODELEID,'compteurid':rsalloperations.cOMPTEURINTERVENTIONID}) }}" onclick="return confirm('Vous &ecirc;tes s&ucirc;r de vouloir supprimer cet compteur')"><i class="fa fa-trash"></i> </a>
                                                    <a class="btn btn-default" href="{{ path('ajoutarticleoperationint', {'id':rsalloperations.mODELEID,'compteurid':rsalloperations.cOMPTEURINTERVENTIONID}) }}" class="btn btn-magenta">Ajouter des articles</a>
                                                </td>
                                            </tr>
                                        {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            <div style="padding-right: 5%; padding-left: 5%">
                               {# <table class="table table-bordered table-hover" id="tableIdPI">
                                    <thead>
                                    <tr>
                                        <th style="text-align: center">Compteur</th>
                                        <th style="text-align: center">No de l'op&eacute;ration</th>
                                        <th style="text-align: center">Op&eacute;ration de maintenance</th>
                                        <th style="text-align: center">Action</th>
                                        <th width="20%"></th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for rscptinterventions in  cptinterventions %}
                                        <tr>
                                            <td style="display:none;">{{ rscptinterventions.id }}</td>
                                            <td>{{ rscptinterventions.cOMPTEUR }}</td>
                                            <td>
                                                {% for rsarrayopinterventions in arrayopinterventions %}
                                                    {% set var = [] %}
                                                    {% for rsarrayopinterventions1 in rsarrayopinterventions  %}
                                                        {% set var = var|merge([rsarrayopinterventions1.cOMPTEURINTERVENTIONID]) %}
                                                        {% if rscptinterventions.id  in var %}
                                                            <ul>
                                                                <li>
                                                                    {{ rsarrayopinterventions1.id }}
                                                                </li>
                                                            </ul>
                                                        {% endif %}
                                                    {% endfor %}
                                                {% endfor %}
                                            </td>

                                            <td>
                                                {% for rsarrayopinterventions in arrayopinterventions %}
                                                    {% set var = [] %}
                                                    {% for rsarrayopinterventions1 in rsarrayopinterventions  %}
                                                        {% set var = var|merge([rsarrayopinterventions1.cOMPTEURINTERVENTIONID]) %}
                                                        {% if rscptinterventions.id  in var %}
                                                            <ul>
                                                                <li>
                                                                    {{ rsarrayopinterventions1.dESCRIPTION }}
                                                                </li>
                                                            </ul>
                                                        {% endif %}
                                                    {% endfor %}
                                                {% endfor %}
                                            </td>

                                            <td>
                                                {% for rsarrayopinterventions in arrayopinterventions %}
                                                    {% set var = [] %}
                                                    {% for rsarrayopinterventions1 in rsarrayopinterventions  %}
                                                        {% set var = var|merge([rsarrayopinterventions1.cOMPTEURINTERVENTIONID]) %}
                                                        {% if rscptinterventions.id  in var %}
                                                            <ul>
                                                                <li>
                                                                    {{ rsarrayopinterventions1.aCTION }}
                                                                </li>
                                                            </ul>
                                                        {% endif %}
                                                    {% endfor %}
                                                {% endfor %}
                                            </td>
                                            <td> <a href="{{ path('ajoutarticleoperationint', {'id':modele.id,
                                                    'compteurid':rscptinterventions.id}) }}"
                                                    class="btn
                                            btn-magenta">Ajouter
                                                    des articles</a>
                                                <a href="{{ path('modifiercompteurintervention', {'id':modele.id,
                                                    'compteurid':rscptinterventions.id
                                                }) }}"
                                                   class="btn
                                            btn-warning" title="Modifier"><i class="fa fa-pencil"></i></a>
                                                <a href="{{ path('supprimercptintervention', {'id':modele.id,
                                                    'compteurid':rscptinterventions.id}) }}"
                                                   class="btn
                                                btn-danger" onclick="return confirm
                                                ('Vous ' +
                                                 '&ecirc;tes ' +
                                                 's&ucirc;r de ' +
                                                 'vouloir ' +
                                                    'supprimer cet compteur')"><i class="fa fa-trash"></i> </a>
                                            </td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>#}
                                <br>
                                <div id="articlesinterventions"></div>
                            </div>
                            {% endif %}

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal modal-primary fade" id="myModal" data-keyboard="false" data-backdrop="static" aria-labelledby="exampleModalLabel">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                        <h4 class="modal-title" id="exampleModalLabel">Dupliquer le mod&egrave;le <b>{{ modele.lIBELLE }}</b></h4>
                    </div>

                    <div class="form-horizontal" id="form">

                        <div class="modal-body">

                            <div class="form-group">
                                <label  class="col-sm-4 control-label" for="inputlibelle">NOUVEAU MODELE</label>
                                <div class="col-sm-6">
                                    <input type="text" class="form-control" name="libelle" id="libelle"/>
                                </div>
                            </div>
                        </div>

                        <!-- Modal Footer -->
                    </div>
                        <!-- Modal Footer -->

                    <div class="modal-footer">
                        <button type="button" class="btn btn-warning" data-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary"
                                onclick="dupliquermodele({{ modele.id }})">Valider</button>
                    </div>
                </div><!-- /.modal-content -->
            </div><!-- /.modal-dialog -->
        </div><!-- /.modal -->
        <div class="modal modal-primary fade" id="myModal1" data-keyboard="false" data-backdrop="static"
             aria-labelledby="exampleModalLabel">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                        <h4 class="modal-title" id="exampleModalLabel">Dupliquer le plan de maintenance <b>{{ modele
                                .lIBELLE }}</b></h4>
                    </div>

                    <div class="form-horizontal" id="form">

                        <div class="modal-body">

                            <div class="form-group">
                                <label  class="col-sm-4 control-label" for="inputlibelle">NOM MODELE</label>
                                <div class="col-sm-6">
                                    <input type="text" class="form-control" name="libelle1" id="libelle1"/>
                                </div>
                            </div>
                        </div>

                        <!-- Modal Footer -->
                    </div>
                    <!-- Modal Footer -->

                    <div class="modal-footer">
                        <button type="button" class="btn btn-warning" data-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary"
                                onclick="dupliquerplanmaintenance({{ modele.id }})">Valider</button>
                    </div>
                </div><!-- /.modal-content -->
            </div><!-- /.modal-dialog -->
        </div><!-- /.modal -->

    </div>
    <div id="modal-danger" class="modal modal-message modal-danger fade" style="display: none;" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <i class="glyphicon glyphicon-fire"></i>
                </div>
                <div class="modal-title">Alert</div>

                <div class="modal-body">
                    Veuillez saisir un nom du mod&egrave;le
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal" id="bootbox-success">OK</button>
                </div>
            </div> <!-- / .modal-content -->
        </div> <!-- / .modal-dialog -->
    </div>
    <div id="modal-warning1" class="modal modal-message modal-warning fade"
         style="display: none;" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <i class="fa fa-warning"></i>
                </div>
                <div class="modal-title">Avertissement ! </div>

                <div class="modal-body">Ce mot de mod&egrave;le existe d&eacute;j&aacute;. Veuillez saisir un autre nom</div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-warning"
                            id="btnaffiformilot"
                            data-dismiss="modal" data-toggle="modal" data-target="#myModal">OK</button>
                </div>
            </div> <!-- / .modal-content -->
        </div> <!-- / .modal-dialog -->
    </div>

    <div id="modal-success-modele" class="modal modal-message modal-success fade"
         style="display: none;" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <i class="glyphicon glyphicon-check"></i>
                </div>
                <div class="modal-title">Success</div>

                <div class="modal-body">Votre mod&egrave;le a &eacute;t&eacute; avec success</div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-success"
                            data-dismiss="modal" onclick="document.location.href='{{ path('getlastid') }}'">OK</button>
                </div>
            </div> <!-- / .modal-content -->
        </div> <!-- / .modal-dialog -->
    </div>
{% endblock %}