{% extends ':layout:layout.html.twig' %}
{% block body  %}
    <p align="center">Vous &ecirc;tes un nouveau utilisateur, Veuillez-vous raprocher du service information pour avoir les droits d'ulitiser cette application</p>
    <p align="center">Contact : <a>it@scl.sn</a></p>
{% endblock %}