﻿/*#region Animations*/
@-webkit-keyframes borderPulse {
  15% {
    opacity: 1;
  }

  100% {
    -webkit-transform: scale(1.3);
    opacity: 0;
  }
}

@-moz-keyframes borderPulse {
  15% {
    opacity: 1;
  }

  100% {
    -moz-transform: scale(1.3);
    opacity: 0;
  }
}

@-o-keyframes borderPulse {
  15% {
    opacity: 1;
  }

  100% {
    -o-transform: scale(1.3);
    opacity: 0;
  }
}

@keyframes borderPulse {
  15% {
    opacity: 1;
  }

  100% {
    -webkit-transform: scale(1.3);
    -moz-transform: scale(1.3);
    -ms-transform: scale(1.3);
    transform: scale(1.3);
    opacity: 0;
  }
}

@-webkit-keyframes pulse {
  0% {
    opacity: .5;
  }

  50% {
    opacity: 1;
  }

  100% {
    opacity: .5;
  }
}

@-moz-keyframes pulse {
  0% {
    opacity: .5;
  }

  50% {
    opacity: 1;
  }

  100% {
    opacity: .5;
  }
}

@-o-keyframes pulse {
  0% {
    opacity: .5;
  }

  50% {
    opacity: 1;
  }

  100% {
    opacity: .5;
  }
}

@keyframes pulse {
  0% {
    opacity: .5;
  }

  50% {
    opacity: 1;
  }

  100% {
    opacity: .5;
  }
}

@-webkit-keyframes explode {
  100% {
    opacity: 0;
    -webkit-transform: scale(3) rotate(30deg) translateY(60px);
  }
}

@-moz-keyframes explode {
  100% {
    opacity: 0;
    -moz-transform: scale(3) rotate(30deg) translateY(60px);
  }
}

@-o-keyframes explode {
  100% {
    opacity: 0;
    -o-transform: scale(3) rotate(30deg) translateY(60px);
  }
}

@keyframes explode {
  100% {
    opacity: 0;
    -webkit-transform: scale(3) rotate(30deg) translateY(60px);
    -moz-transform: scale(3) rotate(30deg) translateY(60px);
    -ms-transform: scale(3) rotate(30deg) translateY(60px);
    transform: scale(3) rotate(30deg) translateY(60px);
  }
}

@-webkit-keyframes wave {
  5% {
    opacity: .6;
  }

  27% {
    -webkit-transform: scale(1.8);
    opacity: 0;
  }

  100% {
    opacity: 0;
  }
}

@-moz-keyframes wave {
  5% {
    opacity: .6;
  }

  27% {
    -moz-transform: scale(1.8);
    opacity: 0;
  }

  100% {
    opacity: 0;
  }
}

@-o-keyframes wave {
  5% {
    opacity: .6;
  }

  27% {
    -o-transform: scale(1.8);
    opacity: 0;
  }

  100% {
    opacity: 0;
  }
}

@keyframes wave {
  5% {
    opacity: .6;
  }

  27% {
    -webkit-transform: scale(1.8);
    -moz-transform: scale(1.8);
    -ms-transform: scale(1.8);
    transform: scale(1.8);
    opacity: 0;
  }

  100% {
    opacity: 0;
  }
}

@-webkit-keyframes dropdownSlideInDown {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-20px);
  }

  100% {
    -webkit-transform: translateY(0);
  }
}

@-moz-keyframes dropdownSlideInDown {
  0% {
    opacity: 0;
    -moz-transform: translateY(-20px);
  }

  100% {
    -moz-transform: translateY(0);
  }
}

@-o-keyframes dropdownSlideInDown {
  0% {
    opacity: 0;
    -o-transform: translateY(-20px);
  }

  100% {
    -o-transform: translateY(0);
  }
}

@keyframes dropdownSlideInDown {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-20px);
    -moz-transform: translateY(-20px);
    -ms-transform: translateY(-20px);
    transform: translateY(-20px);
  }

  100% {
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
  }
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
  }
}

@-moz-keyframes spin {
  0% {
    -moz-transform: rotate(0deg);
  }

  100% {
    -moz-transform: rotate(360deg);
  }
}

@-o-keyframes spin {
  0% {
    -o-transform: rotate(0deg);
  }

  100% {
    -o-transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

/*#endregion Animations*/
