﻿/*#region Colors*/

.themeprimary {
  color: @themeprimary !important;
}

.themesecondary {
  color: @themesecondary !important;
}

.themethirdcolor {
  color: @themethirdcolor !important;
}

.themefourthcolor {
  color: @themefourthcolor !important;
}

.themefifthcolor {
  color: @themefifthcolor !important;
}

.white {
  color: @white !important;
}

.snow {
  color: @snow !important;
}

.whitesmoke {
  color: @whitesmoke !important;
}

.seashell {
  color: @seashell !important;
}

.ivory {
  color: @ivory !important;
}

.platinum {
  color: @platinum !important;
}

.lightgray {
  color: @lightgray !important;
}

.gray {
  color: @gray !important;
}

.darkgray {
  color: @darkgray !important;
}

.silver {
  color: @silver !important;
}

.sonic-silver {
  color: @sonic-silver !important;
}

.storm-cloud {
  color: @storm-cloud !important;
}

.lightcarbon {
  color: @lightcarbon !important;
}

.carbon {
  color: @carbon !important;
}

.slate-gray {
  color: @slate-gray !important;
}

.darkcarbon {
  color: @darkcarbon !important;
}

.blue {
  color: @blue !important;
}

.info {
  color: @info !important;
}

.sky {
  color: @sky !important;
}

.primary {
  color: @primary !important;
}

.azure {
  color: @azure !important;
}

.blueberry {
  color: @blueberry !important;
}

.palegreen {
  color: @palegreen !important;
}

.success {
  color: @success !important;
}

.green {
  color: @green !important;
}

.lightyellow {
  color: @lightyellow !important;
}

.yellow {
  color: @yellow !important;
}

.warning {
  color: @warning !important;
}

.gold {
  color: @gold !important;
}

.orange {
  color: @orange !important;
}

.lightred {
  color: @lightred !important;
}

.darkorange {
  color: @darkorange !important;
}

.red {
  color: @red !important;
}

.pink {
  color: @pink !important;
}

.darkpink {
  color: @darkpink !important;
}

.danger {
  color: @danger !important;
}

.magenta {
  color: @magenta !important;
}

.purple {
  color: @purple !important;
}

.maroon {
  color: @maroon !important;
}

/*#endregion Colors*/
/*#region Background Colors*/
.bg-themeprimary {
  background-color: @themeprimary !important;
}

.bg-themesecondary {
  background-color: @themesecondary !important;
}

.bg-themethirdcolor {
  background-color: @themethirdcolor !important;
}

.bg-themefourthcolor {
  background-color: @themefourthcolor !important;
}

.bg-themefifthcolor {
  background-color: @themefifthcolor !important;
}

.bg-white {
  background-color: @white !important;
}

.bg-snow {
  background-color: @snow !important;
}

.bg-whitesmoke {
  background-color: @whitesmoke !important;
}

.bg-seashell {
  background-color: @seashell !important;
}

.bg-ivory {
  background-color: @ivory !important;
}

.bg-platinum {
  background-color: @platinum !important;
}

.bg-lightgray {
  background-color: @lightgray !important;
}

.bg-gray {
  background-color: @gray !important;
}

.bg-darkgray {
  background-color: @darkgray !important;
}

.bg-silver {
  background-color: @silver !important;
}

.bg-sonic-silver {
  background-color: @sonic-silver !important;
}

.bg-storm-cloud {
  background-color: @storm-cloud !important;
}

.bg-lightcarbon {
  background-color: @lightcarbon !important;
}

.bg-carbon {
  background-color: @carbon !important;
}

.bg-slate-gray {
  background-color: @slate-gray !important;
}

.bg-darkcarbon {
  background-color: @darkcarbon !important;
}

.bg-blue {
  background-color: @blue !important;
}

.bg-info {
  background-color: @info !important;
}

.bg-sky {
  background-color: @sky !important;
}

.bg-primary {
  background-color: @primary !important;
}

.bg-azure {
  background-color: @azure !important;
}

.bg-blueberry {
  background-color: @blueberry !important;
}

.bg-palegreen {
  background-color: @palegreen !important;
}

.bg-success {
  background-color: @success !important;
}

.bg-green {
  background-color: @green !important;
}

.bg-lightyellow {
  background-color: @lightyellow !important;
}

.bg-yellow {
  background-color: @yellow !important;
}

.bg-warning {
  background-color: @warning !important;
}

.bg-gold {
  background-color: @gold !important;
}

.bg-orange {
  background-color: @orange !important;
}

.bg-lightred {
  background-color: @lightred !important;
}

.bg-darkorange {
  background-color: @darkorange !important;
}

.bg-red {
  background-color: @red !important;
}

.bg-danger {
  background-color: @danger !important;
}

.bg-pink {
  background-color: @pink !important;
}

.bg-darkpink {
  background-color: @darkpink !important;
}

.bg-magenta {
  background-color: @magenta !important;
}

.bg-purple {
  background-color: @purple !important;
}

.bg-maroon {
  background-color: @maroon !important;
}

/*#endregion Background Colors*/
/*#region Before Colors*/
.before-themeprimary {
  &:before {
    background-color: @themeprimary !important;
  }
}

.before-themesecondary {
  &:before {
    background-color: @themesecondary !important;
  }
}

.before-themethirdcolor {
  &:before {
    background-color: @themethirdcolor !important;
  }
}

.before-themefourthcolor {
  &:before {
    background-color: @themefourthcolor !important;
  }
}

.before-themefifthcolor {
  &:before {
    background-color: @themefifthcolor !important;
  }
}

.before-white {
  &:before {
    background-color: @white !important;
  }
}

.before-snow {
  &:before {
    background-color: @snow !important;
  }
}

.before-whitesmoke {
  &:before {
    background-color: @whitesmoke !important;
  }
}

.before-seashell {
  &:before {
    background-color: @seashell !important;
  }
}

.before-ivory {
  &:before {
    background-color: @ivory !important;
  }
}

.before-platinum {
  &:before {
    background-color: @platinum !important;
  }
}

.before-lightgray {
  &:before {
    background-color: @lightgray !important;
  }
}

.before-gray {
  &:before {
    background-color: @gray !important;
  }
}

.before-darkgray {
  &:before {
    background-color: @darkgray !important;
  }
}

.before-silver {
  &:before {
    background-color: @silver !important;
  }
}

.before-sonic-silver {
  &:before {
    background-color: @sonic-silver !important;
  }
}

.before-storm-cloud {
  &:before {
    background-color: @storm-cloud !important;
  }
}

.before-lightcarbon {
  &:before {
    background-color: @lightcarbon !important;
  }
}

.before-carbon {
  &:before {
    background-color: @carbon !important;
  }
}

.before-slate-gray {
  &:before {
    background-color: @slate-gray !important;
  }
}

.before-darkcarbon {
  &:before {
    background-color: @darkcarbon !important;
  }
}

.before-blue {
  &:before {
    background-color: @blue !important;
  }
}

.before-info {
  &:before {
    background-color: @info !important;
  }
}

.before-sky {
  &:before {
    background-color: @sky !important;
  }
}

.before-primary {
  &:before {
    background-color: @primary !important;
  }
}

.before-azure {
  &:before {
    background-color: @azure !important;
  }
}

.before-blueberry {
  &:before {
    background-color: @blueberry !important;
  }
}

.before-palegreen {
  &:before {
    background-color: @palegreen !important;
  }
}

.before-success {
  &:before {
    background-color: @success !important;
  }
}

.before-green {
  &:before {
    background-color: @green !important;
  }
}

.before-lightyellow {
  &:before {
    background-color: @lightyellow !important;
  }
}

.before-yellow {
  &:before {
    background-color: @yellow !important;
  }
}

.before-warning {
  &:before {
    background-color: @warning !important;
  }
}

.before-gold {
  &:before {
    background-color: @gold !important;
  }
}

.before-orange {
  &:before {
    background-color: @orange !important;
  }
}

.before-lightred {
  &:before {
    background-color: @lightred !important;
  }
}

.before-darkorange {
  &:before {
    background-color: @darkorange !important;
  }
}

.before-red {
  &:before {
    background-color: @red !important;
  }
}

.before-danger {
  &:before {
    background-color: @danger !important;
  }
}

.before-pink {
  &:before {
    background-color: @pink !important;
  }
}

.before-darkpink {
  &:before {
    background-color: @darkpink !important;
  }
}

.before-magenta {
  &:before {
    background-color: @magenta !important;
  }
}

.before-purple {
  &:before {
    background-color: @purple !important;
  }
}

.before-maroon {
  &:before {
    background-color: @maroon !important;
  }
}

/*#endregion Before Colors*/
/*#region Bordered Colors*/
.bordered-solid {
  border-style: solid !important;
}

.bordered-dashed {
  border-style: dashed !important;
}

.bordered-dotted {
  border-style: dotted !important;
}

.bordered-double {
  border-style: double !important;
}

.bordered-1 {
  border: 1px solid @white;
}

.bordered-2 {
  border: 2px solid @white;
}

.bordered-3 {
  border: 3px solid @white;
}

.bordered-4 {
  border: 4px solid @white;
}

.bordered-5 {
  border: 5px solid @white;
}

.bordered-bottom-1 {
  border-bottom: 1px solid @white;
}

.bordered-bottom-2 {
  border-bottom: 2px solid @white;
}

.bordered-bottom-3 {
  border-bottom: 3px solid @white;
}

.bordered-bottom-4 {
  border-bottom: 4px solid @white;
}

.bordered-bottom-5 {
  border-bottom: 5px solid @white;
}

.bordered-top-1 {
  border-top: 1px solid @white;
}

.bordered-top-2 {
  border-top: 2px solid @white;
}

.bordered-top-3 {
  border-top: 3px solid @white;
}

.bordered-top-4 {
  border-top: 4px solid @white;
}

.bordered-top-5 {
  border-top: 5px solid @white;
}

.bordered-left-1 {
  border-left: 1px solid @white;
}

.bordered-left-2 {
  border-left: 2px solid @white;
}

.bordered-left-3 {
  border-left: 3px solid @white;
}

.bordered-left-4 {
  border-left: 4px solid @white;
}

.bordered-left-5 {
  border-left: 5px solid @white;
}

.bordered-right-1 {
  border-right: 1px solid @white;
}

.bordered-right-2 {
  border-right: 2px solid @white;
}

.bordered-right-3 {
  border-right: 3px solid @white;
}

.bordered-right-4 {
  border-right: 4px solid @white;
}

.bordered-right-5 {
  border-right: 5px solid @white;
}

.bordered-themeprimary {
  border-color: @themeprimary !important;
}

.bordered-themesecondary {
  border-color: @themesecondary !important;
}

.bordered-themethirdcolor {
  border-color: @themethirdcolor !important;
}

.bordered-themefourthcolor {
  border-color: @themefourthcolor !important;
}

.bordered-themefifthcolor {
  border-color: @themefifthcolor !important;
}

.bordered-white {
  border-color: @white !important;
}

.bordered-snow {
  border-color: @snow !important;
}

.bordered-whitesmoke {
  border-color: @whitesmoke !important;
}

.bordered-seashell {
  border-color: @seashell !important;
}

.bordered-ivory {
  border-color: @ivory !important;
}

.bordered-platinum {
  border-color: @platinum !important;
}

.bordered-lightgray {
  border-color: @lightgray !important;
}

.bordered-gray {
  border-color: @gray !important;
}

.bordered-darkgray {
  border-color: @darkgray !important;
}

.bordered-silver {
  border-color: @silver !important;
}

.bordered-sonic-silver {
  border-color: @sonic-silver !important;
}

.bordered-storm-cloud {
  border-color: @storm-cloud !important;
}

.bordered-lightcarbon {
  border-color: @lightcarbon !important;
}

.bordered-carbon {
  border-color: @carbon !important;
}

.bordered-slate-gray {
  border-color: @slate-gray !important;
}

.bordered-darkcarbon {
  border-color: @darkcarbon !important;
}

.bordered-blue {
  border-color: @blue !important;
}

.bordered-info {
  border-color: @info !important;
}

.bordered-sky {
  border-color: @sky !important;
}

.bordered-primary {
  border-color: @primary !important;
}

.bordered-azure {
  border-color: @azure !important;
}

.bordered-blueberry {
  border-color: @blueberry !important;
}

.bordered-palegreen {
  border-color: @palegreen !important;
}

.bordered-success {
  border-color: @success !important;
}

.bordered-green {
  border-color: @green !important;
}

.bordered-lightyellow {
  border-color: @lightyellow !important;
}

.bordered-yellow {
  border-color: @yellow !important;
}

.bordered-warning {
  border-color: @warning !important;
}

.bordered-gold {
  border-color: @gold !important;
}

.bordered-orange {
  border-color: @orange !important;
}

.bordered-lightred {
  border-color: @lightred !important;
}

.bordered-darkorange {
  border-color: @darkorange !important;
}

.bordered-red {
  border-color: @red !important;
}

.bordered-danger {
  border-color: @danger !important;
}

.bordered-pink {
  border-color: @pink !important;
}

.bordered-darkpink {
  border-color: @darkpink !important;
}

.bordered-magenta {
  border-color: @magenta !important;
}

.bordered-purple {
  border-color: @purple !important;
}

.bordered-maroon {
  border-color: @maroon !important;
}

/*#endregion Bordered Colors*/