﻿/*#region ColorPicker*/
.minicolors {
  position: relative;
}

.minicolors-swatch {
  position: absolute;
  vertical-align: middle;
  background: url(../../img/jquery.minicolors.png) -80px 0;
  border: solid 1px @snow;
  cursor: text;
  padding: 0;
  margin: 0;
  display: inline-block;
  .border-radius(3px);
}

.minicolors-swatch-color {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.minicolors input[type=hidden] + .minicolors-swatch {
  width: 28px;
  position: static;
  cursor: pointer;
}

/* Panel */
.minicolors-panel {
  position: absolute;
  width: 173px;
  height: 152px;
  background: white;
  border: solid 1px #CCC;
  box-shadow: 0 0 20px rgba(0, 0, 0, .2);
  z-index: 99999;
  .box-sizing(content-box);
  display: none;
}

.minicolors-panel.minicolors-visible {
  display: block;
}

/* Panel positioning */
.minicolors-position-top .minicolors-panel {
  top: -154px;
}

.minicolors-position-right .minicolors-panel {
  right: 0;
}

.minicolors-position-bottom .minicolors-panel {
  top: auto;
}

.minicolors-position-left .minicolors-panel {
  left: 0;
}

.minicolors-with-opacity .minicolors-panel {
  width: 194px;
}

.minicolors .minicolors-grid {
  position: absolute;
  top: 1px;
  left: 1px;
  width: 150px;
  height: 150px;
  background: url(../../img/jquery.minicolors.png) -120px 0;
  cursor: crosshair;
}

.minicolors .minicolors-grid-inner {
  position: absolute;
  top: 0;
  left: 0;
  width: 150px;
  height: 150px;
  background: none;
}

.minicolors-slider-saturation .minicolors-grid {
  background-position: -420px 0;
}

.minicolors-slider-saturation .minicolors-grid-inner {
  background: url(../../img/jquery.minicolors.png) -270px 0;
}

.minicolors-slider-brightness .minicolors-grid {
  background-position: -570px 0;
}

.minicolors-slider-brightness .minicolors-grid-inner {
  background: @black;
}

.minicolors-slider-wheel .minicolors-grid {
  background-position: -720px 0;
}

.minicolors-slider,
.minicolors-opacity-slider {
  position: absolute;
  top: 1px;
  left: 152px;
  width: 20px;
  height: 150px;
  background: @white url(../../img/jquery.minicolors.png) 0 0;
  cursor: row-resize;
}

.minicolors-slider-saturation .minicolors-slider {
  background-position: -60px 0;
}

.minicolors-slider-brightness .minicolors-slider {
  background-position: -20px 0;
}

.minicolors-slider-wheel .minicolors-slider {
  background-position: -20px 0;
}

.minicolors-opacity-slider {
  left: 173px;
  background-position: -40px 0;
  display: none;
}

.minicolors-with-opacity .minicolors-opacity-slider {
  display: block;
}

/* Pickers */
.minicolors-grid .minicolors-picker {
  position: absolute;
  top: 70px;
  left: 70px;
  width: 12px;
  height: 12px;
  border: solid 1px @black;
  border-radius: 10px;
  margin-top: -6px;
  margin-left: -6px;
  background: none;
}

.minicolors-grid .minicolors-picker > div {
  position: absolute;
  top: 0;
  left: 0;
  width: 8px;
  height: 8px;
  border-radius: 8px;
  border: solid 2px @white;
  .box-sizing(content-box);
}

.minicolors-picker {
  position: absolute;
  top: 0;
  left: 0;
  width: 18px;
  height: 2px;
  background: @white;
  border: solid 1px @black;
  margin-top: -2px;
  .box-sizing(content-box);
}

/* Inline controls */
.minicolors-inline {
  display: inline-block;
}

.minicolors-inline .minicolors-input {
  display: none !important;
}

.minicolors-inline .minicolors-panel {
  position: relative;
  top: auto;
  left: auto;
  box-shadow: none;
  z-index: auto;
  display: inline-block;
}

/* Bootstrap theme */
.minicolors-theme-bootstrap .minicolors-swatch {
  top: 3px;
  left: 3px;
  width: 28px;
  height: 28px;
  .border-radius(3px);
}

.minicolors-theme-bootstrap.minicolors-position-right .minicolors-swatch {
  left: auto;
  right: 3px;
}

.minicolors-theme-bootstrap .minicolors-input {
  padding-left: 44px;
}

.minicolors-theme-bootstrap.minicolors-position-right .minicolors-input {
  padding-right: 44px;
  padding-left: 12px;
}

//Simple Color Picker
.dropdown-colorpicker {
  height: 35px;
  width: 35px;
  padding: 7px;

  > .dropdown-menu {
    top: 100%;
    left: 0;
    padding: 4px;
    min-width: 154px;
    max-width: 154px;

    > li {
      display: block;
      float: left;
      width: 20px;
      height: 20px;
      margin: 2px;

      > .colorpick-btn {
        display: block;
        width: 20px;
        height: 20px;
        margin: 0;
        padding: 0;
        .border-radius(0);
        position: relative;
        .transition(all ease .1s);

        &:hover {
          text-decoration: none;
          .opacity(.8);
          .transform(scale(1.08));
        }

        &.selected:after {
          content: "\f00c";
          display: inline-block;
          font-family: FontAwesome;
          font-size: 11px;
          color: @white;
          position: absolute;
          left: 0;
          right: 0;
          text-align: center;
          line-height: 20px;
        }
      }
    }
  }
}

.btn-colorpicker {
  display: inline-block;
  width: 20px;
  height: 20px;
  background-color: #DDD;
  vertical-align: middle;
  border-radius: 0;
}

/*#endregion ColorPicker*/