﻿/*#region Invoice Page*/
.invoice-container {
  .table-bordered {
    thead {
      > tr {
        background-color: @white !important;
        .background-image(none) !important;
      }
    }
  }

  .panel {
    .border-radius(0);

    .panel-heading {
      background-color: @white;

      h1, h2, h3, h4, h5, h6 {
        margin-bottom: 0px;
      }
    }
  }

  ul {
    list-style: none;
    padding-left: 0;

    li {
      line-height: 22px;
    }
  }
}

/*#endregion Invoice Page*/