﻿/*#region Modal*/
.modal-blue {
  .modal-header {
    border-bottom: 3px solid @blue;
  }
}

.modal-danger {
  .modal-header {
    border-bottom: 3px solid @danger;
  }
}

.modal-success {
  .modal-header {
    border-bottom: 3px solid @success;
  }
}

.modal-warning {
  .modal-header {
    border-bottom: 3px solid @warning;
  }
}

.modal-silver {
  .modal-header {
    border-bottom: 3px solid @silver;
  }
}

.modal-inverse {
  .modal-header {
    border-bottom: 3px solid @carbon;
  }
}

.modal-blueberry {
  .modal-header {
    border-bottom: 3px solid @blueberry;
  }
}

.modal-palegreen {
  .modal-header {
    border-bottom: 3px solid @palegreen;
  }
}

.modal-orange {
  .modal-header {
    border-bottom: 3px solid @orange;
  }
}

.modal-darkorange {
  .modal-header {
    border-bottom: 3px solid @darkorange;
  }
}

.modal-magenta {
  .modal-header {
    border-bottom: 3px solid @magenta;
  }
}

.modal-purple {
  .modal-header {
    border-bottom: 3px solid @purple;
  }
}

.modal-maroon {
  .modal-header {
    border-bottom: 3px solid @maroon;
  }
}

.modal-primary {
  .modal-header {
    border-bottom: 3px solid @primary;
  }
}

.modal-content {
  .border-radius(0);
  .box-shadow(0 0 40px rgba(0, 0, 0, .5));
  color: @black;
  background-color: @white;
  border: rgba(0, 0, 0, 0);

  .close {
    font-size: 26px;
  }
}

.modal-footer {
  padding-top: 12px;
  padding-bottom: 14px;
  border-top: 0;
  background-color: @whitesmoke;
}

.modal-header {
  .close {
    font-size: 26px;
  }

  padding: 10px 15px 10px 20px;
  background-color: @whitesmoke;
}

.modal-backdrop {
  background-color: @white;

  &.in {
    .opacity(.75);
  }
}

.modal-message {
  .modal-dialog {
    width: 300px;
  }

  .modal-body, .modal-footer, .modal-header, .modal-title {
    background: 0 0;
    border: none;
    margin: 0;
    padding: 0 20px;
    text-align: center !important;
  }

  .modal-header {
    color: @white;
    margin-bottom: 10px;
    padding: 15px 0 8px;

    .fa, .glyphicon, .typcn, .wi {
      font-size: 30px;
    }
  }

  .modal-title {
    font-size: 17px;
    color: @sonic-silver;
    margin-bottom: 3px;
  }

  .modal-body {
    color: @sonic-silver;
  }

  .modal-footer {
    margin: 25px 0 20px;
    padding-bottom: 10px;
  }

  &.modal-info .modal-header {
    color: @info;
    border-bottom: 3px solid @info;
  }

  &.modal-danger .modal-header {
    color: @danger;
    border-bottom: 3px solid @lightred;
  }

  &.modal-warning .modal-header {
    color: @warning;
    border-bottom: 3px solid @yellow;
  }

  &.modal-success .modal-header {
    color: @success;
    border-bottom: 3px solid @palegreen;
  }
}

/*#endregion Modal*/