﻿/*#region navbar*/
.navbar {
  padding: 0;
  margin: 0;
  border: none;
  height: 45px;
  min-height: 45px;
  z-index: 200;

  .navbar-inner {
    border: 0;
    .border-radius(0);
    margin: 0;
    padding-left: 0;
    padding-right: 0;
    min-height: 45px;
    position: relative;
    background: @themeprimary;

    .navbar-container {
      padding-left: 10px;
    }

    .navbar-header {
      .navbar-account {
        height: 45px;

        > div {
          display: inline-block;
          width: auto;
          vertical-align: top;
        }

        .account-area {
          position: absolute;
          top: 0;
          right: 50px;
          .opacity(1);
          list-style: none;
          margin-bottom: 0;
          display: inline-block;

          > li {
            float: left;
            position: relative;
            height: 45px;

            > a {
              position: relative;
              min-width: 50px;
              height: 45px;
              display: inline-block;

              &:hover {
                text-decoration: none;
              }

              .icon {
                display: block;
                color: @white;
                font-size: 16px;
                line-height: 48px;
                text-align: center;
                .transition(line-height .3s ease);
              }

              .badge {
                position: absolute;
                top: 6px;
                left: 4px;
                padding: 2px;
                cursor: pointer;
                background-color: transparent !important;
                border: 1px solid @white;
                width: 18px;
                height: 18px;
                box-shadow: 1px 1px 0 @themeprimary;
                .transition(top .3s ease);
              }

              &.wave {
                overflow: visible;
                cursor: pointer;
                z-index: 10;
                .box-sizing(border-box);
                .transform(scale(0));
                .transition(transform .3s cubic-bezier(.68, -.55, .265, 1.55));

                &.in {
                  .transform(scale(1));

                  &:after {
                    content: "";
                    top: 3px;
                    left: 5px;
                    position: absolute;
                    width: 40px;
                    height: 40px;
                    .background-image(radial-gradient(center center, farthest-side circle, rgba(26, 175, 93, 0) 70%, #f5f5f5 100%));
                    border: 1px solid @white;
                    .animation(wave 5s 3s infinite linear);
                    .opacity(0);
                    .border-radius(50%);
                    .box-sizing(border-box);
                  }
                }
              }

              &.borderpulse {
                width: 45px;
                height: 45px;

                &:after, &:before {
                  content: "";
                  position: absolute;
                  top: 1px;
                  left: 0;
                  width: 100%;
                  height: 100%;
                  .border-radius(50%);
                  border: 1px solid @white;
                  .box-sizing(border-box);
                }

                &:after, &:before {
                  .transform(scale(.91));
                  .animation(borderPulse 3.5s infinite ease);
                }

                .badge {
                  border: 0;
                  .box-shadow(none);
                }

                &:before {
                  .animation-delay(.6s);
                }

                i, .badge {
                  .animation-delay(.3s);
                }
              }

              &.blink {
                i, .badge {
                  .transform(scale(.91));
                  .animation(borderPulse 3.5s infinite ease);
                }

                i {
                  .animation-delay(.05s);
                }
              }
            }

            .dropdown-menu {
              padding: 0;
              min-width: 240px;
              .animation-name(dropdownSlideInDown);
              .animation-duration(.3s);
              .border-radius(0) !important;

              li {
                background-color: @white;
                border: 0;
                padding: 0 8px;

                &:hover {
                  background-color: @whitesmoke;
                }

                a {
                  margin: 0;
                  font-size: 12px;
                  line-height: 16px;
                  padding: 10px 2px;

                  .progress {
                    margin-bottom: 0;
                    margin-top: 4px;
                  }

                  &:hover {
                    background-color: @whitesmoke;
                  }
                }

                &.dropdown-header, &.dropdown-footer {
                  .text-shadow(none);
                  font-size: 13px;
                  font-weight: normal;
                  text-transform: none;
                  color: @darkcarbon;
                }

                &.dropdown-header {
                  padding: 0 10px;
                  line-height: 34px;
                  margin-bottom: 10px;
                  border-bottom: 1px solid #cecece;

                  a {
                    line-height: 34px;
                  }

                  &[class*="bordered-"] {
                    border-bottom-width: 3px;
                    border-style: solid;
                  }

                  i {
                    margin-right: 5px;
                  }
                }

                &.dropdown-footer {
                  padding: 8px 5px 8px 10px;

                  &[class*="bordered-"] {
                    border-top-width: 3px;
                    border-style: solid;
                  }

                  a {
                    display: inline-block;
                    color: @darkgray;
                    padding: 0;
                  }

                  .btn {
                    margin-top: -3px;
                  }
                }
              }

              &.dropdown-notifications {
                min-width: 300px;
                padding-top: 10px;

                li {
                  border-bottom: 1px solid @seashell;

                  .notification-icon {
                    float: left;

                    i {
                      width: 32px;
                      height: 32px;
                      text-align: center;
                      line-height: 32px;
                      margin-right: 10px;
                      font-size: 15px;
                      border-radius: 50%;
                    }
                  }

                  .notification-body {
                    float: left;

                    .title {
                      display: block;
                      font-size: 13px;
                    }

                    .description {
                      display: block;
                      font-size: 10px;
                      color: @darkgray;
                    }
                  }

                  .notification-extra {
                    float: right;
                    text-align: right;

                    i {
                      font-size: 14px;
                    }

                    .description {
                      display: block;
                      font-size: 10px;
                      color: @darkgray;
                    }
                  }

                  &.dropdown-footer {
                    background-color: @sky;
                    border-bottom: 0;
                    color: @white;

                    a {
                      color: @white;
                    }

                    .weather-icon {
                      margin-top: -7px;
                      margin-left: 5px;
                    }
                  }
                }
              }

              &.dropdown-messages {
                width: 300px;
                padding-top: 10px;

                li {
                  border-bottom: 1px solid @seashell;

                  .message-avatar {
                    max-width: 42px;
                    margin-right: 6px;
                    margin-top: 5px;
                    vertical-align: top;
                  }

                  .message {
                    display: inline-block;
                    position: relative;
                    width: 225px;

                    span {
                      display: block;
                    }
                  }

                  .message-sender {
                    font-size: 13px;
                  }

                  .message-time {
                    position: absolute;
                    top: 0;
                    right: 0;
                    font-size: 11px;
                    font-weight: 400;
                    color: @themeprimary;
                  }

                  .message-subject {
                    margin-top: 5px;
                  }

                  .message-body {
                    color: @darkgray;
                    max-height: 35px;
                    width: 100%;
                    -ms-text-overflow: ellipsis;
                    -o-text-overflow: ellipsis;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                    overflow: hidden;
                  }
                }
              }

              &.dropdown-login-area {
                > li {
                  border-bottom: 1px solid @whitesmoke;

                  &, a {
                    &:hover {
                      background-color: @white;
                    }
                  }

                  &.username {
                    display: none;
                    text-align: center;

                    &, a {
                      color: @lightgray;
                      font-size: 14px;
                      font-weight: 300;
                    }
                  }

                  &.email {
                    text-align: center;
                    font-size: 12px;

                    &, a {
                      color: @lightgray;
                    }
                  }

                  .avatar-area {
                    position: relative;
                    text-align: center;
                    margin: 10px auto;
                    width: 128px;

                    .avatar {
                      width: 128px;
                      height: 128px;
                    }

                    .caption {
                      background-color: @themeprimary;
                      .opacity(.7);
                      bottom: 0;
                      left: 0;
                      color: #fff;
                      font-size: 10px;
                      line-height: 9px;
                      position: absolute;
                      padding: 7px 0;
                      text-align: center;
                      width: 128px;
                      cursor: pointer;
                    }
                  }

                  &.edit {
                    min-height: 35px;

                    a {
                      color: @darkgray;
                      display: inline-block;
                      clear: none;
                      font-size: 13px;

                      &:hover {
                        color: @sky;
                      }
                    }
                  }

                  &.theme-area {
                    display: table;
                    width: 100%;
                    padding-bottom: 5px;

                    .colorpicker {
                      padding: 10px 4px;
                      width: 100%;

                      > li {
                        display: block;
                        float: left;
                        width: 23px;
                        height: 23px;
                        margin: 2px;
                        padding: 0;

                        > .colorpick-btn {
                          display: block;
                          width: 23px;
                          height: 23px;
                          margin: 0;
                          padding: 0;
                          .border-radius(0);
                          position: relative;
                          .transition(all ease .1s);

                          &:hover {
                            text-decoration: none;
                            .opacity(.8);
                            .transform(scale(1.08));
                          }

                          &.selected:after {
                            content: "\f00c";
                            display: inline-block;
                            font-family: FontAwesome;
                            font-size: 11px;
                            color: @white;
                            position: absolute;
                            left: 0;
                            right: 0;
                            text-align: center;
                            line-height: 20px;
                          }
                        }
                      }
                    }

                    .btn-colorpicker {
                      display: inline-block;
                      width: 20px;
                      height: 20px;
                      background-color: #DDD;
                      vertical-align: middle;
                      border-radius: 0;
                    }
                  }

                  &.dropdown-footer {
                    padding: 10px;
                    border-top: 3px solid @themeprimary;
                    border-bottom: 0;
                    text-align: right;

                    a {
                      color: #717171;
                      font-size: 13px;
                      font-weight: 300;
                    }
                  }
                }
              }
            }

            .dropdown-arrow {
              &:before {
                content: '';
                display: inline-block;
                right: 0;
                position: absolute;
                width: 50px;
                background-color: @white;
                border: 0;
                top: -46px;
                height: 3px;
                .box-shadow(0 2px 40px rgba(0, 0, 0, 0.4));
              }
            }

            &.open {
              > a {
                background-color: @themeprimary;
                .box-shadow(0 2px 40px rgba(0, 0, 0, 0.4));
              }

              .dropdown-menu {
                margin-top: 0;
                right: 0;
                border: 0 !important;
              }
            }
          }

          .login-area {
            padding: 8px 20px 10px 20px;
            height: 45px;
            opacity: 1;
            position: relative;
            cursor: pointer;

            .avatar {
              margin-right: 14px;
              display: block;
              float: left;
              border-left: 2px solid @themesecondary;
              width: 29px;
              height: 29px;

              img {
                width: 29px;
                height: 29px;
              }
            }

            section {
              width: auto;
              display: block;
              overflow: hidden;
              line-height: 25px;
              float: left;

              h2 {
                font-size: 14px;
                font-weight: 400;
                white-space: nowrap;
                margin: 0;

                span {
                  display: block;
                  color: #fff;
                  overflow: hidden;
                  -ms-text-overflow: ellipsis;
                  -o-text-overflow: ellipsis;
                  text-overflow: ellipsis;
                  text-decoration: none;
                  line-height: 25px;
                }
              }
            }

            + .dropdown-menu {
              width: 100%;
              min-width: 100px;
            }

            + .dropdown-arrow {
              &:before {
                width: 100%;
              }
            }
          }
        }

        .setting {
          width: 50px;
          position: absolute;
          right: 0;
          top: 0;

          a {
            position: relative;
            width: 50px;
            height: 45px;
            display: inline-block;
            .transition(all .5s ease);

            &:hover {
              text-decoration: none;
            }

            .icon {
              display: block;
              color: @white;
              font-size: 22px;
              line-height: 45px;
              text-align: center;
            }
          }
        }

        .setting-container {
          .transform(rotateY(90deg));
          .transform-origin(top left);
          display: inline-block;
          width: 505px;
          height: 45px;
          .opacity(0);
          text-align: center;
          padding: 11px 0;
          position: absolute;
          top: 0;
          right: 0;

          input[type=checkbox] {
            display: inline-block;

            + .text {
              color: @white;
              margin-right: 8px;
              font-weight: 300;

              &:before {
                border-color: @themeprimary;
              }
            }

            &:checked {
              + .text {
                color: @white;

                &:before {
                  border-color: @themeprimary;
                  color: @themesecondary;
                }
              }
            }
          }
        }

        .account-area, .setting-container, .setting {
          .transform-style(preserve-3d);
          .backface-visibility(hidden);
          .transition(0.9s);
        }

        &.setting-open {
          .setting {
            right: 505px;
            background-color: @themeprimary;

            a {
              .box-shadow(0 -6px 40px rgba(0, 0, 0, 0.4));

              &:before {
                content: '';
                display: inline-block;
                right: 0;
                position: absolute;
                width: 50px;
                background-color: @white;
                border: 0;
                top: 0;
                height: 3px;
              }
            }
          }

          .account-area {
            .transform(rotateY(-90deg));
            .transform-origin(top right);
            .opacity(0);
            right: 450px;
          }

          .setting-container {
            .transform(rotateY(0deg));
            .opacity(1);
            padding: 11px;
          }
        }
      }
    }
  }

  .navbar-brand {
    color: @white;
    font-size: 24px;
    .text-shadow(none);
    padding: 2px 0 2px 0;
    font-weight: 200;
    height: 45px;

    small {
      img {
        height: 40px;
        width: 177px;
      }
    }
  }

  .sidebar-collapse {
    text-align: center;
    padding: 0;
    position: absolute;
    left: 189px;
    top: 0px;
    z-index: 2;
    width: 35px;
    height: 45px;

    &:hover {
      .box-shadow(0 0 20px @black2);
    }

    .collapse-icon {
      display: inline-block;
      cursor: pointer;
      font-size: 18px;
      color: @white;
      padding: 11px 5px;
      line-height: 22px;
      position: relative;
      .transition(background-color .218s ease);
      .transition(box-shadow .218s ease);
      .transition(color .318s ease);
    }

    &.active {
      &:hover {
        box-shadow: none;
      }

      .collapse-icon {
        font-size: 14px;
        .box-shadow(0 0 20px @black2);
        padding: 11px;
      }
    }
  }

  &.navbar-fixed-top {
    z-index: 1003;

    + .main-container {
      margin-top: 45px;
    }
  }
}

@media only screen and (max-width: 767px) {
  .navbar-container {
    padding-left: 2px;
  }
}

@media only screen and (max-width: 760px) {
  .navbar {
    .navbar-inner {
      .navbar-header {
        .navbar-account {
          &.setting-open {
            .setting {
              top: 45px;
            }

            .setting-container {
              top: 45px;
            }
          }

          .account-area {

            > li .dropdown-menu.dropdown-login-area > li.username {
              display: block;
            }

            .login-area {
              padding: 8px;

              section {
                display: none;
              }

              .avatar {
                margin-right: 0;
                margin-left: 1px;
              }

              + .dropdown-menu {
                min-width: 200px;

                &:before {
                  width: 50px;
                }
              }
            }
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 759px) {
  .navbar {
    .navbar-inner {
      .navbar-header {
        .navbar-account {
          &.setting-open {
            .setting-container {
              width: 270px;
              top: 0;
              padding: 0 5px;
              text-align: left;

              label {
                margin-bottom: 0;
              }
            }

            .setting {
              right: 270px;
              top: 0;
            }
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 530px) {
  .navbar {
    height: 90px;

    .sidebar-collapse {
      left: auto;
      right: 0;
      width: 50px;

      .collpse-icon {
        padding: 11px 15px;
      }
    }

    .navbar-brand {
      padding-left: 10px;
    }

    .navbar-inner {
      .navbar-header {
        float: none !important;
        display: block;

        .navbar-account {
          float: right;

          .account-area {
            padding-left: 0;
            top: 45px;

            > li {
              .dropdown-menu {
                &.dropdown-notifications {
                  left: -135px;
                  right: auto;

                  &.dropdown-arrow {
                    &:before {
                      left: 135px;
                    }
                  }
                }

                &.dropdown-messages {
                  left: -135px;
                  right: auto;

                  &.dropdown-arrow {
                    &:before {
                      left: 135px;
                    }
                  }
                }
              }
            }
          }

          .setting {
            top: 45px !important;
          }

          .setting-container {
            top: 45px !important;
          }

          &.setting-open {
            .setting-container {
              left: 50px;
            }

            .setting {
              left: 0;
            }
          }
        }
      }

      .navbar-container {
        padding-left: 0;
      }
    }
  }

  .navbar-fixed-top + .main-container {
    margin-top: 90px !important;
  }

  .breadcrumbs-fixed {
    top: 90px !important;

    + .page-header {
      margin-top: 40px !important;
    }
  }

  .page-header-fixed {
    top: 130px !important;

    + .page-body {
      margin-top: 80px !important;
    }
  }

  .page-sidebar.sidebar-fixed {
    top: 90px !important;
  }
}

@media only screen and (max-width: 450px) {
  .navbar {
    .navbar-inner {
      .navbar-header {
        .navbar-account {
          &.setting-open {
            .setting-container {
              width: 270px;
              padding: 0 5px;
              text-align: left;
              left: 50px;

              label {
                margin-bottom: 0;
              }
            }

            .setting {
              left: 0;
            }
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 400px) {
  .navbar {
    .navbar-inner {
      .navbar-header {
        .navbar-account {
          .account-area {
            > li {
              .dropdown-menu {
                &.dropdown-notifications {
                  left: -55px;
                  right: auto;

                  &.dropdown-arrow {
                    &:before {
                      left: 55px;
                    }
                  }
                }

                &.dropdown-messages {
                  left: -105px;
                  right: auto;

                  &.dropdown-arrow {
                    &:before {
                      left: 105px;
                    }
                  }
                }

                &.dropdown-tasks {
                  left: -100px;
                  right: auto;

                  &.dropdown-arrow {
                    &:before {
                      left: 100px;
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 320px) {
  .navbar {
    .navbar-inner {
      .navbar-header {
        .navbar-account {
          .account-area {
            > li {
              .dropdown-arrow {
                &:before {
                  width: 45px !important;
                }
              }

              > a {
                min-width: 45px;
              }
            }
          }
        }
      }
    }
  }
}

/*#endregion navbar*/
