﻿/*#region Page Content*/
.page-content {
  display: block;
  margin-left: 224px;
  margin-right: 0;
  margin-top: 0;
  min-height: 100%;
  padding: 0;
}

@media only screen and (max-width: 880px) {
  .page-content {
    margin-left: 0;
  }
}

/*#endregion Page Content*/
