﻿/*#region Pagination*/
.pagination, .pager li > a {
  .border-radius(2px);
}

.pagination, .pager {
  margin: 0;

  > li {
    > a {
      color: @carbon;
      background-color: @white;
      margin: 0 -1px 0 0;
      border-color: @gray;

      &:hover {
        background-color: #ebebeb;
        border-color: #b8b8b8;
      }

      &:focus, &:focus {
        background-color: #ebebeb;
        border-color: #b8b8b8;
      }
    }

    &.disabled {
      > a {

        &, &:hover {
          background-color: #f9f9f9;
          border-color: #d9d9d9;
        }
      }
    }
  }
}

.pagination > li:last-child > a, .pagination > li:last-child > span {
  .border-radius(0 2px 2px 0);
}

.pagination > li:first-child > a, .pagination > li:first-child > span {
  .border-radius(2px 0 0 2px);
}

.pagination > li > a, .pager > li > a, .pagination > li > span, .pager > li > span {
  border-width: 1px;
}

.pagination > li.active > a, .pagination > li.active > a:hover {
  background-color: @themeprimary;
  border-color: @themeprimary;
  color: @white;
  .text-shadow(0 -1px 0 rgba(0, 0, 0, 0.25));
}

.pagination-lg > li > a, .pagination-lg > li > span {
  padding: 7px 16px;
  font-size: 16px;
}

/*#endregion Pagination*/