﻿/*#region Register*/
.register-container {
  position: relative;
  margin: 8% auto;
  max-width: 350px;

  .registerbox {
    position: relative;
    width: 350px !important;
    height: 560px !important;
    padding: 0;
    .box-shadow(0 0 14px rgba(0, 0, 0, 0.1));

    .registerbox-title {
      position: relative;
      text-align: left;
      width: 100%;
      height: 35px;
      padding: 20px 20px 0;
      font-family: 'Lucida Sans', 'trebuchet MS', Arial, Helvetica;
      font-size: 18px;
      text-transform: uppercase;
      font-weight: normal;
      color: @carbon;
    }

    .registerbox-caption {
      font-size: 14px;
      font-weight: 500;
      color: darkgray;
      padding: 15px 20px 0;
    }

    .registerbox-textbox {
      padding: 10px 20px;

      .form-control {
        .border-radius(3px) !important;
      }
    }

    .registerbox-submit {
      padding: 0 20px;
    }
  }

  .logobox {
    width: 350px !important;
    height: 50px !important;
    padding: 5px;
    margin-top: 15px;
    .box-shadow(0 0 14px rgba(0, 0, 0, 0.1));
    background-color: @white;
    text-align: left;
  }
}

/*#endregion Register*/