﻿/*#region SearchHelpBar*/
.searchhelpbar {
  width: 100%;
  position: relative;
  margin: 0 0 10px;

  .help-box {
    min-height: 72px;
    padding: 0;
    padding-bottom: 0;

    .alert {
      min-height: 72px;
      border-color: @white;
    }
  }

  .search-box {
    background-color: @white;
    min-height: 72px;
    padding: 0;
    .box-shadow(0 1px 2px rgba(0, 0, 0, 0.2));

    > div {
      padding: 19px;
    }
  }
}

/*#endregion SearchHelpBar*/