﻿/*#region TagsInput*/
.bootstrap-tagsinput {
  display: block;
  width: 100%;
  min-height: 32px;
  padding: 1px 3px;
  font-size: 13px;
  line-height: 1.428571429;
  color: @darkcarbon;
  vertical-align: middle;
  background-color: @white;
  border: 1px solid #CCC;
  border-radius: 0;

  > span {
    font-weight: 400;
    padding: 4px 28px 4px 8px;
    font-size: 13px;
    border: 1px solid @themeprimary;
    background: @themeprimary;
  }

  input {
    border: 0;
    .box-shadow(none);
    outline: 0;
    background-color: transparent;
    padding: 0;
    margin: 0;
    width: auto !important;
    max-width: inherit;

    &:focus {
      border: 0;
      .box-shadow(none);
    }
  }

  .tag {
    color: #FFF;
    position: relative;
    margin: 3px 0 3px 2px;
    display: inline-block;
    .border-radius(2px);

    [data-role=remove] {
      display: block;
      top: -1px;
      right: 0;
      padding: 3px 4px 3px 5px;
      width: 23px;
      height: 22px;
      position: absolute;
      cursor: pointer;

      &:hover {
        &:after {
          .opacity(1);
        }

        &:active {
          &:after {
            .opacity(1);
          }
        }
      }

      &:after {
        content: "\f00d";
        font-family: fontAwesome;
        padding: 2px 1px;
        line-height: 16px;
        font-size: 14px;
        text-align: center;
        .opacity(.7);

        &:hover {
          .opacity(1);

          &:active {
            .opacity(1);
          }
        }
      }
    }
  }
}

/*#endregion TagsInput*/