﻿/*#region Timeline*/
.timeline {
  list-style: none;
  padding: 0;
  position: relative;

  &:before {
    top: 0;
    bottom: -35px;
    position: absolute;
    content: " ";
    width: 3px;
    left: 50%;
    margin-left: -1.5px;
    box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175);
    background-color: @seashell;
  }

  > li {
    margin-bottom: 20px;
    position: relative;

    &:before,
    &:after {
      content: " ";
      display: table;
    }

    &:after {
      clear: both;
    }

    > .timeline-datetime {
      color: @sonic-silver;
      position: absolute;
      left: 55%;
      top: 6px;
      text-align: left;
      padding: 10px;

      .timeline-time, .timeline-date {
        display: block;
        font-size: 11px;
        font-family: 'Lucida Sans', 'trebuchet MS', Arial, Helvetica;
      }

      .timeline-time {
        font-size: 14px;
        font-weight: bold;
      }
    }

    > .timeline-panel {
      background-color: @snow;
      .calc(width, ~'50% - 45px');
      float: left;
      border-radius: 2px;
      padding: 0;
      position: relative;
      box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175);

      .timeline-header {
        .timeline-title {
          display: block;
          padding: 10px 20px 0;
          min-width: 200px;
          font-size: 14px;
          font-family: @number-fonts;
          font-weight: 700;
        }

        .timeline-datetime {
          position: absolute;
          top: 5px;
          right: 10px;
          font-family: @number-fonts;
          font-size: 13px;
          display: none;
        }
      }

      .timeline-body {
        padding: 10px 20px 20px;
        line-height: 22px;

        > p,
        > ul {
          margin-bottom: 0;
        }

        > p + p {
          margin-top: 5px;
        }
      }

      .timeline-footer {
        padding: 5px 20px 10px;
        border-top: 1px solid @ivory;

        .footer-registrar {
          font-size: 12px;
          color: @lightcarbon;
        }
      }

      &:before {
        position: absolute;
        top: 16px;
        right: -15px;
        display: inline-block;
        border-top: 15px solid transparent;
        border-left: 15px solid @platinum;
        border-right: 0 solid @platinum;
        border-bottom: 15px solid transparent;
        content: " ";
      }

      &:after {
        position: absolute;
        top: 17px;
        right: -14px;
        display: inline-block;
        border-top: 14px solid transparent;
        border-left: 14px solid @snow;
        border-right: 0 solid @snow;
        border-bottom: 14px solid transparent;
        content: " ";
      }
    }

    .timeline-badge {
      width: 50px;
      height: 50px;
      font-size: 1.4em;
      text-align: center;
      position: absolute;
      top: 6px;
      left: 50%;
      margin-left: -25px;
      background-image: linear-gradient(to bottom, #eeeeee 0, #fbfbfb 100%);
      z-index: 100;
      .border-radius(50%);
      box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175);
      color: @carbon;

      .badge-picture {
        width: 50px;
        height: 50px;
        .border-radius(50%);
      }

      i {
        line-height: 50px;
      }

      &[class*="bg-"] {
        .background-image(none) !important;
        color: @white;
      }
    }

    &.timeline-inverted {
      > .timeline-datetime {
        left: auto;
        right: 55%;
        text-align: right;
      }

      > .timeline-panel {
        float: right;

        &:before {
          border-left-width: 0;
          border-right-width: 15px;
          left: -15px;
          right: auto;
        }

        &:after {
          border-left-width: 0;
          border-right-width: 14px;
          left: -14px;
          right: auto;
        }
      }
    }

    &.timeline-node {
      width: 150px;
      margin: 0px auto 20px;
      text-align: center;
    }
  }
}

@media (max-width: 767px) {
  .timeline {
    &:before {
      left: 40px;
    }

    > li {
      > .timeline-panel {
        .calc(width, ~'100% - 90px');
      }

      > .timeline-badge {
        left: 15px;
        margin-left: 0;
        top: 6px;
      }

      > .timeline-panel {
        float: right;

        &:before {
          border-left-width: 0;
          border-right-width: 15px;
          left: -15px;
          right: auto;
        }

        &:after {
          border-left-width: 0;
          border-right-width: 14px;
          left: -14px;
          right: auto;
        }

        .timeline-header {
          .timeline-title {
            top: 5px;
          }

          .timeline-datetime {
            display: block;
          }
        }
      }

      > .timeline-datetime {
        display: none;
      }

      &.timeline-node {
        margin: 0 0 20px -35px;
      }
    }
  }
}

@media (max-width: 500px) {
  .timeline {
    > li {
      > .timeline-panel {
        .timeline-header {
          .timeline-title {
          }

          .timeline-datetime {
            position: relative;
            padding: 5px 30px 0;
            margin: 0;
          }
        }

        .timeline-body {
          padding: 20px 20px 20px;
        }
      }
    }
  }
}

/*#endregion Timleline*/