﻿/*#region Bootstrap Validator*/
.bv-form .help-block {
  margin-bottom: 0;
}

.nav-tabs li.bv-tab-success > a {
  color: @success;
}

.nav-tabs li.bv-tab-error > a {
  color: @danger;
}

/*#endregion Bootstrap Validator*/