{% extends 'CultureBundle:Campagne:layout.html.twig' %}
{% block content %}
    <div class="col-lg-12 col-sm-12 col-xs-12" style="padding-left: 15%; padding-right: 15%">
    <div class="widget flat radius-bordered">
        <div class="widget-header bg-azure">
            <span class="widget-caption">Ajouter une nouvelle campagne</span>
            <div class="widget-buttons buttons-bordered">
                <button class="btn btn-sky btn-sm" onclick="document.location.href='{{ path('campagne') }}'"><i class="fa fa-arrow-left" aria-hidden="true"></i>Retour</button>
                <button class="btn btn-azure btn-sm" onclick="document.location.href='{{ path('ajoutercampagne') }}'">Nouvelle campagne</button>
            </div>
        </div>
        <div class="widget-body">
            <div class="row">
                <div class="form-horizontal">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <div class="form-title">
                            Info. campagne
                        </div>
                        {{ form_start(form, {'attr': {'class': 'form-horizontal'}}) }}
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                                <div class="form-group">
                                    <label for="" class="col-sm-4 control-label">LIBELLE<sup style="color: red">*</sup></label>
                                    <div class="col-sm-6">
                                        {{ form_widget(form.lIBELLE, {'attr': {'class': 'form-control'}}) }}
                                    </div>
                                </div>
                                <div class="form-group" id="datedebutcampagne">
                                    <label for="" class="col-sm-4 control-label">DATE DE DEBUT</label>
                                    <div class="col-sm-6">
                                        {{ form_widget(form.dATEDEBUT, {'attr': {'class': 'form-control'}}) }}
                                    </div>
                                </div>
                                <div class="form-group" id="datefincampagne">
                                    <label for="" class="col-sm-4 control-label">DATE DE FIN</label>
                                    <div class="col-sm-6">
                                        {{ form_widget(form.dATEFIN, {'attr': {'class': 'form-control'}}) }}
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="" class="col-sm-4 control-label">EN COURS<sup style="color: red">*</sup></label>
                                    <div class="col-sm-6">
                                        {{ form_widget(form.eNCOURS, {'attr': {'class': 'form-control'}}) }}
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-sm-offset-6 col-sm-6">
                                        <input type="submit" class="btn btn-azure" value="Valider" onClick="this.disabled=true;this.form.submit();this.value='Patientez...'"/>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {{ form_rest(form) }}
                        {{ form_end(form) }}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}