{% extends 'CultureBundle:Campagne:layout.html.twig' %}

{% block content %}
    <br>
    <div class="row">
        <div class="row" style="padding-left: 5%; padding-right: 5%">
            <div class="col-lg-12 col-sm-12 col-xs-12">
                <div class="row" >
                    <div class="widget flat radius-bordered">
                        <div class="widget-header bg-palegreen">
                            <span class="widget-caption">Liste des campagnes</span>
                            <div class="widget-buttons buttons-bordered">
                                <button class="btn btn-azure btn-sm" onclick="document.location.href='{{ path('ajoutercampagne') }}'">Nouvelle campagne</button>
                            </div>
                        </div>
                        <div class="messageflasherror">
                            {% for flashMessage in app.session.flashbag.get('notice') %}

                                <p style="color: red">{{ flashMessage }}</p>

                            {% endfor %}
                        </div>
                        <div class="messageflashok">
                            {% for flashMessage in app.session.flashbag.get('noticeok') %}

                                <p style="color: green">{{ flashMessage }}
                                    <i class="fa fa-check-circle" aria-hidden="true"></i>
                                </p>

                            {% endfor %}
                        </div>
                        <div class="widget-body">
                            <div style="padding-left: 5%; padding-right: 5%">
                                <table class="table table-bordered table-hover " id="searchable7" >
                                <thead class="bordered-darkorange">
                                <tr role="row">
                                    <th style="width: 3%"></th>
                                    <th style="width: 10%">Libelle</th>
                                    <th style="width: 10%">Date de d&eacute;but</th>
                                    <th style="width: 10%">Date de fin</th>
                                    <th style="width: 3%">En cours</th>
                                    <th style="width: 2%">Action</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for rs in campagnes %}
                                    <tr>
                                        <td><a href="{{ path('modifiercampagne',{'id': rs.id }) }}" style="color: #00C853">Detail</a></td>
                                        <td>{{ rs.lIBELLE }}</td>
                                        {% if rs.dATEDEBUT == "" %}
                                            <td></td>
                                        {% else %}
                                            <td>{{ rs.dATEDEBUT|date('d-m-Y') }}</td>
                                        {% endif %}
                                        {% if rs.dATEFIN == "" %}
                                            <td></td>
                                        {% else %}
                                            <td>{{ rs.dATEFIN|date('d-m-Y') }}</td>
                                        {% endif %}
                                        <td>{{ rs.eNCOURS }}</td>
                                        <td>
                                            <a href="{{ path('supprimercampagne', {'id': rs.id}) }}" class="btn btn-danger btn-sm" title="supprimer" onclick="return confirm('Etes vous sûr de vouloir supprimer cette campagne ?')">
                                                <i class="fa fa-trash"></i>
                                            </a>
                                        </td>
                                    </tr>
                                {% endfor%}
                                </tbody>
                            </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}