{% extends 'TechniqueBundle:MaterielOR:layout.html.twig' %}
{% block content %}
    <div class="row">
        <div class="col-lg-12 col-sm-12 col-xs-12">
            <div class="tabbable">
                <ul class="nav nav-tabs nav-justified" id="myTab5">
                    <li class="tab-yellow">
                        <a data-toggle="tab" href="#tabfammate">
                            Cat&eacute;gorie
                        </a>
                    </li>
                    <li class="tab-green">
                        <a data-toggle="tab" href="#tabsfammate">
                            Genre
                        </a>
                    </li>
                    <li class="tab-red">
                        <a data-toggle="tab" href="#tabmarq">
                            Marque
                        </a>
                    </li>
                    <li class="tab-blueberry">
                        <a data-toggle="tab" href="#tabaction">
                            Action
                        </a>
                    </li>
                    <li class="active">
                        <a data-toggle="tab" href="#tabpmod">
                            Param&eacute;trage Mod&egrave;le
                        </a>
                    </li>
                </ul>
                <div class="tab-content" style="background-color: rgba(231, 231, 231, 0.38)">
                    <div id="tabfammate" class="tab-pane ">
                        <div class="row">
                            <br>
                            <div class="row" style="padding-left: 25%; padding-right: 25%">
                                <div class="col-lg-12 col-sm-12 col-xs-12">
                                    <div class="row" >
                                        <div class="widget flat radius-bordered">
                                            <div class="widget-header bg-azure">
                                                <span class="widget-caption">Cr&eacute;ation d'une nouvelle Cat&eacute;gorie </span>
                                            </div>
                                            <div class="widget-body">
                                                <div style="padding-left: 10%; padding-right: 25%">
                                                    {{ form_start(form1, {'attr': {'class': 'form-horizontal'}}) }}
                                                    <div class="form-group">
                                                        <label for="inputEmail3" class="col-sm-4 control-label no-padding-right">CODE</label>
                                                        <div class="col-sm-8">
                                                            {{ form_widget(form1.cODE, {'attr': {'class': 'form-control'}}) }}
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <label for="inputEmail3" class="col-sm-4 control-label no-padding-right">LIBELLE</label>
                                                        <div class="col-sm-8">
                                                            {{ form_widget(form1.lIBELLE, {'attr': {'class': 'form-control'}}) }}
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <div class="col-sm-offset-4 col-sm-8">
                                                            <input type="submit" class="btn btn-azure" value="Valider" onClick="this.disabled=true;this.form.submit();this.value='Patientez...'"/>
                                                        </div>
                                                    </div>
                                                    {{ form_rest(form1) }}
                                                    {{ form_end(form1) }}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <br>
                            <div class="row" style="padding-left: 15%; padding-right: 15%">
                                <div class="col-lg-12 col-sm-12 col-xs-12">
                                    <div class="row" >
                                        <div class="widget flat radius-bordered">
                                            <div class="widget-header bg-palegreen">
                                                <span class="widget-caption">Liste des Cat&eacute;gories</span>
                                            </div>
                                            <div class="widget-body">
                                                <div style="padding-left: 15%; padding-right: 15%">
                                                    <table class="table table-bordered table-hover " >

                                                        <thead class="bordered-darkorange">
                                                        <tr role="row">
                                                            <th>Code</th>
                                                            <th>Libell&eacute;</th>
                                                            <th>Date invalide</th>
                                                            <th>Action</th>
                                                        </tr>
                                                        </thead>
                                                        <tbody>
                                                        {% for rs in familles %}
                                                            <tr>
                                                                <td>{{ rs.CODE }}</td>
                                                                <td>{{ rs.lIBELLE }}</td>
                                                                {% if rs.dATEINVALIDE != null %}
                                                                    <td>{{ rs.dATEINVALIDE|date('d-m-Y') }}</td>
                                                                {% else %}
                                                                    <td></td>
                                                                {% endif %}
                                                                <td>
                                                                    <button class="btn btn-default btn-sm" data-toggle="modal" data-target="#myModalHorizontal1-{{ rs.id }}" title="Modifier">
                                                                        <i class="fa fa-pencil-square-o"></i>Modifier
                                                                    </button>
                                                                    <button class="btn btn-danger btn-sm" title="supprimer" onclick="deletefamille({{ rs.ID }})">
                                                                        <i class="fa fa-trash"></i>Supprimer
                                                                    </button>

                                                                </td>
                                                            </tr>
                                                            <div class="modal fade" id="myModalHorizontal1-{{ rs.ID }}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel-{{ rs.ID }}" aria-hidden="false">
                                                                <div class="modal-dialog">
                                                                    <div class="modal-content">
                                                                        <!-- Modal Header -->
                                                                        <div class="modal-header">
                                                                            <button type="button" class="close"
                                                                                    data-dismiss="modal">
                                                                                <span aria-hidden="true">&times;</span>
                                                                                <span class="sr-only">Close</span>
                                                                            </button>
                                                                            <h4 class="modal-title" id="myModalLabel-{{ rs.ID }}">
                                                                                Modifier la Cat&eacute;gorie <b>{{ rs.lIBELLE }}</b>
                                                                            </h4>
                                                                        </div>

                                                                        <!-- Modal Body -->
                                                                        <div class="form-horizontal" id="form">

                                                                            <div class="modal-body">

                                                                                <div class="form-group">
                                                                                    <label  class="col-sm-4 control-label"
                                                                                            for="inputlibelle">CODE</label>
                                                                                    <div class="col-sm-8">
                                                                                        <input type="text" class="form-control"
                                                                                               value="{{ rs.cODE }}" name="code" id="code{{ rs.ID }}"/>
                                                                                        <input type="hidden" class="form-control"
                                                                                               value="{{ rs.ID }}" name="idfamillemat" id="idfamillemat"/>
                                                                                    </div>
                                                                                </div>
                                                                                <div class="form-group">
                                                                                    <label  class="col-sm-4 control-label"
                                                                                            for="inputlibelle">lIBELLE</label>
                                                                                    <div class="col-sm-8">
                                                                                        <input type="text" class="form-control"
                                                                                               value="{{ rs.lIBELLE }}" name="libelle" id="libelle{{ rs.ID }}"/>
                                                                                    </div>
                                                                                </div>
                                                                                <div class="form-group">
                                                                                    <label  class="col-sm-4 control-label"
                                                                                            for="inputinvalide">DATE INVALIDE</label>
                                                                                    <div class="col-sm-8">
                                                                                        <input type="date" class="form-control"
                                                                                               value="{{ rs.DATEINVALIDE|date('d-m-Y') }}" name="dateinvalide" id="dateinvalide{{ rs.ID }}"/>
                                                                                    </div>
                                                                                </div>
                                                                            </div>

                                                                            <!-- Modal Footer -->
                                                                            <div class="modal-footer">

                                                                                <button type="button" class="btn btn-success btn-block" onclick="updatefamille({{ rs.ID }})">
                                                                                    <span class="fa fa-check"></span>
                                                                                    Update
                                                                                </button>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>

                                                        {% endfor %}
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="tabsfammate" class="tab-pane">
                        <div class="row">
                            <br>
                            <div class="row" style="padding-left: 25%; padding-right: 25%">
                                <div class="col-lg-12 col-sm-12 col-xs-12">
                                    <div class="row" >
                                        <div class="widget flat radius-bordered">
                                            <div class="widget-header bg-azure">
                                                <span class="widget-caption">Cr&eacute;ation d'un nouveau genre</span>
                                            </div>
                                            <div class="widget-body">
                                                <div style="padding-left: 10%; padding-right: 25%">
                                                    {{ form_start(form2, {'attr': {'class': 'form-horizontal'}}) }}
                                                    <div class="form-group">
                                                        <label for="inputEmail3" class="col-sm-4 control-label no-padding-right">CODE</label>
                                                        <div class="col-sm-8">
                                                            {{ form_widget(form2.cODE, {'attr': {'class': 'form-control'}}) }}
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <label for="inputEmail3" class="col-sm-4 control-label no-padding-right">LIBELLE</label>
                                                        <div class="col-sm-8">
                                                            {{ form_widget(form2.lIBELLE, {'attr': {'class': 'form-control'}}) }}
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <label for="inputEmail3" class="col-sm-4 control-label no-padding-right">CATEGORIE</label>
                                                        <div class="col-sm-8">
                                                            {{ form_widget(form2.fAMILLEMATERIELID, {'attr': {'class': 'form-control'}}) }}
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <div class="col-sm-offset-4 col-sm-8">
                                                            <input type="submit" class="btn btn-azure" value="Valider" onClick="this.disabled=true;this.form.submit();this.value='Patientez...'"/>
                                                        </div>
                                                    </div>
                                                    {{ form_rest(form2) }}
                                                    {{ form_end(form2) }}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <br>
                            <div class="row" style="padding-left: 10%; padding-right: 10%">
                                <div class="col-lg-12 col-sm-12 col-xs-12">
                                    <div class="row" >
                                        <div class="widget flat radius-bordered">
                                            <div class="widget-header bg-palegreen">
                                                <span class="widget-caption">Liste des genres</span>
                                            </div>
                                            <div class="widget-body">
                                                <div style="padding-left: 10%; padding-right: 10%">
                                                    <table class="table table-bordered table-hover ">

                                                        <thead class="bordered-darkorange">
                                                        <tr role="row">
                                                            <th>Code</th>
                                                            <th>Libell&eacute;</th>
                                                            <th>Catégorie</th>
                                                            <th>Date invalide</th>
                                                            <th>Action</th>
                                                        </tr>
                                                        </thead>
                                                        <tbody>
                                                        {% for rs in sfamilles %}
                                                            <tr>
                                                                <td>{{ rs.cODE }}</td>
                                                                <td>{{ rs.sousfamille }}</td>
                                                                <td>{{ rs.famille }}</td>
                                                                {% if rs.dATEINVALIDE != null %}
                                                                    <td>{{ rs.dATEINVALIDE|date('d-m-Y') }}</td>
                                                                {% else %}
                                                                    <td></td>
                                                                {% endif %}
                                                                <td>
                                                                    <button class="btn btn-default btn-sm" data-toggle="modal" data-target="#myModalHorizontal2-{{ rs.id }}" title="Modifier">
                                                                        <i class="fa fa-pencil-square-o"></i>Modifier
                                                                    </button>
                                                                    <button class="btn btn-danger btn-sm" title="supprimer" onclick="deletesfamille({{ rs.id }})">
                                                                        <i class="fa fa-trash"></i>Supprimer
                                                                    </button>

                                                                </td>
                                                            </tr>
                                                            <div class="modal fade" id="myModalHorizontal2-{{ rs.id }}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel-{{ rs.id }}" aria-hidden="false">
                                                                <div class="modal-dialog">
                                                                    <div class="modal-content">
                                                                        <!-- Modal Header -->
                                                                        <div class="modal-header">
                                                                            <button type="button" class="close"
                                                                                    data-dismiss="modal">
                                                                                <span aria-hidden="true">&times;</span>
                                                                                <span class="sr-only">Close</span>
                                                                            </button>
                                                                            <h4 class="modal-title" id="myModalLabel-{{ rs.id }}">
                                                                                Modifier le genre <b>{{ rs.sousfamille }}</b>
                                                                            </h4>
                                                                        </div>

                                                                        <!-- Modal Body -->
                                                                        <div class="form-horizontal" id="form">

                                                                            <div class="modal-body">

                                                                                <div class="form-group">
                                                                                    <label  class="col-sm-4 control-label"
                                                                                            for="inputlibelle">CODE</label>
                                                                                    <div class="col-sm-8">
                                                                                        <input type="text" class="form-control"
                                                                                               value="{{ rs.cODE }}" name="code" id="code{{ rs.id }}"/>
                                                                                        <input type="hidden" class="form-control"
                                                                                               value="{{ rs.id }}" name="idsfamillemat" id="idsfamillemat"/>
                                                                                    </div>
                                                                                </div>
                                                                                <div class="form-group">
                                                                                    <label  class="col-sm-4 control-label"
                                                                                            for="inputlibelle">lIBELLE</label>
                                                                                    <div class="col-sm-8">
                                                                                        <input type="text" class="form-control"
                                                                                               value="{{ rs.sousfamille }}" name="libelle" id="libelle{{ rs.id }}"/>
                                                                                    </div>
                                                                                </div>
                                                                                <div class="form-group">
                                                                                    <label  class="col-sm-4 control-label"
                                                                                            for="inputlibelle">CATEGORIE</label>
                                                                                    <div class="col-sm-8">
                                                                                        <select style="width: 100%" id="famillesousf{{ rs.id }}" name="famillesousf">
                                                                                           <option value="{{ rs.idfamille }}">{{ rs.famille }}</option>
                                                                                            {% for rs1 in familles %}
                                                                                                <option value="{{ rs1.id }}">{{ rs1.lIBELLE }}</option>
                                                                                            {% endfor %}
                                                                                        </select>
                                                                                    </div>
                                                                                </div>
                                                                                <div class="form-group">
                                                                                    <label  class="col-sm-4 control-label"
                                                                                            for="inputinvalide">DATE INVALIDE</label>
                                                                                    <div class="col-sm-8">
                                                                                        <input type="date" class="form-control"
                                                                                               value="{{ rs.dATEINVALIDE|date('d-m-Y') }}" name="dateinvalide" id="dateinvalide{{ rs.id }}"/>
                                                                                    </div>
                                                                                </div>
                                                                            </div>

                                                                            <!-- Modal Footer -->
                                                                            <div class="modal-footer">

                                                                                <button type="button" class="btn btn-success btn-block" onclick="updatesousfamille({{ rs.id }})">
                                                                                    <span class="fa fa-check"></span>
                                                                                    Update
                                                                                </button>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        {% endfor %}
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="tabmarq" class="tab-pane ">
                        <div class="row">
                            <div class="row">
                                <br>
                                <div class="row" style="padding-left: 25%; padding-right: 25%">
                                    <div class="col-lg-12 col-sm-12 col-xs-12">
                                        <div class="row" >
                                            <div class="widget flat radius-bordered">
                                                <div class="widget-header bg-azure">
                                                    <span class="widget-caption">Cr&eacute;ation d'une nouvelle marque</span>
                                                </div>
                                                <div class="widget-body">
                                                    <div style="padding-left: 10%; padding-right: 25%">
                                                        {{ form_start(form, {'attr': {'class': 'form-horizontal'}}) }}
                                                        <div class="form-group">
                                                            <label for="inputEmail3" class="col-sm-4 control-label no-padding-right">CODE MARQUE</label>
                                                            <div class="col-sm-8">
                                                                {{ form_widget(form.code, {'attr': {'class': 'form-control'}}) }}
                                                            </div>
                                                        </div>
                                                        <div class="form-group">
                                                            <label for="inputEmail3" class="col-sm-4 control-label no-padding-right">LIBELLE MARQUE</label>
                                                            <div class="col-sm-8">
                                                                {{ form_widget(form.libelle, {'attr': {'class': 'form-control'}}) }}
                                                            </div>
                                                        </div>
                                                        <div class="form-group">
                                                            <div class="col-sm-offset-4 col-sm-8">
                                                                <input type="submit" class="btn btn-azure" value="Valider" onClick="this.disabled=true;this.form.submit();this.value='Patientez...'"/>
                                                            </div>
                                                        </div>
                                                        {{ form_rest(form) }}
                                                        {{ form_end(form) }}
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <br>
                                <div class="row" style="padding-left: 15%; padding-right: 15%">
                                    <div class="col-lg-12 col-sm-12 col-xs-12">
                                        <div class="row" >
                                            <div class="widget flat radius-bordered">
                                                <div class="widget-header bg-palegreen">
                                                    <span class="widget-caption">Liste des Marques</span>
                                                </div>
                                                <div class="widget-body">
                                                    <div style="padding-left: 10%; padding-right: 10%">
                                                        <table class="table table-bordered table-hover " id="searchable1">

                                                            <thead class="bordered-darkorange">
                                                            <tr role="row">
                                                                <th>Code</th>
                                                                <th>Libell&eacute;</th>
                                                                <th>Date invalide</th>
                                                                <th>Action</th>
                                                            </tr>
                                                            </thead>
                                                            <tbody>
                                                            {% for rs in marques %}
                                                                <tr>
                                                                    <td>{{ rs.code }}</td>
                                                                    <td>{{ rs.lIBELLE }}</td>
                                                                    {% if rs.dateinvalide != null %}
                                                                        <td>{{ rs.dateinvalide|date('d-m-Y') }}</td>
                                                                    {% else %}
                                                                        <td></td>
                                                                    {% endif %}
                                                                    <td>
                                                                        <button class="btn btn-default btn-sm" data-toggle="modal" data-target="#myModalHorizontal-{{ rs.id }}" title="Modifier">
                                                                            <i class="fa fa-pencil-square-o"></i>Modifier
                                                                        </button>
                                                                        <button class="btn btn-danger btn-sm" title="supprimer" onclick="deletemarque({{ rs.ID }})">
                                                                            <i class="fa fa-trash"></i>Supprimer
                                                                        </button>

                                                                    </td>
                                                                </tr>
                                                            <div class="modal fade" id="myModalHorizontal-{{ rs.ID }}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel-{{ rs.ID }}" aria-hidden="false">
                                                                <div class="modal-dialog">
                                                                    <div class="modal-content">
                                                                        <!-- Modal Header -->
                                                                        <div class="modal-header">
                                                                            <button type="button" class="close"
                                                                                    data-dismiss="modal">
                                                                                <span aria-hidden="true">&times;</span>
                                                                                <span class="sr-only">Close</span>
                                                                            </button>
                                                                            <h4 class="modal-title" id="myModalLabel-{{ rs.ID }}">
                                                                                Modifier la marque <b>{{ rs.lIBELLE }}</b>
                                                                            </h4>
                                                                        </div>

                                                                        <!-- Modal Body -->
                                                                        <div class="form-horizontal" id="form">

                                                                            <div class="modal-body">
                                                                                <div class="form-group">
                                                                                    <label  class="col-sm-4 control-label"
                                                                                            for="inputlibelle">CODE</label>
                                                                                    <div class="col-sm-8">
                                                                                        <input type="text" class="form-control"
                                                                                               value="{{ rs.code }}" name="code" id="code{{ rs.ID }}"/>
                                                                                        <input type="hidden" class="form-control"
                                                                                               value="{{ rs.ID }}" name="idmarque" id="idmarque"/>
                                                                                    </div>
                                                                                </div>
                                                                                <div class="form-group">
                                                                                    <label  class="col-sm-4 control-label"
                                                                                            for="inputlibelle">lIBELLE</label>
                                                                                    <div class="col-sm-8">
                                                                                        <input type="text" class="form-control"
                                                                                               value="{{ rs.lIBELLE }}" name="libelle" id="libelle{{ rs.ID }}"/>
                                                                                    </div>
                                                                                </div>
                                                                                <div class="form-group">
                                                                                    <label  class="col-sm-4 control-label"
                                                                                            for="inputinvalide">DATE INVALIDE</label>
                                                                                    <div class="col-sm-8">
                                                                                        <input type="date" class="form-control"
                                                                                               value="{{ rs.DATEINVALIDE|date('d-m-Y') }}" name="dateinvalide" id="dateinvalide{{ rs.ID }}"/>
                                                                                    </div>
                                                                                </div>
                                                                            </div>

                                                                            <!-- Modal Footer -->
                                                                            <div class="modal-footer">

                                                                                <button type="button" class="btn btn-success btn-block" onclick="updatemarque({{ rs.ID }})">
                                                                                    <span class="fa fa-check"></span>
                                                                                    Update
                                                                                </button>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>

                                                            {% endfor %}
                                                            </tbody>
                                                        </table>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="tabaction" class="tab-pane ">
                        <div class="row">
                            <div class="row">
                                <br>
                                <div class="row" style="padding-left: 25%; padding-right: 25%">
                                    <div class="col-lg-12 col-sm-12 col-xs-12">
                                        <div class="row" >
                                            <div class="widget flat radius-bordered">
                                                <div class="widget-header bg-azure">
                                                    <span class="widget-caption">Cr&eacute;ation d'une nouvelle action</span>
                                                </div>
                                                <div class="widget-body">
                                                    <div style="padding-left: 10%; padding-right: 25%">
                                                        {{ form_start(form3, {'attr': {'class': 'form-horizontal'}}) }}
                                                        <div class="form-group">
                                                            <label for="inputEmail3" class="col-sm-4 control-label no-padding-right">NOM ACTION</label>
                                                            <div class="col-sm-8">
                                                                {{ form_widget(form3.lIBELLE, {'attr': {'class': 'form-control'}}) }}
                                                            </div>
                                                        </div>
                                                        <div class="form-group">
                                                            <div class="col-sm-offset-4 col-sm-8">
                                                                <input type="submit" class="btn btn-azure" value="Valider" onClick="this.disabled=true;this.form.submit();this.value='Patientez...'"/>
                                                            </div>
                                                        </div>
                                                        {{ form_rest(form3) }}
                                                        {{ form_end(form3) }}
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <br>
                                <div class="row" style="padding-left: 15%; padding-right: 15%">
                                    <div class="col-lg-12 col-sm-12 col-xs-12">
                                        <div class="row" >
                                            <div class="widget flat radius-bordered">
                                                <div class="widget-header bg-palegreen">
                                                    <span class="widget-caption">Liste des Marques</span>
                                                </div>
                                                <div class="widget-body">
                                                    <div style="padding-left: 10%; padding-right: 10%">
                                                        <table class="table table-bordered table-hover " id="searchable1">

                                                            <thead class="bordered-darkorange">
                                                            <tr role="row">

                                                                <th>Libell&eacute;</th>
                                                                <th>Code</th>
                                                                <th>Action</th>
                                                            </tr>
                                                            </thead>
                                                            <tbody>
                                                            {% for rs in lov %}
                                                                <tr>
                                                                    <td>{{ rs.lIBELLE }}</td>
                                                                    <td>{{ rs.cATEGORIE }}</td>
                                                                    <td>
                                                                        <button class="btn btn-default btn-sm" data-toggle="modal" data-target="#myModalHorizontal-{{ rs.id }}" title="Modifier">
                                                                            <i class="fa fa-pencil-square-o"></i>Modifier
                                                                        </button>
                                                                        <button class="btn btn-danger btn-sm" title="supprimer" onclick="deleteaction({{ rs.id }})">
                                                                            <i class="fa fa-trash"></i>Supprimer
                                                                        </button>

                                                                    </td>
                                                                </tr>
                                                                <div class="modal fade" id="myModalHorizontal-{{ rs.id }}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel-{{ rs.id }}" aria-hidden="false">
                                                                    <div class="modal-dialog">
                                                                        <div class="modal-content">
                                                                            <!-- Modal Header -->
                                                                            <div class="modal-header">
                                                                                <button type="button" class="close"
                                                                                        data-dismiss="modal">
                                                                                    <span aria-hidden="true">&times;</span>
                                                                                    <span class="sr-only">Close</span>
                                                                                </button>
                                                                                <h4 class="modal-title" id="myModalLabel-{{ rs.id }}">
                                                                                    Modifier la marque <b>{{ rs.lIBELLE }}</b>
                                                                                </h4>
                                                                            </div>

                                                                            <!-- Modal Body -->
                                                                            <div class="form-horizontal" id="form">

                                                                                <div class="modal-body">
                                                                                    <div class="form-group">
                                                                                        <label  class="col-sm-4 control-label"
                                                                                                for="inputlibelle">LIBELLE</label>
                                                                                        <div class="col-sm-8">
                                                                                            <input type="text" class="form-control"
                                                                                                   value="{{ rs.lIBELLE }}" name="libelle" id="libelle{{ rs.id }}"/>
                                                                                            <input type="hidden" class="form-control"
                                                                                                   value="{{ rs.id }}" name="idaction" id="idaction"/>
                                                                                        </div>
                                                                                    </div>
                                                                                </div>

                                                                                <!-- Modal Footer -->
                                                                                <div class="modal-footer">

                                                                                    <button type="button" class="btn btn-success btn-block" onclick="updatefamille({{ rs.id }})">
                                                                                        <span class="fa fa-check"></span>
                                                                                        Update
                                                                                    </button>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>

                                                            {% endfor %}
                                                            </tbody>
                                                        </table>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="tabpmod" class="tab-pane in active">
                        <div class="row" style="padding-right: 5%; padding-left: 5%">
                            <br>
                            <div class="row">
                                <div class="col-lg-12 col-sm-12 col-xs-12">
                                    <div class="row" >
                                        <div class="widget flat radius-bordered">
                                            <div class="widget-header bg-palegreen">
                                                <span class="widget-caption">Liste des mod&egrave;les</span>
                                                <div class="widget-buttons buttons-bordered">
                                                    <button class="btn btn-azure btn-sm" onclick="document.location.href='{{ path('ajoutmodele') }}'">Nouveau mod&egrave;le</button>
                                                </div>
                                            </div>
                                            <div class="widget-body">
                                                <div style="padding-right: 15%; padding-left: 15%">
                                                    <table class="table table-bordered table-hover" id="searchable2">
                                                        <thead>
                                                        <tr>
                                                            <th></th>
                                                            <th>Modele</th>
                                                            <th>Type materiel</th>
                                                            <th>Marque</th>
                                                            <th></th>
                                                        </tr>
                                                        </thead>
                                                        <tbody>
                                                        {% for rs in resModel %}
                                                            <tr>
                                                                <td><a href="{{ path('modifiermodele',{'id': rs.id })
                                                                    }}" style="color: #00C853">Detail</a></td>
                                                                <td>{{ rs.lIBELLE }}</td>
                                                                <td>{{ rs.tYPEMATERIEL }}</td>
                                                                <td>{{ rs.libelle }}</td>
                                                                <td><a href="{{ path('supprimermodele', {idmodele: rs.id}) }}" class="btn btn-danger" onclick="return confirm('Vous &ecirc;tes s&ucirc;r de vouloir supprimer cet modele')"><i class="fa fa-trash"></i></a></td>
                                                            </tr>
                                                        {% endfor %}
                                                        </tbody>

                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}