{% extends 'AgroBundle:ItkismR:layout.html.twig' %}
{% block content  %}
    <br>
    <div class="col-lg-12 col-sm-12 col-xs-12" style="padding-left: 2%; padding-right: 2%">
        <div class="widget flat radius-bordered">
            <div class="widget-header bg-maroon">
                <span class="widget-caption">Instruction N°<b>{{ itkismr['id'] }}</b></span>
                <span style="color: #ffffff; margin-right: 10%; font-weight: bold "> Date de création : {{
                    itkismr['DATECREATION']|date
                    ("d-m-Y") }}
                </span>
                <span style="color: #ffffff; margin-right: 10%; font-weight: bold "> Date de réalisation : {{
                    itkismr['DATEREALISATION']|date('d-m-Y')}}
                </span>
                <div class="widget-buttons buttons-bordered">
                    <button class="btn btn-danger btn-sm" onclick="window.location.href='{{ path
                    ('instructionsemis') }}'"><i class="fa fa-arrow-left"></i>Retour</button>
                </div>
                <div class="widget-buttons buttons-bordered">
                    <button class="btn btn-azure btn-sm" onclick="document.location.href='{{ path('itkismr_creer')}}'">
                        Réaliser une instruction</button>
                </div>
            </div>
            <div class="widget-body">
                <div id="WiredWizard" class="wizard wizard-wired" data-target="#WiredWizardsteps">
                    <ul class="steps">
                        <li data-target="#wiredstep1" class="active"><span class="step">1</span><span
                                    class="title">Informations générales</span><span class="chevron"></span></li>
                        <li data-target="#wiredstep2"><span class="step">2</span><span class="title">Parcelles
                                semées</span>
                            <span class="chevron"></span></li>
                        <li data-target="#wiredstep3"><span class="step">3</span><span class="title">Lots de
                                semences</span> <span class="chevron"></span></li>
                        <li data-target="#wiredstep4"><span class="step">4</span><span class="title">Intrants</span>
                            <span class="chevron"></span></li>
                        <li data-target="#wiredstep5"><span class="step">5</span><span class="title">Materiel /
                        EPI</span> <span
                                    class="chevron"></span></li>
                    </ul>
                </div>
                <div class="step-content" id="WiredWizardsteps" style="height: auto">
                    <div class="row" style="; padding-right: 1%; padding-left: 1% ">
                        <div class="step-pane active" id="wiredstep1">
                            <div class="row">
                                <div class="form-horizontal">
                                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                        <div class="form-title">
                                            Info. instruction de semis
                                        </div>
                                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 bordered-blue "
                                             style="margin: auto;
                                        width:99%">
                                            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4" style="text-align:left">
                                                <div class="form-group">
                                                    <label for="" class="col-sm-5 control-label">Ferme :</label>
                                                    <div class="col-sm-7">
                                                        <input class="col-sm-12 form-control" value="{{
                                                        itkismr['FERME']
                                                        }}" disabled/>
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label for="" class="col-sm-5 control-label">OP Budget :</label>
                                                    <div class="col-sm-7">
                                                        <input class="col-sm-12 form-control" id="" type="text"
                                                               value=" {{ itkismr['OP'] }}" disabled/>
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label for="" class="col-sm-5 control-label">Culture Variété :</label>
                                                    <div class="col-sm-7">
                                                        <input class="col-sm-12 form-control" id="" type="text"
                                                               value=" {{ itkismr['CULTUREVARIETE']  }}" disabled/>
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label for="" class="col-sm-5 control-label">Famille culturale :</label>
                                                    <div class="col-sm-7">
                                                        <input class="col-sm-12 form-control" id="fc" type="text" value="{{ itkismr['FAMILLECULTURALE'] }}"
                                                               disabled />
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-lg-4 col-md4 col-sm-4 col-xs-4" style="text-align:left ">
                                                <div class="form-group">
                                                    <label for="" class="col-sm-5 control-label">Type implantation :</label>
                                                    <div class="col-sm-7">
                                                        <input class="col-sm-12 form-control" id="ti" type="text"
                                                               value="{{ itkismr['TYPEIMPLANTATION']  }}"
                                                               disabled>
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label for="" id="ilotlabel" class="col-sm-5 control-label">Ilot :</label>
                                                    <div class="col-sm-7">
                                                        <input class="col-sm-12 form-control" id="" type="text"
                                                               value="{{ itkismr['ILOT']  }}"
                                                               disabled>
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label for="" class="col-sm-5 control-label">Surface à semer :</label>
                                                    <div class="col-sm-7">
                                                        <input class="col-sm-12 form-control" value="{{
                                                        itkismr['SURFACE']
                                                        }}" disabled/>
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label for="" class="col-sm-5 control-label">Surface totale :</label>
                                                    <div class="col-sm-7">
                                                        <input class="col-sm-12 form-control" value="{{
                                                        itkismr['SURFACETOT']
                                                        }}" disabled/>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4" style="text-align:left ">
                                                <div class="form-group">
                                                    <label for="" class="col-sm-5 control-label">DAS :</label>
                                                    <div class="col-sm-7">
                                                        <div class="input-group">
                                                            <input class="col-sm-12 form-control" id="das" type="text" value="{{ das|date('d-m-Y') }}"
                                                               disabled>
                                                            <span class="input-group-addon">
                                                                <i class="fa fa-calendar"></i>
                                                            </span>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label for="" class="col-sm-5 control-label">Récolte prév. Aj :</label>
                                                    <div class="col-sm-7">
                                                        <div class="input-group">
                                                            <input class="col-sm-12 form-control" id="rp" type="text"
                                                                   value="{{ itkismr['DATEPREV'] |date('d-m-Y')
                                                            }}" disabled>
                                                             <span class="input-group-addon">
                                                                <i class="fa fa-calendar"></i>
                                                            </span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-horizontal">
                                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                        <div class="form-title">
                                        </div>
                                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="margin: auto; width:99%">
                                            <div class="col-lg-4 col-md4 col-sm-4 col-xs-4" style="text-align:left ">
                                                <div class="form-group" id="datep">
                                                    <label for="" class="col-sm-5 control-label">Date de semis :</label>
                                                    <div class="col-sm-7">
                                                        <div class="input-group">
                                                            <input class="col-sm-12 form-control" value="{{
                                                            itkismr['DATEP']|date('d-m-Y')
                                                            }}" disabled/>
                                                            <span class="input-group-addon">
                                                                <i class="fa fa-calendar"></i>
                                                            </span>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label for="" class="col-sm-5 control-label">Durée (jj) :</label>
                                                    <div class="col-sm-7">
                                                        <input class="col-sm-12 form-control" value="{{ itkismr['DUREE']
                                                        }}" disabled/>
                                                    </div>
                                                </div>
                                                <div class="form-group" id="datepfin">
                                                    <label for="" class="col-sm-5 control-label">Date fin semis :</label>
                                                    <div class="col-sm-7">
                                                        <div class="input-group">
                                                            <input class="col-sm-12 form-control" value="{{
                                                            itkismr['DATEPFIN']|date('d-m-Y')
                                                            }}" disabled/>
                                                            <span class="input-group-addon">
                                                                <i class="fa fa-calendar"></i>
                                                            </span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4" style="text-align:left ">
                                                <div class="form-group">
                                                    <label for="" class="col-sm-5 control-label">Nbre de rangs :</label>
                                                    <div class="col-sm-7">
                                                        <input class="col-sm-12 form-control" value="{{ itkismr['RANG']
                                                        }}" disabled/>
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label for="" class="col-sm-5 control-label">Ecartement lignes :</label>
                                                    <div class="col-sm-7">
                                                        <input class="col-sm-12 form-control" value="{{
                                                        itkismr['ELIGNE']
                                                        }}" disabled/>
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label for="" class="col-sm-5 control-label">Ecartement semis :</label>
                                                    <div class="col-sm-7">
                                                        <input class="col-sm-12 form-control" value="{{
                                                        itkismr['ESEMIS']
                                                        }}" disabled/>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4" style="text-align:left">
                                                <div class="form-group">
                                                    <label for="" class="col-sm-5 control-label">Quantité semence/Ha :</label>
                                                    <div class="col-sm-7">
                                                        <input class="col-sm-12 form-control" value="{{
                                                        itkismr['QTESEM']
                                                        }}" disabled/>
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label for="" class="col-sm-5 control-label">Quantité semence totale :</label>
                                                    <div class="col-sm-7">
                                                        <input class="col-sm-12 form-control" value="{{
                                                        itkismr['QTESEMTOT'] }}" disabled/>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-horizontal">
                                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                        <div class="form-title">
                                        </div>
                                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="margin: auto; width:99%">
                                            <div class="col-lg-4 col-md4 col-sm-4 col-xs-4" style="text-align:left ">
                                                <div class="form-group">
                                                    <label for="" class="col-sm-5 control-label">Prescripteur :</label>
                                                    <div class="col-sm-7">
                                                        <input class="col-sm-12 form-control" value="{{ itkismr['NOM']}} {{
                                                        itkismr['PRENOM']}}" disabled/>
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label for="" class="col-sm-5 control-label">Mode d'application :</label>
                                                    <div class="col-sm-7">
                                                        <input class="col-sm-12 form-control" value="{{
                                                        itkismr['MODEAPPLICATION']}}" disabled/>
                                                    </div>
                                                </div>
                                                {% if itkismr['MODEAPPLICATION'] == "Plantation Mecanique" or itkismr['MODEAPPLICATION'] ==
                                                "Semis Mecanique" %}
                                                    <div class="form-group">
                                                        <label for="" class="col-sm-5 control-label" id="operateurlabel">Opérateur :</label>
                                                        <div class="col-sm-7">
                                                            <input class="col-sm-12 form-control" value="{{
                                                            itkismr['NOMAP']}} {{
                                                            itkismr['PRENOMAP']}}" disabled/>
                                                        </div>
                                                    </div>
                                                {% else %}
                                                    <div class="form-group">
                                                        <label for="" class="col-sm-5 control-label" id="effectiflabel">Effectif :</label>
                                                        <div class="col-sm-7">
                                                            <input class="col-sm-12 form-control" value="{{
                                                            itkismr['EFFECTIF']}}" disabled/>
                                                        </div>
                                                    </div>
                                                {% endif %}
                                            </div>
                                            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4" style="text-align:left">
                                                <div class="form-group">
                                                    <label for="" id="ilotlabel" class="col-sm-5 control-label">Heure de
                                                        début :</label>
                                                    <div class="col-sm-7">
                                                        <input style="background: darkorange; color: white"
                                                               class="col-sm-12 form-control" id="" type="text"
                                                               value="{{ itkismr['HEUREDEBUT']|date('H:m:s')  }}"
                                                               disabled>
                                                    </div>
                                                </div>
                                                <div class="form-group" >
                                                    <label for="" id="ilotlabel" class="col-sm-5 control-label">Réalisé
                                                        par :</label>
                                                    <div class="col-sm-7">
                                                        <input style="background: darkorange; color: white"
                                                               class="col-sm-12
                                                        form-control" id="" type="text"
                                                               value="{{ itkismr['REALISATEUR']  }}"
                                                               disabled>
                                                    </div>
                                                </div>
                                                <div class="form-group" >
                                                    <label for="" id="ilotlabel" class="col-sm-5 control-label">Modifié
                                                        par :</label>
                                                    <div class="col-sm-7">
                                                        <input style="background: magenta; color: white"
                                                               class="col-sm-12
                                                        form-control" id="" type="text"
                                                               value="{{ itkismr['UPDATEUSER']  }}"
                                                               disabled>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4" style="text-align:left">
                                                <div class="form-group">
                                                    <label for="" class="col-sm-5 control-label">Heure de fin
                                                        :</label>
                                                    <div class="col-sm-7">
                                                        <input style="background: darkorange; color: white"  class="col-sm-12 form-control" value="{{
                                                        itkismr['HEUREFIN']|date('H:m:s')
                                                        }}" disabled/>
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label for="" class="col-sm-5 control-label">Date de réalisation
                                                        :</label>
                                                    <div class="col-sm-7">
                                                        <input style="background: darkorange; color: white" class="col-sm-12 form-control" value="{{
                                                        itkismr['DATEREALISATION']|date('d-m-Y')
                                                        }}" disabled/>
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label for="" class="col-sm-5 control-label">Dernière modif :</label>
                                                    <div class="col-sm-7">
                                                        <input style="background: magenta; color: white" class="col-sm-12 form-control" value="{{
                                                        itkismr['UPDATEDATE']|date('d-m-Y')
                                                        }}" disabled/>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row" style="padding-right: 3%; padding-left: 3% ">
                        <div class="step-pane" id="wiredstep2">
                            <div class="form-title">
                                Info. parcelles :
                            </div>
                            <div class="form-horizontal">
                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="margin: auto; width:
                                    50%  ">
                                        <table class="table table-bordered table-hover " id="" >
                                            <thead class="bordered-darkorange">
                                            <tr role="row">
                                                <th >Parcelle</th>
                                                <th >Surface</th>
                                                <th >Action</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            {% for rs in itkismrpa %}
                                                {#{% set i = rs['PARCELLEID'] %}#}
                                                <tr>
                                                    <td style="text-align: center">{{ rs['PARCELLE'] }}</td>
                                                    <td style="text-align: left">
                                                        <input type="text" value="{{ rs['SURFACE'] }}"
                                                                   style="width: 20%" disabled/>
                                                    </td>
                                                    <td >
                                                        <div class="checkbox">
                                                            <label>
                                                                {% if rs['PARCELLECHECK'] == "0" %}
                                                                    <input type="checkbox" class="colored-success"
                                                                           disabled />
                                                                    <span class="text"></span>
                                                                {% else %}
                                                                    <input type="checkbox"  class="colored-success"
                                                                           checked="checked" disabled/>
                                                                    <span class="text"></span>
                                                                {% endif %}
                                                            </label>
                                                        </div>
                                                    </td>
                                                </tr>
                                            {% endfor%}
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row" style="padding-right: 3%; padding-left: 3% ">
                        <div class="step-pane" id="wiredstep3">
                            <div class="form-title">
                                Info. lots de semences :
                            </div>
                            <div class="form-horizontal">
                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4" style="text-align:left">
                                    <div class="form-group">
                                        <label for="" class="col-sm-5 control-label">Lot de semence :</label>
                                        <div class="col-sm-7">
                                            <input class="col-sm-12 form-control"  type="text" value="{{
                                            itkismrlot['LIBELLE'] }}" disabled/>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="" class="col-sm-5 control-label">Quantité :</label>
                                        <div class="col-sm-7">
                                            <input class="col-sm-12 form-control" id="quantite" type="text" value="{{
                                            itkismrlot['QUANTITE'] }}" disabled/>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4" style="text-align:left ">
                                    <div class="form-group">
                                        <label for="" class="col-sm-5 control-label">Libelle :</label>
                                        <div class="col-sm-7">
                                            <input class="col-sm-12 form-control" id="libelle" type="text" value="{{
                                            itkismrlot['LIBELLE'] }}"
                                                   disabled>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="" class="col-sm-5 control-label" id="code_cv" >LOTNO :</label>
                                        <div class="col-sm-7">
                                            <input class="col-sm-12 form-control" id="cvsem" type="text" value="{{
                                            itkismrlot['LOTNO'] }}" disabled>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4" style="text-align:left ">
                                    <div class="form-group">
                                        <label for="" class="col-sm-5 control-label">Unité :</label>
                                        <div class="col-sm-7">
                                            <input class="col-sm-12 form-control" id="unite" type="text" value="{{
                                            itkismrlot['UNITE'] }}" disabled>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row" style="padding-right: 3%; padding-left: 3% ">
                        <div class="step-pane" id="wiredstep4">
                            <div class="form-title">
                                Info. intrants :
                            </div>
                            <div class="form-horizontal">
                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4" style="text-align:left">
                                    <div class="form-group">
                                        <label for="" class="col-sm-5 control-label">Intrant :</label>
                                        <div class="col-sm-7">
                                            <input class="col-sm-12 form-control"  type="text" value="{{
                                            itkismra['ARTICLEID'] }}" disabled/>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="" class="col-sm-5 control-label">Unite :</label>
                                        <div class="col-sm-7">
                                            <input class="col-sm-12 form-control"  type="text" value="{{ itkismra['UNITE'] }}" disabled/>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="" class="col-sm-5 control-label">Dose :</label>
                                        <div class="col-sm-7">
                                            <input class="col-sm-12 form-control" id="dose" type="text" value="{{
                                            itkismra['QTE'] }}" disabled/>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4" style="text-align:left ">
                                    <div class="form-group">
                                        <label for="" class="col-sm-5 control-label" id="code_cv" >Prix unitaire :</label>
                                        <div class="col-sm-7">
                                            <input class="col-sm-12 form-control" id="" type="text" value="{{
                                            itkismra['PRIXUNITAIRE'] }}" disabled/>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="" class="col-sm-5 control-label">Quantité totale :</label>
                                        <div class="col-sm-7">
                                            <input class="col-sm-12 form-control" id="" type="text" value="{{
                                            itkismra['QTETOT'] }}"
                                                   disabled />
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4" style="text-align:left ">
                                    <div class="form-group">
                                        <label for="" class="col-sm-5 control-label">Prix totale :</label>
                                        <div class="col-sm-7">
                                            <input class="col-sm-12 form-control" id="" type="text" value="{{
                                            itkismra['PRIXTOTAL'] }}"
                                                   disabled />
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="" class="col-sm-5 control-label">Commentaires :</label>
                                        <div class="col-sm-7">
                                        <textarea rows="3" cols="30" class="col-sm-12 form-control" id='comment'
                                                  name="comment"  disabled>{{  itkismra['COMMENTAIRE'] }}</textarea>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            </div>
                        </div>
                    </div>
                    <div class="row" style="padding-right: 3%; padding-left: 3% ">
                        <div class="step-pane" id="wiredstep5">
                            <div class="form-title">
                                Info. epi :
                            </div>
                            <div class="form-horizontal">
                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                {% if itkismr['MODEAPPLICATION'] == "Plantation Mecanique" or itkismr['MODEAPPLICATION'] ==
                                "Semis Mecanique" %}
                                    <div class=" col-lg-5 col-md-5 col-sm-5 col-xs-5" style="text-align:left; padding-left: 5%">
                                        <div class="form-group">
                                            <label for="" class="col-sm-5 control-label">Tracteur :</label>
                                            <div class="col-sm-7">
                                                <input class="col-sm-12 form-control"  type="text" value="{{
                                                itkismr['MATERIEL']
                                                }}" disabled/>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="" class="col-sm-5 control-label">Appareil traitement :</label>
                                            <div class="col-sm-7">
                                                <input class="col-sm-12 form-control"  type="text" value="{{
                                                itkismr['APPAREIL'] }}" disabled/>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1" style="text-align:left">
                                    </div>
                                    <div class="col-lg-5 col-md-5 col-sm-5 col-xs-5" style="text-align:left">
                                        <div class="form-group">
                                            <label for="" class="col-sm-5 control-label">Compteur début matériel :</label>
                                            <div class="col-sm-7">
                                                <input class="col-sm-12 form-control" id="cdebut" type="text" value="{{
                                                itkismr['COMPTEURDEBUT'] }}" disabled/>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="" class="col-sm-5 control-label">Compteur fin matériel :</label>
                                            <div class="col-sm-7">
                                                <input class="col-sm-12 form-control" id="cfin" type="text" value="{{
                                                itkismr['COMPTEURFIN']}}" disabled/>
                                            </div>
                                        </div>
                                    </div>
                                {% else %}

                                {% endif %}
                            </div>
                            <div class="form-title" style="color: #003300">
                                Liste des EPI
                            </div>
                            <div class="row">
                                <div style="margin-left: 5%; margin-right: 5%;">
                                    <div class="widget flat radius-bordered">
                                        <div class="widget-body">
                                            <div >
                                                <table class="table table-bordered table-hover " id="" >
                                                    <thead class="bordered-darkorange">
                                                    <tr role="row">
                                                        <th >Libellé</th>
                                                        <th >Type</th>
                                                    </tr>
                                                    </thead>
                                                    <tbody>
                                                    {% for rs in itkismrepi %}
                                                        <tr>
                                                            <td>{{ rs['EPI'] }}</td>
                                                            <td>{{ rs['TYPE'] }}</td>
                                                        </tr>
                                                    {% endfor%}
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                 <br>
                <div class="actions actions-footer" id="WiredWizard-actions">
                    <div class="btn-group" >
                        <button type="button" class="btn btn-default btn-sm btn-prev"> <i class="fa
                        fa-angle-left"></i>Précédent</button>
                        <button type="button" class="btn btn-success btn-sm btn-next" data-last="Finish"
                                >Suivant<i class="fa fa-angle-right"></i>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}