{% extends 'AgroBundle:ItkismR:layout.html.twig' %}
{% block content  %}
    <br>
    <div class="col-lg-12 col-sm-12 col-xs-12" style="padding-left: 2%; padding-right: 2%">
        <div class="widget flat radius-bordered">
            <div class="widget-header bg-maroon">
                <span class="widget-caption">Instruction N°<b>{{ itkismr.id }}</b></span>
                <span style="color: #ffffff; margin-right: 10%; font-weight: bold "> Date de création : {{
                    itkismr.dATECREATION|date
                    ("d-m-Y") }}
                </span>
                <span style="color: #ffffff; margin-right: 10%; font-weight: bold "> Date de réalisation : {{
                    "now"|date
                    ("d-m-Y") }}
                </span>
                <div class="widget-buttons buttons-bordered">
                    <button class="btn btn-danger btn-sm" onclick="window.location.href='{{ path
                    ('instructionsemis') }}'"><i class="fa fa-arrow-left"></i>Retour</button>
                </div>
                <div class="widget-buttons buttons-bordered">
                    <button class="btn btn-azure btn-sm" onclick="document.location.href='{{ path('itkismr_creer')}}'">
                        Réaliser une instruction</button>
                </div>
            </div>
            {# START MODALS #}
            <!--Success Modal Templates-->
            <div id="modal-success1" class="modal modal-message modal-success fade" style="display: none;"
                 aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <i class="glyphicon glyphicon-check"></i>
                        </div>
                        <div class="modal-title">Succès</div>
                        <div class="modal-body">L'ilôt a bien été modifiée !</div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-success" data-dismiss="modal">OK</button>
                        </div>
                    </div> <!-- / .modal-content -->
                </div> <!-- / .modal-dialog -->
            </div>
            <div id="modal-success-itkismr" class="modal modal-message modal-success fade" style="display: none;"
                 aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <i class="glyphicon glyphicon-check"></i>
                        </div>
                        <div class="modal-title">Succès</div>
                        <div class="modal-body">L'instruction de semis a bien été bien mise à jour !</div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-success" data-dismiss="modal">OK</button>
                        </div>
                    </div> <!-- / .modal-content -->
                </div> <!-- / .modal-dialog -->
            </div>
            <div id="modal-danger-epi" class="modal modal-message modal-danger fade" style="display: none;" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <i class="glyphicon glyphicon-fire"></i>
                        </div>
                        <div class="modal-title">Attention !</div>

                        <div class="modal-body">Vous avez déja ajouter cette EPI !
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-danger" data-dismiss="modal">OK</button>
                        </div>
                    </div> <!-- / .modal-content -->
                </div> <!-- / .modal-dialog -->
            </div>
            <div id="modal-itkismr-cloture" class="modal modal-message modal-success fade" style="display: none;"
                 aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <i class="glyphicon glyphicon-check"></i>
                        </div>
                        <div class="modal-title">Succès</div>
                        <div class="modal-body">L'instruction de semis a bien été réalisée !</div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-success" data-dismiss="modal">OK</button>
                        </div>
                    </div> <!-- / .modal-content -->
                </div> <!-- / .modal-dialog -->
            </div>
            <div id="modal-dangerdas" class="modal modal-message modal-danger fade" style="display: none;"
                 aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <i class="glyphicon glyphicon-fire"></i>
                        </div>
                        <div class="modal-title">Attention !</div>

                        <div class="modal-body">La DAS doit être antérieure à la date de début de
                            semis !!
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-danger" data-dismiss="modal">OK</button>
                        </div>
                    </div> <!-- / .modal-content -->
                </div> <!-- / .modal-dialog -->
            </div>
            <!--End Success Modal Templates-->
            <div class="modal modal-primary" id="myModal">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                            <h4 class="modal-title">Modifier l'ilot</h4>
                        </div>
                        <div class="form-horizontal" id="form">
                            <div class="modal-body">
                                <div class="form-group">
                                    <label  class="col-sm-4 control-label"
                                            for="inputlibelle">ANCIEN ILOT</label>
                                    <div class="col-sm-6">
                                        <input type="text" class="form-control" value=""
                                               id="oldIlot"
                                               disabled/>
                                        <input type="hidden" class="form-control"
                                               value=" {{ ilotid }}" id="ilotid" name="ilotid" disabled/>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label  class="col-sm-4 control-label" for="inputlibelle">NOUVEL
                                        ILOT</label>
                                    <div class="col-sm-6">
                                        <input type="text" class="form-control" value="" id="ilot"
                                               name="ilot"/>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label  class="col-sm-4 control-label" for="inputlibelle">CONFIRMER ILOT</label>
                                    <div class="col-sm-6">
                                        <input type="text" class="form-control"
                                               id="ilotconfirm" name="ilotconfirm"/>
                                    </div>
                                </div>
                            </div>
                            <!-- Modal Footer -->
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-warning" data-dismiss="modal">Close</button>
                            <button type="button" class="btn btn-primary " onclick=" updateilotopsaisi
                                            (document.getElementById('ilotid').value)">Valider</button>
                        </div>
                    </div><!-- /.modal-content -->
                </div><!-- /.modal-dialog -->
            </div><!-- /.modal -->
            <div id="modal-warning1" class="modal modal-message modal-warning fade"
                 style="display: none;" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <i class="fa fa-warning"></i>
                        </div>
                        <div class="modal-title">Avertissement ! </div>

                        <div class="modal-body">La Culture Variete a changé : Vous devez modifier le
                            code de l'ilot</div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-warning"
                                    id="btnaffiformilotsaisi"
                                    data-dismiss="modal">OK</button>
                        </div>
                    </div> <!-- / .modal-content -->
                </div> <!-- / .modal-dialog -->
            </div>
            <div id="modal-danger" class="modal modal-message modal-danger fade" style="display: none;" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <i class="glyphicon glyphicon-fire"></i>
                        </div>
                        <div class="modal-title">Attention !</div>

                        <div class="modal-body">Les deux nom d'Ilots doivent être
                            identiques
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-danger" data-dismiss="modal">OK</button>
                        </div>
                    </div> <!-- / .modal-content -->
                </div> <!-- / .modal-dialog -->
            </div>
            <div id="modal-warning-itkism" class="modal modal-message modal-warning fade" style="display: none;" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <i class="fa fa-warning"></i>
                        </div>
                        <div class="modal-title">Attention</div>
                        <div class="modal-body">Veuillez compléter les informations !!!</div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-warning" data-dismiss="modal">OK</button>
                        </div>
                    </div> <!-- / .modal-content -->
                </div> <!-- / .modal-dialog -->
            </div>
            {#END MODALS#}
            <div class="widget-body">
                {#{{ form_start(edit_form, {'attr': {'class': 'form-horizontal'}}) }}#}
                <div id="WiredWizard" class="wizard wizard-wired" data-target="#WiredWizardsteps">
                    <ul class="steps">
                        <li data-target="#wiredstep1" class="active"><span class="step">1</span><span
                                    class="title">Informations générales</span><span class="chevron"></span></li>
                        <li data-target="#wiredstep2"><span class="step">2</span><span class="title">Parcelles
                                semées</span>
                            <span class="chevron"></span></li>
                        <li data-target="#wiredstep3"><span class="step">3</span><span class="title">Lots de
                                semences</span> <span class="chevron"></span></li>
                        <li data-target="#wiredstep4"><span class="step">4</span><span class="title">Intrants</span>
                            <span class="chevron"></span></li>
                        <li data-target="#wiredstep5"><span class="step">5</span><span class="title">Materiel /
                        EPI</span> <span
                                    class="chevron"></span></li>
                    </ul>
                </div>
                <div class="step-content" id="WiredWizardsteps" style="height: auto">
                    <div class="row" style="; padding-right: 3%; ">
                        <div class="step-pane active" id="wiredstep1">
                            <div class="form-horizontal">
                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4" style="text-align:left">
                                        <br>
                                        <div class="form-group">
                                            <label for="" class="col-sm-5 control-label">Ferme :</label>
                                            <div class="col-sm-7">
                                                {{ form_widget(edit_form.fERMEID, {'attr': {'class': 'form-control',
                                                    'disabled':'disabled'}}) }}
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="" class="col-sm-5 control-label">OP Budget :</label>
                                            <div class="col-sm-7">
                                                <input class="col-sm-12 form-control" type="text" value="{{ cc.lIBELLE }}"
                                                       disabled>
                                                <input type="hidden" id="opid" value="{{ itkismr.cYCLECULTURALID }}"
                                                       style="width: 100%"/>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="" class="col-sm-5 control-label">Culture Variété :</label>
                                            <div class="col-sm-7">
                                                <input type="hidden" id="cv" style="width: 100%"/>
                                                {{ form_widget(edit_form.cULTUREID, {'attr': {'class': 'form-control'}}) }}
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="" class="col-sm-5 control-label">Culture Variété :</label>
                                            <div class="col-sm-7">
                                                <input class="col-sm-12 form-control" id="" type="text"
                                                       value="{{ cv.lIBELLE }}"
                                                       disabled />
                                                <input type="hidden" value="{{ cv.id }}" id="cvid" />
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="" id="ilotlabel" class="col-sm-5 control-label">Ilot :</label>
                                            <div class="col-sm-7">
                                                <input type="hidden" id="cvidden" />
                                                <input type="hidden" id="ilothidden" />
                                                <input class="col-sm-12 form-control" id="il" type="text" value="{{ ilot }}"
                                                       disabled>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="" class="col-sm-5 control-label">Parcelles :</label>
                                            <div class="col-sm-7">
                                                <input class="col-sm-12 form-control" id="" type="text"
                                                       value="{{ parcelles }}"
                                                       disabled />
                                            </div>
                                        </div>
                                        {% if itkismr.mODEAPPLICATION == "Plantation Manuelle" or
                                        itkismr.mODEAPPLICATION == "Semis Manuel" %}
                                            <div class="form-group">
                                                <label for="" class="col-sm-5 control-label" id="effectiflabel">Effectif :</label>
                                                <div class="col-sm-7">
                                                    <input class="col-sm-12 form-control" id="effectif"
                                                           value="{{ itkismr.eFFECTIF }}" />
                                                </div>
                                            </div>
                                        {% endif %}
                                    </div>
                                    <div class="col-lg-4 col-md4 col-sm-4 col-xs-4" style="text-align:left ">
                                        <br>
                                        <div class="form-group">
                                            <label for="" class="col-sm-5 control-label">Surface semée :</label>
                                            <div class="col-sm-7">
                                                {#{{ form_widget(edit_form.sURFACE, {'attr': {'class': 'form-control', #}
                                                {#'disabled':'disabled'}}) }}#}
                                                <input style="background: lightgrey" class="col-sm-12 form-control"
                                                       id="surface" value="{{itkismr.sURFACE }}"
                                                       disabled/>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="" class="col-sm-5 control-label">Surface totale :</label>
                                            <div class="col-sm-7">
                                                {{ form_widget(edit_form.sURFACETOT, {'attr': {'class': 'form-control',
                                                    'disabled':'disabled'}}) }}
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="" class="col-sm-5 control-label">Nbre de rangs :</label>
                                            <div class="col-sm-7">
                                                {{ form_widget(edit_form.rANGNB, {'attr': {'class': 'form-control'}}) }}
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="" class="col-sm-5 control-label">Ecartement lignes :</label>
                                            <div class="col-sm-7">
                                                {{ form_widget(edit_form.eLIGNE, {'attr': {'class': 'form-control'}}) }}
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="" class="col-sm-5 control-label">Ecartement semis :</label>
                                            <div class="col-sm-7">
                                                {{ form_widget(edit_form.eSEMIS, {'attr': {'class': 'form-control'}}) }}
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="" class="col-sm-5 control-label">Quantité semence/Ha :</label>
                                            <div class="col-sm-7">
                                                {{ form_widget(edit_form.qTESEM, {'attr': {'class': 'form-control',
                                                    'disabled':'disabled'}}) }}
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="" class="col-sm-5 control-label">Quantité semence totale :</label>
                                            <div class="col-sm-7">
                                                {{ form_widget(edit_form.qTESEMTOT, {'attr': {'class': 'form-control',
                                                    'disabled':'disabled'}}) }}
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4" style="text-align:left ">
                                        <br>
                                        <div class="form-group">
                                            <label for="" class="col-sm-5 control-label">DAS :</label>
                                            <div class="col-sm-7">
                                                <div class="input-group">
                                                    <input style="background: lightgrey" class="col-sm-12 form-control" id="das" type="text" value="{{ das
                                                    |date('d-m-Y H:i:s')}}"
                                                           disabled>
                                                <span class="input-group-addon">
                                                    <i class="fa fa-calendar"></i>
                                                </span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group" id="datep">
                                            <label for="" class="col-sm-5 control-label">Date de semis :</label>
                                            <div class="col-sm-7">
                                                <div class="input-group">
                                                    {{ form_widget(edit_form.dATEP, {'attr': {'class': 'form-control'}}) }}
                                                    <span class="input-group-addon">
                                                        <i class="fa fa-calendar"></i>
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="" class="col-sm-5 control-label">Durée (jj) :</label>
                                            <div class="col-sm-7">
                                                {{ form_widget(edit_form.dUREE, {'attr': {'class': 'form-control'}}) }}
                                            </div>
                                        </div>
                                        <div class="form-group" id="datepfin">
                                            <label for="" class="col-sm-5 control-label">Date fin semis :</label>
                                            <div class="col-sm-7">
                                                <div class="input-group">
                                                    {{ form_widget(edit_form.dATEPFIN, {'attr': {'class': 'form-control',
                                                        'disabled':'disabled'}}) }}
                                                    <span class="input-group-addon">
                                                        <i class="fa fa-calendar"></i>
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group" >
                                            <label for="" id="ilotlabel" class="col-sm-5 control-label">Réalisé
                                                par :</label>
                                            <div class="col-sm-7">
                                                <input style="background: darkorange; color: white"
                                                       class="col-sm-12
                                                        form-control" id="" type="text"
                                                       value="{{ itkismr.uSERMAJ  }}"
                                                       disabled>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="" class="col-sm-5 control-label">Date réalisation
                                                :</label>
                                            <div class="col-sm-7">
                                                <input style="background: darkorange; color: white" class="col-sm-12
                                                form-control" value="{{
                                                itkismr.dATEREALISATION|date('d-m-Y')
                                                }}" disabled/>
                                            </div>
                                        </div>
                                        <div class="form-group" >
                                            <label for="" id="ilotlabel" class="col-sm-5 control-label">Modifié
                                                par :</label>
                                            <div class="col-sm-7">
                                                <input style="background: magenta; color: white"
                                                       class="col-sm-12
                                                        form-control" id="" type="text"
                                                       value="{{ itkismr.uPDATEUSER  }}"
                                                       disabled>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="" class="col-sm-5 control-label">Dernière modif :</label>
                                            <div class="col-sm-7">
                                                <input style="background: magenta; color: white" class="col-sm-12 form-control" value="{{
                                                itkismr.uPDATEDATE|date('d-m-Y')
                                                }}" disabled/>
                                            </div>
                                        </div>
                                        <input type="hidden" id="modeapplication" value="{{ itkismr.mODEAPPLICATION
                                        }}" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row" style="padding-right: 3%; padding-left: 3% ">
                        <div class="step-pane" id="wiredstep2">
                            <div class="form-title">
                                Réaliser les parcelles :
                            </div>
                            <div class="form-horizontal">
                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                    <div class="col-lg-7 col-md-7 col-sm-7 col-xs-7" >
                                        <div class="widget flat radius-bordered">
                                            <div class="widget-header bg-palegreen">
                                                <span class="widget-caption">Liste des parcelles</span>
                                                <div class="widget-buttons buttons-bordered">
                                                    {% set var = [] %}
                                                    {% for rsparcelle in itkismrpa  %}
                                                        {% set var = var|merge([rsparcelle['PARCELLEID']]) %}
                                                    {% endfor %}
                                                    <button class="btn btn-danger " style="padding-left: 20px"
                                                            onclick="updatesurfaceitkismr({{
                                                            var|json_encode() }})">
                                                        <i class="fa fa-refresh"></i>
                                                    </button>
                                                </div>
                                            </div>
                                            <div class="widget-body">
                                                <div style="padding-left: 2%; padding-right: 2%">
                                                    <table class="table table-bordered table-hover " id="" >
                                                        <thead class="bordered-darkorange">
                                                        <tr role="row">
                                                            <th >Parcelle</th>
                                                            <th >Surface</th>
                                                            <th >Action</th>
                                                        </tr>
                                                        </thead>
                                                        <tbody>
                                                        {% for rs in itkismrpa %}
                                                            {% set i = rs['PARCELLEID'] %}
                                                            <tr>
                                                                <td style="text-align: center">{{ rs['PARCELLE'] }}</td>
                                                                <td style="text-align: left">
                                                                    {% if rs['TYPEIRRIGATIONID'] == 1 %}
                                                                        <input type="text" value="{{ rs['SURFACE'] }}" id='surface{{ i }}'
                                                                               style="width: 20%" />
                                                                    {% else %}
                                                                        <input type="text" value="{{ rs['SURFACE'] }}" id='surface{{ i }}'
                                                                               style="width: 20%" disabled/>
                                                                    {% endif %}
                                                                </td>
                                                                <td >
                                                                    <div class="checkbox">
                                                                        <label>
                                                                            {% if rs['PARCELLECHECK'] == "0" %}
                                                                                <input type="checkbox" id='checked{{ i }}' class="colored-success"
                                                                                        />
                                                                                <span class="text"></span>
                                                                            {% else %}
                                                                                <input type="checkbox" id='checked{{ i }}' class="colored-success"
                                                                                       checked="checked" />
                                                                                <span class="text"></span>
                                                                            {% endif %}
                                                                        </label>
                                                                    </div>
                                                                </td>
                                                            </tr>
                                                        {% endfor%}
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                        <input type="hidden" id="parcellesitkismr" value="{{ var|json_encode() }}"/>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row" style="padding-right: 3%; padding-left: 3% ">
                        <div class="step-pane" id="wiredstep3">
                            <div class="form-title">
                                Réaliser les lots de semences :
                            </div>
                            <div class="form-horizontal">
                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4" style="text-align:left">
                                        <div class="form-group">
                                            <label for="" class="col-sm-5 control-label">Lot de semence :</label>
                                            <div class="col-sm-7">
                                                {% if semence == 'importe' %}
                                                    <input type="hidden" id="lsr" style="width: 100%"/>
                                                    <input type="hidden" id="lsr1" style="width: 100%" value="{{
                                                    itkismrlot['LIBELLE']}}"/>
                                                    <input type="hidden" id="lsr2" style="width: 100%"/>
                                                    <input type="hidden" id="semencelotid" style="width: 100%"/>
                                                {% else %}
                                                    <input type="hidden" id="ls" style="width: 100%"/>
                                                    <input type="hidden" id="ls1" style="width: 100%" value="{{
                                                    itkismrlot['LIBELLE']}}"/>
                                                    <input type="hidden" id="ls2" style="width: 100%"/>
                                                    <input type="hidden" id="semencelotid" style="width: 100%"/>
                                                {% endif %}
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="" class="col-sm-5 control-label">Quantité :</label>
                                            <div class="col-sm-7">
                                                <input class="col-sm-12 form-control" id="quantite" type="text" value="{{
                                                itkismrlot['QUANTITE'] }}" />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4" style="text-align:left ">
                                        <div class="form-group">
                                            <label for="" class="col-sm-5 control-label">Libelle :</label>
                                            <div class="col-sm-7">
                                                <input class="col-sm-12 form-control" id="libelle" type="text" value="{{
                                                itkismrlot['LIBELLE'] }}"
                                                       disabled>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="" class="col-sm-5 control-label" id="code_cv" >LOTNO :</label>
                                            <div class="col-sm-7">
                                                <input class="col-sm-12 form-control" id="cvsem" type="text" value="{{
                                                itkismrlot['LOTNO'] }}" disabled>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4" style="text-align:left ">
                                        <div class="form-group">
                                            <label for="" class="col-sm-5 control-label">Unité :</label>
                                            <div class="col-sm-7">
                                                <input class="col-sm-12 form-control" id="unite" type="text" value="{{
                                                itkismrlot['UNITE'] }}" disabled>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row" style="padding-right: 3%; padding-left: 3% ">
                        <div class="step-pane" id="wiredstep4">
                            <div class="form-title">
                                Réaliser les intrants :
                            </div>
                            <div class="form-horizontal">
                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4" style="text-align:left">
                                        <div class="form-group">
                                            <label for="" class="col-sm-5 control-label">Intrant :</label>
                                            <div class="col-sm-7">
                                                <input type="hidden" id="intrant" style="width: 100%"/>
                                                <input type="hidden" id="intrant1" value="{{ itkismra['ARTICLE'] }}"
                                                       style="width: 100%"/>
                                                <input type="hidden" id="intrant2" style="width: 100%"/>
                                                <input type="hidden" id="intrantid" style="width: 100%" value="{{
                                                itkismra['ARTICLEID'] }}"/>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="" class="col-sm-5 control-label">Unite :</label>
                                            <div class="col-sm-7">
                                                <input class="col-sm-12 form-control" id="uniteint"  type="text"
                                                       value="{{
                                                       itkismra['UNITE'] }}" disabled/>

                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="" class="col-sm-5 control-label">Dose :</label>
                                            <div class="col-sm-7">
                                                <input class="col-sm-12 form-control" id="dose" type="text" value="{{
                                                itkismra['QTE'] }}" />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4" style="text-align:left ">
                                        <div class="form-group">
                                            <label for="" class="col-sm-5 control-label" id="code_cv" >Prix unitaire :</label>
                                            <div class="col-sm-7">
                                                <input class="col-sm-12 form-control" id="prixunit" type="text" value="{{
                                                itkismra['PRIXUNITAIRE'] }}" />
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="" class="col-sm-5 control-label">Surface :</label>
                                            <div class="col-sm-7">
                                                <input class="col-sm-12 form-control" id="surfaceint" type="text" value="{{
                                                itkismr
                                                .sURFACE }}"
                                                       disabled />
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="" class="col-sm-5 control-label">Quantité totale :</label>
                                            <div class="col-sm-7">
                                                <input class="col-sm-12 form-control" id="qtetot" type="text" value="{{
                                                itkismra['QTETOT'] }}"
                                                       disabled />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4" style="text-align:left ">
                                        <div class="form-group">
                                            <label for="" class="col-sm-5 control-label">Prix totale :</label>
                                            <div class="col-sm-7">
                                                <input class="col-sm-12 form-control" id="prixtot" type="text" value="{{
                                                itkismra['PRIXTOTAL'] }}"
                                                       disabled />
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="" class="col-sm-5 control-label">Commentaires :</label>
                                            <div class="col-sm-7">
                                        <textarea rows="3" cols="30" class="col-sm-12 form-control" id='comment'
                                                  name="comment"  >{{  itkismra['COMMENTAIRE'] }}</textarea>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row" style="padding-right: 3%; padding-left: 3% ">
                        <div class="step-pane" id="wiredstep5">
                            <div class="form-title">
                                Réaliser les epi :
                            </div>
                            <div class="form-horizontal">
                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                    {% if itkismr.mODEAPPLICATION == "Plantation Mecanique" or itkismr.mODEAPPLICATION ==
                                    "Semis Mecanique" %}
                                        <div class=" col-lg-5 col-md-5 col-sm-5 col-xs-5" style="text-align:left; padding-left: 5%">
                                            <div class="form-group">
                                                <label for="" class="col-sm-5 control-label">Tracteur :</label>
                                                <div class="col-sm-7">
                                                    <input type="hidden" id="materielepi" style="width: 100%"/>
                                                    <input type="hidden" id="materiel1" value="{{ materiel }}" style="width: 100%"/>
                                                    <input type="hidden" id="materiel2" style="width: 100%"/>
                                                    <input type="hidden" id="materielidepi" style="width: 100%" value="{{ itkismr
                                                    .mATERIELID }}"/>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label for="" class="col-sm-5 control-label">Appareil traitement :</label>
                                                <div class="col-sm-7">
                                                    <input type="hidden" id="appareil" style="width: 100%"/>
                                                    <input type="hidden" id="appareil1" value="{{ appareil }}" style="width: 100%"/>
                                                    <input type="hidden" id="appareil2" style="width: 100%"/>
                                                    <input type="hidden" id="appareilid" style="width: 100%" value="{{ itkismr
                                                    .aPPAREILID }}"/>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1" style="text-align:left">
                                        </div>
                                        <div class="col-lg-5 col-md-5 col-sm-5 col-xs-5" style="text-align:left">
                                            <div class="form-group">
                                                <label for="" class="col-sm-5 control-label">Compteur début matériel :<sup style="color:
                                                    red">*</sup></label>
                                                <div class="col-sm-7">
                                                    <input class="col-sm-12 form-control" id="cdebut" type="text" value="{{
                                                    itkismr.cOMPTEURDEBUT }}" />
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label for="" class="col-sm-5 control-label">Compteur fin matériel :<sup style="color:
                                                    red">*</sup></label>
                                                <div class="col-sm-7">
                                                    <input class="col-sm-12 form-control" id="cfin" type="text" value="{{
                                                    itkismr
                                                    .cOMPTEURFIN }}" />
                                                </div>
                                            </div>
                                        </div>
                                    {% else %}

                                    {% endif %}
                                </div>
                                <div class="form-title">
                                    .
                                </div>
                                <div class="form-horizontal">
                                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                        <div class=" col-lg-5 col-md-5 col-sm-5 col-xs-5" style="text-align:left; padding-left: 5%">
                                            <div class="form-group">
                                                <label for="" class="col-sm-3 control-label">EPI :<sup style="color:
                                                    red">*</sup></label>
                                                <div class="col-sm-9">
                                                    <input type="hidden" id="epi" style="width: 100%"/>
                                                </div>
                                            </div>
                                        </div>
                                        <div class=" col-lg-1 col-md-1 col-sm-1 col-xs-1" style="text-align:left; padding-left: 5%">
                                            <div class="form-group">
                                                <div class="col-sm-offset-8 col-sm-7">
                                                    <button class="btn btn-azure "  onclick="updateepir({{ itkismr.id }})">
                                                        <i class="fa fa-plus" ></i>Ajouter
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-title" style="color: #003300">
                                Liste des EPI
                            </div>
                            <div class="row">
                                <div style="margin-left: 5%; margin-right: 5%;">
                                    <div class="widget flat radius-bordered">
                                        <div class="widget-body">
                                            <div >
                                                <table class="table table-bordered table-hover " id="" >
                                                    <thead class="bordered-darkorange">
                                                    <tr role="row">
                                                        <th >Libellé</th>
                                                        <th style="width: 20%" >Actions</th>
                                                    </tr>
                                                    </thead>
                                                    <tbody id="tableepir">
                                                    {% for rs in itkismrepi %}
                                                        <tr id="{{ rs['EPIID'] }}">
                                                            <td>{{ rs['EPI'] }}</td>
                                                            <td>
                                                                <button type="button" class="btn btn-danger btn-sm"
                                                                        onclick=" supprimerepir({{rs['EPIID'] }},{{
                                                                        itkismr.id }}); "><i class="fa
                                                                        fa-trash"></i>Supprimer
                                                                </button>
                                                            </td>
                                                        </tr>
                                                    {% endfor%}
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <br><br>
                    <div class="row">
                        <div class="form-horizontal">
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <div class="well with-header">
                                    <div class="header bordered-danger" style="text-align: center; font-weight: bold; color:
                                            red">
                                        Attention: Il faut renseigner l'heure de début et l'heure de fin afin de clôturer la
                                        réalisation de l'instruction de semis !!
                                    </div>
                                </div>
                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="margin: auto; width:99%">
                                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6" style="text-align:left">
                                        <div class="form-group">
                                            <label for="" class="col-sm-5 control-label">Heure début semis :</label>
                                            <div class="col-sm-7">
                                                <div class="input-group">
                                                    {#<input class="form-control" id="timepickerdebut" type="text">#}
                                                    <input class="form-control" id="hdebut"
                                                           placeholder="00:00" type="text">
                                                    <span class="input-group-addon">
                                                                    <i class="fa fa-clock-o"></i>
                                                                </span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6" style="text-align:left">
                                        <div class="form-group">
                                            <label for="" class="col-sm-5 control-label">Heure fin semis :</label>
                                            <div class="col-sm-7">
                                                <div class="input-group">
                                                    {#<input class="form-control" id="timepickerfin" type="text">#}
                                                    <input class="form-control" id="hfin"
                                                           placeholder="00:00" type="text">
                                                    <span class="input-group-addon">
                                                                    <i class="fa fa-clock-o"></i>
                                                                </span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <input type="hidden" id="itkismrid" value="{{ itkismr.id }}">
                <div class="actions actions-footer" id="WiredWizard-actions">
                    <div class="btn-group" >
                        <button type="button" class="btn btn-default btn-sm btn-prev"> <i class="fa
                        fa-angle-left"></i>Précédent</button>
                        <button type="button" id="finishitkismr" class="btn btn-success btn-sm btn-next"
                                data-last="TERMINER"
                                >Suivant<i class="fa fa-angle-right"></i>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

