{% extends 'PointageBundle:Contractuel:layout.html.twig' %}
{% block content %}
<br>
<div style="padding-left: 5%; padding-right: 5%">
    <div class="col-lg-12 col-sm-12 col-xs-12">
        <div class="row" >
            <div class="widget flat radius-bordered">
                <div class="widget-header bg-palegreen">
                    <span class="widget-caption">Liste des contractuels</span>
                    <div class="widget-buttons buttons-bordered">
                        {#<button type="submit" class="btn btn-palegreen btn-sm" id="import">Import contractuel</button>#}
                    </div>
                </div>
                <div class="widget-body">
                    <div style="padding-left: 5%; padding-right: 5%">
                        <div class="row">
                            <form  role="form" action="{{ path('contractuel_import') }}" method="post" name="upload_excel" enctype="multipart/form-data">
                                {% if app.session.started %}
                                    {% for flashMessage in app.session.flashbag.get('notice') %}
                                        <div class="alert alert-{{ flashMessage.alert }} alert-dismissible" role="alert">
                                            <button type="button" class="close" data-dismiss="alert">
                                                <span aria-hidden="true">&times;</span><span class="sr-only">Close</span>
                                            </button>
                                            <strong>{{ flashMessage.title }}</strong> {{ flashMessage.message }}
                                        </div>
                                    {% endfor %}
                                {% endif %}
                                <div class="form-group">
                                    <div class="col-sm-4">
                                        <input type="file" id="file" name="file" class="form-control col-sm-4 "
                                               placeholder="JOINDRE LE FICHIER A IMPORTER">
                                    </div>
                                </div>
                                <button type="submit" class="btn btn-primary
                                button-loading" onClick="this.disabled=true;this.form.submit();this.value='Patientez...'">Importer</button>
                            </form>
                        </div>
                        <br>
                        <div class="table-responsive">
                            <table class="table table-bordered" id="tcontractuel">
                                <thead class="bordered-palegreen" >
                                <tr role="row">
                                    <th>Matricule</th>
                                    <th>Prénom</th>
                                    <th>Nom</th>
                                    <th>Direction</th>
                                    <th>Service</th>
                                    <th>Poste</th>
                                    <th>Affectation</th>
                                    <th>site</th>
                                    <th>code geste</th>
                                    <th>culture</th>
                                    <th>emploi</th>
                                    <th>type de contrat</th>
                                    <th>Cle 1</th>
                                    <th>Cle 2</th>
                                    <th>Pointeur</th>
                                    <th>Resp. Recru.</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for contractuel in contractuels %}
                                    <tr>
                                        <td>{{ contractuel.mATRICULE }}</td>
                                        <td>{{ contractuel.pRENOM }}</td>
                                        <td>{{ contractuel.nOM }}</td>
                                        <td>{{ contractuel.dIRECTION }}</td>
                                        <td>{{ contractuel.sERVICE }}</td>
                                        <td>{{ contractuel.pOSTE }}</td>
                                        <td>{{ contractuel.aFFECTATION }}</td>
                                        <td>{{ contractuel.sITE }}</td>
                                        <td>{{ contractuel.cODEGESTE }}</td>
                                        <td>{{ contractuel.lIBELLE }}</td>
                                        <td>{{ contractuel.eMPLOI }}</td>
                                        <td>{{ contractuel.tYPECONTRAT }}</td>
                                        <td>{{ contractuel.cLE1 }}</td>
                                        <td>{{ contractuel.cLE2 }}</td>
                                        <td>{{ contractuel.pOINTEUR }}</td>
                                        <td>{{ contractuel.rESPRECR }}</td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}