{% extends 'FicheInterventionBundle:FicheIntervention:layout.html.twig' %}
{% block content %}
    <br xmlns="http://www.w3.org/1999/html">
    <div class="col-lg-12 col-sm-12 col-xs-12" style="padding-left: 15%; padding-right: 15%">
        <div class="widget flat radius-bordered">
            <div class="widget-header bg-warning">
                <span class="widget-caption">Pièces jointes fiche intervention N°{{ id }}</span>
                <div class="widget-buttons buttons-bordered">
                    <button class="btn btn-danger btn-sm" onclick="document.location.href='{{ path
                    ('modifierficheintervention',{"id": id}) }}'"><i class="fa
                    fa-arrow-left"></i>Retour</button>
                </div>
            </div>
            <div class="widget-body">
                <div class="row">
                    <div class="form-horizontal">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <div class="form-title">
                                Joindre des documents à cette fiche d'intervention
                            </div>
                            {{ form_start(form, {'attr': {'class': 'form-horizontal'}}) }}
                            <div class="form-group">
                                <label for="" class="col-sm-4 control-label">JOINDRE UN FICHIER</label>
                                <div class="col-sm-4">
                                    {{ form_widget(form.dOCUMENT.file, {'id':'file'}) }}
                                </div>
                            </div>
                            <div align="right">
                                <div style="padding-right: 35%">
                                    <input type="submit" class="btn btn-warning" value="Ajouter" name="valider"
                                           onClick="this.disabled=true;this.form.submit();this.value='Patientez...'"/>
                                </div>
                            </div>
                            {{ form_rest(form) }}
                            {{ form_end(form) }}
                            <br>
                        </div>
                    </div>
                </div>
                <br>
                <div class="row" style=" padding-left: 2%">
                    <div class="form-title" style="color: #003300">
                        Liste des pièces jointes
                    </div>
                    <div style="margin-left: 5%; margin-right: 5%;">
                        <div class="widget flat radius-bordered">
                            <div class="widget-body">
                                <div >
                                    <table class="table table-bordered table-hover " id="" style="width: 50%">
                                        <thead class="bordered-warning">
                                        <tr role="row">
                                            <th >Image</th>
                                            <th style="width: 20%" >Actions</th>
                                        </tr>
                                        </thead>
                                        <tbody id="tableimage">
                                        {% set i=0 %}
                                        {% for rs in imgid %}
                                            <tr id="{{ rs }}">
                                                <td>
                                                    <a id="ficheIntervImag" href="{{ asset(imgpath[i]) }}">
                                                        <img id="myImg" src="{{ asset(imgpath[i]) }}"
                                                             alt="{{ rs }}.{{ imgalt[i] }}" width="150" height="70">
                                                    </a>
                                                </td>
                                                <td>
                                                    <button class="btn btn-danger btn-sm" id="" onclick="supprimerimage
                                                            ({{rs }})"><i class="fa
                                                            fa-trash" ></i>Supprimer
                                                    </button>
                                                </td>
                                            </tr>
                                            {% set i=i+1 %}
                                        {% endfor%}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}