{% extends 'FicheInterventionBundle:FicheIntervention:layout.html.twig' %}
{% block content %}
    <div class="col-lg-12 col-sm-12 col-xs-12" style="padding-left: 5%; padding-right: 5%">
    <div class="widget flat radius-bordered">
        <div class="widget-header bg-azure">
            <span class="widget-caption">Ajouter une nouvelle fiche d'intervention</span>
            <div class="widget-buttons buttons-bordered">
                <button id="retour" class="btn btn-sky btn-sm" onclick="window.location.href='{{ path('listeficheintervention') }}'"><i class="fa fa-arrow-left"
                                                                  aria-hidden="true"></i>Retour</button>
                <button class="btn btn-azure btn-sm" onclick="window.location.href='{{ path('ajouterficheintervention') }}'">Nouvelle fiche d'intervention</button>
            </div>
        </div>
        <div class="widget-body">
            <div class="row">
                <div class="form-horizontal">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <div class="form-title">
                            Info. ficheIntervention
                        </div>
                        <div class="messageflasherror" style="color: #cd0000">
                            {% for flashMessage in app.session.flashbag.get('notice') %}
                                <p style="color: red"> <i class="fa fa-exclamation-triangle" ></i>  {{ flashMessage
                                    }}</p>
                            {% endfor %}
                        </div>
                        {{ form_start(form, {'attr': {'class': 'form-horizontal'}}) }}
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style=" margin: auto;
                            width: 80%">
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="text-align:left">
                                <div class="form-group">
                                    <label for="" class="col-sm-6 control-label">EDITEUR<sup style="color: red">*</sup></label>
                                    <div class="col-sm-6">
                                        <input type="text" value="{{ username }}"
                                               class="form-control" disabled/>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="" class="col-sm-6 control-label">DATE DE CREATION<sup style="color:
                                    red">*</sup></label>
                                    <div class="col-sm-6">
                                        <div class="input-group">
                                            <input type="text" value="{{ date|date('d-m-Y') }}"
                                                   class="form-control" disabled/><span class="input-group-addon">
                                                        <i class="fa fa-calendar"></i>
                                                    </span>
                                        </div>
                                    </div>
                                </div>
                                {#<div class="form-group">#}
                                    {#<label for="" class="col-sm-6 control-label">LIBELLE<sup style="color: red">*</sup></label>#}
                                    {#<div class="col-sm-6">#}
                                        {#{{ form_widget(form.lIBELLE, {'attr': {'class': 'form-control'}}) }}#}
                                    {#</div>#}
                                {#</div>#}
                                <div class="form-group">
                                    <label for="" class="col-sm-6 control-label ">SITE<sup style="color: red">*</sup></label>
                                    <div class="col-sm-6">
                                        {{ form_widget(form.sITEID, {'attr': {'class': 'form-control'}}) }}
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="" class="col-sm-6 control-label ">FERME<sup style="color: red">*</sup></label>
                                    <div class="col-sm-6">
                                        <input type="hidden" id="fermesite" style="width: 100%"/>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="" class="col-sm-6 control-label ">SERVICE<sup style="color:
                                    red">*</sup></label>
                                    <div class="col-sm-6">
                                        {{ form_widget(form.sERVICEID, {'attr': {'class': 'form-control'}}) }}
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="" class="col-sm-6 control-label ">TYPE D'INTERVENTION<sup style="color:
                                    red">*</sup></label>
                                    <div class="col-sm-6">
                                        {{ form_widget(form.tYPEINTERVENTIONID, {'attr': {'class': 'form-control'}}) }}
                                    </div>
                                </div>
                                <div class="form-group" hidden>
                                    <label for="" class="col-sm-6 control-label ">DATE D'INTERVENTION<sup style="color:
                                    red">*</sup></label>
                                    <div class="col-sm-6">
                                        {{ form_widget(form.dATEINTERVENTION, {'attr': {'class': 'form-control'}}) }}
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-sm-offset-10 col-sm-6">
                                        <input type="submit" class="btn btn-azure" value="Créer" onClick="this
                                        .disabled=true;this.form.submit();this.value='Patientez...'"/>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {{ form_rest(form) }}
                        {{ form_end(form) }}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}