{% extends 'FicheInterventionBundle:FicheIntervention:layout.html.twig' %}
{% block content %}
    <div class="col-lg-12 col-sm-12 col-xs-12" style="padding-left: 5%; padding-right: 5%">
        <div class="widget flat radius-bordered">
            <div class="widget-header bg-azure">
                <span class="widget-caption">Fiche d'intervention N°{{ ficheIntervention['id'] }}</span>
                <div class="widget-buttons buttons-bordered">
                    <button class="btn btn-sky btn-sm" onclick=" window.location.href='{{ path('listeficheintervention')
                    }}'"><i class="fa fa-arrow-left" ></i>Retour</button>
                </div>
            </div>
            <div class="widget-body">
                <div class="row">
                    <div class="form-horizontal">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <div class="form-title">
                                Info. ficheIntervention
                            </div>
                            <div class="" style="color: #cd0000">
                                <p style="color: red"><i class="fa fa-exclamation-triangle" ></i>
                                    Vous avez 1h de temps pour compléter la fiche. Passé ce délai, votre fiche sera
                                    en cours de traitement.
                                </p>
                            </div>
                            <div id="modal-success-tache" class="modal modal-message modal-success fade" style="display: none;"
                                 aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <i class="glyphicon glyphicon-check"></i>
                                        </div>
                                        <div class="modal-title">Succès</div>
                                        <div class="modal-body">La tâche a bien été ajoutée !</div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-success" data-dismiss="modal">OK</button>
                                        </div>
                                    </div> <!-- / .modal-content -->
                                </div> <!-- / .modal-dialog -->
                            </div>
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style=" margin: auto;
                                width: 80%">
                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="text-align:left">
                                    <div class="form-group">
                                        <label for="" class="col-sm-6 control-label">LIBELLE: </label>
                                        <div class="col-sm-6">
                                            {#<input type="text" value=" {{ficheIntervention['lIBELLE']}}" class="form-control" disabled/>#}
                                            <textarea rows="2"  class="col-sm-6 form-control" id="" disabled>{{ficheIntervention['lIBELLE']}}</textarea>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="" class="col-sm-6 control-label">STATUT: </label>
                                        <div class="col-sm-6">
                                            <input class="col-sm-6 form-control" type="text" style="color: #0000AA" value="{{
                                            ficheIntervention['sTATUT']}}" disabled />
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="" class="col-sm-6 control-label">EDITEUR: </label>
                                        <div class="col-sm-6">
                                            <input class="col-sm-6 form-control" type="text" value="{{
                                            ficheIntervention['EDITEUR']}}"
                                                   disabled />
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="" class="col-sm-6 control-label">DATE DE CREATION: </label>
                                        <div class="col-sm-6">
                                            <div class="input-group">
                                                <input class="col-sm-6 form-control" type="text" value="{{
                                                ficheIntervention['dATECREATION'] |date('d-m-Y') }}" disabled />
                                                     <span class="input-group-addon">
                                                        <i class="fa fa-calendar"></i>
                                                    </span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="" class="col-sm-6 control-label ">SITE: </label>
                                        <div class="col-sm-6">
                                            <input class="col-sm-6 form-control" type="text"
                                                   value="{{ficheIntervention['SITE']}}" disabled />
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="" class="col-sm-6 control-label ">FERME: </label>
                                        <div class="col-sm-6">
                                            <input class="col-sm-6 form-control" type="text"
                                                   value="{{ficheIntervention['FERME']}}" disabled />
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="" class="col-sm-6 control-label ">SERVICE: </label>
                                        <div class="col-sm-6">
                                            <input class="col-sm-6 form-control" type="text"
                                                   value="{{ficheIntervention['SERVICE']}}" disabled />
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="" class="col-sm-6 control-label ">TYPE D'INTERVENTION: </label>
                                        <div class="col-sm-6">
                                            <input class="col-sm-6 form-control" type="text"
                                                   value="{{ficheIntervention['TYPEINTERVENTIONLIB']}}"
                                                   disabled />
                                        </div>
                                    </div>
                                    <div class="form-group" hidden>
                                        <label for="" class="col-sm-6 control-label ">TYPE D'INTERVENTION<sup style="color:
                                    red">*</sup></label>
                                        <div class="col-sm-6">
                                            {{ form_widget(form.dATEINTERVENTION, {'attr': {'class': 'form-control'}}) }}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="widget-body">
                <div class="row">
                    <div class="form-horizontal">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <div class="form-title">
                                Info. Tâche
                            </div>
                            <div class="messageflasherror" style="color: #cd0000">
                                {% for flashMessage in app.session.flashbag.get('noticetache') %}
                                    <p style="color: red"> <i class="fa fa-exclamation-triangle" ></i>  {{ flashMessage
                                        }}</p>
                                {% endfor %}
                            </div>
                            <div class="messageflashok">
                                {% for flashMessage in app.session.flashbag.get('noticetacheok') %}
                                    <p style="color: green">{{ flashMessage }}
                                        <i class="fa fa-check-circle" aria-hidden="true"></i>
                                    </p>
                                {% endfor %}
                            </div>
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style=" margin: auto;
                            width: 80%">
                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="text-align:left">
                                    <div class="form-group">
                                        <label for="" class="col-sm-6 control-label">Tache :<sup style="color:
                                        red">*</sup></label>
                                        <div class="col-sm-6" >
                                            {{ form_widget(edit_form.lIBELLE, {'attr': {'class': 'form-control'}}) }}
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-sm-offset-10 col-sm-6">
                                            {#<input type="submit" class="btn btn-azure" value="Ajouter" onClick="this.disabled=true; this.form.submit(); this.value='Patientez' + '...'"/>#}
                                            <button class="btn btn-azure btn-sm" id="aj" onclick="
                                                    addtache({{ficheIntervention['id'] }})"><i class="fa fa-plus"
                                                        ></i>Ajouter
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <br>
                <div class="form-title" style="color: #003300">
                    Liste des tâches
                </div>
                <div class="messageflashok">
                    {% for flashMessage in app.session.flashbag.get('noticesuptacheok') %}
                        <p style="color: green">{{ flashMessage }}
                            <i class="fa fa-check-circle" aria-hidden="true"></i>
                        </p>
                    {% endfor %}
                </div>
                <div class="row">
                    <div style="margin-left: 5%; margin-right: 5%;">
                        <div class="widget flat radius-bordered">
                            <div class="widget-body">
                                <div >
                                    <table class="table table-bordered table-hover " id="searchable7" >
                                        <thead class="bordered-azure">
                                        <tr role="row">
                                            <th >Libellé</th>
                                            <th style="width: 20%" >Actions</th>
                                        </tr>
                                        </thead>
                                        <tbody id="tabletache">
                                        <tr></tr>
                                        {% for rs in taches %}
                                            <tr id="{{ rs.id }}">
                                                <td>{{ rs.lIBELLE }}</td>
                                                <td>
                                                    <button class="btn btn-danger btn-sm"  onclick="
                                                            supprimertache({{rs.id }})"><i class="fa fa-trash"
                                                                ></i>Supprimer
                                                    </button>
                                                </td>
                                            </tr>
                                        {% endfor%}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}