{% extends 'FicheInterventionBundle:FicheIntervention:layout.html.twig' %}
{% block content %}
    <div class="col-lg-12 col-sm-12 col-xs-12" style="padding-left: 5%; padding-right: 5%">
        <div class="widget flat radius-bordered">
            <div class="widget-header bg-palegreen">
                <span class="widget-caption">Informations fiche Intervention N°{{ ficheIntervention['id'] }}</span>
                <div class="widget-buttons buttons-bordered">
                    <button class="btn btn-sky btn-sm" onclick="window.location.href='{{ path('listeficheintervention')
                    }}'"><i class="fa fa-arrow-left" aria-hidden="true"></i>
                        RETOUR
                    </button>
                </div>
            </div>
            <div class="widget-body">
                <div class="row">
                    <div class="form-horizontal">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <div class="form-title">
                                Info. ficheIntervention
                            </div>
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style=" margin: auto;
                            width: 80%">
                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="text-align:left">
                                    {#<div class="form-group">#}
                                        {#<label for="" class="col-sm-6 control-label">LIBELLE: </label>#}
                                        {#<div class="col-sm-6">#}
                                            {#<textarea class="col-sm-6 form-control" id="" disabled>{{ficheIntervention['lIBELLE']}}#}
                                            {#</textarea>#}
                                        {#</div>#}
                                    {#</div>#}
                                    <div class="form-group">
                                        <label for="" class="col-sm-6 control-label">STATUT: </label>
                                        <div class="col-sm-6">
                                            {% if ficheIntervention['sTATUT'] == "CLOTURE" %}
                                                <input class="col-sm-6 form-control" type="text" style="color: #006400" value="{{
                                                ficheIntervention['sTATUT']}}" disabled />
                                            {% elseif ficheIntervention['sTATUT'] == "EN COURS" %}
                                                <input class="col-sm-6 form-control" type="text" style="color: maroon" value="{{
                                                ficheIntervention['sTATUT']}}" disabled />
                                            {% elseif ficheIntervention['sTATUT'] == "ENVOYE" %}
                                                <input class="col-sm-6 form-control" type="text" style="color: #0000AA"
                                                       value="{{
                                                       ficheIntervention['sTATUT']}}" disabled />
                                            {% else %}
                                                <input class="col-sm-6 form-control" type="text" style="color: darkorange"
                                                       value="{{
                                                       ficheIntervention['sTATUT']}}" disabled />
                                            {% endif %}
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="" class="col-sm-6 control-label">EDITEUR: </label>
                                        <div class="col-sm-6">
                                            <input class="col-sm-6 form-control" value="{{ficheIntervention
                                            ['EDITEUR']}}" type="text"  disabled />
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="" class="col-sm-6 control-label">DATE DE CREATION: </label>
                                        <div class="col-sm-6">
                                            <div class="input-group">
                                                <input class="col-sm-6 form-control" type="text" value="{{date}}" disabled />
                                                     <span class="input-group-addon">
                                                        <i class="fa fa-calendar"></i>
                                                    </span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="" class="col-sm-6 control-label ">SITE: </label>
                                        <div class="col-sm-6">
                                            <input class="col-sm-6 form-control" type="text" value="{{ficheIntervention
                                            ['SITE']}}" disabled />
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="" class="col-sm-6 control-label ">FERME: </label>
                                        <div class="col-sm-6">
                                            <input class="col-sm-6 form-control" type="text"
                                                   value="{{ficheIntervention['FERME']}}" disabled />
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="" class="col-sm-6 control-label ">SERVICE: </label>
                                        <div class="col-sm-6">
                                            <input class="col-sm-6 form-control" type="text" value="{{ficheIntervention
                                            ['SERVICE']}}"
                                            disabled />
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="" class="col-sm-6 control-label ">TYPE D'INTERVENTION: </label>
                                        <div class="col-sm-6">
                                            <input class="col-sm-6 form-control" type="text"
                                                   value="{{ficheIntervention['TYPEINTERVENTIONLIB'] }}"disabled />
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="" class="col-sm-6 control-label ">IDENTIFICATION :<sup style="color:
                                    red">*</sup></label>
                                        <div class="col-sm-6">
                                            <textarea class="col-sm-6 form-control" id="" disabled> {{ficheIntervention['IDENTIFICATION']}}
                                            </textarea>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="" class="col-sm-6 control-label ">PRIORISATION :<sup style="color:
                                    red">*</sup></label>
                                        <div class="col-sm-6">
                                            <input class="col-sm-6 form-control" type="text"
                                                   value="{{ficheIntervention['PRIORISATION'] }}"disabled />
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="" class="col-sm-6 control-label">DATE PREV. INTERVENTION : </label>
                                        <div class="col-sm-6">
                                            <div class="input-group">
                                                {% if ficheIntervention['DATEINTERVENTION'] == null %}
                                                    <input class="col-sm-6 form-control" style="background-color: #ff9300; color: #ffffff" disabled/>
                                                         <span class="input-group-addon">
                                                            <i class="fa fa-calendar"></i>
                                                        </span>
                                                {% else %}
                                                    <input class="col-sm-6 form-control" id=""
                                                           value="{{ficheIntervention['DATEINTERVENTION']|date
                                                           ('d-m-Y')}}" style="background-color: #ff9300; color: #ffffff" disabled/>
                                                        <span class="input-group-addon">
                                                            <i class="fa fa-calendar"></i>
                                                        </span>
                                                {% endif %}
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="" class="col-sm-6 control-label ">Observations : </label>
                                        <div class="col-sm-6">
                                            <textarea class="col-sm-6 form-control" rows="5"
                                                      id="observations" disabled
                                                    >{{ficheIntervention['OBSERVATIONS']}}</textarea>
                                        </div>
                                    </div>
                                    {% if ficheIntervention['REACTIVEPAR'] != null %}
                                        <div class="form-group" >
                                            <label for="" class="col-sm-6 control-label ">DATE DE REACTIVATION : </label>
                                            <div class="col-sm-6">
                                                <input style="background-color: darkorange; color: black" class="col-sm-6 form-control" id="datereactiv"
                                                       value="{{ficheIntervention['DATEREACTIVATION']|date
                                                       ('d-m-Y')}}" />
                                            </div>
                                        </div>
                                        <div class="form-group" >
                                            <label for="" class="col-sm-6 control-label ">REACTIVEE PAR : </label>
                                            <div class="col-sm-6">
                                                <input style="background-color: darkorange; color: black" class="col-sm-6 form-control" id="reactivpar"
                                                       value="{{ficheIntervention['REACTIVEPAR']}}" />
                                            </div>
                                        </div>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <br>
                <div class="form-title" style="color: #003300">
                    Liste des pièces jointes
                </div>
                <div class="row">
                    <div style="margin-left: 5%; margin-right: 5%;">
                        <div class="widget flat radius-bordered">
                            <div class="widget-body">
                                <div >
                                    <table class="table table-bordered table-hover " id="" style="width: 50%">
                                        <thead class="bordered-warning">
                                        <tr role="row">
                                            <th >Image</th>
                                        </tr>
                                        </thead>
                                        <tbody id="tableimage">
                                        {% set i=0 %}
                                        {% for rs in imgid %}
                                            <tr id="{{ rs }}">
                                                <td>
                                                    <a id="ficheIntervImag" href="{{ asset(imgpath[i]) }}">
                                                        <img id="myImg" src="{{ asset(imgpath[i]) }}"
                                                             alt="{{ rs }}.{{ imgalt[i] }}" width="150" height="70">
                                                    </a>
                                                </td>
                                            </tr>
                                            {% set i=i+1 %}
                                        {% endfor%}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <br>
                <div class="form-title" style="color: #003300">
                    Liste des tâches
                </div>
                <div class="row">
                    <div class="widget flat radius-bordered">
                        <div class="widget-body">
                            <div style="padding-left: 3%; padding-right: 3%">
                                <table class="table table-bordered table-hover " id="" style="table-layout: fixed" >
                                    <thead class="bordered-darkorange">
                                        <tr role="row">
                                            <th style="padding-left: 10px; width: 20%;">Libellé</th>
                                            <th style="padding-left: 10px; width: 15%;">Intervenants</th>
                                            <th style="padding-left: 10px; width: 15%;">Réalisé par</th>
                                            <th style="padding-left: 10px; width: 10%;">P / R</th>
                                            <th style="padding-left: 10px; width: 35%;">Article (Quantité)</th>
                                            <th style="padding-left: 10px; width: 15%;"> Etat</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                    {% for rs in taches %}
                                        <tr>
                                            <td rowspan="2">{{ rs['TACHE'].lIBELLE }}</td>
                                            <td rowspan="2">
                                                {% if rs['TACHE'].iNTERVENANTS != "undefined" %}
                                                    {{rs['TACHE'].iNTERVENANTS }}
                                                {% endif %}
                                            </td>
                                            <td rowspan="2">{{ rs['TACHE'].rEALISATEURID }}</td>
                                            <td style="font-weight: bold">Prévu</td>
                                            <td>
                                                <ul>
                                                    {% for tachearticle in rs['ARTICLE'] %}
                                                        <li>
                                                            {{ tachearticle }}
                                                        </li>
                                                    {% endfor%}
                                                </ul>
                                            </td>
                                            {% if rs['TACHE'].rEALISE == "ANNULE" %}
                                                <td rowspan="2" style="font-weight: bold; text-align: center;
                                                background-color: #bbb8a9">
                                                    Annulé</td>
                                            {#{% elseif rs['TACHE'].rEALISE == "REALISE" %}#}
                                                {#<td rowspan="2" style="font-weight: bold; text-align: center">#}
                                                    {#Réalisé</td>#}
                                            {% else %}
                                                {% if ficheIntervention['sTATUT'] == "EN COURS" %}
                                                    <td rowspan="2" style="background-color: #ffeb59">En cours</td>
                                                {% elseif ficheIntervention['sTATUT'] == "CLOTURE" or
                                                ficheIntervention['sTATUT'] == "REOUVERT"%}
                                                    <td rowspan="2" style="background-color: #00AA00">Réalisé</td>
                                                {% else %}
                                                    <td rowspan="2" style="background-color: #ffffff">Non Réalisé</td>
                                                {% endif %}
                                            {% endif %}
                                        </tr>
                                        <tr>
                                            <td style="font-weight: bold; ">Réalisé</td>
                                            <td style="background-color: #00AA00">
                                                <ul>
                                                    {% for tachearticle in rs['ARTICLER'] %}
                                                        <li>
                                                            {{ tachearticle }}
                                                        </li>
                                                    {% endfor%}
                                                </ul>
                                            </td>
                                        </tr>
                                    {% endfor%}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-title">
                </div>
                <div class="row">
                    <div class="form-horizontal">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style=" margin: auto;
                            width: 80%">
                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="text-align:left">

                                    <div class="form-group">
                                        <label for="" class="col-sm-6 control-label ">Date début travaux : </label>
                                        <div class="col-sm-6">
                                            {% if ficheIntervention['DATEDEBUT']== null %}
                                                <input class="col-sm-6 form-control" disabled/>
                                            {% else %}
                                                <input class="col-sm-6 form-control" id=""
                                                       value="{{ficheIntervention['DATEDEBUT']|date
                                                       ('d-m-Y')}}" disabled/>
                                            {% endif %}
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="" class="col-sm-6 control-label ">Date Fin travaux : </label>
                                        <div class="col-sm-6">
                                            {% if ficheIntervention['DATEFIN']== null %}
                                                <input class="col-sm-6 form-control" disabled/>
                                            {% else %}
                                                <input class="col-sm-6 form-control" id=""
                                                       value="{{ficheIntervention['DATEFIN']|date
                                                       ('d-m-Y')}}" disabled/>
                                            {% endif %}
                                        </div>
                                    </div>
                                    <div class="form-group" >
                                        <label for="" class="col-sm-6 control-label ">Duree (h): </label>
                                        <div class="col-sm-6">
                                            <input class="col-sm-6 form-control" id="duree"
                                                   value="{{ficheIntervention['DUREE']}}" disabled/>
                                        </div>
                                    </div>
                                    <div class="form-group" hidden>
                                        <label for="" class="col-sm-6 control-label ">Observations : </label>
                                        <div class="col-sm-6">
                                            <textarea class="col-sm-6 form-control" rows="5"
                                                      id="observations" disabled
                                                    >{{ficheIntervention['OBSERVATIONS']}}</textarea>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}