{% extends 'FicheInterventionBundle:FicheIntervention:layout.html.twig' %}
{% block content %}
    <div class="row">
        <div id="modal-success-reactiver" class="modal modal-message modal-success fade" style="display: none;"
             aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <i class="glyphicon glyphicon-check"></i>
                    </div>
                    <div class="modal-title">Succès</div>
                    <div class="modal-body">La fiche a bien été réactivée !</div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-success" data-dismiss="modal">OK</button>
                    </div>
                </div> <!-- / .modal-content -->
            </div> <!-- / .modal-dialog -->
        </div>
        <!--Success Modal Templates-->
        <div id="modal-success" class="modal modal-message modal-success fade" style="display: none;" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <i class="glyphicon glyphicon-check"></i>
                    </div>
                    <div class="modal-title">Succès</div>
                    <div class="modal-body">La fiche a bien été supprimée !</div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-success" data-dismiss="modal">OK</button>
                    </div>
                </div> <!-- / .modal-content -->
            </div> <!-- / .modal-dialog -->
        </div>
        <div id="modal-warning-reactiver" class="modal modal-message modal-warning fade" style="display: none;" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <i class="glyphicon glyphicon-check"></i>
                    </div>
                    <div class="modal-title">Succès</div>
                    <div class="modal-body">Veuillez ajouter un commentaire !</div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-success" data-dismiss="modal">OK</button>
                    </div>
                </div> <!-- / .modal-content -->
            </div> <!-- / .modal-dialog -->
        </div>
        <!--End Success Modal Templates-->
        <div class="modal modal-primary" id="modal-fiche-reopen">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                        <h4 class="modal-title">Ajouter Commentaire</h4>
                    </div>
                    <input type="hidden" id="ficheid" value="">
                    <div class="form-horizontal" id="form">
                        <div class="modal-body">
                            <div class="form-group">
                                <label  class="col-sm-6 control-label"
                                        for="">Pourquoi voulez vous réactiver la fiche :</label>
                                <div class="col-sm-6">
                                    <textarea rows="4" cols="30" name="comment" id="comment" > </textarea>
                                </div>
                            </div>
                        </div>
                        <!-- Modal Footer -->
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-warning" data-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary " onclick=" reactiverfiche()">Valider</button>
                    </div>
                </div><!-- /.modal-content -->
            </div><!-- /.modal-dialog -->
        </div><!-- /.modal -->
        <div class="col-lg-12 col-sm-12 col-xs-12">
            <div class="tabbable">
                <ul class="nav nav-tabs nav-justified" id="myTab5">
                    {% if is_granted('ROLE_TECHNIQUE') == true %}
                        <li  class="active" >
                            <a data-toggle="tab" href="#fichesattribuees">
                                Fiches attribuées
                            </a>
                        </li>
                        <li class="tab-red">
                            <a data-toggle="tab" href="#fiches">
                                Fiches d'intervention
                            </a>
                        </li>
                        <li class="tab-green">
                            <a data-toggle="tab" href="#mesfiches">
                                Mes fiches d'intervention
                            </a>
                        </li>
                    {% else %}
                        <li class="active">
                            <a data-toggle="tab" href="#mesfiches">
                                Mes fiches d'intervention
                            </a>
                        </li>
                        <li class="tab-red">
                            <a data-toggle="tab" href="#fichessite">
                                Fiches d'intervention de mon site
                            </a>
                        </li>
                        {% if is_granted('ROLE_ADMIN') == true %}
                            <li class="tab-green">
                                <a data-toggle="tab" href="#fiches">
                                    Fiches d'intervention
                                </a>
                            </li>
                        {% endif %}
                        <li class="tab-yellow">
                            <a data-toggle="tab" href="#fichesservices">
                                Fiches d'intervention de mon service
                            </a>
                        </li>
                    {% endif %}
                    {#{% if is_granted('ROLE_CHEFSERVICE') == true %}#}
                        {#<li class="tab-yellow">#}
                            {#<a data-toggle="tab" href="#fichesservices">#}
                                {#Fiches d'intervention de mon service#}
                            {#</a>#}
                        {#</li>#}
                    {#{% endif %}#}
                </ul>
                <div class="tab-content" style="background-color: rgba(231, 231, 231, 0.38)">
                    {% if is_granted('ROLE_TECHNIQUE') == true %}
                        <div id="fichesattribuees" class="tab-pane in active ">
                            <div class="row" style="padding-right: 3%; padding-left: 3%" >
                                <div class="widget flat radius-bordered">
                                    <div class="widget-header bg-palegreen">
                                        <span class="widget-caption">Liste des fiches d'intervention</span>
                                        <div class="widget-buttons buttons-bordered">
                                            <button class="btn btn-purple btn-sm" onclick="window.location.href='{{ path
                                            ('planningfiches') }}'">
                                                Planning des tâches <i class="fa fa-calendar" ></i></button>
                                        </div>
                                        <div class="widget-buttons buttons-bordered">
                                            <button class="btn btn-azure btn-sm" onclick="window.location.href='{{ path
                                            ('ajouterficheintervention') }}'">Nouvelle fiche
                                                d'intervention</button>
                                        </div>
                                    </div>
                                    <div class="messageflasherror" style="color: #cd0000">
                                        {% for flashMessage in app.session.flashbag.get('notice') %}
                                            <p style="color: red"> <i class="fa fa-exclamation-triangle" ></i>  {{ flashMessage
                                                }}</p>
                                        {% endfor %}
                                    </div>
                                    <div class="widget-body">
                                        <div style="padding-left: 3%; padding-right: 3%">
                                            <table class="table table-bordered table-hover " id="searchable7" >
                                                <thead class="bordered-darkorange">
                                                <tr role="row">
                                                    <th></th>
                                                    <th >N°</th>
                                                    {#<th >Libellé</th>#}
                                                    <th >Demandeur</th>
                                                    <th >Service demandeur</th>
                                                    <th style="width: 11%" >Date de création</th>
                                                    <th >Service / Site / Ferme</th>
                                                    <th >Type d'intervention</th>
                                                    <th >Statut</th>
                                                    <th style="width: 11%" >Action</th>
                                                </tr>
                                                </thead>
                                                <tbody>
                                                {% for rs in fichesAttribuees %}
                                                    {% set i = rs.id %}
                                                    <tr>
                                                        <td>
                                                            <a href='{{ path
                                                            ('detailsficheintervention', {'id': rs.id}) }}'
                                                               style="color: #00C853 ">
                                                                Détails
                                                            </a>
                                                        </td>
                                                        <td>{{ rs.id }}</td>
                                                        {#<td>{{ rs.lIBELLE }}</td>#}
                                                        <td>{{ rs.eDITEURID }}</td>
                                                        <td>{{ rs.department }}</td>
                                                        {% if rs.dATECREATION == "" %}
                                                            <td></td>
                                                        {% else %}
                                                            <td>{{ rs.dATECREATION|date('d-m-Y') }}</td>
                                                        {% endif %}
                                                        <td>{{ rs.SERVICE }} / {{ rs.SITE }} / {{ rs.FERME }}  </td>
                                                        {% if rs.TYPEINTERVENTIONLIB == "MECANIQUE"  %}
                                                            <td style="font-weight: bold; color: #660000">{{ rs
                                                                .TYPEINTERVENTIONLIB
                                                                }}</td>
                                                        {% elseif rs.TYPEINTERVENTIONLIB == "SOUDURE"  %}
                                                            <td style="font-weight: bold; color: #0b6619">{{ rs
                                                                .TYPEINTERVENTIONLIB
                                                                }}</td>
                                                        {% elseif rs.TYPEINTERVENTIONLIB == "VULCANISATION"  %}
                                                            <td style="font-weight: bold; color: #142866">{{ rs
                                                                .TYPEINTERVENTIONLIB
                                                                }}</td>
                                                        {% elseif rs.TYPEINTERVENTIONLIB == "IRRIGATION"  %}
                                                            <td style="font-weight: bold; color: #661764">{{ rs
                                                                .TYPEINTERVENTIONLIB
                                                                }}</td>
                                                        {% elseif rs.TYPEINTERVENTIONLIB == "ELECTRICITE"  %}
                                                            <td style="font-weight: bold; color: #ff6e86">{{ rs
                                                                .TYPEINTERVENTIONLIB
                                                                }}</td>
                                                        {% elseif rs.TYPEINTERVENTIONLIB == "MENUISERIE"  %}
                                                            <td style="font-weight: bold; color: #ff9607">{{ rs
                                                                .TYPEINTERVENTIONLIB
                                                                }}</td>
                                                        {% elseif rs.TYPEINTERVENTIONLIB == "TRAVAUX D'ENTRETIEN"  %}
                                                            <td style="font-weight: bold; color: #08eeff">{{ rs
                                                                .TYPEINTERVENTIONLIB
                                                                }}</td>
                                                        {% endif %}
                                                        {% if rs.sTATUT == "ENVOYE" %}
                                                            <td style="color: blue">{{ rs.sTATUT }}</td>
                                                        {% elseif rs.sTATUT == "EN COURS" %}
                                                            <td style="color: maroon">{{ rs.sTATUT }}</td>
                                                        {% elseif rs.sTATUT == "REOUVERT" %}
                                                            <td style="color: orange">{{ rs.sTATUT }}</td>
                                                        {% else %}
                                                            <td style="color: #006400">{{ rs.sTATUT }}</td>
                                                        {% endif %}
                                                        <td>
                                                            {% if rs.sTATUT == "ENVOYE"  %}
                                                                <button class="btn btn-warning btn-sm" onclick="this
                                                                        .disabled=true; window.location.href='{{ path
                                                                ('modifierficheintervention', {'id': rs.id}) }}'">
                                                                    <i class="fa fa-pencil-square-o"></i> Modifier
                                                                </button>
                                                            {% elseif rs.sTATUT == "EN COURS" or rs.sTATUT == "REOUVERT" %}
                                                                <button class="btn btn-maroon btn-sm" onclick="this
                                                                        .disabled=true; window.location.href='{{ path
                                                                ('realiserficheintervention', {'id': rs.id}) }}'">
                                                                    <i class="fa fa-check-square-o"></i> Réaliser
                                                                </button>
                                                            {% endif %}
                                                        </td>
                                                    </tr>
                                                {% endfor%}
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div id="fiches" class="tab-pane ">
                            <div class="row" style="padding-right: 3%; padding-left: 3%" >
                                <div class="widget flat radius-bordered">
                                    <div class="widget-header bg-palegreen">
                                        <span class="widget-caption">Liste des fiches d'intervention</span>
                                        <div class="widget-buttons buttons-bordered">
                                            <button class="btn btn-azure btn-sm" onclick="window.location.href='{{ path
                                            ('ajouterficheintervention') }}'">Nouvelle fiche
                                                d'intervention</button>
                                        </div>
                                    </div>
                                    <div class="widget-body">
                                        <div style="padding-left: 3%; padding-right: 3%">
                                            <table class="table table-bordered table-hover " id="searchable4" >
                                                <thead class="bordered-darkorange">
                                                <tr role="row">
                                                    <th></th>
                                                    <th >N°</th>
                                                    {#<th >Libellé</th>#}
                                                    <th >Demandeur</th>
                                                    <th >Service demandeur</th>
                                                    <th style="width: 11%" >Date de création</th>
                                                    <th >Service / Site / Ferme</th>
                                                    <th >Type d'intervention</th>
                                                    <th >Statut</th>
                                                </tr>
                                                </thead>
                                                <tbody>
                                                {% for rs in ficheInterventions %}
                                                    {% set i = rs.id %}
                                                    <tr>
                                                        <td>
                                                            <a href='{{ path
                                                            ('detailsficheintervention', {'id': rs.id}) }}'
                                                               style="color: #00C853 ">
                                                                Détails
                                                            </a>
                                                        </td>
                                                        <td>{{ rs.id }}</td>
                                                        {#<td>{{ rs.lIBELLE }}</td>#}
                                                        <td>{{ rs.eDITEURID }}</td>
                                                        <td>{{ rs.department }}</td>
                                                        {% if rs.dATECREATION == "" %}
                                                            <td></td>
                                                        {% else %}
                                                            <td>{{ rs.dATECREATION|date('d-m-Y') }}</td>
                                                        {% endif %}
                                                        <td>{{ rs.SERVICE }} / {{ rs.SITE }} / {{ rs.FERME }}  </td>
                                                        {% if rs.TYPEINTERVENTIONLIB == "MECANIQUE"  %}
                                                            <td style="font-weight: bold; color: #660000">{{ rs
                                                                .TYPEINTERVENTIONLIB
                                                                }}</td>
                                                        {% elseif rs.TYPEINTERVENTIONLIB == "SOUDURE"  %}
                                                            <td style="font-weight: bold; color: #0b6619">{{ rs
                                                                .TYPEINTERVENTIONLIB
                                                                }}</td>
                                                        {% elseif rs.TYPEINTERVENTIONLIB == "VULCANISATION"  %}
                                                            <td style="font-weight: bold; color: #142866">{{ rs
                                                                .TYPEINTERVENTIONLIB
                                                                }}</td>
                                                        {% elseif rs.TYPEINTERVENTIONLIB == "IRRIGATION"  %}
                                                            <td style="font-weight: bold; color: #661764">{{ rs
                                                                .TYPEINTERVENTIONLIB
                                                                }}</td>
                                                        {% elseif rs.TYPEINTERVENTIONLIB == "ELECTRICITE"  %}
                                                            <td style="font-weight: bold; color: #ff6e86">{{ rs
                                                                .TYPEINTERVENTIONLIB
                                                                }}</td>
                                                        {% elseif rs.TYPEINTERVENTIONLIB == "MENUISERIE"  %}
                                                            <td style="font-weight: bold; color: #ff9607">{{ rs
                                                                .TYPEINTERVENTIONLIB
                                                                }}</td>
                                                        {% elseif rs.TYPEINTERVENTIONLIB == "TRAVAUX D'ENTRETIEN"  %}
                                                            <td style="font-weight: bold; color: #08eeff">{{ rs
                                                                .TYPEINTERVENTIONLIB
                                                                }}</td>
                                                        {% endif %}
                                                        {% if rs.sTATUT == "ENVOYE" %}
                                                            <td style="color: blue">{{ rs.sTATUT }}</td>
                                                        {% elseif rs.sTATUT == "EN COURS" %}
                                                            <td style="color: maroon">{{ rs.sTATUT }}</td>
                                                        {% elseif rs.sTATUT == "REOUVERT" %}
                                                            <td style="color: orange">{{ rs.sTATUT }}</td>
                                                        {% else %}
                                                            <td style="color: #006400">{{ rs.sTATUT }}</td>
                                                        {% endif %}
                                                    </tr>
                                                {% endfor%}
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div id="mesfiches" class="tab-pane ">
                            <div class="row" style="padding-right: 3%; padding-left: 3%" >
                                <div class="widget flat radius-bordered">
                                    <div class="widget-header bg-palegreen">
                                        <span class="widget-caption">Liste des fiches d'intervention</span>
                                        <div class="widget-buttons buttons-bordered">
                                            <button class="btn btn-azure btn-sm" onclick="window.location.href='{{ path
                                            ('ajouterficheintervention') }}'">Nouvelle fiche
                                                d'intervention</button>
                                        </div>
                                    </div>
                                    <div class="widget-body">
                                        <div style="padding-left: 3%; padding-right: 3%">
                                            <table class="table table-bordered table-hover " id="searchable3" >
                                                <thead class="bordered-darkorange">
                                                <tr role="row">
                                                    <th></th>
                                                    <th >N°</th>
                                                    {#<th >Libellé</th>#}
                                                    <th >Demandeur</th>
                                                    <th >Service demandeur</th>
                                                    <th style="width: 11%" >Date de création</th>
                                                    <th >Service / Site / Ferme</th>
                                                    <th >Type d'intervention</th>
                                                    <th >Statut</th>
                                                    <th style="width: 11%" >Action</th>
                                                </tr>
                                                </thead>
                                                <tbody>
                                                {% for rs in mesFichesInterventions %}
                                                    {% set i = rs.id %}
                                                    <tr>
                                                        <td>
                                                            <a href='{{ path
                                                            ('detailsficheintervention', {'id': rs.id}) }}'
                                                               style="color: #00C853 ">
                                                                Détails
                                                            </a>
                                                        </td>
                                                        <td>{{ rs.id }}</td>
                                                        {#<td>{{ rs.lIBELLE }}</td>#}
                                                        <td>{{ rs.eDITEURID }}</td>
                                                        <td>{{ rs.department }}</td>
                                                        {% if rs.dATECREATION == "" %}
                                                            <td></td>
                                                        {% else %}
                                                            <td>{{ rs.dATECREATION|date('d-m-Y') }}</td>
                                                        {% endif %}
                                                        <td>{{ rs.SERVICE }} / {{ rs.SITE }} / {{ rs.FERME }}  </td>
                                                        {% if rs.TYPEINTERVENTIONLIB == "MECANIQUE"  %}
                                                            <td style="font-weight: bold; color: #660000">{{ rs
                                                                .TYPEINTERVENTIONLIB
                                                                }}</td>
                                                        {% elseif rs.TYPEINTERVENTIONLIB == "SOUDURE"  %}
                                                            <td style="font-weight: bold; color: #0b6619">{{ rs
                                                                .TYPEINTERVENTIONLIB
                                                                }}</td>
                                                        {% elseif rs.TYPEINTERVENTIONLIB == "VULCANISATION"  %}
                                                            <td style="font-weight: bold; color: #142866">{{ rs
                                                                .TYPEINTERVENTIONLIB
                                                                }}</td>
                                                        {% elseif rs.TYPEINTERVENTIONLIB == "IRRIGATION"  %}
                                                            <td style="font-weight: bold; color: #661764">{{ rs
                                                                .TYPEINTERVENTIONLIB
                                                                }}</td>
                                                        {% elseif rs.TYPEINTERVENTIONLIB == "ELECTRICITE"  %}
                                                            <td style="font-weight: bold; color: #ff6e86">{{ rs
                                                                .TYPEINTERVENTIONLIB
                                                                }}</td>
                                                        {% elseif rs.TYPEINTERVENTIONLIB == "MENUISERIE"  %}
                                                            <td style="font-weight: bold; color: #ff9607">{{ rs
                                                                .TYPEINTERVENTIONLIB
                                                                }}</td>
                                                        {% elseif rs.TYPEINTERVENTIONLIB == "TRAVAUX D'ENTRETIEN"  %}
                                                            <td style="font-weight: bold; color: #08eeff">{{ rs
                                                                .TYPEINTERVENTIONLIB
                                                                }}</td>
                                                        {% endif %}
                                                        {% if rs.sTATUT == "EN CREATION" %}
                                                            <td style="color: hotpink">{{ rs.sTATUT }}</td>
                                                        {% elseif rs.sTATUT == "ENVOYE" %}
                                                            <td style="color: blue">{{ rs.sTATUT }}</td>
                                                        {% elseif rs.sTATUT == "EN COURS" %}
                                                            <td style="color: maroon">{{ rs.sTATUT }}</td>
                                                        {% elseif rs.sTATUT == "REOUVERT" %}
                                                            <td style="color: orange">{{ rs.sTATUT }}</td>
                                                        {% else %}
                                                            <td style="color: #006400">{{ rs.sTATUT }}</td>
                                                        {% endif %}
                                                        <td>
                                                            {% if rs.sTATUT == "EN CREATION" %}
                                                                <button id="supfiche" class="btn btn-danger btn-sm"
                                                                        onclick="supprimerfiche({{rs.id }})">
                                                                    <i class="fa fa-trash"></i> Supprimer
                                                                </button>
                                                                <button class="btn btn-warning btn-sm" onclick="this
                                                                        .disabled=true; window.location.href='{{ path
                                                                ('modifierficheintervention', {'id': rs.id}) }}'">
                                                                    <i class="fa fa-pencil-square-o"></i> Modifier
                                                                </button>
                                                            {% elseif rs.sTATUT == "CLOTURE" %}
                                                                {% if rs.REACTIVEPAR ==
                                                                null %}
                                                                    {% if rs['nbJours']  <= 2 %}
                                                                        <button class="btn btn-darkorange btn-sm"
                                                                                id="buttonreactiv"
                                                                                onclick="openmodalreopenfiche({{rs.id }})">
                                                                            <i class="fa fa-folder-open"></i> Réactiver
                                                                        </button>
                                                                    {% endif %}
                                                                {% endif %}
                                                            {% endif %}
                                                        </td>
                                                    </tr>
                                                {% endfor%}
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% else %}
                        <div id="mesfiches" class="tab-pane in active ">
                            <div class="row" style="padding-right: 3%; padding-left: 3%" >
                                <div class="widget flat radius-bordered">
                                    <div class="widget-header bg-palegreen">
                                        <span class="widget-caption">Liste des fiches d'intervention</span>
                                        <div class="widget-buttons buttons-bordered">
                                            <button class="btn btn-azure btn-sm" onclick="window.location.href='{{ path
                                            ('ajouterficheintervention') }}'">Nouvelle fiche
                                                d'intervention</button>
                                        </div>
                                    </div>
                                    <div class="widget-body">
                                        <div class="messageflasherror" style="color: #cd0000">
                                            {% for flashMessage in app.session.flashbag.get('notice') %}
                                                <p style="color: red"> <i class="fa fa-exclamation-triangle" ></i>  {{ flashMessage
                                                    }}</p>
                                            {% endfor %}
                                        </div>
                                        <div style="padding-left: 3%; padding-right: 3%">
                                            <table class="table table-bordered table-hover " id="searchable7" >
                                                <thead class="bordered-darkorange">
                                                <tr role="row">
                                                    <th></th>
                                                    <th >N°</th>
                                                    {#<th >Libellé</th>#}
                                                    <th >Demandeur</th>
                                                    <th >Service demandeur</th>
                                                    <th style="width: 11%" >Date de création</th>
                                                    <th >Service / Site / Ferme</th>
                                                    <th >Type d'intervention</th>
                                                    <th >Statut</th>
                                                    <th style="width: 11%" >Action</th>
                                                </tr>
                                                </thead>
                                                <tbody>
                                                {% for rs in mesFichesInterventions %}
                                                    {% set i = rs.id %}
                                                    <tr>
                                                        <td>
                                                            <a href='{{ path
                                                            ('detailsficheintervention', {'id': rs.id}) }}'
                                                               style="color: #00C853 ">
                                                            Détails
                                                            </a>
                                                        </td>
                                                        <td>{{ rs.id }}</td>
                                                        {#<td>{{ rs.lIBELLE }}</td>#}
                                                        <td>{{ rs.eDITEURID }}</td>
                                                        <td>{{ rs.department }} </td>
                                                        {% if rs.dATECREATION == "" %}
                                                            <td></td>
                                                        {% else %}
                                                            <td>{{ rs.dATECREATION|date('d-m-Y') }}</td>
                                                        {% endif %}
                                                        <td>{{ rs.SERVICE }} / {{ rs.SITE }} / {{ rs.FERME }}  </td>
                                                        {% if rs.TYPEINTERVENTIONLIB == "MECANIQUE"  %}
                                                            <td style="font-weight: bold; color: #660000">{{ rs
                                                                .TYPEINTERVENTIONLIB
                                                                }}</td>
                                                        {% elseif rs.TYPEINTERVENTIONLIB == "SOUDURE"  %}
                                                            <td style="font-weight: bold; color: #0b6619">{{ rs
                                                                .TYPEINTERVENTIONLIB
                                                                }}</td>
                                                        {% elseif rs.TYPEINTERVENTIONLIB == "VULCANISATION"  %}
                                                            <td style="font-weight: bold; color: #142866">{{ rs
                                                                .TYPEINTERVENTIONLIB
                                                                }}</td>
                                                        {% elseif rs.TYPEINTERVENTIONLIB == "IRRIGATION"  %}
                                                            <td style="font-weight: bold; color: #661764">{{ rs
                                                                .TYPEINTERVENTIONLIB
                                                                }}</td>
                                                        {% elseif rs.TYPEINTERVENTIONLIB == "ELECTRICITE"  %}
                                                            <td style="font-weight: bold; color: #ff6e86">{{ rs
                                                                .TYPEINTERVENTIONLIB
                                                                }}</td>
                                                        {% elseif rs.TYPEINTERVENTIONLIB == "MENUISERIE"  %}
                                                            <td style="font-weight: bold; color: #ff9607">{{ rs
                                                                .TYPEINTERVENTIONLIB
                                                                }}</td>
                                                        {% elseif rs.TYPEINTERVENTIONLIB == "TRAVAUX D'ENTRETIEN"  %}
                                                            <td style="font-weight: bold; color: #08eeff">{{ rs
                                                                .TYPEINTERVENTIONLIB
                                                                }}</td>
                                                        {% endif %}
                                                        {% if rs.sTATUT == "EN CREATION" %}
                                                            <td style="color: hotpink">{{ rs.sTATUT }}</td>
                                                        {% elseif rs.sTATUT == "ENVOYE" %}
                                                            <td style="color: blue">{{ rs.sTATUT }}</td>
                                                        {% elseif rs.sTATUT == "EN COURS" %}
                                                            <td style="color: maroon">{{ rs.sTATUT }}</td>
                                                        {% elseif rs.sTATUT == "REOUVERT" %}
                                                            <td style="color: orange">{{ rs.sTATUT }}</td>
                                                        {% else %}
                                                            <td style="color: #006400">{{ rs.sTATUT }}</td>
                                                        {% endif %}
                                                        <td>
                                                            {% if rs.sTATUT == "EN CREATION"  %}
                                                                <button id="supfiche" class="btn btn-danger btn-sm"
                                                                        onclick="supprimerfiche({{rs.id }})">
                                                                    <i class="fa fa-trash"></i> Supprimer
                                                                </button>
                                                                <button class="btn btn-warning btn-sm" onclick="this
                                                                        .disabled=true; window.location.href='{{ path
                                                                ('modifierficheintervention', {'id': rs.id}) }}'">
                                                                    <i class="fa fa-pencil-square-o"></i> Modifier
                                                                </button>
                                                            {% elseif rs.sTATUT == "CLOTURE" %}
                                                                {% if rs.REACTIVEPAR ==
                                                                null %}
                                                                    {% if rs['nbJours']  <= 2 %}
                                                                        <button class="btn btn-darkorange btn-sm" id="buttonreactiv"
                                                                                onclick="openmodalreopenfiche({{rs.id }})">
                                                                            <i class="fa fa-folder-open"></i> Réactiver
                                                                        </button>
                                                                    {% endif %}
                                                                {% endif %}
                                                            {% endif %}
                                                        </td>
                                                    </tr>
                                                {% endfor%}
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div id="fichessite" class="tab-pane">
                            <div class="row" style="padding-right: 3%; padding-left: 3%" >
                                <div class="widget flat radius-bordered">
                                    <div class="widget-header bg-palegreen">
                                        <span class="widget-caption">Liste des fiches d'intervention de mon site</span>
                                        <div class="widget-buttons buttons-bordered">
                                            <button class="btn btn-azure btn-sm" onclick="window.location.href='{{ path
                                            ('ajouterficheintervention') }}'">Nouvelle fiche
                                                d'intervention</button>
                                        </div>
                                    </div>
                                    <div class="messageflasherror" style="color: #cd0000">
                                        {% for flashMessage in app.session.flashbag.get('notice') %}
                                            <p style="color: red"> <i class="fa fa-exclamation-triangle" ></i>  {{ flashMessage
                                                }}</p>
                                        {% endfor %}
                                    </div>
                                    <div class="widget-body">
                                        <div style="padding-left: 3%; padding-right: 3%">
                                            <table class="table table-bordered table-hover " id="searchable2" >
                                                <thead class="bordered-darkorange">
                                                <tr role="row">
                                                    <th></th>
                                                    <th >N°</th>
                                                    {#<th >Libellé</th>#}
                                                    <th >Demandeur</th>
                                                    <th >Service demandeur</th>
                                                    <th style="width: 10%" >Date de création</th>
                                                    <th >Service / Site / Ferme</th>
                                                    <th >Type d'intervention</th>
                                                    <th >Statut</th>
                                                </tr>
                                                </thead>
                                                <tbody>
                                                {% for rs in ficheInterventionsSite %}
                                                    {% set i = rs.id %}
                                                    <tr>
                                                        <td>
                                                            <a href='{{ path
                                                            ('detailsficheintervention', {'id': rs.id}) }}'
                                                               style="color: #00C853 ">
                                                                Détails
                                                            </a>
                                                        </td>
                                                        <td>{{ rs.id }}</td>
                                                        {#<td>{{ rs.lIBELLE }}</td>#}
                                                        <td>{{ rs.eDITEURID }}</td>
                                                        <td>{{ rs.department }}</td>
                                                        {% if rs.dATECREATION == "" %}
                                                            <td></td>
                                                        {% else %}
                                                            <td>{{ rs.dATECREATION|date('d-m-Y') }}</td>
                                                        {% endif %}
                                                        <td>{{ rs.SERVICE }} / {{ rs.SITE }} / {{ rs.FERME }}  </td>
                                                        {% if rs.TYPEINTERVENTIONLIB == "MECANIQUE"  %}
                                                            <td style="font-weight: bold; color: #660000">{{ rs
                                                                .TYPEINTERVENTIONLIB
                                                                }}</td>
                                                        {% elseif rs.TYPEINTERVENTIONLIB == "SOUDURE"  %}
                                                            <td style="font-weight: bold; color: #0b6619">{{ rs
                                                                .TYPEINTERVENTIONLIB
                                                                }}</td>
                                                        {% elseif rs.TYPEINTERVENTIONLIB == "VULCANISATION"  %}
                                                            <td style="font-weight: bold; color: #142866">{{ rs
                                                                .TYPEINTERVENTIONLIB
                                                                }}</td>
                                                        {% elseif rs.TYPEINTERVENTIONLIB == "IRRIGATION"  %}
                                                            <td style="font-weight: bold; color: #661764">{{ rs
                                                                .TYPEINTERVENTIONLIB
                                                                }}</td>
                                                        {% elseif rs.TYPEINTERVENTIONLIB == "ELECTRICITE"  %}
                                                            <td style="font-weight: bold; color: #ff6e86">{{ rs
                                                                .TYPEINTERVENTIONLIB
                                                                }}</td>
                                                        {% elseif rs.TYPEINTERVENTIONLIB == "MENUISERIE"  %}
                                                            <td style="font-weight: bold; color: #ff9607">{{ rs
                                                                .TYPEINTERVENTIONLIB
                                                                }}</td>
                                                        {% elseif rs.TYPEINTERVENTIONLIB == "TRAVAUX D'ENTRETIEN"  %}
                                                            <td style="font-weight: bold; color: #08eeff">{{ rs
                                                                .TYPEINTERVENTIONLIB
                                                                }}</td>
                                                        {% endif %}
                                                        {% if rs.sTATUT == "ENVOYE" %}
                                                            <td style="color: blue">{{ rs.sTATUT }}</td>
                                                        {% elseif rs.sTATUT == "EN COURS"%}
                                                            <td style="color: maroon">{{ rs.sTATUT }}</td>
                                                        {% elseif rs.sTATUT == "REOUVERT" %}
                                                            <td style="color: orange">{{ rs.sTATUT }}</td>
                                                        {% else %}
                                                            <td style="color: #006400">{{ rs.sTATUT }}</td>
                                                        {% endif %}
                                                    </tr>
                                                {% endfor%}
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {% if is_granted('ROLE_ADMIN') == true %}
                            <div id="fiches" class="tab-pane ">
                                <div class="row" style="padding-right: 3%; padding-left: 3%" >
                                    <div class="widget flat radius-bordered">
                                        <div class="widget-header bg-palegreen">
                                            <span class="widget-caption">Liste des fiches d'intervention</span>
                                            <div class="widget-buttons buttons-bordered">
                                                <button class="btn btn-azure btn-sm" onclick="window.location.href='{{ path
                                                ('ajouterficheintervention') }}'">Nouvelle fiche
                                                    d'intervention</button>
                                            </div>
                                        </div>
                                        <div class="widget-body">
                                            <div style="padding-left: 3%; padding-right: 3%">
                                                <table class="table table-bordered table-hover " id="searchable4" >
                                                    <thead class="bordered-darkorange">
                                                    <tr role="row">
                                                        <th></th>
                                                        <th >N°</th>
                                                        {#<th >Libellé</th>#}
                                                        <th >Demandeur</th>
                                                        <th >Service demandeur</th>
                                                        <th style="width: 11%" >Date de création</th>
                                                        <th >Service / Site / Ferme</th>
                                                        <th >Type d'intervention</th>
                                                        <th >Statut</th>
                                                    </tr>
                                                    </thead>
                                                    <tbody>
                                                    {% for rs in ficheInterventions %}
                                                        {% set i = rs.id %}
                                                        <tr>
                                                            <td>
                                                                <a href='{{ path
                                                                ('detailsficheintervention', {'id': rs.id}) }}'
                                                                   style="color: #00C853 ">
                                                                    Détails
                                                                </a>
                                                            </td>
                                                            <td>{{ rs.id }}</td>
                                                            {#<td>{{ rs.lIBELLE }}</td>#}
                                                            <td>{{ rs.eDITEURID }}</td>
                                                            <td>{{ rs.department }}</td>
                                                            {% if rs.dATECREATION == "" %}
                                                                <td></td>
                                                            {% else %}
                                                                <td>{{ rs.dATECREATION|date('d-m-Y') }}</td>
                                                            {% endif %}
                                                            <td>{{ rs.SERVICE }} / {{ rs.SITE }} / {{ rs.FERME }}  </td>
                                                            {% if rs.TYPEINTERVENTIONLIB == "MECANIQUE"  %}
                                                                <td style="font-weight: bold; color: #660000">{{ rs
                                                                    .TYPEINTERVENTIONLIB
                                                                    }}</td>
                                                            {% elseif rs.TYPEINTERVENTIONLIB == "SOUDURE"  %}
                                                                <td style="font-weight: bold; color: #0b6619">{{ rs
                                                                    .TYPEINTERVENTIONLIB
                                                                    }}</td>
                                                            {% elseif rs.TYPEINTERVENTIONLIB == "VULCANISATION"  %}
                                                                <td style="font-weight: bold; color: #142866">{{ rs
                                                                    .TYPEINTERVENTIONLIB
                                                                    }}</td>
                                                            {% elseif rs.TYPEINTERVENTIONLIB == "IRRIGATION"  %}
                                                                <td style="font-weight: bold; color: #661764">{{ rs
                                                                    .TYPEINTERVENTIONLIB
                                                                    }}</td>
                                                            {% elseif rs.TYPEINTERVENTIONLIB == "ELECTRICITE"  %}
                                                                <td style="font-weight: bold; color: #ff6e86">{{ rs
                                                                    .TYPEINTERVENTIONLIB
                                                                    }}</td>
                                                            {% elseif rs.TYPEINTERVENTIONLIB == "MENUISERIE"  %}
                                                                <td style="font-weight: bold; color: #ff9607">{{ rs
                                                                    .TYPEINTERVENTIONLIB
                                                                    }}</td>
                                                            {% elseif rs.TYPEINTERVENTIONLIB == "TRAVAUX D'ENTRETIEN"  %}
                                                                <td style="font-weight: bold; color: #08eeff">{{ rs
                                                                    .TYPEINTERVENTIONLIB
                                                                    }}</td>
                                                            {% endif %}
                                                            {% if rs.sTATUT == "ENVOYE" %}
                                                                <td style="color: blue">{{ rs.sTATUT }}</td>
                                                            {% elseif rs.sTATUT == "EN COURS" %}
                                                                <td style="color: maroon">{{ rs.sTATUT }}</td>
                                                            {% elseif rs.sTATUT == "REOUVERT" %}
                                                                <td style="color: orange">{{ rs.sTATUT }}</td>
                                                            {% else %}
                                                                <td style="color: #006400">{{ rs.sTATUT }}</td>
                                                            {% endif %}
                                                        </tr>
                                                    {% endfor%}
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endif %}
                        <div id="fichesservices" class="tab-pane">
                            <div class="row" style="padding-right: 3%; padding-left: 3%" >
                                <div class="widget flat radius-bordered">
                                    <div class="widget-header bg-palegreen">
                                        <span class="widget-caption">Liste des fiches d'intervention du service</span>
                                        <div class="widget-buttons buttons-bordered">
                                            <button class="btn btn-azure btn-sm" onclick="window.location.href='{{ path
                                            ('ajouterficheintervention') }}'">Nouvelle fiche
                                                d'intervention</button>
                                        </div>
                                    </div>
                                    <div class="messageflasherror" style="color: #cd0000">
                                        {% for flashMessage in app.session.flashbag.get('notice') %}
                                            <p style="color: red"> <i class="fa fa-exclamation-triangle" ></i>  {{ flashMessage
                                                }}</p>
                                        {% endfor %}
                                    </div>
                                    <div class="widget-body">
                                        <div style="padding-left: 3%; padding-right: 3%">
                                            <table class="table table-bordered table-hover " id="searchable6" >
                                                <thead class="bordered-darkorange">
                                                <tr role="row">
                                                    <th></th>
                                                    <th >N°</th>
                                                    {#<th >Libellé</th>#}
                                                    <th >Demandeur</th>
                                                    <th >Service demandeur</th>
                                                    <th style="width: 10%" >Date de création</th>
                                                    <th >Service / Site / Ferme</th>
                                                    <th >Type d'intervention</th>
                                                    <th >Statut</th>
                                                </tr>
                                                </thead>
                                                <tbody>
                                                {% for rs in ficheInterventionsServices %}
                                                    {% set i = rs.id %}
                                                    <tr>
                                                        <td>
                                                            <a href='{{ path
                                                            ('detailsficheintervention', {'id': rs.id}) }}'
                                                               style="color: #00C853 ">
                                                                Détails
                                                            </a>
                                                        </td>
                                                        <td>{{ rs.id }}</td>
                                                        {#<td>{{ rs.lIBELLE }}</td>#}
                                                        <td>{{ rs.eDITEURID }}</td>
                                                        <td>{{ rs.department }}</td>
                                                        {% if rs.dATECREATION == "" %}
                                                            <td></td>
                                                        {% else %}
                                                            <td>{{ rs.dATECREATION|date('d-m-Y') }}</td>
                                                        {% endif %}
                                                        <td>{{ rs.SERVICE }} / {{ rs.SITE }} / {{ rs.FERME }}  </td>
                                                        {% if rs.TYPEINTERVENTIONLIB == "MECANIQUE"  %}
                                                            <td style="font-weight: bold; color: #660000">{{ rs
                                                                .TYPEINTERVENTIONLIB
                                                                }}</td>
                                                        {% elseif rs.TYPEINTERVENTIONLIB == "SOUDURE"  %}
                                                            <td style="font-weight: bold; color: #0b6619">{{ rs
                                                                .TYPEINTERVENTIONLIB
                                                                }}</td>
                                                        {% elseif rs.TYPEINTERVENTIONLIB == "VULCANISATION"  %}
                                                            <td style="font-weight: bold; color: #142866">{{ rs
                                                                .TYPEINTERVENTIONLIB
                                                                }}</td>
                                                        {% elseif rs.TYPEINTERVENTIONLIB == "IRRIGATION"  %}
                                                            <td style="font-weight: bold; color: #661764">{{ rs
                                                                .TYPEINTERVENTIONLIB
                                                                }}</td>
                                                        {% elseif rs.TYPEINTERVENTIONLIB == "ELECTRICITE"  %}
                                                            <td style="font-weight: bold; color: #ff6e86">{{ rs
                                                                .TYPEINTERVENTIONLIB
                                                                }}</td>
                                                        {% elseif rs.TYPEINTERVENTIONLIB == "MENUISERIE"  %}
                                                            <td style="font-weight: bold; color: #ffe91e">{{ rs
                                                                .TYPEINTERVENTIONLIB
                                                                }}</td>
                                                        {% elseif rs.TYPEINTERVENTIONLIB == "TRAVAUX D'ENTRETIEN"  %}
                                                            <td style="font-weight: bold; color: #08eeff">{{ rs
                                                                .TYPEINTERVENTIONLIB
                                                                }}</td>
                                                        {% endif %}
                                                        {% if rs.sTATUT == "ENVOYE" %}
                                                            <td style="color: blue">{{ rs.sTATUT }}</td>
                                                        {% elseif rs.sTATUT == "EN COURS"%}
                                                            <td style="color: maroon">{{ rs.sTATUT }}</td>
                                                        {% elseif rs.sTATUT == "REOUVERT" %}
                                                            <td style="color: orange">{{ rs.sTATUT }}</td>
                                                        {% else %}
                                                            <td style="color: #006400">{{ rs.sTATUT }}</td>
                                                        {% endif %}
                                                    </tr>
                                                {% endfor%}
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endif %}
                    {#{% if is_granted('ROLE_CHEFSERVICE') == true %}#}
                        {#<div id="fichesservices" class="tab-pane">#}
                            {#<div class="row" style="padding-right: 3%; padding-left: 3%" >#}
                                {#<div class="widget flat radius-bordered">#}
                                    {#<div class="widget-header bg-palegreen">#}
                                        {#<span class="widget-caption">Liste des fiches d'intervention du service</span>#}
                                        {#<div class="widget-buttons buttons-bordered">#}
                                            {#<button class="btn btn-azure btn-sm" onclick="window.location.href='{{ path#}
                                            {#('ajouterficheintervention') }}'">Nouvelle fiche#}
                                                {#d'intervention</button>#}
                                        {#</div>#}
                                    {#</div>#}
                                    {#<div class="messageflasherror" style="color: #cd0000">#}
                                        {#{% for flashMessage in app.session.flashbag.get('notice') %}#}
                                            {#<p style="color: red"> <i class="fa fa-exclamation-triangle" ></i>  {{ flashMessage#}
                                                {#}}</p>#}
                                        {#{% endfor %}#}
                                    {#</div>#}
                                    {#<div class="widget-body">#}
                                        {#<div style="padding-left: 3%; padding-right: 3%">#}
                                            {#<table class="table table-bordered table-hover " id="searchable6" >#}
                                                {#<thead class="bordered-darkorange">#}
                                                {#<tr role="row">#}
                                                    {#<th></th>#}
                                                    {#<th >N°</th>#}
                                                    {#&#123;&#35;<th >Libellé</th>&#35;&#125;#}
                                                    {#<th >Demandeur</th>#}
                                                    {#<th >Service demandeur</th>#}
                                                    {#<th style="width: 10%" >Date de création</th>#}
                                                    {#<th >Service / Site / Ferme</th>#}
                                                    {#<th >Type d'intervention</th>#}
                                                    {#<th >Statut</th>#}
                                                {#</tr>#}
                                                {#</thead>#}
                                                {#<tbody>#}
                                                {#{% for rs in ficheInterventionsServices %}#}
                                                    {#{% set i = rs.id %}#}
                                                    {#<tr>#}
                                                        {#<td>#}
                                                            {#<a href='{{ path#}
                                                            {#('detailsficheintervention', {'id': rs.id}) }}'#}
                                                               {#style="color: #00C853 ">#}
                                                                {#Détails#}
                                                            {#</a>#}
                                                        {#</td>#}
                                                        {#<td>{{ rs.id }}</td>#}
                                                        {#&#123;&#35;<td>{{ rs.lIBELLE }}</td>&#35;&#125;#}
                                                        {#<td>{{ rs.eDITEURID }}</td>#}
                                                        {#<td>{{ rs.department }}</td>#}
                                                        {#{% if rs.dATECREATION == "" %}#}
                                                            {#<td></td>#}
                                                        {#{% else %}#}
                                                            {#<td>{{ rs.dATECREATION|date('d-m-Y') }}</td>#}
                                                        {#{% endif %}#}
                                                        {#<td>{{ rs.SERVICE }} / {{ rs.SITE }} / {{ rs.FERME }}  </td>#}
                                                        {#{% if rs.TYPEINTERVENTIONLIB == "MECANIQUE"  %}#}
                                                            {#<td style="font-weight: bold; color: #660000">{{ rs#}
                                                                {#.TYPEINTERVENTIONLIB#}
                                                                {#}}</td>#}
                                                        {#{% elseif rs.TYPEINTERVENTIONLIB == "SOUDURE"  %}#}
                                                            {#<td style="font-weight: bold; color: #0b6619">{{ rs#}
                                                                {#.TYPEINTERVENTIONLIB#}
                                                                {#}}</td>#}
                                                        {#{% elseif rs.TYPEINTERVENTIONLIB == "VULCANISATION"  %}#}
                                                            {#<td style="font-weight: bold; color: #142866">{{ rs#}
                                                                {#.TYPEINTERVENTIONLIB#}
                                                                {#}}</td>#}
                                                        {#{% elseif rs.TYPEINTERVENTIONLIB == "IRRIGATION"  %}#}
                                                            {#<td style="font-weight: bold; color: #661764">{{ rs#}
                                                                {#.TYPEINTERVENTIONLIB#}
                                                                {#}}</td>#}
                                                        {#{% elseif rs.TYPEINTERVENTIONLIB == "ELECTRICITE"  %}#}
                                                            {#<td style="font-weight: bold; color: #ff6e86">{{ rs#}
                                                                {#.TYPEINTERVENTIONLIB#}
                                                                {#}}</td>#}
                                                        {#{% elseif rs.TYPEINTERVENTIONLIB == "MENUISERIE"  %}#}
                                                            {#<td style="font-weight: bold; color: #ffe91e">{{ rs#}
                                                                {#.TYPEINTERVENTIONLIB#}
                                                                {#}}</td>#}
                                                        {#{% elseif rs.TYPEINTERVENTIONLIB == "TRAVAUX D'ENTRETIEN"  %}#}
                                                            {#<td style="font-weight: bold; color: #08eeff">{{ rs#}
                                                                {#.TYPEINTERVENTIONLIB#}
                                                                {#}}</td>#}
                                                        {#{% endif %}#}
                                                        {#{% if rs.sTATUT == "ENVOYE" %}#}
                                                            {#<td style="color: blue">{{ rs.sTATUT }}</td>#}
                                                        {#{% elseif rs.sTATUT == "EN COURS"%}#}
                                                            {#<td style="color: maroon">{{ rs.sTATUT }}</td>#}
                                                        {#{% elseif rs.sTATUT == "REOUVERT" %}#}
                                                            {#<td style="color: orange">{{ rs.sTATUT }}</td>#}
                                                        {#{% else %}#}
                                                            {#<td style="color: #006400">{{ rs.sTATUT }}</td>#}
                                                        {#{% endif %}#}
                                                    {#</tr>#}
                                                {#{% endfor%}#}
                                                {#</tbody>#}
                                            {#</table>#}
                                        {#</div>#}
                                    {#</div>#}
                                {#</div>#}
                            {#</div>#}
                        {#</div>#}
                    {#{% endif %}#}
                </div>
            </div>
        </div>
    </div>
{% endblock %}