<page backtop="20mm">
    <page_header>
        <table style="width: 100%; border-collapse: collapse; border: 1px solid black; table-layout: fixed">
            <tr>
                <td style="width: 50%; " >
                    <img src="{{ asset('http://localhost/pgiweb/web/images/logoSCL-mais.png')}}"  style="max-width: 30%;
                    height: auto; ">
                </td>
                <td style="width: 50%; text-align: right; color: #00632E; font-weight: bold " >
                    {{ ficheintervention['dATEDIFFUSION'] |date
                    ('d/m/Y') }}
                </td>
            </tr>
        </table>
    </page_header>
    <div align="center">
        <h2 style="color: #00632E">FICHE D'INTERVENTION N° <b>{{ ficheintervention['id'] }} &nbsp;&nbsp;(Cloturé)
            </b>
        </h2>
    </div>
    <br>
    <table style="width: 100%; border-collapse: collapse; border: 1px solid black; table-layout: fixed">
        <tr>
            <td>
                <table style="width: 100%; border-collapse: collapse; border: 1px solid black; table-layout: fixed">
                    <tr>
                        <td style="width: 100%; border: 1px solid black; text-align: center; background:
                        #7AB51D">
                            <h2>{{ ficheintervention['lIBELLE'] }}</h2>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr>
            <td>
                <table style="width: 100%; border-collapse: collapse; border: 1px solid black; table-layout: fixed">
                    <tr style="background:#f6f6f6 ">
                        <td  style="width: 33%; border: 1px solid black; text-align: justify; padding-right: 10px" >
                            <h4 style="text-align: center; text-decoration: underline; padding-bottom: -15px">Demandeur
                            </h4>
                            <p style="padding-left: 10px; padding-bottom: -15px; ">Nom : <b style="color:
                            #00632E;">{{
                                    ficheintervention['EDITEUR'] }}</b></p>
                            <br>
                            <p style="padding-left: 10px; padding-bottom: -15px; padding-top: -15px">Service : <b
                                        style="color:
                            #00632E;">{{userdepartement}}</b></p>
                            <br>
                        </td>
                        <td  style="width: 33%; border: 1px solid black; text-align: justify; padding-right: 10px" >
                            <h4 style="text-align: center; text-decoration: underline; padding-bottom: -15px ">Recepteur
                            </h4>
                            <p style="padding-bottom: -15px; padding-top: -15px; padding-left: 10px">Service : <b style="color:
                            #00632E;">{{ ficheintervention['SERVICE'] }}</b></p>
                            <br>
                        </td>
                        <td  style="width: 34%; border: 1px solid black; text-align: justify" >
                            <p style="padding-left: 10px; padding-bottom: -15px">Site : <b style="color:
                            #00632E;">{{
                                    ficheintervention['SITE'] }}</b></p>
                            <p style="padding-left: 10px; padding-bottom: -15px">Type d'intervention : <b style="color:
                            #00632E;">{{
                                    ficheintervention['TYPEINTERVENTIONLIB'] }} -
                                    {{ ficheintervention['TYPEINTERVENTIONRES'] }} </b></p>
                            <p style="padding-left: 10px; padding-bottom: -15px">Date de création : <b style="color:
                            #00632E;">{{ ficheintervention['dATECREATION'] |date('d/m/Y') }}</b></p>
                            <br>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr>
            <td>
                <table style="width: 100%; border-collapse: collapse; border: 1px solid black; table-layout: fixed">
                    <tr style="background:#f6f6f6 ">
                        <td  style="width: 40%; border: 1px solid black; text-align: justify" >
                            <p style="padding-bottom: -15px">&nbsp;&nbsp;&nbsp;&nbsp;Début travaux :  <b style="color:
                            #00632E;">{{ ficheintervention['DATEDEBUT'] | date('d/m/Y') }}</b> </p>
                            <p style="padding-bottom: -15px">&nbsp;&nbsp;&nbsp;&nbsp;Fin travaux : <b style="color:
                            #00632E;">{{ ficheintervention['DATEFIN'] | date('d/m/Y') }}</b></p>
                            {#<p  style="padding-bottom: -15px">&nbsp;&nbsp;&nbsp;&nbsp;Durée travaux : <b style="color:#}
                            {##00632E;">{{ ficheintervention['DUREE'] }}</b> </p>#}
                            <br>
                        </td>
                        <td  style="width: 60%; border: 1px solid black; text-align: justify" >
                            <h4 style="text-align: center; text-decoration: underline;  border-bottom-width:2px
                            ">Observations : </h4>
                            <p style="padding-bottom: -15px">&nbsp;&nbsp;&nbsp;&nbsp;<b style="color:
                            #00632E;">{{ ficheintervention['OBSERVATIONS'] }}</b> </p>
                            <br>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
    <br><br>
    <table style="width: 100%; border-collapse: collapse; border: 1px solid black; table-layout: fixed">
        <tr>
            <td>
                <table style="width: 100%; border-collapse: collapse; border: 1px solid black; table-layout: fixed">
                    <tr>
                        <td style="width: 100%; border: 1px solid black; text-align: center; background:
                        #7AB51D">
                            <h2>Tâches réalisées</h2>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr>
            <td>
                <table style="width: 100%; border-collapse: collapse; border: 1px solid black; table-layout: fixed">
                    <tr>
                        <th style="border: 1px solid; width: 20%;  text-align: center">Libellé</th>
                        <th style="border: 1px solid; width: 20%; text-align: center">Intervenants</th>
                        <th style="border: 1px solid; width: 20%; text-align: center">Article+Quantité</th>
                        <th style="border: 1px solid; width: 15%; text-align: center">Réalisateur</th>
                        <th style="border: 1px solid; width: 15%; text-align: center">Date de réalisation</th>
                        <th style="border: 1px solid; width: 10%; text-align: center">Taches réalisées</th>
                    </tr>
                    {% for rs in taches %}
                        <tr>
                            <td style="width: 20%; border-right: 1px solid; border-left: 1px solid; border-bottom:
                            1px solid;
                            padding-left: 10px">{{ rs['TACHE'].lIBELLE }}</td>
                            <td style="width: 20%; border-right: 1px solid; border-left: 1px solid; border-bottom:
                            1px solid;
                            padding-left: 10px " >{{ rs['TACHE'].intervenants }}</td>
                            <td style="width: 20%; border-right: 1px solid; border-left: 1px solid; border-bottom:
                            1px solid;
                            padding-left: 10px " >
                                <ul>
                                    {% for tachearticle in rs['ARTICLE'] %}
                                        <li>
                                            {{ tachearticle }}
                                        </li>
                                    {% endfor%}
                                </ul>
                            </td>
                            <td style="width: 15%; border-right: 1px solid; border-left: 1px solid; border-bottom:
                            1px solid;
                            padding-left: 10px " >{{ rs['TACHE'].rEALISATEURID }}</td>
                            <td style="width: 15%; border-right: 1px solid; border-left: 1px solid; border-bottom:
                            1px solid;
                            padding-left: 10px " >{{ rs['TACHE'].dATEREALISATION|date('d-m-Y') }}</td>
                            <td style="width: 10%; border-right: 1px solid; border-left: 1px solid; border-bottom:
                            1px solid;
                            padding-left: 10px"  >
                                <img src="{{ asset('http://localhost/pgiweb/web/images/casecochee.png')}}"  style="max-width: 50%;
                    height: auto">
                            </td>
                        </tr>
                    {% endfor%}
                </table>
            </td>
        </tr>
    </table>
    <div  style="width: 100%; border-collapse: collapse; border: 1px solid black; text-align: center"><span style="color: red">Cocher les cases des tâches réellement effectuées !</span></div>
    {#<br><br>#}
    {#<table style="width: 100%; border-collapse: collapse; border: 1px solid black; table-layout: fixed">#}
        {#<tr>#}
            {#<td>#}
                {#<table style="width: 100%; border-collapse: collapse; border: 1px solid black; table-layout: fixed">#}
                    {#<tr>#}
                        {#<td  style="width: 50%; " >#}
                        {#</td>#}
                        {#<td  style="width: 25%; " >#}
                            {#<h5 style="text-align: right; text-decoration: underline; border-bottom: 3px; color: #00632E; ">DEMANDEUR </h5>#}
                            {#<p style="height: 30px; color: #00632E; "></p>#}
                            {#<br>#}
                        {#</td>#}
                        {#<td  style="width: 25%; " >#}
                            {#<h5 style="text-align: right; text-decoration: underline; border-bottom: 3px; color: #00632E; ">INTERVENANT#}
                            {#</h5>#}
                            {#<p style="height: 30px"></p>#}
                            {#<br>#}
                        {#</td>#}
                    {#</tr>#}
                {#</table>#}
            {#</td>#}
        {#</tr>#}
    {#</table>#}
    <page_footer>
        <table style="width: 100%; border-collapse: collapse; border: 1px solid black; table-layout: fixed">
            <tr>
                <td style="width: 50%; " >
                    <p style="color: #00632E; font-weight: bold; padding-bottom: -25px">Société de Cultures
                        Légumières</p>
                    <p style="color: #00632E; font-family: Courier ; padding-bottom: -25px">km2 route de Diama BP
                        1105 /
                        Saint-Louis /
                        SÉNÉGAL</p>
                    <p style="color: #00632E; font-family: Courier; padding-bottom: -25px">Tel : +221 33 961 98 59</p>
                </td>
                <td style="width: 50%; text-align: right; color: #00632E; padding-bottom: 1px " >
                    www.scl.sn
                </td>
            </tr>
        </table>
    </page_footer>
</page>

