<page backtop="20mm" >
    <page_header>
        <table style="width: 100%; border-collapse: collapse; border: 1px solid black; table-layout: fixed">
            <tr>
                <td style="width: 50%; " >
                    {#<img src="{{ asset('images/logoSCL-mais.png') }}"  style="max-width: 30%;#}
                    {#height: auto; ">#}
                    <img src="{{ asset('http://srv-pgiweb/kocc-pgi/images/logoSCL-mais.png') }}"  style="max-width: 30%;
                    height: auto; ">
                </td>
                <td style="width: 50%; text-align: right; color: #00632E; font-weight: bold" >
                    {{ ficheintervention['dATEDIFFUSION'] |date
                    ('d/m/Y') }}
                </td>
            </tr>
        </table>
    </page_header>
    <div align="center">
        <h2 style="color: #00632E">FICHE D'INTERVENTION N° <b>{{ ficheintervention['id'] }}
            </b>
        </h2>
    </div>
    <br>
    <table style="width: 100%; border-collapse: collapse; border: 1px solid black; table-layout: fixed">
        {#<tr>#}
            {#<td>#}
                {#<table style="width: 100%; border-collapse: collapse; border: 1px solid black; table-layout: fixed">#}
                    {#<tr>#}
                        {#<td style="width: 100%; border: 1px solid black; text-align: center; background:#}
                        {##7AB51D">#}
                            {#<h2>{{ ficheintervention['lIBELLE'] }}</h2>#}
                        {#</td>#}
                    {#</tr>#}
                {#</table>#}
            {#</td>#}
        {#</tr>#}
        <tr>
            <td>
                <table style="width: 100%; border-collapse: collapse; border: 1px solid black; table-layout: fixed">
                    <tr style="background:#f6f6f6 ">
                        <td  style="width: 33%; border: 1px solid black; text-align: justify; padding-right: 10px" >
                            <h4 style="text-align: center; text-decoration: underline; padding-bottom: -15px">Demandeur
                            </h4>
                            <p style="padding-left: 10px; padding-bottom: -15px; ">Nom : <b style="color:
                            #00632E;">{{
                                    ficheintervention['EDITEUR'] }}</b></p>
                            <br>
                            <p style="padding-left: 10px; padding-bottom: -15px; padding-top: -15px">Service : <b
                                        style="color:
                            #00632E;">{{userdepartement }}</b></p>
                        </td>
                        <td  style="width: 33%; border: 1px solid black; text-align: justify; padding-right: 10px" >
                            <h4 style="text-align: center; text-decoration: underline; padding-bottom: -15px">Bénéficiaire
                            </h4>
                            <p style="padding-left: 10px; padding-bottom: -15px; ">Service : <b style="color:
                            #00632E;">{{
                                    ficheintervention['SERVICE'] }}</b></p>
                            <br>
                            <p style="padding-left: 10px; padding-bottom: -15px; padding-top: -15px">Site : <b
                                        style="color:
                            #00632E;">{{ficheintervention['SITE'] }}</b></p>
                            <br>
                            <p style="padding-left: 10px; padding-bottom: -15px; padding-top: -15px">Ferme : <b
                                        style="color:
                            #00632E;">{{ficheintervention['FERME'] }}</b></p>
                        </td>
                        <td  style="width: 34%; border: 1px solid black; text-align: justify" >

                            <p style="padding-left: 10px; padding-bottom: -10px">Type d'intervention : <b style="color:
                            #00632E;">{{
                                    ficheintervention['TYPEINTERVENTIONLIB'] }} </b></p>
                            <p style="padding-left: 10px; padding-bottom: -10px">Responsable : <b style="color:
                            #00632E;">{{
                                    ficheintervention['RESPONSABLE'] }}  </b></p>
                            <p style="padding-left: 10px; padding-bottom: -10px">Date de création : <b style="color:
                            #00632E;">{{ ficheintervention['dATECREATION'] |date('d/m/Y') }}</b></p>

                            <p style="padding-bottom: -10px; padding-left: 10px">Service : <b
                                        style="color:
                            #00632E;"> Technique</b></p>
                            <br>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr>
            <td>
                <table style="width: 100%; border-collapse: collapse; border: 1px solid black; table-layout: fixed">
                    <tr style="background:#f6f6f6 ">
                        <td  style="width: 40%; border: 1px solid black; text-align: justify" >
                            <p style="padding-left: 10px; padding-bottom: -15px">Début travaux
                                :  .................................... </p>
                            <p style="padding-left: 10px; padding-bottom: -15px">Fin travaux
                                :&nbsp;&nbsp;&nbsp;
                                &nbsp;  ....................................
                            </p>
                            <p style="padding-left: 10px; padding-bottom: -15px">Durée travaux
                                :  .................................... </p>
                            <br>
                        </td>
                        <td  style="width: 60%; border: 1px solid black; text-align: justify" >
                            <h4 style="text-align: center; text-decoration: underline;  border-bottom-width:2px
                            ">Observations : </h4>
                            <p style="padding-left: 10px; padding-bottom: -15px; padding-top: -13px">...................................................................................................... </p>
                            <p style="padding-left: 10px; padding-bottom: -15px">...................................................................................................... </p>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
    <br>
    <table style="width: 100%; border-collapse: collapse; border: 1px solid black; table-layout: fixed">
        <tr>
            <td>
                <table style="width: 100%; border-collapse: collapse; border: 1px solid black; table-layout: fixed">
                    <tr>
                        <td style="width: 100%; border: 1px solid black; text-align: center; background:
                        #7AB51D">
                            <h2>Tâches à réaliser</h2>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr>
            <td>
                <table style="width: 100%; border-collapse: collapse; border: 1px solid black; table-layout: fixed">
                    <tr>
                        <th style="border: 1px solid;  height: 20px; text-align: center ">Taches</th>
                        <th style="border: 1px solid; height: 20px; text-align: center">P / V</th>
                        <th style="border: 1px solid;  height: 20px; text-align: center">Intervenants</th>
                        <th style="border: 1px solid;  height: 20px; text-align: center">Article ( Qté )</th>
                    </tr>
                    {% for rs in listeArticle %}
                            <tr style="padding-top: -20px" >
                                <td rowspan="2" style=" width: 29%; border-right: 1px solid; border-left:
                                1px solid;
                            border-bottom: 1px
                             solid; padding-left: 10px; text-align: center; padding-top: -15px" >{{ rs['TACHE'].lIBELLE
                                    }}</td>
                                <td style=" width: 18%;  border-right: 1px solid; border-left: 1px solid;
                            border-bottom:
                            1px solid;; padding-left: 10px; font-weight: bold " >Prévu</td>
                                <td style=" width: 22%; border-right: 1px solid; border-left: 1px solid;
                            border-bottom: 1px
                             solid; padding-left: 10px; text-align: center " >{{ rs['TACHE'].intervenants }}</td>
                                <td style=" width: 30%; border-right: 1px solid; border-left: 1px solid;
                            border-bottom: 1px solid; padding-left: 10px " >
                                    <ul>
                                    {% for tachearticle in rs['ARTICLE'] %}
                                        <li>
                                            {{ tachearticle }}
                                        </li>
                                    {% endfor %}
                                    </ul>
                                </td>
                            </tr>
                            <tr >
                                <td style=" border-right: 1px solid; border-left: 1px solid;
                            border-bottom:
                            1px solid;; padding-left: 10px; font-weight: bold; background: #f6f6f6 " >Réalisé</td>
                                <td style="  border-right: 1px solid; border-left: 1px solid;
                            border-bottom: 1px
                             solid; padding-left: 10px;text-align: center; background: #f6f6f6 " ></td>
                                <td style="height: 4%;  border-right: 1px solid; border-left: 1px solid;
                            border-bottom: 1px solid; padding-left: 10px; background: #f6f6f6 " ></td>
                            </tr>
                    {% endfor%}
                    <tr >
                        <td style=" border-right: 1px solid; border-left: 1px solid;
                            border-bottom:1px solid; height: 4%; padding-left: 10px; font-weight: bold; background:
                            #f6f6f6 "></td>
                        <td style=" border-right: 1px solid; border-left: 1px solid;
                            border-bottom:
                            1px solid;; padding-left: 10px; font-weight: bold; background: #f6f6f6 " >Réalisé</td>
                        <td style="  border-right: 1px solid; border-left: 1px solid;
                            border-bottom: 1px
                             solid; padding-left: 10px;text-align: center; background: #f6f6f6 " ></td>
                        <td style="height: 6%;  border-right: 1px solid; border-left: 1px solid;
                            border-bottom: 1px solid; padding-left: 10px; background: #f6f6f6 " ></td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
    <br><br>
    <table style="width: 100%; border-collapse: collapse; border: 1px solid black; table-layout: fixed">
        <tr>
            <td style="width: 50%"></td>
            <td style="width: 25%; text-align: right; text-decoration: underline; color:
                            #00632E; font-weight: bold">
                Responsable
            </td>
            <td style="width: 25%; text-align: right; text-decoration: underline; color:
                            #00632E; font-weight: bold"> Intervenants</td>
        </tr>
    </table>
    <page_footer>
        <table style="width: 100%; border-collapse: collapse; border: 1px solid black; table-layout: fixed">
            <tr>
                <td style="width: 80%; color: #00632E; padding-bottom: -60px " >
                    www.scl.sn
                </td>
                <td style="width: 20%; text-align: right; color: #313131; padding-bottom: -60px " >
                    Page 1 sur 1
                </td>
            </tr>
        </table>
    </page_footer>
</page>

