{% extends 'FicheInterventionBundle:FicheIntervention:layout.html.twig' %}
{% block content %}
    <div class="col-lg-12 col-sm-12 col-xs-12" style="padding-left: 5%; padding-right: 5%">
        <div class="widget flat radius-bordered">
            <div class="widget-header bg-warning">
                <span class="widget-caption">Modifier la fiche d'intervention N°{{ ficheIntervention.id }}</span>
                <div class="widget-buttons buttons-bordered">
                    <button class="btn btn-sky btn-sm" onclick=" window.location.href='{{ path('listeficheintervention')
                    }}'"><i class="fa fa-arrow-left" ></i>Retour</button>
                </div>
            </div>
            <div id="modal-success-tache" class="modal modal-message modal-success fade" style="display: none;"
                 aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <i class="glyphicon glyphicon-check"></i>
                        </div>
                        <div class="modal-title">Succès</div>
                        <div class="modal-body">La tache a bien été ajoutée !</div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-success" data-dismiss="modal">OK</button>
                        </div>
                    </div> <!-- / .modal-content -->
                </div> <!-- / .modal-dialog -->
            </div>
            <div id="modal-warning-article-tache" class="modal modal-message modal-warning fade" style="display: none;"
                 aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <i class="glyphicon glyphicon-check"></i>
                        </div>
                        <div class="modal-title">Erreur</div>
                        <div class="modal-body">Veuillez d'abord compléter les informations !</div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-warning" data-dismiss="modal">OK</button>
                        </div>
                    </div> <!-- / .modal-content -->
                </div> <!-- / .modal-dialog -->
            </div>
            <div id="modal-warning-sans-tache" class="modal modal-message modal-warning fade" style="display: none;"
                 aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <i class="glyphicon glyphicon-check"></i>
                        </div>
                        <div class="modal-title">Erreur</div>
                        <div class="modal-body">Veuillez d'abord ajouter des tâches !</div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-warning" data-dismiss="modal">OK</button>
                        </div>
                    </div> <!-- / .modal-content -->
                </div> <!-- / .modal-dialog -->
            </div>
            <div class="widget-body">
                <div class="row">
                    <div class="form-horizontal">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <div class="form-title">
                                Info. ficheIntervention
                            </div>
                            {#{% if ficheIntervention.eDITEURID == app.user.name %}#}
                                {#<div class="" style="color: #cd0000">#}
                                    {#<p style="color: red"><i class="fa fa-exclamation-triangle" ></i>#}
                                        {#Vous avez 1h de temps pour compléter la fiche. Passé ce délai, votre fiche sera#}
                                        {#en cours de traitement.#}
                                    {#</p>#}
                                {#</div>#}
                            {#{% endif %}#}
                            {{ form_start(edit_form, {'attr': {'class': 'form-horizontal'}}) }}
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style=" margin: auto;
                            width: 80%">
                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="text-align:left">
                                    {#<div class="form-group">#}
                                        {#<label for="" class="col-sm-6 control-label">LIBELLE :<sup style="color:#}
                                        {#red">*</sup></label>#}
                                        {#<div class="col-sm-6">#}
                                            {#{{ form_widget(edit_form.lIBELLE, {'attr': {'class': 'form-control'}}) }}#}
                                        {#</div>#}
                                    {#</div>#}
                                    <div class="form-group">
                                        <label for="" class="col-sm-6 control-label">EDITEUR :<sup style="color:
                                        red">*</sup></label>
                                        <div class="col-sm-6">
                                            <input type="text" value="{{ ficheIntervention.eDITEURID }}"
                                                   class="form-control" disabled/>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="" class="col-sm-6 control-label">DATE DE CREATION :<sup style="color:
                                    red">*</sup></label>
                                        <div class="col-sm-6">
                                            <div class="input-group">
                                                <input type="text" value="{{ ficheIntervention.dATECREATION|date
                                                ('d-m-Y') }}"
                                                       class="form-control" disabled/>
                                                <span class="input-group-addon">
                                                        <i class="fa fa-calendar"></i>
                                                    </span>
                                            </div>
                                          </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="" class="col-sm-6 control-label ">SITE :<sup style="color:
                                        red">*</sup></label>
                                        <div class="col-sm-6">
                                            {{ form_widget(edit_form.sITEID, {'attr': {'class': 'form-control'}}) }}
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="" class="col-sm-6 control-label ">FERME :<sup style="color:
                                        red">*</sup></label>
                                        <div class="col-sm-6">
                                            <input type="hidden" id="fermesite" style="width: 100%"/>
                                            <input type="hidden" id="fermename" value="{{ fermename }}">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="" class="col-sm-6 control-label ">SERVICE :<sup style="color:
                                    red">*</sup></label>
                                        <div class="col-sm-6">
                                            {{ form_widget(edit_form.sERVICEID, {'attr': {'class': 'form-control'}}) }}
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="" class="col-sm-6 control-label ">TYPE D'INTERVENTION :<sup style="color:
                                    red">*</sup></label>
                                        <div class="col-sm-6">
                                            {{ form_widget(edit_form.tYPEINTERVENTIONID, {'attr': {'class': 'form-control'}}) }}
                                        </div>
                                    </div>
                                    <div class="form-group" hidden>
                                        <label for="" class="col-sm-6 control-label ">IDENTIFICATION :</label>
                                        <div class="col-sm-6">
                                            {{ form_widget(edit_form.iDENTIFICATION, {'attr': {'class': 'form-control'}}) }}
                                        </div>
                                    </div>
                                    <div class="form-group" hidden>
                                        <label for="" class="col-sm-6 control-label ">PRIORISATION :</label>
                                        <div class="col-sm-6">
                                            {{ form_widget(edit_form.pRIORISATION, {'attr': {'class': 'form-control'}}) }}
                                        </div>
                                    </div>
                                    <div class="form-group" hidden>
                                        <label for="" class="col-sm-6 control-label ">OBSERVATIONS : </label>
                                        <div class="col-sm-6">
                                            {{ form_widget(edit_form.oBSERVATIONS, {'attr': {'class':
                                                'form-control'}}) }}
                                            {{ form_widget(edit_form.dATEINTERVENTION, {'attr': {'class':
                                                'form-control'}}) }}
                                        </div>
                                    </div>
                                    <br/>
                                    <div class="form-group">
                                        <div class="col-sm-offset-10 col-sm-6">
                                            <input type="submit" class="btn btn-warning" value="Modifier" onClick="this
                                        .disabled=true;this.form.submit();this.value='Patientez...'"/>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            {{ form_rest(edit_form) }}
                            {{ form_end(edit_form) }}
                        </div>
                    </div>
                </div>
            </div>
            <div class="widget-body">
                <br><br>
                <div class="form-title" style="color: #003300">
                    Liste des pièces jointes
                </div>
                <a title="Ajout PJ" href="{{ path('ajoutdocficheintervention', {'id': ficheIntervention.id})
                }}"> Ajouter des images à la fiche d'intervention</a>
                <br><br>
                <div class="row">
                    <div style="margin-left: 5%; margin-right: 5%;">
                        <div class="widget flat radius-bordered">
                            <div class="widget-body">
                                <div >
                                    <table class="table table-bordered table-hover " id="" style="width: 50%">
                                        <thead class="bordered-warning">
                                        <tr role="row">
                                            <th >Image</th>
                                            <th style="width: 20%" >Actions</th>
                                        </tr>
                                        </thead>
                                        <tbody id="tableimage">
                                        {% set i=0 %}
                                        {% for rs in imgid %}
                                            <tr id="{{ rs }}">
                                                <td>
                                                    <a id="ficheIntervImag" href="{{ asset(imgpath[i]) }}">
                                                        <img id="myImg" src="{{ asset(imgpath[i]) }}"
                                                             alt="{{ rs }}.{{ imgalt[i] }}" width="150" height="70">
                                                    </a>
                                                </td>
                                                <td>
                                                    <button class="btn btn-danger btn-sm" id="" onclick="supprimerimage
                                                            ({{rs }})"><i class="fa
                                                            fa-trash" ></i>Supprimer
                                                    </button>
                                                </td>
                                            </tr>
                                            {% set i=i+1 %}
                                        {% endfor%}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <br>
                <div class="row">
                    <div class="form-horizontal">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <div class="form-title">
                                Ajouter des Tâches
                            </div>
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style=" margin: auto;
                            width: 80%">
                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="text-align:left">
                                    <div class="form-group">
                                        <label for="" class="col-sm-6 control-label">TACHE :<sup style="color:
                                        red">*</sup></label>
                                        <div class="col-sm-6" >
                                            {{ form_widget(ediT_form1.lIBELLE, {'attr': {'class': 'form-control'}}) }}
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-sm-offset-10 col-sm-6">
                                            <button class="btn btn-azure "  onclick="addtache({{ ficheIntervention.id
                                            }}, 'notech')">
                                                <i class="fa fa-plus" ></i>Ajouter
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <br>
                <div class="form-title" style="color: #003300">
                    Liste des tâches
                </div>
                <div class="row">
                    <div style="margin-left: 5%; margin-right: 5%;">
                        <div class="widget flat radius-bordered">
                            <div class="widget-body">
                                <div >
                                    <table class="table table-bordered table-hover " id="" >
                                        <thead class="bordered-warning">
                                        <tr role="row">
                                            <th >Tache</th>
                                            <th style="width: 20%" >Actions</th>
                                        </tr>
                                        </thead>
                                        <tbody id="tabletache">
                                        {% for rs in taches %}
                                            <tr id="{{ rs.id }}">
                                                <td>{{ rs.lIBELLE }}</td>
                                                <td>
                                                    <button class="btn btn-danger btn-sm" id="mod" onclick="supprimertache({{rs.id }})"><i class="fa fa-trash" ></i>Supprimer
                                                    </button>
                                                </td>
                                            </tr>
                                        {% endfor%}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="well with-header">
                        <div class="header bordered-success" style="text-align: center; font-weight: bold; color:
                                            green">
                            Veuillez cliquer sur le bouton terminer quand vous aurez finalisé la création de la fiche
                            afin d'alerter la Technique
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-offset-10 col-sm-6">
                            <button id="buttonend" class="btn btn-success " onclick="terminercrea({{
                            ficheIntervention.id }})"  >
                                <i class="fa fa-check" ></i>Terminer
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}