{% extends 'FicheInterventionBundle:FicheIntervention:layout.html.twig' %}
{% block content %}
    <div class="col-lg-12 col-sm-12 col-xs-12" style="padding-left: 5%; padding-right: 5%">
        <div class="widget flat radius-bordered">
            <div class="widget-header bg-warning">
                <span class="widget-caption">Modifier la fiche d'intervention N°{{ ficheIntervention.id }}</span>
                <div class="widget-buttons buttons-bordered">
                    <button class="btn btn-sky btn-sm" onclick=" window.location.href='{{ path('listeficheintervention')
                    }}'"><i class="fa fa-arrow-left" ></i>Retour</button>
                </div>
                {% if ficheIntervention.sTATUT == "ENVOYE" %}
                <div class="widget-buttons buttons-bordered">
                    <a class="btn btn-darkorange btn-sm" href='{{ path
                    ('imprimerficheintervention',{"id": ficheIntervention.id}) }}' target="_blank">
                        &nbsp; <i class="fa fa-print"></i> IMPRIMER &nbsp;
                    </a>
                </div>
                {% endif %}
                <div class="widget-buttons buttons-bordered">
                    <a class="btn btn-success btn-sm" onclick=" window.location.href='{{ path('fichemaintenancecurative')
                    }}'">
                        &nbsp; Maintenance Curative &nbsp;
                    </a>
                </div>
            </div>
            <div id="modal-warning-article-tache" class="modal modal-message modal-warning fade" style="display: none;"
                 aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <i class="glyphicon glyphicon-check"></i>
                        </div>
                        <div class="modal-title">Erreur</div>
                        <div class="modal-body">Veuillez d'abord compléter les informations !</div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-warning" data-dismiss="modal">OK</button>
                        </div>
                    </div> <!-- / .modal-content -->
                </div> <!-- / .modal-dialog -->
            </div>
            {#<div class="modal modal-primary" id="ModalTacheArticle">#}
                {#<div class="modal-dialog">#}
                    {#<div class="modal-content">#}
                        {#<div class="modal-header">#}
                            {#<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>#}
                            {#<h4 class="modal-title">Ajouter article</h4>#}
                        {#</div>#}
                        {#<div class="form-horizontal" id="form">#}
                            {#<div class="modal-body">#}
                                {#<input type="hidden" id="idtache" style="width: 90%;#}
                                                    {#padding-bottom: 5px"/>#}
                                {#<input type="hidden" id="type" value="mod" style="width: 90%;#}
                                {#padding-bottom: 5px"/>#}
                                {#<input type="hidden" id="ficheinterventionid" value="{{#}
                                {#ficheIntervention.id}}" />#}
                                {#<div class="row" >#}
                                    {#<div class="form-horizontal">#}
                                        {#<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">#}
                                            {#<div class="form-group">#}
                                                {#<label style="text-align: right"  class="col-sm-5 control-label"#}
                                                        {#for="">Liste des Articles GESCOM :</label>#}
                                                {#<div class="col-sm-6" align="left">#}
                                                    {#<input type="hidden" id="listeArticleTache" style="width: 100%"/>#}
                                                {#</div>#}
                                            {#</div>#}
                                        {#</div>#}
                                    {#</div>#}
                                {#</div>#}
                                {#<div class="row" >#}
                                    {#<div class="form-horizontal">#}
                                        {#<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">#}
                                            {#<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6" >#}
                                                {#<div class="form-group">#}
                                                    {#<label  class="col-sm-4 control-label"#}
                                                            {#for="">Nom article:</label>#}
                                                    {#<div class="col-sm-8">#}
                                                        {#<input type="text" class="form-control" id="nomarticle" />#}
                                                    {#</div>#}
                                                {#</div>#}
                                            {#</div>#}
                                            {#<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6" style="text-align:left">#}
                                                {#<div class="form-group">#}
                                                    {#<label  class="col-sm-4 control-label" for="">Unité article:</label>#}
                                                    {#<div class="col-sm-8">#}
                                                        {#<input type="text" class="form-control" id="unitearticle" />#}
                                                    {#</div>#}
                                                {#</div>#}
                                            {#</div>#}
                                        {#</div>#}
                                    {#</div>#}
                                {#</div>#}
                                {#<div class="row" >#}
                                    {#<div class="form-horizontal">#}
                                        {#<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">#}
                                            {#<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6" style="text-align:left">#}
                                                {#<div class="form-group">#}
                                                    {#<label  class="col-sm-4 control-label" for="">Quantité:</label>#}
                                                    {#<div class="col-sm-8">#}
                                                        {#<input type="text" class="form-control" id="qte" />#}
                                                    {#</div>#}
                                                {#</div>#}
                                            {#</div>#}
                                            {#<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6" style="text-align:left">#}
                                                {#<div class="form-group">#}
                                                    {#<label  class="col-sm-4 control-label"#}
                                                            {#for="">Intervenants:</label>#}
                                                    {#<div class="col-sm-8">#}
                                                        {#<input type="text" class="form-control" id="intervenants" />#}
                                                    {#</div>#}
                                                {#</div>#}
                                            {#</div>#}
                                        {#</div>#}
                                    {#</div>#}
                                {#</div>#}
                            {#</div>#}
                            {#<!-- Modal Footer -->#}
                        {#</div>#}
                        {#<div class="modal-footer">#}
                            {#<button type="button" class="btn btn-warning" data-dismiss="modal">Close</button>#}
                            {#<button type="button" class="btn btn-primary " onclick=" ajoutertachearticle('mod')#}
{#">Valider</button>#}
                        {#</div>#}
                    {#</div><!-- /.modal-content -->#}
                {#</div><!-- /.modal-dialog -->#}
            {#</div><!-- /.modal -->#}
            <div class="modal modal-primary" id="ModalTacheArticle" style="padding-right: 5%">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                            <h4 class="modal-title">Ajouter article</h4>
                        </div>
                        <div class="form-horizontal" id="form">
                            <div class="modal-body">
                                <input type="hidden" id="idtache" style="width: 90%;
                                                    padding-bottom: 5px"/>
                                <input type="hidden" id="type" value="mod" style="width: 90%;
                                                    padding-bottom: 5px"/>
                                <div class="form-group" >
                                    <label class="col-sm-5 control-label"
                                           for=""> Liste des Articles GESCOM :</label>
                                    <div class="col-sm-7">
                                        <input type="hidden" id="listeArticleTache" style="width: 100%"/>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label  class="col-sm-5 control-label"
                                            for="inputlibelle">Nom article:</label>
                                    <div class="col-sm-7">
                                        <input type="text" class="form-control" id="nomarticle" />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label  class="col-sm-5 control-label" for="inputlibelle">Unité article:</label>
                                    <div class="col-sm-7">
                                        <input type="text" class="form-control" id="unitearticle" />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label  class="col-sm-5 control-label" for="inputlibelle">Quantité:</label>
                                    <div class="col-sm-7">
                                        <input type="text" class="form-control" id="qte" />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="modal-footer" style="background-color: #FFFFFF">
                                        <button type="button" class="btn btn-default" data-dismiss="modal">Fermer</button>
                                        <button type="button" class="btn btn-primary " onclick=" ajoutertachearticle('mod')
">Valider</button>
                                    </div>
                                </div>
                                <!-- Modal Footer -->
                            </div>
                        </div>
                    </div><!-- /.modal-content -->
                </div><!-- /.modal-dialog -->
            </div><!-- /.modal -->
            <div class="modal modal-warning" id="ModalTacheIntervenants">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                            <h4 class="modal-title">Modifier intervenants</h4>
                        </div>
                        <div class="form-horizontal" id="form">
                            <div class="modal-body">
                                <input type="hidden" id="idtache" style="width: 90%;
                                                    padding-bottom: 5px"/>
                                <div class="form-group">
                                    <label  class="col-sm-4 control-label"
                                            for="">Intervenants:</label>
                                    <div class="col-sm-8">
                                        {#<input type="text" class="form-control" id="intervenants" />#}
                                        <textarea rows="2" class="form-control" id="intervenants"></textarea>
                                        <label style="color: #cd0000 ">
                                            <i class="fa fa-exclamation-triangle" ></i>
                                            Séparer les intervenants par des virgules s'il y'en a plusieurs !
                                        </label>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="modal-footer" style="background-color: #FFFFFF">
                                        <button type="button" class="btn btn-default" data-dismiss="modal">Fermer</button>
                                        <button type="button" class="btn btn-warning " onclick="
                                        modiftacheintervenants()
">Modifier</button>
                                    </div>
                                </div>
                                <!-- Modal Footer -->
                            </div>
                        </div>
                    </div><!-- /.modal-content -->
                </div><!-- /.modal-dialog -->
            </div><!-- /.modal -->
            <div id="ModalArticleError" class="modal modal-message modal-warning fade" style="display: none;"
                 aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <i class="glyphicon glyphicon-check"></i>
                        </div>
                        <div class="modal-title">Erreur</div>
                        <div class="modal-body">Vous avez déja ajouté cet article !</div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-warning" data-dismiss="modal">OK</button>
                        </div>
                    </div> <!-- / .modal-content -->
                </div>
            </div>
            <div class="widget-body">
                <div class="row">
                    <div class="form-horizontal">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <div class="form-title">
                                Info. ficheIntervention
                            </div>
                            <input type="hidden" id="ficheinterventionid" value="{{ficheIntervention.id}}" />
                            <div class="messageflasherror" style="color: #cd0000">
                                {% for flashMessage in app.session.flashbag.get('notice') %}
                                    <p style="color: red"> <i class="fa fa-exclamation-triangle" ></i>  {{ flashMessage
                                        }}</p>
                                {% endfor %}
                            </div>
                            {{ form_start(edit_form, {'attr': {'class': 'form-horizontal'}}) }}
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style=" margin: auto;
                            width: 80%">
                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="text-align:left">
                                    {#<div class="form-group">#}
                                        {#<label for="" class="col-sm-6 control-label">LIBELLE :<sup style="color:#}
                                        {#red">*</sup></label>#}
                                        {#<div class="col-sm-6">#}
                                            {#{% if ficheIntervention.eDITEURID == app.user.name %}#}
                                                {#{{ form_widget(edit_form.lIBELLE, {'attr': {'class': 'form-control'}}) }}#}
                                            {#{% else %}#}
                                            {#<div class="hidden">#}
                                                {#{{ form_widget(edit_form.lIBELLE, {'attr': {'class': 'form-control' }}) }}#}
                                            {#</div>#}
                                                {#<input type="text" value="{{ ficheIntervention.lIBELLE }}"#}
                                                       {#class="form-control" disabled/>#}
                                            {#{% endif %}#}
                                        {#</div>#}
                                    {#</div>#}
                                    <div class="form-group">
                                        <label for="" class="col-sm-6 control-label">EDITEUR :<sup style="color:
                                        red">*</sup></label>
                                        <div class="col-sm-6">
                                            <input type="text" value="{{ ficheIntervention.eDITEURID }}"
                                                   class="form-control" disabled/>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="" class="col-sm-6 control-label">DATE DE CREATION :<sup style="color:
                                    red">*</sup></label>
                                        <div class="col-sm-6">
                                            <div class="input-group">
                                                <input type="text" value="{{ ficheIntervention.dATECREATION|date
                                                ('d-m-Y') }}"
                                                       class="form-control" disabled/>
                                                <span class="input-group-addon">
                                                        <i class="fa fa-calendar"></i>
                                                    </span>
                                            </div>
                                          </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="" class="col-sm-6 control-label ">SITE :<sup style="color:
                                        red">*</sup></label>
                                        <div class="col-sm-6">
                                            {% if ficheIntervention.eDITEURID == app.user.name %}
                                                {{ form_widget(edit_form.sITEID, {'attr': {'class': 'form-control'}}) }}
                                            {% else %}
                                                <div class="hidden">
                                                {{ form_widget(edit_form.sITEID, {'attr': {'class': 'form-control'}}) }}
                                                </div>
                                                <input type="text" value="{{ site }}"
                                                       class="form-control" disabled/>
                                            {% endif %}
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="" class="col-sm-6 control-label ">FERME :<sup style="color:
                                        red">*</sup></label>
                                        <div class="col-sm-6">
                                            {% if ficheIntervention.eDITEURID == app.user.name %}
                                                {{ form_widget(edit_form.fERMEID, {'attr': {'class': 'form-control'}}) }}
                                                <input type="hidden" id="fermename" value="{{ fermename }}">
                                            {% else %}
                                                <div class="hidden">
                                                    {{ form_widget(edit_form.fERMEID, {'attr': {'class': 'form-control'}}) }}
                                                </div>
                                                <input type="text" value="{{ fermename }}"
                                                       class="form-control" disabled/>
                                            {% endif %}

                                            {{ form_widget(edit_form.fERMEID, {'attr': {'class': 'form-control'}}) }}
                                            <input type="hidden" id="fermename" value="{{ fermename }}">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="" class="col-sm-6 control-label ">SERVICE :<sup style="color:
                                    red">*</sup></label>
                                        <div class="col-sm-6">
                                            {% if ficheIntervention.eDITEURID == app.user.name %}
                                                {{ form_widget(edit_form.sERVICEID, {'attr': {'class': 'form-control'}}) }}
                                            {% else %}
                                            <div class="hidden">
                                                {{ form_widget(edit_form.sERVICEID, {'attr': {'class': 'form-control'}}) }}
                                            </div>
                                                <input type="text" value="{{ service }}"
                                                       class="form-control" disabled/>
                                            {% endif %}
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="" class="col-sm-6 control-label ">TYPE D'INTERVENTION :<sup style="color:
                                    red">*</sup></label>
                                        <div class="col-sm-6">
                                            {{ form_widget(edit_form.tYPEINTERVENTIONID, {'attr': {'class': 'form-control'}}) }}
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="" class="col-sm-6 control-label ">IDENTIFICATION :<sup style="color:
                                    red">*</sup></label>
                                        <div class="col-sm-6">
                                            {{ form_widget(edit_form.iDENTIFICATION, {'attr': {'class': 'form-control'}}) }}
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="" class="col-sm-6 control-label ">PRIORISATION :<sup style="color:
                                    red">*</sup></label>
                                        <div class="col-sm-6">
                                            {{ form_widget(edit_form.pRIORISATION, {'attr': {'class': 'form-control'}}) }}
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="" class="col-sm-6 control-label ">DATE PREV. INTERVENTION :<sup
                                                    style="color:
                                    red">*</sup></label>
                                        <div class="col-sm-6">
                                            <div class="input-group">
                                                {{ form_widget(edit_form.dATEINTERVENTION, {'attr': {'class':
                                                    'form-control'}}) }}
                                                <span class="input-group-addon">
                                                        <i class="fa fa-calendar"></i>
                                                    </span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="" class="col-sm-6 control-label ">OBSERVATIONS : </label>
                                        <div class="col-sm-6">
                                            {{ form_widget(edit_form.oBSERVATIONS, {'attr': {'class':
                                                'form-control'}}) }}
                                        </div>
                                    </div>
                                    <br/>
                                    <div class="form-group">
                                        <div class="col-sm-offset-10 col-sm-6">
                                            <input type="submit" class="btn btn-warning" value="Modifier" onClick="this
                                        .disabled=true;this.form.submit();this.value='Patientez...'"/>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            {{ form_rest(edit_form) }}
                            {{ form_end(edit_form) }}
                        </div>
                    </div>
                </div>
            </div>
            <div class="widget-body">
                <br><br>
                <div class="form-title" style="color: #003300">
                    Liste des pièces jointes
                </div>
                <a title="Ajout PJ" href="{{ path('ajoutdocficheintervention', {'id': ficheIntervention.id})
                }}"> Ajouter des images à la fiche d'intervention</a>
                <br><br>
                <div class="row">
                    <div style="margin-left: 5%; margin-right: 5%;">
                        <div class="widget flat radius-bordered">
                            <div class="widget-body">
                                <div >
                                    <table class="table table-bordered table-hover " id="" style="width: 50%">
                                        <thead class="bordered-warning">
                                        <tr role="row">
                                            <th >Image</th>
                                            {% if ficheIntervention.eDITEURID == app.user.name %}
                                                <th style="width: 20%" >Actions</th>
                                            {% endif %}
                                        </tr>
                                        </thead>
                                        <tbody id="tableimage">
                                        {% set i=0 %}
                                        {% for rs in imgid %}
                                            <tr id="{{ rs }}">
                                                <td>
                                                    <a id="ficheIntervImag" href="{{ asset(imgpath[i]) }}">
                                                        <img id="myImg" src="{{ asset(imgpath[i]) }}"
                                                             alt="{{ rs }}.{{ imgalt[i] }}" width="150" height="70">
                                                    </a>
                                                </td>
                                                {% if ficheIntervention.eDITEURID == app.user.name %}
                                                    <td>
                                                        <button class="btn btn-danger btn-sm" id="" onclick="supprimerimage
                                                                ({{rs }})"><i class="fa
                                                                fa-trash" ></i>Supprimer
                                                        </button>
                                                    </td>
                                                {% endif %}
                                            </tr>
                                            {% set i=i+1 %}
                                        {% endfor%}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <br>
                {#{% if ficheIntervention.eDITEURID == app.user.name %}#}
                <div class="row">
                    <div class="form-horizontal">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <div class="form-title">
                                Ajouter des Tâches
                            </div>
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style=" margin: auto;
                            width: 80%">
                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="text-align:left">
                                    <div class="form-group">
                                        <label for="" class="col-sm-6 control-label">TACHE :<sup style="color:
                                        red">*</sup></label>
                                        <div class="col-sm-6" >
                                            {{ form_widget(ediT_form1.lIBELLE, {'attr': {'class': 'form-control'}}) }}
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-sm-offset-10 col-sm-6">
                                            <button class="btn btn-azure "  onclick="addtache({{ ficheIntervention.id
                                            }} , 'tech')">
                                                <i class="fa fa-plus" ></i>Ajouter
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {#{% endif %}#}
                <br><br>
                <div class="form-title" style="color: #003300">
                    Liste des tâches
                </div>
                <div class="row">
                    <div style="margin-left: 5%; margin-right: 5%;">
                        <div class="widget flat radius-bordered">
                            <div class="widget-body">
                                <div >
                                    <table class="table table-bordered table-hover " id="" >
                                        <thead class="bordered-darkorange">
                                            <tr role="row">
                                                <th style="width: 25%">Tâches</th>
                                                <th style="width: 30%">Articles ( Quantité )</th>
                                                <th style="width: 30%">Intervenants</th>
                                                <th style="width: 15%">Action</th>
                                            </tr>
                                        </thead>
                                        <tbody id="tabletache">
                                    {#{% if ficheIntervention.eDITEURID == app.user.name %}#}
                                        {#{% endif %}#}
                                        {% for rs in listetachearticles %}
                                            {% set i = rs['TACHE'].id %}
                                            <tr id="{{ rs['TACHE'].id }}">
                                                <td>{{ rs['TACHE'].lIBELLE }}</td>
                                                <td>
                                                    <ul>
                                                        {% for tachearticle in rs['ARTICLE'] %}
                                                            <li>
                                                                {{ tachearticle }}
                                                            </li>
                                                        {% endfor%}
                                                    </ul>
                                                    <div id="listeArticle{{ i }}">
                                                    </div>
                                                </td>
                                                <td >
                                                    <textarea rows="2" cols="20" id='intervenants{{ i }}'
                                                              name="" disabled>{% if rs['TACHE'].iNTERVENANTS != "undefined" %}{{rs['TACHE'].iNTERVENANTS }}{% endif %}</textarea>
                                                </td>
                                                <td>
                                                    <table>
                                                        <tr>
                                                            <td style="border-bottom: 1px solid black; padding-bottom:
                                                        5px; text-align: center">
                                                                <button  class="btn btn-azure btn-sm" id="ajoutarticle"
                                                                         onclick="openmodaltache({{ rs['TACHE'].id }})" > <i
                                                                            class="fa fa-plus-circle"></i>Ajouter article</button>
                                                            </td>
                                                        </tr>
                                                        {% if ficheIntervention.eDITEURID == app.user.name %}
                                                            <tr>
                                                                <td style="border-bottom: 1px solid black; padding-bottom: 5px;
                                                            padding-top: 5px; text-align: center" >
                                                                    <button class="btn btn-danger btn-sm" id="mod"
                                                                            onclick="supprimertache({{rs['TACHE'].id }})"><i
                                                                                class="fa fa-trash" ></i>Supprimer Tache
                                                                    </button>
                                                                </td>
                                                            </tr>
                                                        {% endif %}
                                                        <tr>
                                                            <td style="padding-top: 5px; text-align: center" >
                                                                <button  class="btn btn-warning shiny btn-sm" id="modifintervenant{{
                                                                rs['TACHE'].id
                                                                }}"
                                                                         onclick="openmodaltacheintervenants({{ rs['TACHE'].id }})" > <i
                                                                            class="fa fa-edit"></i>Intervenants</button>
                                                            </td>
                                                        </tr>
                                                    </table>
                                                </td>
                                            </tr>
                                        {% endfor%}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <br>
                {% if ficheIntervention.sTATUT == "EN CREATION" %}
                <div class="row">
                    <div class="well with-header">
                        <div class="header bordered-success" style="text-align: center; font-weight: bold; color:
                                            green">
                            Veuillez cliquer sur le bouton terminer quand vous aurez finalisé la création de la fiche
                            afin d'alerter la Technique
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-offset-10 col-sm-6">
                            <button id="buttonend" class="btn btn-success " onclick="terminercrea({{
                            ficheIntervention.id }})"  >
                                <i class="fa fa-check" ></i>Terminer
                            </button>
                        </div>
                    </div>
                </div>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}