{% extends 'FicheInterventionBundle:FicheIntervention:layout.html.twig' %}
{% block content %}
    <div class="col-lg-12 col-sm-12 col-xs-12" style="padding-left: 5%; padding-right: 5%">
        <div class="widget flat radius-bordered">
            <div class="widget-header bg-purple">
                <span class="widget-caption">Planning des fiches d'intervention</span>
                <div class="widget-buttons buttons-bordered">
                    <button class="btn btn-danger btn-sm" onclick=" window.location.href='{{ path
                    ('listeficheintervention')
                    }}'"><i class="fa fa-arrow-left" ></i>Retour</button>
                </div>
            </div>
            <div class="modal modal-primary" id="ModalModifDateInterv">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                            <h4 class="modal-title">Modifier planning fiche</h4>
                        </div>
                        <div class="form-horizontal" id="form">
                            <div class="modal-body">
                                <div class="row" >
                                    <div class="form-horizontal">
                                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                            <div class="form-group">
                                                <label  class="col-sm-5 control-label"
                                                        for="">Fiche N°:</label>
                                                <div class="col-sm-6">
                                                    <input type="text" class="form-control" id="ficheid" disabled/>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label  class="col-sm-5 control-label" for="">EDITEUR :</label>
                                                <div class="col-sm-6">
                                                    <input type="text" class="form-control" id="editeur" disabled/>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label  class="col-sm-5 control-label" for="">SITE :</label>
                                                <div class="col-sm-6">
                                                    <input type="text" class="form-control" id="site" disabled/>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label  class="col-sm-5 control-label" for="">FERME :</label>
                                                <div class="col-sm-6">
                                                    <input type="text" class="form-control" id="ferme" disabled/>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label  class="col-sm-5 control-label" for="">TYPEINTERVENTION :</label>
                                                <div class="col-sm-6">
                                                    <input type="text" class="form-control" style="font-weight: bold"
                                                           id="typeintervention"
                                                           disabled/>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label  class="col-sm-5 control-label" for="">DATE
                                                    D'INTERVENTION :</label>
                                                <div class="col-sm-6">
                                                    <div class="input-group">
                                                        <input type="text" style="background-color: #fbff57;
                                                        font-weight: bold; color: black"
                                                               class="form-control"
                                                               id="dateinterv"/>
                                                            <span class="input-group-addon">
                                                                <i class="fa fa-calendar"></i>
                                                            </span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- Modal Footer -->
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-warning" data-dismiss="modal">Annuler</button>
                            <button type="button" class="btn btn-primary " onclick=" modifierplanning()">Modifier</button>
                        </div>
                    </div><!-- /.modal-content -->
                </div><!-- /.modal-dialog -->
            </div><!-- /.modal -->
            <div class="widget-body">
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <div class="widget flat">
                            <div class="widget-header bordered-bottom bordered-sky">
                                <i class="widget-icon fa fa-calendar sky"></i>
                                <span class="widget-caption">Mon planning des interventions</span>
                            </div><!--Widget Header-->
                            <div class="widget-body">
                                <div id='calendar' style="height: auto"></div>
                            </div><!--Widget Body-->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}