{% extends 'FicheInterventionBundle:FicheIntervention:layout.html.twig' %}
{% block content %}
    <div class="col-lg-12 col-sm-12 col-xs-12" style="padding-left: 5%; padding-right: 5%">
        <div class="widget flat radius-bordered">
            <div class="widget-header bg-maroon">
                <span class="widget-caption">Informations fiche Intervention N°{{ ficheIntervention['id'] }}</span>
                <div class="widget-buttons buttons-bordered">
                    <button class="btn btn-sky btn-sm" onclick="window.location.href='{{ path('listeficheintervention')
                    }}'"><i class="fa fa-arrow-left" aria-hidden="true"></i>Retour</button>
                </div>
            </div>
            {# START MODALS #}
            <div id="modal-success-cancel-tache" class="modal modal-message modal-success fade" style="display: none;"
                 aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <i class="glyphicon glyphicon-check"></i>
                        </div>
                        <div class="modal-title">Succès</div>
                        <div class="modal-body">La tâche a bien été annulée !</div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-success" data-dismiss="modal">OK</button>
                        </div>
                    </div> <!-- / .modal-content -->
                </div> <!-- / .modal-dialog -->
            </div>
            <div id="modal-warning-article-tache" class="modal modal-message modal-warning fade" style="display: none;"
                 aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <i class="glyphicon glyphicon-check"></i>
                        </div>
                        <div class="modal-title">Erreur</div>
                        <div class="modal-body">Veuillez d'abord compléter les informations !</div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-warning" data-dismiss="modal">OK</button>
                        </div>
                    </div> <!-- / .modal-content -->
                </div> <!-- / .modal-dialog -->
            </div>
            <div class="modal modal-primary" id="ModalTacheArticle">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                            <h4 class="modal-title">Ajouter article</h4>
                        </div>
                        <div class="form-horizontal" id="form">
                            <div class="modal-body">
                                <input type="hidden" id="idtache" style="width: 90%;
                                                    padding-bottom: 5px"/>
                                <input type="hidden" id="type" value="rea" style="width: 90%;
                                                    padding-bottom: 5px"/>
                                <div class="form-group" >
                                    <label class="col-sm-4 control-label"
                                           for=""> Liste des Articles GESCOM :</label>
                                    <div class="col-sm-6">
                                        <input type="hidden" id="listeArticleTache" style="width: 100%"/>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label  class="col-sm-4 control-label"
                                            for="inputlibelle">Nom article:</label>
                                    <div class="col-sm-6">
                                        <input type="text" class="form-control" id="nomarticle" />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label  class="col-sm-4 control-label" for="inputlibelle">Unité article:</label>
                                    <div class="col-sm-6">
                                        <input type="text" class="form-control" id="unitearticle" />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label  class="col-sm-4 control-label" for="inputlibelle">Qté
                                        Utilisée:</label>
                                    <div class="col-sm-6">
                                        <input type="text" class="form-control" id="qte" />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="modal-footer" style="background-color: #FFFFFF">
                                        <button type="button" class="btn btn-default" data-dismiss="modal">Fermer</button>
                                        <button type="button" class="btn btn-primary " onclick=" ajoutertachearticle('rea')
">Valider</button>
                                    </div>
                                </div>
                                <!-- Modal Footer -->
                            </div>
                        </div>
                    </div><!-- /.modal-content -->
                </div><!-- /.modal-dialog -->
            </div><!-- /.modal -->
            <div class="modal modal-warning" id="ModalTacheIntervenants">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                            <h4 class="modal-title">Modifier intervenants</h4>
                        </div>
                        <div class="form-horizontal" id="form">
                            <div class="modal-body">
                                <input type="hidden" id="idtache" style="width: 90%;
                                                    padding-bottom: 5px"/>
                                <div class="form-group">
                                    <label  class="col-sm-4 control-label"
                                            for="">Intervenants:</label>
                                    <div class="col-sm-8">
                                        {#<input type="text" class="form-control" id="intervenants" />#}
                                        <textarea rows="2" class="form-control" id="intervenants"></textarea>
                                        <label style="color: #cd0000 ">
                                            <i class="fa fa-exclamation-triangle" ></i>
                                            Séparer les intervenants par des virgules s'il y'en a plusieurs !
                                        </label>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="modal-footer" style="background-color: #FFFFFF">
                                        <button type="button" class="btn btn-default" data-dismiss="modal">Fermer</button>
                                        <button type="button" class="btn btn-warning " onclick="
                                        modiftacheintervenants()
">Modifier</button>
                                    </div>
                                </div>
                                <!-- Modal Footer -->
                            </div>
                        </div>
                    </div><!-- /.modal-content -->
                </div><!-- /.modal-dialog -->
            </div><!-- /.modal -->
            <div class="modal modal-primary" id="ModalTacheArticleModify">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                            <h4 class="modal-title">Modifier article</h4>
                        </div>
                        <div class="form-horizontal" id="form">
                            <div class="modal-body">
                                <div class="row" >
                                    <input type="hidden" id="idtachearticle" style="width: 90%;
                                                    padding-bottom: 5px"/>
                                    <div class="form-horizontal">
                                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6" >
                                                <div class="form-group">
                                                    <label  class="col-sm-4 control-label"
                                                            for="inputlibelle">Nom article:</label>
                                                    <div class="col-sm-8">
                                                        <input type="text" class="form-control" id="nomarticlemodify"
                                                               disabled/>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6" style="text-align:left">
                                                <div class="form-group">
                                                    <label  class="col-sm-4 control-label"
                                                            for="inputlibelle">Quantité utilisée:</label>
                                                    <div class="col-sm-8">
                                                        <input type="text" class="form-control" id="qtearticlemodify" />
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- Modal Footer -->
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Fermer</button>
                            <button type="button" class="btn btn-danger " onclick="deletetachearticle()">
                                Supprimer
                            </button>
                            <button type="button" class="btn btn-warning " onclick="modifytachearticle()">
                                Valider
                            </button>
                        </div>
                    </div><!-- /.modal-content -->
                </div><!-- /.modal-dialog -->
            </div><!-- /.modal -->
            <div class="widget-body">
                <div class="row">
                    <div class="form-horizontal">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <div class="form-title">
                                Info. ficheIntervention
                            </div>
                            <input type="hidden" id="ficheinterventionid" value="{{ficheIntervention.id}}" />
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style=" margin: auto;
                            width: 80%">
                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="text-align:left">
                                    {#<div class="form-group">#}
                                        {#<label for="" class="col-sm-6 control-label">LIBELLE : </label>#}
                                        {#<div class="col-sm-6">#}
                                            {#&#123;&#35;<input class="col-sm-6 form-control" type="text" value="{{ficheIntervention['lIBELLE']}}" disabled />&#35;&#125;#}
                                            {#<textarea rows="2" class="col-sm-6 form-control" id="" disabled>{{ficheIntervention['lIBELLE']}}</textarea>#}
                                        {#</div>#}
                                    {#</div>#}
                                    <div class="form-group">
                                        <label for="" class="col-sm-6 control-label">STATUT : </label>
                                        <div class="col-sm-6">
                                            {% if ficheIntervention['sTATUT']=='REOUVERT' %}
                                                <input class="col-sm-6 form-control" type="text" style="color: orange"
                                                       value={{ficheIntervention['sTATUT']}} disabled>
                                            {% elseif ficheIntervention['sTATUT']=='CLOTURE' %}
                                                <input class="col-sm-6 form-control" type="text" style="color: green"
                                                       value={{ficheIntervention['sTATUT']}} disabled>
                                            {% else %}
                                                <input class="col-sm-6 form-control" type="text" style="color: maroon"
                                                       value="{{ficheIntervention['sTATUT']}}" disabled />
                                            {% endif %}
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="" class="col-sm-6 control-label">EDITEUR : </label>
                                        <div class="col-sm-6">
                                            <input class="col-sm-6 form-control" value='{{ficheIntervention
                                            ['EDITEUR']}}' type="text"  disabled />
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="" class="col-sm-6 control-label">DATE DE CREATION : </label>
                                        <div class="col-sm-6">
                                            <div class="input-group">
                                                <input class="col-sm-6 form-control" type="text" value="{{
                                                ficheIntervention['dATECREATION'] |date('d-m-Y') }}" disabled />
                                                     <span class="input-group-addon">
                                                        <i class="fa fa-calendar"></i>
                                                    </span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="" class="col-sm-6 control-label ">SITE : </label>
                                        <div class="col-sm-6">
                                            <input class="col-sm-6 form-control" type="text" value="{{ficheIntervention
                                            ['SITE']}}" disabled />
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="" class="col-sm-6 control-label ">FERME : </label>
                                        <div class="col-sm-6">
                                            <input class="col-sm-6 form-control" type="text" value="{{ficheIntervention
                                            ['FERME']}}" disabled />
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="" class="col-sm-6 control-label ">SERVICE: </label>
                                        <div class="col-sm-6">
                                            <input class="col-sm-6 form-control" type="text" value="{{ficheIntervention
                                            ['SERVICE']}}"
                                                   disabled />
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="" class="col-sm-6 control-label ">TYPE D'INTERVENTION : </label>
                                        <div class="col-sm-6">
                                            <input class="col-sm-6 form-control" type="text"
                                                   value="{{ficheIntervention['TYPEINTERVENTIONLIB']}} " disabled />
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="" class="col-sm-6 control-label ">IDENTIFICATION :</label>
                                        <div class="col-sm-6">
                                            <textarea class="col-sm-6 form-control" id="" disabled>{{ficheIntervention['IDENTIFICATION']}}</textarea>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="" class="col-sm-6 control-label ">PRIORISATION :</label>
                                        <div class="col-sm-6">
                                            <input class="col-sm-6 form-control" type="text"
                                                   value="{{ficheIntervention['PRIORISATION'] }}"disabled />
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="" class="col-sm-6 control-label">DATE PREV. INTERVENTION : </label>
                                        <div class="col-sm-6">
                                            <div class="input-group">
                                                {% if ficheIntervention['DATEINTERVENTION'] == null %}
                                                    <input class="col-sm-6 form-control"  disabled/>
                                                        <span class="input-group-addon">
                                                            <i class="fa fa-calendar"></i>
                                                        </span>
                                                {% else %}
                                                    <input class="col-sm-6 form-control" id=""
                                                           value="{{ficheIntervention['DATEINTERVENTION']|date
                                                           ('d-m-Y')}}" disabled/>
                                                        <span class="input-group-addon">
                                                            <i class="fa fa-calendar"></i>
                                                        </span>
                                                {% endif %}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <br>
                <div class="row">
                    <div class="form-horizontal">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <div class="form-title">
                                Ajouter des Tâches
                            </div>
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style=" margin: auto;
                            width: 80%">
                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="text-align:left">
                                    <div class="form-group">
                                        <label for="" class="col-sm-6 control-label">TACHE :<sup style="color:
                                        red">*</sup></label>
                                        <div class="col-sm-6" >
                                            <textarea class="col-sm-6 form-control"
                                                      id="tache"></textarea>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-sm-offset-10 col-sm-6">
                                            <button class="btn btn-azure "  onclick="addtacherea({{ ficheIntervention.id
                                            }} )">
                                                <i class="fa fa-plus" ></i>Ajouter
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <br>
                <div class="form-title" style="color: #003300">
                    Liste des tâches à réaliser
                </div>
                <div class="row">
                    <div style="padding-left: 5%; padding-right: 5%" class="widget flat radius-bordered">
                        <div class="widget-body">
                            <div >
                                <table class="table table-bordered table-hover " id="" >
                                    <thead class="bordered-darkorange">
                                    <tr role="row">
                                        <th style="width: 25%">Tâches</th>
                                        <th style="width: 20%">Intervenants</th>
                                        <th style="width: 25%">P / R</th>
                                        <th style="width: 30%">Articles ( Quantité )</th>
                                        <th style="width: 9%">Action</th>
                                    </tr>
                                    </thead>
                                    <tbody id="tabletache">
                                    {% for rs in taches %}
                                        {% set i = rs['TACHE'].id %}
                                        <tr >
                                            <td rowspan="2" >{{ rs['TACHE'].lIBELLE }}</td>
                                            <td rowspan="2" >
                                                <textarea rows="2" cols="15" id='intervenants{{ i }}' name="comment" disabled>{{rs['TACHE'].iNTERVENANTS }}</textarea>
                                            </td>
                                            <td style="font-weight: bold">Prévu</td>
                                            <td>
                                                <ul>
                                                    {% for tachearticle in rs['ARTICLE'] %}
                                                        <li>
                                                            {{ tachearticle }}
                                                        </li>
                                                    {% endfor%}
                                                </ul>
                                            </td>
                                            <td>
                                           </td>
                                        </tr>
                                        <tr id="{{ rs['TACHE'].id }}">
                                            <td style="background-color: #00AA00; font-weight: bold">Réalisé</td>
                                            <td style="background-color: #00AA00">
                                                <ul>
                                                    {% set j=0 %}
                                                    {% for tachearticle in rs['ARTICLER']['intrant'] %}
                                                        <li id="{{rs['ARTICLER']['id'][j]}}">
                                                            {{ tachearticle }} ({{ rs['ARTICLER']['qte'][j] }})
                                                            <button  class="btn btn-warning btn-circle btn-xs"
                                                                     onclick="openmodaltachearticle
                                                                             ({{rs['ARTICLER']['id'][j]}}, '{{
                                                                     tachearticle }}', {{ rs['ARTICLER']['qte'][j] }} )" >
                                                                <i class="fa fa-edit"></i></button>
                                                        </li>
                                                        {% set j = j+1 %}
                                                    {% endfor%}
                                                </ul>
                                                <div id="listeArticle{{ i }}">
                                                </div>
                                            </td>
                                            <td>
                                                <table>
                                                    <tr>
                                                        <td style="border-bottom: 1px solid black; padding-bottom:
                                                        5px; text-align: center">
                                                            <button  class="btn btn-azure shiny btn-sm" id="ajoutarticle{{ rs['TACHE'].id
                                                            }}"
                                                                     onclick="openmodaltache({{ rs['TACHE'].id }})" > <i
                                                                        class="fa fa-plus-circle"></i>Ajout article</button>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td style="border-bottom: 1px solid black; padding-bottom: 5px;
                                                        padding-top: 5px; text-align: center" >
                                                            <button  class="btn btn-warning shiny btn-sm" id="modifintervenant{{
                                                            rs['TACHE'].id
                                                            }}"
                                                                     onclick="openmodaltacheintervenants({{ rs['TACHE'].id }})" > <i
                                                                        class="fa fa-edit"></i>Intervenants</button>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td style="padding-top: 5px; text-align: center" >
                                                            <button  class="btn btn-default shiny btn-sm" id="annularticle{{
                                                            rs['TACHE'].id
                                                            }}" onclick="annulertache({{ rs['TACHE'].id }})" > <span
                                                                        class="typcn typcn-cancel"></span>Annuler tâche</button>
                                                        </td>
                                                    </tr>
                                                </table>
                                            </td>
                                        </tr>
                                    {% endfor%}
                                    </tbody>
                                </table>
                                {% set var = [] %}
                                {% for rstache in taches  %}
                                    {% set var = var|merge([rstache['TACHE'].id|number_format]) %}
                                {% endfor %}
                                {% set var = var|merge([ficheIntervention.id|number_format]) %}
                                <div class="form-title">
                                </div>
                                <div class="row">
                                    <div class="form-horizontal">
                                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style=" margin: auto;
                            width: 80%">
                                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="text-align:left">
                                                    <div class="form-group">
                                                        <label for="" class="col-sm-6 control-label ">Date début travaux : </label>
                                                        <div class="col-sm-6">
                                                            <div class="input-group">
                                                                {% if ficheIntervention['sTATUT']=='EN COURS' %}
                                                                    {% if ficheIntervention['DATEDEBUT']== null %}
                                                                        <input class="col-sm-6 form-control" id="debuttravaux" />
                                                                    {% else %}
                                                                        <input class="col-sm-6 form-control" id="debuttravaux"
                                                                               value="{{ficheIntervention['DATEDEBUT']|date
                                                                               ('d-m-Y')}}" />
                                                                    {% endif %}
                                                                {% else %}
                                                                    {% if ficheIntervention['DATEDEBUT']== null %}
                                                                        <input class="col-sm-6 form-control" id="debuttravaux"
                                                                               disabled/>
                                                                    {% else %}
                                                                        <input class="col-sm-6 form-control" id="debuttravaux"
                                                                               value="{{ficheIntervention['DATEDEBUT']|date
                                                                               ('d-m-Y')}}" disabled/>
                                                                    {% endif %}
                                                                {% endif %}
                                                                    <span class="input-group-addon">
                                                                        <i class="fa fa-calendar"></i>
                                                                    </span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <label for="" class="col-sm-6 control-label ">Date Fin travaux : </label>
                                                        <div class="col-sm-6">
                                                            <div class="input-group">
                                                                {% if ficheIntervention['sTATUT']=='EN COURS' %}
                                                                    {% if ficheIntervention['DATEFIN']== null %}
                                                                        <input class="col-sm-6 form-control" id="fintravaux" />
                                                                    {% else %}
                                                                        <input class="col-sm-6 form-control" id="fintravaux"
                                                                               value="{{ficheIntervention['DATEFIN']|date
                                                                               ('d-m-Y')}}" />
                                                                    {% endif %}
                                                                {% else %}
                                                                    {% if ficheIntervention['DATEFIN']== null %}
                                                                        <input class="col-sm-6 form-control" id="fintravaux"
                                                                               disabled/>
                                                                    {% else %}
                                                                        <input class="col-sm-6 form-control" id="fintravaux"
                                                                               value="{{ficheIntervention['DATEFIN']|date
                                                                               ('d-m-Y')}}" disabled/>
                                                                    {% endif %}
                                                                {% endif %}
                                                                 <span class="input-group-addon">
                                                                    <i class="fa fa-calendar"></i>
                                                                </span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="form-group" >
                                                        <label for="" class="col-sm-6 control-label ">Durée (h) :
                                                        </label>
                                                        <div class="col-sm-6">
                                                            <input class="col-sm-6 form-control"  id="duree"
                                                                   value="{{ficheIntervention['DUREE']}}" />
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <label for="" class="col-sm-6 control-label ">Observations : </label>
                                                        <div class="col-sm-6">
                                                            <textarea class="col-sm-6 form-control" rows="5"
                                                                      id="observations">{{ficheIntervention['OBSERVATIONS']}}</textarea>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                               <div class="form-title">
                                </div>
                                <div align="right">
                                    <button class="btn btn-labeled btn-success" id="rea" onclick="cloturerfiche
                                            ({{ficheIntervention['id'] }})"><i class="btn-label glyphicon glyphicon-ok" ></i>
                                        CLOTURER
                                    </button>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}