{% extends 'GuideUtilisateurBundle:Default:layout.html.twig' %}
{% block content  %}

<div class="row" style="margin-left:2% ">
    <div class="col-lg-6 col-sm-6 col-xs-6">
        <div class="widget flat radius-bordered">
            <div class="widget-header bg-lightred">
                <span class="widget-caption">Guide utilisateur Technique</span>

                <div class="widget-buttons">
                    <a href="#" data-toggle="collapse">
                        <i class="fa fa-minus"></i>
                    </a>
                    <a href="#" data-toggle="dispose">
                        <i class="fa fa-times"></i>
                    </a>
                </div>
            </div>

            <div class="widget-body">

                            <ul id="tree2">
                                <li><a  href="#">Materiel et maintenance</a>

                                    <ul>
                                       {# <li>Company Maintenance</li>#}
                                        <li style="color: #7ab51d"><a href="#">Param&eacute;etre
                                            mat&eacute;riel</a>
                                            <ul>
                                                {#<li>Reports
                                                    <ul>
                                                        <li>Report1</li>
                                                        <li>Report2</li>
                                                        <li>Report3</li>
                                                    </ul>
                                                </li>#}
                                                <li style="color: #000; font-weight: normal"><a
                                                            href="http://localhost/Documents/Guide-utilisateur-Categorie.pdf"
                                                            target="_blank"
                                                            >Cat&eacute;gorie</a></li>
                                                <li style="color: #000; font-weight: normal"><a
                                                            href="http://localhost/Documents/Guide-utilisateur-Genre.pdf"
                                                            target="_blank"
                                                            >Genre</a></li>
                                                <li style="color: #000; font-weight: normal"><a
                                                            href="http://localhost/Documents/Guide-utilisateur-Marque.pdf"
                                                            target="_blank"
                                                            >Marque</a></li>
                                                <li style="color: #000; font-weight: normal"><a
                                                            href="http://localhost/Documents/Guide-utilisateur-Action.pdf"
                                                            target="_blank"
                                                            >Action</a></li>
                                                <li style="color: #000; font-weight: normal"><a
                                                            href="http://localhost/Documents/Guide-utilisateur-Modele.pdf"
                                                            target="_blank"
                                                            >Param&eacute;tre mod&egrave;le</a></li>
                                            </ul>
                                        </li>
                                        <li style="color: #000; font-weight: normal"><a
                                                    href="http://localhost/Documents/Guide-utilisateur-Categorie.pdf"
                                                    target="_blank"
                                                    >Mat&eacute;riel</a></li>
                                        <li style="color: #7ab51d"><a href="#" >Maintenance</a>
                                            <ul>
                                                <li style="color: #000; font-weight: normal"><a
                                                            href="http://localhost/Documents/Guide-utilisateur-Categorie.pdf"
                                                            target="_blank"
                                                            >Pr&eacute;ventive</a></li>
                                                <li style="color: #000; font-weight: normal"><a
                                                            href="http://localhost/Documents/Guide-utilisateur-Categorie.pdf"
                                                            target="_blank"
                                                            >Curative</a></li>
                                            </ul>
                                        </li>
                                    </ul>
                                </li>
                                {#<li><a href="#">XRP</a>
                                    <ul>
                                        <li>Company Maintenance</li>
                                        <li>Employees
                                            <ul>
                                                <li>Reports
                                                    <ul>
                                                        <li>Report1</li>
                                                        <li>Report2</li>
                                                        <li>Report3</li>
                                                    </ul>
                                                </li>
                                                <li>Employee Maint.</li>
                                            </ul>
                                        </li>
                                        <li>Human Resources</li>
                                    </ul>
                                </li>#}
                            </ul>


            </div>
        </div>
    </div>
</div>

{% endblock %}
