{% extends 'TechniqueBundle:MaintenanceMateriel:layout.html.twig' %}
{% block content %}
    <br>
    <div class="col-lg-12 col-sm-12 col-xs-12" style="padding-left: 15%; padding-right: 15%">
    <div class="widget flat radius-bordered">
        {% if statut =='SAISI' %}
        <div class="widget-header bg-azure">
            {% else %}
            <div class="widget-header bg-warning">
                {% endif %}
                {% if statut =='SAISI' %}
                    <span class="widget-caption">Ajouter des articles &aacute; la fiche de maintenance</span>
                {% else %}
                    <span class="widget-caption">Fiche de maintenance</span>
                {% endif %}
                {% if statut == 'DIFFUSE' %}
                    <div class="widget-buttons buttons-bordered">
                        <button class="btn btn-danger btn-sm" onclick="document.location.href='{{ path('realisemaintenance',{"id": maitnenanceid}) }}'">REALISER</button>
                    </div>
                {% endif %}
                <div class="widget-buttons buttons-bordered">
                    <button class="btn btn-palegreen btn-sm"  onclick="document.location.href='{{ path
                    ('imprimerfichemaintenance',{"id": maitnenanceid}) }}'"><i class="fa fa-print"></i>IMPRIMER</button>
                </div>
                <div class="widget-buttons buttons-bordered">
                    <button class="btn btn-azure btn-sm" onclick="document.location.href='{{ path('ajoutfichemaintenancep') }}'">Nouvelle Fiche de maintenance</button>
                </div>
            </div>
            <div class="widget-body">
                <div class="messageflasherror" style="color: #cd0000">
                    {% for flashMessage in app.session.flashbag.get('notice') %}
                        <p style="color: red"> <i class="fa fa-exclamation-triangle" ></i>  {{ flashMessage
                            }}</p>
                    {% endfor %}
                </div>
                <div class="row">
                    <div class="form-horizontal">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <div class="form-title">
                                {% if statut =='SAISI' %}
                                    <a href="{{ path('modifiermaintenance', {'idmaintenance':maitnenanceid}) }}" style="color: #FF6F00">Modifier fiche maintenance</a>
                                {% endif %}
                            </div>
                            <div class="form-group">
                                <label for="" class="col-sm-4 control-label">MATERIEL</label>
                                <div class="col-sm-4">
                                    <input type="text" id="materielid" class="form-control" value="{{ materiel.cODE }} {{ materiel.lIBELLE }}"/>
                                    <input type="hidden" id="idmateriel" class="form-control" value=" {{ materiel.id }}"/>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="" class="col-sm-4 control-label">COMPTEUR REEL</label>
                                <div class="col-sm-4">
                                    <input type="text" class="form-control" value="{{ compteur }}"/>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="" class="col-sm-4 control-label">OPERATEUR DE SAISI</label>
                                <div class="col-sm-4">
                                    <input type="text" class="form-control" value="{{ nomoperateur }}"/>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="" class="col-sm-4 control-label">STATUT</label>
                                <div class="col-sm-4">
                                    {% if statut =='SAISI' %}
                                        <input type="text" class="form-control" value="{{ statut }}" style="background: #00B0FF; color: black"/>
                                    {% else %}
                                        <input type="text" class="form-control" value="{{ statut }}" style="background: #ffc000; color: black"/>
                                    {% endif %}
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="" class="col-sm-4 control-label">MECANICIEN</label>
                                <div class="col-sm-4">
                                    <input type="text" class="form-control" value="{{ mecanicien }}"/>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="" class="col-sm-4 control-label">DATE D'IMMOBILISATION</label>
                                <div class="col-sm-4">
                                    <input type="text" class="form-control" value="{{ dateimmo|date('d-m-Y') }}"/>
                                </div>
                            </div>

                            <div class="form-title">
                                Liste des maintenances pr&eacute;vu &aacute; ce compteur
                            </div>
                            <div style="padding-left: 10%; padding-right: 10%" >
                                {% if type == 'CURATIVE' %}
                                    <table class="table table-bordered table-hover ">
                                        <thead class="bordered-azure">
                                        <tr role="row">
                                            <th style="width: 7%"></th>
                                            <th>Compteur</th>
                                            <th>Action</th>
                                            <th>Op&eacute;ration de maintenance</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        {% for rs in interventionr %}
                                            <tr>
                                                <td>
                                                    <div class="col-sm-offset-4">
                                                        <div class="checkbox">
                                                            <label>
                                                                <input type="checkbox" id="checkmaintenance" name="checkmaintenance[]" class="checkmaintenance" value="{{ rs.id }}"  checked>
                                                                <span class="text"></span>
                                                            </label>
                                                        </div>
                                                    </div>
                                                </td>
                                                <td>{{ rs.cOMPTEUR }}</td>
                                                <td>{{ rs.aCTION }}</td>
                                                <td>{{ rs.dESCRIPTION }}</td>
                                            </tr>
                                        {% endfor %}
                                        </tbody>
                                    </table>
                                {% else %}
                                    <table class="table table-bordered table-hover ">
                                        <thead class="bordered-azure">
                                        <tr role="row">
                                            <th>Compteur</th>
                                            <th>Id Op&eacute;ration</th>
                                            <th>Op&eacute;ration de maintenance</th>
                                            <th>Action</th>
                                            <th style="width: 7%"></th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        {% for rs in interventions %}
                                            <tr>
                                                <td>{{ rs.COMPTEUR }}</td>
                                                <td>{{ rs.OPERATIONINTERVENTIONID }}</td>
                                                <td>{{ rs.DESCRIPTION }}</td>
                                                <td>{{ rs.ACTION }}</td>
                                                <td>
                                                    <div class="col-sm-offset-4">
                                                        <div class="checkbox">
                                                            <label>
                                                                <input type="checkbox" id="checkmaintenance" name="checkmaintenance[]" class="checkmaintenance" value="{{ rs.OPERATIONINTERVENTIONID }}"  checked>
                                                                <span class="text"></span>
                                                            </label>
                                                        </div>
                                                    </div>
                                                </td>

                                            </tr>
                                        {% endfor %}
                                        </tbody>
                                    </table>
                                {% endif %}
                            </div>
                            <div class="form-title">

                            </div>
                            <div class="row">
                                {% if statut =='SAISI' %}
                                    <div class="col-lg-12 col-sm-12 col-xs-12">
                                        <div class="tabbable">
                                            <ul class="nav nav-tabs nav-justified" id="myTab5">
                                                <li class="active">
                                                    <a data-toggle="tab" href="#tabartin">
                                                        Articles intervention
                                                    </a>
                                                </li>
                                                <li class="tab-green">
                                                    <a data-toggle="tab" href="#tabmcur">
                                                        Stock Piece de rechange et lubrifiant
                                                    </a>
                                                </li>
                                            </ul>
                                            <div class="tab-content" style="background-color: rgba(231, 231, 231, 0.38)">
                                                <div id="tabartin" class="tab-pane in active ">
                                                    <div class="row" style="padding-left: 5%; padding-right: 5%">
                                                        <div class="col-lg-12 col-sm-12 col-xs-12">
                                                            <div class="row" style="padding-left: 5%; padding-right: 5%">
                                                                <div class="col-lg-12 col-sm-12 col-xs-12">
                                                                    <div class="row" >
                                                                        {{ form_start(form, {'attr': {'class': 'form-horizontal'}}) }}
                                                                        <div class="form-group">
                                                                            <label for="" class="col-sm-4 control-label">CHOISIR UN ARTICLE</label>
                                                                            {% if type == 'CURATIVE'  %}
                                                                                <div class="col-sm-4">
                                                                                    <input type="hidden" id="selarticle" style="width:100% "/>
                                                                                </div>
                                                                            {% else %}
                                                                                <div class="col-sm-4">
                                                                                    <select id="article" name="article" class="form-control">
                                                                                        <option>-----------------------------</option>
                                                                                        {% for rst in interventionarticles %}
                                                                                            {#{% for rs in rst %}#}
                                                                                            <option value="{{ rst
                                                                                            .ARTICLEOPERATIONINTID }}">({{ rst
                                                                                                .REFARTICLE }}) {{ rst.DESARTICLE
                                                                                                }}</option>
                                                                                            {# {% endfor %}#}
                                                                                        {% endfor %}
                                                                                    </select>
                                                                                </div>
                                                                            {% endif %}
                                                                        </div>
                                                                        <div class="form-group">
                                                                            <label for="" class="col-sm-4 control-label">QUANTITE RECOMMANDER</label>
                                                                            <div class="col-sm-4">
                                                                                <input type="text" class="form-control" id="qterecom" disabled style="background: #F44336; color: black"/>
                                                                            </div>
                                                                        </div>
                                                                        <div class="form-group">
                                                                            <label for="" class="col-sm-4 control-label">QUANTITE</label>
                                                                            <div class="col-sm-4">
                                                                                {{ form_widget(form.qUANTITE, {'attr': {'class': 'form-control'}}) }}
                                                                            </div>
                                                                        </div>
                                                                        <div align="right">
                                                                            <div style="padding-right: 35%">
                                                                                <input type="submit" class="btn btn-azure" value="Valider" onClick="this.disabled=true;this.form.submit();this.value='Patientez...'"/>
                                                                            </div>
                                                                        </div>
                                                                        {{ form_rest(form) }}
                                                                        {{ form_end(form) }}

                                                                        <br>
                                                                        {% if type == 'CURATIVE' %}
                                                                            {% if articlesmaintenancer|length !=0  %}
                                                                                <div style="padding-left: 10%; padding-right: 10%" >

                                                                                    <table class="table table-bordered table-hover ">
                                                                                        <thead class="bordered-azure">
                                                                                        <tr role="row">
                                                                                            <th>Code Article</th>
                                                                                            <th>Designation article</th>
                                                                                            <th>Quantite</th>
                                                                                            <th></th>
                                                                                        </tr>
                                                                                        </thead>
                                                                                        <tbody>
                                                                                        {% for rs in articlesmaintenancer %}
                                                                                            <tr>
                                                                                                <td>{{ rs.rEFARTICLE }}</td>
                                                                                                <td>{{ rs.dESARTICLE }}</td>
                                                                                                <td>{{ rs.qUANTITE }}</td>
                                                                                                <td>{#<a class="btn btn-warning" href="{{ path('modifiermaintenancearticle', {'idmaintenance': maitnenanceid, 'idarticle':rs.id }) }}"><i class="fa fa-pencil" title="Modifier"></i></a>#}
                                                                                                    <a class="btn btn-danger" href="{{ path('supprimermaintenancearticle',{'id':rs.id, 'idmaintenance': maitnenanceid}) }}"><i class="fa fa-trash-o"></i></a>
                                                                                                </td>
                                                                                            </tr>
                                                                                        {% endfor %}
                                                                                        </tbody>
                                                                                    </table>

                                                                                </div>
                                                                            {% endif %}
                                                                        {% else %}
                                                                            {% if maintenancearticle|length !=0  %}
                                                                                <div style="padding-left: 10%; padding-right: 10%" >

                                                                                    <table class="table table-bordered table-hover ">
                                                                                        <thead class="bordered-azure">
                                                                                        <tr role="row">
                                                                                            <th>Code Article</th>
                                                                                            <th>Designation article</th>
                                                                                            <th>Quantite</th>
                                                                                            <th></th>
                                                                                        </tr>
                                                                                        </thead>
                                                                                        <tbody>
                                                                                        {% for rs in maintenancearticle %}
                                                                                            <tr>
                                                                                                <td>{{ rs.rEFARTICLE }}</td>
                                                                                                <td>{{ rs.dESARTICLE }}</td>
                                                                                                <td>{{ rs.qUANTITE }}</td>
                                                                                                <td>
                                                                                                   {# <a class="btn btn-warning" href="{{ path('modifiermaintenancearticle', {'idmaintenance': maitnenanceid, 'idarticle':rs.articleid }) }}"><i class="fa fa-pencil" title="Modifier"></i></a>#}
                                                                                                    <button class="btn btn-danger" onclick="deletearticlemaintenance({{ rs.articleid }},{{ maitnenanceid }})"><i class="fa fa-trash-o"></i></button>
                                                                                                </td>
                                                                                            </tr>
                                                                                        {% endfor %}
                                                                                        </tbody>
                                                                                    </table>

                                                                                </div>
                                                                            {% endif %}
                                                                        {% endif %}
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div id="tabmcur" class="tab-pane">
                                                    <br>
                                                    <div style="padding-left: 2%; padding-right: 2%" >

                                                        {#<table class="table table-bordered table-hover " id="searchable2">
                                                            <thead class="bordered-azure">
                                                            <tr role="row">
                                                                <th>Ref Article</th>
                                                                <th>D&eacute;signation article</th>
                                                                <th>Quantit&eacute; en stock</th>
                                                                <th>Depot</th>
                                                                <th>Marque</th>
                                                            </tr>
                                                            </thead>
                                                            <tbody>
                                                            {% for rs1 in result1 %}
                                                                <tr>
                                                                    <td>{{ rs1.AR_Ref }}</td>
                                                                    <td>{{ rs1.AR_Design }}</td>
                                                                    <td>{{ rs1.AS_QteSto }}</td>
                                                                    <td>{{ rs1.DEPOT }}</td>
                                                                    <td>{{ rs1.FAMILLE }}</td>
                                                                </tr>
                                                            {% endfor %}
                                                            </tbody>
                                                        </table>#}

                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                {% else %}
                                    {% if maintenancearticle|length !=0  %}
                                        <div style="padding-left: 10%; padding-right: 10%" >

                                            <table class="table table-bordered table-hover ">
                                                <thead class="bordered-azure">
                                                <tr role="row">
                                                    <th>Code Article</th>
                                                    <th>Designation article</th>
                                                    <th>Quantite</th>
                                                    <th></th>
                                                </tr>
                                                </thead>
                                                <tbody>
                                                {% for rs in maintenancearticle %}
                                                    <tr>
                                                        <td>{{ rs.rEFARTICLE }}</td>
                                                        <td>{{ rs.dESARTICLE }}</td>
                                                        <td>{{ rs.qUANTITE }}</td>
                                                        <td>
                                                            {% if statut == 'SAISI' %}
                                                                {#<a class="btn btn-warning" href="{{ path('modifiermaintenancearticle', {'idmaintenance': maitnenanceid, 'idarticle':rs.articleid }) }}"><i class="fa fa-pencil" title="Modifier"></i></a>#}
                                                                <a class="btn btn-danger" href="{{ path('supprimermaintenancearticle',{'id':rs.articleid, 'idmaintenance': maitnenanceid}) }}"><i class="fa fa-trash-o"></i></a>
                                                            {% endif %}
                                                        </td>
                                                    </tr>
                                                {% endfor %}
                                                </tbody>
                                            </table>

                                        </div>
                                    {% endif %}

                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}