{% extends 'TechniqueBundle:MaintenanceMateriel:layout.html.twig' %}
{% block content %}
    <br>
    <div class="col-lg-12 col-sm-12 col-xs-12" style="padding-left: 15%; padding-right: 15%">
        <div class="widget flat radius-bordered">
            {% if maintenance.sTATUT == 'SAISI' %}
            <div class="widget-header bg-azure">
            {% elseif maintenance.sTATUT == 'DIFFUSE' %}
                <div class="widget-header bg-warning">
            {% endif %}
                <span class="widget-caption">Nouvelle Fiche de maintenance</span>
                {% if maintenance.sTATUT == 'DIFFUSE' %}
                    <div class="widget-buttons buttons-bordered">
                        <button class="btn btn-danger btn-sm" onclick="document.location.href='{{ path('realisemaintenance',{"id": maintenance.id}) }}'">REALISER</button>
                    </div>
                {% endif %}
                <div class="widget-buttons buttons-bordered">
                    <button class="btn btn-palegreen btn-sm" onclick="document.location.href='{{ path('imprimerfichemaintenance',{"id": maintenance.id}) }}'"><i class="fa fa-print"></i>IMPRIMER</button>
                </div>
                <div class="widget-buttons buttons-bordered">
                    <button class="btn btn-azure btn-sm" onclick="document.location.href='{{ path('fichemaintenancecurative') }}'">Nouvelle Fiche de maintenance</button>
                </div>
            </div>
            <div class="widget-body">
                <div class="messageflasherror" style="color: #cd0000">
                    {% for flashMessage in app.session.flashbag.get('notice') %}
                        <p style="color: red"> <i class="fa fa-exclamation-triangle" ></i>  {{ flashMessage
                            }}</p>
                    {% endfor %}
                </div>
                <div class="row">
                    <div class="form-horizontal">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <div class="form-group">
                                <label for="" class="col-sm-4 control-label">DATE MAINTENANCE</label>
                                <div class="col-sm-4">
                                    <input type="text" class="form-control" value="{{ maintenance.dATEMAINTENANCE|date('d-m-Y') }}"/>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="" class="col-sm-4 control-label">STATUT</label>
                                <div class="col-sm-4">
                                    {% if maintenance.sTATUT == 'SAISI' %}
                                        <input type="text" class="form-control" value="{{ maintenance.sTATUT }}" style="background: #00B0FF; color: black" disabled/>
                                    {% endif %}
                                    {% if maintenance.sTATUT == 'DIFFUSE' %}
                                        <input type="text" class="form-control" value="{{ maintenance.sTATUT }}" style="background: #ffc000; color: black" disabled/>
                                    {% endif %}
                                    <input type="hidden" id="idmaintenance" class="form-control" value="{{ maintenance.id }}" disabled/>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="" class="col-sm-4 control-label">MATERIEL</label>
                                <div class="col-sm-4">
                                    <input type="text" class="form-control" value="({{ materiel.cODE }}) {{ materiel.lIBELLE }}"/>
                                    <input type="hidden" value="{{ materiel.id }}" id="idmateriel"/>
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="" class="col-sm-4 control-label">COMPTEUR</label>
                                <div class="col-sm-4">
                                    <input type="text" class="form-control" value="{{ maintenance.cOMPTEUR }}" id="compteur"/>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="" class="col-sm-4 control-label">MAINTENANCE A VENIR</label>
                                <div class="col-sm-4">
                                    <input type="text" class="form-control" value="{{ maintenance.cPTPROCHAIN }}"/>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="" class="col-sm-4 control-label">MECANICIEN</label>
                                <div class="col-sm-4">
                                    <input type="text" class="form-control" value="{{ maintenance.nOMMECANICIEN }}"/>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="" class="col-sm-4 control-label">DATE D'IMMOBILISATION</label>
                                <div class="col-sm-4">
                                    <input type="text" class="form-control" value="{{ maintenance.dATEENTREE|date
                                    ('d-m-Y')
                                    }}"/>
                                </div>
                            </div>

                            <div class="form-title">
                                {% if maintenance.sTATUT != 'DIFFUSE' %}
                                <a href="{{ path('ajoutinterventionc', {'idmaintenance':maintenance.id}) }}"
                                   style="color: #ffc31a">Ajouter
                                    des travaux
                                    &aacute; &eacute;
                                    ffectuer</a>
                                {% else %}
                                    Les travaux à éffectués
                                    {% endif %}
                            </div>
                            <div style="padding-left: 10%; padding-right: 10%" >
                                <table class="table table-bordered table-hover ">
                                    <thead class="bordered-darkorange">
                                        <tr>
                                            <th>Compteur</th>
                                            <th>Description</th>
                                            <th></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                    {% for rs in interventionr %}
                                        <tr>
                                            <td>{{ rs.cOMPTEUR }}</td>
                                            <td>{{ rs.dESCRIPTION }}</td>
                                            <td>
                                                {% if maintenance.sTATUT != 'DIFFUSE' %}
                                                <a class="btn btn-danger" href="{{  path('supprimerinterventionc',
                                                {'idmaintenance':maintenance.id, 'id': rs.id}) }}"><i class="fa fa-trash-o"></i></a>
                                                {% endif %}
                                            </td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                            <br>
                            {% if maintenance.sTATUT == 'DIFFUSE' %}
                            <div class="form-title">
                               Les articles de la maintenance
                            </div>
                                <div style="padding-left: 10%; padding-right: 10%" >
                                    {% if articles|length != 0 %}
                                        <table class="table table-bordered table-hover ">
                                            <thead class="bordered-azure">
                                            <tr role="row">
                                                <th>Code Article</th>
                                                <th>Designation article</th>
                                                <th>Quantite</th>
                                                <th></th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            {% for rs in articles %}
                                                <tr>
                                                    <td>{{ rs.rEFARTICLE }}</td>
                                                    <td>{{ rs.dESARTICLE }}</td>
                                                    <td>{{ rs.qUANTITE }}</td>
                                                    <td>
                                                    </td>
                                                </tr>
                                            {% endfor %}
                                            </tbody>
                                        </table>
                                    {% endif %}
                                </div>
                            {% else %}
                            <div class="form-title">
                                Selectionner les articles de la maintenance
                            </div>
                            <div class="row">
                                <div class="col-lg-12 col-sm-12 col-xs-12">
                                        <div class="tabbable">
                                            <ul class="nav nav-tabs nav-justified" id="myTab5">
                                                <li class="active">
                                                    <a data-toggle="tab" href="#tabartin">
                                                        Articles intervention
                                                    </a>
                                                </li>
                                                <li class="tab-green">
                                                    <a data-toggle="tab" href="#tabmcur">
                                                        Stock Piece de rechange et lubrifiant
                                                    </a>
                                                </li>
                                            </ul>
                                            <div class="tab-content" style="background-color: rgba(231, 231, 231, 0.38)">
                                                <div id="tabartin" class="tab-pane in active ">
                                                    <div class="row" style="padding-left: 5%; padding-right: 5%">
                                                        <div class="col-lg-12 col-sm-12 col-xs-12">
                                                            <div class="row" style="padding-left: 5%; padding-right: 5%">
                                                                <div class="col-lg-12 col-sm-12 col-xs-12">
                                                                    <div class="row" >
                                                                        {{ form_start(form, {'attr': {'class': 'form-horizontal'}}) }}
                                                                        <div class="form-group">
                                                                            <label for="" class="col-sm-4 control-label">CHOISIR UN ARTICLE</label>
                                                                            <div class="col-sm-4">
                                                                                <input type="hidden" id="selarticle" style="width:100% "/>
                                                                            </div>
                                                                        </div>
                                                                        <div class="form-group">
                                                                            <label for="" class="col-sm-4 control-label">QUANTITE</label>
                                                                            <div class="col-sm-4">
                                                                                {{ form_widget(form.qUANTITE, {'attr': {'class': 'form-control'}}) }}
                                                                            </div>
                                                                        </div>
                                                                        <div align="right">
                                                                            <div style="padding-right: 35%">
                                                                                <input type="submit" class="btn btn-azure" value="Valider" onClick="this.disabled=true;this.form.submit();this.value='Patientez...'"/>
                                                                            </div>
                                                                        </div>
                                                                        {{ form_rest(form) }}
                                                                        {{ form_end(form) }}

                                                                        <br>
                                                                        <div style="padding-left: 10%; padding-right: 10%" >
                                                                        {% if articles|length != 0 %}
                                                                            <table class="table table-bordered table-hover ">
                                                                                <thead class="bordered-azure">
                                                                                <tr role="row">
                                                                                    <th>Code Article</th>
                                                                                    <th>Designation article</th>
                                                                                    <th>Quantite</th>
                                                                                    <th></th>
                                                                                </tr>
                                                                                </thead>
                                                                                <tbody>
                                                                                {% for rs in articles %}
                                                                                    <tr>
                                                                                        <td>{{ rs.rEFARTICLE }}</td>
                                                                                        <td>{{ rs.dESARTICLE }}</td>
                                                                                        <td>{{ rs.qUANTITE }}</td>
                                                                                        <td>
                                                                                            <button class="btn btn-danger" onclick="deletearticlemaintenance({{ rs.id }}, {{ maintenance.id }})"><i class="fa fa-trash-o"></i></button>
                                                                                        </td>
                                                                                    </tr>
                                                                                {% endfor %}
                                                                                </tbody>
                                                                            </table>
                                                                        {% endif %}
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div id="tabmcur" class="tab-pane">
                                                    <br>
                                                    <div style="padding-left: 2%; padding-right: 2%" >

                                                        <table class="table table-bordered table-hover " id="searchable2">
                                                            <thead class="bordered-azure">
                                                            <tr role="row">
                                                                <th>Ref Article</th>
                                                                <th>D&eacute;signation article</th>
                                                                <th>Quantit&eacute; en stock</th>
                                                                <th>Depot</th>
                                                                <th>Marque</th>
                                                            </tr>
                                                            </thead>
                                                            <tbody>
                                                            {% for rs1 in result1 %}
                                                                <tr>
                                                                    <td>{{ rs1.AR_Ref }}</td>
                                                                    <td>{{ rs1.AR_Design }}</td>
                                                                    <td>{{ rs1.AS_QteSto }}</td>
                                                                    <td>{{ rs1.DEPOT }}</td>
                                                                    <td>{{ rs1.FAMILLE }}</td>
                                                                </tr>
                                                            {% endfor %}
                                                            </tbody>
                                                        </table>

                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                            </div>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}