{% extends 'TechniqueBundle:MaintenanceMateriel:layout.html.twig' %}
{% block content %}
    <br>
    <div class="col-lg-12 col-sm-12 col-xs-12" style="padding-left: 15%; padding-right: 15%">
    <div class="widget flat radius-bordered">
        {% if interventionr|length != 0 %}
        <div class="widget-header bg-danger">
            {% else %}
            <div class="widget-header bg-warning">
                {% endif %}
                {% if interventionr|length != 0 %}
                    <span class="widget-caption">Modifier articles Fiche de maintenance</span>
                {% else %}
                    <span class="widget-caption">Modifier Fiche de maintenance</span>
                {% endif %}
                {% if interventionr|length != 0 %}
                    {# <div class="widget-buttons buttons-bordered">
                         <button class="btn btn-palegreen btn-sm" onclick="document.location.href='{{ path('imprimerfichemaintenance',{"id": maintenancemateriel.id}) }}'"><i class="fa fa-print"></i>IMPRIMER</button>
                     </div>#}
                {% else %}
                    <div class="widget-buttons buttons-bordered">
                        <button class="btn btn-danger btn-sm" onclick="document.location.href='{{ path('realisemaintenance',{"id": maintenancemateriel.id}) }}'">REALISER</button>
                    </div>
                    <div class="widget-buttons buttons-bordered">
                        <button class="btn btn-palegreen btn-sm" onclick="document.location.href='{{ path
                        ('imprimerfichemaintenance',{"id": maintenancemateriel.id}) }}'"><i class="fa fa-print"></i>IMPRIMER</button>
                    </div>
                {% endif %}
                <div class="widget-buttons buttons-bordered">
                    <button class="btn btn-azure btn-sm" onclick="document.location.href='{{ path('ajoutfichemaintenancep') }}'">Nouvelle Fiche de maintenance</button>
                </div>
            </div>
            <div class="widget-body">
                <div class="row">
                    <div class="form-horizontal">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <div class="form-group">
                                <label for="" class="col-sm-4 control-label">MATERIEL</label>
                                <div class="col-sm-4">
                                    <input type="text" class="form-control" value="{{ maintenancemateriel.dATEMAINTENANCE|date('d-m-Y') }}" disabled/>
                                </div>
                            </div>
                            {% for rs in materiel %}
                                <div class="form-group">
                                    <label for="" class="col-sm-4 control-label">MATERIEL</label>
                                    <div class="col-sm-4">
                                        <input type="text" class="form-control" value=" ({{ rs.cODE }}) {{ rs.lIBELLE }}" disabled/>
                                        <input type="hidden" id="idmateriel" class="form-control" value=" {{ rs.id }}" disabled/>
                                        <input type="hidden" id="modeleid" class="form-control" value=" {{ rs.MODELEID
                                        }}"  disabled/>

                                    </div>
                                </div>
                            {% endfor %}
                            <div class="form-group">
                                <label for="" class="col-sm-4 control-label">STATUT</label>
                                <div class="col-sm-4">
                                    {% if maintenancemateriel.sTATUT == 'SAISI' %}
                                        <input type="text" class="form-control" value="{{ maintenancemateriel.sTATUT }}" style="background: #00B0FF; color: black" disabled/>
                                    {% elseif maintenancemateriel.sTATUT == 'DIFFUSE' %}
                                        <input type="text" class="form-control" value="{{ maintenancemateriel.sTATUT }}" style="background: #36b50c; color: black" disabled/>
                                    {% elseif maintenancemateriel.sTATUT == 'REALISE' %}
                                        <input type="text" class="form-control" value="{{ maintenancemateriel.sTATUT }}" style="background: #E53935; color: black" disabled/>
                                    {% endif %}
                                    <input type="hidden" id="idmaintenance" class="form-control" value=" {{ maintenancemateriel.id }}" disabled/>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="" class="col-sm-4 control-label">COMPTEUR REEL</label>
                                <div class="col-sm-4">
                                    <input type="text" class="form-control" value="{{ maintenancemateriel.cOMPTEUR }}" id="compteurmodif"/>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="" class="col-sm-4 control-label">MAINTENANCE A VENIR</label>
                                <div class="col-sm-4">
                                    <input type="text" class="form-control" value="{{ maintenancemateriel.cPTPROCHAIN }}" id="maintenancepromodif" style="background: #CDDC39; color: black"/>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="" class="col-sm-4 control-label">MECANICIEN</label>
                                <div class="col-sm-4">
                                    <input type="text" class="form-control" value="{{ maintenancemateriel.nOMMECANICIEN }}" id="mecanicienmodif"/>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="" class="col-sm-4 control-label">TEMPS D'INTERVENTION</label>
                                <div class="col-sm-4">
                                    <input type="text" class="form-control" value="{{ maintenancemateriel.tEMPSREPARATION }}" id="temiterventmodif"/>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="" class="col-sm-4 control-label">DATE D'IMMOBILISATION</label>
                                <div class="col-sm-4">
                                    <input type="text" class="form-control" value="{{ maintenancemateriel.dATEENTREE|date('d-m-Y') }}" id="dateimmomodif"/>
                                </div>
                            </div>
                            {% if maintenancemateriel.sTATUT != 'SAISI' %}
                                {% if interventionr|length != 0 and articlesmaintenancer|length !=0 %}
                                    <div class="form-group">
                                        <label for="" class="col-sm-4 control-label">DATE DE SORTIE</label>
                                        <div class="col-sm-4">
                                            {% if  maintenancemateriel.dATESORTIEE != '' %}
                                                <input type="text" class="form-control" id="datesortie" value="{{
                                                maintenancemateriel.dATESORTIEE|date('d-m-Y') }}"/>
                                            {% else %}
                                                <input type="text" class="form-control" id="datesortie"/>
                                            {% endif %}
                                        </div>
                                    </div>
                                {% endif %}
                                <div class="form-group">
                                    <label for="" class="col-sm-4 control-label">COMMENTAIRE</label>
                                    <div class="col-sm-4">
                                        <textarea class="form-control" rows="5" id="commentaire"
                                                  name="commentaire">{{ maintenancemateriel.cOMMENTAIRE }}</textarea>
                                    </div>
                                </div>
                            {% endif %}
                            <div class="form-title">
                                Liste des maintenances pr&eacute;vu &aacute; ce compteur
                            </div>
                            <div style="padding-left: 10%; padding-right: 10%" >
                                {#  <div id="txtHintmodif">#}
                                {% if interventionr|length != 0 %}
                                    <table class="table table-bordered table-hover ">
                                        <thead class="bordered-darkorange">
                                        <tr role="row">

                                            <th>Compteur</th>
                                            <th>Action</th>
                                            <th>Description</th>
                                            <th style="width: 7%"></th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        {% for rs in interventionr %}
                                            <tr>

                                                <td>{{ rs.cOMPTEUR }}</td>
                                                <td>{{ rs.aCTION }}</td>
                                                <td>{{ rs.dESCRIPTION }}</td>
                                                <td>
                                                    <div class="col-sm-offset-4">
                                                        <div class="checkbox">
                                                            <label>
                                                                <input type="checkbox" id="checkmaintenance" name="checkmaintenance[]" class="checkmaintenance" value="{{ rs.interventionr }}"  checked>
                                                                <span class="text"></span>
                                                            </label>
                                                        </div>
                                                    </div>
                                                </td>

                                            </tr>
                                        {% endfor %}
                                        </tbody>
                                    </table>
                                    <br>
                                    <div id="divmaint">
                                        <p>AURES MAINTENANCE</p>

                                        <div class="form-group">
                                            <div class="col-sm-12">
                                                <textarea type="text" class="form-control"  id="autremaintenace" rows="8"> </textarea>
                                            </div>
                                        </div>
                                    </div>
                                {% else %}
                                    <table class="table table-bordered table-hover ">
                                        <thead class="bordered-darkorange">
                                        <tr role="row">

                                            <th>Compteur</th>
                                            <th>Action</th>
                                            <th>Description</th>
                                            <th style="width: 7%"></th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        {% for rs in interventionp %}
                                            <tr>

                                                <td>{{ rs.cOMPTEUR }}</td>
                                                <td>{{ rs.aCTION}}</td>
                                                <td>{{ rs.dESCRIPTION }}</td>
                                                <td>
                                                    <div class="col-sm-offset-4">
                                                        <div class="checkbox">
                                                            <label>
                                                                <input type="checkbox" id="checkmaintenance"
                                                                       name="checkmaintenance[]"
                                                                       class="checkmaintenance" value="{{ rs.iNTERVENTIONID }}"  checked disabled>
                                                                <span class="text"></span>
                                                            </label>
                                                        </div>
                                                    </div>
                                                </td>

                                            </tr>
                                        {% endfor %}
                                        </tbody>
                                    </table>
                                {% endif %}
                            </div>

                            <div class="form-title">

                            </div>
                            <br>
                            <div class="row">
                                <div class="col-lg-12 col-sm-12 col-xs-12">
                                    <div class="tabbable">
                                        <ul class="nav nav-tabs nav-justified" id="myTab5">
                                            <li class="active">
                                                <a data-toggle="tab" href="#tabartin">
                                                    Articles intervention
                                                </a>
                                            </li>
                                            <li class="tab-green">
                                                <a data-toggle="tab" href="#tabmcur">
                                                    Stock Piece de rechange et lubrifiant
                                                </a>
                                            </li>
                                        </ul>
                                        <div class="tab-content" style="background-color: rgba(231, 231, 231, 0.38)">
                                            <div id="tabartin" class="tab-pane in active ">
                                                <div class="row" style="padding-left: 5%; padding-right: 5%">
                                                    <div class="col-lg-12 col-sm-12 col-xs-12">
                                                        <div class="row" style="padding-left: 5%; padding-right: 5%">
                                                            <div class="col-lg-12 col-sm-12 col-xs-12">
                                                                <div class="row" >
                                                                    {% if maintenancemateriel.sTATUT != 'REALISE' %}
                                                                        {{ form_start(form, {'attr': {'class': 'form-horizontal'}}) }}
                                                                            <div class="form-group">
                                                                                <label for="" class="col-sm-4 control-label">CHOISIR UN ARTICLE</label>
                                                                                <div class="col-sm-4">
                                                                                    <input type="hidden" id="articlerm"
                                                                                           style="width:100% "/>
                                                                                </div>
                                                                            </div>
                                                                        <div class="form-group">
                                                                            <label for="" class="col-sm-4 control-label">QUANTITE</label>
                                                                            <div class="col-sm-4">
                                                                                {{ form_widget(form.qUANTITE, {'attr': {'class': 'form-control'}}) }}
                                                                            </div>
                                                                        </div>

                                                                        {% if  articlesmaintenancer|length != 0 %}
                                                                            <div align="right">
                                                                                <div style="padding-right: 35%">
                                                                                    <input type="submit" class="btn btn-danger" value="Valider" onClick="this.disabled=true;this.form.submit();this.value='Patientez...'"/>
                                                                                </div>
                                                                            </div>
                                                                        {% else %}
                                                                            <div align="right">
                                                                                <div style="padding-right: 35%">
                                                                                    <input type="submit" class="btn btn-azure" value="Valider" onClick="this.disabled=true;this.form.submit();this.value='Patientez...'"/>
                                                                                </div>
                                                                            </div>
                                                                        {% endif %}

                                                                        {{ form_rest(form) }}
                                                                        {{ form_end(form) }}
                                                                    {% endif %}
                                                                    <br>
                                                                    {% if articlesmaintenancer|length != 0 %}
                                                                        <table class="table table-bordered table-hover ">
                                                                            <thead class="bordered-darkorange">
                                                                            <tr role="row">
                                                                                <th>Code Article</th>
                                                                                <th>Designation article</th>
                                                                                <th>Quantite</th>
                                                                                <th>Action</th>
                                                                            </tr>
                                                                            </thead>
                                                                            <tbody>
                                                                            {% for rs in articlesmaintenancer %}
                                                                                <tr>
                                                                                    <td>{{ rs.rEFARTICLE }}</td>
                                                                                    <td>{{ rs.dESARTICLE }}</td>
                                                                                    <td>{{ rs.qUANTITE }}</td>
                                                                                    <td>
                                                                                        {#<button
                                                                                                class="btn btn-danger"
                                                                                                onclick="deletearticlemaintenance({{ rs.id }},{{ maintenancemateriel.id }})"><i class="fa
                                                                                          fa-trash"></i></button>#}
                                                                                    </td>
                                                                                </tr>
                                                                            {% endfor %}
                                                                            </tbody>
                                                                        </table>
                                                                    {% else %}
                                                                        {% if articles|length !=0  %}
                                                                            <div style="padding-left: 10%; padding-right: 10%" >

                                                                                <table class="table table-bordered table-hover ">
                                                                                    <thead class="bordered-darkorange">
                                                                                    <tr role="row">
                                                                                        <th>Code Article</th>
                                                                                        <th>Designation article</th>
                                                                                        <th>Quantite</th>
                                                                                        <th>Action</th>
                                                                                    </tr>
                                                                                    </thead>
                                                                                    <tbody>
                                                                                    {% for rs in articlesmaintenancer %}
                                                                                        {% for rs1 in rs %}
                                                                                            <tr>
                                                                                                <td>{{ rs1.rEFARTICLE }}</td>
                                                                                                <td>{{ rs1.dESARTICLE }}</td>
                                                                                                <td>{{ rs1.qUANTITE }}</td>
                                                                                                <td>
                                                                                                    <button
                                                                                                            class="btn btn-danger"
                                                                                                            onclick="deletearticlemaintenance({{ rs1.id }},{{ maintenancemateriel }})"><i class="fa
                                                                                          fa-trash"></i></button>
                                                                                                </td>
                                                                                            </tr>
                                                                                        {% endfor %}
                                                                                    {% endfor %}
                                                                                    </tbody>
                                                                                </table>

                                                                            </div>
                                                                        {% endif %}
                                                                    {% endif %}

                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div id="tabmcur" class="tab-pane">
                                                <br>

                                                <div style="padding-left: 2%; padding-right: 2%" >

                                                    <table class="table table-bordered table-hover " id="searchable2">
                                                        <thead class="bordered-darkorange">
                                                        <tr role="row">
                                                            <th>Ref Article</th>
                                                            <th>D&eacute;signation article</th>
                                                            <th>Quantit&eacute; en stock</th>
                                                            <th>Depot</th>
                                                            <th>Marque</th>
                                                        </tr>
                                                        </thead>
                                                        <tbody>
                                                        {% for rs1 in result1 %}
                                                            <tr>
                                                                <td>{{ rs1.AR_Ref }}</td>
                                                                <td>{{ rs1.AR_Design }}</td>
                                                                <td>{{ rs1.AS_QteSto }}</td>
                                                                <td>{{ rs1.DEPOT }}</td>
                                                                <td>{{ rs1.FAMILLE }}</td>
                                                            </tr>
                                                        {% endfor %}
                                                        </tbody>
                                                    </table>

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <hr>
                            {% if maintenancemateriel.sTATUT == 'DIFFUSE' %}
                            <div align="right">
                                <div style="padding-right: 10%">
                                    <input type="submit" class="btn btn-danger" value="Valider" id="realisemaintenancemodif" onClick="this.disabled=true;this.value='Patientez...'"/>
                                </div>
                                {% endif %}
                            </div>


                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}