{% extends 'ProductionBundle:Intervention:layout.html.twig' %}
{% block content %}
    <div class="row">
        <br>
        <div class="row" style="padding-left: 25%; padding-right: 25%">
            <div class="col-lg-12 col-sm-12 col-xs-12">
                <div class="row" >
                    <div class="widget flat radius-bordered">
                        <div class="widget-header bg-warning">
                            <span class="widget-caption">Modifier une nouvelle intervention  </span>
                        </div>
                        <div class="widget-body">
                            <div style="padding-left: 10%; padding-right: 25%">
                                {{ form_start(edit_form, {'attr': {'class': 'form-horizontal'}}) }}
                                <div class="form-group">
                                    <label for="inputEmail3" class="col-sm-4 control-label no-padding-right">LIBELLE</label>
                                    <div class="col-sm-8">
                                        {{ form_widget(edit_form.lIBELLE, {'attr': {'class': 'form-control'}}) }}
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="inputEmail3" class="col-sm-4 control-label no-padding-right">CODE</label>
                                    <div class="col-sm-8">
                                        {{ form_widget(edit_form.cODE, {'attr': {'class': 'form-control'}}) }}
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="inputEmail3" class="col-sm-4 control-label no-padding-right">GESTE</label>
                                    <div class="col-sm-8">
                                        {{ form_widget(edit_form.gESTEID, {'attr': {'class': 'form-control'}}) }}
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="inputEmail3" class="col-sm-4 control-label no-padding-right">TYPE D'INTERVENTION</label>
                                    <div class="col-sm-8">
                                        {{ form_widget(edit_form.tYPESGESTE, {'attr': {'class': 'form-control'}}) }}
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="inputEmail3" class="col-sm-4 control-label no-padding-right">TYPE INSTRUCTION</label>
                                    <div class="col-sm-8">
                                        {{ form_widget(edit_form.tYPEINSTRUCTIONID, {'attr': {'class': 'form-control'}}) }}
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="inputEmail3" class="col-sm-4 control-label no-padding-right">COMMENTAIRE</label>
                                    <div class="col-sm-8">
                                        {{ form_widget(edit_form.cOMMENTAIRE, {'attr': {'class': 'form-control'}}) }}
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-sm-offset-4 col-sm-8">
                                        <input type="submit" class="btn btn-warning" value="Valider" onClick="this.disabled=true;this.form.submit();this.value='Patientez...'"/>
                                    </div>
                                </div>
                                {{ form_rest(edit_form) }}
                                {{ form_end(edit_form) }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <br>
        <div class="row" style="padding-left: 5%; padding-right: 5%">
            <div class="col-lg-12 col-sm-12 col-xs-12">
                <div class="row" >
                    <div class="widget flat radius-bordered">
                        <div class="widget-header bg-palegreen">
                            <span class="widget-caption">Liste des interventions</span>
                        </div>
                        <div class="widget-body">
                            <div style="padding-left: 5%; padding-right: 5%">
                                <table class="table table-bordered table-hover " id="searchable1" >

                                    <thead class="bordered-darkorange">
                                    <tr role="row">
                                        <th>Libell&eacute; intervention</th>
                                        <th>Code intervention</th>
                                        <th>Geste</th>
                                        <th>Type intervention</th>
                                        <th>Type intruction</th>
                                        <th>Commentaire</th>
                                        <th>Date invalide</th>
                                        <th>Action</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for rs in sgestes %}
                                        <tr>
                                            <td>{{ rs.lIBELLE }}</td>
                                            <td>{{ rs.cODE }}</td>
                                            <td>{{ rs.geste }}</td>
                                            <td>{{ rs.tYPESGESTE }}</td>
                                            <td>{{ rs.typeinsruction }}</td>
                                            <td>{{ rs.cOMMENTAIRE }}</td>
                                            {% if rs.dATEINVALIDE != null %}
                                                <td>{{ rs.dATEINVALIDE|date('d-m-Y') }}</td>
                                            {% else %}
                                                <td></td>
                                            {% endif %}
                                            <td>
                                                <a class="btn btn-default btn-sm" href="{{ path('modifier', {'id': rs.id}) }}" title="Modifier">
                                                    <i class="fa fa-pencil-square-o"></i>Modifier
                                                </a>
                                                <a href="{{ path('supprimer',{'idgeste': rs.id}) }}" class="btn btn-danger btn-sm" title="supprimer" onclick="return confirm('Vous &ecirc;tes s&ucirc;r de vouloir supprimer cette ce geste')">
                                                    <i class="fa fa-trash"></i>Supprimer
                                                </a>

                                            </td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}