{% extends 'DashboardBundle:ControleGestion:layout.html.twig' %}
{% block content %}
    <div class="row">
        <div class="col-lg-12 col-sm-12 col-xs-12">
            <div class="tabbable">
                <ul class="nav nav-tabs nav-justified" id="myTab5">
                    <li class="active">
                        <a data-toggle="tab" href="#tabtech" >
                            Technique
                        </a>
                    </li>
                </ul>
                <div class="tab-content" style="background-color: rgba(231, 231, 231, 0.38)">
                    <div id="tabtech" class="tab-pane in active">
                        <br>
                        <div class="row">
                            <div class="col-lg-12 col-sm-12 col-xs-12">
                                <div class="row" >
                                    <div class="col-lg-12 col-sm-12 col-xs-12">
                                        <div class="widget flat radius-bordered">
                                            <div class="widget-header bg-palegreen">
                                                <span class="widget-caption">Liste des maintenances</span>
                                            </div>
                                            <div class="widget-body">
                                                    <div style="padding-right: 10%; padding-left: 10%">
                                                        <form class="form-horizontal" method="post" action="{{ path('exportfiltre') }}">
                                                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                                                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                                                                    <div class="form-group">
                                                                        <label for="" class="col-sm-4
                                                                        control-label">N&deg; Maintenance</label>
                                                                        <div class="col-sm-8">
                                                                            <input type="text" id="nummaintenance"
                                                                                   name="nummaintenance" style="width: 80%"/>
                                                                        </div>
                                                                    </div>
                                                                    <div class="form-group">
                                                                        <label for="" class="col-sm-4
                                                                        control-label">Mat&eacute;riel</label>
                                                                        <div class="col-sm-8">
                                                                            <input type="text" id="materiel"
                                                                                   name="materiel" style="width: 80%"/>
                                                                        </div>
                                                                    </div>
                                                                    <div class="form-group">
                                                                        <label for="" class="col-sm-4
                                                                        control-label">Marque</label>
                                                                        <div class="col-sm-8">
                                                                            <input type="text" id="marque"
                                                                                   name="marque" style="width: 80%"/>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                                                                    <div class="form-group">
                                                                        <label for="" class="col-sm-4
                                                                        control-label">Date maintenance</label>
                                                                        <div class="col-sm-8">
                                                                            <input type="text" id="datemaintenance"
                                                                                   name="datemaintenance" style="width: 80%"/>
                                                                        </div>
                                                                    </div>
                                                                    <div class="form-group">
                                                                        <label for="" class="col-sm-4
                                                                        control-label">Mod&egrave;le</label>
                                                                        <div class="col-sm-8">
                                                                            <input type="text" id="modele"
                                                                                   name="modele" style="width: 80%"/>
                                                                        </div>
                                                                    </div>
                                                                    <div class="form-group">
                                                                        <label for="" class="col-sm-4
                                                                        control-label">Article</label>
                                                                        <div class="col-sm-8">
                                                                            <input type="text" id="article"
                                                                                   name="article" style="width: 80%"/>
                                                                        </div>
                                                                    </div>
                                                                    <div class="form-group">
                                                                        <div class="col-lg-offset-8 col-lg-4">
                                                                            <button class="btn btn-darkorange"
                                                                                    >Valider</button>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </form>
                                                    </div>
                                                <br>
                                                <br>
                                                <div>
                                                    <table class="table table-bordered table-hover " id="tableId" >

                                                        <thead class="bordered-darkorange">
                                                        <tr role="row">
                                                            <th style="width: 4%">N&deg; M.</th>
                                                            <th style="width: 7%">Date M.</th>
                                                            <th style="width: 6%">N&deg; parc</th>
                                                            <th style="width: 15%">Materiel</th>
                                                            <th>Date de mise S</th>
                                                            <th style="width: 10%">Mod&egrave;le</th>
                                                            <th style="width: 10%">Marque</th>
                                                            <th>Compteur</th>
                                                            <th style="width: 5%">Nombre de m&eacute;canicien</th>
                                                            <th  style="width: 10%">M&eacute;canicien</th>
                                                            <th  style="width: 5%">Dur&eacute;e d'immo</th>
                                                            <th  style="width: 5%">Temps d'intervention</th>
                                                            <th  style="width: 5%">Nombre d'article</th>
                                                        </tr>
                                                        </thead>
                                                        <tbody>
                                                        {% for rs in maintenances %}
                                                            <tr>
                                                                <td>{{ rs.id }}</td>
                                                                <td>{{ rs.dATEMAINTENANCE|date('d-m-Y') }}</td>
                                                                <td>{{ rs.cODE }}</td>
                                                                <td>{{ rs.lIBELLE }}</td>
                                                                <td>{{ rs.dATEMISESERVICE|date('d-m-Y') }}</td>
                                                                <td>{{ rs.mODELE }}</td>
                                                                <td>{{ rs.mARQUE }}</td>
                                                                <td>{{ rs.cOMPTEUR }}</td>
                                                                {% if ',' in rs.nOMMECANICIEN %}
                                                                {% set foo = rs.nOMMECANICIEN|split(',') %}
                                                                    <td>{{ foo|length }}</td>
                                                                {% else %}
                                                                <td>1</td>
                                                                {% endif %}
                                                                <td>{{ rs.nOMMECANICIEN }}</td>
                                                                <td>{{ rs.dATESORTIEE|date('d-m-Y') - rs
                                                                    .dATEENTREE|date('d-m-Y') }} Jours</td>
                                                                <td>{{ rs.tEMPSREPARATION}}</td>
                                                                {% for rsarticles in articles %}
                                                                    {% set var = [] %}
                                                                    {% for rsarticles1 in rsarticles  %}
                                                                        {% set var = var|merge([rsarticles1.mAINTENANCEID]) %}
                                                                    {% endfor %}
                                                                    {% if rs.id  in var %}
                                                                        <td>{{ var|length }}</td>
                                                                    {% endif %}
                                                                {% endfor %}
                                                            </tr>
                                                        {% endfor %}
                                                        </tbody>
                                                    </table>
                                                    <br>

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <br>
                                <div class="row" id="diarticle" style="display: none">
                                    <div class="col-lg-12 col-sm-12 col-xs-12">
                                        <div class="widget flat radius-bordered">
                                            <div class="widget-header bg-palegreen">
                                                <span class="widget-caption">Liste des articles</span>
                                            </div>
                                            <div class="widget-body">
                                                <div id="articles"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}