<!DOCTYPE html>
<!--
BeyondAdmin - Responsive Admin Dashboard Template build with Twitter Bootstrap 3.3.6
Version: 1.6.0
Purchase: https://wrapbootstrap.com/theme/beyondadmin-adminapp-angularjs-mvc-WB06R48S4
-->

<html xmlns="http://www.w3.org/1999/xhtml">
<!-- Head -->
<head>
    <meta charset="utf-8"/>
    {% block stylesheets %}
        <style>
            table {
                width: 100%;
                border-collapse: collapse;
            }

            table, td, th {
                border: 1px solid black;
                padding: 5px;
            }

            th {
                text-align: left;
            }
        </style>

    {% endblock %}


</head>

<body>
{% block body %}
<div style="padding-left: 10%; padding-right: 10%">
    <table class="table table-bordered table-hover " id="searchable2">
        <thead class="bordered-darkorange">
        <tr role="row">
            <th>Compteur</th>
            <th>Action</th>
            <th>Description</th>
        </tr>
        </thead>
        <tbody>
        {% for rs in interventions %}
            <tr>
                <td>{{ rs.cOMPTEUR }}</td>
                <td>{{ rs.aCTION }}</td>
                <td>{{ rs.dESCRIPTION }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}

</body>
<!--  /Body -->
</html>
