{% extends 'ProductionBundle:Geste:layout.html.twig' %}
{% block content %}
    <div class="row">
        <br>
        <div class="row" style="padding-left: 25%; padding-right: 25%">
            <div class="col-lg-12 col-sm-12 col-xs-12">
                <div class="row" >
                    <div class="widget flat radius-bordered">
                        <div class="widget-header bg-azure">
                            <span class="widget-caption">Cr&eacute;ation d'un nouveau geste </span>
                        </div>
                        <div class="widget-body">
                            <div style="padding-left: 10%; padding-right: 25%">
                                {{ form_start(form, {'attr': {'class': 'form-horizontal'}}) }}
                                <div class="form-group">
                                    <label for="inputEmail3" class="col-sm-4 control-label no-padding-right">CODE</label>
                                    <div class="col-sm-8">
                                        {{ form_widget(form.cODE, {'attr': {'class': 'form-control'}}) }}
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="inputEmail3" class="col-sm-4 control-label no-padding-right">LIBELLE</label>
                                    <div class="col-sm-8">
                                        {{ form_widget(form.lIBELLE, {'attr': {'class': 'form-control'}}) }}
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="inputEmail3" class="col-sm-4 control-label no-padding-right">TYPE DE GESTE</label>
                                    <div class="col-sm-8">
                                        {{ form_widget(form.tYPEGESTE, {'attr': {'class': 'form-control'}}) }}
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-sm-offset-4 col-sm-8">
                                        <input type="submit" class="btn btn-azure" value="Valider" onClick="this.disabled=true;this.form.submit();this.value='Patientez...'"/>
                                    </div>
                                </div>
                                {{ form_rest(form) }}
                                {{ form_end(form) }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <br>
        <div class="row" style="padding-left: 15%; padding-right: 15%">
            <div class="col-lg-12 col-sm-12 col-xs-12">
                <div class="row" >
                    <div class="widget flat radius-bordered">
                        <div class="widget-header bg-palegreen">
                            <span class="widget-caption">Liste des gestes</span>
                        </div>
                        <div class="widget-body">
                            <div style="padding-left: 15%; padding-right: 15%">
                                <table class="table table-bordered table-hover " >

                                    <thead class="bordered-darkorange">
                                    <tr role="row">
                                        <th>Code</th>
                                        <th>Libell&eacute;</th>
                                        <th>Type geste</th>
                                        <th>Date invalide</th>
                                        <th>Action</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for rs in geste %}
                                        <tr>
                                            <td>{{ rs.CODE }}</td>
                                            <td>{{ rs.lIBELLE }}</td>
                                            <td>{{ rs.tYPEGESTE }}</td>
                                            {% if rs.dATEINVALIDE != null %}
                                                <td>{{ rs.dATEINVALIDE|date('d-m-Y') }}</td>
                                            {% else %}
                                                <td></td>
                                            {% endif %}
                                            <td>
                                                <button class="btn btn-default btn-sm" data-toggle="modal" data-target="#myModalHorizontal1-{{ rs.id }}" title="Modifier">
                                                    <i class="fa fa-pencil-square-o"></i>Modifier
                                                </button>
                                                <a href="{{ path('supprimer',{'idgeste': rs.id}) }}" class="btn btn-danger btn-sm" title="supprimer" onclick="return confirm('Vous &ecirc;tes s&ucirc;r de vouloir supprimer cette ce geste')">
                                                    <i class="fa fa-trash"></i>Supprimer
                                                </a>

                                            </td>
                                        </tr>
                                        <div class="modal fade" id="myModalHorizontal1-{{ rs.ID }}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel-{{ rs.ID }}" aria-hidden="false">
                                            <div class="modal-dialog">
                                                <div class="modal-content">
                                                    <!-- Modal Header -->
                                                    <div class="modal-header">
                                                        <button type="button" class="close"
                                                                data-dismiss="modal">
                                                            <span aria-hidden="true">&times;</span>
                                                            <span class="sr-only">Close</span>
                                                        </button>
                                                        <h4 class="modal-title" id="myModalLabel-{{ rs.ID }}">
                                                            Modifier le geste <b>{{ rs.lIBELLE }}</b>
                                                        </h4>
                                                    </div>

                                                    <!-- Modal Body -->
                                                    <div class="form-horizontal" id="form">

                                                        <div class="modal-body">

                                                            <div class="form-group">
                                                                <label  class="col-sm-4 control-label"
                                                                        for="inputlibelle">CODE</label>
                                                                <div class="col-sm-8">
                                                                    <input type="text" class="form-control"
                                                                           value="{{ rs.cODE }}" name="code" id="code{{ rs.ID }}" disabled/>
                                                                    <input type="hidden" class="form-control"
                                                                           value="{{ rs.ID }}" name="idgeste" id="idgeste"/>
                                                                </div>
                                                            </div>
                                                            <div class="form-group">
                                                                <label  class="col-sm-4 control-label"
                                                                        for="inputlibelle">lIBELLE</label>
                                                                <div class="col-sm-8">
                                                                    <input type="text" class="form-control"
                                                                           value="{{ rs.lIBELLE }}" name="libelle" id="libelle{{ rs.ID }}"/>
                                                                </div>
                                                            </div>
                                                            <div class="form-group">
                                                                <label  class="col-sm-4 control-label"
                                                                        for="inputlibelle">TYPE DE GESTE</label>
                                                                <div class="col-sm-8">
                                                                    <select style="width: 100%" id="typegeste{{ rs.ID }}" name="typegeste">
                                                                        <option>{{ rs.tYPEGESTE }}</option>
                                                                        {% if 'MA' == rs.tYPEGESTE %}
                                                                            <option>HO</option>
                                                                            <option>MA/HO</option>
                                                                        {% elseif 'HO' == rs.tYPEGESTE %}
                                                                            <option>MA</option>
                                                                            <option>MA/HO</option>
                                                                        {% elseif 'MA/HO' == rs.tYPEGESTE %}
                                                                            <option>HO</option>
                                                                            <option>MA</option>
                                                                        {% endif %}
                                                                    </select>
                                                                </div>
                                                            </div>
                                                            <div class="form-group">
                                                                <label  class="col-sm-4 control-label"
                                                                        for="inputinvalide">DATE INVALIDE</label>
                                                                <div class="col-sm-8">
                                                                    <input type="date" class="form-control"
                                                                           value="{{ rs.DATEINVALIDE|date('d-m-Y') }}" name="dateinvalide" id="dateinvalide{{ rs.ID }}"/>
                                                                </div>
                                                            </div>
                                                        </div>

                                                        <!-- Modal Footer -->
                                                        <div class="modal-footer">

                                                            <button type="button" class="btn btn-success btn-block" onclick="updategeste({{ rs.ID }})">
                                                                <span class="fa fa-check"></span>
                                                                Update
                                                            </button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                    {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}