{% extends 'TechniqueBundle:Consommation:layout.html.twig' %}
{% block content %}
    <div class="col-lg-12 col-sm-12 col-xs-12" style="padding-left: 15%; padding-right: 15%">
        <div class="widget flat radius-bordered">
            <div class="widget-header bg-azure">
                <span class="widget-caption">Ajouter un nouveau magasin</span>
                <div class="widget-buttons buttons-bordered">
                    <button class="btn btn-azure btn-sm" onclick="document.location.href='{{ path('ajoutermag') }}'">Nouveau magasin</button>
                </div>

            </div>
            <div class="widget-body">
                <div class="row">
                    <div class="form-horizontal">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <div class="form-title">
                                Info. magasin
                            </div>
                            {{ form_start(form, {'attr': {'class': 'form-horizontal'}}) }}
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                                    <div class="form-group">
                                        <label for="" class="col-sm-4 control-label">CODE<sup style="color: red">*</sup></label>
                                        <div class="col-sm-6">
                                            {{ form_widget(form.cODE, {'attr': {'class': 'form-control'}}) }}
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="" class="col-sm-4 control-label">LIBELLE<sup style="color: red">*</sup></label>
                                        <div class="col-sm-6">
                                            {{ form_widget(form.lIBELLE, {'attr': {'class': 'form-control'}}) }}
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="" class="col-sm-4 control-label">LIBELLE<sup style="color: red">*</sup></label>
                                        <div class="col-sm-6">
                                            {{ form_widget(form.tYPEMAGASIN, {'attr': {'class': 'form-control'}}) }}
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="" class="col-sm-4 control-label">EMPLACEMENT</label>
                                        <div class="col-sm-6">
                                            {{ form_widget(form.fERMEID, {'attr': {'class': 'form-control'}}) }}
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                                    <div class="form-group">
                                        <label for="" class="col-sm-4 control-label">CAPACITE</label>
                                        <div class="col-sm-6">
                                            {{ form_widget(form.cAPACITE, {'attr': {'class': 'form-control'}}) }}
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="" class="col-sm-4 control-label">QTE MAXIMALE</label>
                                        <div class="col-sm-6">
                                            {{ form_widget(form.qTEMAX, {'attr': {'class': 'form-control'}}) }}
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="" class="col-sm-4 control-label">QTE ALERTE</label>
                                        <div class="col-sm-6">
                                            {{ form_widget(form.qTEALERTE, {'attr': {'class': 'form-control'}}) }}
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-sm-offset-6 col-sm-6">
                                            <input type="submit" class="btn btn-azure" value="Valider" onClick="this.disabled=true;this.form.submit();this.value='Patientez...'"/>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            {{ form_rest(form) }}
                            {{ form_end(form) }}
                        </div>
                    </div>
                </div>
        </div>
    </div>
{% endblock %}