{% extends 'TechniqueBundle:Consommation:layout.html.twig' %}
{% block content %}
    <br>
    <div class="col-lg-12 col-sm-12 col-xs-12" style="padding-left: 15%; padding-right: 15%">
        <div class="widget flat radius-bordered">
            <div class="widget-header bg-azure">
                <span class="widget-caption">Nouvelle consommation magasin</span>
                <div class="widget-buttons buttons-bordered">
                    <button class="btn btn-azure btn-sm" onclick="document.location.href='{{ path('ajoutermagconso') }}'">Nouvelle consommation magasin</button>
                </div>

            </div>
            <div class="widget-body">
                <div class="row">
                    <div class="form-horizontal">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <div class="row">
                                {{ form_start(form, {'attr': {'class': 'form-horizontal'}}) }}
                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                                        <div class="form-group">
                                            <label for="" class="col-sm-4 control-label">DATE CONSO<sup style="color: red">*</sup></label>
                                            <div class="col-sm-6">
                                                {{ form_widget(form.dATECONSO, {'attr': {'class': 'form-control'}}) }}
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="" class="col-sm-4 control-label">MAGASIN<sup style="color: red">*</sup></label>
                                            <div class="col-sm-6">
                                                {{ form_widget(form.mAGASINID, {'attr': {'class': 'form-control'}}) }}
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="" class="col-sm-4 control-label">POMPISTE<sup style="color: red">*</sup></label>
                                            <div class="col-sm-6">
                                                {{ form_widget(form.pOMPISTEID, {'attr': {'class': 'form-control'}}) }}
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                                        <div align="center" style="padding-right: 10%">
                                            <table class="table table-bordered">
                                                <thead>
                                                <tr>
                                                    <th></th>
                                                    <th>Debut</th>
                                                    <th>Fin</th>
                                                    <th>Consommation</th>
                                                </tr>
                                                </thead>
                                                <tbody>
                                                <tr>
                                                    <td class=" control-label">INDEX</td>
                                                    <td>{{ form_widget(form.iNDEXDEBUT, {'attr': {'class': 'form-control'}}) }}</td>
                                                    <td>{{ form_widget(form.iNDEXFIN, {'attr': {'class': 'form-control'}}) }}</td>
                                                    <td><input type="number" class="form-control"  id="consoindex" style="background: #90F790; color: black" disabled/></td>
                                                </tr>
                                                <tr>
                                                    <td class=" control-label">JAUGE</td>
                                                    <td>{{ form_widget(form.jAUGEDEBUT, {'attr': {'class': 'form-control'}}) }}</td>
                                                    <td>{{ form_widget(form.jAUGEFIN, {'attr': {'class': 'form-control'}}) }}</td>
                                                    <td><input type="number" class="form-control" id="consojauge" disabled style="background: #90F790 ; color: black" disabled/></td>
                                                </tr>
                                                </tbody>
                                            </table>
                                            <br>
                                            <div class="form-horizontal" id="form">
                                                <div class="form-group">
                                                    <label for="" class="col-sm-4 control-label">CONTROLE INDEX / JAUGE</label>
                                                    <div class="col-sm-8">
                                                        <input type="number" class="form-control" id="controle" disabled style="background: #FF6040; color: black"/>
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label for="" class="col-sm-4 control-label">COMMENTAIRE</label>
                                                    <div class="col-sm-8">
                                                        {{ form_widget(form.cOMMENTAIRE, {'attr': {'class': 'form-control', 'rows':'4'}}) }}
                                                    </div>
                                                </div>
                                            </div>
                                            <div align="right" >
                                                <input type="submit" class="btn btn-azure" value="Valider" onClick="this.disabled=true;this.form.submit();this.value='Patientez...'"/>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                {{ form_rest(form) }}
                                {{ form_end(form) }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}