{% extends 'TechniqueBundle:Consommation:layout.html.twig' %}
{% block content %}
    <div class="col-lg-12 col-sm-12 col-xs-12" style="padding-left: 20%; padding-right: 20%">
    <div class="widget flat radius-bordered">
        <div class="widget-header bg-azure">
            <span class="widget-caption">Ajouter une nouvelle consommation de mat&eacute;riel</span>
            <div class="widget-buttons buttons-bordered">
                <button class="btn btn-azure btn-sm" onclick="document.location.href='{{ path('ajouterconsomateriel') }}'">Nouvelle consommation mat&eacute;riel</button>
            </div>
        </div>
        <div class="widget-body">
            <div class="row">
                {{ form_start(form, {'attr': {'class': 'form-horizontal'}}) }}
                <div class="form-horizontal">
                    <div class="form-group">
                        <label for="" class="col-sm-4 control-label">MAGASIN CONSO</label>
                        <div class="col-sm-4">
                            {{ form_widget(form.mAGASINCONSOID, {'attr': {'class': 'form-control'}}) }}
                        </div>
                    </div>
                    <hr>
                    <div class="form-group">
                        <label for="" class="col-sm-4 control-label">HEURE</label>
                        <div class="col-sm-4">
                            <input type="hidden" class="form-control" id="dateconso" disabled/>
                            <input type="time" class="form-control" id="heureconso"/>
                        </div>
                    </div>
                    <div style="display: none">

                    </div>

                    <div class="form-group">
                        <label for="" class="col-sm-4 control-label">MATERIEL</label>
                        <div class="col-sm-4">
                            {{ form_widget(form.mATERIELID, {'attr': {'class': 'form-control'}}) }}
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="" class="col-sm-4 control-label">CHAUFFEUR</label>
                        <div class="col-sm-4">
                            {{ form_widget(form.cHAUFFEURID, {'attr': {'class': 'form-control'}}) }}
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="" class="col-sm-4 control-label">COMPTEUR</label>
                        <div class="col-sm-4">
                            {{ form_widget(form.cTR, {'attr': {'class': 'form-control'}}) }}
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="" class="col-sm-4 control-label">QUANTITE (litres)</label>
                        <div class="col-sm-4">
                            {{ form_widget(form.qTE, {'attr': {'class': 'form-control'}}) }}
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="" class="col-sm-4 control-label">COMMENTAIRE</label>
                        <div class="col-sm-4">
                            {{ form_widget(form.cOMMENTAIRE, {'attr': {'class': 'form-control', 'rows':'4'}}) }}
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-offset-4 col-sm-8">
                            <div class="checkbox">
                                <label>
                                    {{ form_widget(form.pLEIN, {'attr': {'class': 'checkbox'}}) }}
                                    <span class="text">PLEIN</span>
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="" class="col-sm-4 control-label">DERNIER COMPTEUR</label>
                        <div class="col-sm-4">
                            <input type="text" class="form-control" id="derniercompteur" disabled style="background: #00BFA5; color: black"/>
                        </div>
                    </div>
                    <div align="right" style="padding-right: 34%">
                        <input type="submit" class="btn btn-azure" value="Valider" onClick="this.disabled=true;this.form.submit();this.value='Patientez...'"/>
                    </div>
                    <hr>
                </div>
                {{ form_rest(form) }}
                {{ form_end(form) }}

                {% if result|length != 0 %}
                    <div style="padding-right: 10%; padding-left: 10%">
                        <table class="table table-bordered">
                            <thead>
                            <tr>
                                <th></th>
                                <th>Heure</th>
                                <th>Materiel</th>
                                <th>Chauffeur</th>
                                <th>Compteur</th>
                                <th>Qte (litre)</th>
                                <th>Plein</th>
                                <th>Commentaire</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for rs in result %}
                                <tr>
                                    <td><a href="{{ path('modifiermaterielconso',{'id': rs.id }) }}" style="color: #00C853">Modifier</a></td>
                                    <td>{{ rs.dATECONSO|date('H:i:s') }}</td>
                                    <td>({{ rs.cODE }}) {{ rs.lIBELLE }}</td>
                                    <td>{{ rs.nOM }} {{ rs.pRENOM }}</td>
                                    <td>{{ rs.cTR }}</td>
                                    <td>{{ rs.qTE }}</td>
                                    {% if rs.pLEIN =='' %}
                                        <td> <div class="checkbox"><label><input type="checkbox"><span class="text"></span></label></div></td>
                                    {% else %}
                                        <td> <div class="checkbox"><label><input type="checkbox" checked><span class="text"></span></label></div></td>
                                    {% endif %}
                                    <td>{{ rs.cOMMENTAIRE }}</td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}