<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>{% block title %}SCL / KOCC-PGI {% endblock %}</title>
    {% block stylesheets %}

        <link href="{{ asset('assets/css/bootstrap.min.css') }}" rel="stylesheet"/>
        <link id="bootstrap-rtl-link" href="" rel="stylesheet"/>
        <link href="{{ asset('assets/css/font-awesome.min.css') }}" rel="stylesheet"/>
        <link href="{{ asset('assets/css/weather-icons.min.css') }}" rel="stylesheet"/>
        <!--Fonts-->
        <!--Fonts-->
        <link href="http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,400,600,700,300" rel="stylesheet" type="text/css">
        <link href='http://fonts.googleapis.com/css?family=Roboto:400,300' rel='stylesheet' type='text/css'>
        <!--Beyond styles-->
        <link id="beyond-link" href="{{ asset('assets/css/beyond.min.css') }}" rel="stylesheet" type="text/css" />
        <link href="{{ asset('assets/css/demo.min.css') }}" rel="stylesheet"/>
        <link href="{{ asset('assets/css/typicons.min.css') }}" rel="stylesheet"/>
        <link href="{{ asset('assets/css/animate.min.css') }}" rel="stylesheet"/>
        <link rel="stylesheet" href="{{ asset('css/mystyle.css') }}"/>
        {#<link href="{{ asset('assets/css/dataTables.bootstrap.css') }}" rel="stylesheet"/>#}
        <link href="https://cdn.datatables.net/v/dt/dt-1.10.12/datatables.min.css" rel="stylesheet"/>

        <link rel="stylesheet" href="{{ asset('css/select2.css') }}"/>
    {% endblock %}
    <link rel="icon" type="image/x-icon" href="{{ asset('images/logoSCL-mais.png') }}"/>
</head>


<body>
<!--Danger Modal Templates-->
<div id="modal-warning" class="modal modal-message modal-warning fade" style="display: none;" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <i class="fa fa-warning"></i>
            </div>
            <div class="modal-title">Attention</div>
            <div class="modal-body">Veuillez renseigner les intervenants de la tâche à réaliser !!!</div>
            <div class="modal-footer">
                <button type="button" class="btn btn-warning" data-dismiss="modal">OK</button>
            </div>
        </div> <!-- / .modal-content -->
    </div> <!-- / .modal-dialog -->
</div>
<!--End Danger Modal Templates-->
<!--Danger Modal Templates-->
<div id="modal-warning-itkism" class="modal modal-message modal-warning fade" style="display: none;" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <i class="fa fa-warning"></i>
            </div>
            <div class="modal-title">Attention</div>
            <div class="modal-body">Veuillez compléter les informations !!!</div>
            <div class="modal-footer">
                <button type="button" class="btn btn-warning" data-dismiss="modal">OK</button>
            </div>
        </div> <!-- / .modal-content -->
    </div> <!-- / .modal-dialog -->
</div>
<!--End Danger Modal Templates-->
<!--Success Modal Templates-->
<div id="modal-success" class="modal modal-message modal-success fade" style="display: none;" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <i class="glyphicon glyphicon-check"></i>
            </div>
            <div class="modal-title">Succès</div>
            <div class="modal-body">La fiche a bien été supprimée !</div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success" data-dismiss="modal">OK</button>
            </div>
        </div> <!-- / .modal-content -->
    </div> <!-- / .modal-dialog -->
</div>
<!--End Success Modal Templates-->
<div class="loading-container">
    <div class="loader"></div>
</div>
<div class="navbar" style="background: #7AB51D">
    <div class="navbar-inner" style="background: #7AB51D">
        <div class="navbar-container">
            <!-- Navbar Barnd -->
            <div class="navbar-header pull-left">
                <a href="#" class="navbar-brand">
                    <small> <img src="{{ asset('images/logoSCL-mais-blanc.png') }}" width="20"> {#SCL / KOCC-PGI#}</small>
                </a>
            </div>
            <!-- /Navbar Barnd -->

            <!-- Account Area and Settings --->

            <div class="navbar-header pull-right">
                <div class="navbar-account">
                    <ul class="account-area"></ul>
                    <div class="setting-container">
                    </div>
                    <!-- Settings -->
                </div>
            </div>
            <!-- /Account Area and Settings -->
            {% if app.user %}
                <div class="sidebar-collapse" id="sidebar-collapse">
                    <i class="collapse-icon fa fa-bars"></i>
                </div>
                <div class="navbar-header pull-right">
                    <div class="navbar-account">
                        <ul class="account-area">


                            <li>
                                <a class="login-area dropdown-toggle" data-toggle="dropdown">
                                    <section>
                                        <h2><span class="profile "><span><i
                                                            class="glyphicon glyphicon-user"></i> &nbsp;{{ app.user.name }}</span></span>
                                        </h2>
                                    </section>
                                </a>
                                <!--Login Area Dropdown-->
                                <ul class="pull-right dropdown-menu dropdown-arrow dropdown-login-area">

                                    <li class="email"><a>{{ app.user.email }}</a></li>

                                    <!--/Theme Selector Area-->
                                    <li class="dropdown-footer">
                                        <a href="{{ path('fos_user_security_logout') }}">
                                            D&eacute;connexion
                                        </a>
                                    </li>
                                </ul>
                                <!--/Login Area Dropdown-->
                            </li>
                            <!-- /Account Area -->
                            <!--Note: notice that setting div must start right after account area list.
                            no space must be between these elements-->
                            <!-- Settings -->
                        </ul>
                        <!-- Settings -->
                    </div>
                </div>
            {% endif %}
        </div>
    </div>
</div>
<!-- /Navbar -->
<!-- Main Container -->
<div class="main-container container-fluid">
    <!-- Page Container -->
    <div class="page-container">


        <div class="page-sidebar" id="sidebar">
            <!-- Page Sidebar Header-->
            <div class="sidebar-header-wrapper">

            </div>
            <!-- /Page Sidebar Header -->
            <!-- Sidebar Menu -->
            <ul class="nav sidebar-menu">
                <!--Dashboard-->
                {% if is_granted('ROLE_CGESTION') == true or  is_granted('ROLE_ADMIN') == true%}
                    <li>
                        <a href="{{ path('indexcontrolegestion') }}">
                            <i class="menu-icon  fa fa-dashboard "></i>
                            <span class="menu-text"> Tableau de bord </span>
                        </a>
                    </li>
                {% else %}
                    <li>
                        <a href="">
                            <i class="menu-icon  fa fa-dashboard "></i>

                            <span class="menu-text"> Tableau de bord </span>
                        </a>
                    </li>
                {% endif %}

                <li >
                    <a href="#" class="menu-dropdown">
                        <i class="menu-icon fa fa-cog"></i>
                        <span class="menu-text"> Gestion </span>

                        <i class="menu-expand"></i>
                    </a>
                    {% if is_granted('ROLE_ADMIN') == true %}
                        <ul class="submenu">
                            <li >
                                <a href="{{ path('gestionrole') }}">
                                    <span class="menu-text">Gestion des r&ocirc;les</span>
                                </a>
                            </li>
                            <li >
                                <a href="{{ path('gestionutilisateur') }}">
                                    <span class="menu-text">Gestion des utilisateurs</span>
                                </a>
                            </li>

                            <li >
                                <a href="{{ path('gestionservices') }}">
                                    <span class="menu-text">Gestion des services</span>
                                </a>
                            </li>
                        </ul>
                    {% endif %}
                </li>

                <li class="active open">
                    <a href="#" class="menu-dropdown">
                        <i class="menu-icon fa fa-wrench themefifthcolor"></i>
                        <span class="menu-text"> Technique </span>

                        <i class="menu-expand"></i>
                    </a>
                    <ul class="submenu">
                        <li>
                            <a href="#" class="menu-dropdown">
                                <span class="menu-text">Materiel & Maintenance</span>
                                <i class="menu-expand"></i>
                            </a>

                            <ul class="submenu">
                                <li>
                                    <a href="{{ path('materielor') }}">
                                        <i class="menu-icon fa fa-rocket"></i>
                                        <span class="menu-text">Param&eacute;tre materiel</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="{{ path('materiel') }}">
                                        <i class="fa fa-automobile"></i>
                                        <span class="menu-text">Mat&eacute;riel</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="{{ path('maintenance') }}">
                                        <i class="menu-icon glyphicon glyphicon-stats"></i>
                                        <span class="menu-text">Maintenance</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="{{ path('extractionmateriel') }}">
                                        <i class="menu-icon fa fa-file-excel-o"></i>
                                        <span class="menu-text">M.P prochaine</span>
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li  class="active">
                            <a href="{{ path('consommation') }}">
                                <span class="menu-text themefifthcolor">Magasin & Consommation</span>
                            </a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="#" class="menu-dropdown">
                        <i class="menu-icon fa fa-th-list"></i>
                        <span class="menu-text"> Production </span>

                        <i class="menu-expand"></i>
                    </a>
                    {% if is_granted('ROLE_ADMIN') == true or is_granted('ROLE_PRODUCTION') == true %}
                        <ul class="submenu">
                            <li>
                                <a href="{{ path('geste') }}">
                                    <span class="menu-text">Geste</span>
                                </a>
                            </li>
                            <li>
                                <a href="{{ path('interventionprod') }}">
                                    <span class="menu-text">Intervention</span>
                                </a>
                            </li>
                        </ul>
                    {% endif %}
                </li>
                <li>
                    <a href="#" class="menu-dropdown">
                        <i class="menu-icon glyphicon glyphicon-tree-deciduous  "></i>
                        <span class="menu-text "> Culture </span>

                        <i class="menu-expand"></i>
                    </a>
                    {% if is_granted('ROLE_ADMIN') == true or is_granted('ROLE_PRODUCTION') == true %}
                        <ul class="submenu">
                            <li >
                                <a href="{{ path('campagne') }}">
                                    <span class="menu-text">Campagne</span>
                                </a>
                            </li>
                            <li >
                                <a href="{{ path('ferme') }}">
                                    <span class="menu-text">Ferme</span>
                                </a>
                            </li>
                            <li>
                                <a href="{{ path('ilot') }}">
                                    <span class="menu-text">Ilot</span>
                                </a>
                            </li>
                            <li>
                                <a href="{{ path('parcelle') }}">
                                    <span class="menu-text">Parcelle</span>
                                </a>
                            </li>
                            <li >
                                <a href="{{ path('ferme') }}">
                                    <span class="menu-text">Site</span>
                                </a>
                            </li>
                        </ul>
                    {% endif %}
                </li>
                <li>
                    <a href="#" class="menu-dropdown">
                        <i class="menu-icon glyphicon glyphicon-tasks"></i>
                        <span class="menu-text"> Agronomie </span>

                        <i class="menu-expand"></i>
                    </a>
                    {% if is_granted('ROLE_ADMIN') == true or is_granted('ROLE_PRODUCTION') == true %}
                        <ul class="submenu">
                            <li >
                                <a href="#" class="menu-dropdown">
                                    <span class="menu-text">Instructions</span>
                                    <i class="menu-expand"></i>
                                </a>
                                <ul class="submenu">
                                    <li >
                                        <a href="{{ path('instructionsemis') }}">
                                            <span class="menu-text">Semis</span>
                                        </a>
                                    </li>
                                    <li >
                                        <a href="#">
                                            <span class="menu-text">Phyto</span>
                                        </a>
                                    </li>
                                    <li >
                                        <a href="#">
                                            <span class="menu-text">Localisé</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <span class="menu-text">Observation</span>
                                        </a>
                                    </li>
                                    <li >
                                        <a href="#">
                                            <span class="menu-text">Récolte</span>
                                        </a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    {% endif %}
                </li>
                <li>
                    <a href="#" class="menu-dropdown">
                        <i class="menu-icon fa fa-truck"></i>
                        <span class="menu-text"> Reception </span>

                        <i class="menu-expand"></i>
                    </a>
                </li>
                <li>
                    <a href="#" class="menu-dropdown">
                        <i class="menu-icon glyphicon glyphicon-inbox"></i>
                        <span class="menu-text"> Conditionnement </span>

                        <i class="menu-expand"></i>
                    </a>
                </li>
                <li>
                    <a href="#" class="menu-dropdown">
                        <i class="menu-icon glyphicon glyphicon-shopping-cart"></i>
                        <span class="menu-text"> Vente </span>

                        <i class="menu-expand"></i>
                    </a>
                </li>
                <li>
                    <a href="{{ path('listeficheintervention') }}">
                        <i class="menu-icon fa fa-file-pdf-o"></i>
                        <span class="menu-text"> Fiche d'intervention </span>
                    </a>
                </li>
            </ul>
            <!-- /Sidebar Menu -->
        </div>
        <!-- /Page Sidebar -->
        <!-- Page Content -->
        <div class="page-content">
            <!-- Page Breadcrumb -->
            <div class="page-breadcrumbs">
                <ul class="breadcrumb">
                    <li>
                        <i class="menu-icon fa fa-wrench themefifthcolor"></i>
                        <a href="">Technique</a>
                    </li>
                </ul>
            </div>
            <!-- /Page Breadcrumb -->
            <!-- Page Header -->
            <div class="page-header position-relative">
                <div class="header-title">
                    <h1>
                        Consommation
                    </h1>
                </div>
                <!--Header Buttons-->
                <div class="header-buttons">
                    <a class="sidebar-toggler" href="#">
                        <i class="fa fa-arrows-h"></i>
                    </a>
                    <a class="refresh" id="refresh-toggler" href="">
                        <i class="glyphicon glyphicon-refresh"></i>
                    </a>
                    <a class="fullscreen" id="fullscreen-toggler" href="#">
                        <i class="glyphicon glyphicon-fullscreen"></i>
                    </a>
                </div>
                <!--Header Buttons End-->
            </div>
            <!-- /Page Header -->
            <!-- Page Body -->
            <div class="page-body">
                <div class="row">
                    <div class="col-lg-12 col-sm-12 col-xs-12">
                        <div class="tabbable">
                            <ul class="nav nav-tabs nav-justified" id="myTab5">
                                <li class="tab-yellow">
                                    <a data-toggle="tab" href="#tabmag">
                                        Magasin
                                    </a>
                                </li>
                                <li class="tab-green" >
                                    <a data-toggle="tab" href="#tabindex">
                                        Index / Jauge
                                    </a>
                                </li>
                                <li class="active" >
                                    <a data-toggle="tab" href="#tabconso">
                                        Consommation mat&eacute;riel
                                    </a>
                                </li>
                            </ul>
                            <div class="tab-content" style="background-color: rgba(231, 231, 231, 0.38)">
                                <div id="tabmag" class="tab-pane ">
                                    <div class="row">
                                        <br>
                                        <div class="row" style="padding-left: 5%; padding-right: 5%">
                                            <div class="col-lg-12 col-sm-12 col-xs-12">
                                                <div class="row" >
                                                    <div class="widget flat radius-bordered">
                                                        <div class="widget-header bg-palegreen">
                                                            <span class="widget-caption">Liste des magasins</span>
                                                            <div class="widget-buttons buttons-bordered">
                                                                <button class="btn btn-azure btn-sm" onclick="document.location.href='{{ path('ajoutermag') }}'">Nouveau magasin</button>
                                                            </div>
                                                        </div>
                                                        <div class="widget-body">
                                                            <div style="padding-left: 5%; padding-right: 5%">
                                                                <table class="table table-bordered table-hover " id="searchable2">
                                                                    <thead class="bordered-darkorange">
                                                                    <tr role="row">
                                                                        <th></th>
                                                                        <th>Code</th>
                                                                        <th>Libell&eacute;</th>
                                                                        <th>Type contenu</th>
                                                                        <th>Capacit&eacute;</th>
                                                                        <th>Qt&eacute; Alert</th>
                                                                        <th>Date invalide</th>
                                                                    </tr>
                                                                    </thead>
                                                                    <tbody>
                                                                    {#{% for rs in magasins %}
                                                                        <tr>
                                                                            <td><a href="{{ path('modifiermag',{'id': rs.id }) }}" style="color: #00C853">Detail</a></td>
                                                                            <td>{{ rs.cODE }}</td>
                                                                            <td>{{ rs.lIBELLE }}</td>
                                                                            <td>{{ rs.tYPEMAGASIN }}</td>
                                                                            <td>{{ rs.cAPACITE }}</td>
                                                                            <td>{{ rs.qTEALERTE }}</td>
                                                                            {% if rs.dATEINVALIDE == null %}
                                                                                <td></td>
                                                                            {% else %}
                                                                                <td>{{ rs.dATEINVALIDE|date('d-m-Y') }}</td>
                                                                            {% endif %}
                                                                        </tr>
                                                                    {% endfor%}#}
                                                                    </tbody>
                                                                </table>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div id="tabindex" class="tab-pane ">
                                    <br>
                                    <div class="row">
                                        <div class="row" style="padding-left: 5%; padding-right: 5%">
                                            <div class="col-lg-12 col-sm-12 col-xs-12">
                                                <div class="row" >
                                                    <div class="widget flat radius-bordered">
                                                        <div class="widget-header bg-palegreen">
                                                            <span class="widget-caption">Liste des consommations magasin</span>
                                                            <div class="widget-buttons buttons-bordered">
                                                                <button class="btn btn-azure btn-sm" onclick="document.location.href='{{ path('ajoutermagconso') }}'">Nouvelle consommation magasin</button>
                                                            </div>
                                                        </div>
                                                        <div class="widget-body">
                                                            <div style="padding-left: 5%; padding-right: 5%">
                                                                <table class="table table-bordered table-hover " id="searchable6">
                                                                    <thead class="bordered-darkorange">
                                                                    <tr role="row">
                                                                        <th></th>
                                                                        <th>Date</th>
                                                                        <th>Magasin</th>
                                                                        <th>Pompiste</th>
                                                                        <th>Index d&eacute;but</th>
                                                                        <th>Index fin</th>
                                                                        <th>Jauge d&eacute;but</th>
                                                                        <th>Jauge fin</th>
                                                                        <th>Controle</th>
                                                                    </tr>
                                                                    </thead>
                                                                    <tbody>
                                                                    {#  {% for rs in magconso %}
                                                                          <tr>
                                                                              <td><a href="{{ path('modifiermagconso',{'id': rs.id }) }}" style="color: #00C853">Detail</a></td>
                                                                              <td>{{ rs.dATECONSO|date('Y-m-d H:i:s') }}</td>
                                                                              <td>{{ rs.lIBELLE }}</td>
                                                                              <td>{{ rs.pRENOM }} {{ rs.nOM }}</td>
                                                                              <td>{{ rs.iNDEXDEBUT }}</td>
                                                                              <td>{{ rs.iNDEXFIN }}</td>
                                                                              <td>{{ rs.jAUGEDEBUT }}</td>
                                                                              <td>{{ rs.jAUGEFIN }}</td>
                                                                              {% set index = rs.iNDEXFIN - rs.iNDEXDEBUT  %}
                                                                              {% set jauge = rs.jAUGEDEBUT - rs.jAUGEFIN  %}
                                                                              <td>{{ index - jauge }}</td>
                                                                          </tr>
                                                                      {% endfor%}#}
                                                                    </tbody>
                                                                </table>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div id="tabconso" class="tab-pane in active  ">
                                    <div class="row">
                                        <br>
                                        <div class="row" style="padding-left: 5%; padding-right: 5%">
                                            <div class="col-lg-12 col-sm-12 col-xs-12">
                                                <div class="row" >
                                                    <div class="widget flat radius-bordered">
                                                        <div class="widget-header bg-palegreen">
                                                            <span class="widget-caption">Liste des magasins</span>
                                                            <div class="widget-buttons buttons-bordered">
                                                                <button class="btn btn-azure btn-sm" onclick="document.location.href='{{ path('ajouterconsomateriel') }}'">Nouvelle consommation mat&eacute;riel</button>
                                                            </div>
                                                        </div>
                                                        <div class="widget-body">
                                                            <div style="padding-left: 2%; padding-right: 2%">
                                                                <table class="table table-bordered table-hover " id="searchable7">
                                                                    <thead class="bordered-darkorange">
                                                                    <tr role="row">
                                                                        <th></th>
                                                                        <th>No index</th>
                                                                        <th>Date</th>
                                                                        <th>Mat&eacute;riel</th>
                                                                        <th>Magasin</th>
                                                                        <th>Chauffeur</th>
                                                                        <th>Qt&eacute;</th>
                                                                        <th>Compteur</th>
                                                                        <th>No Conso</th>
                                                                    </tr>
                                                                    </thead>
                                                                    <tbody>
                                                                    {% for rs in mateconso %}
                                                                        <tr>
                                                                            <td><a href="{#{{ path('modifiermag',{'id': rs.id }) }}#}" style="color: #00C853">Detail</a></td>
                                                                            <td>{{ rs.mAGASINCONSOID }}</td>
                                                                            <td>{{ rs.dATECONSO|date('d-m-Y H:i:s') }}</td>
                                                                            <td>{{ rs.code }} {{ rs.materiel }}</td>
                                                                            <td>{{ rs.magasin }}</td>
                                                                            <td>{{ rs.pRENOM }} {{ rs.nOM }}</td>
                                                                            <td>{{ rs.qTE }}</td>
                                                                            <td>{{ rs.cTR }}</td>
                                                                            <td>{{ rs.id }}</td>
                                                                        </tr>
                                                                    {% endfor%}
                                                                    </tbody>
                                                                </table>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /Page Body -->
        </div>

        <!-- /Page Body -->
    </div>
    <!-- /Page Container -->
    <!-- Main Container -->

</div>


{% block javascripts %}
    <script src="{{ asset('assets/js/skins.min.js') }}"></script>
    <script src="{{ asset('assets/js/jquery.min.js') }}"></script>
    <script src="{{ asset('assets/js/bootstrap.min.js') }}"></script>
    <script src="{{ asset('assets/js/slimscroll/jquery.slimscroll.min.js') }}"></script>

    <!--Beyond Scripts-->
    <script src="{{ asset('assets/js/beyond.js') }}"></script>
    {# <script src="{{ asset('assets/js/datatable/jquery.dataTables.min.js')}}"></script>
     <script src="{{ asset('assets/js/datatable/dataTables.bootstrap.min.js')}}"></script>#}

    <script src="https://cdn.datatables.net/v/dt/dt-1.10.12/datatables.min.js"></script>
    <script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
    <script src="{{ path('fos_js_routing_js', {"callback": "fos.Router.setData"}) }}"></script>
    <script src="https://cdn.rawgit.com/ashl1/datatables-rowsgroup/fbd569b8768155c7a9a62568e66a64115887d7d0/dataTables.rowsGroup.js"></script>

    <script>
        var table = $('#searchable7').DataTable();
    </script>
{% endblock %}
<!--Basic Scripts-->
<!--Beyond Scripts-->
<!--Page Related Scripts-->

</body>
</html>

