{% extends 'TechniqueBundle:Consommation:layout.html.twig' %}
{% block content %}
    <div class="col-lg-12 col-sm-12 col-xs-12" style="padding-left: 15%; padding-right: 15%">
        <div class="widget flat radius-bordered">
            <div class="widget-header bg-warning">
                <span class="widget-caption">Modifier le magasin</span>
                <div class="widget-buttons buttons-bordered">
                    <button class="btn btn-azure btn-sm" onclick="document.location.href='{{ path('ajoutermag') }}'">Nouveau magasin</button>
                </div>

            </div>
            <div class="widget-body">
                <div class="row">
                    <div class="form-horizontal">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <div class="form-title">
                                Info. magasin
                            </div>
                            {% for flashMessage in app.session.flashbag.get('notice') %}

                                <p style="color: red">{{ flashMessage }}</p>

                            {% endfor %}
                            {{ form_start(edit_form, {'attr': {'class': 'form-horizontal'}}) }}
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                                    <div class="form-group">
                                        <label for="" class="col-sm-4 control-label">CODE<sup style="color: red">*</sup></label>
                                        <div class="col-sm-6">
                                            {{ form_widget(edit_form.cODE, {'attr': {'class': 'form-control'}}) }}
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="" class="col-sm-4 control-label">LIBELLE<sup style="color: red">*</sup></label>
                                        <div class="col-sm-6">
                                            {{ form_widget(edit_form.lIBELLE, {'attr': {'class': 'form-control'}}) }}
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="" class="col-sm-4 control-label">LIBELLE<sup style="color: red">*</sup></label>
                                        <div class="col-sm-6">
                                            {{ form_widget(edit_form.tYPEMAGASIN, {'attr': {'class': 'form-control'}}) }}
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="" class="col-sm-4 control-label">EMPLACEMENT</label>
                                        <div class="col-sm-6">
                                            {{ form_widget(edit_form.fERMEID, {'attr': {'class': 'form-control'}}) }}
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                                    <div class="form-group">
                                        <label for="" class="col-sm-4 control-label">CAPACITE</label>
                                        <div class="col-sm-6">
                                            {{ form_widget(edit_form.cAPACITE, {'attr': {'class': 'form-control'}}) }}
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="" class="col-sm-4 control-label">QTE MAXIMALE</label>
                                        <div class="col-sm-6">
                                            {{ form_widget(edit_form.qTEMAX, {'attr': {'class': 'form-control'}}) }}
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="" class="col-sm-4 control-label">QTE ALERTE</label>
                                        <div class="col-sm-6">
                                            {{ form_widget(edit_form.qTEALERTE, {'attr': {'class': 'form-control'}}) }}
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="" class="col-sm-4 control-label">DATE INVALIDE</label>
                                        <div class="col-sm-6">
                                            {{ form_widget(edit_form.dATEINVALIDE, {'attr': {'class': 'form-control'}}) }}
                                        </div>
                                    </div>
                                    <br>
                                    <div class="row">
                                        <div align="right" style="padding-right: 15%">
                                            <input type="submit" class="btn btn-warning" value="Modifier" onClick="this.disabled=true;this.form.submit();this.value='Patientez...'"/>
                                            <a class="btn btn-danger" href="{{ path('suppmag', {'id' : magasin.id}) }}"> Supprimer</a>
                                        </div>
                                    </div>
                                    <br>
                                </div>
                            </div>
                            {{ form_rest(edit_form) }}
                            {{ form_end(edit_form) }}
                            <div style="padding-left: 20%; padding-right: 20%">

                                <table  class="table table-bordered ">
                                    <thead>
                                    <tr>
                                        <th style="width: 30%"></th>
                                        <th style="width: 15%">Date stock</th>
                                        <th style="width: 16%">SI + Appro</th>
                                        <th style="width: 16%">Qt&eacute; conso</th>
                                        <th>Stock final</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr>
                                        <td>Stock th&eacute;orique au</td>
                                        <td>{{ "now"|date("m/d/Y") }}</td>
                                        <td>{{ sumqteappro }}</td>
                                        <td>{{ sumqteconso }}</td>
                                        <td style="background: #F0E890">{{ sumqteappro -  sumqteconso }}</td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <div class="form-title">
                            Jauge / Index
                        </div>
                        <div style="padding-left: 15%; padding-right: 15%">
                            <table  class="table table-bordered " id="searchable3">
                                <thead>
                                <tr>
                                    <th>Date conso</th>
                                    <th>Index debut</th>
                                    <th>Index fin</th>
                                    <th>Jauge debut</th>
                                    <th>Jauge fin</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for rs in magconso %}
                                    <tr>
                                        <td>{{ rs.dATECONSO|date('d-m-Y h:i:s') }}</td>
                                        <td>{{ rs.iNDEXDEBUT }}</td>
                                        <td>{{ rs.iNDEXFIN }}</td>
                                        <td>{{ rs.jAUGEDEBUT }}</td>
                                        <td>{{ rs.jAUGEFIN }}</td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <div class="form-title">
                            Consommations / Appro par jour
                        </div>
                        <div style="padding-left: 15%; padding-right: 15%">
                            <table  class="table table-bordered " id="searchable4">
                                <thead>
                                <tr>
                                    <th>Date Operation</th>
                                    <th>Qt&eacute; appro</th>
                                    <th>Qt&eacute; conso</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for rs in magstock %}
                                    <tr>
                                        <td>{{ rs.DATEOPERATION }}</td>
                                        <td>{{ rs.QTEAPPRO }}</td>
                                        <td>{{ rs.QTECONSO }}</td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <div class="form-title">
                            Stock initial / Approvisionnement / R&eacute;gularisation Stock
                        </div>
                        <div style="padding-left: 10%; padding-right: 10%">
                            <table  class="table table-bordered " id="searchable5">
                                <thead>
                                <tr>
                                    <th>Date Appro</th>
                                    <th>Type Appro</th>
                                    <th>Qt&eacute; Appro</th>
                                    <th>Ref Appro</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for rs in magappro %}
                                    <tr>
                                        <td>{{ rs.dATEAPPRO|date('d-m-Y h:i:s') }}</td>
                                        <td>{{ rs.tYPEAPPRO }}</td>
                                        <td>{{ rs.qTEAPPRO }}</td>
                                        <td>{{ rs.rEFAPPRO }}</td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
{% endblock %}