{% extends 'TechniqueBundle:Consommation:layout.html.twig' %}
{% block content %}
    <br>
    <div class="col-lg-12 col-sm-12 col-xs-12" style="padding-left: 15%; padding-right: 15%">
        <div class="widget flat radius-bordered">
            <div class="widget-header bg-warning">
                <span class="widget-caption">Modifier consommation magasin</span>
                <div class="widget-buttons buttons-bordered">
                    <button class="btn btn-azure btn-sm" onclick="document.location.href='{{ path('ajoutermagconso') }}'">Nouvelle consommation magasin</button>
                </div>

            </div>
            <div class="widget-body">
                <div class="row">
                    <div class="form-horizontal">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <div class="form-title">
                                Info. Consomagation magasin
                            </div>
                            <div class="row">
                                {{ form_start(edit_form, {'attr': {'class': 'form-horizontal'}}) }}
                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                                        <div class="form-group">
                                            <label for="" class="col-sm-4 control-label">DATE CONSO<sup style="color: red">*</sup></label>
                                            <div class="col-sm-6">
                                                {{ form_widget(edit_form.dATECONSO, {'attr': {'class': 'form-control'}}) }}
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="" class="col-sm-4 control-label">MAGASIN<sup style="color: red">*</sup></label>
                                            <div class="col-sm-6">
                                                {{ form_widget(edit_form.mAGASINID, {'attr': {'class': 'form-control'}}) }}
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="" class="col-sm-4 control-label">POMPISTE<sup style="color: red">*</sup></label>
                                            <div class="col-sm-6">
                                                {{ form_widget(edit_form.pOMPISTEID, {'attr': {'class': 'form-control'}}) }}
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="" class="col-sm-4 control-label">DATE INVALIDE<sup style="color: red">*</sup></label>
                                            <div class="col-sm-6">
                                                {{ form_widget(edit_form.dATEINVALIDE, {'attr': {'class': 'form-control'}}) }}
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                                        <div align="center" style="padding-right: 10%">
                                            <table class="table table-bordered">
                                                <thead>
                                                <tr>
                                                    <th></th>
                                                    <th>Debut</th>
                                                    <th>Fin</th>
                                                    <th>Consommation</th>
                                                </tr>
                                                </thead>
                                                <tbody>
                                                <tr>
                                                    <td class=" control-label">INDEX</td>
                                                    <td>{{ form_widget(edit_form.iNDEXDEBUT, {'attr': {'class': 'form-control'}}) }}</td>
                                                    <td>{{ form_widget(edit_form.iNDEXFIN, {'attr': {'class': 'form-control'}}) }}</td>
                                                    <td><input type="number" class="form-control"  id="consoindex1" style="background: #90F790; color: black" disabled/></td>
                                                </tr>
                                                <tr>
                                                    <td class=" control-label">JAUGE</td>
                                                    <td>{{ form_widget(edit_form.jAUGEDEBUT, {'attr': {'class': 'form-control'}}) }}</td>
                                                    <td>{{ form_widget(edit_form.jAUGEFIN, {'attr': {'class': 'form-control'}}) }}</td>
                                                    <td><input type="number" class="form-control" id="consojauge1" disabled style="background: #90F790 ; color: black" disabled/></td>
                                                </tr>
                                                </tbody>
                                            </table>
                                            <br>
                                            <div class="form-horizontal" id="form">
                                                <div class="form-group">
                                                    <label for="" class="col-sm-4 control-label">CONTROLE INDEX / JAUGE</label>
                                                    <div class="col-sm-8">
                                                        <input type="number" class="form-control" id="controle1" disabled style="background: #FF6040; color: black"/>
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label for="" class="col-sm-4 control-label">COMMENTAIRE</label>
                                                    <div class="col-sm-8">
                                                        {{ form_widget(edit_form.cOMMENTAIRE, {'attr': {'class': 'form-control', 'rows':'4'}}) }}
                                                    </div>
                                                </div>
                                            </div>
                                                <div align="right" >
                                                    <input type="submit" class="btn btn-warning" value="Modifier" onClick="this.disabled=true;this.form.submit();this.value='Patientez...'"/>
                                                </div>
                                        </div>
                                    </div>
                                </div>
                                {{ form_rest(edit_form) }}
                                {{ form_end(edit_form) }}
                            </div>
                            <div class="form-title">
                                Historique des consommations
                            </div>
                            <div style="padding-left: 5%; padding-right: 5%">
                                <table  class="table table-bordered " id="searchable3">
                                    <thead>
                                    <tr>
                                        <th style="width: 30%">Date conso</th>
                                        <th style="width: 15%">Index debut</th>
                                        <th style="width: 16%">Index fin</th>
                                        <th style="width: 16%">Jauge debut</th>
                                        <th>Jauge fin</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for rs in magconso %}
                                        <tr>
                                            <td>{{ rs.dATECONSO|date('d-m-Y h:i:s') }}</td>
                                            <td>{{ rs.iNDEXDEBUT }}</td>
                                            <td>{{ rs.iNDEXFIN }}</td>
                                            <td>{{ rs.jAUGEDEBUT }}</td>
                                            <td >{{ rs.jAUGEFIN }}</td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}