{% extends 'TechniqueBundle:MaintenanceMateriel:layout.html.twig' %}
{% block content %}
    <br>
    <div class="col-lg-12 col-sm-12 col-xs-12" style="padding-left: 15%; padding-right: 15%">
        <div class="widget flat radius-bordered">
            <div class="widget-header bg-azure">
                <span class="widget-caption">Nouvelle Fiche de maintenance</span>
                <div class="widget-buttons buttons-bordered">
                    <button class="btn btn-azure btn-sm" onclick="document.location.href='{{ path('ajoutfichemaintenancep') }}'">Nouvelle Fiche de maintenance</button>
                </div>
            </div>
            <div class="widget-body">
                <div class="row">
                    <div class="form-horizontal">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <div class="form-group">
                                <label for="" class="col-sm-4 control-label">DATE MAINTENANCE <sup
                                            style="color: red">*</sup></label>
                                <div class="col-sm-4">
                                    <input type="text" id="datemaintenance" name="datemaintenance"
                                           class="form-control" data-date-format="dd-mm-yyyy" data-bv-notempty="true" data-bv-notempty-message="The first name is required and cannot be empty"/>
                                </div>
                            </div>
                                <div class="form-group">
                                    <label for="" class="col-sm-4 control-label">CHOISIR UN MATERIEL <sup
                                                style="color: red">*</sup></label>
                                    <div class="col-sm-4">
                                        <input type="hidden" id="materiel" style="width: 100%"/>
                                        <input type="hidden" id="materielname" style="width: 100%"/>
                                        <input type="hidden" id="materielid" style="width: 100%"/>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="" class="col-sm-4 control-label">DERNIER COMPTEUR</label>
                                    <div class="col-sm-4">
                                        <input type="number" class="form-control" id="derniercompteur"  style="background: #00BFA5; color: black" disabled/>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="" class="col-sm-4 control-label">COMPTEUR REEL <sup
                                                style="color: red">*</sup></label>
                                    <div class="col-sm-4">
                                        <input type="text" id="compteur" name="compteur" class="form-control"/>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="" class="col-sm-4 control-label">MAINTENANCE A VENIR <sup
                                                style="color: red">*</sup></label>
                                    <div class="col-sm-4">
                                        <input type="text" id="maintenancepro" name="maintenancepro" class="form-control"/>
                                    </div>
                                    <p style="color: red">Ajouter les 3 premiers compteurs &aacute; venir en les s&eacute;
                                        parant par des
                                        virgules</p>
                                </div>

                                <div class="form-group">
                                    <label for="" class="col-sm-4 control-label">INTERVENANT(S) <sup
                                                style="color: red">*</sup></label>
                                    <div class="col-sm-4">
                                        <input type="text" id="mecanicien" name="mecanicien" class="form-control"/>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="" class="col-sm-4 control-label">DATE D'IMMOBILISATION <sup
                                                style="color: red">*</sup></label>
                                    <div class="col-sm-4">
                                        <input type="text" id="dateimmo" name="dateimmo" data-date-format="dd-mm-yyyy" class="form-control"/>
                                    </div>
                                </div>

                            <div class="form-title">
                                Liste des maintenances pr&eacute;vu &aacute; ce compteur
                            </div>
                            <div>
                                <div id="txtHint"></div>
                            </div>
                            <div class="form-title">
                                Articles d'intervention
                            </div>

                            <hr>
                        </div>

                    <div align="right">
                        <div style="padding-right: 10%">
                            <input type="submit" class="btn btn-azure" value="Valider" id="ajoutmaintenance"/>
                        </div>
                    </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="modal-danger" class="modal modal-message modal-danger fade" style="display: none;" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <i class="glyphicon glyphicon-fire"></i>
                </div>
                <div class="modal-title">Alert</div>

                <div class="modal-body">
                    Veuillez renseigner tous les champs !!
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal" id="bootbox-success">OK</button>
                </div>
            </div> <!-- / .modal-content -->
        </div> <!-- / .modal-dialog -->
    </div>
{% endblock %}