{% extends 'TechniqueBundle:MaintenanceMateriel:layout.html.twig' %}
{% block content %}
    <br>
    <div class="col-lg-12 col-sm-12 col-xs-12" style="padding-left: 15%; padding-right: 15%">
        <div class="widget flat radius-bordered">
            <div class="widget-header bg-azure">
                <span class="widget-caption">Nouvelle Fiche de maintenance</span>
                <div class="widget-buttons buttons-bordered">
                    <button class="btn btn-azure btn-sm" onclick="document.location.href='{{ path('fichemaintenancecurative') }}'">Nouvelle Fiche de maintenance</button>
                </div>
            </div>
            <div class="widget-body">
                <div class="messageflasherror" style="color: #cd0000">
                    {% for flashMessage in app.session.flashbag.get('notice') %}
                        <p style="color: red"> <i class="fa fa-exclamation-triangle" ></i>  {{ flashMessage
                            }}</p>
                    {% endfor %}
                </div>
                <div class="row">
                    <div class="form-horizontal">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <form method="post">
                                {{ form_row(form._token) }}
                                    <div class="form-group">
                                        <label for="" class="col-sm-4 control-label">DATE MAINTENANCE</label>
                                        <div class="col-sm-4">
                                            {{ form_widget(form.dATEMAINTENANCE, {'attr': {'class': 'form-control'}}) }}
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="" class="col-sm-4 control-label">CHOISIR UN MATERIEL</label>
                                        <div class="col-sm-4">
                                            {{ form_widget(form.mATERIELID, {'attr': {'class': 'form-control'}}) }}
                                            <input type="hidden" id="materiel" style="width: 100%"/>
                                            <input type="hidden" id="materielname" style="width: 100%"/>
                                            <input type="hidden" id="materielid" style="width: 100%"/>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="" class="col-sm-4 control-label">DERNIER COMPTEUR</label>
                                        <div class="col-sm-4">
                                            <input type="number" class="form-control" id="derniercompteur"  style="background: #00BFA5; color: black" disabled/>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="" class="col-sm-4 control-label">COMPTEUR REEL</label>
                                        <div class="col-sm-4">
                                            {{ form_widget(form.cOMPTEUR, {'attr': {'class': 'form-control'}}) }}
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="" class="col-sm-4 control-label">MAINTENANCE A VENIR</label>
                                        <div class="col-sm-4">
                                            {{ form_widget(form.cPTPROCHAIN, {'attr': {'class': 'form-control'}}) }}
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="" class="col-sm-4 control-label">INTERVENANT(S)</label>
                                        <div class="col-sm-4">
                                            {{ form_widget(form.nOMMECANICIEN, {'attr': {'class': 'form-control'}}) }}
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="" class="col-sm-4 control-label">DATE D'IMMOBILISATION</label>
                                        <div class="col-sm-4">
                                            {{ form_widget(form.dATEENTREE, {'attr': {'class': 'form-control'}}) }}
                                        </div>
                                    </div>
                                    <div align="right">
                                        <div style="padding-right: 35%">
                                            <input type="submit" class="btn btn-azure" value="Valider" onClick="this.disabled=true;this.form.submit();this.value='Patientez...'"/>
                                        </div>
                                    </div>

                                </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}