<page backtop="25mm" backbottom="10mm" footer="page;">
    <page_header>
       <div align="center"><h2 style="color: #BF360C">FICHE DE MAINTENANCE <b>{{ maintenancemateriel.id }}</b></h2></div>
        {% for rsmateriel in materiel %}
            <div align="center"><h3>({{ rsmateriel.cODE }}) {{ rsmateriel.lIBELLE }}</h3></div>
        {% endfor %}

    </page_header>
    <br>
    <br>

    <table style="width: 100%; border-collapse: collapse; border: 1px solid black;">
        <tr>
            {% for rsmateriel in materiel %}
                <td style="width: 50%; border: 1px solid black; text-align: justify">
                    <p>Marque : <b>{{ rsmateriel.MARQUE }}</b></p>
                    <p>Modele : <b>{{ rsmateriel.MODELE }}</b></p>
                    <p>N&deg; S&eacute;rie : <b>{{ rsmateriel.nOSERIE }}</b></p>
                    <p>Matricule : <b>{{ rsmateriel.iMMATRICULATION }}</b></p>
                    <p>Date de mise en service : <b>{{ rsmateriel.dATEMISESERVICE|date('d-m-Y') }}</b></p>
                    <p>Affectation : <b>{{ rsmateriel.SITE }}</b></p>
                    <p>Chauffeur : <b>{{ rsmateriel.nOM }} {{ rsmateriel.pRENOM }}</b></p>
                    <p>Intervenant : <b>{{ maintenancemateriel.nOMMECANICIEN }}</b></p>
                </td>
            {% endfor %}
            <td style="width: 50%; border: 1px solid black;">
                <table style="width: 100%; border-collapse: collapse; border: 1px solid black;">
                    <tr>
                        <td style="width: 100%; border: 1px solid black; text-align: justify; background: #BDBDBD">
                            <h4>Maintenance preventive en cours</h4></td>
                    </tr>
                    <tr>
                        <td  style="width: 100%; border: 1px solid black; text-align: justify; background: #E0E0E0">
                           <p>Date : <b>{{ maintenancemateriel.dATEMAINTENANCE|date('d-m-Y') }}</b></p>
                           <p>Compteur : <b>{{ maintenancemateriel.cOMPTEUR }}</b></p>
                            <br>
                        </td>
                    </tr>
                </table>

                <table style="width: 100%; border-collapse: collapse; border: 1px solid black;">
                    <tr>
                        <td style="width: 100%; border: 1px solid black; text-align: justify; background: #BDBDBD">
                            <h4>Prochaine Maintenance preventive</h4></td>
                    </tr>
                    <tr>
                        <td  style="width: 100%; border: 1px solid black; text-align: justify; background: #E0E0E0;">
                            <p style="">Compteur : <b>{{ maintenancemateriel.cPTPROCHAIN }}</b></p>
                            <br>
                        </td>
                    </tr>

                </table>

                <p><b>Temps d'intervention :  </b>{{ maintenancemateriel.tEMPSREPARATION }}</p>

                <p><b>Date d'immobilisation :  </b>{{ maintenancemateriel.dATEENTREE|date('d-m-Y') }}</p>

                {% if maintenancemateriel.dATESORTIEE != null %}
                    <p><b>Durree d'immobilisation :  </b>{{ maintenancemateriel.dATESORTIEE|date('d-m-Y') -
                        maintenancemateriel.dATEENTREE|date('d-m-Y') }} Jour(s)</p>
                {% endif %}
                <br>
            </td>
        </tr>

    </table>
    <br>
    <br>
    <div>
        <h2 align="center">Les op&eacute;rations &aacute; effectuer</h2>
    </div>
    <br>
    {% if  maintenancemateriel.tYPEMAINTENANCE == 'PREVENTIVE' and maintenancemateriel.sTATUT != 'REALISE' %}
        {% set newArray = [] %}
        {% set newArray1 = [] %}

        {% for rscptinterventions in cptinterventions %}
            {% if rscptinterventions.compteur not in newArray %}
            <table style="width: 100%; border-collapse: collapse; border: 1px solid black;">
                <thead>
                <tr>
                    <th style="border: 1px solid; width: 15%; height: 5%; text-align: center;  ">Compteur</th>
                    <th style="border: 1px solid; width: 10%; height: 5%; text-align: center;  ">Action</th>
                    <th style="border: 1px solid; width: 70%; height: 5%; text-align: center">Op&eacute;ration</th>
                    <th style="border: 1px solid; width: 5%; height: 5%; text-align: center"></th>
                </tr>
                </thead>
                <tbody>
                {% for rsinterventionscpt in interventionscpt %}
                {% set var1 = [] %}
                {% set var2 = [] %}
                {% set var1 = var1|merge([rsinterventionscpt.cOMPTEURINTERVENTIONID]) %}
                {% set var2 = var2|merge([rsinterventionscpt.cOMPTEUR]) %}
                {% if rscptinterventions.id in var1 and rscptinterventions.compteur in var2 %}
                    <tr>
                    <td style="border-right: 1px solid; border-left: 1px solid; border-bottom: 1px solid; width:
                            15%; height: 1%; text-align: center" >{{ rscptinterventions.compteur }} {{ uniteconso }}</td>
                    <td style="border-right: 1px solid; border-left: 1px solid; border-bottom: 1px solid; width:
                            10%; height: 1%; text-align: center" >{{ rsinterventionscpt.aCTION }}</td>
                    <td style="border-right: 1px solid; border-left: 1px solid; border-bottom: 1px solid; width:
                            70%; height: 1%;">   {{ rsinterventionscpt.dESCRIPTION }}</td>
                    <td style="border-right: 1px solid; border-left: 1px solid; border-bottom: 1px solid; width:
                            5%; height: 1%; text-align: center" ><input type="checkbox" id="checkrole"
                               name="checkrole[]" class="checkrole" value="" /></td>
                    </tr>
                    {% endif %}
                    {% endfor %}
                </tbody>
                </table>

                     {% for rsarticle in articles %}
                    {% set var3 = [] %}
                    {% set var3 = var3|merge([rsarticle.cOMPTEURINTERVENTIONID]) %}
                    {% if rscptinterventions.id in var3 %}
                        <br>
                        <table style="border-collapse: collapse; border: 1px solid black;" >
                            <tr>
                                <th style="border: 1px solid; width: 10%; text-align: center; " ></th>
                                <th style="border: 1px solid; width: 40%; text-align: center; " >Intrant</th>
                                <th style="border: 1px solid; width: 10%; text-align: center; ">Quantite</th>
                                <th style="border: 1px solid; width: 20%; text-align: center; ">Signature Magasin</th>
                                <th style="border: 1px solid; width: 20%; text-align: center; ">Signature Mecanicien</th>
                            </tr>
                            <tr>
                                <td style="border-right: 1px solid; border-left: 1px solid; border-bottom: 1px solid; text-align: center; height: 5%; width: 10%;" >Pr&eacute;vu</td>
                                <td style="border-right: 1px solid; border-left: 1px solid; border-bottom: 1px solid; text-align: center; height: 5%; width: 40%;" >{{ rsarticle.rEFARTICLE }} {{ rsarticle.dESARTICLE }}</td>
                                <td style="border-right: 1px solid; border-left: 1px solid; border-bottom: 1px solid; text-align: center; height: 5%; width: 10%;" >{{ rsarticle.qUANTITE }}</td>
                                <td style="border-right: 1px solid; border-left: 1px solid; border-bottom: 1px solid; text-align: center; height: 5%; width: 20%;" ></td>
                                <td style="border-right: 1px solid; border-left: 1px solid; border-bottom: 1px solid; text-align: center; height: 5%; width: 20%;" ></td>
                            </tr>
                            <tr>
                                <td style="border-right: 1px solid; border-left: 1px solid; border-bottom: 1px solid; text-align: center; height: 5%" >R&eacute;alis&eacute;</td>
                                <td style="border-right: 1px solid; border-left: 1px solid; border-bottom: 1px solid; text-align: center; height: 5%" ></td>
                                <td style="border-right: 1px solid; border-left: 1px solid; border-bottom: 1px solid; text-align: center; height: 5%" ></td>
                                <td style="border-right: 1px solid; border-left: 1px solid; border-bottom: 1px solid; text-align: center; height: 5%" ></td>
                                <td style="border-right: 1px solid; border-left: 1px solid; border-bottom: 1px solid; text-align: center; height: 5%" ></td>
                            </tr>
                        </table>
                    {% endif %}
                {% endfor %}
                <br>
            {% endif %}

        {% endfor %}
    {% elseif maintenancemateriel.tYPEMAINTENANCE == 'CURATIVE' and maintenancemateriel.sTATUT != 'REALISE' %}
        <table style="width: 100%; border-collapse: collapse; border: 1px solid black;">
                <tr>
                    <th style="border: 1px solid; width: 20%; height: 5%; text-align: center;  ">Compteur</th>
                    <th style="border: 1px solid; width: 75%; height: 5%; text-align: center">Op&eacute;ration</th>
                    <th style="border: 1px solid; width: 5%; height: 5%; text-align: center"></th>
                </tr>
            {% for rsgetcompteurc in getcompteurc|sort %}
                <tr>
                    <td  style="border-right: 1px solid; border-left: 1px solid; border-bottom: 1px solid; width:
                            20%; height: 1%; text-align: center" >{{ rsgetcompteurc }} {{ uniteconso }}</td>

                    <td  style="border-right: 1px solid; border-left: 1px solid; border-bottom: 1px solid; width:75%;" >
                        {% for rsinterventionc in interventionc %}
                            {% set var = [] %}
                            {% set var = var|merge([rsgetcompteurc]) %}
                            {% if rsinterventionc.cOMPTEUR in var %}
                                <p>     {{ rsinterventionc.dESCRIPTION }}</p>
                            {% endif %}

                        {% endfor %}
                    </td>
                    <td  style="border-right: 1px solid; border-left: 1px solid; border-bottom: 1px solid; width:5%;" >
                        {% for rsinterventionc in interventionc %}
                            {% set var = [] %}
                            {% set var = var|merge([rsgetcompteurc]) %}
                            {% if rsinterventionc.cOMPTEUR in var %}
                                <p><input type="checkbox" id="checkrole"
                                          name="checkrole[]" class="checkrole" value="" /></p>

                            {% endif %}
                        {% endfor %}
                    </td>
                </tr>
            {% endfor %}
            </table>
    {% elseif maintenancemateriel.sTATUT == 'REALISE' %}
        <table style="width: 100%; border-collapse: collapse; border: 1px solid black;">
        <thead>
        <tr>
            <th style="border: 1px solid; width: 15%; height: 5%; text-align: center;  ">Compteur</th>
            <th style="border: 1px solid; width: 10%; height: 5%; text-align: center;  ">Action</th>
            <th style="border: 1px solid; width: 70%; height: 5%; text-align: center">Op&eacute;ration</th>
            <th style="border: 1px solid; width: 5%; height: 5%; text-align: center"></th>
        </tr>
        </thead>
        <tbody>
        {% for rsinterventionr in interventionr %}
                            <tr>
                                <td style="border-right: 1px solid; border-left: 1px solid; border-bottom: 1px solid; width:
                            15%; height: 1%; text-align: center" >{{ rsinterventionr.cOMPTEUR }} {{ uniteconso }}</td>
                                <td style="border-right: 1px solid; border-left: 1px solid; border-bottom: 1px solid; width:
                            10%; height: 1%; text-align: center" >{{ rsinterventionr.aCTION }}</td>
                                <td style="border-right: 1px solid; border-left: 1px solid; border-bottom: 1px solid; width:
                            70%; height: 1%;">   {{ rsinterventionr.dESCRIPTION }}</td>
                                <td style="border-right: 1px solid; border-left: 1px solid; border-bottom: 1px solid; width:
                            5%; height: 1%; text-align: center" ><input type="checkbox" id="checkrole"
                                                                        name="checkrole[]" class="checkrole" value="" checked /></td>
                            </tr>
        {% endfor %}
                    </tbody>
                </table>
                <br>


    {% endif %}
    <br>
    <div >
    </div>
    <br>
    {% if articlesmaintenancer|length == 0 %}
        {% if maintenancemateriel.tYPEMAINTENANCE == 'CURATIVE' %}
            {% for rsarticle in articlesmaintenancec %}
                <br>
                <table style="border-collapse: collapse; border: 1px solid black;" >
                    <tr>
                        <th style="border: 1px solid; width: 10%; text-align: center; " ></th>
                        <th style="border: 1px solid; width: 40%; text-align: center; " >Intrant</th>
                        <th style="border: 1px solid; width: 10%; text-align: center; ">Quantite</th>
                        <th style="border: 1px solid; width: 20%; text-align: center; ">Signature Magasin</th>
                        <th style="border: 1px solid; width: 20%; text-align: center; ">Signature Mecanicien</th>
                    </tr>
                    <tr>
                        <td style="border-right: 1px solid; border-left: 1px solid; border-bottom: 1px solid; text-align: center; height: 5%; width: 10%;" >Pr&eacute;vu</td>
                        <td style="border-right: 1px solid; border-left: 1px solid; border-bottom: 1px solid; text-align: center; height: 5%; width: 40%;" >{{ rsarticle.rEFARTICLE }} {{ rsarticle.dESARTICLE }}</td>
                        <td style="border-right: 1px solid; border-left: 1px solid; border-bottom: 1px solid; text-align: center; height: 5%; width: 10%;" >{{ rsarticle.qUANTITE }}</td>
                        <td style="border-right: 1px solid; border-left: 1px solid; border-bottom: 1px solid; text-align: center; height: 5%; width: 20%;" ></td>
                        <td style="border-right: 1px solid; border-left: 1px solid; border-bottom: 1px solid; text-align: center; height: 5%; width: 20%;" ></td>
                    </tr>
                    <tr>
                        <td style="border-right: 1px solid; border-left: 1px solid; border-bottom: 1px solid; text-align: center; height: 5%" >R&eacute;alis&eacute;</td>
                        <td style="border-right: 1px solid; border-left: 1px solid; border-bottom: 1px solid; text-align: center; height: 5%" ></td>
                        <td style="border-right: 1px solid; border-left: 1px solid; border-bottom: 1px solid; text-align: center; height: 5%" ></td>
                        <td style="border-right: 1px solid; border-left: 1px solid; border-bottom: 1px solid; text-align: center; height: 5%" ></td>
                        <td style="border-right: 1px solid; border-left: 1px solid; border-bottom: 1px solid; text-align: center; height: 5%" ></td>
                    </tr>
                </table>
            {% endfor %}
        {% endif %}
    {% else %}
        {% for rsarticler in articlesmaintenancer %}
            <br>
            <table style="border-collapse: collapse; border: 1px solid black;">
                <tr>
                    <th style="border: 1px solid; width: 10%; text-align: center; "></th>
                    <th style="border: 1px solid; width: 40%; text-align: center; ">Intrant</th>
                    <th style="border: 1px solid; width: 10%; text-align: center; ">Quantite</th>
                    <th style="border: 1px solid; width: 20%; text-align: center; ">Signature Magasin</th>
                    <th style="border: 1px solid; width: 20%; text-align: center; ">Signature Mecanicien</th>
                </tr>
                <tr>
                    <td style="border-right: 1px solid; border-left: 1px solid; border-bottom: 1px solid; text-align: center; height: 5%" >R&eacute;alis&eacute;</td>
                    <td style="border-right: 1px solid; border-left: 1px solid; border-bottom: 1px solid; text-align: center; width: 40%; height: 5%" >{{ rsarticler.rEFARTICLE }} {{ rsarticler.dESARTICLE }}</td>
                    <td style="border-right: 1px solid; border-left: 1px solid; border-bottom: 1px solid; text-align: center; height: 5%" >{{ rsarticler.qUANTITE }}</td>
                    <td style="border-right: 1px solid; border-left: 1px solid; border-bottom: 1px solid;
                        text-align: center; height: 5%" >OK</td>
                    <td style="border-right: 1px solid; border-left: 1px solid; border-bottom: 1px solid; text-align: center; height: 5%" >OK</td>
                </tr>
            </table>
        {% endfor %}
    {% endif %}
    <div  style="width: 100%; border-collapse: collapse; border: 1px solid black; text-align: center"><span style="color: red">Coch&eacute; les cases des op&eacute;rartions r&eacute;ellement effectu&eacute;es</span></div>
    <br>
    {% if maintenancemateriel.tYPEMAINTENANCE == 'PREVENTIVE' %}
        <div>Autre commentaire</div>
        {% if maintenancemateriel.cOMMENTAIRE != '' %}
            <div style="width: 100%; height: 200px; border: 1px black"><p>{{  maintenancemateriel.cOMMENTAIRE }}</p></div>
        {% else %}
            <div style="width: 100%; height: 200px; border: 1px black"></div>
        {% endif %}
    {% endif %}
    <page_footer>
        <p></p>
    </page_footer>
</page>

