{% extends 'TechniqueBundle:MaintenanceMateriel:layout.html.twig' %}
{% block content %}
    <div class="row">
        <div class="col-lg-12 col-sm-12 col-xs-12">
                 <ul class="nav nav-tabs nav-justified" id="myTab5">
                    <li class="active">
                        <a data-toggle="tab" href="#tabmprev">
                            Maintenance pr&eacute;ventive
                        </a>
                    </li>
                    <li class="tab-red">
                        <a data-toggle="tab" href="#tabmcur">
                            Maintenance curative
                        </a>
                    </li>
                </ul>
                <div class="tab-content" style="background-color: rgba(231, 231, 231, 0.38)">
                    <div id="tabmprev" class="tab-pane in active ">
                        <br>
                        <div class="row" style="padding-left: 2%; padding-right: 2%">
                            <div class="col-lg-12 col-sm-12 col-xs-12">
                                <div class="row" >
                                    <div class="widget flat radius-bordered">
                                        <div class="widget-header bg-blue">
                                            <span class="widget-caption">Historique des maintenances pr&eacute;ventive</span>
                                            <div class="widget-buttons buttons-bordered">
                                                <button class="btn btn-azure btn-sm" onclick="document.location.href='{{ path('ajoutfichemaintenancep') }}'">Nouvelle Fiche de maintenance</button>
                                            </div>
                                        </div>
                                        <div class="widget-body">
                                            <div style="padding-left: 2%; padding-right: 2%">
                                                <table class="table table-bordered table-hover " id="tablemaintenacep">

                                                    <thead class="bordered-darkorange">
                                                    <tr role="row">
                                                        <th></th>
                                                        <th>Date cr&eacute;attion</th>
                                                        <th>Mat&eacute;riel</th>
                                                        <th>Compteur</th>
                                                        <th>Nom Op&eacute;rateur</th>
                                                        <th>Date de r&eacute;alisation</th>
                                                        <th>Maintenance &aacute;s v&eacute;nir</th>
                                                        <th>Nom intervenant</th>
                                                        <th>Statut</th>
                                                        <th></th>
                                                    </tr>
                                                    </thead>
                                                    <tbody>
                                                        {% for rs in maintenances %}
                                                            <tr>
                                                                {% if rs.sTATUT == 'REALISE' or rs.dATEREALISE != '' %}
                                                                    <td><a href="{{ path('realisemaintenance',{'id': rs.id }) }}" style="color: #00C853">Detail</a></td>
                                                                {% else %}
                                                                    <td><a href="{{ path('modifiermaintenance',{'idmaintenance': rs.id }) }}" style="color: #00C853">Detail</a></td>
                                                                {% endif %}
                                                                <td>{{ rs.dATEMAINTENANCE|date('d-m-Y') }}</td>
                                                                <td>{{ rs.cODE }} {{ rs.lIBELLE }}</td>
                                                                <td>{{ rs.cOMPTEUR }} {{ rs.uNITECONSO }}</td>
                                                                <td>{{ rs.nOMOPERATEUR }}</td>
                                                                {% if rs.dATEREALISE =='' %}
                                                                    <td></td>
                                                                {% else %}
                                                                    <td>{{ rs.dATEREALISE|date('d-m-Y') }}</td>
                                                                {% endif %}
                                                                <td>{{ rs.cPTPROCHAIN }} {{ rs.uNITECONSO }}</td>
                                                                <td>{{ rs.nOMMECANICIEN }}</td>
                                                                {% if rs.sTATUT == 'SAISI' %}
                                                                    <td style="color: #00B0FF;"><b>{{ rs.sTATUT }}</b></td>
                                                                {% elseif rs.sTATUT == 'DIFFUSE' %}
                                                                    <td style="color: #ffc000;"><b>{{ rs.sTATUT }}</b></td>
                                                                {% elseif rs.sTATUT == 'REALISE' %}
                                                                    <td style="color: #219922;"><b>{{ rs.sTATUT }}</b></td>
                                                                {% elseif rs.sTATUT == 'ANNULE' %}
                                                                    <td style="color: #b131e5;"><b>{{ rs.sTATUT }}</b></td>
                                                                {% endif %}
                                                                {% if rs.sTATUT == 'SAISI' %}
                                                                    <td>
                                                                        <a href="{{ path('supprimermaintenance', {idmaintenance: rs.id}) }}" class="btn btn-danger" onclick="return confirm('Vous &ecirc;tes s&ucirc;r de vouloir supprimer cette maintenance')"><i class="fa fa-trash"></i></a>
                                                                    </td>
                                                                {% elseif rs.sTATUT == 'DIFFUSE'  %}
                                                                    <td>
                                                                        <a href="{{ path('annulermaintenace',
                                                                        {idmaintenance: rs.id}) }}" class="btn
                                                                    btn-purple" title="Annuler" onclick="return
                                                                    confirm('Vous &ecirc;tes s&ucirc;r de vouloir ' +
                                                                     'annuler' +
                                                                     ' cette maintenance')"><i class="fa fa-remove "></i></a>
                                                                    </td>
                                                                {% else  %}
                                                                    <td><button class="btn btn-danger" type="SUBMIT" disabled><i class="fa fa-trash"></i></button></td>
                                                                {% endif %}
                                                            </tr>
                                                        {% endfor %}
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="tabmcur" class="tab-pane">
                        <br>
                        <div class="row" style="padding-left: 2%; padding-right: 2%">
                            <div class="col-lg-12 col-sm-12 col-xs-12">
                                <div class="row" >
                                    <div class="widget flat radius-bordered">
                                        <div class="widget-header bg-danger">
                                            <span class="widget-caption">Historique des maintenances curative</span>
                                            <div class="widget-buttons buttons-bordered">
                                                <button class="btn btn-azure btn-sm" onclick="document.location.href='{{ path('fichemaintenancecurative') }}'">Nouvelle Fiche de maintenance</button>
                                            </div>
                                        </div>
                                        <div class="widget-body">
                                            <div style="padding-left: 2%; padding-right: 2%">
                                                <table class="table table-bordered table-hover " id="tablemaintenacec">

                                                    <thead class="bordered-darkorange">
                                                    <tr role="row">
                                                        <th></th>
                                                        <th>Date cr&eacute;attion</th>
                                                        <th>Mat&eacute;riel</th>
                                                        <th>Compteur</th>
                                                        <th>Nom Op&eacute;rateur</th>
                                                        <th>Date de r&eacute;alisation</th>
                                                        <th>Maintenance &aacute; v&eacute;nir</th>
                                                        <th>Nom intervenant</th>
                                                        <th>Statut</th>
                                                        <th></th>
                                                    </tr>
                                                    </thead>
                                                    <tbody>
                                                    {% for rs in maintenancesc %}
                                                        <tr>
                                                            {% if rs.sTATUT == 'REALISE' or rs.dATEREALISE != '' %}
                                                                <td><a href="{{ path('realisemaintenance',{'id': rs.id }) }}" style="color: #00C853">Detail</a></td>
                                                            {% else %}
                                                                <td><a href="{{ path('modifiermaintenance',{'idmaintenance': rs.id }) }}" style="color: #00C853">Detail</a></td>
                                                            {% endif %}
                                                            <td>{{ rs.dATEMAINTENANCE|date('d-m-Y') }}</td>
                                                            <td>{{ rs.cODE }} {{ rs.lIBELLE }}</td>
                                                            <td>{{ rs.cOMPTEUR }} {{ rs.uNITECONSO }}</td>
                                                            <td>{{ rs.nOMOPERATEUR }}</td>
                                                            {% if rs.dATEREALISE =='' %}
                                                                <td></td>
                                                            {% else %}
                                                                <td>{{ rs.dATEREALISE|date('d-m-Y') }}</td>
                                                            {% endif %}
                                                            <td>{{ rs.cPTPROCHAIN }} {{ rs.uNITECONSO }}</td>
                                                            <td>{{ rs.nOMMECANICIEN }}</td>
                                                            {% if rs.sTATUT == 'SAISI' %}
                                                                <td style="color: #00B0FF;"><b>{{ rs.sTATUT }}</b></td>
                                                            {% elseif rs.sTATUT == 'DIFFUSE' %}
                                                                <td style="color: #ffc000;"><b>{{ rs.sTATUT }}</b></td>
                                                            {% elseif rs.sTATUT == 'REALISE' %}
                                                                <td style="color: #219922;"><b>{{ rs.sTATUT }}</b></td>
                                                            {% elseif rs.sTATUT == 'ANNULE' %}
                                                                <td style="color: #6A1B9A;"><b>{{ rs.sTATUT }}</b></td>
                                                            {% endif %}
                                                            {% if rs.sTATUT == 'SAISI' %}
                                                                <td><a href="{{ path('supprimermaintenance', {idmaintenance: rs.id}) }}" class="btn btn-danger" onclick="return confirm('Vous &ecirc;tes s&ucirc;r de vouloir supprimer cette maintenance')"><i class="fa fa-trash"></i></a></td>
                                                            {% elseif rs.sTATUT == 'DIFFUSE'  %}
                                                                <td>
                                                                    <a href="{{ path('annulermaintenace',
                                                                    {idmaintenance: rs.id}) }}" class="btn
                                                                    btn-purple" title="Annuler" onclick="return
                                                                    confirm('Vous &ecirc;tes s&ucirc;r de vouloir ' +
                                                                     'annuler' +
                                                                     ' cette maintenance')"><i class="fa fa-remove "></i></a>
                                                                </td>
                                                            {% else %}
                                                                <td><button class="btn btn-danger" type="SUBMIT" disabled><i class="fa fa-trash"></i></button></td>
                                                            {% endif %}
                                                        </tr>
                                                    {% endfor %}
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}