{% extends 'TechniqueBundle:MaintenanceMateriel:layout.html.twig' %}
{% block content %}
    <br>
    <div class="col-lg-12 col-sm-12 col-xs-12" style="padding-left: 15%; padding-right: 15%">
        <div class="widget flat radius-bordered">
            {% if maintenancemateriel.sTATUT == 'SAISI' %}
                <div class="widget-header bg-azure">
            {% elseif maintenancemateriel.sTATUT == 'DIFFUSE' %}
                <div class="widget-header bg-warning">
            {% elseif maintenancemateriel.sTATUT == 'ANNULE' %}
                <div class="widget-header bg-blueberry">
            {% elseif maintenancemateriel.sTATUT == 'ANNULE' %}
                <div class="widget-header bg-green">
            {% endif %}
            {% if maintenancemateriel.sTATUT == 'SAISI' %}
                <span class="widget-caption">Modifier Fiche de maintenance</span>
            {% else %}
                 <span class="widget-caption">Fiche de maintenance</span>
            {% endif %}
            {% if maintenancemateriel.sTATUT == 'DIFFUSE' %}
                <div class="widget-buttons buttons-bordered">
                    <button class="btn btn-danger btn-sm" onclick="document.location.href='{{ path('realisemaintenance',{"id": maintenancemateriel.id}) }}'">REALISER</button>
                </div>
            {% endif %}
                <div class="widget-buttons buttons-bordered">
                    <button class="btn btn-palegreen btn-sm" onclick="document.location.href='{{ path('imprimerfichemaintenance',{"id": maintenancemateriel.id}) }}'"><i class="fa fa-print"></i>IMPRIMER</button>
                </div>
                    {% if maintenancemateriel.tYPEMAINTENANCE == 'PREVENTIVE' %}
                        <div class="widget-buttons buttons-bordered">
                            <button class="btn btn-azure btn-sm" onclick="document.location.href='{{ path('ajoutfichemaintenancep') }}'">Nouvelle Fiche de maintenance</button>
                        </div>
                    {% else %}
                        <div class="widget-buttons buttons-bordered">
                            <button class="btn btn-azure btn-sm" onclick="document.location.href='{{ path('fichemaintenancecurative') }}'">Nouvelle Fiche de maintenance</button>
                        </div>
                    {% endif %}
            </div>
            <div class="widget-body">
                <div class="row">
                    <div class="form-horizontal">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            {% for rs in materiel %}
                                <div class="form-group">
                                    <label for="" class="col-sm-4 control-label">MATERIEL</label>
                                    <div class="col-sm-4">
                                        <input type="text" class="form-control" value=" ({{ rs.cODE }}) {{ rs.lIBELLE }}" disabled/>
                                        <input type="hidden" id="idmateriel" class="form-control" value="{{ rs.id }}"
                                               disabled/>

                                    </div>
                                </div>
                            {% endfor %}
                            <div class="form-group">
                                <label for="" class="col-sm-4 control-label">STATUT</label>
                                <div class="col-sm-4">
                                    {% if maintenancemateriel.sTATUT == 'SAISI' %}
                                        <input type="text" class="form-control" value="{{ maintenancemateriel.sTATUT }}" style="background: #00B0FF; color: black" disabled/>
                                    {% endif %}
                                    {% if maintenancemateriel.sTATUT == 'DIFFUSE' %}
                                        <input type="text" class="form-control" value="{{ maintenancemateriel.sTATUT }}" style="background: #ffc000; color: black" disabled/>
                                    {% endif %}
                                    <input type="hidden" id="idmaintenance" class="form-control" value=" {{ maintenancemateriel.id }}" disabled/>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="" class="col-sm-4 control-label">COMPTEUR REEL</label>
                                <div class="col-sm-4">
                                    <input type="text" class="form-control" value="{{ maintenancemateriel.cOMPTEUR }}" id="compteurmodif"/>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="" class="col-sm-4 control-label">MAINTENANCE A VENIR</label>
                                <div class="col-sm-4">
                                    <input type="text" class="form-control" value="{{ maintenancemateriel.cPTPROCHAIN }}" id="maintenancepromodif" style="background: #CDDC39; color: black"/>
                                    <p style="color: red">Ajouter les 3 premiers compteurs &aacute; venir en les s&eacute;
                                        parant par des
                                        virgules</p>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="" class="col-sm-4 control-label">INTERVENANT(S)</label>
                                <div class="col-sm-4">
                                    <input type="text" class="form-control" value="{{ maintenancemateriel.nOMMECANICIEN }}" id="mecanicienmodif"/>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="" class="col-sm-4 control-label">DATE D'IMMOBILISATION</label>
                                <div class="col-sm-4">
                                    <input type="text" class="form-control" value="{{ maintenancemateriel
                                    .dATEENTREE|date('d-m-Y') }}" id="dateimmomodif"/>
                                </div>
                            </div>

                            <div class="form-title">
                                {% if maintenancemateriel.tYPEMAINTENANCE == 'CURATIVE' and maintenancemateriel.sTATUT == 'SAISI' %}
                                <a href="{{ path('ajoutinterventionc', {'idmaintenance': maintenancemateriel.id}) }}"  style="color: #FF6F00">Modifier les travaux &aacute; &eacute;ffectuer</a>
                                {% else %}
                                    Les travaux &aacute; &eacute;ffectuer
                                {% endif %}
                            </div>

                            {% if maintenancemateriel.tYPEMAINTENANCE == 'CURATIVE' %}
                            <div style="padding-left: 10%; padding-right: 10%" >
                                <table class="table table-bordered table-hover ">
                                    <thead class="bordered-darkorange">
                                    <tr role="row">
                                        <th>Compteur</th>
                                        <th style="width: 80%">Description</th>
                                        <th style="width: 20%"></th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for rs in interventionc %}
                                        <tr>
                                            <td>{{ rs.cOMPTEUR }}</td>
                                            <td>{{ rs.dESCRIPTION }}</td>
                                            <td>
                                                {% if  maintenancemateriel.sTATUT == 'SAISI' %}
                                                <a class="btn btn-warning" href="{{ path('modifierinterventionc',
                                                {'idmaintenance':maintenancemateriel.id, 'id': rs.id})
                                                }}"><i class="fa fa-pencil" title="Modifier"></i></a>
                                                <a class="btn btn-danger" href="{{  path('supprimerinterventionc',
                                                {'idmaintenance':maintenancemateriel.id, 'id': rs.id}) }}"><i class="fa fa-trash-o"></i></a>
                                                {% endif %}
                                            </td>

                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                            {% else %}
                            <div class="form-title">
                                Liste des interventions pr&eacute;vu &aacute; ce compteur
                            </div>
                            <div style="padding-left: 10%; padding-right: 10%" >
                                {% if interventionp|length !=0 %}
                                <table class="table table-bordered table-hover ">
                                    <thead class="bordered-darkorange">
                                    <tr role="row">
                                        <th>Compteur</th>
                                        <th>Action</th>
                                        <th>Description</th>
                                        <th style="width: 7%"></th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for rs in interventionp %}
                                        <tr>
                                            <td>{{ rs.cOMPTEUR }}</td>
                                            <td>{{ rs.aCTION }}</td>
                                            <td>{{ rs.dESCRIPTION }}</td>
                                            <td>
                                                <div class="col-sm-offset-4">
                                                    <div class="checkbox">
                                                        <label>
                                                            <input type="checkbox" id="checkmaintenance" name="checkmaintenance[]" class="checkmaintenance" value="{{ rs.iNTERVENTIONID }}"  checked>
                                                            <span class="text"></span>
                                                        </label>
                                                    </div>
                                                </div>
                                            </td>

                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                                {% else %}
                                    <div>
                                        <div id="txtHintmodif"></div>
                                    </div>
                                {% endif %}
                            </div>
                            {% endif %}
                            <br>
                            <div class="form-title">
                            {% if maintenancemateriel.sTATUT == 'SAISI' %}
                                {% if maintenancemateriel.tYPEMAINTENANCE == 'CURATIVE' %}
                                    <a href="{{ path('articlecurative', {'idmaintenance': maintenancemateriel.id}) }}"  style="color: #FF6F00">Modifier liste des articles de la maintenance</a>
                                {% else %}
                                <a href="{{ path('modifierlistarticlemaintenance', {'idmaintenance': maintenancemateriel.id}) }}"  style="color: #FF6F00">Modifier liste des articles de la maintenance</a>
                                {% endif %}
                            {% else %}
                                 Liste des articles de la maintenance
                            {% endif %}
                            </div>
                            <br>
                            {% if maintenancemateriel.tYPEMAINTENANCE == 'CURATIVE' %}
                                {% if articlesmaintenancer|length !=0  %}
                                    <div style="padding-left: 10%; padding-right: 10%" >

                                        <table class="table table-bordered table-hover ">
                                            <thead class="bordered-darkorange">
                                            <tr role="row">
                                                <th>Code Article</th>
                                                <th>Designation article</th>
                                                <th>Quantite</th>
                                                {% if maintenancemateriel.sTATUT == 'SAISI' %}
                                                    <th>Action</th>
                                                {% endif %}
                                            </tr>
                                            </thead>
                                            <tbody>
                                            {% for rs in articlesmaintenancer %}
                                                <tr>
                                                    <td>{{ rs.rEFARTICLE }}</td>
                                                    <td>{{ rs.dESARTICLE }}</td>
                                                    <td>{{ rs.qUANTITE }}</td>
                                                    {% if maintenancemateriel.sTATUT == 'SAISI' %}
                                                        <td>
                                                            <a class="btn btn-danger" href="{{ path('supprimermaintenancearticle',{'id':rs.id, 'idmaintenance': maintenancemateriel.id}) }}"><i class="fa fa-trash-o"></i></a>
                                                        </td>
                                                    {% endif %}
                                                </tr>
                                            {% endfor %}
                                            </tbody>
                                        </table>

                                    </div>
                                {% endif %}
                            {% else %}
                            {% if articles|length !=0  %}
                                <div style="padding-left: 10%; padding-right: 10%" >

                                    <table class="table table-bordered table-hover ">
                                        <thead class="bordered-darkorange">
                                        <tr role="row">
                                            <th>Code Article</th>
                                            <th>Designation article</th>
                                            <th>Quantite</th>
                                            {% if maintenancemateriel.sTATUT == 'SAISI' %}
                                                <th>Action</th>
                                            {% endif %}
                                        </tr>
                                        </thead>
                                        <tbody>
                                        {% for rs in articles %}
                                            {% for rs1 in rs %}
                                            <tr>
                                                <td>{{ rs1.rEFARTICLE }}</td>
                                                <td>{{ rs1.dESARTICLE }}</td>
                                                <td>{{ rs1.qUANTITE }}</td>
                                                {% if maintenancemateriel.sTATUT == 'SAISI' %}
                                                <td>
                                                    <button class="btn btn-danger" onclick="deletearticlemaintenance({{ rs1.id }})"><i class="fa fa-trash-o"></i></button>
                                                </td>
                                                {% endif %}
                                            </tr>
                                            {% endfor %}
                                        {% endfor %}
                                        </tbody>
                                    </table>

                                </div>
                            {% endif %}
                            {% endif %}
                            <hr>
                        </div>
                        {% if maintenancemateriel.sTATUT == 'SAISI' %}
                                <div align="right">
                            <div style="padding-right: 10%">
                                <input type="submit" class="btn btn-warning" value="Modifier" id="modifiermaintenance" onClick="this.disabled=true;this.value='Patientez...'"/>
                            </div>
                        </div>

                            {% endif %}

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}