{% extends 'TechniqueBundle:MaintenanceMateriel:layout.html.twig' %}
{% block content %}
    <br>
    {% if maintenancemateriel.sTATUT == 'REALISE' and maintenancemateriel.tYPEMAINTENANCE == 'PREVENTIVE' %}
        {% if result|length !=0  %}
            <div class="col-lg-12 col-sm-12 col-xs-12" style="padding-left: 20%; padding-right: 20%" id="afficher">

                    <input type="hidden" id="desactiver{{ maintenancemateriel.id }}" value=""/>
                    {% for rslist in result %}
                    <p align="center">L'op&eacute;ration "<b style="color: red">{{ rslist }}
                            </b>"de la maintenance pr&eacute;ventive n'a pas &eacute;t&eacute; r&eacute;alis&eacute;e</p>
                    {% endfor %}
            </div>
        {% endif %}
        <br>
        <br>
        <div class="col-lg-12 col-sm-12 col-xs-12">
            <div class="row">
                <div class="col-lg-12 col-sm-12 col-xs-12">
                    <div class="tabbable">
                        <ul class="nav nav-tabs nav-justified" id="myTab5">
                            <li class="active">
                                <a data-toggle="tab" href="#tabintr">
                                    Intervention R&eacute;alis&eacute;e
                                </a>
                            </li>
                            <li class="tab-green">
                                <a data-toggle="tab" href="#tabintp">
                                    Intervention Pr&eacute;vu
                                </a>
                            </li>
                        </ul>
                        <div class="tab-content" style="background-color: rgba(231, 231, 231, 0.38)">
                            <div id="tabintr" class="tab-pane in active ">
                                <div class="row" style="padding-left: 5%; padding-right: 5%">
                                    <div class="col-lg-12 col-sm-12 col-xs-12" style="padding-left: 15%; padding-right: 15%">
                                        <div class="widget flat radius-bordered">
                                            <div class="widget-header bg-green">
                                                <span class="widget-caption">R&eacute;aliser la fiche de maintenance</span>
                                                <div class="widget-buttons buttons-bordered">
                                                    <button class="btn btn-palegreen btn-sm" onclick="document.location.href='{{ path('imprimerfichemaintenance',{"id": maintenancemateriel.id}) }}'"><i class="fa fa-print"></i>IMPRIMER</button>
                                                </div>
                                                <div class="widget-buttons buttons-bordered">
                                                    <button class="btn btn-azure btn-sm" onclick="document.location.href='{{ path('ajoutfichemaintenancep') }}'">Nouvelle Fiche de maintenance</button>
                                                </div>
                                            </div>
                                            <div class="widget-body">
                                                <div class="row">
                                                    <div class="form-horizontal">
                                                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                                            <div class="form-group">
                                                                <label for="" class="col-sm-4 control-label">DATE DE CREATION DE LA FICHE</label>
                                                                <div class="col-sm-4">
                                                                    <input type="text" class="form-control" value="{{ maintenancemateriel.dATEMAINTENANCE|date('d-m-Y') }}" disabled/>
                                                                </div>
                                                            </div>
                                                            {% for rs in materiel %}
                                                                <div class="form-group">
                                                                    <label for="" class="col-sm-4 control-label">MATERIEL</label>
                                                                    <div class="col-sm-4">
                                                                        <input type="text" class="form-control" value=" ({{ rs.cODE }}) {{ rs.lIBELLE }}" disabled/>
                                                                        <input type="hidden" id="idmateriel" class="form-control" value=" {{ rs.id }}" disabled/>

                                                                    </div>
                                                                </div>
                                                            {% endfor %}
                                                            <div class="form-group">
                                                                <label for="" class="col-sm-4 control-label">STATUT</label>
                                                                <div class="col-sm-4">
                                                                    <input type="text" class="form-control" value="{{ maintenancemateriel.sTATUT }}" style="background: #219922; color: black" disabled/>
                                                                    <input type="hidden" id="idmaintenance" class="form-control" value=" {{ maintenancemateriel.id }}" disabled/>
                                                                </div>
                                                            </div>
                                                            <div class="form-group">
                                                                <label for="" class="col-sm-4 control-label">COMPTEUR REEL</label>
                                                                <div class="col-sm-4">
                                                                    <input type="text" class="form-control" value="{{ maintenancemateriel.cOMPTEUR }}"/>
                                                                </div>
                                                            </div>
                                                            <div class="form-group">
                                                                <label for="" class="col-sm-4 control-label">MAINTENANCE A VENIR</label>
                                                                <div class="col-sm-4">
                                                                    <input type="text" class="form-control" value="{{ maintenancemateriel.cPTPROCHAIN }}" id="maintenancepromodif" style="background: #CDDC39; color: black"/>
                                                                </div>
                                                            </div>

                                                            <div class="form-group">
                                                                <label for="" class="col-sm-4
                                                                control-label">INTERVENANT(S)</label>
                                                                <div class="col-sm-4">
                                                                    <textarea  class="form-control" id="mecanicienmodif">{{ maintenancemateriel.nOMMECANICIEN }}</textarea>
                                                                    <p style="color: red">Ajoutez d'autres m&eacute;caniciens en les s&eacute;parant
                                                                        pas une virgule </p>
                                                                </div>
                                                            </div>
                                                            <div class="form-group">
                                                                <label for="" class="col-sm-4 control-label">DATE D' IMMOBILISATION</label>
                                                                <div class="col-sm-4">
                                                                    <input type="text" class="form-control" value="{{ maintenancemateriel
                                                                    .dATEENTREE|date('d-m-Y')
                                                                    }}"
                                                                           id="dateimmomodif"/>
                                                                </div>
                                                            </div>
                                                            <div class="form-group">
                                                                <label for="" class="col-sm-4 control-label">TEMPS
                                                                    D'INTERVENTION</label>
                                                                <div class="col-sm-4">
                                                                    <input type="number" class="form-control" value="{{
                                                                    maintenancemateriel.tEMPSREPARATION }}"
                                                                           id="temiterventmodif"/>
                                                                </div>
                                                            </div>
                                                            <div class="form-group">
                                                                <label for="" class="col-sm-4 control-label">DATE DE SORTIE</label>
                                                                <div class="col-sm-4">
                                                                    <input type="text" class="form-control" value="{{ maintenancemateriel
                                                                    .dATESORTIEE|date('d-m-Y') }}" id="datesortie"/>
                                                                </div>
                                                            </div>

                                                                <div class="form-group">
                                                                    <label for="" class="col-sm-4 control-label">COMMENTAIRE</label>
                                                                    <div class="col-sm-4">
                                                                        <textarea class="form-control" rows="5" id="commentaire"
                                                                                  name="commentaire">{{ maintenancemateriel.cOMMENTAIRE }}</textarea>
                                                                    </div>
                                                                </div>
                                                            <div class="form-title">
                                                                Liste des interventions pr&eacute;vu &aacute; ce compteur
                                                            </div>
                                                            <div style="padding-left: 10%; padding-right: 10%" >
                                                                <table class="table table-bordered table-hover ">
                                                                    <thead class="bordered-darkorange">
                                                                    <tr role="row">
                                                                        <th style="width: 7%"></th>
                                                                        <th>Compteur</th>
                                                                        <th>Action</th>
                                                                        <th>Description</th>
                                                                    </tr>
                                                                    </thead>
                                                                    <tbody>
                                                                    {% for rs in interventionr %}
                                                                        <tr>
                                                                            <td>
                                                                                <div class="col-sm-offset-4">
                                                                                    <div class="checkbox">
                                                                                        <label>
                                                                                            <input type="checkbox" id="checkmaintenance" name="checkmaintenance[]" class="checkmaintenance" value="{{ rs.interventionr }}"  checked>
                                                                                            <span class="text"></span>
                                                                                        </label>
                                                                                    </div>
                                                                                </div>
                                                                            </td>
                                                                            <td>{{ rs.cOMPTEUR }}</td>
                                                                            <td>{{ rs.aCTION }}</td>
                                                                            <td>{{ rs.dESCRIPTION }}</td>

                                                                        </tr>
                                                                    {% endfor %}
                                                                    </tbody>
                                                                </table>
                                                            </div>
                                                            <br>
                                                            <div class="form-title">
                                                                Liste des articles d'intervention
                                                            </div>
                                                            <br>

                                                            <div style="padding-left: 10%; padding-right: 10%" >
                                                                <table class="table table-bordered table-hover ">
                                                                    <thead class="bordered-darkorange">
                                                                    <tr role="row">
                                                                        <th>Code Article</th>
                                                                        <th>Designation article</th>
                                                                        <th>Quantite</th>
                                                                        {% if interventionr|length != 0 and articlesmaintenancer|length !=0 %}
                                                                            {% if maintenancemateriel.sTATUT != 'REALISE' %}
                                                                                <th>Action</th>
                                                                            {% endif %}
                                                                        {% endif %}
                                                                    </tr>
                                                                    </thead>
                                                                    <tbody>
                                                                    {% for rs in articlesmaintenancer %}
                                                                        <tr>
                                                                            <td>{{ rs.rEFARTICLE }}</td>
                                                                            <td>{{ rs.dESARTICLE }}</td>
                                                                            <td>{{ rs.qUANTITE }}</td>
                                                                            {% if interventionr|length != 0 and articlesmaintenancer|length !=0 %}
                                                                                {% if maintenancemateriel.sTATUT != 'REALISE' %}
                                                                                    <td>
                                                                                        <a href="{{ path('supprimermaintenancearticle',{'id':rs.id, 'idmaintenance': maintenancemateriel.id}) }}"
                                                                                           class="btn btn-danger"
                                                                                           onclick="return confirm('Vous ' +
                                                                                        '&ecirc;tes s&ucirc;r de ' +
                                                                                         'vouloir supprimer cet ' +
                                                                                          'article')"><i class="fa
                                                                                          fa-trash"></i></a>
                                                                                    </td>
                                                                                {% endif %}
                                                                            {% endif %}
                                                                        </tr>
                                                                    {% endfor %}
                                                                    </tbody>
                                                                </table>
                                                            </div>

                                                            <hr>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div id="tabintp" class="tab-pane">
                                <br>
                                <div class="row" style="padding-left: 5%; padding-right: 5%">
                                    <div class="col-lg-12 col-sm-12 col-xs-12" style="padding-left: 15%; padding-right: 15%">
                                        <div class="widget flat radius-bordered">
                                            <div class="widget-header bg-darkgray">
                                                <span class="widget-caption">Fiche de maintenance pr&eacute;vu</span>
                                            </div>
                                            <div class="widget-body">
                                                <div class="row">
                                                    <div class="form-horizontal">
                                                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                                            <div class="form-group">
                                                                <label for="" class="col-sm-4 control-label">DATE DE CREATION DE LA FICHE</label>
                                                                <div class="col-sm-4">
                                                                    <input type="text" class="form-control" value="{{ maintenancemateriel.dATEMAINTENANCE|date('d-m-Y') }}" disabled/>
                                                                </div>
                                                            </div>
                                                            {% for rs in materiel %}
                                                                <div class="form-group">
                                                                    <label for="" class="col-sm-4 control-label">MATERIEL</label>
                                                                    <div class="col-sm-4">
                                                                        <input type="text" class="form-control" value=" ({{ rs.cODE }}) {{ rs.lIBELLE }}" disabled/>
                                                                        <input type="hidden" id="idmateriel" class="form-control" value=" {{ rs.id }}" disabled/>

                                                                    </div>
                                                                </div>
                                                            {% endfor %}
                                                            <div class="form-title">
                                                                Liste des interventions pr&eacute;vu &aacute; ce compteur
                                                            </div>
                                                            <div style="padding-left: 10%; padding-right: 10%" >
                                                                <table class="table table-bordered table-hover ">
                                                                    <thead class="bordered-darkorange">
                                                                    <tr role="row">
                                                                        <th style="width: 7%"></th>
                                                                        <th>Compteur</th>
                                                                        <th>Action</th>
                                                                        <th>Description</th>
                                                                    </tr>
                                                                    </thead>
                                                                    <tbody>
                                                                    {% for rs in listinterventionp %}
                                                                        <tr>
                                                                            <td>
                                                                                <div class="col-sm-offset-4">
                                                                                    <div class="checkbox">
                                                                                        <label>
                                                                                            <input type="checkbox" id="checkmaintenance" name="checkmaintenance[]" class="checkmaintenance" checked>
                                                                                            <span class="text"></span>
                                                                                        </label>
                                                                                    </div>
                                                                                </div>
                                                                            </td>
                                                                            <td>{{ rs.cOMPTEUR }}</td>
                                                                            <td>{{ rs.aCTION }}</td>
                                                                            <td>{{ rs.dESCRIPTION }}</td>

                                                                        </tr>
                                                                    {% endfor %}
                                                                    </tbody>
                                                                </table>
                                                            </div>
                                                            <br>
                                                            <div class="form-title">
                                                                Liste des articles d'intervention
                                                            </div>
                                                            <br>

                                                            <div style="padding-left: 10%; padding-right: 10%" >
                                                                <table class="table table-bordered table-hover ">
                                                                    <thead class="bordered-darkorange">
                                                                    <tr role="row">
                                                                        <th>Code Article</th>
                                                                        <th>Designation article</th>
                                                                        <th>Quantite</th>
                                                                    </tr>
                                                                    </thead>
                                                                    <tbody>
                                                                    {% for rs in articlesmaintenance %}
                                                                        <tr>
                                                                            <td>{{ rs.rEFARTICLE }}</td>
                                                                            <td>{{ rs.dESARTICLE }}</td>
                                                                            <td>{{ rs.qUANTITE }}</td>
                                                                        </tr>
                                                                    {% endfor %}
                                                                    </tbody>
                                                                </table>
                                                            </div>

                                                            <hr>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% else %}
    <div class="col-lg-12 col-sm-12 col-xs-12" style="padding-left: 15%; padding-right: 15%">
        <div class="widget flat radius-bordered">
        {% if maintenancemateriel.sTATUT != 'REALISE' %}
            <div class="widget-header bg-warning">
                {% else %}
                <div class="widget-header bg-green">
                {% endif %}
                 <span class="widget-caption">R&eacute;aliser la fiche de maintenance</span>
                 <div class="widget-buttons buttons-bordered">
                    <button class="btn btn-palegreen btn-sm" onclick="document.location.href='{{ path('imprimerfichemaintenance',{"id": maintenancemateriel.id}) }}'"><i class="fa fa-print"></i>IMPRIMER</button>
                </div>
                <div class="widget-buttons buttons-bordered">
                    <button class="btn btn-azure btn-sm" onclick="document.location.href='{{ path('ajoutfichemaintenancep') }}'">Nouvelle Fiche de maintenance</button>
                </div>
            </div>
            <div class="widget-body">
                <div class="messageflasherror" style="color: #cd0000">
                    {% for flashMessage in app.session.flashbag.get('notice') %}
                        <p style="color: red"> <i class="fa fa-exclamation-triangle" ></i>  {{ flashMessage
                            }}</p>
                    {% endfor %}
                </div>
                <div class="row">
                   <div class="form-horizontal">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <div class="form-group">
                                    <label for="" class="col-sm-4 control-label">DATE DE CREATION DE LA FICHE</label>
                                    <div class="col-sm-4">
                                        <input type="text" class="form-control" value="{{ maintenancemateriel.dATEMAINTENANCE|date('d-m-Y') }}" disabled/>
                                    </div>
                                </div>
                            {% for rs in materiel %}
                                <div class="form-group">
                                    <label for="" class="col-sm-4 control-label">MATERIEL</label>
                                    <div class="col-sm-4">
                                        <input type="text" class="form-control" value=" ({{ rs.cODE }}) {{ rs.lIBELLE }}" disabled/>
                                        <input type="hidden" id="idmateriel" class="form-control" value=" {{ rs.id }}" disabled/>

                                    </div>
                                </div>
                            {% endfor %}
                            <div class="form-group">
                                <label for="" class="col-sm-4 control-label">STATUT</label>
                                <div class="col-sm-4">
                                    {% if maintenancemateriel.sTATUT == 'REALISE' %}
                                        <input type="text" class="form-control" value="{{ maintenancemateriel.sTATUT }}" style="background: #219922; color: black" disabled/>
                                    {% endif %}
                                    {% if maintenancemateriel.sTATUT == 'DIFFUSE' %}
                                        <input type="text" class="form-control" value="{{ maintenancemateriel.sTATUT }}" style="background: #ffc000; color: black" disabled/>
                                    {% endif %}
                                    <input type="hidden" id="idmaintenance" class="form-control" value=" {{ maintenancemateriel.id }}" disabled/>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="" class="col-sm-4 control-label">COMPTEUR REEL</label>
                                <div class="col-sm-4">
                                    <input type="text" class="form-control" value="{{ maintenancemateriel.cOMPTEUR }}" id="compteurmodif"/>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="" class="col-sm-4 control-label">MAINTENANCE A VENIR</label>
                                <div class="col-sm-4">
                                    <input type="text" class="form-control" value="{{ maintenancemateriel.cPTPROCHAIN }}" id="maintenancepromodif" style="background: #CDDC39; color: black"/>
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="" class="col-sm-4 control-label">INTERVENANT(S)</label>
                                <div class="col-sm-4">
                                    <textarea  class="form-control" id="mecanicienmodif">{{ maintenancemateriel.nOMMECANICIEN }}</textarea>
                                    <p style="color: red">Ajoutez d'autres m&eacute;caniciens en les s&eacute;parant
                                    pas une virgule </p>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="" class="col-sm-4 control-label">DATE D' IMMOBILISATION</label>
                                <div class="col-sm-4">
                                    <input type="text" class="form-control" value="{{ maintenancemateriel
                                    .dATEENTREE|date('d-m-Y')
                                     }}"
                                    id="dateimmomodif" data-date-format="dd-mm-yyyy"/>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="" class="col-sm-4 control-label">TEMPS D'INTERVENTION</label>
                                <div class="col-sm-4">
                                    <input type="number" class="form-control" value="{{ maintenancemateriel.tEMPSREPARATION }}"
                                    id="temiterventmodif"/>
                                </div>
                            </div>
                            {% if maintenancemateriel.dATESORTIEE != null %}
                            <div class="form-group">
                                <label for="" class="col-sm-4 control-label">DATE DE SORTIE</label>
                                <div class="col-sm-4">
                                    <input type="text" class="form-control" value="{{ maintenancemateriel
                                    .dATESORTIEE|date('d-m-Y') }}" id="datesortie"/>
                                </div>
                            </div>
                            {% else %}
                             <div class="form-group">
                                <label for="" class="col-sm-4 control-label">DATE DE SORTIE</label>
                                <div class="col-sm-4">
                                    <input type="text" class="form-control" value="" id="datesortie" data-date-format="dd-mm-yyyy"/>
                                </div>
                            </div>
                                <div class="form-group">
                                    <label for="" class="col-sm-4 control-label">COMMENTAIRE</label>
                                    <div class="col-sm-4">
                                        <textarea class="form-control" rows="5" id="commentaire"
                                                  name="commentaire">{{ maintenancemateriel.cOMMENTAIRE }}</textarea>
                                    </div>
                                </div>
                            {% endif %}
                             <div class="form-title">
                                 Liste des interventions pr&eacute;vu &aacute; ce compteur
                             </div>
                             <div style="padding-left: 10%; padding-right: 10%" >
                               {# {% if interventionr|length == 0 %} #}
                                <table class="table table-bordered table-hover ">
                                    <thead class="bordered-darkorange">
                                    <tr role="row">
                                        <th style="width: 7%"></th>
                                        <th>Compteur</th>
                                        <th>Action</th>
                                        <th>Description</th>
                                    </tr>
                                    </thead>
                                    <tbody>
        {% for rs in interventionr %}
            <tr>
                <td>
                {% if maintenancemateriel.sTATUT != 'REALISE' %}
                    <div class="col-sm-offset-4">
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" id="checkmaintenance" name="checkmaintenance[]" class="checkmaintenance" value="{{ rs.interventionr }}"  checked>
                                <span class="text"></span>
                            </label>
                        </div>
                    </div>
                    {% else %}
                        <div class="col-sm-offset-4">
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox" id="checkmaintenance" name="checkmaintenance[]" class="checkmaintenance" value="{{ rs.interventionr }}"  checked disabled>
                                    <span class="text"></span>
                                </label>
                            </div>
                        </div>
                    {% endif %}
                </td>
                <td>{{ rs.cOMPTEUR }}</td>
                <td>{{ rs.aCTION }}</td>
                <td>{{ rs.dESCRIPTION }}</td>

            </tr>
        {% endfor %}
        </tbody>
                                </table>
                                 {% if maintenancemateriel.sTATUT != 'REALISE' %}
                                 <br>
                                 <p>AUTRES MAINTENANCE</p>
                                 <div class="form-group">
                                     <div class="col-sm-12">
                                         <textarea type="text" class="form-control"  id="autremaintenace" rows="8"> </textarea>
                                     </div>
                                 </div>

                                 {% endif %}
                                 </div>
                                 <br>
                                 <div class="form-title">
                                 {% if maintenancemateriel.sTATUT != 'REALISE' %}
                                     Modifier liste des articles d'intervention
                                {% elseif maintenancemateriel.sTATUT == 'REALISE' %}
                                      Liste des articles d'intervention
                                 {% endif %}
                                </div>
                                 <br>
                                 <div style="padding-left: 10%; padding-right: 10%" >

                                     {% if maintenancemateriel.sTATUT != 'REALISE' %}
                                         {{ form_start(form, {'attr': {'class': 'form-horizontal'}}) }}
                                             <div class="form-group">
                                                 <label for="" class="col-sm-4 control-label">CHOISIR UN ARTICLE</label>
                                                 <div class="col-sm-4">
                                                     <input type="hidden" id="selarticle"
                                                            style="width:100% "/>
                                                 </div>
                                             </div>
                                         <div class="form-group">
                                             <label for="" class="col-sm-4 control-label">QUANTITE</label>
                                             <div class="col-sm-4">
                                                 {{ form_widget(form.qUANTITE, {'attr': {'class': 'form-control'}}) }}
                                             </div>
                                         </div>

                                             <div align="right">
                                                 <div style="padding-right: 35%">
                                                     <input type="submit" class="btn btn-warning" value="Valider" onClick="this.disabled=true;this.form.submit();this.value='Patientez...'"/>
                                                 </div>
                                             </div>

                                         {{ form_rest(form) }}
                                         {{ form_end(form) }}
                                     {% endif %}
                                     <br>
                                     <table class="table table-bordered table-hover ">
                                             <thead class="bordered-darkorange">
                                             <tr role="row">
                                                 <th>Code Article</th>
                                                 <th>Designation article</th>
                                                 <th>Quantite</th>
                                                 <th>Action</th>
                                             </tr>
                                             </thead>
                                             <tbody>
                                             {% for rs in articlesmaintenancer %}
                                             <tr>
                                                 <td>{{ rs.rEFARTICLE }}</td>
                                                 <td>{{ rs.dESARTICLE }}</td>
                                                 <td>{{ rs.qUANTITE }}</td>
                                                         <td>
                                                 {% if maintenancemateriel.sTATUT != 'REALISE' %}
                                                             <a class="btn btn-danger" onclick="deletearticlemaintenance({{ rs.id }},{{ maintenancemateriel.id }})"><i class="fa fa-trash"></i></a>
                                                     {% endif %}
                                                         </td>

                                             </tr>
                                             {% endfor %}
                                             </tbody>
                                         </table>
                                 </div>

                             <hr>
                         </div>
                        {% if maintenancemateriel.sTATUT != 'REALISE' %}
                             <div align="right">
                                 <div style="padding-right: 10%">
                                     <input type="submit" class="btn btn-warning" value="Valider" id="realisemaintenancemodif"/>
                                 </div>
                             </div>
                            {% endif %}
                         </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="modal-danger" class="modal modal-message modal-danger fade" style="display: none;" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <i class="glyphicon glyphicon-fire"></i>
                    </div>
                    <div class="modal-title">Alert</div>

                    <div class="modal-body">
                        Veuillez renseigner tous les champs obligatoire !!
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-danger" data-dismiss="modal" id="bootbox-success">OK</button>
                    </div>
                </div> <!-- / .modal-content -->
            </div> <!-- / .modal-dialog -->
        </div>
    {% endif %}
{% endblock %}